---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5da46424b45fe652718f0012482a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9aa6e8560171f5e4ba8e83000df6277e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202303291907-621b84348b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_1cdf415ca1b011ed9e15ac1f6bc7b362","object":"Address","created_at":"2023-01-31T21:42:08+00:00","updated_at":"2023-01-31T21:42:08+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_1cdd44bea1b011ed9e14ac1f6bc7b362","object":"Address","created_at":"2023-01-31T21:42:08+00:00","updated_at":"2023-01-31T21:42:09+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_6d3fb924a1af11edbdf6ac1f6bc72124","object":"Address","created_at":"2023-01-31T21:37:14+00:00","updated_at":"2023-01-31T21:37:14+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id[...]
