---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652dcee0dc973e0006f200
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9c8aa4e98394b8865c13129cc9af9f7"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_bd84c660a41e400e8c11fd7dd326c890","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-17T19:41:03Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-17T19:41:03Z","active":true,"id":"ak_53381b84531f422d9c1ac9a4813789d1"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-17T19:41:03Z","active":true,"id":"ak_78088bcc6f0b4b9d9def4dcc0334276e"}]}'
  recorded_at: Wed, 17 May 2023 19:41:04 GMT
recorded_with: VCR 6.1.0
