---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7dad7e799e0fe005a01e1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_675bc1a2bcd94af68efe73b4edcfb614","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2024-07-29T18:09:28Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.01","insurance_fee_minimum":"0.50","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-07-29T18:09:28Z","active":true,"id":"ak_125b9c58b1c74d979d1784cd12af45e6"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-07-29T18:09:28Z","active":true,"id":"ak_91e5dd6f05244fe790868c3bf366a6a8"}]}'
  recorded_at: Mon, 29 Jul 2024 18:09:28 GMT
recorded_with: VCR 6.1.0
