---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 568737e96334b675f4c1503b000cf4c9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Wed, 28 Sep 2022 21:02:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D=<REDACTED>&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=<REDACTED>
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 195f59cb-ba01-4c03-9a83-2afcd4aa5d98
      Original-Request:
      - req_Cx2LMuZ5kYqw6c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"id":"tok_0Ln7P0DqT4huGUvdaPFRav4y","object":"token","card":{"id":"card_0Ln7P0DqT4huGUvduVURQF3S","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","last4":"6170","name":null,"tokenization_method":null},"client_ip":"<REDACTED>","created":1664398966,"livemode":true,"type":"card","used":false}'
  recorded_at: Wed, 28 Sep 2022 21:02:47 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"stripe_object_id":"tok_0Ln7P0DqT4huGUvdaPFRav4y","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c382d9456334b677f4f3b652000c3e53
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f5e15f367ed0860af5b403def7eecae"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"card_6934cd37fef74367892645832c926e05","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}'
  recorded_at: Wed, 28 Sep 2022 21:02:51 GMT
recorded_with: VCR 6.0.0
