---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29f1998c632362d5e787c4c600094d68
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33f0da94e6990afe0f4bb390af8f94d5"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209142327-76d51e2e7e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"id":"user_ee8f83a8ab6e43bdaafa6bc4a11ce5bf","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2022-09-15T17:37:25Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 15 Sep 2022 17:37:26 GMT
recorded_with: VCR 6.0.0
