---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a7ee787da4700073731
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"user_8e04ed5d45cd40c0bac28eb6cd86ede4","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2024-01-23T18:50:38Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-01-23T18:50:39Z","active":true,"id":"ak_2a979a7652f3412b87fc018194ea9aa5"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-01-23T18:50:39Z","active":true,"id":"ak_a5e347c2266f4341892c86a43aecd16d"}]}'
  recorded_at: Tue, 23 Jan 2024 18:50:39 GMT
recorded_with: VCR 6.2.0
