---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dad4e799e0e10059fe1e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Mon, 29 Jul 2024 18:09:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D=<REDACTED>&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=<REDACTED>
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 65b327b0-bfbf-459f-817f-ffa84327948b
      Original-Request:
      - req_fhfsXKCnj8KiUE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"id":"tok_0Phy0eDqT4huGUvdiiEaw9M5","object":"token","card":{"id":"card_0Phy0eDqT4huGUvdOrZiggU4","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","last4":"6170","name":null,"networks":{"preferred":null},"tokenization_method":null,"wallet":null},"client_ip":"<REDACTED>","created":1722276564,"livemode":true,"type":"card","used":false}'
  recorded_at: Mon, 29 Jul 2024 18:09:24 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"stripe_object_id":"tok_0Phy0eDqT4huGUvdiiEaw9M5","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7dad5e799e0e30059fefb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pm_0af17f09a34749ffbaee4e8bff99fc11","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa","requires_mandate_collection":false}'
  recorded_at: Mon, 29 Jul 2024 18:09:27 GMT
recorded_with: VCR 6.1.0
