---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 29f1998c632362d6e787c4de00094dcc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"279cdeec93979855fbae0e836593122e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202209142327-76d51e2e7e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"has_more":true,"referral_customers":[{"id":"user_634b6daa05744bfaa205058f06864363","object":"User","parent_id":null,"name":"Firstname
        Lastname","phone_number":"8888888888","verified":true,"created_at":"2022-04-26T15:50:28Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"email@example.com","children":[]},{"id":"user_35cb81fb8af1454dabf1f6afa7330634","object":"User","parent_id":null,"name":"Firstname
        Lastname","phone_number":"8888888888","verified":true,"created_at":"2022-04-27T20:20:52Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":"100.00","secondary_recharge_amount":"100.00","recharge_threshold":"0.00","has_billing_method":true,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"email[...]
- request:
    method: put
    uri: https://api.easypost.com/v2/referral_customers/user_634b6daa05744bfaa205058f06864363
    body:
      encoding: UTF-8
      string: '{"user":{"email":"email2@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 29f1998d632362d7e787c4df00094de2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b30d603e3257aee787616dc99d6d4af"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202209142327-76d51e2e7e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"message":"Referral Customer email updated successfully"}'
  recorded_at: Thu, 15 Sep 2022 17:37:27 GMT
recorded_with: VCR 6.0.0
