---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"payment_log_id":"paylog_123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 69f1130664650213e0db763a00155fdc
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","message":"We could not
        find a transaction with that id.","errors":[]}}'
  recorded_at: Wed, 17 May 2023 16:34:27 GMT
recorded_with: VCR 6.1.0
