---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c6de787381f0048b124
      Location:
      - "/api/v2/shipments/shp_e5dae3b82f2148a78308600ebf9ad5af"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b5b3cccc80c464edbe6deb23b203c5c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:06:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430331","updated_at":"2023-05-16T23:06:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_45da5898f43e11ed9964ac1f6bc72124","object":"Address","created_at":"2023-05-16T23:06:21+00:00","updated_at":"2023-05-16T23:06:21+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_60d3ef6a2e54417f9261d661d306605f","object":"Parcel","created_at":"2023-05-16T23:06:21Z","updated_at":"2023-05-16T23:06:21Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4f3e00c716fd45f4bd7bd0656813ba6d","created_at":"2023-05-16T23:06:22Z","updated_at":"2023-05-16T23:06:22Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:06:22Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/c6bbce6aec204fb4a60a3b499c28aa8c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_3fa186ad991b480392be59ba570ecd9a","object":"Rate","created_at":"2023-05-16T23:06:21Z","updated_at":"2023-05-16T23:06:21Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e5dae3b82f2148a78308600ebf9ad5af","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ae0afe299d6e4313b11ab7b595cf6d48","object":"Rate","created_at":"2023-05-16T23:06:21Z","updated_at":"2023-05-16T23:06:21Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_e5dae3b82f2148a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_e5dae3b82f2148a78308600ebf9ad5af"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c6ee78738200048b20c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09a21397a8d84f262e4b3e6cc72be25c"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_1d7e5205d02245779517add19b8a8018","object":"Pickup","created_at":"2023-05-16T23:06:23Z","updated_at":"2023-05-16T23:06:23Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_46b019f5f43e11ed85a8ac1f6bc53342","object":"Address","created_at":"2023-05-16T23:06:22+00:00","updated_at":"2023-05-16T23:06:22+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:06:23Z","updated_at":"2023-05-16T23:06:23Z","carrier":"USPS","pickup_id":"pickup_1d7e5205d02245779517add19b8a8018","id":"pickuprate_58423cd5048a45a39ac6ad861a86cc80","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:06:24 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_1d7e5205d02245779517add19b8a8018/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e364640c70e78738210048b2d7
      Content-Type:
      - application/json; charset=utf-8
      E[...]
