---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb52625474c2e786b3fb00232c44'
      Location:
      - "/api/v2/shipments/shp_ba4dd2362746421fa08fdd684d462e0b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70c5df7660c966c5ed8df3e08bc46de3"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-11T18:34:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114522106","updated_at":"2022-04-11T18:34:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0dbd44c3b9c611ec8256ac1f6bc7b362","object":"Address","created_at":"2022-04-11T18:34:42+00:00","updated_at":"2022-04-11T18:34:42+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_38365319ab524dc4b28dedcbed36fe1a","object":"Parcel","created_at":"2022-04-11T18:34:42Z","updated_at":"2022-04-11T18:34:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ba63f124ccbd4a8a96d2743362c9c823","created_at":"2022-04-11T18:34:43Z","updated_at":"2022-04-11T18:34:43Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T18:34:43Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/54581279a142444b9eb598f998064bf1.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_16f77c6decc04cc69be1e354d35a5fda","object":"Rate","created_at":"2022-04-11T18:34:42Z","updated_at":"2022-04-11T18:34:42Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_ba4dd2362746421fa08fdd684d462e0b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2bbcaedfeb4f42e785cd5a9db02d5af0","object":"Rate","created_at":"2022-04-11T18:34:42Z","updated_at":"2022-04-11T18:34:42Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ba4dd2362746421fa08fdd684d462e0b","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-04-12","max_datetime":"2022-04-12","instructions":"Pickup
        at front door","shipment":{"id":"shp_ba4dd2362746421fa08fdd684d462e0b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb55625474c3e786b3fc00232ce3'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6555a3dfb2b69827eb36e9bf1b3c6db"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_80b72d338fb24b9faa382ffabb645033","object":"Pickup","created_at":"2022-04-11T18:34:43Z","updated_at":"2022-04-11T18:34:43Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-12T00:00:00Z","max_datetime":"2022-04-12T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0e63d529b9c611ec8295ac1f6bc7b362","object":"Address","created_at":"2022-04-11T18:34:43+00:00","updated_at":"2022-04-11T18:34:43+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T18:34:44Z","updated_at":"2022-04-11T18:34:44Z","carrier":"USPS","pickup_id":"pickup_80b72d338fb24b9faa382ffabb645033","id":"pickuprate_cd1043d803d5450484ba46102f168f2b","object":"PickupRate"}]}'
  recorded_at: Mon, 11 Apr 2022 18:34:44 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_80b72d338fb24b9faa382ffabb645033
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb57625474c4e786b3fd00232d62'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6555a3dfb2b69827[...]
