---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52628e786c8db0027fb9e
      Location:
      - "/api/v2/shipments/shp_484cce05f0a344c98836b122f0db9667"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c2e565523379d5469624f35327ad5995"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:16Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685937","updated_at":"2022-08-11T15:54:17Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_da691d67198d11edb38aac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:16+00:00","updated_at":"2022-08-11T15:54:16+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ec7c0895cdf74ad78579ff3045162618","object":"Parcel","created_at":"2022-08-11T15:54:16Z","updated_at":"2022-08-11T15:54:16Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_eca827c6a26b42fab347e4445ef655fe","created_at":"2022-08-11T15:54:16Z","updated_at":"2022-08-11T15:54:17Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:16Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/22af0b8505d94f9fb288f2b41c895d15.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_dedc871587804d228dd35db01c690770","object":"Rate","created_at":"2022-08-11T15:54:16Z","updated_at":"2022-08-11T15:54:16Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_484cce05f0a344c98836b122f0db9667","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f8266b89293d402ca4f14bc472983bb7","object":"Rate","created_at":"2022-08-11T15:54:16Z","updated_at":"2022-08-11T15:54:16Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_484cce05f0a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-13","max_datetime":"2022-08-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_484cce05f0a344c98836b122f0db9667"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f52629e786c8dc0027fc0c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5282415d7db704891191639ce790cac"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_eaa71fddd7f743ce89ac46359d2a2595","object":"Pickup","created_at":"2022-08-11T15:54:17Z","updated_at":"2022-08-11T15:54:17Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-13T00:00:00Z","max_datetime":"2022-08-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_db3002af198d11edb44eac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:17+00:00","updated_at":"2022-08-11T15:54:17+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-11T15:54:19Z","updated_at":"2022-08-11T15:54:19Z","carrier":"USPS","pickup_id":"pickup_eaa71fddd7f743ce89ac46359d2a2595","id":"pickuprate_04c989f18e8e45e599ec2c7d22e292bb","object":"PickupRate"}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:19 GMT
recorded_with: VCR 6.0.0
