---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][company]=Airport%20Shipping&shipment[from_address][street1]=601%20Brasilia%20Avenue&shipment[from_address][city]=Kansas%20City&shipment[from_address][state]=MO&shipment[from_address][zip]=64153&shipment[from_address][phone]=314-924-0383&shipment[from_address][email]=kansas_shipping%40example.com&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d2411b7c5eb9f3adfb44384e0000631c
      Location:
      - "/api/v2/shipments/shp_e251bfd9dfc6470a99f7b0657e16181a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T00:54:05Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T00:54:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b765971dec4244d9bf4fcbd6217c7928","object":"Address","created_at":"2020-05-12T00:54:05Z","updated_at":"2020-05-12T00:54:05Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4a42548278c44338a521c9518e98adcc","object":"Parcel","created_at":"2020-05-12T00:54:05Z","updated_at":"2020-05-12T00:54:05Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2f882a42782b42cbb78c6fb693f9a1c1","object":"Rate","created_at":"2020-05-12T00:54:06Z","updated_at":"2020-05-12T00:54:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e251bfd9dfc6470a99f7b0657e16181a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c2c25489c8d04f7c86f8dfc0a9beb6bb","object":"Rate","created_at":"2020-05-12T00:54:06Z","updated_at":"2020-05-12T00:54:06Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e251bfd9dfc6470a99f7b0657e16181a","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_e251bfd9dfc6470a99f7b0657e16181a/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_fd0923e7b3f844efaef0a0540c0ddf10
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0059c8425eb9f3aefb0ddcff0001d385'
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: pickup[address][company]=Airport%20Shipping&pickup[address][street1]=601%20Brasilia%20Avenue&pickup[address][city]=Kansas%20City&pickup[address][state]=MO&pickup[address][zip]=64153&pickup[address][phone]=314-924-0383&pickup[address][email]=kansas_shipping%40example.com&pickup[reference]=12345678&pickup[min_datetime]=2020-05-13T12%3A00%3A00%2B00%3A00&pickup[max_datetime]=2020-05-13T12%3A00%3A00%2B00%3A00&pickup[is_account_address]=false&pickup[instructions]=At%20the%20front%20door.&pickup[shipment][id]=shp_e251bfd9dfc6470a99f7b0657e16181a
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 87a3a75a5eb9f3b0fb417e8600000968
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_b94f17c9020f4fd19f84f1308a20cd97","object":"Pickup","created_at":"2020-05-12T00:54:08Z","updated_at":"2020-05-12T00:54:08Z","mode":"test","status":"unknown","reference":"12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_66364ed1277c407285f9744dd7662ae1","object":"Address","created_at":"2020-05-12T00:54:08Z","updated_at":"2020-05-12T00:54:08Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T00:54:09Z","updated_at":"2020-05-12T00:54:09Z","carrier":"UPS","pickup_id":"pickup_b94f17c9020f4fd19f84f1308a20cd97","id":"pickuprate_c6e618f251674a529c9bdc3ac4479f5f","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 00:54:09 GMT
recorded_with: VCR 5.1.0
