---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40bfe7873bd800311741
      Location:
      - "/api/v2/shipments/shp_f8001a5b0b8144acaf2b6fd8eb3b4e2b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d88e749059cf12280eb684206533a99"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873815","updated_at":"2022-05-12T17:15:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_278b2a6bd21711ec9320ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:43+00:00","updated_at":"2022-05-12T17:15:43+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_27f937d266284bb9bf00d5c50edfc8d0","object":"Parcel","created_at":"2022-05-12T17:15:43Z","updated_at":"2022-05-12T17:15:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_cfd9ab6ff7e14195874c47ba3f295859","created_at":"2022-05-12T17:15:43Z","updated_at":"2022-05-12T17:15:43Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:43Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/97acfa1f05d74473ae4c4e004fe2c384.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_83be767be135485bae4fafdecf0f5f0f","object":"Rate","created_at":"2022-05-12T17:15:43Z","updated_at":"2022-05-12T17:15:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f8001a5b0b8144acaf2b6fd8eb3b4e2b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d393550053ba4660ae771866d795ad11","object":"Rate","created_at":"2022-05-12T17:15:43Z","updated_at":"2022-05-12T17:15:43Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f8001a5b0b8144a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-13","max_datetime":"2022-05-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_f8001a5b0b8144acaf2b6fd8eb3b4e2b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40c0e7873bd9003117ad
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d302ebb57609156884b9d4d4dc5840b"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_4815ba16d9424536aeaf80364a4b7161","object":"Pickup","created_at":"2022-05-12T17:15:44Z","updated_at":"2022-05-12T17:15:44Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_28422043d21711eca899ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:44+00:00","updated_at":"2022-05-12T17:15:44+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:45Z","updated_at":"2022-05-12T17:15:45Z","carrier":"USPS","pickup_id":"pickup_4815ba16d9424536aeaf80364a4b7161","id":"pickuprate_4f4deefaeb154606aef492a3136fbd8c","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_4815ba16d9424536aeaf80364a4b7161/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40c1e7873bda00311804
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_4815ba16d9424536aeaf80364a4b7161/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40c2e7873bdb00311890
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d172130425ab8df18[...]
