---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f5262ee786c9040027fd9e
      Location:
      - "/api/v2/shipments/shp_955e314edca1472b97a1bd808c5c46b2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22dc1b19bc50e1e6ac19c9fff611d2e3"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685968","updated_at":"2022-08-11T15:54:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_de2cd3fc198d11ed83b5ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:22+00:00","updated_at":"2022-08-11T15:54:22+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4102a219f5dd45cda770d3f76a84389e","object":"Parcel","created_at":"2022-08-11T15:54:22Z","updated_at":"2022-08-11T15:54:22Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_313507b296a54c028feb146ac72f14f0","created_at":"2022-08-11T15:54:23Z","updated_at":"2022-08-11T15:54:23Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:23Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/05261e0927984ba3ae006f7b460cf7b0.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_22d20f2d68ed4f249c4d3b43b6368500","object":"Rate","created_at":"2022-08-11T15:54:22Z","updated_at":"2022-08-11T15:54:22Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_955e314edca1472b97a1bd808c5c46b2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_8b46ea6ce4894f52bfef07f119afa837","object":"Rate","created_at":"2022-08-11T15:54:22Z","updated_at":"2022-08-11T15:54:22Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_955e314edca1472b97a1bd[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-13","max_datetime":"2022-08-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_955e314edca1472b97a1bd808c5c46b2"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5262fe786c9050027fdef
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3dc98057ba0b99ecd81b0e3914122f12"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_66796ca2a032441eb45ad32ae97c2b26","object":"Pickup","created_at":"2022-08-11T15:54:23Z","updated_at":"2022-08-11T15:54:23Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-13T00:00:00Z","max_datetime":"2022-08-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_ded98a9b198d11ed82beac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:23+00:00","updated_at":"2022-08-11T15:54:23+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-11T15:54:24Z","updated_at":"2022-08-11T15:54:24Z","carrier":"USPS","pickup_id":"pickup_66796ca2a032441eb45ad32ae97c2b26","id":"pickuprate_6fa36e2304824b959c647b1ba6ace430","object":"PickupRate"}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:24 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_66796ca2a032441eb45ad32ae97c2b26/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52630e786c91d0027fe2f
      Content-Type:
      - application/json; charset=utf-8
      E[...]
