---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e996460630ee0dbff24001aa58c
      Location:
      - "/api/v2/shipments/shp_1a3cd523134848ba84a1ab16b2dae34c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39469cca43d8f8a3cc757e8b38bfe787"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514233","updated_at":"2023-05-14T04:26:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8ec4b8f2f20f11ed98353cecef1b359e","object":"Address","created_at":"2023-05-14T04:26:55+00:00","updated_at":"2023-05-14T04:26:55+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b90905731ec845cab79720ea4cb643a1","object":"Parcel","created_at":"2023-05-14T04:26:55Z","updated_at":"2023-05-14T04:26:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b280550830c04e949b8eed5a070813b6","created_at":"2023-05-14T04:26:55Z","updated_at":"2023-05-14T04:26:56Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:26:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/9bdb5135621b427d8d0ade0b708b1737.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c83a9964b156439385289762cfe2dac4","object":"Rate","created_at":"2023-05-14T04:26:55Z","updated_at":"2023-05-14T04:26:55Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_1a3cd523134848ba84a1ab16b2dae34c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_12085b997e474b4cb563fcc1b890bfb3","object":"Rate","created_at":"2023-05-14T04:26:55Z","updated_at":"2023-05-14T04:26:55Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_1a3cd523134848b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_1a3cd523134848ba84a1ab16b2dae34c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9a64606310e0dbff25001aa5d5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62722dd92f258d650df32fd5cb1b8991"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_24b550c7a6024e139cdfcea8ace8bbd0","object":"Pickup","created_at":"2023-05-14T04:26:56Z","updated_at":"2023-05-14T04:26:56Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_8f924a24f20f11ed9b423cecef1b359e","object":"Address","created_at":"2023-05-14T04:26:56+00:00","updated_at":"2023-05-14T04:26:56+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:57Z","updated_at":"2023-05-14T04:26:57Z","carrier":"USPS","pickup_id":"pickup_24b550c7a6024e139cdfcea8ace8bbd0","id":"pickuprate_31ad76e76c1445a0a2d1d09c3c9d276c","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:26:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_24b550c7a6024e139cdfcea8ace8bbd0/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9a64606311e0dbff26001aa600
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_24b550c7a6024e139cdfcea8ace8bbd0/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9964606312e0dbff27001aa633
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0867a43bdbc596a99[...]
