---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9b64606304e0dbfee7001aa3a9
      Location:
      - "/api/v2/shipments/shp_22d6863fa3574f8681a4dadbd82ca7e5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b05fa1720554e7b32a59aacb77df4cec"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514172","updated_at":"2023-05-14T04:26:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8836d280f20f11ed801b3cecef1b359e","object":"Address","created_at":"2023-05-14T04:26:44+00:00","updated_at":"2023-05-14T04:26:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cd9f02bc57f644ec94cdc1fdacd4665d","object":"Parcel","created_at":"2023-05-14T04:26:44Z","updated_at":"2023-05-14T04:26:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8fc29da6b32a419290ecb93cf4a53d34","created_at":"2023-05-14T04:26:44Z","updated_at":"2023-05-14T04:26:45Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:26:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/89e4802ec6d44a5aad57dc1d181de13a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ecf1592154ed408bbb04817e1667a651","object":"Rate","created_at":"2023-05-14T04:26:44Z","updated_at":"2023-05-14T04:26:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_22d6863fa3574f8681a4dadbd82ca7e5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_10ae1b08950e49eca4963e8703fa5c82","object":"Rate","created_at":"2023-05-14T04:26:44Z","updated_at":"2023-05-14T04:26:44Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_22d6863fa3574f8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_22d6863fa3574f8681a4dadbd82ca7e5"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9664606305e0dbfeff001aa3ed
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d576c6b1fc0910403fbf0ad4788a806"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_a5bb7948bfb0439caa356acfd4473638","object":"Pickup","created_at":"2023-05-14T04:26:45Z","updated_at":"2023-05-14T04:26:45Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_891d0d0df20f11edb2fcac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:26:45+00:00","updated_at":"2023-05-14T04:26:45+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:46Z","updated_at":"2023-05-14T04:26:46Z","carrier":"USPS","pickup_id":"pickup_a5bb7948bfb0439caa356acfd4473638","id":"pickuprate_06cf4e2619744767b2d22a40c022b9ce","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:26:46 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_a5bb7948bfb0439caa356acfd4473638
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9a64606306e0dbff00001aa422
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d576c6b1fc0910403fbf0ad[...]
