---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f7a626c3257e786bcc300469836
      Location:
      - "/api/v2/shipments/shp_54788167f5ff4560b7a96a04e912a59c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b728d1deecd182ed317d7b4635fa1199"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T18:45:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117183342","updated_at":"2022-04-29T18:45:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_932941dac7ec11eca530ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:43+00:00","updated_at":"2022-04-29T18:45:43+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b517c11a438b40aab6342e65f1c0bb2d","object":"Parcel","created_at":"2022-04-29T18:45:43Z","updated_at":"2022-04-29T18:45:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f51a90ef79b94f899b97802162df8a83","created_at":"2022-04-29T18:45:44Z","updated_at":"2022-04-29T18:45:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-29T18:45:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220429/62c4dd4ff7ba40f3a11e8efabf23f6c7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b8fdfd4ce31b4fb5976bc10ac8d7e5e7","object":"Rate","created_at":"2022-04-29T18:45:43Z","updated_at":"2022-04-29T18:45:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_54788167f5ff4560b7a96a04e912a59c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fa173b95ec4f4aedbebd3611a1bc877f","object":"Rate","created_at":"2022-04-29T18:45:43Z","updated_at":"2022-04-29T18:45:43Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_54788167f5ff4560b7a96a04e912a59c","carrie[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-01","max_datetime":"2022-05-01","instructions":"Pickup
        at front door","shipment":{"id":"shp_54788167f5ff4560b7a96a04e912a59c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f73626c3258e786bcc4004698a7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee53ab258471cd4b09ec7de9e7775773"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_628db967077847b9acd065e9d0bdff53","object":"Pickup","created_at":"2022-04-29T18:45:44Z","updated_at":"2022-04-29T18:45:44Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_93ceacbec7ec11ec8898ac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:45:44+00:00","updated_at":"2022-04-29T18:45:44+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:45:46Z","updated_at":"2022-04-29T18:45:46Z","carrier":"USPS","pickup_id":"pickup_628db967077847b9acd065e9d0bdff53","id":"pickuprate_1b6ae4e3e0eb4d53be70f2b825530237","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:45:46 GMT
recorded_with: VCR 6.0.0
