---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e264640c77e787383d0048b639
      Location:
      - "/api/v2/shipments/shp_11033e065c85473e975f6181ab36ad3c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5442a76547a57cf8000faa965882ebb1"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:06:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430355","updated_at":"2023-05-16T23:06:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4bd9b801f43e11edb4b7ac1f6bc539aa","object":"Address","created_at":"2023-05-16T23:06:31+00:00","updated_at":"2023-05-16T23:06:31+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d8d9fa772df545f4b7cc0e43db9ad201","object":"Parcel","created_at":"2023-05-16T23:06:31Z","updated_at":"2023-05-16T23:06:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_48032f496a3f4ad78a30bc93d58fd91a","created_at":"2023-05-16T23:06:32Z","updated_at":"2023-05-16T23:06:32Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:06:32Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/0bc11030b6e041efbc3fba168e1fd31b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_59cd84df66c6482cab0dde8f6cf9667b","object":"Rate","created_at":"2023-05-16T23:06:31Z","updated_at":"2023-05-16T23:06:31Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_11033e065c85473e975f6181ab36ad3c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1efb83dbf5c34edfadca81dbcb9dce23","object":"Rate","created_at":"2023-05-16T23:06:31Z","updated_at":"2023-05-16T23:06:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_11033e065c8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_11033e065c85473e975f6181ab36ad3c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c79e787383e0048b73c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be353a68e910d770afcfe674b79dd46b"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_1f7672ad794c4c9694dc072b75253897","object":"Pickup","created_at":"2023-05-16T23:06:33Z","updated_at":"2023-05-16T23:06:33Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4d1aae92f43e11edb6d8ac1f6bc539aa","object":"Address","created_at":"2023-05-16T23:06:33+00:00","updated_at":"2023-05-16T23:06:33+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:06:34Z","updated_at":"2023-05-16T23:06:34Z","carrier":"USPS","pickup_id":"pickup_1f7672ad794c4c9694dc072b75253897","id":"pickuprate_a4ea992091884c7c8455ed38c96a8a3b","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:06:34 GMT
recorded_with: VCR 6.1.0
