---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9a64606307e0dbff02001aa43c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5079ea70472a1c964ecdd2eb2925abd6"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_a5bb7948bfb0439caa356acfd4473638","object":"Pickup","created_at":"2023-05-14T04:26:45Z","updated_at":"2023-05-14T04:26:45Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_891d0d0df20f11edb2fcac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:26:45+00:00","updated_at":"2023-05-14T04:26:45+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:46Z","updated_at":"2023-05-14T04:26:46Z","carrier":"USPS","pickup_id":"pickup_a5bb7948bfb0439caa356acfd4473638","id":"pickuprate_06cf4e2619744767b2d22a40c022b9ce","object":"PickupRate"}]},{"id":"pickup_9af37a249f2e4a2d918c832236f098ac","object":"Pickup","created_at":"2023-05-14T04:26:43Z","updated_at":"2023-05-14T04:26:43Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"before_id":"pickup_a524b886fe7f47dba0b404caeec92989"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9564606307e0dbff03001aa44b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"994cf5919f37f2a227acd631964a336d"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      [...]
