---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba51e7897ea900087190
      Location:
      - "/api/v2/shipments/shp_42a45051f6fd4c24855fabf4d8190d5c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc5e6fae983c5861e71620e7db6bfde6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422754","updated_at":"2022-08-09T19:49:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_662e762f181c11ed85f9ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:37+00:00","updated_at":"2022-08-09T19:49:37+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5c08c4d0021b434fb44e8ad7398109d5","object":"Parcel","created_at":"2022-08-09T19:49:37Z","updated_at":"2022-08-09T19:49:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_26bc21d706b34c8b88074bc09959137b","created_at":"2022-08-09T19:49:37Z","updated_at":"2022-08-09T19:49:37Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/3abd5336e70a4b78a32b7f42ed8d58e4.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_cc6ba56f4d1e42209ea83c311f88cbaf","object":"Rate","created_at":"2022-08-09T19:49:37Z","updated_at":"2022-08-09T19:49:37Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_42a45051f6fd4c24855fabf4d8190d5c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_38f28e54ec3745948bdcc75725b54c37","object":"Rate","created_at":"2022-08-09T19:49:37Z","updated_at":"2022-08-09T19:49:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_42a45051f6f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-11","max_datetime":"2022-08-11","instructions":"Pickup
        at front door","shipment":{"id":"shp_42a45051f6fd4c24855fabf4d8190d5c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba52e7897eaa000871f7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb05e2b8c5d9a8f7c5e5441fa4ddac7f"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_82755bf81af44ecbbb1a5953dd79e385","object":"Pickup","created_at":"2022-08-09T19:49:38Z","updated_at":"2022-08-09T19:49:38Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-11T00:00:00Z","max_datetime":"2022-08-11T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_66d57452181c11ed8643ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:38+00:00","updated_at":"2022-08-09T19:49:38+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-09T19:49:38Z","updated_at":"2022-08-09T19:49:38Z","carrier":"USPS","pickup_id":"pickup_82755bf81af44ecbbb1a5953dd79e385","id":"pickuprate_9f609fa916ed48d5b726f73e83c3a476","object":"PickupRate"}]}'
  recorded_at: Tue, 09 Aug 2022 19:49:38 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_82755bf81af44ecbbb1a5953dd79e385/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba52e7897ec200087239
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_82755bf81af44ecbbb1a5953dd79e385/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba54e7897ec300087283
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b528de5b96b60b62[...]
