---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7962e2e491ec87c5810037f105
      Location:
      - "/api/v2/shipments/shp_0da8012a76454491bbe136493c4d7187"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"881d8f661a8b7cc8082d6b9f4f885790"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478883","updated_at":"2022-07-28T19:33:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2d8844dc0eac11ed925dac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:37+00:00","updated_at":"2022-07-28T19:33:37+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_143c0527b88e40a08874f7f09d94c2a2","object":"Parcel","created_at":"2022-07-28T19:33:37Z","updated_at":"2022-07-28T19:33:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_eee2765e5ec74f39bb3840105173be13","created_at":"2022-07-28T19:33:38Z","updated_at":"2022-07-28T19:33:38Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:38Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/9589986553cb476796ca22e28892a3f0.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_5aed95e8804948c7ab384e5d1c507216","object":"Rate","created_at":"2022-07-28T19:33:38Z","updated_at":"2022-07-28T19:33:38Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_0da8012a76454491bbe136493c4d7187","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b81e2595ad0e4a4f93edbbedf76add16","object":"Rate","created_at":"2022-07-28T19:33:38Z","updated_at":"2022-07-28T19:33:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0da8012a7645449[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-07-29","max_datetime":"2022-07-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_0da8012a76454491bbe136493c4d7187"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7862e2e493ec3d32360037f180
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3d64cb987f432b557fb3876447ed476"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_9a4fd47518e24959bb26779d0b1b0471","object":"Pickup","created_at":"2022-07-28T19:33:39Z","updated_at":"2022-07-28T19:33:39Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_2e4f03c40eac11ed93f4ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:39+00:00","updated_at":"2022-07-28T19:33:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:39Z","updated_at":"2022-07-28T19:33:39Z","carrier":"USPS","pickup_id":"pickup_9a4fd47518e24959bb26779d0b1b0471","id":"pickuprate_a8bc4391d5264613b5cd35a7d27eccb0","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:39 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_9a4fd47518e24959bb26779d0b1b0471/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7962e2e494ec4c7fee0037f1c8
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_9a4fd47518e24959bb26779d0b1b0471/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e495ec3e57bd0037f239
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"076647bd6d2136cb0b250fc4fb8cf47f"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_9a4fd47518e24959bb26779d0b1b0471","object":"Pickup","created_at":"2022-07-28T19:33:39Z","updated_at":"2022-07-28T19:33:42Z","mode":"test","status":"canceled","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC61989074","address":{"id":"adr_2e4f03c40eac11ed93f4ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:39+00:00","updated_at":"2022-07-28T19:33:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:39Z","updated_at":"2022-07-28T19:33:39Z","carrier":"USPS","pickup_id":"pickup_9a4fd47518e24959bb26779d0b1b0471","id":"pickuprate_a8bc4391d5264613b5cd35a7d27eccb0","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:42 GMT
recorded_with: VCR 6.0.0
