---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba47e7897ea100086ea3
      Location:
      - "/api/v2/shipments/shp_8fb56d420aa44a6293e8c1c8d557f43b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a93501e00655b29b7f934ab2d850a254"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422723","updated_at":"2022-08-09T19:49:29Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_60c7ddd4181c11edb0f2ac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:28+00:00","updated_at":"2022-08-09T19:49:28+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_07a6b852a67c47eabba639728b174734","object":"Parcel","created_at":"2022-08-09T19:49:28Z","updated_at":"2022-08-09T19:49:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9e7e9f6d8f1d4751b24f971173254408","created_at":"2022-08-09T19:49:28Z","updated_at":"2022-08-09T19:49:28Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:28Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/9c26ba6dd562439b8c00d558cc109b4f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_74830b5e36e84685bc8244b301b20ae3","object":"Rate","created_at":"2022-08-09T19:49:28Z","updated_at":"2022-08-09T19:49:28Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8fb56d420aa44a6293e8c1c8d557f43b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d8ec6b61cc9c414cb72446ad03ce46db","object":"Rate","created_at":"2022-08-09T19:49:28Z","updated_at":"2022-08-09T19:49:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8fb56d420aa[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-11","max_datetime":"2022-08-11","instructions":"Pickup
        at front door","shipment":{"id":"shp_8fb56d420aa44a6293e8c1c8d557f43b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba49e7897ea200086f07
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3284a3b50b75d60ccc8182907fd4c349"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_93d583557a0943a6aaed50c22c80d21b","object":"Pickup","created_at":"2022-08-09T19:49:29Z","updated_at":"2022-08-09T19:49:29Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-11T00:00:00Z","max_datetime":"2022-08-11T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_6193ac1d181c11ed848bac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:29+00:00","updated_at":"2022-08-09T19:49:29+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-09T19:49:30Z","updated_at":"2022-08-09T19:49:30Z","carrier":"USPS","pickup_id":"pickup_93d583557a0943a6aaed50c22c80d21b","id":"pickuprate_555714323a6a472abb4c64d6fdb36986","object":"PickupRate"}]}'
  recorded_at: Tue, 09 Aug 2022 19:49:30 GMT
recorded_with: VCR 6.0.0
