---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e966460630be0dbff07001aa4f0
      Location:
      - "/api/v2/shipments/shp_5b39dfb227374e4b9f96ce19925b4bfa"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8bfa2be8d5d82294e21d3d831dfec5a"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514219","updated_at":"2023-05-14T04:26:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8cbd450ff20f11edb910ac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:26:51+00:00","updated_at":"2023-05-14T04:26:51+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_acd0d24aa9ca465483ee84558396bc0e","object":"Parcel","created_at":"2023-05-14T04:26:51Z","updated_at":"2023-05-14T04:26:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7c36c0bb0c7b41e0ac2aa42dbffff67f","created_at":"2023-05-14T04:26:52Z","updated_at":"2023-05-14T04:26:52Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:26:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/b70f2a910f9040e39a3eae5ec9aab771.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_5b2d8d19098d4b4da8373133b2f3f142","object":"Rate","created_at":"2023-05-14T04:26:51Z","updated_at":"2023-05-14T04:26:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5b39dfb227374e4b9f96ce19925b4bfa","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7f34a44f977540e2982c0ec68bb686b1","object":"Rate","created_at":"2023-05-14T04:26:51Z","updated_at":"2023-05-14T04:26:51Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_5b39dfb227374e4b9f96ce[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_5b39dfb227374e4b9f96ce19925b4bfa"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c6460630de0dbff22001aa535
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69eefc6a45c46df132363a2d3d7afda8"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_a100a620d2ef4146b3f6cb769095a018","object":"Pickup","created_at":"2023-05-14T04:26:53Z","updated_at":"2023-05-14T04:26:53Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_8d8f7b01f20f11eda5efac1f6bc72124","object":"Address","created_at":"2023-05-14T04:26:53+00:00","updated_at":"2023-05-14T04:26:53+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:53Z","updated_at":"2023-05-14T04:26:53Z","carrier":"USPS","pickup_id":"pickup_a100a620d2ef4146b3f6cb769095a018","id":"pickuprate_83975eeb59004d3e87492c98c16b5f1f","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:26:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a100a620d2ef4146b3f6cb769095a018/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c6460630de0dbff23001aa564
      Content-Type:
      - application/json; charset=utf-8
      E[...]
