---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b55645eaab3e787de08000da2ce
      Location:
      - "/api/v2/shipments/shp_cdb91f6bacef437eab6a0a11aea7597c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f417b3bce472d79a62a936d6a40ce7c"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:08:04Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141491","updated_at":"2023-05-12T21:08:04Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_15bec12ef10911ed9880ac1f6bc7b362","object":"Address","created_at":"2023-05-12T21:08:04+00:00","updated_at":"2023-05-12T21:08:04+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_25f169464db2465f97a265817c37e27f","object":"Parcel","created_at":"2023-05-12T21:08:04Z","updated_at":"2023-05-12T21:08:04Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_73e60104cb70444abd92b16c7ad72c6d","created_at":"2023-05-12T21:08:04Z","updated_at":"2023-05-12T21:08:04Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:08:04Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/0a42ef636b1445abb3baa8d63d7ce51b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d9483ecd31844820b611d6d9f3b345f5","object":"Rate","created_at":"2023-05-12T21:08:04Z","updated_at":"2023-05-12T21:08:04Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cdb91f6bacef437eab6a0a11aea7597c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7c9e2183969a4d4c80af57d18bb9b443","object":"Rate","created_at":"2023-05-12T21:08:04Z","updated_at":"2023-05-12T21:08:04Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_cdb91f6bacef437eab6a0a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_cdb91f6bacef437eab6a0a11aea7597c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b52645eaab5e787de09000da372
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79ca243ca85a35b021172775c36942c1"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_c2a9262948eb484baafdfa99100ec960","object":"Pickup","created_at":"2023-05-12T21:08:05Z","updated_at":"2023-05-12T21:08:05Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_168fde38f10911ed94efac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:08:05+00:00","updated_at":"2023-05-12T21:08:05+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:08:06Z","updated_at":"2023-05-12T21:08:06Z","carrier":"USPS","pickup_id":"pickup_c2a9262948eb484baafdfa99100ec960","id":"pickuprate_758eae4ab3534ce4856e10e88f8d3178","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:08:06 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_c2a9262948eb484baafdfa99100ec960/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b4f645eaab6e787de0a000da413
      Content-Type:
      - application/json; charset=utf-8
      E[...]
