---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 761411d86567d822ee7bdd7400037dc1
      Location:
      - "/api/v2/shipments/shp_96eeecd0dd4b4fba9d4755092925781d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:32:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286716433","updated_at":"2023-11-30T00:32:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f49dd5348f1711eeabf5ac1f6bc53342","object":"Address","created_at":"2023-11-30T00:32:34+00:00","updated_at":"2023-11-30T00:32:34+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_da7d5ecd01b142eaa8fae46d7098ad39","object":"Parcel","created_at":"2023-11-30T00:32:34Z","updated_at":"2023-11-30T00:32:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b08d1b57347e4b90955f03f06b4f204a","created_at":"2023-11-30T00:32:35Z","updated_at":"2023-11-30T00:32:35Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:32:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e80bed9423c0e74362a377ffa7adda30a6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_139c968b077047f8a6c3f01d7183de68","object":"Rate","created_at":"2023-11-30T00:32:34Z","updated_at":"2023-11-30T00:32:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_96eeecd0dd4b4fba9d4755092925781d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_8af037c72bce485da3b3c0ff01a84e57","object":"Rate","created_at":"2023-11-30T00:32:34Z","updated_at":"2023-11-30T00:32:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_96eeecd0dd4b4fba9d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-12-04","max_datetime":"2023-12-04","instructions":"Pickup
        at front door","shipment":{"id":"shp_96eeecd0dd4b4fba9d4755092925781d"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6756487f6567d823ee7dfe15000386e9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"pickup_bfb66f27126d44cd8a9048b054832399","object":"Pickup","created_at":"2023-11-30T00:32:35Z","updated_at":"2023-11-30T00:32:35Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-12-04T00:00:00Z","max_datetime":"2023-12-04T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_f540c9df8f1711eeac4aac1f6bc53342","object":"Address","created_at":"2023-11-30T00:32:35+00:00","updated_at":"2023-11-30T00:32:35+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-11-30T00:32:36Z","updated_at":"2023-11-30T00:32:36Z","carrier":"USPS","pickup_id":"pickup_bfb66f27126d44cd8a9048b054832399","id":"pickuprate_81e6e4f53c76464789418dc2d2a91231","object":"PickupRate"}]}'
  recorded_at: Thu, 30 Nov 2023 00:32:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_bfb66f27126d44cd8a9048b054832399/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 761411da6567d824ee7fbcdd00037ff2
      Content-Type:
      - application/json; charset=utf-8
      X[...]
