---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c9514f6333cffaf0ea72a1000d39be
      Location:
      - "/api/v2/shipments/shp_e211b4ccd62144cc823252e08d1aa05f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3d3bb69256a7405f9f9abfaa8e28403"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:39:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841626","updated_at":"2022-09-28T04:39:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_863a4aec3ee711eda6baac1f6bc72124","object":"Address","created_at":"2022-09-28T04:39:22+00:00","updated_at":"2022-09-28T04:39:22+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8379ebf9c6034ebfa77f62a27af465b0","object":"Parcel","created_at":"2022-09-28T04:39:22Z","updated_at":"2022-09-28T04:39:22Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9846459f2d3e4a8ea81e764934cab4f7","created_at":"2022-09-28T04:39:23Z","updated_at":"2022-09-28T04:39:23Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:39:23Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/ceeb2eaed42e4d2cb8bf45ad6c3f8873.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_1bae0c2c0c63416da07df829f8532ebc","object":"Rate","created_at":"2022-09-28T04:39:22Z","updated_at":"2022-09-28T04:39:22Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e211b4ccd62144cc823252e08d1aa05f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_76288a765db141e58768bebb3c654e26","object":"Rate","created_at":"2022-09-28T04:39:23Z","updated_at":"2022-09-28T04:39:23Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e211b4ccd62144cc823[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_e211b4ccd62144cc823252e08d1aa05f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c951506333cffcf0ea72a2000d3a06
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9917c4e5e36ca78a2d36f24691210902"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_1d43a620f8da436c996bdfa47e136023","object":"Pickup","created_at":"2022-09-28T04:39:24Z","updated_at":"2022-09-28T04:39:24Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_86fa34543ee711ed869eac1f6bc7bdc6","object":"Address","created_at":"2022-09-28T04:39:24+00:00","updated_at":"2022-09-28T04:39:24+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:39:24Z","updated_at":"2022-09-28T04:39:24Z","carrier":"USPS","pickup_id":"pickup_1d43a620f8da436c996bdfa47e136023","id":"pickuprate_41e5deef77de4ac6b6c9e30a0af05404","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:39:24 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_1d43a620f8da436c996bdfa47e136023/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c951496333cffdf0ea72ba000d3a42
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_1d43a620f8da436c996bdfa47e136023/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514a6333cffef0ea72bb000d3a84
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bb348aad0f8fdb55[...]
