---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7dabbe799dd850059e37c
      Location:
      - "/api/v2/shipments/shp_2e62bf0d187b44ca985b7f4f08e808c4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:08:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068500859","updated_at":"2024-07-29T18:09:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_a0f286444dd511efac68ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:08:59+00:00","updated_at":"2024-07-29T18:08:59+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_61e71340c78443848538398cf1fa49bd","object":"Parcel","created_at":"2024-07-29T18:08:59Z","updated_at":"2024-07-29T18:08:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7515a08e5e02485fb76354889544f433","created_at":"2024-07-29T18:09:00Z","updated_at":"2024-07-29T18:09:00Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:09:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e80591925b5b5940ddbb545fd800bbc581.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_1d3c1ae287b4415e9775313cf864d331","object":"Rate","created_at":"2024-07-29T18:08:59Z","updated_at":"2024-07-29T18:08:59Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9f1d02ec52814e1db25f1822267df1d3","object":"Rate","created_at":"2024-07-29T18:08:59Z","updated_at":"2024-07-29T18:08:59Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_16ce3ae1540a46f1a51f521cefb275c6","object":"Rate","created_at":"2024-07-29T18:08:59Z","updated_at":"2024-07-29T18:08:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_9f1d02ec52814e1db25f1822267df1d3","object":"Rate","created_at":"2024-07-29T18:09:00Z","updated_at":"2024-07-29T18:09:00Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_f4c96cbdc993449db3a8cc01eb1451dd","object":"Tracker","mode":"test","tracking_code":"9400100110368068500859","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:09:00Z","updated_at":"2024-07-29T18:09:00Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2Y0Yzk2Y2JkYzk5MzQ0OWRiM2E4Y2MwMWViMTQ1MWRk"},"to_address":{"id":"adr_a0efb8b54dd511efac63ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:08:59+00:00","updated_at":"2024-07-29T18:08:59+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_a0f286444dd511efac68ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:08:59+00:00","updated_at":"2024-07-29T18:08:59+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_a0efb8b54dd511efac63ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:08:59+00:00","updated_at":"2024-07-29T18:08:59+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_2e62bf0d187b44ca985b7f4f08e808c4","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:09:00 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-07-31","max_datetime":"2024-07-31","instructions":"Pickup
        at front door","shipment":{"id":"shp_2e62bf0d187b44ca985b7f4f08e808c4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7dabce799dd860059e4f6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f1cfa43272f54375aa785e1d79273d5f","object":"Pickup","created_at":"2024-07-29T18:09:01Z","updated_at":"2024-07-29T18:09:01Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_a1d029924dd511efadce3cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:00+00:00","updated_at":"2024-07-29T18:09:00+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:09:02Z","updated_at":"2024-07-29T18:09:02Z","carrier":"USPS","pickup_id":"pickup_f1cfa43272f54375aa785e1d79273d5f","id":"pickuprate_a9ec873a5b5c4010ad789ea75701256b","object":"PickupRate"}]}'
  recorded_at: Mon, 29 Jul 2024 18:09:02 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_f1cfa43272f54375aa785e1d79273d5f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7dabee799dd880059e68b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Versi[...]
