---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba55e7897ec4000872d3
      Location:
      - "/api/v2/shipments/shp_c9f3ca24ff6a4e7788ad42446e6b0e26"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab1cf812613162b20e2bf5ca958e7478"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422761","updated_at":"2022-08-09T19:49:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_68c41421181c11eda2b1ac1f6bc72124","object":"Address","created_at":"2022-08-09T19:49:41+00:00","updated_at":"2022-08-09T19:49:41+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_eda647e595d04e12a75dcaa773ac0229","object":"Parcel","created_at":"2022-08-09T19:49:41Z","updated_at":"2022-08-09T19:49:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c921680c6f5e4af19c1cda9b5da59991","created_at":"2022-08-09T19:49:41Z","updated_at":"2022-08-09T19:49:42Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:41Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/f86f538e8b0c4b14a95de5da7ab125c7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_5988554fede34ef6b8784dfe15cefc4f","object":"Rate","created_at":"2022-08-09T19:49:41Z","updated_at":"2022-08-09T19:49:41Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c9f3ca24ff6a4e7788ad42446e6b0e26","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2b9a6a00980646b98f91a705dbf23284","object":"Rate","created_at":"2022-08-09T19:49:41Z","updated_at":"2022-08-09T19:49:41Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_c9f3ca24ff6a4e7788a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-11","max_datetime":"2022-08-11","instructions":"Pickup
        at front door","shipment":{"id":"shp_c9f3ca24ff6a4e7788ad42446e6b0e26"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba56e7897ec50008733c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8c776e9ec34d2fae47bbfe9cdceeadd9"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_01efda3a7ea940e5b4799495b3ab34b5","object":"Pickup","created_at":"2022-08-09T19:49:42Z","updated_at":"2022-08-09T19:49:42Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-11T00:00:00Z","max_datetime":"2022-08-11T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_697633af181c11edbcabac1f6b0a0d1e","object":"Address","created_at":"2022-08-09T19:49:42+00:00","updated_at":"2022-08-09T19:49:42+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-09T19:49:43Z","updated_at":"2022-08-09T19:49:43Z","carrier":"USPS","pickup_id":"pickup_01efda3a7ea940e5b4799495b3ab34b5","id":"pickuprate_df479fe311bc47b9af1effe0a0eb93a2","object":"PickupRate"}]}'
  recorded_at: Tue, 09 Aug 2022 19:49:43 GMT
recorded_with: VCR 6.0.0
