---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f5262be786c8dd0027fc93
      Location:
      - "/api/v2/shipments/shp_07f65c761f234eb7ac18175de961f146"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb45d0f87222b5d156da63669847cc77"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685951","updated_at":"2022-08-11T15:54:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_dc4dc760198d11ed8003ac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:19+00:00","updated_at":"2022-08-11T15:54:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f4dcec93e36647dbbffe25ab9fd5729c","object":"Parcel","created_at":"2022-08-11T15:54:19Z","updated_at":"2022-08-11T15:54:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a4f29d946d74409f9f85efdb790739d1","created_at":"2022-08-11T15:54:20Z","updated_at":"2022-08-11T15:54:20Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:20Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/883016d602a24c1ea7f4b303d96ada94.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_beca9ff84867421b8567df7a04f022e7","object":"Rate","created_at":"2022-08-11T15:54:19Z","updated_at":"2022-08-11T15:54:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_07f65c761f234eb7ac18175de961f146","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5a21195f1f284d58a9a521a8da4fb9f9","object":"Rate","created_at":"2022-08-11T15:54:19Z","updated_at":"2022-08-11T15:54:19Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_07f65c761f234eb[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-13","max_datetime":"2022-08-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_07f65c761f234eb7ac18175de961f146"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f5262ce786c8e30027fd09
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"02b3cd01273047501c1dea808edf1ba2"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_0f9568591ab2496bbba4eba94dfc83cf","object":"Pickup","created_at":"2022-08-11T15:54:20Z","updated_at":"2022-08-11T15:54:20Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-13T00:00:00Z","max_datetime":"2022-08-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_dd1bb333198d11ed80cfac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:20+00:00","updated_at":"2022-08-11T15:54:20+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-11T15:54:22Z","updated_at":"2022-08-11T15:54:22Z","carrier":"USPS","pickup_id":"pickup_0f9568591ab2496bbba4eba94dfc83cf","id":"pickuprate_a1646c4236b84fc692162c7fe3511bc7","object":"PickupRate"}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:22 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_0f9568591ab2496bbba4eba94dfc83cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f5262ee786c9000027fd7f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"02b3cd01273047501c1dea80[...]
