---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba4de7897ea60008707e
      Location:
      - "/api/v2/shipments/shp_b50fcef6a7274da6a49c799c3e1b129a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab7b049b91512b4559199a1be9480762"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422747","updated_at":"2022-08-09T19:49:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_64316e4e181c11edbac9ac1f6b0a0d1e","object":"Address","created_at":"2022-08-09T19:49:33+00:00","updated_at":"2022-08-09T19:49:33+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e49bffe45e4649018cc00bf46894b500","object":"Parcel","created_at":"2022-08-09T19:49:33Z","updated_at":"2022-08-09T19:49:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_1462516f6b5241bf9c5674e1b2362d71","created_at":"2022-08-09T19:49:34Z","updated_at":"2022-08-09T19:49:34Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:34Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/7802e78702a04b25b1c535b09810c080.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_992cec4bdd3d48f7a2aa8e9f7bf0e5c9","object":"Rate","created_at":"2022-08-09T19:49:33Z","updated_at":"2022-08-09T19:49:33Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b50fcef6a7274da6a49c799c3e1b129a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5015ea40931d4e06b5ac7eaa91a0c7e6","object":"Rate","created_at":"2022-08-09T19:49:33Z","updated_at":"2022-08-09T19:49:33Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b50fcef6a7274da6a49[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-11","max_datetime":"2022-08-11","instructions":"Pickup
        at front door","shipment":{"id":"shp_b50fcef6a7274da6a49c799c3e1b129a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba4ee7897ea7000870de
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7a14dc81c1572150c8788239befa478"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_92260ba8bb334b47865e6bb62e0e9c13","object":"Pickup","created_at":"2022-08-09T19:49:34Z","updated_at":"2022-08-09T19:49:34Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-11T00:00:00Z","max_datetime":"2022-08-11T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_64e77919181c11eda14eac1f6bc72124","object":"Address","created_at":"2022-08-09T19:49:34+00:00","updated_at":"2022-08-09T19:49:34+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-09T19:49:35Z","updated_at":"2022-08-09T19:49:35Z","carrier":"USPS","pickup_id":"pickup_92260ba8bb334b47865e6bb62e0e9c13","id":"pickuprate_d9419cbf52314471914034f2bf49734c","object":"PickupRate"}]}'
  recorded_at: Tue, 09 Aug 2022 19:49:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_92260ba8bb334b47865e6bb62e0e9c13/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba4fe7897ea800087128
      Content-Type:
      - application/json; charset=utf-8
      E[...]
