---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb52625474c8e786b40100232eb9'
      Location:
      - "/api/v2/shipments/shp_238da2da32894d2396d8619b8e64f06d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5da1d6ed7c70f8e690299de1d52174f9"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-11T18:34:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114522120","updated_at":"2022-04-11T18:34:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_116b748cb9c611ec83d9ac1f6bc7b362","object":"Address","created_at":"2022-04-11T18:34:48+00:00","updated_at":"2022-04-11T18:34:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_035748421a2846a4bd2ff181a0998928","object":"Parcel","created_at":"2022-04-11T18:34:48Z","updated_at":"2022-04-11T18:34:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9d604a62b7974712a8f9ac31901b7a33","created_at":"2022-04-11T18:34:49Z","updated_at":"2022-04-11T18:34:49Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T18:34:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/03ca0d800e484defb56196a8b91b2a16.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8a81ca44fcd943e188c6fe7fa5542010","object":"Rate","created_at":"2022-04-11T18:34:48Z","updated_at":"2022-04-11T18:34:48Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_238da2da32894d2396d8619b8e64f06d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_6a897c1f622f46a9b5f6055307ecf3a4","object":"Rate","created_at":"2022-04-11T18:34:48Z","updated_at":"2022-04-11T18:34:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_238da2da32894d2396d8619b8e64f06d","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-04-12","max_datetime":"2022-04-12","instructions":"Pickup
        at front door","shipment":{"id":"shp_238da2da32894d2396d8619b8e64f06d"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb55625474c9e786b40200232f22'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4c45b750bfd5539b9507a1fa7a937be"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_d243ac138d9a4fb3af003169b70034be","object":"Pickup","created_at":"2022-04-11T18:34:50Z","updated_at":"2022-04-11T18:34:50Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-12T00:00:00Z","max_datetime":"2022-04-12T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_1215dea7b9c611ec9c6cac1f6bc72124","object":"Address","created_at":"2022-04-11T18:34:49+00:00","updated_at":"2022-04-11T18:34:49+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T18:34:50Z","updated_at":"2022-04-11T18:34:50Z","carrier":"USPS","pickup_id":"pickup_d243ac138d9a4fb3af003169b70034be","id":"pickuprate_5f8f61fc5598439d855d7f8a121aa65f","object":"PickupRate"}]}'
  recorded_at: Mon, 11 Apr 2022 18:34:50 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_d243ac138d9a4fb3af003169b70034be/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb55625474cae786b41a00232f85'
      Content-Type:
      - application/json; charset=utf-8
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_d243ac138d9a4fb3af003169b70034be/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb54625474cce786b41b00232fed'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e859380b4f[...]
