---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc85ebaf122fb20976b000b7a8e
      Location:
      - "/api/v2/shipments/shp_4800f28b6ee24624bdd082be5019f1b7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_57b994a34ed6405c8d1842c0d3f06fa1","object":"Address","created_at":"2020-05-12T18:55:30Z","updated_at":"2020-05-12T18:55:30Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_aafe88f8c96045e8a93ce542a75966c8","object":"Parcel","created_at":"2020-05-12T18:55:31Z","updated_at":"2020-05-12T18:55:31Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0b5ca54546c040b2aa17cd0a0cbb0e13","object":"Rate","created_at":"2020-05-12T18:55:31Z","updated_at":"2020-05-12T18:55:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4800f28b6ee24624bdd082be5019f1b7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_0b47083f3b084676ba69483e98283595","object":"Rate","created_at":"2020-05-12T18:55:31Z","updated_at":"2020-05-12T18:55:31Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_4800f28b6ee24624bdd082be5019f1b7","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_4800f28b6ee24624bdd082be5019f1b7/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_392de32133ca46b2971ed08393ab4176"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab575ebaf124fb0df2c6000d4485
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"reference":"buy12345678","min_datetime":"2020-05-13T12:00:00+00:00","max_datetime":"2020-05-13T12:00:00+00:00","is_account_address":false,"instructions":"At
        the front door.","shipment":{"id":"shp_4800f28b6ee24624bdd082be5019f1b7"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287115ebaf126fb6511e9000f3bca
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_a152857a6a9543fbbadacd8c9d94d2b8","object":"Pickup","created_at":"2020-05-12T18:55:34Z","updated_at":"2020-05-12T18:55:34Z","mode":"test","status":"unknown","reference":"buy12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_73dcb8b1370941508dc62ea50d84cd8d","object":"Address","created_at":"2020-05-12T18:55:34Z","updated_at":"2020-05-12T18:55:34Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T18:55:35Z","updated_at":"2020-05-12T18:55:35Z","carrier":"UPS","pickup_id":"pickup_a152857a6a9543fbbadacd8c9d94d2b8","id":"pickuprate_528d4b438ee648a0981d3aaef8bb2c17","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 18:55:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a152857a6a9543fbbadacd8c9d94d2b8/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"UPS","service":"Future-day Pickup"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d55ebaf127fb4547a8000acb6e
      Content-Type:
      - application/json; charset[...]
