---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b53645eaabce787de26000da6c7
      Location:
      - "/api/v2/shipments/shp_27fe460048c742978603774237ac3530"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"831f2a9e061811b8a7319b316393651d"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:08:12Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141538","updated_at":"2023-05-12T21:08:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1aeca2b7f10911eda56bac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:08:12+00:00","updated_at":"2023-05-12T21:08:12+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4a89a5018280448c8cbc8d9ce52d6904","object":"Parcel","created_at":"2023-05-12T21:08:12Z","updated_at":"2023-05-12T21:08:12Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_42326993b0964da8bf59e8403d4964eb","created_at":"2023-05-12T21:08:13Z","updated_at":"2023-05-12T21:08:13Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:08:13Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/a9ffd36fd9534a2ca921a32b268c10e4.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a8dc014b53154f78b85afd4a915f6513","object":"Rate","created_at":"2023-05-12T21:08:12Z","updated_at":"2023-05-12T21:08:12Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_27fe460048c742978603774237ac3530","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_78b0c61af80b44a08f7d294274afbfae","object":"Rate","created_at":"2023-05-12T21:08:12Z","updated_at":"2023-05-12T21:08:12Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_27fe460048c7429786[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_27fe460048c742978603774237ac3530"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b52645eaabee787de27000da784
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f8261bec91c886ef2b4fbb40331afb8"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_6a8bdfb094cf4284a13e6d1108163d16","object":"Pickup","created_at":"2023-05-12T21:08:14Z","updated_at":"2023-05-12T21:08:14Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_1bf312d7f10911ed85beac1f6bc72124","object":"Address","created_at":"2023-05-12T21:08:14+00:00","updated_at":"2023-05-12T21:08:14+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:08:15Z","updated_at":"2023-05-12T21:08:15Z","carrier":"USPS","pickup_id":"pickup_6a8bdfb094cf4284a13e6d1108163d16","id":"pickuprate_ed7b355d3613437a92da9472c00e1216","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:08:15 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_6a8bdfb094cf4284a13e6d1108163d16/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b54645eaabfe787de28000da810
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_6a8bdfb094cf4284a13e6d1108163d16/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b55645eaac0e787de29000da8a8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f0335fb0a34de1f2[...]
