---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e48bec3edf990037eefa
      Location:
      - "/api/v2/shipments/shp_186d15c83b6f47e5b9e9a10ed2ab847a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8dd08a207eb881bc41d9898d0da2c688"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478852","updated_at":"2022-07-28T19:33:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_29fd8a5d0eac11ed8faaac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:31+00:00","updated_at":"2022-07-28T19:33:31+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_bc38402329b2436b828c83f12208a134","object":"Parcel","created_at":"2022-07-28T19:33:32Z","updated_at":"2022-07-28T19:33:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_45762770f2ed477e80b4c9e253ae4394","created_at":"2022-07-28T19:33:32Z","updated_at":"2022-07-28T19:33:32Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:32Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/893f32f8524143e4ac8489253ccdf0ca.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_576f04bb17274a76873b033580b9a91c","object":"Rate","created_at":"2022-07-28T19:33:32Z","updated_at":"2022-07-28T19:33:32Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_186d15c83b6f47e5b9e9a10ed2ab847a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bef2306160d04041a7e9d0f28f272804","object":"Rate","created_at":"2022-07-28T19:33:32Z","updated_at":"2022-07-28T19:33:32Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_186d15c83b6[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-07-29","max_datetime":"2022-07-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_186d15c83b6f47e5b9e9a10ed2ab847a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7c62e2e48dec3f49f10037ef4e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"245c20ec2e47213208d6a56ad44c0b0f"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_5e2c0eea40bb4dbea051d19df0481d2d","object":"Pickup","created_at":"2022-07-28T19:33:33Z","updated_at":"2022-07-28T19:33:33Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_2aaf41c40eac11ed8f66ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:33+00:00","updated_at":"2022-07-28T19:33:33+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:34Z","updated_at":"2022-07-28T19:33:34Z","carrier":"USPS","pickup_id":"pickup_5e2c0eea40bb4dbea051d19df0481d2d","id":"pickuprate_feb8601db9994a0d8b1815efb8fadf66","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_5e2c0eea40bb4dbea051d19df0481d2d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e48eec835e350037efe2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"245c20ec2e47213208d6a56a[...]
