---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7dabfe799e0980059e7a0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_f1cfa43272f54375aa785e1d79273d5f","object":"Pickup","created_at":"2024-07-29T18:09:01Z","updated_at":"2024-07-29T18:09:01Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_a1d029924dd511efadce3cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:00+00:00","updated_at":"2024-07-29T18:09:00+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:09:02Z","updated_at":"2024-07-29T18:09:02Z","carrier":"USPS","pickup_id":"pickup_f1cfa43272f54375aa785e1d79273d5f","id":"pickuprate_a9ec873a5b5c4010ad789ea75701256b","object":"PickupRate"}]},{"id":"pickup_333bf8621b57418c8928de3d18d50dd9","object":"Pickup","created_at":"2024-07-29T18:08:57Z","updated_at":"2024-07-29T18:08:57Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups?before_id=pickup_e260187e0ca04f29a2621649dbfb44a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7dac0e799e0990059e826
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
   [...]
