---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c64606308e0dbff04001aa460
      Location:
      - "/api/v2/shipments/shp_7404c78f44d94a12a2886b7d1d244bac"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2588450ea3b75ffa946c7fc2d24e0e7e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514202","updated_at":"2023-05-14T04:26:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8a95b6a7f20f11edb182ac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:26:48+00:00","updated_at":"2023-05-14T04:26:48+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8a86d4bd36574f9e905991a1b14f22c4","object":"Parcel","created_at":"2023-05-14T04:26:48Z","updated_at":"2023-05-14T04:26:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3ecc743388164703ad7f05ba99fcbaa9","created_at":"2023-05-14T04:26:48Z","updated_at":"2023-05-14T04:26:49Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:26:48Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/66804678bcfe41ff9c12ec49c6eea371.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_72eeff1594da4deaa4122e17965b69ee","object":"Rate","created_at":"2023-05-14T04:26:48Z","updated_at":"2023-05-14T04:26:48Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_7404c78f44d94a12a2886b7d1d244bac","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_28d4530d06454305b93c203351b2666b","object":"Rate","created_at":"2023-05-14T04:26:48Z","updated_at":"2023-05-14T04:26:48Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7404c78f44d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_7404c78f44d94a12a2886b7d1d244bac"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9b64606309e0dbff05001aa49a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0f7daf4112f9d7509322c05a8e06e6f"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_959ab127863e4c319cc97a5487201963","object":"Pickup","created_at":"2023-05-14T04:26:49Z","updated_at":"2023-05-14T04:26:49Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_8b5d6d46f20f11ed8bab3cecef1b359e","object":"Address","created_at":"2023-05-14T04:26:49+00:00","updated_at":"2023-05-14T04:26:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:50Z","updated_at":"2023-05-14T04:26:50Z","carrier":"USPS","pickup_id":"pickup_959ab127863e4c319cc97a5487201963","id":"pickuprate_6513f12c061e48bd94f19d6c22d106f5","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:26:50 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_959ab127863e4c319cc97a5487201963/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e956460630ae0dbff06001aa4c2
      Content-Type:
      - application/json; charset=utf-8
      E[...]
