---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 70d4b6386424ba92e6736c820012c0e0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"132f0b6fecbdf9cbd6a2fc218ec08982"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_df75bf159ec74873899659d69718a7bd","object":"Pickup","created_at":"2022-09-28T04:40:45Z","updated_at":"2022-09-28T04:40:47Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC62239086","address":{"id":"adr_b795ddfb3ee711edbd09ac1f6bc7b362","object":"Address","created_at":"2022-09-28T04:40:45+00:00","updated_at":"2022-09-28T04:40:45+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:40:46Z","updated_at":"2022-09-28T04:40:46Z","carrier":"USPS","pickup_id":"pickup_df75bf159ec74873899659d69718a7bd","id":"pickuprate_086e9e6249894e13b512342092028f76","object":"PickupRate"}]},{"id":"pickup_5b954df5448f41b39ab7095abc8d40ab","object":"Pickup","created_at":"2022-09-28T04:39:29Z","updated_at":"2022-09-28T04:39:29Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"before_id":"pickup_f5ba2f49d7a14ef3988f781af755e54f"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 70d4b63b6424ba92e68711860012c0f1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"806fad48dfcaf7c1724606c50f4af8a0"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-maste[...]
