---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652dc6e0dc94290006eed0
      Location:
      - "/api/v2/shipments/shp_221d7bb3ee0846da8636453f0ca4cf2d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ed09b75cc0156b4b0de55089dc291703"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:54Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693217","updated_at":"2023-05-17T19:40:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_bce45152f4ea11ed96f2ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:40:54+00:00","updated_at":"2023-05-17T19:40:54+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f60ebe5b149c410d99d66d88d22b7d9c","object":"Parcel","created_at":"2023-05-17T19:40:54Z","updated_at":"2023-05-17T19:40:54Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e72c6342552340d2b18fad58308c8c12","created_at":"2023-05-17T19:40:55Z","updated_at":"2023-05-17T19:40:55Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/1fee61290df148f188ecb0372045b5de.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_084686a22d7a469bbd1f38d2728db174","object":"Rate","created_at":"2023-05-17T19:40:54Z","updated_at":"2023-05-17T19:40:54Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_221d7bb3ee0846da8636453f0ca4cf2d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ce10cf3864564da5b9cc3fb6aff59de9","object":"Rate","created_at":"2023-05-17T19:40:54Z","updated_at":"2023-05-17T19:40:54Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_221d7bb3ee0846d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_221d7bb3ee0846da8636453f0ca4cf2d"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dc7e0dc942a0006ef53
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef66aae8a91c523f7cd982652f93a1df"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_a5af4b65097f464a9b5c680fce556660","object":"Pickup","created_at":"2023-05-17T19:40:56Z","updated_at":"2023-05-17T19:40:56Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_bda929c1f4ea11edbfcdac1f6bc7b362","object":"Address","created_at":"2023-05-17T19:40:55+00:00","updated_at":"2023-05-17T19:40:55+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:56Z","updated_at":"2023-05-17T19:40:56Z","carrier":"USPS","pickup_id":"pickup_a5af4b65097f464a9b5c680fce556660","id":"pickuprate_2ad914e6e2444ce087304a0ca79d4afa","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:56 GMT
recorded_with: VCR 6.1.0
