---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f52637e786c9220028002d
      Location:
      - "/api/v2/shipments/shp_411bf6df91684267a93bed16e6c6c3bb"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e101ce32adb308ef1526099cb01ef43a"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686019","updated_at":"2022-08-11T15:54:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e375766e198d11edbd2fac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:31+00:00","updated_at":"2022-08-11T15:54:31+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c1b93b0b93804cf5a8e892ecebe290a5","object":"Parcel","created_at":"2022-08-11T15:54:31Z","updated_at":"2022-08-11T15:54:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_de362f5b3a9c473f95bf45c1e79e9751","created_at":"2022-08-11T15:54:32Z","updated_at":"2022-08-11T15:54:32Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:32Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/c18bf59d30f148cf880ccbb193a9858a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a1d3599f48a94a52944d20b6e7ca0915","object":"Rate","created_at":"2022-08-11T15:54:31Z","updated_at":"2022-08-11T15:54:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_411bf6df91684267a93bed16e6c6c3bb","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_296a43aff8524f95aa2471455ac760f1","object":"Rate","created_at":"2022-08-11T15:54:31Z","updated_at":"2022-08-11T15:54:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_411bf6df91684267a93[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-13","max_datetime":"2022-08-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_411bf6df91684267a93bed16e6c6c3bb"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f52638e786c92300280080
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc2a94b823dc45b177e64b2cbeb2d55e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_574cb0bc18ea40d68f19e6d13901d43f","object":"Pickup","created_at":"2022-08-11T15:54:32Z","updated_at":"2022-08-11T15:54:32Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-13T00:00:00Z","max_datetime":"2022-08-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_e4271a20198d11eda487ac1f6bc7bdc6","object":"Address","created_at":"2022-08-11T15:54:32+00:00","updated_at":"2022-08-11T15:54:32+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-11T15:54:33Z","updated_at":"2022-08-11T15:54:33Z","carrier":"USPS","pickup_id":"pickup_574cb0bc18ea40d68f19e6d13901d43f","id":"pickuprate_92137c32702642e7a9fc6c07f8fb25b0","object":"PickupRate"}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:33 GMT
recorded_with: VCR 6.0.0
