---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 44f9e901624f59d7e787c43900103dc7
      Location:
      - "/api/v2/shipments/shp_ea372dbd40114ff7b3c34fa98bcbd708"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d377f073a148ddf83d9b0bbd53d19f5"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-07T21:38:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114095150","updated_at":"2022-04-07T21:38:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1181aee3b6bb11ec86abac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T21:38:31+00:00","updated_at":"2022-04-07T21:38:31+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2b32a5db263b4f6d8d7cc6eeb3760071","object":"Parcel","created_at":"2022-04-07T21:38:31Z","updated_at":"2022-04-07T21:38:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a30c7e9234c9462bb1bb935257d44b4f","created_at":"2022-04-07T21:38:31Z","updated_at":"2022-04-07T21:38:31Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-07T21:38:31Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220407/6b573a4916274b70900a4b2fd350b7bc.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_41683267f39d44d8a5b457eb01a17b37","object":"Rate","created_at":"2022-04-07T21:38:31Z","updated_at":"2022-04-07T21:38:31Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ea372dbd40114ff7b3c34fa98bcbd708","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e88fbc92fd8745dc8fbad399d95f0e21","object":"Rate","created_at":"2022-04-07T21:38:31Z","updated_at":"2022-04-07T21:38:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ea372dbd40114ff7b3c34fa98bcbd708","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-04-09","max_datetime":"2022-04-09","instructions":"Pickup
        at front door","shipment":{"id":"shp_ea372dbd40114ff7b3c34fa98bcbd708"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 44f9e905624f59d8e787c43a00103e0e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"245dac48c6a981f64652b8655e5c9103"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_55f1bf1fc9c649b8a408c0a002b3ebf9","object":"Pickup","created_at":"2022-04-07T21:38:32Z","updated_at":"2022-04-07T21:38:32Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-09T00:00:00Z","max_datetime":"2022-04-09T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_1221b96cb6bb11ec86ceac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T21:38:32+00:00","updated_at":"2022-04-07T21:38:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-07T21:38:33Z","updated_at":"2022-04-07T21:38:33Z","carrier":"USPS","pickup_id":"pickup_55f1bf1fc9c649b8a408c0a002b3ebf9","id":"pickuprate_9383220828094b38a5ad711b090d1d8c","object":"PickupRate"}]}'
  recorded_at: Thu, 07 Apr 2022 21:38:33 GMT
recorded_with: VCR 6.0.0
