---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c9514d6333cfeff0ea7281000d3782
      Location:
      - "/api/v2/shipments/shp_a266e6c0322543ed9963a6c1f6682a50"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"656698c5c210683c358e038984a92916"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:39:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841572","updated_at":"2022-09-28T04:39:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7f6510133ee711edaff9ac1f6bc7bdc6","object":"Address","created_at":"2022-09-28T04:39:11+00:00","updated_at":"2022-09-28T04:39:11+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_fd5614ba427d46aab7e3baeec06f7833","object":"Parcel","created_at":"2022-09-28T04:39:11Z","updated_at":"2022-09-28T04:39:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fe4078266849485eae0b9ab55b457084","created_at":"2022-09-28T04:39:11Z","updated_at":"2022-09-28T04:39:12Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:39:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/64f0125fc9fd4fe5a0f59b6844c1c16f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_eb3b9e4bb10e417e94c0f05400a971fc","object":"Rate","created_at":"2022-09-28T04:39:11Z","updated_at":"2022-09-28T04:39:11Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_a266e6c0322543ed9963a6c1f6682a50","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2832734f68ed49af94e2660b22b54e0f","object":"Rate","created_at":"2022-09-28T04:39:11Z","updated_at":"2022-09-28T04:39:11Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_a266e6c0322[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_a266e6c0322543ed9963a6c1f6682a50"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514e6333cff0f0ea7299000d37dd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6103153eb632be76e51e540b25052a9"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_6242ffeb64a149c1804dc504a6c424a1","object":"Pickup","created_at":"2022-09-28T04:39:13Z","updated_at":"2022-09-28T04:39:13Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_804cbdbe3ee711edadf6ac1f6b0a0d1e","object":"Address","created_at":"2022-09-28T04:39:12+00:00","updated_at":"2022-09-28T04:39:12+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:39:13Z","updated_at":"2022-09-28T04:39:13Z","carrier":"USPS","pickup_id":"pickup_6242ffeb64a149c1804dc504a6c424a1","id":"pickuprate_28b9816c1e864823a72833160c0a7fb7","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:39:13 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_6242ffeb64a149c1804dc504a6c424a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514f6333cff1f0ea729a000d380a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6103153eb632be76e51e540[...]
