---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206cc65b00b2ae7884bfa0007e464
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_71f4a835175448cba9b4cc6666cc2707","object":"Pickup","created_at":"2024-01-23T18:53:28Z","updated_at":"2024-01-23T18:53:28Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b20abfe1ba2011eebcf0ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:53:28+00:00","updated_at":"2024-01-23T18:53:28+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-01-23T18:53:29Z","updated_at":"2024-01-23T18:53:29Z","carrier":"USPS","pickup_id":"pickup_71f4a835175448cba9b4cc6666cc2707","id":"pickuprate_33cbea2826b246d6bc228ecede1f39ef","object":"PickupRate"}]},{"id":"pickup_4f0e1ad881e847558cf7144843519ff6","object":"Pickup","created_at":"2024-01-23T18:53:25Z","updated_at":"2024-01-23T18:53:25Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
