---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287135ebaf11bfb538e4a000f374e
      Location:
      - "/api/v2/shipments/shp_81b34b69e56146aeb29cea26c2f89888"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2360449e67444c6a8bdc5d6970eed479","object":"Address","created_at":"2020-05-12T18:55:23Z","updated_at":"2020-05-12T18:55:23Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8a6234c23e60408482be3e752d046b7d","object":"Parcel","created_at":"2020-05-12T18:55:23Z","updated_at":"2020-05-12T18:55:23Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_bec2c66ddbe24f6da8079a562e3ff982","object":"Rate","created_at":"2020-05-12T18:55:24Z","updated_at":"2020-05-12T18:55:24Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_81b34b69e56146aeb29cea26c2f89888","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_0506e8b69bb742308e7cbed380da7ffd","object":"Rate","created_at":"2020-05-12T18:55:24Z","updated_at":"2020-05-12T18:55:24Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_81b34b69e56146aeb29cea26c2f89888","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_81b34b69e56146aeb29cea26c2f89888/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_65f3b90fc9fb4503b21fd15e47047eaf"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d35ebaf11cfb538963000ac804
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"company":"Airport Shipping","street1":"601 Brasilia
        Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"reference":"12345678","min_datetime":"2020-05-13T12:00:00+00:00","max_datetime":"2020-05-13T12:00:00+00:00","is_account_address":false,"instructions":"At
        the front door.","shipment":{"id":"shp_81b34b69e56146aeb29cea26c2f89888"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc75ebaf11efb42178a000b7931
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_88a7c4fc23e34bfeb24f45eac7f918d6","object":"Pickup","created_at":"2020-05-12T18:55:26Z","updated_at":"2020-05-12T18:55:26Z","mode":"test","status":"unknown","reference":"12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_76426a830d1243ac83408f9c94b51eb4","object":"Address","created_at":"2020-05-12T18:55:26Z","updated_at":"2020-05-12T18:55:26Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T18:55:27Z","updated_at":"2020-05-12T18:55:27Z","carrier":"UPS","pickup_id":"pickup_88a7c4fc23e34bfeb24f45eac7f918d6","id":"pickuprate_4385cf1b69fd428eb9fb0afed5ae0c67","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 18:55:27 GMT
recorded_with: VCR 5.1.0
