---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dbae0dc94050006e9f3
      Location:
      - "/api/v2/shipments/shp_e45e0c41ec7b48cb8161c955fb7a9846"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e30e9154ddf49a28f131205b9baee2b1"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693095","updated_at":"2023-05-17T19:40:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b5ca9886f4ea11ed9093ac1f6bc7bdc6","object":"Address","created_at":"2023-05-17T19:40:42+00:00","updated_at":"2023-05-17T19:40:42+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_20710ec6711f4fa8920e11c15486954c","object":"Parcel","created_at":"2023-05-17T19:40:42Z","updated_at":"2023-05-17T19:40:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_227c5e214e7147cf87f449bb0c3342ff","created_at":"2023-05-17T19:40:43Z","updated_at":"2023-05-17T19:40:43Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:43Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/09bbba415eea49a88e5ab3ed4af2df7e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_abc29945669f48f9a76caa0e47db5f56","object":"Rate","created_at":"2023-05-17T19:40:42Z","updated_at":"2023-05-17T19:40:42Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e45e0c41ec7b48cb8161c955fb7a9846","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4a1bf9745a64478a9149b0a9c3672f85","object":"Rate","created_at":"2023-05-17T19:40:42Z","updated_at":"2023-05-17T19:40:42Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_e45e0c41ec7b48cb8161c9[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_e45e0c41ec7b48cb8161c955fb7a9846"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dbbe0dc94060006ea6e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8d24e1b5e23b373e39ce85c1dcbc066"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_3b842601c2b049c48de35373aa282c99","object":"Pickup","created_at":"2023-05-17T19:40:44Z","updated_at":"2023-05-17T19:40:44Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b68b6048f4ea11edacc6ac1f6bc7b362","object":"Address","created_at":"2023-05-17T19:40:44+00:00","updated_at":"2023-05-17T19:40:44+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:44Z","updated_at":"2023-05-17T19:40:44Z","carrier":"USPS","pickup_id":"pickup_3b842601c2b049c48de35373aa282c99","id":"pickuprate_a565bb667d65445b8d7b96e71f7ed68d","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_3b842601c2b049c48de35373aa282c99/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652dbde0dc94070006eae7
      Content-Type:
      - application/json; charset=utf-8
      E[...]
