---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f73626c325ae786bcc50046997b
      Location:
      - "/api/v2/shipments/shp_97d7b57254a64786bc4a894d2aa4e7ec"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4932d2bac10bb54a50be50b7781298e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T18:45:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117183359","updated_at":"2022-04-29T18:45:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_94ead1a6c7ec11eca5d9ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:46+00:00","updated_at":"2022-04-29T18:45:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f372be1fb50047188de1a1bc09455af4","object":"Parcel","created_at":"2022-04-29T18:45:46Z","updated_at":"2022-04-29T18:45:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_451aa41b3cc44c03a986adb41c0e5818","created_at":"2022-04-29T18:45:47Z","updated_at":"2022-04-29T18:45:47Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-29T18:45:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220429/e6af52746e76483e9ccd21aa0ae49928.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_61e76a24f9cd4e18b9559d008631737e","object":"Rate","created_at":"2022-04-29T18:45:46Z","updated_at":"2022-04-29T18:45:46Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_97d7b57254a64786bc4a894d2aa4e7ec","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d24a91bbc8004bafa9cc199440691490","object":"Rate","created_at":"2022-04-29T18:45:46Z","updated_at":"2022-04-29T18:45:46Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_97d7b57254a64786bc4a894d2aa4e7ec","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-01","max_datetime":"2022-05-01","instructions":"Pickup
        at front door","shipment":{"id":"shp_97d7b57254a64786bc4a894d2aa4e7ec"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f79626c325be786bcc6004699e9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5726992eaeaedad2a2be88bc610b61a3"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_516a68e17ac34c6fb540ce9539cec8ec","object":"Pickup","created_at":"2022-04-29T18:45:47Z","updated_at":"2022-04-29T18:45:47Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_958d631ec7ec11ecbd5bac1f6bc7bdc6","object":"Address","created_at":"2022-04-29T18:45:47+00:00","updated_at":"2022-04-29T18:45:47+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:45:48Z","updated_at":"2022-04-29T18:45:48Z","carrier":"USPS","pickup_id":"pickup_516a68e17ac34c6fb540ce9539cec8ec","id":"pickuprate_918aece360a646d288846415ccd4d52d","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:45:48 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_516a68e17ac34c6fb540ce9539cec8ec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f74626c325ce786bcde00469a3e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5726992eaeaedad2a2b[...]
