---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a6216a7c5e788f72a0041806a
      Location:
      - "/api/v2/shipments/shp_aa4cfbc931c043829d2a0e42abb8408a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"592d7299369f5a38f74ff38b7768c0b0"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T21:31:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108754356","updated_at":"2022-02-23T21:31:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0258128594f011eca8a2ac1f6bc7b362","object":"Address","created_at":"2022-02-23T21:31:49+00:00","updated_at":"2022-02-23T21:31:49+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e0619bff72c9444b9ac6b9e09baca845","object":"Parcel","created_at":"2022-02-23T21:31:49Z","updated_at":"2022-02-23T21:31:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fb80248ad9df4c5387cc55d9c07c8e39","created_at":"2022-02-23T21:31:49Z","updated_at":"2022-02-23T21:31:50Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T21:31:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/d25a11c392e2461dbb65b115681ac899.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a6d93d6c1cf04475b159f98e50c7b80b","object":"Rate","created_at":"2022-02-23T21:31:49Z","updated_at":"2022-02-23T21:31:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aa4cfbc931c043829d2a0e42abb8408a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_00b99a0a0f534d40a299b1c2c000208c","object":"Rate","created_at":"2022-02-23T21:31:49Z","updated_at":"2022-02-23T21:31:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_aa4cfbc931c043829d2a0e42abb8408a","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-02-24","max_datetime":"2022-02-25","instructions":"Pickup
        at front door","shipment":{"id":"shp_aa4cfbc931c043829d2a0e42abb8408a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066366216a7c6e788f72b004180bc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2fbe7b3bed4c28b22f175f7f9d4d099"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_53098536771d47df866e965c635ad675","object":"Pickup","created_at":"2022-02-23T21:31:50Z","updated_at":"2022-02-23T21:31:50Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-02-24T00:00:00Z","max_datetime":"2022-02-25T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0301996594f011eca8ceac1f6bc7b362","object":"Address","created_at":"2022-02-23T21:31:50+00:00","updated_at":"2022-02-23T21:31:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-02-23T21:31:51Z","updated_at":"2022-02-23T21:31:51Z","carrier":"USPS","pickup_id":"pickup_53098536771d47df866e965c635ad675","id":"pickuprate_8e9c0cc60f3d44979c31bce0e2dfed98","object":"PickupRate"}]}'
  recorded_at: Wed, 23 Feb 2022 21:31:51 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_53098536771d47df866e965c635ad675
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066376216a7c7e788f72c004180ef
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2fbe7b3bed4c28b22f[...]
