---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e164640c63e78737fa0048ac5e
      Location:
      - "/api/v2/shipments/shp_e62eff0c41bd4baa8dbdf6f83f15522f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3bf05f319ca151140784ba5e9ac19e6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:06:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430294","updated_at":"2023-05-16T23:06:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3fd0c1fef43e11ed897cac1f6bc72124","object":"Address","created_at":"2023-05-16T23:06:11+00:00","updated_at":"2023-05-16T23:06:11+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2703f7bf7672462493344a971dd1ef9a","object":"Parcel","created_at":"2023-05-16T23:06:11Z","updated_at":"2023-05-16T23:06:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_1537bdee51c5466188bb3ada97e4bf13","created_at":"2023-05-16T23:06:12Z","updated_at":"2023-05-16T23:06:12Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:06:12Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/c0ceca78c2f3467ea05eafe577290b8a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0ebb41474824493fa4f560b03b0676a7","object":"Rate","created_at":"2023-05-16T23:06:11Z","updated_at":"2023-05-16T23:06:11Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_e62eff0c41bd4baa8dbdf6f83f15522f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ab72c719b9914364912ae2856520e8f6","object":"Rate","created_at":"2023-05-16T23:06:11Z","updated_at":"2023-05-16T23:06:11Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e62eff0c41b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_e62eff0c41bd4baa8dbdf6f83f15522f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c65e78737fb0048acfc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc41e65a15783c921d8e22ef12d45fce"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_c36bb3ade4f047f7bb7f3876def273ea","object":"Pickup","created_at":"2023-05-16T23:06:13Z","updated_at":"2023-05-16T23:06:13Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_40c8a67af43e11ed806aac1f6bc53342","object":"Address","created_at":"2023-05-16T23:06:13+00:00","updated_at":"2023-05-16T23:06:13+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:06:13Z","updated_at":"2023-05-16T23:06:13Z","carrier":"USPS","pickup_id":"pickup_c36bb3ade4f047f7bb7f3876def273ea","id":"pickuprate_012853d038ff4159ac557d569ea5334c","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:06:13 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_c36bb3ade4f047f7bb7f3876def273ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e764640c66e78737ff0048ad95
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc41e65a15783c921d8e22ef[...]
