---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652db2e0dc93e60006e6ae
      Location:
      - "/api/v2/shipments/shp_ff94f0a068694da38d85a572d191c434"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b98d793d70f5b53d770d20dcfe0cd6d8"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693026","updated_at":"2023-05-17T19:40:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b0a9ffa3f4ea11edb626ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:40:34+00:00","updated_at":"2023-05-17T19:40:34+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6de8a8d8df3140258981f0f3bb412750","object":"Parcel","created_at":"2023-05-17T19:40:34Z","updated_at":"2023-05-17T19:40:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f58b41a384f947c795a7bc8789164c9f","created_at":"2023-05-17T19:40:34Z","updated_at":"2023-05-17T19:40:34Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:34Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/73dba985b542415384ec0c2a9d62c756.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7bc00325bf774961ae87e742a4ed17f8","object":"Rate","created_at":"2023-05-17T19:40:34Z","updated_at":"2023-05-17T19:40:34Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_ff94f0a068694da38d85a572d191c434","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f93cf423d3584487a2a69d026b9e08fd","object":"Rate","created_at":"2023-05-17T19:40:34Z","updated_at":"2023-05-17T19:40:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ff94f0a0686[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_ff94f0a068694da38d85a572d191c434"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652db3e0dc93e70006e73d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c25cadfb9953f54eebc946b6058ed5f"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f7e95c6535094b4c827213344d513cf8","object":"Pickup","created_at":"2023-05-17T19:40:35Z","updated_at":"2023-05-17T19:40:35Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b17588c7f4ea11ed9ae63cecef1b359e","object":"Address","created_at":"2023-05-17T19:40:35+00:00","updated_at":"2023-05-17T19:40:35+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:37Z","updated_at":"2023-05-17T19:40:37Z","carrier":"USPS","pickup_id":"pickup_f7e95c6535094b4c827213344d513cf8","id":"pickuprate_73e53942c88f44cda82bbe52ec59df0a","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:37 GMT
recorded_with: VCR 6.1.0
