---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dab7e799dd820059dfd6
      Location:
      - "/api/v2/shipments/shp_1e854535d36745d5a9915191ec63db79"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:08:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068500835","updated_at":"2024-07-29T18:08:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9ecc6baa4dd511efb91bac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:08:55+00:00","updated_at":"2024-07-29T18:08:55+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_71cac0c47268414988ae2809<REDACTED>0e19e","object":"Parcel","created_at":"2024-07-29T18:08:55Z","updated_at":"2024-07-29T18:08:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4658d07f83e842db83ea03a5ec0be22b","created_at":"2024-07-29T18:08:56Z","updated_at":"2024-07-29T18:08:56Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:08:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e80cf55bb2aae34f5da74b5d8a4aebd37a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_04c7e97ced194ef2bdb27cae1df1f715","object":"Rate","created_at":"2024-07-29T18:08:56Z","updated_at":"2024-07-29T18:08:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1e854535d36745d5a9915191ec63db79","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5341c6b1a1b6490f9c7c0d4bdcb1ffc1","object":"Rate","created_at":"2024-07-29T18:08:56Z","updated_at":"2024-07-29T18:08:56Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_1e854535d36745d5a9915191ec63db79","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c758f2647b204e7eba3ecbaa63a66616","object":"Rate","created_at":"2024-07-29T18:08:56Z","updated_at":"2024-07-29T18:08:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1e854535d36745d5a9915191ec63db79","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_5341c6b1a1b6490f9c7c0d4bdcb1ffc1","object":"Rate","created_at":"2024-07-29T18:08:56Z","updated_at":"2024-07-29T18:08:56Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_1e854535d36745d5a9915191ec63db79","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_b791163ddd3744d1958afc0e3e0e1024","object":"Tracker","mode":"test","tracking_code":"9400100110368068500835","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:08:57Z","updated_at":"2024-07-29T18:08:57Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_1e854535d36745d5a9915191ec63db79","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2I3OTExNjNkZGQzNzQ0ZDE5NThhZmMwZTNlMGUxMDI0"},"to_address":{"id":"adr_9ec9bd394dd511efac1f3cecef1b359e","object":"Address","created_at":"2024-07-29T18:08:55+00:00","updated_at":"2024-07-29T18:08:56+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_9ecc6baa4dd511efb91bac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:08:55+00:00","updated_at":"2024-07-29T18:08:55+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_9ec9bd394dd511efac1f3cecef1b359e","object":"Address","created_at":"2024-07-29T18:08:55+00:00","updated_at":"2024-07-29T18:08:56+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_1e854535d36745d5a9915191ec63db79","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:08:56 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-07-31","max_datetime":"2024-07-31","instructions":"Pickup
        at front door","shipment":{"id":"shp_1e854535d36745d5a9915191ec63db79"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7dab9e799dd840059e15e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pickup_333bf8621b57418c8928de3d18d50dd9","object":"Pickup","created_at":"2024-07-29T18:08:57Z","updated_at":"2024-07-29T18:08:57Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_9fba67434dd511efaca23cecef1b359e","object":"Address","created_at":"2024-07-29T18:08:57+00:00","updated_at":"2024-07-29T18:08:57+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:08:59Z","updated_at":"2024-07-29T18:08:59Z","carrier":"USPS","pickup_id":"pickup_333bf8621b57418c8928de3d18d50dd9","id":"pickuprate_d6ba3b87aec2493cb80d911b09b02325","object":"PickupRate"}]}'
  recorded_at: Mon, 29 Jul 2024 18:08:58 GMT
recorded_with: VCR 6.1.0
