---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82c89e789faab003a170a
      Location:
      - "/api/v2/shipments/shp_d72fa15f57e14ec7a919aad8b75e3ef4"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1daff5bdb33ed583aeb4d95f614efda3"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:42:01Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078624","updated_at":"2022-08-01T19:42:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_038dec6b11d211ed858fac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:42:01+00:00","updated_at":"2022-08-01T19:42:01+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4b40b8af311b4597aa0f8f2797652cc9","object":"Parcel","created_at":"2022-08-01T19:42:01Z","updated_at":"2022-08-01T19:42:01Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_85c5ecd96fd74a67811c2e15e909eb13","created_at":"2022-08-01T19:42:02Z","updated_at":"2022-08-01T19:42:02Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:42:02Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/11db384ecf45419aad71697c433a5f10.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_325166c03ed8401292b0c931aa7cbb84","object":"Rate","created_at":"2022-08-01T19:42:02Z","updated_at":"2022-08-01T19:42:02Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d72fa15f57e14ec7a919aad8b75e3ef4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4074118492f344d2a99da3fe60d1c80c","object":"Rate","created_at":"2022-08-01T19:42:02Z","updated_at":"2022-08-01T19:42:02Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d72fa15f57e14ec[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-08-03","max_datetime":"2022-08-03","instructions":"Pickup
        at front door","shipment":{"id":"shp_d72fa15f57e14ec7a919aad8b75e3ef4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201962e82c8be789fac8003a17b5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c138a27853f64b4357dfb153e9871181"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_309311fc6cba47a69e9a4220182edfe2","object":"Pickup","created_at":"2022-08-01T19:42:03Z","updated_at":"2022-08-01T19:42:03Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-03T00:00:00Z","max_datetime":"2022-08-03T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0440445411d211ed85ccac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:42:03+00:00","updated_at":"2022-08-01T19:42:03+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-01T19:42:03Z","updated_at":"2022-08-01T19:42:03Z","carrier":"USPS","pickup_id":"pickup_309311fc6cba47a69e9a4220182edfe2","id":"pickuprate_a50ec199c22c45a78dbb9d353cf2c21a","object":"PickupRate"}]}'
  recorded_at: Mon, 01 Aug 2022 19:42:03 GMT
recorded_with: VCR 6.0.0
