---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 761411d86567d75bee59eb9c0002d312
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_7958ced62ceb42f7916705bcb1185f4b","object":"Pickup","created_at":"2023-11-30T00:29:15Z","updated_at":"2023-11-30T00:29:15Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_7dc8d3298f1711ee9377ac1f6bc539ae","object":"Address","created_at":"2023-11-30T00:29:15+00:00","updated_at":"2023-11-30T00:29:15+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[]},{"id":"pickup_df7a09e71415450893ce25d2c09d2901","object":"Pickup","created_at":"2023-11-30T00:29:13Z","updated_at":"2023-11-30T00:29:13Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_7ce6009c8f1711ee84b23cecef1b359e","object":"Address","created_at":"2023-11-30T00:29:13+00:00","updated_a[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"before_id":"pickup_1fdd96d2a033470cad7b94396e724577"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 675648816567d75cee802fd500029d6e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - ext[...]
