---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b52645eaaaee787de02000da0d8
      Location:
      - "/api/v2/shipments/shp_1be2c421786c4381a37eef89ab2003b5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb63237ca75290c11c97a8912652b961"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:07:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141484","updated_at":"2023-05-12T21:07:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_12aa8a3ef10911ed8642ac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:07:58+00:00","updated_at":"2023-05-12T21:07:58+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3f4eca24694649e79fc72e311f8c68ce","object":"Parcel","created_at":"2023-05-12T21:07:58Z","updated_at":"2023-05-12T21:07:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_46eeadf85cbd4325b58962654de5cd5d","created_at":"2023-05-12T21:07:59Z","updated_at":"2023-05-12T21:07:59Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:07:59Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/82893b9b303a4051910ffd6974f72952.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_67e1909eb0994cf7988427dfc0d17db1","object":"Rate","created_at":"2023-05-12T21:07:58Z","updated_at":"2023-05-12T21:07:58Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_1be2c421786c4381a37eef89ab2003b5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3fa40668e8ee47829031ed3a1bb3ce30","object":"Rate","created_at":"2023-05-12T21:07:58Z","updated_at":"2023-05-12T21:07:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1be2c421786c4381a3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_1be2c421786c4381a37eef89ab2003b5"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b55645eaab0e787de03000da16e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"312c761d40799894d975a40244b1354e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_476ffed9fa1a4b96a6cca969bb545d3b","object":"Pickup","created_at":"2023-05-12T21:08:00Z","updated_at":"2023-05-12T21:08:00Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_13a80722f10911edbd5a3cecef1b359e","object":"Address","created_at":"2023-05-12T21:08:00+00:00","updated_at":"2023-05-12T21:08:00+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:08:01Z","updated_at":"2023-05-12T21:08:01Z","carrier":"USPS","pickup_id":"pickup_476ffed9fa1a4b96a6cca969bb545d3b","id":"pickuprate_d9e27cdda68c4124ae17568c71ce1c86","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:08:01 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_476ffed9fa1a4b96a6cca969bb545d3b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b4f645eaab1e787de04000da1f2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"312c761d40799894d975a402[...]
