---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 00c206c665b00b27e7884bf70007e1cc
      Location:
      - "/api/v2/shipments/shp_87ba3ecaa7974814b1d95c5761f5dba7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:53:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011758328","updated_at":"2024-01-23T18:53:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b1465a28ba2011eebc93ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:53:27+00:00","updated_at":"2024-01-23T18:53:27+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1bc618544f484939857db8bcf8e13741","object":"Parcel","created_at":"2024-01-23T18:53:27Z","updated_at":"2024-01-23T18:53:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8ff1f7c66e964da98ae983cf132ac628","created_at":"2024-01-23T18:53:27Z","updated_at":"2024-01-23T18:53:27Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:53:27Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e8c3be3d77014d418db9f5859037316983.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_00c03ae6e2f04215894d14faa75e73e7","object":"Rate","created_at":"2024-01-23T18:53:27Z","updated_at":"2024-01-23T18:53:27Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_87ba3ecaa7974814b1d95c5761f5dba7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ec9bc5343a754b0685af36dd71e06bb1","object":"Rate","created_at":"2024-01-23T18:53:27Z","updated_at":"2024-01-23T18:53:27Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_87ba3ecaa797[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-01-24","max_datetime":"2024-01-24","instructions":"Pickup
        at front door","shipment":{"id":"shp_87ba3ecaa7974814b1d95c5761f5dba7"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206c665b00b28e7884bf80007e2d2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"pickup_71f4a835175448cba9b4cc6666cc2707","object":"Pickup","created_at":"2024-01-23T18:53:28Z","updated_at":"2024-01-23T18:53:28Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b20abfe1ba2011eebcf0ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:53:28+00:00","updated_at":"2024-01-23T18:53:28+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-01-23T18:53:29Z","updated_at":"2024-01-23T18:53:29Z","carrier":"USPS","pickup_id":"pickup_71f4a835175448cba9b4cc6666cc2707","id":"pickuprate_33cbea2826b246d6bc228ecede1f39ef","object":"PickupRate"}]}'
  recorded_at: Tue, 23 Jan 2024 18:53:29 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_71f4a835175448cba9b4cc6666cc2707
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206cc65b00b29e7884bf90007e41c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"pickup_71f4a835175448cba9b4cc6666cc2707","object":"Pickup","created_at":"2024-01-23T18:53:28Z","updated_at":"2024-01-23T18:53:28Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b20abfe1ba2011eebcf0ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:53:28+00:00","updated_at":"2024-01-23T18:53:28+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-01-23T18:53:29Z","updated_at":"2024-01-23T18:53:29Z","carrier":"USPS","pickup_id":"pickup_71f4a835175448cba9b4cc6666cc2707","id":"pickuprate_33cbea2826b246d6bc228ecede1f39ef","object":"PickupRate"}]}'
  recorded_at: Tue, 23 Jan 2024 18:53:30 GMT
recorded_with: VCR 6.2.0
