---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b53645eaab8e787de22000da4d2
      Location:
      - "/api/v2/shipments/shp_19ee6c99386e47beac93a3d5ed091a40"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eae2c92528561965fb70dfb289e63443"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:08:08Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141507","updated_at":"2023-05-12T21:08:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_184c0710f10911ed9b47ac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:08:08+00:00","updated_at":"2023-05-12T21:08:08+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_517ff55b5e684c9faffdcc729746ffa7","object":"Parcel","created_at":"2023-05-12T21:08:08Z","updated_at":"2023-05-12T21:08:08Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_56836444d1874d3688f9292acbc4edae","created_at":"2023-05-12T21:08:08Z","updated_at":"2023-05-12T21:08:09Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:08:08Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/5d25b1f38039415b9e3757db0969b07f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_075d473c886f4033b96997aa24c8e2ab","object":"Rate","created_at":"2023-05-12T21:08:08Z","updated_at":"2023-05-12T21:08:08Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_19ee6c99386e47beac93a3d5ed091a40","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a2b27b67016648c2b6b8b7b1226ec2c6","object":"Rate","created_at":"2023-05-12T21:08:08Z","updated_at":"2023-05-12T21:08:08Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_19ee6c99386e47beac93a3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_19ee6c99386e47beac93a3d5ed091a40"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b50645eaab9e787de23000da571
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56f60e47f088de96bd916ebd83a24213"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_c95360cc3d8245e48968b9651ac96293","object":"Pickup","created_at":"2023-05-12T21:08:09Z","updated_at":"2023-05-12T21:08:09Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_193e1efef10911ed92233cecef1b359e","object":"Address","created_at":"2023-05-12T21:08:09+00:00","updated_at":"2023-05-12T21:08:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:08:10Z","updated_at":"2023-05-12T21:08:10Z","carrier":"USPS","pickup_id":"pickup_c95360cc3d8245e48968b9651ac96293","id":"pickuprate_32364b22730a430f922e582319ddad01","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:08:10 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_c95360cc3d8245e48968b9651ac96293/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b53645eaabbe787de24000da5e6
      Content-Type:
      - application/json; charset=utf-8
      E[...]
