---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f76626c3261e786bce500469c3e
      Location:
      - "/api/v2/shipments/shp_2f9488a42b43445f9abcb48d0357e20e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55aece30f7c540a174fef211a6ca4097"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T18:45:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117183373","updated_at":"2022-04-29T18:45:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_98e817dfc7ec11eca754ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:53+00:00","updated_at":"2022-04-29T18:45:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f2e496275bb4465f8c18afac1634c0b3","object":"Parcel","created_at":"2022-04-29T18:45:53Z","updated_at":"2022-04-29T18:45:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5fcdd531e6884ab580a40b68873ca10e","created_at":"2022-04-29T18:45:53Z","updated_at":"2022-04-29T18:45:53Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-29T18:45:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220429/7e3d39363a314a3ba8094fc9d02aeffb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_96f2cbd306fc40de9785ef530e97c2eb","object":"Rate","created_at":"2022-04-29T18:45:53Z","updated_at":"2022-04-29T18:45:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2f9488a42b43445f9abcb48d0357e20e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d82bcaafa5d44c43946ba1539adab71c","object":"Rate","created_at":"2022-04-29T18:45:53Z","updated_at":"2022-04-29T18:45:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2f9488a42b43445f9abcb48d0357e20e","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-01","max_datetime":"2022-05-01","instructions":"Pickup
        at front door","shipment":{"id":"shp_2f9488a42b43445f9abcb48d0357e20e"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f79626c3262e786bce600469cba
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0053cdd65ccf9966a3e95f32a030822"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_f034ff29a7724147956e38725d73ea6d","object":"Pickup","created_at":"2022-04-29T18:45:54Z","updated_at":"2022-04-29T18:45:54Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_998831fac7ec11ec8ab9ac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:45:54+00:00","updated_at":"2022-04-29T18:45:54+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:45:55Z","updated_at":"2022-04-29T18:45:55Z","carrier":"USPS","pickup_id":"pickup_f034ff29a7724147956e38725d73ea6d","id":"pickuprate_55e38babb58744c5aeff1795162ba49e","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:45:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f034ff29a7724147956e38725d73ea6d/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f73626c3263e786bcff00469d48
      Content-Type:
      - application/json; charset=utf-8
  [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f034ff29a7724147956e38725d73ea6d/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f75626c3265e786bd0000469de9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8f556bbee06[...]
