---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201762e82c81e789faa4003a12aa
      Location:
      - "/api/v2/shipments/shp_cd57346b642449a8892bfd5ab881ac8b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03730aa0562dfc8f88b2f2fd6c6d0276"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:41:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078600","updated_at":"2022-08-01T19:41:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_fe9fef3a11d111edb724ac1f6bc72124","object":"Address","created_at":"2022-08-01T19:41:53+00:00","updated_at":"2022-08-01T19:41:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_425af3329bc1411cb1bd5c50882eca6d","object":"Parcel","created_at":"2022-08-01T19:41:53Z","updated_at":"2022-08-01T19:41:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5163df37a216470c9206e9e19999051b","created_at":"2022-08-01T19:41:54Z","updated_at":"2022-08-01T19:41:54Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:41:54Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/17fbe<REDACTED>d2024ddc90a9bdeca28ffa79.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_60a9570801614620b1ba944b42205f8c","object":"Rate","created_at":"2022-08-01T19:41:53Z","updated_at":"2022-08-01T19:41:53Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cd57346b642449a8892bfd5ab881ac8b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_401f029c74074e909cc1bca3653ed34b","object":"Rate","created_at":"2022-08-01T19:41:53Z","updated_at":"2022-08-01T19:41:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_cd57346b642[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-08-03","max_datetime":"2022-08-03","instructions":"Pickup
        at front door","shipment":{"id":"shp_cd57346b642449a8892bfd5ab881ac8b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201a62e82c82e789faa5003a1384
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"971b6b6fccd25070cb2204b54170ca91"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_80ad30ae7b3c4afd91d9ceb04213a2fe","object":"Pickup","created_at":"2022-08-01T19:41:54Z","updated_at":"2022-08-01T19:41:54Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-03T00:00:00Z","max_datetime":"2022-08-03T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_ff59ee9f11d111ed839cac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:41:54+00:00","updated_at":"2022-08-01T19:41:54+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-01T19:41:55Z","updated_at":"2022-08-01T19:41:55Z","carrier":"USPS","pickup_id":"pickup_80ad30ae7b3c4afd91d9ceb04213a2fe","id":"pickuprate_65c408ff40e04f48baa86352f3deded1","object":"PickupRate"}]}'
  recorded_at: Mon, 01 Aug 2022 19:41:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_80ad30ae7b3c4afd91d9ceb04213a2fe/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c83e789faa6003a1422
      Content-Type:
      - application/json; charset=utf-8
      E[...]
