---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c951506333d04bf0ea72c0000d484f
      Location:
      - "/api/v2/shipments/shp_c1bf62489b7049ea8ed0d9e48e8938c9"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6409c3428a3b352bbe83574cbbdfe85"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:40:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841824","updated_at":"2022-09-28T04:40:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b6897ac23ee711ed91e7ac1f6bc7bdc6","object":"Address","created_at":"2022-09-28T04:40:43+00:00","updated_at":"2022-09-28T04:40:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_50500f6c3ab643929aef45a29a3ccc79","object":"Parcel","created_at":"2022-09-28T04:40:43Z","updated_at":"2022-09-28T04:40:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b50da7a446eb4d26b0741e1d27aade47","created_at":"2022-09-28T04:40:44Z","updated_at":"2022-09-28T04:40:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:40:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/cb70a40e71c84cc19d8582dfed501a81.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ffa8f13dac5e45c7b63add7504204193","object":"Rate","created_at":"2022-09-28T04:40:44Z","updated_at":"2022-09-28T04:40:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c1bf62489b7049ea8ed0d9e48e8938c9","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9cf0669e8f7446e186426ead98151cac","object":"Rate","created_at":"2022-09-28T04:40:44Z","updated_at":"2022-09-28T04:40:44Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_c1bf62489b7049ea8ed0d9[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_c1bf62489b7049ea8ed0d9e48e8938c9"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c951496333d04df0ea72c1000d489b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e32bd99ab2650b01214ce5c07710aa2"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_df75bf159ec74873899659d69718a7bd","object":"Pickup","created_at":"2022-09-28T04:40:45Z","updated_at":"2022-09-28T04:40:45Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b795ddfb3ee711edbd09ac1f6bc7b362","object":"Address","created_at":"2022-09-28T04:40:45+00:00","updated_at":"2022-09-28T04:40:45+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:40:46Z","updated_at":"2022-09-28T04:40:46Z","carrier":"USPS","pickup_id":"pickup_df75bf159ec74873899659d69718a7bd","id":"pickuprate_086e9e6249894e13b512342092028f76","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:40:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_df75bf159ec74873899659d69718a7bd/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514a6333d04ef0ea72c2000d48cd
      Content-Type:
      - application/json; charset=utf-8
      E[...]
