---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7b62e2e48eec50d5cd0037eff4
      Location:
      - "/api/v2/shipments/shp_2d5fcbe61a214a319b71fc2e294db149"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fccb109a3eb0e5797635c59305e11af0"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478869","updated_at":"2022-07-28T19:33:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2b9fa1220eac11ed9507ac1f6b0a0d1e","object":"Address","created_at":"2022-07-28T19:33:34+00:00","updated_at":"2022-07-28T19:33:34+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a39f455db27a426886cb4862e13bfeff","object":"Parcel","created_at":"2022-07-28T19:33:34Z","updated_at":"2022-07-28T19:33:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8f9637e0540746749a4b9b79e727ac7a","created_at":"2022-07-28T19:33:35Z","updated_at":"2022-07-28T19:33:35Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/e21a50b788944980b8d70f570a1d75ac.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ae2a93e8ce224fcba97df0a3cb3093c0","object":"Rate","created_at":"2022-07-28T19:33:34Z","updated_at":"2022-07-28T19:33:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2d5fcbe61a214a319b71fc2e294db149","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_38f15748a10242d083b45899d85a35ff","object":"Rate","created_at":"2022-07-28T19:33:34Z","updated_at":"2022-07-28T19:33:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2d5fcbe61a214a319b7[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-07-29","max_datetime":"2022-07-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_2d5fcbe61a214a319b71fc2e294db149"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7662e2e48ffa8d8ac50037f06e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d741e0ed08c3c21a4efabcdc70c8d9b"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_2fb0a7aa6c4e4bf289459c7c7c11b32a","object":"Pickup","created_at":"2022-07-28T19:33:35Z","updated_at":"2022-07-28T19:33:35Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_2c3e7c950eac11ed9143ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:35+00:00","updated_at":"2022-07-28T19:33:35+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:36Z","updated_at":"2022-07-28T19:33:36Z","carrier":"USPS","pickup_id":"pickup_2fb0a7aa6c4e4bf289459c7c7c11b32a","id":"pickuprate_aa0720b1c2174e88bbca1d815621cb7f","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_2fb0a7aa6c4e4bf289459c7c7c11b32a/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e490ec505fbb0037f0a8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa5983326b7103cd21437a9931c7d629"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_2fb0a7aa6c4e4bf289459c7c7c11b32a","object":"Pickup","created_at":"2022-07-28T19:33:35Z","updated_at":"2022-07-28T19:33:37Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC61989072","address":{"id":"adr_2c3e7c950eac11ed9143ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:35+00:00","updated_at":"2022-07-28T19:33:35+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:36Z","updated_at":"2022-07-28T19:33:36Z","carrier":"USPS","pickup_id":"pickup_2fb0a7aa6c4e4bf289459c7c7c11b32a","id":"pickuprate_aa0720b1c2174e88bbca1d815621cb7f","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:37 GMT
recorded_with: VCR 6.0.0
