---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 00c206cc65b00b23e78848e70007df76
      Location:
      - "/api/v2/shipments/shp_31f38506072f408aa61389143db3d948"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:53:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011758281","updated_at":"2024-01-23T18:53:24Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_af4b09b2ba2011eebb99ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:53:23+00:00","updated_at":"2024-01-23T18:53:23+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8935945191b240b3a6291276da66226a","object":"Parcel","created_at":"2024-01-23T18:53:23Z","updated_at":"2024-01-23T18:53:23Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3a0588508dfb4d65bdd1572758dbea1c","created_at":"2024-01-23T18:53:24Z","updated_at":"2024-01-23T18:53:24Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:53:24Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e8de5a5eadbfa843678acd2e90abdde9d0.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_42069232ec314c718e1615b3c8fb36fa","object":"Rate","created_at":"2024-01-23T18:53:23Z","updated_at":"2024-01-23T18:53:23Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_31f38506072f408aa61389143db3d948","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e4be9a6a24d546a3bed61b565a3542ac","object":"Rate","created_at":"2024-01-23T18:53:23Z","updated_at":"2024-01-23T18:53:23Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_31f38506072f408aa61[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-01-24","max_datetime":"2024-01-24","instructions":"Pickup
        at front door","shipment":{"id":"shp_31f38506072f408aa61389143db3d948"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206cc65b00b25e7884bf60007e07d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"pickup_4f0e1ad881e847558cf7144843519ff6","object":"Pickup","created_at":"2024-01-23T18:53:25Z","updated_at":"2024-01-23T18:53:25Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b01cc885ba2011ee95f5ac1f6bc539ae","object":"Address","created_at":"2024-01-23T18:53:25+00:00","updated_at":"2024-01-23T18:53:25+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-01-23T18:53:26Z","updated_at":"2024-01-23T18:53:26Z","carrier":"USPS","pickup_id":"pickup_4f0e1ad881e847558cf7144843519ff6","id":"pickuprate_e4a3220de0aa43f2a1597ae2025fad19","object":"PickupRate"}]}'
  recorded_at: Tue, 23 Jan 2024 18:53:26 GMT
recorded_with: VCR 6.2.0
