---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7862e2e496ec3dba560037f293
      Location:
      - "/api/v2/shipments/shp_e3192241452e44b0ac79e1a77b382c55"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ab2185fe9e5c199299780baeae38eb0"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478906","updated_at":"2022-07-28T19:33:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_30382a970eac11ed99d7ac1f6b0a0d1e","object":"Address","created_at":"2022-07-28T19:33:42+00:00","updated_at":"2022-07-28T19:33:42+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9c690bf2736c4be1b0923f1feee846d6","object":"Parcel","created_at":"2022-07-28T19:33:42Z","updated_at":"2022-07-28T19:33:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2586683a652a47a894420b943c7147d0","created_at":"2022-07-28T19:33:42Z","updated_at":"2022-07-28T19:33:43Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:42Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/2efbae62fcad4d39a4485f6035a170b2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0bc00ac614c94dc0b5df4d042c89bad8","object":"Rate","created_at":"2022-07-28T19:33:42Z","updated_at":"2022-07-28T19:33:42Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e3192241452e44b0ac79e1a77b382c55","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_206137f8c3e14a5797dae059e5dbe8ad","object":"Rate","created_at":"2022-07-28T19:33:42Z","updated_at":"2022-07-28T19:33:42Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e3192241452e44b0ac79e1[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-07-29","max_datetime":"2022-07-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_e3192241452e44b0ac79e1a77b382c55"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e497ec95f2580037f2fb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9b4f20b840b4f89fc09dc5083f73b51"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f9c380b0c0d244a79e4d593a3c066af8","object":"Pickup","created_at":"2022-07-28T19:33:43Z","updated_at":"2022-07-28T19:33:43Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_30d02a4e0eac11ed95fcac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:43+00:00","updated_at":"2022-07-28T19:33:43+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:44Z","updated_at":"2022-07-28T19:33:44Z","carrier":"USPS","pickup_id":"pickup_f9c380b0c0d244a79e4d593a3c066af8","id":"pickuprate_6d4b358896a14ab8baaec7dcd7632593","object":"PickupRate"}]}'
  recorded_at: Thu, 28 Jul 2022 19:33:44 GMT
recorded_with: VCR 6.0.0
