---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066396216a7cbe788f747004181ec
      Location:
      - "/api/v2/shipments/shp_40a7ab22b08e47d28fa8b400eb43fa14"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e31e66ac91f4abcbce17e3ee2b35c14"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T21:31:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108754387","updated_at":"2022-02-23T21:31:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_05be9e1b94f011eca969ac1f6bc7b362","object":"Address","created_at":"2022-02-23T21:31:55+00:00","updated_at":"2022-02-23T21:31:55+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a14987681436410584dcaa77209c45c4","object":"Parcel","created_at":"2022-02-23T21:31:55Z","updated_at":"2022-02-23T21:31:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3b4f1af2b85145329dcc55f7454989b3","created_at":"2022-02-23T21:31:55Z","updated_at":"2022-02-23T21:31:55Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T21:31:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/90a096653eb4419ba24afc166fbfd6cb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c267b508c2b64df3960ee4ea393e479b","object":"Rate","created_at":"2022-02-23T21:31:55Z","updated_at":"2022-02-23T21:31:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_40a7ab22b08e47d28fa8b400eb43fa14","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1319bee0baf6470aad54e173c828b37d","object":"Rate","created_at":"2022-02-23T21:31:55Z","updated_at":"2022-02-23T21:31:55Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_40a7ab22b08e47d28fa8b400eb43fa14","carrie[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-02-24","max_datetime":"2022-02-25","instructions":"Pickup
        at front door","shipment":{"id":"shp_40a7ab22b08e47d28fa8b400eb43fa14"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b40663b6216a7cce788f7480041823c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65507c5acac8d1f33a813b10db3132e2"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_6609198ad2f04233800014dfc951d55a","object":"Pickup","created_at":"2022-02-23T21:31:56Z","updated_at":"2022-02-23T21:31:56Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-02-24T00:00:00Z","max_datetime":"2022-02-25T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0674383294f011ec9f74ac1f6bc72124","object":"Address","created_at":"2022-02-23T21:31:56+00:00","updated_at":"2022-02-23T21:31:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-02-23T21:31:56Z","updated_at":"2022-02-23T21:31:56Z","carrier":"USPS","pickup_id":"pickup_6609198ad2f04233800014dfc951d55a","id":"pickuprate_74674913d6794f87b92469f8f410831c","object":"PickupRate"}]}'
  recorded_at: Wed, 23 Feb 2022 21:31:56 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_6609198ad2f04233800014dfc951d55a/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066376216a7cde788f7490041826c
      Content-Type:
      - application/json; charset=utf-8
  [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_6609198ad2f04233800014dfc951d55a/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066366216a7cee788f74a004182a8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a71038cdc97[...]
