---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652db9e0dc93eb0006e97f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e6447ed9f8cf36afd41a5db355575259"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_94ad3bfcd6e7431da8754a82f554f511","object":"Pickup","created_at":"2023-05-17T19:40:39Z","updated_at":"2023-05-17T19:40:39Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b40efcbff4ea11edac42ac1f6bc72124","object":"Address","created_at":"2023-05-17T19:40:39+00:00","updated_at":"2023-05-17T19:40:39+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:40Z","updated_at":"2023-05-17T19:40:40Z","carrier":"USPS","pickup_id":"pickup_94ad3bfcd6e7431da8754a82f554f511","id":"pickuprate_d9ec1ea7e7f6445399c60325febb9d3b","object":"PickupRate"}]},{"id":"pickup_f7e95c6535094b4c827213344d513cf8","object":"Pickup","created_at":"2023-05-17T19:40:35Z","updated_at":"2023-05-17T19:40:35Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
