---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b50645eaaabe787dde9000d9fb8
      Location:
      - "/api/v2/shipments/shp_e1784217de734dd3926d8f82df82ea79"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ae6528002e4e3276f0d2dde6694354d"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:07:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141477","updated_at":"2023-05-12T21:07:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_10e092fff10911edb2fb3cecef1b359e","object":"Address","created_at":"2023-05-12T21:07:55+00:00","updated_at":"2023-05-12T21:07:55+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2c78cb9d94794889b32f259912242c98","object":"Parcel","created_at":"2023-05-12T21:07:55Z","updated_at":"2023-05-12T21:07:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0b9ee70b7d5f4f49ac08dece336288dd","created_at":"2023-05-12T21:07:56Z","updated_at":"2023-05-12T21:07:56Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:07:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/9974fa698d044303a7d8d1bb2b37da1a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_4e79f6c2cf0a4c67a1301b47de13eee2","object":"Rate","created_at":"2023-05-12T21:07:55Z","updated_at":"2023-05-12T21:07:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e1784217de734dd3926d8f82df82ea79","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c6d9bc07707a44e89a5c6e7891e1c267","object":"Rate","created_at":"2023-05-12T21:07:55Z","updated_at":"2023-05-12T21:07:55Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_e1784217de734dd3926d8f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_e1784217de734dd3926d8f82df82ea79"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b4e645eaaade787de01000da060
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"018445bc6dac967d96950e8ae2460ca5"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_54bfc3574c2a4844abd47f59850823db","object":"Pickup","created_at":"2023-05-12T21:07:57Z","updated_at":"2023-05-12T21:07:57Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_11cf9b58f10911ed9dadac1f6bc7bdc6","object":"Address","created_at":"2023-05-12T21:07:57+00:00","updated_at":"2023-05-12T21:07:57+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:07:58Z","updated_at":"2023-05-12T21:07:58Z","carrier":"USPS","pickup_id":"pickup_54bfc3574c2a4844abd47f59850823db","id":"pickuprate_2ecbbc8e4f4c44408f6dd2f35f114f7a","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:07:58 GMT
recorded_with: VCR 6.1.0
