---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f73626c3266e786bd0100469e56
      Location:
      - "/api/v2/shipments/shp_a407a8e7a65f4001a21b39664d412609"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"244f86754fb4db85a04dbce4edc2c6ab"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T18:45:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117183397","updated_at":"2022-04-29T18:45:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9bddcdf9c7ec11ec8b8aac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:45:58+00:00","updated_at":"2022-04-29T18:45:58+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_bbf96056940c4a828d8f8c07abce3a5f","object":"Parcel","created_at":"2022-04-29T18:45:58Z","updated_at":"2022-04-29T18:45:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f47b1121b40d49d0a95216c505723582","created_at":"2022-04-29T18:45:58Z","updated_at":"2022-04-29T18:45:58Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-29T18:45:58Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220429/a7d2a7f7306c4511b06178439263040c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_2fbbbfd8079346189e34764412d6ae95","object":"Rate","created_at":"2022-04-29T18:45:58Z","updated_at":"2022-04-29T18:45:58Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a407a8e7a65f4001a21b39664d412609","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_77530dd3f82248b78fa7c77c6991d14d","object":"Rate","created_at":"2022-04-29T18:45:58Z","updated_at":"2022-04-29T18:45:58Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a407a8e7a65f4001a21b39664d412609","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-01","max_datetime":"2022-05-01","instructions":"Pickup
        at front door","shipment":{"id":"shp_a407a8e7a65f4001a21b39664d412609"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f73626c3267e786bd0200469ed3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef0ec524107c5cefbc5c371b1026bee2"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_0f807ac1e3a44740aee59eb82765126a","object":"Pickup","created_at":"2022-04-29T18:45:59Z","updated_at":"2022-04-29T18:45:59Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_9c97bc44c7ec11eca89dac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:59+00:00","updated_at":"2022-04-29T18:45:59+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:46:00Z","updated_at":"2022-04-29T18:46:00Z","carrier":"USPS","pickup_id":"pickup_0f807ac1e3a44740aee59eb82765126a","id":"pickuprate_f871f9ebb0734dfca3a7086dcf71503f","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:46:00 GMT
recorded_with: VCR 6.0.0
