---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 761411d46567d8a6ee7c73150003f696
      Location:
      - "/api/v2/shipments/shp_41288193ea104f0dbe4325029349ac14"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:34:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286716822","updated_at":"2023-11-30T00:34:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_430eb8528f1811ee8cf2ac1f6bc53342","object":"Address","created_at":"2023-11-30T00:34:46+00:00","updated_at":"2023-11-30T00:34:46+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c808e150cfa74651a31711f58f6acdbe","object":"Parcel","created_at":"2023-11-30T00:34:46Z","updated_at":"2023-11-30T00:34:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_309366702bf84e47b3c1d0380f2c3dcc","created_at":"2023-11-30T00:34:46Z","updated_at":"2023-11-30T00:34:46Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:34:46Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e8f31b41675e924cccb65d877d41a17319.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8d4e42d49d964b8d8e0dd55ffd452741","object":"Rate","created_at":"2023-11-30T00:34:46Z","updated_at":"2023-11-30T00:34:46Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_41288193ea104f0dbe4325029349ac14","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_30d3b7662b434012841d0a4328c1d2be","object":"Rate","created_at":"2023-11-30T00:34:46Z","updated_at":"2023-11-30T00:34:46Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_41288193ea104f0dbe[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-12-04","max_datetime":"2023-12-04","instructions":"Pickup
        at front door","shipment":{"id":"shp_41288193ea104f0dbe4325029349ac14"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6756487e6567d8a7ee7d939700043247
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"pickup_7738d9cc51294665a1e467dcf99c27f0","object":"Pickup","created_at":"2023-11-30T00:34:47Z","updated_at":"2023-11-30T00:34:47Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-12-04T00:00:00Z","max_datetime":"2023-12-04T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_43a906638f1811eebb7eac1f6bc539aa","object":"Address","created_at":"2023-11-30T00:34:47+00:00","updated_at":"2023-11-30T00:34:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-11-30T00:34:47Z","updated_at":"2023-11-30T00:34:47Z","carrier":"USPS","pickup_id":"pickup_7738d9cc51294665a1e467dcf99c27f0","id":"pickuprate_70ef0ba1347c45d5ae01f7e2077c3483","object":"PickupRate"}]}'
  recorded_at: Thu, 30 Nov 2023 00:34:47 GMT
recorded_with: VCR 6.2.0
