---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e364640c66e78738000048add3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff9d164b477ca5dd372749043d59b6f8"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_c36bb3ade4f047f7bb7f3876def273ea","object":"Pickup","created_at":"2023-05-16T23:06:13Z","updated_at":"2023-05-16T23:06:13Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_40c8a67af43e11ed806aac1f6bc53342","object":"Address","created_at":"2023-05-16T23:06:13+00:00","updated_at":"2023-05-16T23:06:13+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:06:13Z","updated_at":"2023-05-16T23:06:13Z","carrier":"USPS","pickup_id":"pickup_c36bb3ade4f047f7bb7f3876def273ea","id":"pickuprate_012853d038ff4159ac557d569ea5334c","object":"PickupRate"}]},{"id":"pickup_de6ec5088e9143258e75564edb4edae9","object":"Pickup","created_at":"2023-05-16T23:06:10Z","updated_at":"2023-05-16T23:06:10Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
