---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4ac1f1bc64606301e0dbfee5000a2077
      Location:
      - "/api/v2/shipments/shp_2222c0cb5af243859ae7e80b8006017a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ce94b3c0caf2dc1107dbea0fcfd7cf5"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514165","updated_at":"2023-05-14T04:26:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_86a8908bf20f11eda2fdac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:26:41+00:00","updated_at":"2023-05-14T04:26:41+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f036efa51ea749c58e6b2ca2b18aee03","object":"Parcel","created_at":"2023-05-14T04:26:41Z","updated_at":"2023-05-14T04:26:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0c3914565d9442ccbb89f6<REDACTED>e789d42","created_at":"2023-05-14T04:26:42Z","updated_at":"2023-05-14T04:26:42Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:26:42Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/765454737a594f7c867e58d10886de9a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_debbd1f3ded141cdb4c184c8ad4dce75","object":"Rate","created_at":"2023-05-14T04:26:41Z","updated_at":"2023-05-14T04:26:41Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_2222c0cb5af243859ae7e80b8006017a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_483b0d88ed6047039dfa3ec3fbe0f273","object":"Rate","created_at":"2023-05-14T04:26:41Z","updated_at":"2023-05-14T04:26:41Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2222c0cb5af[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_2222c0cb5af243859ae7e80b8006017a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4b4bfcb964606302e0dbfee6001feb3e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"942b5bd99e97123a734512e606d54112"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_9af37a249f2e4a2d918c832236f098ac","object":"Pickup","created_at":"2023-05-14T04:26:43Z","updated_at":"2023-05-14T04:26:43Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_877dc845f20f11ed86d7ac1f6bc7bdc6","object":"Address","created_at":"2023-05-14T04:26:42+00:00","updated_at":"2023-05-14T04:26:42+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:26:43Z","updated_at":"2023-05-14T04:26:43Z","carrier":"USPS","pickup_id":"pickup_9af37a249f2e4a2d918c832236f098ac","id":"pickuprate_620016c4574f4a29a0d6af531e3e9e2b","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:26:43 GMT
recorded_with: VCR 6.1.0
