---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb55625474c5e786b3fe00232d7c'
      Location:
      - "/api/v2/shipments/shp_89c8b7cacc8d424b9fcae6c5b91a5333"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"341cad3a6c4d220661aacf2e3f2af6de"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-11T18:34:45Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114522113","updated_at":"2022-04-11T18:34:46Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0f4a33bbb9c611ec9b71ac1f6bc72124","object":"Address","created_at":"2022-04-11T18:34:45+00:00","updated_at":"2022-04-11T18:34:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a175ade726814579878b3a1909587176","object":"Parcel","created_at":"2022-04-11T18:34:45Z","updated_at":"2022-04-11T18:34:45Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f9752b2e2dfe4fb1a2543848196cc224","created_at":"2022-04-11T18:34:45Z","updated_at":"2022-04-11T18:34:46Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T18:34:45Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/b86f568e7eb94865aadb7df3c41d8d85.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9667fbb152b3487a833dbe8956477bc4","object":"Rate","created_at":"2022-04-11T18:34:45Z","updated_at":"2022-04-11T18:34:45Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_89c8b7cacc8d424b9fcae6c5b91a5333","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_56ad7afefc61412e877dbd3a4885cea9","object":"Rate","created_at":"2022-04-11T18:34:45Z","updated_at":"2022-04-11T18:34:45Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_89c8b7cacc8d424b9fcae6c5b91a5333","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-04-12","max_datetime":"2022-04-12","instructions":"Pickup
        at front door","shipment":{"id":"shp_89c8b7cacc8d424b9fcae6c5b91a5333"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb56625474c6e786b3ff00232dd5'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2701402724fd8b7b412303beb3ea7b06"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_4a157bd73ac249d683ad717e34ba2a33","object":"Pickup","created_at":"2022-04-11T18:34:46Z","updated_at":"2022-04-11T18:34:46Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-12T00:00:00Z","max_datetime":"2022-04-12T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0ff7144cb9c611ec9ba3ac1f6bc72124","object":"Address","created_at":"2022-04-11T18:34:46+00:00","updated_at":"2022-04-11T18:34:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T18:34:47Z","updated_at":"2022-04-11T18:34:47Z","carrier":"USPS","pickup_id":"pickup_4a157bd73ac249d683ad717e34ba2a33","id":"pickuprate_9f5b33aa06164f319b543ed0c8601b80","object":"PickupRate"}]}'
  recorded_at: Mon, 11 Apr 2022 18:34:47 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_4a157bd73ac249d683ad717e34ba2a33/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb57625474c7e786b40000232e37'
      Content-Type:
      - application/json; charset=utf-8
[...]
