---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652db5e0dc93e80006e7ff
      Location:
      - "/api/v2/shipments/shp_878b1e5a3fe84bd6b46a153b0ca8103b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5c9663716afa042f7565d1d0d4279ac"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693064","updated_at":"2023-05-17T19:40:39Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b29113e9f4ea11edbcd1ac1f6b0a0d1e","object":"Address","created_at":"2023-05-17T19:40:37+00:00","updated_at":"2023-05-17T19:40:37+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5aa5fd8e83f34000990c80edc9fd7f2a","object":"Parcel","created_at":"2023-05-17T19:40:37Z","updated_at":"2023-05-17T19:40:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_044f530a56944d90a5dd6f21030ba2fe","created_at":"2023-05-17T19:40:38Z","updated_at":"2023-05-17T19:40:39Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:38Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/bd531a8a641d4b66b370b8636473fb52.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8051ae505aec48c4b9e5ce353997e29b","object":"Rate","created_at":"2023-05-17T19:40:38Z","updated_at":"2023-05-17T19:40:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_878b1e5a3fe84bd6b46a153b0ca8103b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_363a8688d95c40468a54ca5593b2b50b","object":"Rate","created_at":"2023-05-17T19:40:38Z","updated_at":"2023-05-17T19:40:38Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_878b1e5a3fe84bd6b4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_878b1e5a3fe84bd6b46a153b0ca8103b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652db7e0dc93e90006e8f8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e307aa3beb33964966296e1cc40c6afc"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_94ad3bfcd6e7431da8754a82f554f511","object":"Pickup","created_at":"2023-05-17T19:40:39Z","updated_at":"2023-05-17T19:40:39Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b40efcbff4ea11edac42ac1f6bc72124","object":"Address","created_at":"2023-05-17T19:40:39+00:00","updated_at":"2023-05-17T19:40:39+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:40Z","updated_at":"2023-05-17T19:40:40Z","carrier":"USPS","pickup_id":"pickup_94ad3bfcd6e7431da8754a82f554f511","id":"pickuprate_d9ec1ea7e7f6445399c60325febb9d3b","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:40 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_94ad3bfcd6e7431da8754a82f554f511
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652db9e0dc93ea0006e965
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e307aa3beb33964966296e1c[...]
