---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7dacae799e0b90059f30c
      Location:
      - "/api/v2/shipments/shp_49a5217bba044575bc5e301ccca96a71"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:09:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068500934","updated_at":"2024-07-29T18:09:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_a9cbf4f94dd511ef806bac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:09:14+00:00","updated_at":"2024-07-29T18:09:14+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ecdc35d03f6e4804a156e41a448094b1","object":"Parcel","created_at":"2024-07-29T18:09:14Z","updated_at":"2024-07-29T18:09:14Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b854e1f4fb2f44509368397cac050ab7","created_at":"2024-07-29T18:09:15Z","updated_at":"2024-07-29T18:09:15Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:09:15Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e878e6435bdfd049e59239f06a5bb7387a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f30303a9a8db4e22bfeb7a627364403a","object":"Rate","created_at":"2024-07-29T18:09:14Z","updated_at":"2024-07-29T18:09:14Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_49a5217bba044575bc5e301ccca96a71","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d159b99a2b4148b798c84cdb7eefce0a","object":"Rate","created_at":"2024-07-29T18:09:14Z","updated_at":"2024-07-29T18:09:14Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_49a5217bba044575bc5e301ccca96a71","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_dd203ae2dfd94b5eacc2e417e5c322f8","object":"Rate","created_at":"2024-07-29T18:09:14Z","updated_at":"2024-07-29T18:09:14Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_49a5217bba044575bc5e301ccca96a71","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_dd203ae2dfd94b5eacc2e417e5c322f8","object":"Rate","created_at":"2024-07-29T18:09:15Z","updated_at":"2024-07-29T18:09:15Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_49a5217bba044575bc5e301ccca96a71","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_e96ac5601f3c4194ac6cf5baf84f6689","object":"Tracker","mode":"test","tracking_code":"9400100110368068500934","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:09:15Z","updated_at":"2024-07-29T18:09:15Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_49a5217bba044575bc5e301ccca96a71","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2U5NmFjNTYwMWYzYzQxOTRhYzZjZjViYWY4NGY2Njg5"},"to_address":{"id":"adr_a9c911714dd511efb27b3cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:14+00:00","updated_at":"2024-07-29T18:09:14+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_a9cbf4f94dd511ef806bac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:09:14+00:00","updated_at":"2024-07-29T18:09:14+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_a9c911714dd511efb27b3cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:14+00:00","updated_at":"2024-07-29T18:09:14+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_49a5217bba044575bc5e301ccca96a71","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:09:15 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-07-31","max_datetime":"2024-07-31","instructions":"Pickup
        at front door","shipment":{"id":"shp_49a5217bba044575bc5e301ccca96a71"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7dacbe799e0ba0059f4c3
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pickup_baef609323bd433bbbf0f3c5f9b43054","object":"Pickup","created_at":"2024-07-29T18:09:15Z","updated_at":"2024-07-29T18:09:15Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_aab465254dd511ef8014ac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:09:15+00:00","updated_at":"2024-07-29T18:09:15+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:09:16Z","updated_at":"2024-07-29T18:09:16Z","carrier":"USPS","pickup_id":"pickup_baef609323bd433bbbf0f3c5f9b43054","id":"pickuprate_ad627869d8704537bb156dc63948b810","object":"PickupRate"}]}'
  recorded_at: Mon, 29 Jul 2024 18:09:16 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_baef609323bd433bbbf0f3c5f9b43054/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dacde799e0bb0059f615
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pickup_baef609323bd433bbbf0f3c5f9b43054","object":"Pickup","created_at":"2024-07-29T18:09:15Z","updated_at":"2024-07-29T18:09:18Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC64740140","address":{"id":"adr_aab465254dd511ef8014ac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:09:15+00:00","updated_at":"2024-07-29T18:09:15+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:09:16Z","updated_at":"2024-07-29T18:09:16Z","carrier":"USPS","pickup_id":"pickup_baef609323bd433bbbf0f3c5f9b43054","id":"pickuprate_ad627869d8704537bb156dc63948b810","object":"PickupRate"}]}'
  recorded_at: Mon, 29 Jul 2024 18:09:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_baef609323bd433bbbf0f3c5f9b43054/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dacee799e0bc0059f7a9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      [...]
