---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c951506333cff2f0ea729b000d381d
      Location:
      - "/api/v2/shipments/shp_205cdf1a2eb4491db3947ed4b29d069f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"059203cda19d56533618b3c88ffb710e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:39:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841589","updated_at":"2022-09-28T04:39:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_811d7aca3ee711edb0d7ac1f6bc7b362","object":"Address","created_at":"2022-09-28T04:39:14+00:00","updated_at":"2022-09-28T04:39:14+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ab0663eb4df9473fb5b2d5986648417d","object":"Parcel","created_at":"2022-09-28T04:39:14Z","updated_at":"2022-09-28T04:39:14Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e82d106df22246ba8d901da0529ed98b","created_at":"2022-09-28T04:39:14Z","updated_at":"2022-09-28T04:39:15Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:39:14Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/29728fbd3aca40748fc7a6048dfbdd13.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_95673a46e3294e2cb33de40498249ffa","object":"Rate","created_at":"2022-09-28T04:39:14Z","updated_at":"2022-09-28T04:39:14Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_205cdf1a2eb4491db3947ed4b29d069f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_40d0f27b1b7648f38364362200412839","object":"Rate","created_at":"2022-09-28T04:39:14Z","updated_at":"2022-09-28T04:39:14Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_205cdf1a2eb[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_205cdf1a2eb4491db3947ed4b29d069f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c951496333cff3f0ea729c000d385c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2abf835687189dd753680ec21fa091f1"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f5ba2f49d7a14ef3988f781af755e54f","object":"Pickup","created_at":"2022-09-28T04:39:15Z","updated_at":"2022-09-28T04:39:15Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_81e688f73ee711ed90c4ac1f6bc72124","object":"Address","created_at":"2022-09-28T04:39:15+00:00","updated_at":"2022-09-28T04:39:15+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:39:16Z","updated_at":"2022-09-28T04:39:16Z","carrier":"USPS","pickup_id":"pickup_f5ba2f49d7a14ef3988f781af755e54f","id":"pickuprate_8225032ad74d4fd797f0a0af75110821","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:39:16 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f5ba2f49d7a14ef3988f781af755e54f/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514a6333cff4f0ea729d000d388c
      Content-Type:
      - application/json; charset=utf-8
      E[...]
