---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652dc2e0dc940b0006ecfc
      Location:
      - "/api/v2/shipments/shp_2f2af63d450346a8891bd38c28cebf8b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20768b547f9013c5a373211284828d12"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693187","updated_at":"2023-05-17T19:40:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ba34d112f4ea11ed9154ac1f6b0a0d1e","object":"Address","created_at":"2023-05-17T19:40:50+00:00","updated_at":"2023-05-17T19:40:50+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c3f29a951bf54aa2816e2148700f2847","object":"Parcel","created_at":"2023-05-17T19:40:50Z","updated_at":"2023-05-17T19:40:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4f667444da5445468c6e064b315c25da","created_at":"2023-05-17T19:40:50Z","updated_at":"2023-05-17T19:40:50Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:50Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/0d41b9843675458882b203e6c91a6ada.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e53a44f1a2414c25987ef1682dcf8dd8","object":"Rate","created_at":"2023-05-17T19:40:50Z","updated_at":"2023-05-17T19:40:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_2f2af63d450346a8891bd38c28cebf8b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_29bfb3164d4a446fb0ccd257de1ccc6e","object":"Rate","created_at":"2023-05-17T19:40:50Z","updated_at":"2023-05-17T19:40:50Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2f2af63d450346a889[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_2f2af63d450346a8891bd38c28cebf8b"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652dc3e0dc94250006ed77
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10424e7d3b9e3cda9dfda36368b73e12"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_87952b8f9fa3453b8c95f773d4dde74b","object":"Pickup","created_at":"2023-05-17T19:40:51Z","updated_at":"2023-05-17T19:40:51Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_bade27e4f4ea11ed8a4eac1f6bc539ae","object":"Address","created_at":"2023-05-17T19:40:51+00:00","updated_at":"2023-05-17T19:40:51+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:52Z","updated_at":"2023-05-17T19:40:52Z","carrier":"USPS","pickup_id":"pickup_87952b8f9fa3453b8c95f773d4dde74b","id":"pickuprate_95db63208f9a41b1b6be1bfbd96e3555","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:52 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_87952b8f9fa3453b8c95f773d4dde74b/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652dc4e0dc94260006ede3
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_87952b8f9fa3453b8c95f773d4dde74b/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652dc5e0dc94280006ee48
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b64385af7d5da2bd1[...]
