---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40b5e7873bb9003113d5
      Location:
      - "/api/v2/shipments/shp_31a6c428d7b145e3b01ca253f712aa23"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4d7b9398b4d1db74090a0b609798d9b"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873785","updated_at":"2022-05-12T17:15:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_21a96818d21711ec90e9ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:33+00:00","updated_at":"2022-05-12T17:15:33+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0f1dd76422644fe69d26b83f8aca2c79","object":"Parcel","created_at":"2022-05-12T17:15:33Z","updated_at":"2022-05-12T17:15:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_875a25196d96448abf4856624521d9a8","created_at":"2022-05-12T17:15:33Z","updated_at":"2022-05-12T17:15:33Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:33Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/5ebf739e586b4ec2ae44c8c74b8c1456.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_43a3602f09a64941b6deee4f491b886b","object":"Rate","created_at":"2022-05-12T17:15:33Z","updated_at":"2022-05-12T17:15:33Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_31a6c428d7b145e3b01ca253f712aa23","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1f0e7c462a4c4d1981d94864d3cb1b1d","object":"Rate","created_at":"2022-05-12T17:15:33Z","updated_at":"2022-05-12T17:15:33Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_31a6c428d7b145e3b01ca2[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-13","max_datetime":"2022-05-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_31a6c428d7b145e3b01ca253f712aa23"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40b6e7873bba00311421
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e5d95dfbe38f00210f8bb77202c9c8d4"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_23ba29eed1ee4fe4b105561b3573c107","object":"Pickup","created_at":"2022-05-12T17:15:34Z","updated_at":"2022-05-12T17:15:34Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_224bb42dd21711ec9120ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:34+00:00","updated_at":"2022-05-12T17:15:34+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:36Z","updated_at":"2022-05-12T17:15:36Z","carrier":"USPS","pickup_id":"pickup_23ba29eed1ee4fe4b105561b3573c107","id":"pickuprate_793c4c3513fd441aa6af8f82d5e55103","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:36 GMT
recorded_with: VCR 6.0.0
