---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201e62e82c7ee789fa8a003a10d2
      Location:
      - "/api/v2/shipments/shp_2c1a8b46a8b84f42b65319f5ffdd7a11"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8c5bf88ba2da84d2afbcea621685f715"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:41:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078594","updated_at":"2022-08-01T19:41:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_fcd1da3611d111ed874aac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:41:50+00:00","updated_at":"2022-08-01T19:41:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_913eaf330acb433c8e5f654cb7cc2b56","object":"Parcel","created_at":"2022-08-01T19:41:50Z","updated_at":"2022-08-01T19:41:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_81a8f3ed6fc4476c948345f334e58fe3","created_at":"2022-08-01T19:41:51Z","updated_at":"2022-08-01T19:41:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:41:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/2a7a99f1551e497eb92da7bed3772002.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b4754ff4081344a2afe9cc9f77506878","object":"Rate","created_at":"2022-08-01T19:41:50Z","updated_at":"2022-08-01T19:41:50Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2c1a8b46a8b84f42b65319f5ffdd7a11","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2c17168e3e154748918a01ee3248d374","object":"Rate","created_at":"2022-08-01T19:41:50Z","updated_at":"2022-08-01T19:41:50Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2c1a8b46a8b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-08-03","max_datetime":"2022-08-03","instructions":"Pickup
        at front door","shipment":{"id":"shp_2c1a8b46a8b84f42b65319f5ffdd7a11"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201b62e82c7fe789fa8b003a11ac
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abeba49e43cd19687b0d952d680e3a77"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_abf4c76903f5450b8b93baf536789a30","object":"Pickup","created_at":"2022-08-01T19:41:52Z","updated_at":"2022-08-01T19:41:52Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-03T00:00:00Z","max_datetime":"2022-08-03T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_fda67b8411d111ed87a1ac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:41:51+00:00","updated_at":"2022-08-01T19:41:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-01T19:41:53Z","updated_at":"2022-08-01T19:41:53Z","carrier":"USPS","pickup_id":"pickup_abf4c76903f5450b8b93baf536789a30","id":"pickuprate_ca1fefae327746d28d04e63cd42b07e3","object":"PickupRate"}]}'
  recorded_at: Mon, 01 Aug 2022 19:41:53 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_abf4c76903f5450b8b93baf536789a30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82c81e789faa3003a1279
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abeba49e43cd19687b0d952d[...]
