---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc75ebaf128fb420247000b7ca4
      Location:
      - "/api/v2/shipments/shp_81a88568312748ffbc533ed501adfd4c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_40478b6866744848900dacb496a8da75","object":"Address","created_at":"2020-05-12T18:55:36Z","updated_at":"2020-05-12T18:55:36Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_69a197f402c74cfa89894d5d82667ec7","object":"Parcel","created_at":"2020-05-12T18:55:36Z","updated_at":"2020-05-12T18:55:36Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fedcf0c3ef2045b984d0872902aaf177","object":"Rate","created_at":"2020-05-12T18:55:37Z","updated_at":"2020-05-12T18:55:37Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_81a88568312748ffbc533ed501adfd4c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f6aeb0a126874bbb914fbc2661006249","object":"Rate","created_at":"2020-05-12T18:55:37Z","updated_at":"2020-05-12T18:55:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_81a88568312748ffbc533ed501adfd4c","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_81a88568312748ffbc533ed501adfd4c/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_d1720282ce724c9491d905672c6315c8"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab535ebaf129fb2ee180000d4609
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"reference":"buy12345678","min_datetime":"2020-05-13T12:00:00+00:00","max_datetime":"2020-05-13T12:00:00+00:00","is_account_address":false,"instructions":"At
        the front door.","shipment":{"id":"shp_81a88568312748ffbc533ed501adfd4c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287105ebaf12cfb528286000f3df8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_5d741568eca143f6a9a93b2820494e32","object":"Pickup","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:40Z","mode":"test","status":"unknown","reference":"buy12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_b72c2666f3ee4179aa1aa98d65a10656","object":"Address","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:40Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:40Z","carrier":"UPS","pickup_id":"pickup_5d741568eca143f6a9a93b2820494e32","id":"pickuprate_de89ad346a7f41e2bd8e0b0b132699ff","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 18:55:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_5d741568eca143f6a9a93b2820494e32/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"UPS","service":"Future-day Pickup"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d55ebaf12dfb5301e5000accc7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_5d741568eca143f6a9a93b2820494e32","object":"Pickup","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:41Z","mode":"test","status":"scheduled","reference":"buy12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":"2929602E9CP","address":{"id":"adr_b72c2666f3ee4179aa1aa98d65a10656","object":"Address","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:40Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T18:55:40Z","updated_at":"2020-05-12T18:55:40Z","carrier":"UPS","pickup_id":"pickup_5d741568eca143f6a9a93b2820494e32","id":"pickuprate_de89ad346a7f41e2bd8e0b0b132699ff","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 18:55:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_5d741568eca143f6a9a93b2820494e32/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc75ebaf12dfb2e3c1e000b7e77
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
   [...]
