---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066386216a7c7e788f72d00418100
      Location:
      - "/api/v2/shipments/shp_e777bea5f66b4382b51787da0bedd772"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4d85f498cfaa7cbb9bbcde4ae78e93f"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T21:31:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108754370","updated_at":"2022-02-23T21:31:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_03b2ed5b94f011ec9ebcac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T21:31:51+00:00","updated_at":"2022-02-23T21:31:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_32fceb94ccfc4c499a50513dfe94655f","object":"Parcel","created_at":"2022-02-23T21:31:51Z","updated_at":"2022-02-23T21:31:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2db60b57e98d49209052f281be329413","created_at":"2022-02-23T21:31:52Z","updated_at":"2022-02-23T21:31:52Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T21:31:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/3f6763659df24f59b57a6f04a1203e4d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_3dd4990f6ae04425ad137828ba2050aa","object":"Rate","created_at":"2022-02-23T21:31:51Z","updated_at":"2022-02-23T21:31:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e777bea5f66b4382b51787da0bedd772","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e391fc32067b4d6e98721baeae11a417","object":"Rate","created_at":"2022-02-23T21:31:51Z","updated_at":"2022-02-23T21:31:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e777bea5f66b4382b51787da0bedd772","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-02-24","max_datetime":"2022-02-25","instructions":"Pickup
        at front door","shipment":{"id":"shp_e777bea5f66b4382b51787da0bedd772"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066396216a7c8e788f72e00418158
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a287df84fa785afffe53c136900776e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_2c4c19949c2e4b47bfb4df367f27a41f","object":"Pickup","created_at":"2022-02-23T21:31:52Z","updated_at":"2022-02-23T21:31:52Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-02-24T00:00:00Z","max_datetime":"2022-02-25T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_044fa8ca94f011eca91bac1f6bc7b362","object":"Address","created_at":"2022-02-23T21:31:52+00:00","updated_at":"2022-02-23T21:31:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-02-23T21:31:53Z","updated_at":"2022-02-23T21:31:53Z","carrier":"USPS","pickup_id":"pickup_2c4c19949c2e4b47bfb4df367f27a41f","id":"pickuprate_360608c2eda340b3a57e334d5dd34ac5","object":"PickupRate"}]}'
  recorded_at: Wed, 23 Feb 2022 21:31:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_2c4c19949c2e4b47bfb4df367f27a41f/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b40663b6216a7c9e788f72f00418195
      Content-Type:
      - application/json; charset=utf-8
  [...]
