---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b55645eaab2e787de05000da226
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7119af96aa6ddad178a251a81ea00577"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_476ffed9fa1a4b96a6cca969bb545d3b","object":"Pickup","created_at":"2023-05-12T21:08:00Z","updated_at":"2023-05-12T21:08:00Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_13a80722f10911edbd5a3cecef1b359e","object":"Address","created_at":"2023-05-12T21:08:00+00:00","updated_at":"2023-05-12T21:08:00+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:08:01Z","updated_at":"2023-05-12T21:08:01Z","carrier":"USPS","pickup_id":"pickup_476ffed9fa1a4b96a6cca969bb545d3b","id":"pickuprate_d9e27cdda68c4124ae17568c71ce1c86","object":"PickupRate"}]},{"id":"pickup_54bfc3574c2a4844abd47f59850823db","object":"Pickup","created_at":"2023-05-12T21:07:57Z","updated_at":"2023-05-12T21:07:57Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
