---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c9514b6333cffff0ea72bc000d3ab6
      Location:
      - "/api/v2/shipments/shp_cf3aadb5f2ac43d88fe529cacdd7dffa"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0515f6400d37fd6e5566fe4015125142"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:39:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841664","updated_at":"2022-09-28T04:39:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_89216d4d3ee711edb461ac1f6bc72124","object":"Address","created_at":"2022-09-28T04:39:27+00:00","updated_at":"2022-09-28T04:39:27+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a547d092d3234f6095752f7f4699ef1e","object":"Parcel","created_at":"2022-09-28T04:39:27Z","updated_at":"2022-09-28T04:39:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_bc6d03c6af7a4bfa9da0c444b0f40613","created_at":"2022-09-28T04:39:28Z","updated_at":"2022-09-28T04:39:28Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:39:28Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/2d1e652f59f448ce9e3ba4e75556afdd.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c33570f37d6641a6a08a9e219c2de72e","object":"Rate","created_at":"2022-09-28T04:39:27Z","updated_at":"2022-09-28T04:39:27Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_cf3aadb5f2ac43d88fe529cacdd7dffa","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c5edd1159e934476a068676f7ba4857b","object":"Rate","created_at":"2022-09-28T04:39:27Z","updated_at":"2022-09-28T04:39:27Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_cf3aadb5f2ac43d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_cf3aadb5f2ac43d88fe529cacdd7dffa"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514c6333d001f0ea72bd000d3adb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a1f7a4a8c39071e669730d8cb3d07f9"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_5b954df5448f41b39ab7095abc8d40ab","object":"Pickup","created_at":"2022-09-28T04:39:29Z","updated_at":"2022-09-28T04:39:29Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_89ee242d3ee711edb87fac1f6bc72124","object":"Address","created_at":"2022-09-28T04:39:29+00:00","updated_at":"2022-09-28T04:39:29+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:39:29Z","updated_at":"2022-09-28T04:39:29Z","carrier":"USPS","pickup_id":"pickup_5b954df5448f41b39ab7095abc8d40ab","id":"pickuprate_65566341b2804ae29cda686082e9888f","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:39:29 GMT
recorded_with: VCR 6.0.0
