---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][company]=Airport%20Shipping&shipment[from_address][street1]=601%20Brasilia%20Avenue&shipment[from_address][city]=Kansas%20City&shipment[from_address][state]=MO&shipment[from_address][zip]=64153&shipment[from_address][phone]=314-924-0383&shipment[from_address][email]=kansas_shipping%40example.com&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 87a3a75f5eb9f3b5fb4179ea000009f5
      Location:
      - "/api/v2/shipments/shp_76d2fc33a235452ebbccfd98521afcd0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T00:54:13Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T00:54:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f3d79e5b251a4726947532d7eb42ad92","object":"Address","created_at":"2020-05-12T00:54:13Z","updated_at":"2020-05-12T00:54:13Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0c45697bead141a9a0a6f5bcd3e4f012","object":"Parcel","created_at":"2020-05-12T00:54:13Z","updated_at":"2020-05-12T00:54:13Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_97a25d6820d8490d8845f474bca2c88e","object":"Rate","created_at":"2020-05-12T00:54:14Z","updated_at":"2020-05-12T00:54:14Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_76d2fc33a235452ebbccfd98521afcd0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5ca68d52ab944e76a2b768a3c306790b","object":"Rate","created_at":"2020-05-12T00:54:14Z","updated_at":"2020-05-12T00:54:14Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_76d2fc33a235452ebbccfd98521afcd0","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_76d2fc33a235452ebbccfd98521afcd0/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_b5c0e23c8b574520ab809577a7ac6353
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a15afe7d5eb9f3b6fb57698f0001ee54
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: pickup[address][company]=EasyPost&pickup[address][street1]=164%20Townsend%20Street&pickup[address][street2]=Unit%201&pickup[address][city]=San%20Francisco&pickup[address][state]=CA&pickup[address][zip]=94107&pickup[address][phone]=415-123-4567&pickup[reference]=buy12345678&pickup[min_datetime]=2020-05-13T12%3A00%3A00%2B00%3A00&pickup[max_datetime]=2020-05-13T12%3A00%3A00%2B00%3A00&pickup[is_account_address]=false&pickup[instructions]=At%20the%20front%20door.&pickup[shipment][id]=shp_76d2fc33a235452ebbccfd98521afcd0
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d2411b7e5eb9f3b8fb0a0fc800006519
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_4118c8e889a94b88b17ef4dae0ce5e4b","object":"Pickup","created_at":"2020-05-12T00:54:16Z","updated_at":"2020-05-12T00:54:16Z","mode":"test","status":"unknown","reference":"buy12345678","min_datetime":"2020-05-13T12:00:00Z","max_datetime":"2020-05-13T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_b4e22c87d6b549ca9a6c5114cf4e4e8e","object":"Address","created_at":"2020-05-12T00:54:16Z","updated_at":"2020-05-12T00:54:16Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"6.18","currency":"USD","created_at":"2020-05-12T00:54:17Z","updated_at":"2020-05-12T00:54:17Z","carrier":"UPS","pickup_id":"pickup_4118c8e889a94b88b17ef4dae0ce5e4b","id":"pickuprate_ab3a5729316f4581be831f16c74d99ac","object":"PickupRate"}]}'
  recorded_at: Tue, 12 May 2020 00:54:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_4118c8e889a94b88b17ef4dae0ce5e4b/buy
    body:
      encoding: UTF-8
      string: carrier=UPS&service=Future-day%20Pickup
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0059c8425eb9f3b9f531a4d20001d58a'
      Content-Type:
      - application/json[...]
