---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f52632e786c91e0027febd
      Location:
      - "/api/v2/shipments/shp_d07122ed77244a49acdf05c60ad581f8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f0e32bb8524284ac546af6963fa26e9"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685975","updated_at":"2022-08-11T15:54:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e0776864198d11ed847cac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:26+00:00","updated_at":"2022-08-11T15:54:26+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e7e07b9f14a140ea8cabcfa66e5ec25b","object":"Parcel","created_at":"2022-08-11T15:54:26Z","updated_at":"2022-08-11T15:54:26Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7daa637d8e5440eea4ef2601232ad864","created_at":"2022-08-11T15:54:27Z","updated_at":"2022-08-11T15:54:27Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:27Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/681df6d26211482bad45bdb710f54fd1.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9fe97a3a94cc4dd2816256bf01823eec","object":"Rate","created_at":"2022-08-11T15:54:26Z","updated_at":"2022-08-11T15:54:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d07122ed77244a49acdf05c60ad581f8","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3fb6b31743c14a8f84930d36590e1ef2","object":"Rate","created_at":"2022-08-11T15:54:26Z","updated_at":"2022-08-11T15:54:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d07122ed772[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-08-13","max_datetime":"2022-08-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_d07122ed77244a49acdf05c60ad581f8"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52633e786c91f0027ff10
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20a85febe7c9096d7b730efd082e2059"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_254da26719db430fbf4e4722b6bc03ce","object":"Pickup","created_at":"2022-08-11T15:54:27Z","updated_at":"2022-08-11T15:54:27Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-13T00:00:00Z","max_datetime":"2022-08-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_e12fc76b198d11eda35bac1f6bc7bdc6","object":"Address","created_at":"2022-08-11T15:54:27+00:00","updated_at":"2022-08-11T15:54:27+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-11T15:54:28Z","updated_at":"2022-08-11T15:54:28Z","carrier":"USPS","pickup_id":"pickup_254da26719db430fbf4e4722b6bc03ce","id":"pickuprate_83108948cacb45e580313bc3f7e38f30","object":"PickupRate"}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:28 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_254da26719db430fbf4e4722b6bc03ce/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f52634e786c9200027ff53
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_254da26719db430fbf4e4722b6bc03ce/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52636e786c9210027ffcc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77d06a40500ae2b2a[...]
