---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40b8e7873bbb003114ee
      Location:
      - "/api/v2/shipments/shp_7c9583894d33461f87d25d9757632f1d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4469c7a2aa3f92b02b66692e76ae259"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873792","updated_at":"2022-05-12T17:15:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_23a5f89fd21711ecb1b0ac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:15:36+00:00","updated_at":"2022-05-12T17:15:36+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_223e361ea5824a3dacbfac8d9b466c53","object":"Parcel","created_at":"2022-05-12T17:15:36Z","updated_at":"2022-05-12T17:15:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d53806a0216243b784c635cd3558248d","created_at":"2022-05-12T17:15:37Z","updated_at":"2022-05-12T17:15:37Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/0c8efa5093c944eab06144ef5f0a5db6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_68cd418b312344f5981a356813f5967a","object":"Rate","created_at":"2022-05-12T17:15:36Z","updated_at":"2022-05-12T17:15:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7c9583894d33461f87d25d9757632f1d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f935588ee8b14f5aa482bc98825994fa","object":"Rate","created_at":"2022-05-12T17:15:36Z","updated_at":"2022-05-12T17:15:36Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_7c9583894d33461f87d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-13","max_datetime":"2022-05-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_7c9583894d33461f87d25d9757632f1d"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40b9e7873bbc00311568
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3e471955b7fba3de0c57d171b00fee2"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_ea766c552df148ea921904eac52a5624","object":"Pickup","created_at":"2022-05-12T17:15:38Z","updated_at":"2022-05-12T17:15:38Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_248063a6d21711ec99beac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:38+00:00","updated_at":"2022-05-12T17:15:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:38Z","updated_at":"2022-05-12T17:15:38Z","carrier":"USPS","pickup_id":"pickup_ea766c552df148ea921904eac52a5624","id":"pickuprate_85dff38cb4ca4fb98c7532f3bf1c3694","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_ea766c552df148ea921904eac52a5624
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40bae7873bbd003115c0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3e471955b7fba3de0c57d171b00fee2"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_ea766c552df148ea921904eac52a5624","object":"Pickup","created_at":"2022-05-12T17:15:38Z","updated_at":"2022-05-12T17:15:38Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_248063a6d21711ec99beac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:38+00:00","updated_at":"2022-05-12T17:15:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:38Z","updated_at":"2022-05-12T17:15:38Z","carrier":"USPS","pickup_id":"pickup_ea766c552df148ea921904eac52a5624","id":"pickuprate_85dff38cb4ca4fb98c7532f3bf1c3694","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:39 GMT
recorded_with: VCR 6.0.0
