---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201e62e82c7be789fa88003a0f02
      Location:
      - "/api/v2/shipments/shp_433c9cadf961460cbb41288e6c9a544f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"237038098c9653a830e7a78ed2c70b89"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:41:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078587","updated_at":"2022-08-01T19:41:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_fafadb5f11d111ed820cac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:41:47+00:00","updated_at":"2022-08-01T19:41:47+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_746023b7e9bd4873b024a03c0d402b70","object":"Parcel","created_at":"2022-08-01T19:41:47Z","updated_at":"2022-08-01T19:41:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a3c1c01a6b584a229a424151955ad1c0","created_at":"2022-08-01T19:41:47Z","updated_at":"2022-08-01T19:41:48Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:41:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/19cee1e978c842e8a18ae71c40056068.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_66fc37a7753f4aada3c9dfb3e5dfcbbf","object":"Rate","created_at":"2022-08-01T19:41:47Z","updated_at":"2022-08-01T19:41:47Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_433c9cadf961460cbb41288e6c9a544f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4f3f70f214ef40fb9852d0c769f9da0f","object":"Rate","created_at":"2022-08-01T19:41:47Z","updated_at":"2022-08-01T19:41:47Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_433c9cadf96[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-08-03","max_datetime":"2022-08-03","instructions":"Pickup
        at front door","shipment":{"id":"shp_433c9cadf961460cbb41288e6c9a544f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82c7ce789fa89003a0fd3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3236a7a8e869a9318646a188d882483"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_2e91ed2a2495416fac1f705b0b31ee0c","object":"Pickup","created_at":"2022-08-01T19:41:48Z","updated_at":"2022-08-01T19:41:48Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-03T00:00:00Z","max_datetime":"2022-08-03T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_fbc376bb11d111ed8d91ac1f6bc7bdc6","object":"Address","created_at":"2022-08-01T19:41:48+00:00","updated_at":"2022-08-01T19:41:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-01T19:41:50Z","updated_at":"2022-08-01T19:41:50Z","carrier":"USPS","pickup_id":"pickup_2e91ed2a2495416fac1f705b0b31ee0c","id":"pickuprate_31b5e20ee20848518c072dea4a62b712","object":"PickupRate"}]}'
  recorded_at: Mon, 01 Aug 2022 19:41:50 GMT
recorded_with: VCR 6.0.0
