---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb57625474c0e786b3f900232b59'
      Location:
      - "/api/v2/shipments/shp_e2b8ec8d75c34627b07312b9ee9960d5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"05ac7b1b1d42187f551099c135e5eb3a"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-11T18:34:40Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114522090","updated_at":"2022-04-11T18:34:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0c4dde30b9c611ec8319ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T18:34:40+00:00","updated_at":"2022-04-11T18:34:40+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b9d0a3eba89b490c81ee79a9dde47485","object":"Parcel","created_at":"2022-04-11T18:34:40Z","updated_at":"2022-04-11T18:34:40Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_26fa45fa12fa4eff903043b8192d0769","created_at":"2022-04-11T18:34:40Z","updated_at":"2022-04-11T18:34:41Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T18:34:40Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/641f0c67933e413fac9e057dbae05eac.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_511904cb02c94dcfa595ac64e318f8d4","object":"Rate","created_at":"2022-04-11T18:34:40Z","updated_at":"2022-04-11T18:34:40Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e2b8ec8d75c34627b07312b9ee9960d5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_928668d4b9d14bf683b18eef467c4a06","object":"Rate","created_at":"2022-04-11T18:34:40Z","updated_at":"2022-04-11T18:34:40Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e2b8ec8d75c34627b07312b9ee9960d5","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-04-12","max_datetime":"2022-04-12","instructions":"Pickup
        at front door","shipment":{"id":"shp_e2b8ec8d75c34627b07312b9ee9960d5"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb57625474c1e786b3fa00232bce'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b6dfb407aacc8340782af876814ff3c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_a6c46b72370f4fa4b26295dda0c5b551","object":"Pickup","created_at":"2022-04-11T18:34:41Z","updated_at":"2022-04-11T18:34:41Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-12T00:00:00Z","max_datetime":"2022-04-12T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0cff0edab9c611ec8820ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T18:34:41+00:00","updated_at":"2022-04-11T18:34:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T18:34:42Z","updated_at":"2022-04-11T18:34:42Z","carrier":"USPS","pickup_id":"pickup_a6c46b72370f4fa4b26295dda0c5b551","id":"pickuprate_f44de5d50bdc470b8c03f6be46646ab0","object":"PickupRate"}]}'
  recorded_at: Mon, 11 Apr 2022 18:34:42 GMT
recorded_with: VCR 6.0.0
