---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7dacfe799e0be0059f90a
      Location:
      - "/api/v2/shipments/shp_8c4d0d207f2d4ddda2d27fb719ea4f05"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:09:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068500972","updated_at":"2024-07-29T18:09:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ad0c222b4dd511efb3d4ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:09:19+00:00","updated_at":"2024-07-29T18:09:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cd7ee9f8d6d54436be4531d88f922c67","object":"Parcel","created_at":"2024-07-29T18:09:19Z","updated_at":"2024-07-29T18:09:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fc959ec8c8ed40489454c84a55850d6a","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:09:20Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e855bef41cc9664f99a6d25e13d5413d13.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b09e7305449f425d888c6b369b2bc5be","object":"Rate","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_57e268d7b9eb484eae04137cb72b1ff7","object":"Rate","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_21b2a2e4b9fd434087c13687b5c8c9f8","object":"Rate","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_21b2a2e4b9fd434087c13687b5c8c9f8","object":"Rate","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_86b66c17ffc7462aa489dcf6ebdbc604","object":"Tracker","mode":"test","tracking_code":"9400100110368068500972","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:09:20Z","updated_at":"2024-07-29T18:09:20Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrXzg2YjY2YzE3ZmZjNzQ2MmFhNDg5ZGNmNmViZGJjNjA0"},"to_address":{"id":"adr_ad09df8d4dd511ef81baac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:09:19+00:00","updated_at":"2024-07-29T18:09:20+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_ad0c222b4dd511efb3d4ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:09:19+00:00","updated_at":"2024-07-29T18:09:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_ad09df8d4dd511ef81baac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:09:19+00:00","updated_at":"2024-07-29T18:09:20+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:09:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-07-31","max_datetime":"2024-07-31","instructions":"Pickup
        at front door","shipment":{"id":"shp_8c4d0d207f2d4ddda2d27fb719ea4f05"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7dad1e799e0c20059fa9e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"pickup_d512a3a71cb3492193e73f499dfd0114","object":"Pickup","created_at":"2024-07-29T18:09:21Z","updated_at":"2024-07-29T18:09:21Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-07-31T00:00:00Z","max_datetime":"2024-07-31T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_adeef2324dd511efb5243cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:21+00:00","updated_at":"2024-07-29T18:09:21+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-07-29T18:09:22Z","updated_at":"2024-07-29T18:09:22Z","carrier":"USPS","pickup_id":"pickup_d512a3a71cb3492193e73f499dfd0114","id":"pickuprate_0964b1653b934c80a41ff8e6d3725a97","object":"PickupRate"}]}'
  recorded_at: Mon, 29 Jul 2024 18:09:22 GMT
recorded_with: VCR 6.1.0
