---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab535ebaf11ffb56e4ab000d4320
      Location:
      - "/api/v2/shipments/shp_f87414d5dee4460d9325c287fd367467"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0c56196463a443289de6307e70cafbf8","object":"Address","created_at":"2020-05-12T18:55:27Z","updated_at":"2020-05-12T18:55:27Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a383a74d0ac044b4bc86a2969d9b3be1","object":"Parcel","created_at":"2020-05-12T18:55:27Z","updated_at":"2020-05-12T18:55:27Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f2a93b6736854821a869843b6509b40a","object":"Rate","created_at":"2020-05-12T18:55:28Z","updated_at":"2020-05-12T18:55:28Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_f87414d5dee4460d9325c287fd367467","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_45f26078c00742c7ba136e41c3155713","object":"Rate","created_at":"2020-05-12T18:55:28Z","updated_at":"2020-05-12T18:55:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f87414d5dee4460d9325c287fd367467","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_f87414d5dee4460d9325c287fd367467/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_b2ecadc62d0444c98e7988f2803857bb"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b342870e5ebaf120fb319f65000f394c
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"reference":"12345678","max_datetime":"2020-05-13T12:00:00+00:00","is_account_address":false,"instructions":"At
        the front door.","shipment":{"id":"shp_f87414d5dee4460d9325c287fd367467"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unknown
    headers:
      X-Ep-Request-Uuid:
      - fca702d35ebaf122fb321f67000ac9df
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"PICKUP.MIN_DATETIME.REQUIRED","message":"Invalid
        request, ''min_datetime'' is required.","errors":[]}}'
  recorded_at: Tue, 12 May 2020 18:55:30 GMT
recorded_with: VCR 5.1.0
