---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dbee0dc94080006eb5d
      Location:
      - "/api/v2/shipments/shp_d5bb9286ef6d419eb3fccf6bec693876"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e818b8ca79e583b5a8f47988b36d562"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693125","updated_at":"2023-05-17T19:40:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b801ca5af4ea11edb6fdac1f6bc72124","object":"Address","created_at":"2023-05-17T19:40:46+00:00","updated_at":"2023-05-17T19:40:46+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_802e3e298f484576b1af59ba37bac538","object":"Parcel","created_at":"2023-05-17T19:40:46Z","updated_at":"2023-05-17T19:40:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e2f54f8a73aa4b768f6dad15e4154cfb","created_at":"2023-05-17T19:40:47Z","updated_at":"2023-05-17T19:40:47Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/caa547462c584c779d268c21ae84acc6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d58dd233fc5a4a57af7c7c6641b9d1be","object":"Rate","created_at":"2023-05-17T19:40:46Z","updated_at":"2023-05-17T19:40:46Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d5bb9286ef6d419eb3fccf6bec693876","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_17b0b5d155534566b4c607ea6799038c","object":"Rate","created_at":"2023-05-17T19:40:46Z","updated_at":"2023-05-17T19:40:46Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_d5bb9286ef6d419[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_d5bb9286ef6d419eb3fccf6bec693876"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652dbfe0dc94090006ebe0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e7b683dae5168148eba59b7e5b98f8d"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_e0cbc0e4807c4b279893ca885bf6813f","object":"Pickup","created_at":"2023-05-17T19:40:47Z","updated_at":"2023-05-17T19:40:47Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b8c92544f4ea11ed8c60ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:40:47+00:00","updated_at":"2023-05-17T19:40:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-17T19:40:48Z","updated_at":"2023-05-17T19:40:48Z","carrier":"USPS","pickup_id":"pickup_e0cbc0e4807c4b279893ca885bf6813f","id":"pickuprate_c2e75f8e8ba34d2f81c65d82020bebd8","object":"PickupRate"}]}'
  recorded_at: Wed, 17 May 2023 19:40:48 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_e0cbc0e4807c4b279893ca885bf6813f/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652dc0e0dc940a0006ec72
      Content-Type:
      - application/json; charset=utf-8
      E[...]
