---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40bbe7873bbe003115df
      Location:
      - "/api/v2/shipments/shp_a61d7e077b204ed89bc6ba6f09872d89"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d736439f962e136a41b37333fd4e82a5"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873808","updated_at":"2022-05-12T17:15:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_25515b8ed21711ec9a10ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:39+00:00","updated_at":"2022-05-12T17:15:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_30c4cec987fe4c37be6e44b804da9f90","object":"Parcel","created_at":"2022-05-12T17:15:39Z","updated_at":"2022-05-12T17:15:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d722ab94b1b24be9914cabbaa5e06639","created_at":"2022-05-12T17:15:39Z","updated_at":"2022-05-12T17:15:40Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:39Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/98a64de8a21240698b57a8d60098ab74.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e2a50949d7364744912b75146e2c24c3","object":"Rate","created_at":"2022-05-12T17:15:39Z","updated_at":"2022-05-12T17:15:39Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_a61d7e077b204ed89bc6ba6f09872d89","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9beb789f269348e8a180c4c44a606f7b","object":"Rate","created_at":"2022-05-12T17:15:39Z","updated_at":"2022-05-12T17:15:39Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a61d7e077b204ed[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-13","max_datetime":"2022-05-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_a61d7e077b204ed89bc6ba6f09872d89"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40bce7873bbf0031165b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aee62ffe4396a7a73e1c703a4e296645"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_5dd59a1be6a24cf5ad0ec4553841b55b","object":"Pickup","created_at":"2022-05-12T17:15:40Z","updated_at":"2022-05-12T17:15:40Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_2610aef3d21711ecb29bac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:15:40+00:00","updated_at":"2022-05-12T17:15:40+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:41Z","updated_at":"2022-05-12T17:15:41Z","carrier":"USPS","pickup_id":"pickup_5dd59a1be6a24cf5ad0ec4553841b55b","id":"pickuprate_cba3f634e8904f38922d303bd60459e3","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_5dd59a1be6a24cf5ad0ec4553841b55b/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40bde7873bd7003116c0
      Content-Type:
      - application/json; charset=utf-8
      E[...]
