---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c85e789faa7003a14d3
      Location:
      - "/api/v2/shipments/shp_c704decbb8f1444ab43c1387223b8b02"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c501f4904ff56f998ddd30e869503a7"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:41:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078617","updated_at":"2022-08-01T19:41:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_00c5c86511d211ed88f9ac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:41:57+00:00","updated_at":"2022-08-01T19:41:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b5c33faf40b041069c1ec773ea6dab46","object":"Parcel","created_at":"2022-08-01T19:41:57Z","updated_at":"2022-08-01T19:41:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_35c4b0363641458099c6c3d69bbc9b19","created_at":"2022-08-01T19:41:57Z","updated_at":"2022-08-01T19:41:57Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:41:57Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/9114dbf9f5324cce8acddc6a099db0b6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_58da1a3a35aa4799b76d78802efcd242","object":"Rate","created_at":"2022-08-01T19:41:57Z","updated_at":"2022-08-01T19:41:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c704decbb8f1444ab43c1387223b8b02","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fe118e19f4564b2eb74502d14c9412aa","object":"Rate","created_at":"2022-08-01T19:41:57Z","updated_at":"2022-08-01T19:41:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_c704decbb8f1444ab43[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-08-03","max_datetime":"2022-08-03","instructions":"Pickup
        at front door","shipment":{"id":"shp_c704decbb8f1444ab43c1387223b8b02"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c86e789faa8003a1553
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"befa6644d55ea8ed19fca1625ff39647"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"pickup_3e1d72cc1a354f82b4d857fdd8e6362e","object":"Pickup","created_at":"2022-08-01T19:41:58Z","updated_at":"2022-08-01T19:41:58Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-08-03T00:00:00Z","max_datetime":"2022-08-03T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0175740f11d211edb897ac1f6bc72124","object":"Address","created_at":"2022-08-01T19:41:58+00:00","updated_at":"2022-08-01T19:41:58+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-08-01T19:41:59Z","updated_at":"2022-08-01T19:41:59Z","carrier":"USPS","pickup_id":"pickup_3e1d72cc1a354f82b4d857fdd8e6362e","id":"pickuprate_c1b8cda4a9ab40d798765d6194a9c8cf","object":"PickupRate"}]}'
  recorded_at: Mon, 01 Aug 2022 19:41:59 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_3e1d72cc1a354f82b4d857fdd8e6362e/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c87e789faa9003a15dd
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_3e1d72cc1a354f82b4d857fdd8e6362e/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c88e789faaa003a1674
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c2a58ab83388368c[...]
