---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9964606313e0dbff28001aa65e
      Location:
      - "/api/v2/shipments/shp_587807b5815e45d49c24e9ec537d6ee5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdc57865846bf7f4c3451c39c050e4ee"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:26:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514240","updated_at":"2023-05-14T04:27:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_917ce3d2f20f11edb48fac1f6bc72124","object":"Address","created_at":"2023-05-14T04:26:59+00:00","updated_at":"2023-05-14T04:26:59+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d7db33fbdacc468785cc52d0d9c01ef4","object":"Parcel","created_at":"2023-05-14T04:26:59Z","updated_at":"2023-05-14T04:26:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_eca63da042134298a6619d603cf56b12","created_at":"2023-05-14T04:27:00Z","updated_at":"2023-05-14T04:27:00Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:27:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/0b936d1bf667443683fb54002afb38d5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d9a4cd0694874a918f620953cce1677f","object":"Rate","created_at":"2023-05-14T04:26:59Z","updated_at":"2023-05-14T04:26:59Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_587807b5815e45d49c24e9ec537d6ee5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d123939bc8a94f509ebe384b0cef1916","object":"Rate","created_at":"2023-05-14T04:26:59Z","updated_at":"2023-05-14T04:26:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_587807b5815[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_587807b5815e45d49c24e9ec537d6ee5"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9964606315e0dbff29001aa68c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cad3a62b63861f58a10f0f78a860f8d7"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_54ac0f2e046048c48dc06afff01c81b5","object":"Pickup","created_at":"2023-05-14T04:27:01Z","updated_at":"2023-05-14T04:27:01Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_92562bcef20f11ed8e08ac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:27:01+00:00","updated_at":"2023-05-14T04:27:01+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:27:01Z","updated_at":"2023-05-14T04:27:01Z","carrier":"USPS","pickup_id":"pickup_54ac0f2e046048c48dc06afff01c81b5","id":"pickuprate_45e46b516f1947abbcbcb54072579b5f","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:27:01 GMT
recorded_with: VCR 6.1.0
