---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 00c206c865b00b33e7884c1b0007eb09
      Location:
      - "/api/v2/shipments/shp_c460e91e9cb44403823ad4fad173e597"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:53:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011758397","updated_at":"2024-01-23T18:53:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b89dd99aba2011ee8faaac1f6bc53342","object":"Address","created_at":"2024-01-23T18:53:39+00:00","updated_at":"2024-01-23T18:53:39+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b1814cc55e1f4acaae47ec5579e1c126","object":"Parcel","created_at":"2024-01-23T18:53:39Z","updated_at":"2024-01-23T18:53:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_41b42993c4e54221a82291c58ab005b1","created_at":"2024-01-23T18:53:39Z","updated_at":"2024-01-23T18:53:40Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:53:39Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e87ffd01c0e998426fb16feb0aec3e6213.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e992db63b6f444ca9e82ac2fa398d6ea","object":"Rate","created_at":"2024-01-23T18:53:39Z","updated_at":"2024-01-23T18:53:39Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c460e91e9cb44403823ad4fad173e597","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f163a51f32f44d829def32363d40a564","object":"Rate","created_at":"2024-01-23T18:53:39Z","updated_at":"2024-01-23T18:53:39Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_c460e91e9cb4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2024-01-24","max_datetime":"2024-01-24","instructions":"Pickup
        at front door","shipment":{"id":"shp_c460e91e9cb44403823ad4fad173e597"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206c965b00b34e7884c3c0007ec18
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"pickup_d5f6f3d0a5fd43a1938801621bf038b1","object":"Pickup","created_at":"2024-01-23T18:53:40Z","updated_at":"2024-01-23T18:53:40Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2024-01-24T00:00:00Z","max_datetime":"2024-01-24T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_b96d7d6eba2011ee9a84ac1f6bc539ae","object":"Address","created_at":"2024-01-23T18:53:40+00:00","updated_at":"2024-01-23T18:53:40+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2024-01-23T18:53:41Z","updated_at":"2024-01-23T18:53:41Z","carrier":"USPS","pickup_id":"pickup_d5f6f3d0a5fd43a1938801621bf038b1","id":"pickuprate_0b29b34f8a034c278f17a68fbd351875","object":"PickupRate"}]}'
  recorded_at: Tue, 23 Jan 2024 18:53:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_d5f6f3d0a5fd43a1938801621bf038b1/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206cd65b00b35e7884c400007ecb9
      Content-Type:
      - application/json; charset=utf-8
      X[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_d5f6f3d0a5fd43a1938801621bf038b1/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 00c206c665b00b36e7884c410007edbb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      [...]
