---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f79626c325ce786bcdf00469a5b
      Location:
      - "/api/v2/shipments/shp_aa4a53120fb246f7977abbcb71af455f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ef919be85507b0305da7fe01050da1d"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T18:45:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117183366","updated_at":"2022-04-29T18:45:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9645c770c7ec11ec8970ac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:45:48+00:00","updated_at":"2022-04-29T18:45:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5bae958ebabe419e867573a269034887","object":"Parcel","created_at":"2022-04-29T18:45:48Z","updated_at":"2022-04-29T18:45:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0eaeaba98885477abf960a2bcfa10128","created_at":"2022-04-29T18:45:49Z","updated_at":"2022-04-29T18:45:49Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-29T18:45:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220429/3d0528ba9e4d43938912b01ab9c2bc5b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c96b4489be1d4e9f921e6fadfd194b34","object":"Rate","created_at":"2022-04-29T18:45:49Z","updated_at":"2022-04-29T18:45:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_aa4a53120fb246f7977abbcb71af455f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_73862e73e09a4acb9dc68002b338606f","object":"Rate","created_at":"2022-04-29T18:45:49Z","updated_at":"2022-04-29T18:45:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aa4a53120fb246f7977abbcb71af455f","carrie[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-01","max_datetime":"2022-05-01","instructions":"Pickup
        at front door","shipment":{"id":"shp_aa4a53120fb246f7977abbcb71af455f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f7a626c325ee786bce100469ad7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"035ce82d396e3d43db568a9d7f6b4fa0"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_8b47c8ff747e439e9a35adb5c5b665a1","object":"Pickup","created_at":"2022-04-29T18:45:50Z","updated_at":"2022-04-29T18:45:50Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_96fc84e5c7ec11eca682ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:50+00:00","updated_at":"2022-04-29T18:45:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:45:51Z","updated_at":"2022-04-29T18:45:51Z","carrier":"USPS","pickup_id":"pickup_8b47c8ff747e439e9a35adb5c5b665a1","id":"pickuprate_da748903a50d427b99e4f2b35fcbb46e","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:45:51 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_8b47c8ff747e439e9a35adb5c5b665a1/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e9f28f79626c325fe786bce400469b8c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1df1d65a610f6a29d3aa0fa450ee22d6"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_8b47c8ff747e439e9a35adb5c5b665a1","object":"Pickup","created_at":"2022-04-29T18:45:50Z","updated_at":"2022-04-29T18:45:53Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-05-01T00:00:00Z","max_datetime":"2022-05-01T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC61776846","address":{"id":"adr_96fc84e5c7ec11eca682ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T18:45:50+00:00","updated_at":"2022-04-29T18:45:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-29T18:45:51Z","updated_at":"2022-04-29T18:45:51Z","carrier":"USPS","pickup_id":"pickup_8b47c8ff747e439e9a35adb5c5b665a1","id":"pickuprate_da748903a50d427b99e4f2b35fcbb46e","object":"PickupRate"}]}'
  recorded_at: Fri, 29 Apr 2022 18:45:53 GMT
recorded_with: VCR 6.0.0
