---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 38c9514b6333cfecf0ea727f000d36e1
      Location:
      - "/api/v2/shipments/shp_602ca35eccc54d93934f39c7ffb00d32"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b062b4fea539e95563a7393d33ad20c9"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-28T04:39:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139841558","updated_at":"2022-09-28T04:39:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7df892463ee711edabf1ac1f6bc7bdc6","object":"Address","created_at":"2022-09-28T04:39:09+00:00","updated_at":"2022-09-28T04:39:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0644f7a848804ff8ae6e006a1acd78a8","object":"Parcel","created_at":"2022-09-28T04:39:09Z","updated_at":"2022-09-28T04:39:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d1edb2b0d7914962baaa87470c4f7de0","created_at":"2022-09-28T04:39:09Z","updated_at":"2022-09-28T04:39:09Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-28T04:39:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220928/d1560150433442259583c0d9d9561cc3.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_afdc8541d946466c9d646acfae5ef53c","object":"Rate","created_at":"2022-09-28T04:39:09Z","updated_at":"2022-09-28T04:39:09Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_602ca35eccc54d93934f39c7ffb00d32","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c5545226ab7d467e976407e093ed6313","object":"Rate","created_at":"2022-09-28T04:39:09Z","updated_at":"2022-09-28T04:39:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_602ca35eccc54d93934[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2022-09-29","max_datetime":"2022-09-29","instructions":"Pickup
        at front door","shipment":{"id":"shp_602ca35eccc54d93934f39c7ffb00d32"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 38c9514c6333cfeef0ea7280000d372b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d7959d330c8d791bcd00a8febaaf5af"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209272328-534c82999b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"pickup_96b4ab79346a4e5e8bf7153faf4fb042","object":"Pickup","created_at":"2022-09-28T04:39:10Z","updated_at":"2022-09-28T04:39:10Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-09-29T00:00:00Z","max_datetime":"2022-09-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_7ebc85f73ee711eda554ac1f6bc7b362","object":"Address","created_at":"2022-09-28T04:39:10+00:00","updated_at":"2022-09-28T04:39:10+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-09-28T04:39:11Z","updated_at":"2022-09-28T04:39:11Z","carrier":"USPS","pickup_id":"pickup_96b4ab79346a4e5e8bf7153faf4fb042","id":"pickuprate_b9db4dfd74244eb0a7f8205d751ba3cf","object":"PickupRate"}]}'
  recorded_at: Wed, 28 Sep 2022 04:39:10 GMT
recorded_with: VCR 6.0.0
