---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066386216a7c3e788f72800417fd7
      Location:
      - "/api/v2/shipments/shp_dc5c0fa2c16649f2a263a41403e9ee55"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d07c4ee52174405396c2c4aa3c9f0d1"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T21:31:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108754349","updated_at":"2022-02-23T21:31:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0110ba7f94f011ec9e18ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T21:31:47+00:00","updated_at":"2022-02-23T21:31:47+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5e652eff77414279804d6abf66dfb9da","object":"Parcel","created_at":"2022-02-23T21:31:47Z","updated_at":"2022-02-23T21:31:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0d4d06a3c52b49d48b6024c54b6a5782","created_at":"2022-02-23T21:31:47Z","updated_at":"2022-02-23T21:31:47Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T21:31:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/d9a2ae6f022d4a968f8c7fb877e0fc7e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8384f9b99df34070bb63eb06957f7257","object":"Rate","created_at":"2022-02-23T21:31:47Z","updated_at":"2022-02-23T21:31:47Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_dc5c0fa2c16649f2a263a41403e9ee55","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f01b1a82c0354e4aa92830a851e21985","object":"Rate","created_at":"2022-02-23T21:31:47Z","updated_at":"2022-02-23T21:31:47Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_dc5c0fa2c16649f2a263a41403e9ee55","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-02-24","max_datetime":"2022-02-25","instructions":"Pickup
        at front door","shipment":{"id":"shp_dc5c0fa2c16649f2a263a41403e9ee55"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066386216a7c4e788f7290041802c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"61ce5dbdb0f92d3c40daf14e7c69eeb0"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_42a1910fb9214983a25cc2fd87dfa6e0","object":"Pickup","created_at":"2022-02-23T21:31:48Z","updated_at":"2022-02-23T21:31:48Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-02-24T00:00:00Z","max_datetime":"2022-02-25T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_01bc5ffc94f011ec9e5cac1f6bc72124","object":"Address","created_at":"2022-02-23T21:31:48+00:00","updated_at":"2022-02-23T21:31:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-02-23T21:31:49Z","updated_at":"2022-02-23T21:31:49Z","carrier":"USPS","pickup_id":"pickup_42a1910fb9214983a25cc2fd87dfa6e0","id":"pickuprate_43e2b088afc74939b8851c0c8b94bf1b","object":"PickupRate"}]}'
  recorded_at: Wed, 23 Feb 2022 21:31:49 GMT
recorded_with: VCR 6.0.0
