---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40c3e7873bdc003118ec
      Location:
      - "/api/v2/shipments/shp_a2433bee5270476daf62c01afc3e9d58"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca315740592dee1c08355e0ecaf42c67"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873822","updated_at":"2022-05-12T17:15:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2a673a0ed21711ec944aac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:47+00:00","updated_at":"2022-05-12T17:15:47+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_696e813889274ffd84e58063b72e5e4d","object":"Parcel","created_at":"2022-05-12T17:15:47Z","updated_at":"2022-05-12T17:15:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_1d07ded4521f4f72b3e6ac04b2a33875","created_at":"2022-05-12T17:15:48Z","updated_at":"2022-05-12T17:15:48Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:48Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/75b80187fff4455a9152e9bff45c3743.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_cf50a29d09b4481bbf9d0b7f0e25fcd1","object":"Rate","created_at":"2022-05-12T17:15:48Z","updated_at":"2022-05-12T17:15:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_a2433bee5270476daf62c01afc3e9d58","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3fd5df121d6f4159b31093b5d9378dd7","object":"Rate","created_at":"2022-05-12T17:15:48Z","updated_at":"2022-05-12T17:15:48Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a2433bee5270476[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"min_datetime":"2022-05-13","max_datetime":"2022-05-13","instructions":"Pickup
        at front door","shipment":{"id":"shp_a2433bee5270476daf62c01afc3e9d58"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40c5e7873bdd0031194c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dab8fdbfc0667230ba81b10af436270"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"pickup_b6b34cc87bfa4e8c91b469dc0b9e6500","object":"Pickup","created_at":"2022-05-12T17:15:49Z","updated_at":"2022-05-12T17:15:49Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-13T00:00:00Z","max_datetime":"2022-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_2b12d3c9d21711ec948eac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:49+00:00","updated_at":"2022-05-12T17:15:49+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-12T17:15:49Z","updated_at":"2022-05-12T17:15:49Z","carrier":"USPS","pickup_id":"pickup_b6b34cc87bfa4e8c91b469dc0b9e6500","id":"pickuprate_da07f35616d8457d97427751d11da08f","object":"PickupRate"}]}'
  recorded_at: Thu, 12 May 2022 17:15:49 GMT
recorded_with: VCR 6.0.0
