---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652d94e0dc93430006da88
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5f7c183aba05b6d12062bf2d2bd2a21"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_97e0cca0f4ea11eda1fa13b904b3a90a","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:39:52.597Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_9714b44ef4ea11edbee2435ca9a8b54d","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:39:51.259Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_94b88a7cf4ea11edb6a43792ae268035","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:39:47.300Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_93bf386ef4ea11eda48b4fc665bd74ee","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:39:45.666Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_93ace77cf4ea11ed98882de0f50ae7e5","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:39:45.546Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Wed, 17 May 2023 19:40:04 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"before_id":"evt_93ace77cf4ea11ed98882de0f50ae7e5"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652d94e0dc93440006daba
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"013913bdf7a2aad67101b74bf89f5f0a"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-[...]
