---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2b63c1bd8fe798cc38000b471e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f114064afd4baeb2e8e968a8515aa6c6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"hook_06b8c92e938011edb71a157368d3a4a3","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-01-13T20:22:40Z","disabled_at":null}'
  recorded_at: Fri, 13 Jan 2023 20:22:39 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2863c1bd8fe798cc39000b474c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71d152ecaf08fa10bf092dec01442f40"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"batch_7626dfdb242646149db6e2418b45029d","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-01-13T20:22:39Z","updated_at":"2023-01-13T20:22:39Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Fri, 13 Jan 2023 20:22:39 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2a63c1bd95e798cc5a000b49be
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d831b2226de1d09f38a6efbfe3ccc903"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_07070bf2938011ed9fb2591d5f9b021d","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:40.135Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_06f6a348938011ed87400d2bdd8c6cc4","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:40.027Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_03428f32938011ed847921b1fb2eab04","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:33.814Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_02d07b72938011ed8965596380349cc5","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:33.066Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6e6f0c96937f11eda16149a37a821d14","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"completed","created_at":"2023-01-13T20:18:24.125Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Fri, 13 Jan 2023 20:22:45 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_07070bf2938011ed9fb2591d5f9b021d/payloads/payload_11111111111111111111111111111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2d63c1bd95e798cc5b000b49f2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PAYLOAD.NOT_FOUND","message":"The payload(s) could
        not be found.","errors":[]}}'
  recorded_at: Fri, 13 Jan 2023 20:22:45 GMT
[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_06b8c92e938011edb71a157368d3a4a3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2863c1bd96e798cc5d000b4a61
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 13 Jan 2023 20:22:46 GMT
recorded_with: VCR 6.0.0
