---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c617988b6424ba91e697120900117736
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"803d138160ed4036747a4dfa3487c069"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc a29e4ad05c
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[],"has_more":false}'
  recorded_at: Wed, 29 Mar 2023 22:24:17 GMT
recorded_with: VCR 6.0.0
