---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a50e787d93e00070b1f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_30c0907cba2011ee88ce7b01aee0bb18","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:51.471Z","mode":"test","object":"Event"},{"description":"tracker.created","id":"evt_30666642ba2011ee8eca4db6e47e62eb","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:50.880Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_26fa3372ba2011ee84f30b43d7138160","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:35.071Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_263cc18eba2011eeba9369a6216e3bfd","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:33.829Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_23b31030ba2011eeb85d272960edfaf4","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:29.572Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Tue, 23 Jan 2024 18:49:52 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"before_id":"evt_23b31030ba2011eeb85d272960edfaf4"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde365b00a50e787d93f00070b8b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_22f08f92ba2011ee89a739111c8ddfa5","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-01-23T18:49:28.297Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_22e276aaba2011eebdd05568cad0a500","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"[...]
