---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40ace7873882003110d7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2145eb7f8e15ec9e84a74f743baa530"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_18553e04d21711ec963d2754109c51b1","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-05-12T17:15:17.596Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_179e7a98d21711ec9ce05d4fe13dba06","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-05-12T17:15:16.398Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_178b443cd21711eca8c84b774bc7277b","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-05-12T17:15:16.272Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_175a2956d21711ec81ec191d81cff411","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-05-12T17:15:15.950Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_173a2584d21711ecaeb60d5a184126ab","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-05-12T17:15:15.741Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Thu, 12 May 2022 17:15:24 GMT
recorded_with: VCR 6.0.0
