---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da87e799dcdc0059ab60
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_7b279f724dd511efbaf177ab1d53f2c3","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:56.134Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6a6709b64dd511efbe3a5d9fb8d73922","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:28.028Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_6a5212184dd511ef86e0199c91ff965e","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:27.891Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6a1048b04dd511efbfe4377a1ab2cf4a","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:27.459Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_69c43c684dd511efbc3829f3fa1438b2","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:26.961Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:08:07 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_7b279f724dd511efbaf177ab1d53f2c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7da88e799dcdd0059abfd
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"description":"tracker.created","mode":"test","previous_attributes":{},"created_at":"2024-07-29T18:07:56.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2024-07-29T18:07:56.000Z","id":"evt_7b279f724dd511efbaf177ab1d53f2c3","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","object":"Event"}'
  recorded_at: Mon, 29 Jul 2024 18:08:08 GMT
recorded_with: VCR 6.1.0
