---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652d9ce0dc93610006dda9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5048e285043d481e624653269eee5064"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_a3b2c998f4ea11edbefb07a01097874e","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-17T19:40:12Z","disabled_at":null}'
  recorded_at: Wed, 17 May 2023 19:40:12 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652d9ce0dc93620006dde1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0db074e9b8282940e669e807cc3934a7"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_8667593f8eff48f69eb02e0c5147f3ce","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:40:12Z","updated_at":"2023-05-17T19:40:12Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:40:12 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652da1e0dc93820006e00b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bd645eeb255fcc979de280ecd8cf388"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_a6a2ea8ef4ea11ed9d914ffa1e54cccd","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:40:17.357Z","mode":"test","object":"Event"},{"description":"tracker.created","id":"evt_a4e3e856f4ea11eda7bc3b98711e1b3a","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:40:14.427Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_a415359cf4ea11ed861169e0facec423","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:40:13.073Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_a3f3e766f4ea11ed933f4554216b404e","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:40:12.854Z","mode":"test","object":"Event"},{"description":"tracker.created","id":"evt_a178846af4ea11ed81b83bde192f2f9f","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-17T19:40:08.690Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Wed, 17 May 2023 19:40:18 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_a6a2ea8ef4ea11ed9d914ffa1e54cccd/payloads/payload_11111111111111111111111111111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652da2e0dc93840006e037
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PAYLOAD.NOT_FOUND","message":"The payload(s) could
        not be found.","errors":[]}}'
  recorded_at: Wed, 17 May 2023 19:40:18 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_a3b2c998f4ea11edbefb07a01097874e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652da2e0dc93860006e052
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 May 2023 19:40:19 GMT
recorded_with: VCR 6.1.0
