---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7da89e799dce00059ad12
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_7b279f724dd511efbaf177ab1d53f2c3","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:56.134Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6a6709b64dd511efbe3a5d9fb8d73922","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:28.028Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_6a5212184dd511ef86e0199c91ff965e","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:27.891Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6a1048b04dd511efbfe4377a1ab2cf4a","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:27.459Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_69c43c684dd511efbc3829f3fa1438b2","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:26.961Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:08:09 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events?before_id=evt_69c43c684dd511efbc3829f3fa1438b2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da8ae799dce10059add2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X[...]
