---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba3be7897e5f00086a62
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bae336a16d8cd8c33976bba1edb5bf4c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_5540fefc181c11edadbe7719a5519fac","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-09T19:49:08.682Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_5486fc8c181c11edb7441994012aa003","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-09T19:49:07.463Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_51f84b42181c11ed9b6329f93625bdcf","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-09T19:49:03.173Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_513f58da181c11ed9dc169bb75b14c34","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-09T19:49:01.961Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_51332240181c11ed9dc8277f02cb5220","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-09T19:49:01.880Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Tue, 09 Aug 2022 19:49:15 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_5540fefc181c11edadbe7719a5519fac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba3ce7897e6000086a8c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5113bcb185bac72737c1d7a49f5c8bc7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"description":"batch.updated","mode":"test","previous_attributes":{"state":"label_generating"},"created_at":"2022-08-09T19:49:09.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2022-08-09T19:49:09.000Z","id":"evt_5540fefc181c11edadbe7719a5519fac","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","object":"Event"}'
  recorded_at: Tue, 09 Aug 2022 19:49:16 GMT
recorded_with: VCR 6.0.0
