---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da92e799dcff0059b748
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_88b32b0c4dd511ef83c21780d89d2c4f","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:08:19Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:08:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7da93e799dd000059b80a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_19edb808a91340fcac29a6970b344160","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2024-07-29T18:08:19Z","updated_at":"2024-07-29T18:08:19Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Mon, 29 Jul 2024 18:08:19 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da98e799dd010059be39
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_89206cee4dd511efa074371f5e6099c5","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:19.575Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_891df3b04dd511efb637510f0fc106ff","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:19.558Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_890ed2e04dd511efbc445bd1926b8a26","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:19.459Z","mode":"test","object":"Event"},{"description":"tracker.created","id":"evt_86dc4e304dd511ef908b0d4aa4c81d1e","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:15.773Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_8470132a4dd511ef87147712b144dcc7","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:11.708Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:08:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_89206cee4dd511efa074371f5e6099c5/payloads/payload_11111111111111111111111111111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7da99e799dd020059bef7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PAYLOAD.NOT_FOUND","message":"The payload(s) could
        not be found.","errors":[]}}'
  recorded_at: Mon, 29 Jul 2024 18:08:25 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_88b32b0c4dd511ef83c21780d89d2c4f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7da99e799dd030059bf81
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2024 18:08:26 GMT
recorded_with: VCR 6.1.0
