---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7da8ae799dce20059ae77
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_83f74f304dd511ef97c765d83c6c5295","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:08:11Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:08:10 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da8be799dce30059af04
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_cfd240db5e714263b2e013a856c5147b","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2024-07-29T18:08:11Z","updated_at":"2024-07-29T18:08:11Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Mon, 29 Jul 2024 18:08:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da90e799dcfc0059b51c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.created","id":"evt_86dc4e304dd511ef908b0d4aa4c81d1e","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:15.773Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_8470132a4dd511ef87147712b144dcc7","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:11.708Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_8457c8564dd511efbc032b0631ab7292","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:08:11.549Z","mode":"test","object":"Event"},{"description":"tracker.created","id":"evt_7b279f724dd511efbaf177ab1d53f2c3","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:56.134Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6a6709b64dd511efbe3a5d9fb8d73922","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2024-07-29T18:07:28.028Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:08:17 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_86dc4e304dd511ef908b0d4aa4c81d1e/payloads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da91e799dcfd0059b5d2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"payloads":[]}'
  recorded_at: Mon, 29 Jul 2024 18:08:17 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_83f74f304dd511ef97c765d83c6c5295
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7da92e799dcfe0059b65a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2024 18:08:18 GMT
recorded_with: VCR 6.1.0
