---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f5261ae786c5410027f5ca
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c4c9b21a3f42c61385bd101729fac62"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_cc3c214a198d11eda9900f03cc48eba8","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-11T15:53:52.592Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_cb7662d4198d11edb5df2f1fdbe0f6bc","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-11T15:53:51.296Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_c8beb4f6198d11ed80d8736b62623fe0","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-11T15:53:46.737Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_c8092afa198d11ed9c5d3dd852cac008","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-11T15:53:45.548Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_c7f60416198d11edb9613184c55db46b","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2022-08-11T15:53:45.422Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Thu, 11 Aug 2022 15:54:03 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_cc3c214a198d11eda9900f03cc48eba8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f5261be786c5420027f5fc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3bc4288f5312e602cbc1f7b77426e9d"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"description":"batch.updated","mode":"test","previous_attributes":{"state":"label_generating"},"created_at":"2022-08-11T15:53:53.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2022-08-11T15:53:53.000Z","id":"evt_cc3c214a198d11eda9900f03cc48eba8","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","object":"Event"}'
  recorded_at: Thu, 11 Aug 2022 15:54:03 GMT
recorded_with: VCR 6.0.0
