---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2a63c1bd88e798cc18000b4361
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"949d90260386976921618c43c3f8d6f8"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"hook_028a1cc2938011ed81bf61bd43521093","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-01-13T20:22:33Z","disabled_at":null}'
  recorded_at: Fri, 13 Jan 2023 20:22:32 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2b63c1bd88e798cc19000b43ad
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96d5bbb257c73bdfe251eb2c4a3def4c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"batch_83b3256ed1ce408aa3119c786668ea92","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-01-13T20:22:33Z","updated_at":"2023-01-13T20:22:33Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Fri, 13 Jan 2023 20:22:32 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2963c1bd8ee798cc1e000b4696
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43cb37c2c994363a531f8de2af5912f8"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_03428f32938011ed847921b1fb2eab04","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:33.814Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_02d07b72938011ed8965596380349cc5","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-01-13T20:22:33.066Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6e6f0c96937f11eda16149a37a821d14","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"completed","created_at":"2023-01-13T20:18:24.125Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_6e609b66937f11ed910407daa7cedfe1","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"completed","created_at":"2023-01-13T20:18:24.030Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_f43a4108937d11edb6ec1ffda509f0be","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"failed","created_at":"2023-01-13T20:07:49.600Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Fri, 13 Jan 2023 20:22:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_03428f32938011ed847921b1fb2eab04/payloads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2d63c1bd8ee798cc1f000b46c7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5e6dd0a7b95afc23c69e9e95aa4ce47"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"payloads":[]}'
  recorded_at: Fri, 13 Jan 2023 20:22:38 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_028a1cc2938011ed81bf61bd43521093
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3ac9ec2b63c1bd8fe798cc20000b46ea
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202301131832-957dabd382-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 13 Jan 2023 20:22:39 GMT
recorded_with: VCR 6.0.0
