---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 0af7a3d066abe77fe799d87c00158502
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:20Z","id":"ak_8ea8950ecb1443d9a13009368c77fdf3"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:20Z","id":"ak_61f8f0824ad444ad96448ecf8ae0c613"}],"children":[]},{"id":"user_14e894c0d541459395f4456e7cf4f175","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at[...]
