---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d84c92966514a757f43f97e80004d236
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dea2e7a1dd0f16f8ed00ff2571bb2b6"
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202309272131-33dc63b17b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 003ad9bca0
      - intlb1nuq cac2303bbb
      - intlb1wdc cac2303bbb
    body:
      encoding: UTF-8
      string: '{"id":"user_3e4b7168954d4f5aaf49b30c8aa468b7","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-09-27T22:06:16Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-09-27T22:06:16Z","active":true,"id":"ak_4a4633d0ff6e4eb2bddcd4263c2047b3"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-09-27T22:06:16Z","active":true,"id":"ak_04450e5f4b3d4fa3948842559cb43493"}]}'
  recorded_at: Wed, 27 Sep 2023 22:06:16 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_3e4b7168954d4f5aaf49b30c8aa468b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 565dec406514a758f45120280008e145
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546934704049cc9b2dff852fd9dcaeff"
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202309272131-33dc63b17b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq cac2303bbb
    body:
      encoding: UTF-8
      string: '{"id":"user_3e4b7168954d4f5aaf49b30c8aa468b7","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-09-27T22:06:16Z","default_carbon_offset":false,"has_elevate_access":false,"children":[]}'
  recorded_at: Wed, 27 Sep 2023 22:06:16 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 565dec406514a758f440c9f20008e14e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7e05bfde87919d156d818d7a98a7baa"
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202309272131-33dc63b17b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq cac2303bbb
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:20Z","id":"ak_8ea8950ecb1443d9a13009368c77fdf3"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:20Z","id":"ak_61f8f0824ad444ad96448ecf8ae0c613"}],"children":[]},{"id":"user_14e894c0d541459395f4456e7cf4f175","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-09-27T22:05:26Z","id":"ak_86f5343eb7c14d7e90a0dec0512c8329"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-09-27T22:05:26Z","id":"ak_5ec276fb301443dca2dfdef0435d7f7f"}],"children":[]},{"id":"user_3e4b7168954d4f5aaf49b30c8aa468b7","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-09-27T22:06:16Z","id":"ak_4a4633d0ff6e4eb2bddcd4263c2047b3"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-09-27T22:06:16Z","id":"ak_04450e5f4b3d4fa3948842559cb43493"}],"children":[]}]}'
  recorded_at: Wed, 27 Sep 2023 22:06:16 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_3e4b7168954d4f5aaf49b30c8aa468b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 565dec3b6514a759f42c67470008e157
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202309272131-33dc63b17b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq cac2303bbb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Sep 2023 22:06:17 GMT
recorded_with: VCR 6.1.0
