---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3567503f66abe781e799d89f001512b5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_e9c507a9b2ce45c38e285fc8cc360bb9","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2024-08-01T19:52:33Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-08-01T19:52:33Z","active":true,"id":"ak_d016bf83f1344277a90ddf4b6cc614f2"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-08-01T19:52:33Z","active":true,"id":"ak_0a574da05622489f8689ee0c05593e8e"}]}'
  recorded_at: Thu, 01 Aug 2024 19:52:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_e9c507a9b2ce45c38e285fc8cc360bb9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567503e66abe782e799d8bb001513b3
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_e9c507a9b2ce45c38e285fc8cc360bb9","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2024-08-01T19:52:33Z","default_carbon_offset":false,"has_elevate_access":false,"children":[]}'
  recorded_at: Thu, 01 Aug 2024 19:52:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504266abe782e799d8bc0015141f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:20Z","id":"ak_8ea8950ecb1443d9a130093[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_e9c507a9b2ce45c38e285fc8cc360bb9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 3567504266abe783e799d8c10015149f
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 Aug 2024 19:52:35 GMT
recorded_with: VCR 6.1.0
