---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a6f186b8669ed94be78b27ca003aa5f0
      Location:
      - "/api/v2/shipments/shp_c5f7f4d03b744bd4b67fccec271b032d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407222028-c5c7d6f665-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-22T22:12:27Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_d05aecc4f5c9412283e2fdc65d117692","type":"rate_error","message":"Invalid
        Access License number"},{"carrier":"UPS","carrier_account_id":"ca_533ac39596fc45809cf6685bbe55523a","type":"rate_error","message":"Invalid
        Access License number"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b3781a40f76d4b94a70d2258e6d318c2","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2024-07-22T22:12:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7b022500487711ef86ecac1f6bc539aa","object":"Address","created_at":"2024-07-22T22:12:27+00:00","updated_at":"2024-07-22T22:12:27+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d6dbbdf3f26d4b2f98ce5a12eb1dbdf5","object":"Parcel","created_at":"2024-07-22T22:12:27Z","updated_at":"2024-07-22T22:12:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9be6a39236264f239ca9cd13c6aacd44","object":"Rate","created_at":"2024-07-22T22:12:27Z","updated_at":"2024-07-22T22:12:27Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c5f7f4d03b744bd4b67fccec271b032d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e1adaec04cfc4831be87ae001215bc52","object":"Rate","created_at":"2024-07-22T22:12:27Z","updated_at":"2024-07-22T22:12:27Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c5f7f4d03b744bd4b67fccec271b032d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_df51a27d0845460b92836354de6baa5d","object":"Rate","created_at":"2024-07-22T22:12:27Z","updated_at":"2024-07-22T22:12:27Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_c5f7f4d03b744bd4b67fccec271b032d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_7afff7e9487711ef90adac1f6bc53342","object":"Address","created_at":"2024-07-22T22:12:27+00:00","updated_at":"2024-07-22T22:12:27+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":4,"return_address":{"id":"adr_7b022500487711ef86ecac1f6bc539aa","object":"Address","created_at":"2024-07-22T22:12:27+00:00","updated_at":"2024-07-22T22:12:27+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_7afff7e9487711ef90adac1f6bc53342","object":"Address","created_at":"2024-07-22T22:12:27+00:00","updated_at":"2024-07-22T22:12:27+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_c5f7f4d03b744bd4b67fccec271b032d","object":"Shipment"}'
  recorded_at: Mon, 22 Jul 2024 22:12:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_c5f7f4d03b744bd4b67fccec271b032d/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_df51a27d0845460b92836354de6baa5d"},"insurance":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a6f186b4669ed94ce78b27cb003aa72c
      Content-Type:
      - appli[...]
- request:
    method: post
    uri: https://api.easypost.com/beta/claims
    body:
      encoding: UTF-8
      string: '{"type":"damage","email_evidence_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"invoice_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"supporting_documentation_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"description":"Test
        description","contact_email":"test@example.com","tracking_code":"9400100110368065992572","amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a6f186b5669ed94ee78b27cc003aa92e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407222028-c5c7d6f665-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/4e44c8b0b1df4fd886eb3b864e71d003.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/89ddbc51a4e5483aad751e32b2ffcdf3.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/94ec37f97310414793054d3fb152e61f.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-22T22:12:30","description":"Test
        description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-22T22:12:30"}],"id":"clm_097e4d36eb8c445fa0f3d406aaa8f77a","insurance_amount":"100.00","insurance_id":"ins_86c92eb472214692b114ab9a6f70814f","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_c5f7f4d03b744bd4b67fccec271b032d","status":"submitted","status_detail":"Claim
        was created.","status_timestamp":"2024-07-22T22:12:30","tracking_code":"9400100110368065992572","type":"damage","updated_at":"2024-07-22T22:12:30"}'
  recorded_at: Mon, 22 Jul 2024 22:12:31 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/claims/clm_097e4d36eb8c445fa0f3d406aaa8f77a/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a6f186b2669ed94fe78b27e4003aaa86
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Ve[...]
