---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/claims
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 47648421669fe92fe799d4e1004d5cfb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407231702-040a3c7b8f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/1c5fd49a03e346819351cb28b3908225.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/f6145950b1624e1bb210990cc0c964d6.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/65afd26684f34a88a5ac48cfeb7b1d89.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T17:32:28","description":"Test
        description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-23T17:32:28"}],"id":"clm_097e7b5e0fa04e98a145a3e0681d1d59","insurance_amount":"100.00","insurance_id":"ins_ae57c377df834b72ab6b3c7a2378d919","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_8e7849912515457280124c17b09d5d9d","status":"submitted","status_detail":"Claim
        was created.","status_timestamp":"2024-07-23T17:32:28","tracking_code":"9400100110368066357813","type":"damage","updated_at":"2024-07-23T17:32:28"},{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/99146b8dae184be99db6be685cb73415.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/0d43546e4a2f46be9e9c541d6e802998.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/4bd7fbb658504206bb1b95e698c309d1.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T17:32:25","description"[...]
