---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7da73e799dc5a005995f1
      Location:
      - "/api/v2/shipments/shp_1752320ccb874243bd18ca51f02716d0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:07:47Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_d05aecc4f5c9412283e2fdc65d117692","type":"rate_error","message":"Invalid
        Access License number"},{"carrier":"UPS","carrier_account_id":"ca_533ac39596fc45809cf6685bbe55523a","type":"rate_error","message":"Invalid
        Access License number"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b3781a40f76d4b94a70d2258e6d318c2","type":"rate_error","message":"Invalid
        credentials"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2024-07-29T18:07:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_75f21cb64dd511efa22aac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:07:47+00:00","updated_at":"2024-07-29T18:07:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0d69338b0e1c471684bdc2f32bf8624f","object":"Parcel","created_at":"2024-07-29T18:07:47Z","updated_at":"2024-07-29T18:07:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a48f2fccb2de454ea38b03208c62af65","object":"Rate","created_at":"2024-07-29T18:07:48Z","updated_at":"2024-07-29T18:07:48Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1752320ccb874243bd18ca51f02716d0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7adc1cb2427a4d329da8b4e8bc5d33e0","object":"Rate","created_at":"2024-07-29T18:07:48Z","updated_at":"2024-07-29T18:07:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1752320ccb874243bd18ca51f02716d0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3da7b805f6304c6790f547775eb951ee","object":"Rate","created_at":"2024-07-29T18:07:48Z","updated_at":"2024-07-29T18:07:48Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_1752320ccb874243bd18ca51f02716d0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_75ef8c494dd511ef94213cecef1b359e","object":"Address","created_at":"2024-07-29T18:07:47+00:00","updated_at":"2024-07-29T18:07:47+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":4,"return_address":{"id":"adr_75f21cb64dd511efa22aac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:07:47+00:00","updated_at":"2024-07-29T18:07:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_75ef8c494dd511ef94213cecef1b359e","object":"Address","created_at":"2024-07-29T18:07:47+00:00","updated_at":"2024-07-29T18:07:47+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_1752320ccb874243bd18ca51f02716d0","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:07:47 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_1752320ccb874243bd18ca51f02716d0/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_3da7b805f6304c6790f547775eb951ee"},"insurance":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7da74e799dc5b0059972c
      Content-Type:
      - appli[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/claims
    body:
      encoding: UTF-8
      string: '{"type":"damage","email_evidence_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"invoice_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"supporting_documentation_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"description":"Test
        description","contact_email":"test@example.com","tracking_code":"9400100110368068500422","amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da75e799dc5c005998ad
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/8d188493d4c84c16b6c14638da363b7d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/34e6650240f0434189b1cf7cf3ea746f.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/66ce3b9de15b4eeba6b332f68db73582.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-29T18:07:49","description":"Test
        description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-29T18:07:49"}],"id":"clm_097f1366c96b49ce8e5ed1fde6956cb7","insurance_amount":"100.00","insurance_id":"ins_65a4a60887ea4aa7a24402019bf6e398","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_1752320ccb874243bd18ca51f02716d0","status":"submitted","status_detail":"Claim
        was created.","status_timestamp":"2024-07-29T18:07:49","tracking_code":"9400100110368068500422","type":"damage","updated_at":"2024-07-29T18:07:49"}'
  recorded_at: Mon, 29 Jul 2024 18:07:50 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/claims/clm_097f1366c96b49ce8e5ed1fde6956cb7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da76e799dc5d005999f3
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-L[...]
