---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/claims?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7da77e799dc5f00599ae6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/8d188493d4c84c16b6c14638da363b7d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/34e6650240f0434189b1cf7cf3ea746f.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/66ce3b9de15b4eeba6b332f68db73582.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-29T18:07:49","description":"Test
        description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-29T18:07:49"}],"id":"clm_097f1366c96b49ce8e5ed1fde6956cb7","insurance_amount":"100.00","insurance_id":"ins_65a4a60887ea4aa7a24402019bf6e398","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_1752320ccb874243bd18ca51f02716d0","status":"submitted","status_detail":"Claim
        was created.","status_timestamp":"2024-07-29T18:07:49","tracking_code":"9400100110368068500422","type":"damage","updated_at":"2024-07-29T18:07:49"},{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/3944491d028f4490ad8c706dff4cb66d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/3b0c3c618d1d4a068564f691ca6e2ba8.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240729/2c27b0ad144741cab3750ce002144157.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-29T18:07:46","description"[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/claims?before_id=clm_097ff127cc6c484dbd38fc9d0b1df1f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da78e799dc6000599b58
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X[...]
