---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/luma/promise
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"ruleset_name":"cheapest_delivery","planned_ship_date":"2025-06-12"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5339474d684b40e6e2bb36240096d849
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202506122002-4fcd94d6be-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq e8fe6f4ec2
    body:
      encoding: UTF-8
      string: '{"luma_info":{"ai_results":[{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-13","predicted_deliver_days":1,"rate_usd":"34.15","service":"Express"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-14","predicted_deliver_days":2,"rate_usd":"7.42","service":"Priority"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-15","predicted_deliver_days":3,"rate_usd":"6.07","service":"GroundAdvantage"}],"matching_rule_idx":0,"ruleset_description":"Buy
        the cheapest rate that satisfies all of the following:\nRule 0\n    \nOtherwise
        buy the cheapest rate","luma_selected_rate":{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","currency":"USD","rate":"6.07","service":"GroundAdvantage","luma_predicted_deliver_by_date":"2025-06-15"}}}'
  recorded_at: Thu, 12 Jun 2025 21:04:39 GMT
recorded_with: VCR 6.3.1
