---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6c6217bd8ee786c1000038a7fe
      Location:
      - "/api/v2/trackers/trk_8285f457d7b846da8bf0622e24fb4b19"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d2b4ff4279d4691cd3aa6e47c90a634"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_8285f457d7b846da8bf0622e24fb4b19","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-02-24T17:17:02Z","updated_at":"2022-02-24T17:17:02Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-02-24T17:17:02Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-01-24T17:17:02Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-01-25T12:06:02Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzgyODVmNDU3ZDdiODQ2ZGE4YmYwNjIyZTI0ZmI0YjE5","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 24 Feb 2022 17:17:02 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers/trk_8285f457d7b846da8bf0622e24fb4b19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6e6217bd8fe786c1010038a854
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57fa2a60d96ae3afc0438[...]
