---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d544d2f26217bd8de786c0ff003ae905
      Location:
      - "/api/v2/trackers/trk_d364314db8c443c088d7f1c0f5948a7e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dbff048da4b657750e6134eb12380848"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_d364314db8c443c088d7f1c0f5948a7e","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-02-24T17:17:01Z","updated_at":"2022-02-24T17:17:01Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-02-24T17:17:01Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-01-24T17:17:01Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-01-25T12:06:01Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2QzNjQzMTRkYjhjNDQzYzA4OGQ3ZjFjMGY1OTQ4YTdl","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 24 Feb 2022 17:17:01 GMT
recorded_with: VCR 6.0.0
