---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6f6217bd90e786c1020038a8c7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb22026f3b597328b6e526d2d3584d2a"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"trackers":[{"id":"trk_8285f457d7b846da8bf0622e24fb4b19","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2022-02-24T17:17:02Z","updated_at":"2022-02-24T17:17:02Z","signed_by":null,"weight":null,"est_delivery_date":"2022-02-24T17:17:02Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-24T17:17:02Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-25T05:54:02Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrXzgyODVmNDU3ZDdiODQ2ZGE4YmYwNjIyZTI0ZmI0YjE5"},{"id":"trk_d364314db8c443c088d7f1c0f5948a7e","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2022-02-24T17:17:01Z","updated_at":"2022-02-24T17:17:01Z","signed_by":null,"weight":null,"est_delivery_date":"2022-02-24T17:17:01Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
[...]
