---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652e16e0dc9b8500070c28
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e9052d07dfbcb36d13bdaab54cbd231"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"trackers":[{"id":"trk_04b882d70c2641529009aa1fdbe2bb2a","object":"Tracker","mode":"test","tracking_code":"9400100104262210694146","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-17T19:42:10Z","updated_at":"2023-05-17T19:42:10Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-17T19:42:10Z","shipment_id":"shp_dd33c212454941abaa9d4efc772a14d6","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-17T19:42:10Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-18T08:19:10Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrXzA0Yjg4MmQ3MGMyNjQxNTI5MDA5YWExZmRiZTJiYjJh"},{"id":"trk_5a8580cd71d24ace8e32c85fdc9bccff","object":"Tracker","mode":"test","tracking_code":"9400100104262210693934","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-17T19:41:59Z","updated_at":"2023-05-17T19:41:59Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-17T19:41:59Z","shipment_id":"shp_167627401bf6482d8651e69bf15189b0","carrier":"USPS","tracking_details":[{"objec[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"before_id":"trk_11157dd8e33e4e999d430e5f8de9bf6a"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e17e0dc9b8600070c49
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ba416348110923f7120e89e5aeca622"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-B[...]
