---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5266ae7872ef500281115
      Location:
      - "/api/v2/trackers/trk_2e4fed1f02334c02b6058013befdf0d7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d3ae0370e081f32e9e68dea7578ab13"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"trk_2e4fed1f02334c02b6058013befdf0d7","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-08-11T15:55:22Z","updated_at":"2022-08-11T15:55:22Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-08-11T15:55:22Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-07-11T15:55:22Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-07-12T10:44:22Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzJlNGZlZDFmMDIzMzRjMDJiNjA1ODAxM2JlZmRmMGQ3","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 11 Aug 2022 15:55:22 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers/trk_2e4fed1f02334c02b6058013befdf0d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5266ae7872ef600281123
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac95aedd5292734bacf42ac6f4[...]
