---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 362578105ea30ec4fc9bf0c800116cfe
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202004241544-936cda81c5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"trackers":[{"id":"trk_5e55fd6e2c4143e2bd9d9ff570313841","user_id":47799,"object":"Tracker","mode":"test","tracking_code":"EZ2000000002","status":"in_transit","status_detail":"status_update","created_at":"2020-04-24T16:07:31Z","updated_at":"2020-04-24T16:07:31Z","signed_by":null,"weight":null,"est_delivery_date":"2020-04-24T16:07:31Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-03-24T16:07:31Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-03-25T04:44:31Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
        at USPS Origin Facility","description":null,"status":"in_transit","status_detail":"arrived_at_facility","datetime":[...]
