---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00abbe787e24b00076510
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"trackers":[{"id":"trk_87c21f1338d34888a5d34dc0571a653a","object":"Tracker","mode":"test","tracking_code":"9400100207552011757918","status":"pre_transit","status_detail":"status_update","created_at":"2024-01-23T18:51:35Z","updated_at":"2024-01-23T18:51:35Z","signed_by":null,"weight":null,"est_delivery_date":"2024-01-23T18:51:35Z","shipment_id":"shp_14ac4dccece74e20b0a9ec0e2ed49989","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2023-12-23T18:51:35Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2023-12-24T07:28:35Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrXzg3YzIxZjEzMzhkMzQ4ODhhNWQzNGRjMDU3MWE2NTNh"},{"id":"trk_2d4183656a744f1b89ba0df3102b7776","object":"Tracker","mode":"test","tracking_code":"9400100207552011757888","status":"pre_transit","status_detail":"status_update","created_at":"2024-01-23T18:51:24Z","updated_at":"2024-01-23T18:51:24Z","signed_by":null,"weight":null,"est_delivery_date":"2024-01-23T18:51:24Z","shipment_id":"shp_fb5dc44a8c404a9d9fa663ad6d631754","carrier":"USPS","tracking_details":[{"objec[...]
