---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba80e78982e5000883b0
      Location:
      - "/api/v2/trackers/trk_3f4bebac365541eb836299695fc366d9"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ab3f1325d56831a7e85ebacf6900d31"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"trk_3f4bebac365541eb836299695fc366d9","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-08-09T19:50:24Z","updated_at":"2022-08-09T19:50:24Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-08-09T19:50:24Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-07-09T19:50:24Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-07-10T14:39:24Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzNmNGJlYmFjMzY1NTQxZWI4MzYyOTk2OTVmYzM2NmQ5","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Tue, 09 Aug 2022 19:50:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers/trk_3f4bebac365541eb836299695fc366d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba80e78982e6000883cd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3c6b1e75cc1a36a0270d9d565[...]
