---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40e4e7873ca200312398
      Location:
      - "/api/v2/trackers/trk_3745618ba26b4471b5853bb8b48a25ac"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24e18bacfd8aa5c2c70a9d4d9e83fa75"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"trk_3745618ba26b4471b5853bb8b48a25ac","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-05-12T17:16:20Z","updated_at":"2022-05-12T17:16:20Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-05-12T17:16:20Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-12T17:16:20Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-13T12:05:20Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzM3NDU2MThiYTI2YjQ0NzFiNTg1M2JiOGI0OGEyNWFj","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 12 May 2022 17:16:21 GMT
recorded_with: VCR 6.0.0
