---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7dd2313069824473e7897e620037d337
      Location:
      - "/api/v2/trackers/trk_33b935fbb2c549548ac308e9650703ea"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb64nuq
      X-Version-Label:
      - easypost-202602022215-5a5c93c546-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq cbbd141214
      - intlb5nuq 5f0235a1ab
    body:
      encoding: UTF-8
      string: '{"id":"trk_33b935fbb2c549548ac308e9650703ea","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2025-11-05T22:38:42Z","updated_at":"2025-11-05T22:38:42Z","signed_by":null,"weight":null,"est_delivery_date":"2025-11-05T22:38:42Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2025-10-05T22:38:42Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null},"est_delivery_date":null},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2025-10-06T11:15:42Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"est_delivery_date":null}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"delivery_evidence":[],"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzMzYjkzNWZiYjJjNTQ5NTQ4YWMzMDhlOTY1MDcwM2Vh"}'
  recorded_at: Tue, 03 Feb 2026 18:54:43 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/trackers/trk_33b935fbb2c549548ac308e9650703ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7dd2312b69824473e7897e640037d395
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb57nuq
      X-Version-Label:
      - easypost-202602022215-5a5c93c546-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq cbbd141214
      - intlb6nuq 5f0235a1ab
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 03 Feb 2026 18:54:43 GMT
recorded_with: VCR 6.4.0
