---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5da46424ba95e650e5ae0013f854
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"279365d332866943a8f7d4b39c51f40e"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"trackers":[],"has_more":false}'
  recorded_at: Wed, 29 Mar 2023 22:24:21 GMT
recorded_with: VCR 6.0.0
