---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7db2be799e53c005a583b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"trackers":[{"id":"trk_a930e85333e943e58a8d48b15c4863ae","object":"Tracker","mode":"test","tracking_code":"9400100110368068501429","status":"pre_transit","status_detail":"status_update","created_at":"2024-07-29T18:10:44Z","updated_at":"2024-07-29T18:10:44Z","signed_by":null,"weight":null,"est_delivery_date":"2024-07-29T18:10:44Z","shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-06-29T18:10:44Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-06-30T06:47:44Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2E5MzBlODUzMzNlOTQzZTU4YThkNDhiMTVjNDg2M2Fl"},{"id":"trk_ef40432d052240aba8e5a60a15f3276a","object":"Tracker","mode":"test","tracking_code":"9400100110368068501344","status":"pre_transit","status_detail":"status_update","created_at":"2024-07-29T18:10:29Z","updated_at":"2024-07-29T18:10:29Z","signed_by":null,"weight":null,"est_delivery_date":"2024-07-29T18:10:29Z","shipment_id":"shp_322163d6c5a74b11bca4f2daa2395c73","carrier":"USPS","tracking_details":[{"objec[...]
