---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ2000000002","carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287135ebaf154f5324157000f4c23
      Location:
      - "/api/v2/trackers/trk_b59cd3b66ef24c91a518f12f88ca5be3"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_b59cd3b66ef24c91a518f12f88ca5be3","user_id":47799,"object":"Tracker","mode":"test","tracking_code":"EZ2000000002","status":"in_transit","status_detail":"status_update","created_at":"2020-05-12T18:56:20Z","updated_at":"2020-05-12T18:56:20Z","signed_by":null,"weight":null,"est_delivery_date":"2020-05-12T18:56:20Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-12T18:56:20Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-13T07:33:20Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
        at USPS Origin Facility","description":null,"status":"in_transit","status_detail":"arrived_at_facility","datetime":[...]
