---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40e5e7873ca3003123ba
      Location:
      - "/api/v2/trackers/trk_44b23a943c7b4804b359393df0e559c6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0ba7ea8151a6be782eefc67559ef822"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"trk_44b23a943c7b4804b359393df0e559c6","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-05-12T17:16:21Z","updated_at":"2022-05-12T17:16:21Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-05-12T17:16:21Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-12T17:16:21Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-13T12:05:21Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzQ0YjIzYTk0M2M3YjQ4MDRiMzU5MzkzZGYwZTU1OWM2","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 12 May 2022 17:16:21 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers/trk_44b23a943c7b4804b359393df0e559c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40e5e7873ca4003123cd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14de992d6acbbbd02be1d171e0[...]
