---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7662e2e49cec9562360037f4b0
      Location:
      - "/api/v2/shipments/shp_e2f678bff7744646b5db011111f1666c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2c6e32b36963937bd5d1d0c735c8258"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478968","updated_at":"2022-07-28T19:33:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_33c8b5380eac11ed99dfac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:48+00:00","updated_at":"2022-07-28T19:33:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a57a32e129664b7398433a254126bbe2","object":"Parcel","created_at":"2022-07-28T19:33:48Z","updated_at":"2022-07-28T19:33:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_86af93bd0a47420bb4d3c72685443eba","created_at":"2022-07-28T19:33:48Z","updated_at":"2022-07-28T19:33:49Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:48Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/4053eb3657f8442c871cb327fa4b980d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_24391f933ba54073bf520c6d51f5c394","object":"Rate","created_at":"2022-07-28T19:33:48Z","updated_at":"2022-07-28T19:33:48Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e2f678bff7744646b5db011111f1666c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b28f389a02a84e7b998bccd6beaf656f","object":"Rate","created_at":"2022-07-28T19:33:48Z","updated_at":"2022-07-28T19:33:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e2f678bff7744646b5d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_e2f678bff7744646b5db011111f1666c"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7662e2e49dec4eb6790037f510
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9b0ee34385fdfc996c0924df540182d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"sf_b6c75d2677b84fbba1a61326db1dbc7f","object":"ScanForm","created_at":"2022-07-28T19:33:49Z","updated_at":"2022-07-28T19:33:49Z","tracking_codes":["9400100109361130478968"],"address":{"id":"adr_33c8b5380eac11ed99dfac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:48+00:00","updated_at":"2022-07-28T19:33:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220728/678c6f716d974abfaf52e2c2b9bded11.pdf","form_file_type":null,"batch_id":"batch_39636446d31c46f493458c09577d3af8","confirmation":null}'
  recorded_at: Thu, 28 Jul 2022 19:33:50 GMT
recorded_with: VCR 6.0.0
