---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a6216cb83e78b1347004d5f72
      Location:
      - "/api/v2/shipments/shp_78c616931a724a9e8aa30b07b377e0dd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cf08c1723fd5115d3f7e511c25c3e1ce"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T00:04:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108766656","updated_at":"2022-02-24T00:04:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5034651c950511eca604ac1f6b0a0d1e","object":"Address","created_at":"2022-02-24T00:04:19+00:00","updated_at":"2022-02-24T00:04:19+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d2ecc845b23443ff8347cbd9a4d8a45d","object":"Parcel","created_at":"2022-02-24T00:04:19Z","updated_at":"2022-02-24T00:04:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_bfbb32df631a4b62a688e0ee17d669b7","created_at":"2022-02-24T00:04:19Z","updated_at":"2022-02-24T00:04:20Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-24T00:04:19Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220224/882f543f496b4ecda4c8733cd797a6e7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9484cdd9ed6a4a5baf584ddf1fa6e025","object":"Rate","created_at":"2022-02-24T00:04:19Z","updated_at":"2022-02-24T00:04:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_78c616931a724a9e8aa30b07b377e0dd","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b345cdd044f24466837dde7b0dc83a17","object":"Rate","created_at":"2022-02-24T00:04:19Z","updated_at":"2022-02-24T00:04:19Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_78c616931a724a9e8aa30b07b377e0dd","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_78c616931a724a9e8aa30b07b377e0dd"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066366216cb84e78b1348004d5fed
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"61dde22fd56ce5c00b70dc722ea0a254"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sf_c844975e517e40068810771801e30f38","object":"ScanForm","created_at":"2022-02-24T00:04:20Z","updated_at":"2022-02-24T00:04:20Z","tracking_codes":["9400100895232108766656"],"address":{"id":"adr_5034651c950511eca604ac1f6b0a0d1e","object":"Address","created_at":"2022-02-24T00:04:19+00:00","updated_at":"2022-02-24T00:04:19+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220224/5dcabd5d42114820913232709ef27cad.pdf","form_file_type":null,"batch_id":"batch_e97396765f5a4267a59c4bc32ce39982","confirmation":null}'
  recorded_at: Thu, 24 Feb 2022 00:04:20 GMT
recorded_with: VCR 6.0.0
