---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52646e786c983002804ea
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a203d7de9b2c6a34d18121ef076c1a0"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_76d2d1473c78475fb76f99d123effb16","object":"ScanForm","created_at":"2022-08-11T15:54:45Z","updated_at":"2022-08-11T15:54:45Z","tracking_codes":["9400100109361132686064"],"address":{"id":"adr_eae438ca198d11ed90c6ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:44+00:00","updated_at":"2022-08-11T15:54:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220811/c6f01fa2e9c14050a99a60aaba87a7f7.pdf","form_file_type":null,"batch_id":"batch_97b80262748c451e9f8544c87cc8b406","confirmation":null},{"id":"sf_f507a91688194cf281830c9d60adf545","object":"ScanForm","created_at":"2022-08-11T15:54:43Z","updated_at":"2022-08-11T15:54:43Z","tracking_codes":["9400100109361132686057"],"address":{"id":"adr_e9dba71d198d11ed8f79ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:42+00:00","updated_at":"2022-08-11T15:54:42+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":[...]
