---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066386216cb9ce78b1366004d692c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6354f0934b1c7de24454234e8fa76dc"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"scan_forms":[{"id":"sf_52d1d85c6e2d4e1db26df6a796308f2b","object":"ScanForm","created_at":"2022-02-22T18:36:46Z","updated_at":"2022-02-22T18:36:46Z","tracking_codes":["9400100895232108546203"],"address":{"id":"adr_62e1d78f940e11ecbfe7ac1f6bc7bdc6","object":"Address","created_at":"2022-02-22T18:36:45+00:00","updated_at":"2022-02-22T18:36:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220222/b6e6a6f1c0fc4231b3985d02ebd28983.pdf","form_file_type":null,"batch_id":"batch_8486eca798934c35840dc5d79890ee28","confirmation":null},{"id":"sf_1e58f4ab5d0c4bdbb261257ae8c339c4","object":"ScanForm","created_at":"2022-02-22T18:38:56Z","updated_at":"2022-02-22T18:38:56Z","tracking_codes":["9400100895232108546357"],"address":{"id":"adr_b0434e54940e11ec9b2bac1f6bc7b362","object":"Address","created_at":"2022-02-22T18:38:54+00:00","updated_at":"2022-02-22T18:38:54+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","c[...]
