---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40d0e7873c2100311d29
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"718e03d984e97a9611201af5184251d5"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_29c779908b214344ac4dc46504d78212","object":"ScanForm","created_at":"2022-05-12T17:16:00Z","updated_at":"2022-05-12T17:16:00Z","tracking_codes":["9400100109361118873877"],"address":{"id":"adr_30bbb5fcd21711ec9686ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:58+00:00","updated_at":"2022-05-12T17:15:58+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220512/177e33cb26724820a4ba4c8154bc5961.pdf","form_file_type":null,"batch_id":"batch_e64808c4f7df4e15831c17cc8e163d59","confirmation":null},{"id":"sf_96012d315a104698852b2fafeb2f26a6","object":"ScanForm","created_at":"2022-05-12T17:15:58Z","updated_at":"2022-05-12T17:15:58Z","tracking_codes":["9400100109361118873860"],"address":{"id":"adr_2fba993cd21711ecb62bac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:15:56+00:00","updated_at":"2022-05-12T17:15:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","c[...]
