---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba5fe7897f04000875d2
      Location:
      - "/api/v2/shipments/shp_47dab75e27f344719f862871f9785b14"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c83b0ccf32ccd74c1760e4fd8a65da17"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422815","updated_at":"2022-08-09T19:49:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6ee15d0f181c11ed89a8ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:51+00:00","updated_at":"2022-08-09T19:49:51+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_864df7c8935d4351987aed21e5c77ac3","object":"Parcel","created_at":"2022-08-09T19:49:51Z","updated_at":"2022-08-09T19:49:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a8d203f0bb8e4caa987a087ec53c1864","created_at":"2022-08-09T19:49:52Z","updated_at":"2022-08-09T19:49:52Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/1f5ec7ebdd6e48c5b99efc7af5543043.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a7fb2022692e42219738de339b06d3f0","object":"Rate","created_at":"2022-08-09T19:49:51Z","updated_at":"2022-08-09T19:49:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_47dab75e27f344719f862871f9785b14","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ada9b1e7d1294acab2183e034b57e7e5","object":"Rate","created_at":"2022-08-09T19:49:51Z","updated_at":"2022-08-09T19:49:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_47dab75e27f3447[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_47dab75e27f344719f862871f9785b14"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba61e7897f0500087638
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"418e37ca416db4ddff918074ffa12264"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"sf_8bca5399fe2b4d8bae0a4bcf4b0f13f7","object":"ScanForm","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","tracking_codes":["9400100109361132422815"],"address":{"id":"adr_6ee15d0f181c11ed89a8ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:51+00:00","updated_at":"2022-08-09T19:49:51+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220809/cb22fba210e34da5b1a851c4969319a7.pdf","form_file_type":null,"batch_id":"batch_a5a3ac75e9464ef5bd511afb5b7d37b9","confirmation":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:53 GMT
recorded_with: VCR 6.0.0
