---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba61e7897f060008766f
      Location:
      - "/api/v2/shipments/shp_1347e714aa394e03a75d5a9907285dbe"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ea0434c9a9155f0c9b07101f190b007"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422822","updated_at":"2022-08-09T19:49:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_70063f76181c11edb4aeac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:53+00:00","updated_at":"2022-08-09T19:49:53+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e5ce725cfb404a56b210564c5e0511d1","object":"Parcel","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f54189452f30476086de7df655938e01","created_at":"2022-08-09T19:49:54Z","updated_at":"2022-08-09T19:49:54Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:54Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/5f971acce8384c36817264f29d56efb7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d5163711e93e4233a2a1bf69d19b9565","object":"Rate","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_1347e714aa394e03a75d5a9907285dbe","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4b8cfc6ba1b2456aa5bf8889d12eedc8","object":"Rate","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_1347e714aa3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_1347e714aa394e03a75d5a9907285dbe"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba63e7897f07000876f9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb35d32ea1542ca1ab4a281d0094d37b"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"sf_14d52e7bdf2644a18954c8da029bf476","object":"ScanForm","created_at":"2022-08-09T19:49:55Z","updated_at":"2022-08-09T19:49:55Z","tracking_codes":["9400100109361132422822"],"address":{"id":"adr_70063f76181c11edb4aeac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:53+00:00","updated_at":"2022-08-09T19:49:53+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220809/1292fe4a29944d96a1a554e16904b3f7.pdf","form_file_type":null,"batch_id":"batch_abf3cdd20aa5432abb4e2ab7a1b1f227","confirmation":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:55 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_14d52e7bdf2644a18954c8da029bf476
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba63e7897f080008772f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb35d32ea1542ca1ab4a281d0[...]
