---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba63e7897f0900087744
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9150011728685c87583eedd88f33a42c"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_b6c75d2677b84fbba1a61326db1dbc7f","object":"ScanForm","created_at":"2022-07-28T19:33:49Z","updated_at":"2022-07-28T19:33:49Z","tracking_codes":["9400100109361130478968"],"address":{"id":"adr_33c8b5380eac11ed99dfac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:48+00:00","updated_at":"2022-07-28T19:33:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220728/678c6f716d974abfaf52e2c2b9bded11.pdf","form_file_type":null,"batch_id":"batch_39636446d31c46f493458c09577d3af8","confirmation":null},{"id":"sf_1d01094d339d43cdb274ab7f0cf6294a","object":"ScanForm","created_at":"2022-07-28T19:33:51Z","updated_at":"2022-07-28T19:33:51Z","tracking_codes":["9400100109361130478975"],"address":{"id":"adr_34e27ede0eac11edbaf0ac1f6bc7bdc6","object":"Address","created_at":"2022-07-28T19:33:50+00:00","updated_at":"2022-07-28T19:33:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","c[...]
