---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52643e786c98000280413
      Location:
      - "/api/v2/shipments/shp_8bd00d782b714c46a778893784405112"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6bf75e3e8e705cd8ad7b152cb55046c"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686064","updated_at":"2022-08-11T15:54:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_eae438ca198d11ed90c6ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:44+00:00","updated_at":"2022-08-11T15:54:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a3048922b7cd49aab4e9a173bbf19740","object":"Parcel","created_at":"2022-08-11T15:54:44Z","updated_at":"2022-08-11T15:54:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a8ba7b9cdf074c268d444148a627f151","created_at":"2022-08-11T15:54:44Z","updated_at":"2022-08-11T15:54:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/cbc73bb36086487ead2a903bfa98a28e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f6225bac57b1424d94c12945859d2815","object":"Rate","created_at":"2022-08-11T15:54:44Z","updated_at":"2022-08-11T15:54:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8bd00d782b714c46a778893784405112","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3ac265bef28040f399e8b4dbf61be9ed","object":"Rate","created_at":"2022-08-11T15:54:44Z","updated_at":"2022-08-11T15:54:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8bd00d782b7[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_8bd00d782b714c46a778893784405112"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52645e786c98100280489
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"872f70a12b4d21fa9181d7a3ab9fa356"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"sf_76d2d1473c78475fb76f99d123effb16","object":"ScanForm","created_at":"2022-08-11T15:54:45Z","updated_at":"2022-08-11T15:54:45Z","tracking_codes":["9400100109361132686064"],"address":{"id":"adr_eae438ca198d11ed90c6ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:44+00:00","updated_at":"2022-08-11T15:54:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220811/c6f01fa2e9c14050a99a60aaba87a7f7.pdf","form_file_type":null,"batch_id":"batch_97b80262748c451e9f8544c87cc8b406","confirmation":null}'
  recorded_at: Thu, 11 Aug 2022 15:54:45 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_76d2d1473c78475fb76f99d123effb16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52645e786c982002804cf
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"872f70a12b4d21fa9181d7a3a[...]
