---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40cee7873c1e00311c94
      Location:
      - "/api/v2/shipments/shp_227ffa5fed1e43649a56fb718516e478"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"690b53b0037e5e0faf3afbd45688c897"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873877","updated_at":"2022-05-12T17:15:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_30bbb5fcd21711ec9686ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:58+00:00","updated_at":"2022-05-12T17:15:58+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ef0429c89e634c99849549a3a14c8586","object":"Parcel","created_at":"2022-05-12T17:15:58Z","updated_at":"2022-05-12T17:15:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7a3cced869604846ace01da3d0b90875","created_at":"2022-05-12T17:15:59Z","updated_at":"2022-05-12T17:15:59Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:59Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/ebc503335c144194ba8d65344d33482c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ba0e2bd88179499a932c3547af2d10ff","object":"Rate","created_at":"2022-05-12T17:15:58Z","updated_at":"2022-05-12T17:15:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_227ffa5fed1e43649a56fb718516e478","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_0c7ecfb6cd244f2390b8d5e74c8e6803","object":"Rate","created_at":"2022-05-12T17:15:58Z","updated_at":"2022-05-12T17:15:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_227ffa5fed1e43649a5[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_227ffa5fed1e43649a56fb718516e478"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40cfe7873c1f00311cfa
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b42054afe0dfd9ca635b4451efa769f8"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"sf_29c779908b214344ac4dc46504d78212","object":"ScanForm","created_at":"2022-05-12T17:16:00Z","updated_at":"2022-05-12T17:16:00Z","tracking_codes":["9400100109361118873877"],"address":{"id":"adr_30bbb5fcd21711ec9686ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:58+00:00","updated_at":"2022-05-12T17:15:58+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220512/177e33cb26724820a4ba4c8154bc5961.pdf","form_file_type":null,"batch_id":"batch_e64808c4f7df4e15831c17cc8e163d59","confirmation":null}'
  recorded_at: Thu, 12 May 2022 17:16:00 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_29c779908b214344ac4dc46504d78212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40d0e7873c2000311d1d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b42054afe0dfd9ca635b4451e[...]
