---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/health/boom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Ep-Request-Uuid:
      - '08ad24875f36b933e2002ad1000a0a2e'
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202008122048-6cdf416db1-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"INTERNAL_SERVER_ERROR","message":"We''re sorry, something
        went wrong. If the problem persists please contact Support.","errors":[]}}'
  recorded_at: Fri, 14 Aug 2020 16:17:55 GMT
recorded_with: VCR 5.1.0
