._*
.AppleDouble
.bundle
.config
.DS_Store
.env
.idea/
.LSOverride
.Spotlight-V100
.Trashes
*.gem
*.rbc
coverage
dist
docs
Gemfile.lock
Icon
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
/easycop.yml
/.rubocop.yml
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
tags
[._]*.un~
