._*
.AppleDouble
.bundle
.config
.DS_Store
.env
.idea/
.LSOverride
.Spotlight-V100
.Trashes
*.gem
*.rbc
coverage
dist
docs
Gemfile.lock
Icon
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
