.bundle
.config
.idea/
*.gem
*.rbc
coverage
dist
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp


# macOS
._*
.AppleDouble
.DS_Store
.env
.LSOverride
.Spotlight-V100
.Trashes
Icon
vendor/
