---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '"{\"id\": \"an_id\"}"'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7d37046664504c38e7799c4c001bc915
      Location:
      - "/api/v2/addresses/adr_89a05f61e87811edb177ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c06cf60905577457b2afc0c5149550bf"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202304282215-fd20a8757c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_89a05f61e87811edb177ac1f6bc7b362","object":"Address","created_at":"2023-05-01T23:33:12+00:00","updated_at":"2023-05-01T23:33:12+00:00","name":null,"company":null,"street1":null,"street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 01 May 2023 23:33:11 GMT
recorded_with: VCR 6.1.0
