---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c4e4cd9863337491f4f5dc20001afe55
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01177e0a10d38d5456763e3ada2da6f0"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209272141-cd59ee3d58-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_435db3993e7811edacf5ac1f6bc7bdc6","object":"Address","created_at":"2022-09-27T15:22:56+00:00","updated_at":"2022-09-27T15:22:56+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_435b16293e7811edacf4ac1f6bc7bdc6","object":"Address","created_at":"2022-09-27T15:22:56+00:00","updated_at":"2022-09-27T15:22:56+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_40dcc2c73e7811ed8d23ac1f6bc7b362","object":"Address","created_at":"2022-09-27T15:22:52+00:00","updated_at":"2022-09-27T15:22:52+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":[...]
