---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40ece7873ce5003125b8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc3a06bcca33fb0b7d9e9d35b75598e6"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_42bc056ad21711ec9604299319a23d32","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-05-12T17:16:29Z","disabled_at":null}'
  recorded_at: Thu, 12 May 2022 17:16:28 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_42bc056ad21711ec9604299319a23d32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40ece7873ce6003125cd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc3a06bcca33fb0b7d9e9d35b75598e6"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_42bc056ad21711ec9604299319a23d32","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-05-12T17:16:29Z","disabled_at":null}'
  recorded_at: Thu, 12 May 2022 17:16:29 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_42bc056ad21711ec9604299319a23d32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40ede7873ce7003125da
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 12 May 2022 17:16:29 GMT
recorded_with: VCR 6.0.0
