---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 16a5647c67af849ee787335a00521121
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502132348-e5a3dc472b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_80d0ee36eafd11efae1e2df6b01b5351","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-14T17:59:58Z","disabled_at":null}'
  recorded_at: Fri, 14 Feb 2025 17:59:58 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_80d0ee36eafd11efae1e2df6b01b5351
    body:
      encoding: UTF-8
      string: '{"webhook":{"webhook_secret":"sécret"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 16a5647e67af849ee787335c00521197
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202502132348-e5a3dc472b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_80d0ee36eafd11efae1e2df6b01b5351","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-14T17:59:58Z","disabled_at":null}'
  recorded_at: Fri, 14 Feb 2025 17:59:58 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_80d0ee36eafd11efae1e2df6b01b5351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 16a5647e67af849fe787335e00521258
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202502132348-e5a3dc472b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 14 Feb 2025 17:59:59 GMT
recorded_with: VCR 6.2.0
