---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e21e0dc9c0a00071061
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6103f76beb1e0120b2143864274f254"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_f3138612f4ea11eda8c75d3b99bf4aff","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-17T19:42:26Z","disabled_at":null}'
  recorded_at: Wed, 17 May 2023 19:42:25 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_f3138612f4ea11eda8c75d3b99bf4aff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e21e0dc9c2200071084
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6103f76beb1e0120b2143864274f254"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_f3138612f4ea11eda8c75d3b99bf4aff","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-17T19:42:26Z","disabled_at":null}'
  recorded_at: Wed, 17 May 2023 19:42:25 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_f3138612f4ea11eda8c75d3b99bf4aff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652e22e0dc9c2300071099
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 May 2023 19:42:26 GMT
recorded_with: VCR 6.1.0
