---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652e22e0dc9c25000710f4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6469037030230095345bf68cf757ad43"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_f3f2fb9ef4ea11ed97a739b050a418b0","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-17T19:42:27Z","disabled_at":null}'
  recorded_at: Wed, 17 May 2023 19:42:27 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_f3f2fb9ef4ea11ed97a739b050a418b0
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652e23e0dc9c2600071119
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6469037030230095345bf68cf757ad43"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_f3f2fb9ef4ea11ed97a739b050a418b0","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-17T19:42:27Z","disabled_at":null}'
  recorded_at: Wed, 17 May 2023 19:42:27 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_f3f2fb9ef4ea11ed97a739b050a418b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652e24e0dc9c2700071155
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 May 2023 19:42:28 GMT
recorded_with: VCR 6.1.0
