---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00ac5e787e2cd00076d7c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"hook_776989caba2011ee9b8007c40f08c386","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-01-23T18:51:50Z","disabled_at":null}'
  recorded_at: Tue, 23 Jan 2024 18:51:50 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_776989caba2011ee9b8007c40f08c386
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00ac6e787e2ce00076ddb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"hook_776989caba2011ee9b8007c40f08c386","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-01-23T18:51:50Z","disabled_at":null}'
  recorded_at: Tue, 23 Jan 2024 18:51:50 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_776989caba2011ee9b8007c40f08c386
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00ac7e787e2cf00076e76
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Jan 2024 18:51:51 GMT
recorded_with: VCR 6.2.0
