---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a893930b5eb9e854eefedeab000ff3ec
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_ab6e7fe56d224419b8dc5ffcd2cd346d","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 00:05:40 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_ab6e7fe56d224419b8dc5ffcd2cd346d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a893930c5eb9e854eefedeac000ff3f7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 12 May 2020 00:05:40 GMT
recorded_with: VCR 5.1.0
