---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a89393055eb9e854eefedead000ff3ff
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_1928e9ae1dce491fa7eba278231a5e5c","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 00:05:40 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_1928e9ae1dce491fa7eba278231a5e5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a89393095eb9e854eefedec5000ff40a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_1928e9ae1dce491fa7eba278231a5e5c","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 00:05:40 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_1928e9ae1dce491fa7eba278231a5e5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a89393085eb9e855eefedec6000ff413
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 12 May 2020 00:05:41 GMT
recorded_with: VCR 5.1.0
