---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d95ebaf15efb1dd5e6000adb6b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_d811e0d1419f444185030d24dfc07fe4","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 18:56:30 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_d811e0d1419f444185030d24dfc07fe4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc25ebaf15efb1d5a8b000b8cb0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_d811e0d1419f444185030d24dfc07fe4","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 18:56:30 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_d811e0d1419f444185030d24dfc07fe4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab525ebaf15efb428aac000d5558
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 12 May 2020 18:56:30 GMT
recorded_with: VCR 5.1.0
