---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba89e78983270008873d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb5a0f72fa5f55c8249506c252855dcf"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_87ada3d6181c11ed88702ff4979ff890","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-09T19:50:33Z","disabled_at":null}'
  recorded_at: Tue, 09 Aug 2022 19:50:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_87ada3d6181c11ed88702ff4979ff890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba89e78983280008875e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb5a0f72fa5f55c8249506c252855dcf"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_87ada3d6181c11ed88702ff4979ff890","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-09T19:50:33Z","disabled_at":null}'
  recorded_at: Tue, 09 Aug 2022 19:50:33 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_87ada3d6181c11ed88702ff4979ff890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba89e789832900088775
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Aug 2022 19:50:34 GMT
recorded_with: VCR 6.0.0
