---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00ac4e787e2c800076c48
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"hook_76806de4ba2011eebf5913c2c514135b","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-01-23T18:51:48Z","disabled_at":null}'
  recorded_at: Tue, 23 Jan 2024 18:51:48 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_76806de4ba2011eebf5913c2c514135b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde865b00ac4e787e2c900076c9b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"hook_76806de4ba2011eebf5913c2c514135b","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-01-23T18:51:48Z","disabled_at":null}'
  recorded_at: Tue, 23 Jan 2024 18:51:48 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_76806de4ba2011eebf5913c2c514135b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00ac5e787e2ca00076cda
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Jan 2024 18:51:49 GMT
recorded_with: VCR 6.2.0
