---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7db3ae799e583005a675d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_ec7c7ae44dd511ef9b1b77de71d08218","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:11:06Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:11:06 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_ec7c7ae44dd511ef9b1b77de71d08218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7db3ae799e584005a67f2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_ec7c7ae44dd511ef9b1b77de71d08218","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:11:06Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:11:06 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_ec7c7ae44dd511ef9b1b77de71d08218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7db3be799e585005a6858
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2024 18:11:07 GMT
recorded_with: VCR 6.1.0
