---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40eee7873ff700312617
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fe5ea6a6f21b4b751fcbc3a6765dc7b"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_438e1d02d21711ec9f811702175c6fdb","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-05-12T17:16:30Z","disabled_at":null}'
  recorded_at: Thu, 12 May 2022 17:16:30 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/webhooks/hook_438e1d02d21711ec9f811702175c6fdb
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40eee7873ff800312635
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fe5ea6a6f21b4b751fcbc3a6765dc7b"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_438e1d02d21711ec9f811702175c6fdb","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-05-12T17:16:30Z","disabled_at":null}'
  recorded_at: Thu, 12 May 2022 17:16:30 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_438e1d02d21711ec9f811702175c6fdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40efe7873ff90031266d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 12 May 2022 17:16:31 GMT
recorded_with: VCR 6.0.0
