---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 77ca7e816298f921ea43ebb700c49a59
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5975a313bb123a8d9be853279542196d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_edde2118e29c11ec9cd6051f7b826650","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-06-02T17:53:38Z","disabled_at":null}'
  recorded_at: Thu, 02 Jun 2022 17:53:37 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_edde2118e29c11ec9cd6051f7b826650
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 77ca7e7e6298f921ea43ebb800c49a72
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5975a313bb123a8d9be853279542196d"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"hook_edde2118e29c11ec9cd6051f7b826650","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-06-02T17:53:38Z","disabled_at":null}'
  recorded_at: Thu, 02 Jun 2022 17:53:38 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_edde2118e29c11ec9cd6051f7b826650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f5a1f0456298f922ea43ebd000db97f9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 02 Jun 2022 17:53:38 GMT
recorded_with: VCR 6.0.0
