---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc55ebaf161fb1eeeab000b8d4f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_7f02bca2dfae42b1b274a67f0b5c869f","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 18:56:33 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_7f02bca2dfae42b1b274a67f0b5c869f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab585ebaf161f52ee72f000d5644
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 12 May 2020 18:56:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_7f02bca2dfae42b1b274a67f0b5c869f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - b342870e5ebaf161fb2e331c000f50de
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"NOT_FOUND","message":"The requested resource could
        not be found.","errors":[]}}'
  recorded_at: Tue, 12 May 2020 18:56:34 GMT
recorded_with: VCR 5.1.0
