---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com","webhook_secret":"sécret","custom_headers":[{"name":"test","value":"header"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4b64bb4d67b62818e2b8ff700009ab69
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202502191732-9cdc8ea15b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_78e7a450eef211ef927d05e2cbdc7978","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-19T18:51:05Z","disabled_at":null,"custom_headers":[{"name":"test","value":"header"}]}'
  recorded_at: Wed, 19 Feb 2025 18:51:05 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_78e7a450eef211ef927d05e2cbdc7978
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3c3ed33267b62819e2b8ff720008eb31
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202502191732-9cdc8ea15b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 19 Feb 2025 18:51:05 GMT
recorded_with: VCR 6.2.0
