---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba8ce78983450008888b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d08ea9932745aa7c416f8371c77f1025"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_89a3bb8a181c11ed96cd11144bc7812c","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-09T19:50:37Z","disabled_at":null}'
  recorded_at: Tue, 09 Aug 2022 19:50:36 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_89a3bb8a181c11ed96cd11144bc7812c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba8ce7898346000888ad
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Aug 2022 19:50:37 GMT
recorded_with: VCR 6.0.0
