---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab525ebaf15dfb429228000d5501
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_26ebd3c1bf394a7785f5b1b3d6b03a5b","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Tue, 12 May 2020 18:56:29 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_26ebd3c1bf394a7785f5b1b3d6b03a5b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287145ebaf15dfb0aac63000f4f71
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 12 May 2020 18:56:30 GMT
recorded_with: VCR 5.1.0
