---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4b64bb5067b6283ae2b8ffd60009d020
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202502191732-9cdc8ea15b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_8cbab03aeef211efabe53931f5ecc7b8","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-19T18:51:38Z","disabled_at":null,"custom_headers":[]}'
  recorded_at: Wed, 19 Feb 2025 18:51:38 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_8cbab03aeef211efabe53931f5ecc7b8
    body:
      encoding: UTF-8
      string: '{"webhook_secret":"sécret","custom_headers":[{"name":"test","value":"header"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4b64bb5067b6283ae2b8ffd90009d056
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202502191732-9cdc8ea15b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_8cbab03aeef211efabe53931f5ecc7b8","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-19T18:51:38Z","disabled_at":null,"custom_headers":[{"name":"test","value":"header"}]}'
  recorded_at: Wed, 19 Feb 2025 18:51:38 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_8cbab03aeef211efabe53931f5ecc7b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4b64bb4e67b6283be2b8ffdc0009d11a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202502191732-9cdc8ea15b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 19 Feb 2025 18:51:39 GMT
recorded_with: VCR 6.2.0
