---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6217c310e7873885003ab23c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"618ecb959d04fc47d20a57b71b30aac2"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_ddb01400959811ecb2275d36091973dc","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-02-24T17:40:33Z","disabled_at":null}'
  recorded_at: Thu, 24 Feb 2022 17:40:33 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_ddb01400959811ecb2275d36091973dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f706217c311e7873886003ab265
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Thu, 24 Feb 2022 17:40:33 GMT
recorded_with: VCR 6.0.0
