---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7db3ce799e587005a69a5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_edd8938c4dd511ef8af45962431e1651","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:11:09Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:11:08 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_edd8938c4dd511ef8af45962431e1651
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7db3de799e59f005a6a43
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"hook_edd8938c4dd511ef8af45962431e1651","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2024-07-29T18:11:09Z","disabled_at":null}'
  recorded_at: Mon, 29 Jul 2024 18:11:09 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_edd8938c4dd511ef8af45962431e1651
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7db3de799e5a1005a6b23
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2024 18:11:10 GMT
recorded_with: VCR 6.1.0
