---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f706217c311e787389e003ab29c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd3aa58086c7de670aabfd1eb1f10509"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_de548080959811ec894d4fe4500e5276","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-02-24T17:40:34Z","disabled_at":null}'
  recorded_at: Thu, 24 Feb 2022 17:40:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_de548080959811ec894d4fe4500e5276
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6c6217c312e787389f003ab2bd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd3aa58086c7de670aabfd1eb1f10509"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_de548080959811ec894d4fe4500e5276","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-02-24T17:40:34Z","disabled_at":null}'
  recorded_at: Thu, 24 Feb 2022 17:40:34 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_de548080959811ec894d4fe4500e5276
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6217c312e78738a0003ab2c8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Thu, 24 Feb 2022 17:40:34 GMT
recorded_with: VCR 6.0.0
