---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com","webhook_secret":"sécret"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 16a5647c67af849de787335600520fe2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202502132348-e5a3dc472b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"id":"hook_8038e780eafd11efbce95b419fc17a54","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2025-02-14T17:59:57Z","disabled_at":null}'
  recorded_at: Fri, 14 Feb 2025 17:59:57 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_8038e780eafd11efbce95b419fc17a54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 16a5648067af849de787335800521065
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202502132348-e5a3dc472b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 14 Feb 2025 17:59:57 GMT
recorded_with: VCR 6.2.0
