---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52676e7872f5f00281501
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07cee2ae980b0f0a3d82bd1f0e0cef73"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_09460024198e11ed9ef04121089be8d8","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-11T15:55:35Z","disabled_at":null}'
  recorded_at: Thu, 11 Aug 2022 15:55:35 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_09460024198e11ed9ef04121089be8d8
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52677e7872f7700281521
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07cee2ae980b0f0a3d82bd1f0e0cef73"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_09460024198e11ed9ef04121089be8d8","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-11T15:55:35Z","disabled_at":null}'
  recorded_at: Thu, 11 Aug 2022 15:55:35 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_09460024198e11ed9ef04121089be8d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52678e7872f780028156d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 11 Aug 2022 15:55:36 GMT
recorded_with: VCR 6.0.0
