---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba8ae789832b000887dc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a7f13eea5bb5da7b15fd5af169ccd8b"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_889a8fca181c11edbd815f920b06b020","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-09T19:50:35Z","disabled_at":null}'
  recorded_at: Tue, 09 Aug 2022 19:50:34 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_889a8fca181c11edbd815f920b06b020
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba8be789832c00088805
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a7f13eea5bb5da7b15fd5af169ccd8b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"hook_889a8fca181c11edbd815f920b06b020","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2022-08-09T19:50:35Z","disabled_at":null}'
  recorded_at: Tue, 09 Aug 2022 19:50:35 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_889a8fca181c11edbd815f920b06b020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba8be789832d00088844
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Aug 2022 19:50:36 GMT
recorded_with: VCR 6.0.0
