---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/health/boom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Ep-Request-Uuid:
      - 2180967a5ebb3c66fb563faf000027e4
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005122354-d227ac21e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"INTERNAL_SERVER_ERROR","message":"We''re sorry, something
        went wrong. If the problem persists please contact Support.","errors":[]}}'
  recorded_at: Wed, 13 May 2020 00:16:39 GMT
recorded_with: VCR 5.1.0
