---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066346216baf3e78a0748004754eb
      Location:
      - "/api/v2/shipments/shp_4d8e0948829a461181ef43db60eb4990"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3653932eb41a5f1f431f87ca323dda3f"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T22:53:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108761217","updated_at":"2022-02-23T22:53:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_70dd151094fb11eca3cbac1f6bc72124","object":"Address","created_at":"2022-02-23T22:53:39+00:00","updated_at":"2022-02-23T22:53:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1c98636b97e64fc09ee9b42e000ce712","object":"Parcel","created_at":"2022-02-23T22:53:39Z","updated_at":"2022-02-23T22:53:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_43f2678098d24709b984371378452a1e","created_at":"2022-02-23T22:53:39Z","updated_at":"2022-02-23T22:53:40Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T22:53:39Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/3810be8c7e824c8e9ec2ae73c6ef3a4f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ec1e6107c34b4048a95c144db7810820","object":"Rate","created_at":"2022-02-23T22:53:39Z","updated_at":"2022-02-23T22:53:39Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4d8e0948829a461181ef43db60eb4990","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9673427214e34b0c8b5988ba86ca8ae2","object":"Rate","created_at":"2022-02-23T22:53:39Z","updated_at":"2022-02-23T22:53:39Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_4d8e0948829a461181ef43db60eb4990","carrier_ac[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_4d8e0948829a461181ef43db60eb4990
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066396216baf4e78a074900475545
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98858d66692362d37d73[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100895232108761217"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a6216baf4e78a074a0047555b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"163c8607463745d3d1ab0ceacfb68d04"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"rfnd_f4bc85e18a204f92a17e0bc79dc119d3","object":"Refund","created_at":"2022-02-23T22:53:40Z","updated_at":"2022-02-23T22:53:40Z","tracking_code":"9400100895232108761217","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4d8e0948829a461181ef43db60eb4990"}]'
  recorded_at: Wed, 23 Feb 2022 22:53:41 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_f4bc85e18a204f92a17e0bc79dc119d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066376216baf5e78a074b0047557e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0f4cca9df69c19c7bf8bcd4a55c7181"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"rfnd_f4bc85e18a204f92a17e0bc79dc119d3","object":"Refund","created_at":"2022-02-23T22:53:40Z","updated_at":"2022-02-23T22:53:40Z","tracking_code":"9400100895232108761217","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4d8e0948829a461181ef43db60eb4990"}'
  recorded_at: Wed, 23 Feb 2022 22:53:41 GMT
recorded_with: VCR 6.0.0
