---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba5ae7897ecb00087497
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a578ff04794829db88e9a5979ff716ba"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_71105e529a374e1c91092df7830e6751","object":"Refund","created_at":"2022-08-09T19:49:46Z","updated_at":"2022-08-09T19:49:46Z","tracking_code":"9400100109361132422785","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_e789196319104c56a3e113c4939d9714"},{"id":"rfnd_70057e25b57447aaaad0449070dd0718","object":"Refund","created_at":"2022-08-01T19:34:52Z","updated_at":"2022-08-02T19:34:52Z","tracking_code":"9400100109361131077498","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_c969744c383b4d4e8a089c158e7aa0ba"},{"id":"rfnd_747bb42eb25743348bde6f6d2a09d8d7","object":"Refund","created_at":"2022-07-28T19:34:04Z","updated_at":"2022-07-29T19:34:04Z","tracking_code":"9400100109361130479040","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_b60544ecbc764ef78817c098bae668bd"},{"id":"rfnd_7e02e46e42b2427f80a4ac613271bca7","object":"Refund","created_at":"2022-07-28T19:33:47Z","updated_at":"2022-07-29T19:33:47Z","tracking_code":"9400100109361130478944","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_40dac21c8eaf453f886bb125e3af5bca"},{"id":"rfnd_3582b7d453c9447fa0aed3e74568d4e5","object":"Refund","created_at":"2022-07-28T19:33:46Z","updated_at":"2022-07-29T19:33:46Z","tracking_code":"9400100109361130478920","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_6a6bce1d0cf1473ca100f411e8d04d8b"}],"has_more":true}'
  recorded_at: Tue, 09 Aug 2022 19:49:47 GMT
recorded_with: VCR 6.0.0
