---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40c8e7873bfb00311a8f
      Location:
      - "/api/v2/shipments/shp_41801ad5b76a48808cb17a050557c8bd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d417ae9ae12f4af10ae99fe70cec957"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873853","updated_at":"2022-05-12T17:15:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2d526081d21711ec9553ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:52+00:00","updated_at":"2022-05-12T17:15:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c3ad6f8f469e4bdaa16ce0890c6c2992","object":"Parcel","created_at":"2022-05-12T17:15:52Z","updated_at":"2022-05-12T17:15:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4e95eb70cfa14f1bb1b8529796909f89","created_at":"2022-05-12T17:15:53Z","updated_at":"2022-05-12T17:15:53Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/8d30a6c121a54f33ba1ca0db0b5b260c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_86361d94be5646768b629db15e8391b1","object":"Rate","created_at":"2022-05-12T17:15:52Z","updated_at":"2022-05-12T17:15:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_41801ad5b76a48808cb17a050557c8bd","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_93a2cd791155494a97fd68d1e2c0dede","object":"Rate","created_at":"2022-05-12T17:15:52Z","updated_at":"2022-05-12T17:15:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_41801ad5b76[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_41801ad5b76a48808cb17a050557c8bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40c9e7873bfc00311afd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce18e1d37df91a3ddea15f292[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361118873853"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40cae7873bfd00311b1d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e38cfe6413db426668f0e565dfa55a05"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_6a0c9fb7ff2a4bf9861ca35846eee609","object":"Refund","created_at":"2022-05-12T17:15:54Z","updated_at":"2022-05-12T17:15:54Z","tracking_code":"9400100109361118873853","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_41801ad5b76a48808cb17a050557c8bd"}]'
  recorded_at: Thu, 12 May 2022 17:15:54 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_6a0c9fb7ff2a4bf9861ca35846eee609
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40cae7873bfe00311b3e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f10c41d8336341340c5bdaef0618ee7"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_6a0c9fb7ff2a4bf9861ca35846eee609","object":"Refund","created_at":"2022-05-12T17:15:54Z","updated_at":"2022-05-12T17:15:54Z","tracking_code":"9400100109361118873853","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_41801ad5b76a48808cb17a050557c8bd"}'
  recorded_at: Thu, 12 May 2022 17:15:54 GMT
recorded_with: VCR 6.0.0
