---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066356216b989e78a02230046ff23
      Location:
      - "/api/v2/shipments/shp_1d5313662cef4201834a2b04801ae8a2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7431678d20189482b6abf9c6013fa468"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T22:47:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108760869","updated_at":"2022-02-23T22:47:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_992e51a794fa11ecbb66ac1f6bc72124","object":"Address","created_at":"2022-02-23T22:47:37+00:00","updated_at":"2022-02-23T22:47:37+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d2890de1cee74720b0e6e27c49075557","object":"Parcel","created_at":"2022-02-23T22:47:37Z","updated_at":"2022-02-23T22:47:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a32af76031bb41d69931b4a2e51dc0f7","created_at":"2022-02-23T22:47:37Z","updated_at":"2022-02-23T22:47:38Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T22:47:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/55e44826aa374523bbba7f5d7d206fb4.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_85174ef3eec14abf8de3f946bac78242","object":"Rate","created_at":"2022-02-23T22:47:37Z","updated_at":"2022-02-23T22:47:37Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_1d5313662cef4201834a2b04801ae8a2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9000ae0ee86f4e3babbf2d75264eeb6e","object":"Rate","created_at":"2022-02-23T22:47:37Z","updated_at":"2022-02-23T22:47:37Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1d5313662cef4201834a2b04801ae8a2","carrier_accou[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_1d5313662cef4201834a2b04801ae8a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b40663b6216b98ae78a02610046ff4c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5aa8a193b2aeaf5874b4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100895232108760869"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066366216b98be78a02620046ff68
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3cc087be6e56a6bd4deddc143b2006b6"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"rfnd_2fe4316a1bdd4bdaad99caf025f95bcc","object":"Refund","created_at":"2022-02-23T22:47:39Z","updated_at":"2022-02-23T22:47:39Z","tracking_code":"9400100895232108760869","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_1d5313662cef4201834a2b04801ae8a2"}]'
  recorded_at: Wed, 23 Feb 2022 22:47:39 GMT
recorded_with: VCR 6.0.0
