---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e49aec8693f90037f414
      Location:
      - "/api/v2/shipments/shp_40dac21c8eaf453f886bb125e3af5bca"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a77545811ea984c4725d3e3708697247"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478944","updated_at":"2022-07-28T19:33:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_32b75cd40eac11ed98a7ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:46+00:00","updated_at":"2022-07-28T19:33:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_272cceb668954e7a9b2edd4b8f4b0f1c","object":"Parcel","created_at":"2022-07-28T19:33:46Z","updated_at":"2022-07-28T19:33:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_db424adc93224167a0d846e39572eb87","created_at":"2022-07-28T19:33:47Z","updated_at":"2022-07-28T19:33:47Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/37f06d46a6c8406d8c5cd40e23c7e8f7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_babc5e41e4b546b1b081371712efa0a2","object":"Rate","created_at":"2022-07-28T19:33:46Z","updated_at":"2022-07-28T19:33:46Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_40dac21c8eaf453f886bb125e3af5bca","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f96363fe09514b15820df2d38a96ac8e","object":"Rate","created_at":"2022-07-28T19:33:46Z","updated_at":"2022-07-28T19:33:46Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_40dac21c8eaf453f886[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_40dac21c8eaf453f886bb125e3af5bca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e49bec626b790037f470
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c78a91747804c8cad908a978[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361130478944"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e49bec970fb80037f482
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b959d558c1b9dd77c3f1b18b4b4ee7bc"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_7e02e46e42b2427f80a4ac613271bca7","object":"Refund","created_at":"2022-07-28T19:33:47Z","updated_at":"2022-07-28T19:33:47Z","tracking_code":"9400100109361130478944","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_40dac21c8eaf453f886bb125e3af5bca"}]'
  recorded_at: Thu, 28 Jul 2022 19:33:48 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_7e02e46e42b2427f80a4ac613271bca7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7662e2e49cec3a6b6e0037f4a2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33f427c1e69d7b98359d907472964cd2"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_7e02e46e42b2427f80a4ac613271bca7","object":"Refund","created_at":"2022-07-28T19:33:47Z","updated_at":"2022-07-28T19:33:47Z","tracking_code":"9400100109361130478944","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_40dac21c8eaf453f886bb125e3af5bca"}'
  recorded_at: Thu, 28 Jul 2022 19:33:48 GMT
recorded_with: VCR 6.0.0
