---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b473627d40c8e7873bfa00311a78
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60a5f3bf87e9fba1f1bd059a09a5c5e8"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_b889da2a2f91465c8dd14d58d77b3efe","object":"Refund","created_at":"2022-05-12T17:15:52Z","updated_at":"2022-05-12T17:15:52Z","tracking_code":"9400100109361118873846","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_3e79a7c738d54da89e4912ac453a2971"},{"id":"rfnd_947820c7207e4928b4eeed56cd4d2345","object":"Refund","created_at":"2022-05-11T23:02:51Z","updated_at":"2022-05-11T23:02:51Z","tracking_code":"9400100109361118761242","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_ab4055e1f8384e2ca0c508cbf5b4eb85"},{"id":"rfnd_4107326332f24d57aa8f7e0ee8adf99a","object":"Refund","created_at":"2022-05-11T23:02:32Z","updated_at":"2022-05-11T23:02:32Z","tracking_code":"9400100109361118761174","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_956a3f831d4a4611bddc658be288298e"},{"id":"rfnd_be29f450d6ee47458f04662d9a356800","object":"Refund","created_at":"2022-05-11T23:02:30Z","updated_at":"2022-05-11T23:02:30Z","tracking_code":"9400100109361118761167","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_9b80f34b94b5430a8e2638c3a72cea3c"},{"id":"rfnd_86d8d668aba84b88b40aa7503a076222","object":"Refund","created_at":"2022-04-14T20:41:53Z","updated_at":"2022-04-15T20:41:53Z","tracking_code":"9400100109361115069440","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_7cb79513361e438893ecf3087dad12d4"}],"has_more":true}'
  recorded_at: Thu, 12 May 2022 17:15:52 GMT
recorded_with: VCR 6.0.0
