---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652ddae0dc97620006f56b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0fedcfb40f9a6f7d64196123e966d3a1"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_384ffda0179b49a19049ad2380972473","object":"Refund","created_at":"2023-05-17T19:41:13Z","updated_at":"2023-05-17T19:41:13Z","tracking_code":"9400100104262210693330","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4f5c290d976a4a7eafaadbb1c5c8561c"},{"id":"rfnd_2ee608a7b6274c4687248af29764027d","object":"Refund","created_at":"2023-05-16T21:19:59Z","updated_at":"2023-05-16T21:19:59Z","tracking_code":"9400100104262210411682","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_bd0527bb904c453ea872269e61b6a4e7"},{"id":"rfnd_aa45808e2ea74b418feb7f1ed46bdcf9","object":"Refund","created_at":"2023-05-16T15:56:28Z","updated_at":"2023-05-17T15:56:28Z","tracking_code":"9400100104262210331423","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_4f2793a39fda49379f069ab8e76f6820"}],"has_more":false}'
  recorded_at: Wed, 17 May 2023 19:41:14 GMT
recorded_with: VCR 6.1.0
