---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a83e787dd5e00073b96
      Location:
      - "/api/v2/shipments/shp_67900cdb740f49c99887a67149ea8da1"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:50:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757697","updated_at":"2024-01-23T18:50:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4ff034d6ba2011ee8c30ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:50:43+00:00","updated_at":"2024-01-23T18:50:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_409df8c805d44abf9702ea3f3c940c65","object":"Parcel","created_at":"2024-01-23T18:50:43Z","updated_at":"2024-01-23T18:50:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d16fc36189bf4901953982dd1e486a53","created_at":"2024-01-23T18:50:44Z","updated_at":"2024-01-23T18:50:44Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:50:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e884d32ebb4b3b4f358c9b92a870fdffc3.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_100fce18e6fb4c5f9b0215f468669936","object":"Rate","created_at":"2024-01-23T18:50:43Z","updated_at":"2024-01-23T18:50:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_67900cdb740f49c99887a67149ea8da1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f68caa60c1a347e493e01fb4ed809a58","object":"Rate","created_at":"2024-01-23T18:50:43Z","updated_at":"2024-01-23T18:50:43Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_67900cdb740f[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_67900cdb740f49c99887a67149ea8da1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a85e787dd7e00073cdb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Versio[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":["9400100207552011757697"]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde365b00a85e787dd8300073d2a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_edc85cd90df74bb7a97d29982af58a59","object":"Refund","created_at":"2024-01-23T18:50:45Z","updated_at":"2024-01-23T18:50:45Z","tracking_code":"9400100207552011757697","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_67900cdb740f49c99887a67149ea8da1"}]'
  recorded_at: Tue, 23 Jan 2024 18:50:45 GMT
recorded_with: VCR 6.2.0
