---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f5263de786c94200280201
      Location:
      - "/api/v2/shipments/shp_5ef2adc4be0a4215b9c1aacb9bcbd84a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a2c3411dea29aa0029950a062934908"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686033","updated_at":"2022-08-11T15:54:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e736f202198d11eda6b4ac1f6bc7bdc6","object":"Address","created_at":"2022-08-11T15:54:37+00:00","updated_at":"2022-08-11T15:54:37+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9f5b40877d5f4a77a35e5a87ca8b9cd3","object":"Parcel","created_at":"2022-08-11T15:54:37Z","updated_at":"2022-08-11T15:54:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ae676a6e95e74e74b7a6e0dc3d6589fe","created_at":"2022-08-11T15:54:38Z","updated_at":"2022-08-11T15:54:38Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:38Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/912de7778dbf473bbb3ce9715f9e292e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8dc708f0b7774eb3962c59dddce0851d","object":"Rate","created_at":"2022-08-11T15:54:38Z","updated_at":"2022-08-11T15:54:38Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_5ef2adc4be0a4215b9c1aacb9bcbd84a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_18a8fde643f54e16ab23ae7042254a67","object":"Rate","created_at":"2022-08-11T15:54:38Z","updated_at":"2022-08-11T15:54:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_5ef2adc4be0a421[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_5ef2adc4be0a4215b9c1aacb9bcbd84a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f5263fe786c94300280279
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c172eb02fdf281b88e553fbe7[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361132686033"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f5263fe786c9440028029b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb40f94b4eed42da99e91605c223a92d"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_5ad545a7e7e94ceca6872010827ffcd9","object":"Refund","created_at":"2022-08-11T15:54:39Z","updated_at":"2022-08-11T15:54:39Z","tracking_code":"9400100109361132686033","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_5ef2adc4be0a4215b9c1aacb9bcbd84a"}]'
  recorded_at: Thu, 11 Aug 2022 15:54:39 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_5ad545a7e7e94ceca6872010827ffcd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f5263fe786c945002802b8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c09be5037fe3f0226f5689f12592259d"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_5ad545a7e7e94ceca6872010827ffcd9","object":"Refund","created_at":"2022-08-11T15:54:39Z","updated_at":"2022-08-11T15:54:39Z","tracking_code":"9400100109361132686033","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_5ef2adc4be0a4215b9c1aacb9bcbd84a"}'
  recorded_at: Thu, 11 Aug 2022 15:54:39 GMT
recorded_with: VCR 6.0.0
