---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 761411d56567d961ee593c6b0004892d
      Location:
      - "/api/v2/shipments/shp_97e663bfe81f4f98a9c7a6ce190b215d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:37:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286718062","updated_at":"2023-11-30T00:37:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b27b35868f1811ee89163cecef1b359e","object":"Address","created_at":"2023-11-30T00:37:53+00:00","updated_at":"2023-11-30T00:37:53+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_fb9386fae66a4e339848a4eca41a4f71","object":"Parcel","created_at":"2023-11-30T00:37:53Z","updated_at":"2023-11-30T00:37:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c0e22773912a4f9dab361edff10b76d3","created_at":"2023-11-30T00:37:53Z","updated_at":"2023-11-30T00:37:53Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:37:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e8af64e0624717425b962557b4e929cc05.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7abf4d528c3b423da7d8f34623696268","object":"Rate","created_at":"2023-11-30T00:37:53Z","updated_at":"2023-11-30T00:37:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_97e663bfe81f4f98a9c7a6ce190b215d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7e65ddae6e6048bab936d3a2e9a2b993","object":"Rate","created_at":"2023-11-30T00:37:53Z","updated_at":"2023-11-30T00:37:53Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_97e663bfe81f[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_97e663bfe81f4f98a9c7a6ce190b215d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 675648816567d962ee6b5db40004d437
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Versio[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":["9400100105442286718062"]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 761411d86567d962ee593c9000048a6d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_f9f0b28d10b5445997123c52b7b0c2ff","object":"Refund","created_at":"2023-11-30T00:37:54Z","updated_at":"2023-11-30T00:37:54Z","tracking_code":"9400100105442286718062","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_97e663bfe81f4f98a9c7a6ce190b215d"}]'
  recorded_at: Thu, 30 Nov 2023 00:37:54 GMT
recorded_with: VCR 6.2.0
