---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40c6e7873be0003119de
      Location:
      - "/api/v2/shipments/shp_3e79a7c738d54da89e4912ac453a2971"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2862b19be1a5bcc8e510e91c3abf9e93"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:15:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873846","updated_at":"2022-05-12T17:15:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2c3075dad21711ecb51eac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:15:50+00:00","updated_at":"2022-05-12T17:15:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6d940dc047584c71ae2e29070751a718","object":"Parcel","created_at":"2022-05-12T17:15:50Z","updated_at":"2022-05-12T17:15:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2d8f31ca1cae4e899546ddb24e4a5c21","created_at":"2022-05-12T17:15:51Z","updated_at":"2022-05-12T17:15:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:15:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/d2a9e27b90f54c8d890dfd2c09f44e69.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b31f48287acd486582d52543757eaf1d","object":"Rate","created_at":"2022-05-12T17:15:51Z","updated_at":"2022-05-12T17:15:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_3e79a7c738d54da89e4912ac453a2971","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e0fa35ce4eb44c59825498b54441b97e","object":"Rate","created_at":"2022-05-12T17:15:51Z","updated_at":"2022-05-12T17:15:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3e79a7c738d54da[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_3e79a7c738d54da89e4912ac453a2971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40c7e7873bf800311a41
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3f8ac79466042cf51ab8b5b1[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361118873846"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40c8e7873bf900311a5c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a13e4341a8c79444b1d5b98765553105"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_b889da2a2f91465c8dd14d58d77b3efe","object":"Refund","created_at":"2022-05-12T17:15:52Z","updated_at":"2022-05-12T17:15:52Z","tracking_code":"9400100109361118873846","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_3e79a7c738d54da89e4912ac453a2971"}]'
  recorded_at: Thu, 12 May 2022 17:15:52 GMT
recorded_with: VCR 6.0.0
