---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dd7e0dc975e0006f49f
      Location:
      - "/api/v2/shipments/shp_4f5c290d976a4a7eafaadbb1c5c8561c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35918c2c49c0f56f8758d44aff2e7c75"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:41:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693330","updated_at":"2023-05-17T19:41:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c6f5fd66f4ea11edb00fac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:41:11+00:00","updated_at":"2023-05-17T19:41:11+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0163ba0c0d3841c2885aca9faf00fe85","object":"Parcel","created_at":"2023-05-17T19:41:11Z","updated_at":"2023-05-17T19:41:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2060e2d46faa4c0fb93bed68ce58e69a","created_at":"2023-05-17T19:41:12Z","updated_at":"2023-05-17T19:41:12Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:12Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/eb87840563644eef9777237686f7346f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7701e48009e449e1afaa31ad45a27a65","object":"Rate","created_at":"2023-05-17T19:41:11Z","updated_at":"2023-05-17T19:41:11Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_4f5c290d976a4a7eafaadbb1c5c8561c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_cb0c03423d2f4e23aeee4deb574f6987","object":"Rate","created_at":"2023-05-17T19:41:11Z","updated_at":"2023-05-17T19:41:11Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4f5c290d976[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_4f5c290d976a4a7eafaadbb1c5c8561c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652dd8e0dc975f0006f51a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"375bfbfd80be4d747a171b137[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":["9400100104262210693330"]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dd9e0dc97600006f53a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c5adcf96d87beea1d0f40b3e1cca512"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_384ffda0179b49a19049ad2380972473","object":"Refund","created_at":"2023-05-17T19:41:13Z","updated_at":"2023-05-17T19:41:13Z","tracking_code":"9400100104262210693330","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4f5c290d976a4a7eafaadbb1c5c8561c"}]'
  recorded_at: Wed, 17 May 2023 19:41:13 GMT
recorded_with: VCR 6.1.0
