---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde365b00a86e787dd8500073daf
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_edc85cd90df74bb7a97d29982af58a59","object":"Refund","created_at":"2024-01-23T18:50:45Z","updated_at":"2024-01-23T18:50:45Z","tracking_code":"9400100207552011757697","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_67900cdb740f49c99887a67149ea8da1"}],"has_more":false}'
  recorded_at: Tue, 23 Jan 2024 18:50:46 GMT
recorded_with: VCR 6.2.0
