---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5263de786c941002801e2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff39e0d49b31631a25f8a941bf0a4b48"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_3deff4bd94594053a953ef0a7817c2fd","object":"Refund","created_at":"2022-08-11T15:54:36Z","updated_at":"2022-08-11T15:54:36Z","tracking_code":"9400100109361132686026","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_03f7620a6ac847b2b301039efd161f9f"},{"id":"rfnd_c9c21fc65cf949bbbe509c2846aa4f90","object":"Refund","created_at":"2022-08-10T16:45:37Z","updated_at":"2022-08-10T16:45:37Z","tracking_code":"9400100109361132539834","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_46a8d7490d2347c4ad712b42d1794ffb"},{"id":"rfnd_84209ea6a5d243df9afb18222efc9ddd","object":"Refund","created_at":"2022-08-10T16:45:10Z","updated_at":"2022-08-10T16:45:10Z","tracking_code":"9400100109361132539667","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_f22f511839b947b7a1355ae0cf9b4aab"},{"id":"rfnd_f6422d7bd0c64f7ba2e1548168f899b8","object":"Refund","created_at":"2022-08-10T16:45:08Z","updated_at":"2022-08-10T16:45:08Z","tracking_code":"9400100109361132539643","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_600325bfe74e4fc89ab956a96f5ca843"},{"id":"rfnd_80793bc2c37649f784e81b83bf098091","object":"Refund","created_at":"2022-08-09T19:50:12Z","updated_at":"2022-08-10T19:50:12Z","tracking_code":"9400100109361132422860","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_d8f045e9e64f4c2dbe693029dbfa933d"}],"has_more":true}'
  recorded_at: Thu, 11 Aug 2022 15:54:37 GMT
recorded_with: VCR 6.0.0
