---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba5be7897ee3000874ac
      Location:
      - "/api/v2/shipments/shp_741f77f4b6fb4f468c449ceb2e1dc74c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f00cdde327632013443036cc8ba8e969"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422808","updated_at":"2022-08-09T19:49:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6c3eea63181c11eda42bac1f6bc72124","object":"Address","created_at":"2022-08-09T19:49:47+00:00","updated_at":"2022-08-09T19:49:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a367e5649e124b0b984c752e1bb7c9a5","object":"Parcel","created_at":"2022-08-09T19:49:47Z","updated_at":"2022-08-09T19:49:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f480e57cd48546669b26b5d93f71cc12","created_at":"2022-08-09T19:49:47Z","updated_at":"2022-08-09T19:49:47Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/13c5561f95784115be81726a17946791.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b76e56c0080843a09fe5c2fbf8f47793","object":"Rate","created_at":"2022-08-09T19:49:47Z","updated_at":"2022-08-09T19:49:47Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_741f77f4b6fb4f468c449ceb2e1dc74c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9ecbd9b298ef4867806327544ad4c784","object":"Rate","created_at":"2022-08-09T19:49:47Z","updated_at":"2022-08-09T19:49:47Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_741f77f4b6f[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_741f77f4b6fb4f468c449ceb2e1dc74c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba5ce7897ee4000874f2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efc131772a6b013572c91b71c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361132422808"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba5ce7897ee500087501
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e994a30516870609c1636e02b094f7e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_46f4bfa35920479a84110199464560f9","object":"Refund","created_at":"2022-08-09T19:49:48Z","updated_at":"2022-08-09T19:49:48Z","tracking_code":"9400100109361132422808","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_741f77f4b6fb4f468c449ceb2e1dc74c"}]'
  recorded_at: Tue, 09 Aug 2022 19:49:48 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_46f4bfa35920479a84110199464560f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba5de7897ee600087514
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a879a4501e1bc9510bf7702f148a121"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_46f4bfa35920479a84110199464560f9","object":"Refund","created_at":"2022-08-09T19:49:48Z","updated_at":"2022-08-09T19:49:48Z","tracking_code":"9400100109361132422808","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_741f77f4b6fb4f468c449ceb2e1dc74c"}'
  recorded_at: Tue, 09 Aug 2022 19:49:49 GMT
recorded_with: VCR 6.0.0
