---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba58e7897ec8000873f6
      Location:
      - "/api/v2/shipments/shp_e789196319104c56a3e113c4939d9714"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e8490a233644a28427989747ecc1193"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422785","updated_at":"2022-08-09T19:49:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6ac7de15181c11ed8797ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:44+00:00","updated_at":"2022-08-09T19:49:44+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ebc6b3176fad4365b6ea0d3e038fe271","object":"Parcel","created_at":"2022-08-09T19:49:44Z","updated_at":"2022-08-09T19:49:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e05a88ec33fd4b22a73d222dabbe00ba","created_at":"2022-08-09T19:49:45Z","updated_at":"2022-08-09T19:49:45Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:45Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/57003253f9694d9b963902f4adeab1b2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_82ed19f826094fd68ba19d94d9341070","object":"Rate","created_at":"2022-08-09T19:49:44Z","updated_at":"2022-08-09T19:49:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e789196319104c56a3e113c4939d9714","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a9ccc6e03ebc402da2abed76bd6a8d43","object":"Rate","created_at":"2022-08-09T19:49:44Z","updated_at":"2022-08-09T19:49:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e7891963191[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_e789196319104c56a3e113c4939d9714
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba5ae7897ec900087457
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc54718bbe5e85201b81890f3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361132422785"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba5ae7897eca00087473
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31b9c43f939a0099804a1faa182e9b66"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_71105e529a374e1c91092df7830e6751","object":"Refund","created_at":"2022-08-09T19:49:46Z","updated_at":"2022-08-09T19:49:46Z","tracking_code":"9400100109361132422785","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_e789196319104c56a3e113c4939d9714"}]'
  recorded_at: Tue, 09 Aug 2022 19:49:46 GMT
recorded_with: VCR 6.0.0
