---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e498ec7483320037f385
      Location:
      - "/api/v2/shipments/shp_6a6bce1d0cf1473ca100f411e8d04d8b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25f00937fc5eadaab0513373b72def17"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:45Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478920","updated_at":"2022-07-28T19:33:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_31bff0890eac11ed9b80ac1f6b0a0d1e","object":"Address","created_at":"2022-07-28T19:33:45+00:00","updated_at":"2022-07-28T19:33:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b69bae464a7e49f69459dda12791d41b","object":"Parcel","created_at":"2022-07-28T19:33:45Z","updated_at":"2022-07-28T19:33:45Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7a76a1a912274c4d944467cbf67f49e1","created_at":"2022-07-28T19:33:45Z","updated_at":"2022-07-28T19:33:45Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:45Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/cb82d87ead57464bbc2c3d7575342399.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_1a8ac42dd2ce4919afb38d73b322862d","object":"Rate","created_at":"2022-07-28T19:33:45Z","updated_at":"2022-07-28T19:33:45Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6a6bce1d0cf1473ca100f411e8d04d8b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_254cd878df814d3db7f8d52f9e2d2f9f","object":"Rate","created_at":"2022-07-28T19:33:45Z","updated_at":"2022-07-28T19:33:45Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6a6bce1d0cf[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_6a6bce1d0cf1473ca100f411e8d04d8b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e49aec8480220037f3ed
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af828105b2f9bc787996ac10d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361130478920"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e49aec3f64000037f400
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbdfc7dc7ab8a89195ec395613ae028d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_3582b7d453c9447fa0aed3e74568d4e5","object":"Refund","created_at":"2022-07-28T19:33:46Z","updated_at":"2022-07-28T19:33:46Z","tracking_code":"9400100109361130478920","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_6a6bce1d0cf1473ca100f411e8d04d8b"}]'
  recorded_at: Thu, 28 Jul 2022 19:33:46 GMT
recorded_with: VCR 6.0.0
