---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 72d8ff9763d98b73efb72631000fa48b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a3f76aa5c215b0c7db96bd26af47402"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202301311954-88b0b2bbd3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_4a38a6de89844c2b8a05bab3866313c0","object":"Refund","created_at":"2023-01-31T21:37:16Z","updated_at":"2023-01-31T21:37:16Z","tracking_code":"9400100106089176591221","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_7e952949b1eb435482a45c74f87a949c"}],"has_more":false}'
  recorded_at: Tue, 31 Jan 2023 21:43:15 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_4a38a6de89844c2b8a05bab3866313c0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 72d8ff9563d98b73efb72632000fa499
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1bf6f53141586c981919db6a6972abe"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202301311954-88b0b2bbd3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_4a38a6de89844c2b8a05bab3866313c0","object":"Refund","created_at":"2023-01-31T21:37:16Z","updated_at":"2023-01-31T21:37:16Z","tracking_code":"9400100106089176591221","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_7e952949b1eb435482a45c74f87a949c"}'
  recorded_at: Tue, 31 Jan 2023 21:43:16 GMT
recorded_with: VCR 6.0.0
