---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f5263be786c93e00280149
      Location:
      - "/api/v2/shipments/shp_03f7620a6ac847b2b301039efd161f9f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37f7d4b25ea2c78370d0e05092e111e0"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:35Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686026","updated_at":"2022-08-11T15:54:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e5b017d6198d11ed8aabac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:35+00:00","updated_at":"2022-08-11T15:54:35+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8b7118d4ea9a49358b55e878655d90b2","object":"Parcel","created_at":"2022-08-11T15:54:35Z","updated_at":"2022-08-11T15:54:35Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f0e51d4ecf2a450f97f7d095e4cd7192","created_at":"2022-08-11T15:54:35Z","updated_at":"2022-08-11T15:54:36Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/994d04af0c1647449c1e1a6482661b82.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_862c71d02bee47e5aaa0f60552f5548b","object":"Rate","created_at":"2022-08-11T15:54:35Z","updated_at":"2022-08-11T15:54:35Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_03f7620a6ac847b2b301039efd161f9f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ac38e12ac08a40f499e005cea22f8224","object":"Rate","created_at":"2022-08-11T15:54:35Z","updated_at":"2022-08-11T15:54:35Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_03f7620a6ac[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_03f7620a6ac847b2b301039efd161f9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f5263ce786c93f0028019c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d223d0a8e86c5b9d3dbaeaf6[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361132686026"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f5263ce786c940002801b6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14eab6ed285ec6a7c4872f06361d6f16"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_3deff4bd94594053a953ef0a7817c2fd","object":"Refund","created_at":"2022-08-11T15:54:36Z","updated_at":"2022-08-11T15:54:36Z","tracking_code":"9400100109361132686026","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_03f7620a6ac847b2b301039efd161f9f"}]'
  recorded_at: Thu, 11 Aug 2022 15:54:37 GMT
recorded_with: VCR 6.0.0
