---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4d4312b265668cfdee7cfa92000924c9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_213ced4aac664d9e90e265bf8217fd8d","object":"Refund","created_at":"2023-11-29T00:49:35Z","updated_at":"2023-11-29T00:49:35Z","tracking_code":"9400100105442285985007","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_3cf317fb53234f6097729a3ca2524e49"},{"id":"rfnd_c0a14f30c7e04a56ab8a0104c8298873","object":"Refund","created_at":"2023-11-29T00:36:47Z","updated_at":"2023-11-29T00:51:35Z","tracking_code":"9400100105442285981054","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_e661bd2622fe4472ad2f33f92f700b99"},{"id":"rfnd_8014ddb068254dee9f333fafeee7384d","object":"Refund","created_at":"2023-11-29T00:36:13Z","updated_at":"2023-11-29T00:51:43Z","tracking_code":"9400100105442285980743","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_ebf2e603d2584af9896f437b6a4671bb"}],"has_more":false}'
  recorded_at: Wed, 29 Nov 2023 00:59:41 GMT
recorded_with: VCR 6.2.0
