---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1a1cfd7e63d98a0aefb6b878000e9be1
      Location:
      - "/api/v2/shipments/shp_7e952949b1eb435482a45c74f87a949c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e32557a87cac5847e4b122808f7e60e1"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202301311954-88b0b2bbd3-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-01-31T21:37:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100106089176591221","updated_at":"2023-01-31T21:37:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6d3fb924a1af11edbdf6ac1f6bc72124","object":"Address","created_at":"2023-01-31T21:37:14+00:00","updated_at":"2023-01-31T21:37:14+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2a6dc9d2ad5743c696b37857e195a3c3","object":"Parcel","created_at":"2023-01-31T21:37:14Z","updated_at":"2023-01-31T21:37:14Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f0809249d08a46799cff400165af960e","created_at":"2023-01-31T21:37:14Z","updated_at":"2023-01-31T21:37:15Z","date_advance":0,"integrated_form":"none","label_date":"2023-01-31T21:37:14Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230131/d02a22d554a14583bd4592fd0edb797a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_55f62598f46746c7b9d889610dba7293","object":"Rate","created_at":"2023-01-31T21:37:14Z","updated_at":"2023-01-31T21:37:14Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7e952949b1eb435482a45c74f87a949c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_36dac358d71a4225b05a6eb73b8fe0bb","object":"Rate","created_at":"2023-01-31T21:37:14Z","updated_at":"2023-01-31T21:37:14Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_7e952949b1eb435[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_7e952949b1eb435482a45c74f87a949c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 72d8ff9163d98a0befb6b879000f43bf
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41098aa7ababa2ad6fa359842[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":["9400100106089176591221"]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 72d8ff9163d98a0befb6b87a000f43e6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"853f5dc665ce227aa044a4b55e137ba0"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202301311954-88b0b2bbd3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_4a38a6de89844c2b8a05bab3866313c0","object":"Refund","created_at":"2023-01-31T21:37:16Z","updated_at":"2023-01-31T21:37:16Z","tracking_code":"9400100106089176591221","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_7e952949b1eb435482a45c74f87a949c"}]'
  recorded_at: Tue, 31 Jan 2023 21:37:16 GMT
recorded_with: VCR 6.0.0
