---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0608eb426424ba93f490e11b0011f854'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7f27d1ea29478c50d2e1a7ab8bcb58a"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc a29e4ad05c
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"refunds":[],"has_more":false}'
  recorded_at: Wed, 29 Mar 2023 22:24:19 GMT
recorded_with: VCR 6.0.0
