---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7dae3e799e123005a0d23
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_c2ca22eea538446f8f2ad624c0a1a49e","object":"Refund","created_at":"2024-07-29T18:09:38Z","updated_at":"2024-07-29T18:09:38Z","tracking_code":"9400100110368068501047","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_b453ba1d2e504315ae0fd46c98344820"}],"has_more":false}'
  recorded_at: Mon, 29 Jul 2024 18:09:39 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds/rfnd_c2ca22eea538446f8f2ad624c0a1a49e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7dae3e799e124005a0d7b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"rfnd_c2ca22eea538446f8f2ad624c0a1a49e","object":"Refund","created_at":"2024-07-29T18:09:38Z","updated_at":"2024-07-29T18:09:38Z","tracking_code":"9400100110368068501047","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_b453ba1d2e504315ae0fd46c98344820"}'
  recorded_at: Mon, 29 Jul 2024 18:09:39 GMT
recorded_with: VCR 6.1.0
