---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/metadata/carriers?carriers=usps&types=service_levels,predefined_packages
    body:
      encoding: UTF-8
      string: '{"carriers":"usps","types":"service_levels,predefined_packages"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6b111adc64<REDACTED>a2fe0dc931f001fdf01
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80e36a02624b6fff828d65a412ac9604"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305311713-65a98e7d8b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"carriers":[{"human_readable":"USPS","name":"usps","predefined_packages":[{"carrier":"usps","description":null,"dimensions":["6in
        x 4.5in x 0.016in"],"human_readable":null,"max_weight":null,"name":"Card"},{"carrier":"usps","description":null,"dimensions":["11.5in
        x 6.125in x 0.25in"],"human_readable":null,"max_weight":null,"name":"Letter"},{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"Flat"},{"carrier":"usps","description":null,"dimensions":["12.5in
        x 9.5in"],"human_readable":null,"max_weight":null,"name":"FlatRateEnvelope"},{"carrier":"usps","description":null,"dimensions":["15in
        x 9.5in"],"human_r[...]
