---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/metadata/carriers?carriers=usps&types=service_levels,predefined_packages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7da6ee799d947005990d1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"carriers":[{"human_readable":"USPS","name":"usps","predefined_packages":[{"carrier":"usps","description":null,"dimensions":["6in
        x 4.5in x 0.016in"],"human_readable":null,"max_weight":null,"name":"Card"},{"carrier":"usps","description":null,"dimensions":["11.5in
        x 6.125in x 0.25in"],"human_readable":null,"max_weight":null,"name":"Letter"},{"carrier":"usps","description":null,"dimensions":["11.5in
        x 6.125in x 0.75in"],"human_readable":null,"max_weight":null,"name":"Flat"},{"carrier":"usps","description":null,"dimensions":["12.5in
        x 9.5in"],"human_readable":null,"max_weight":null,"name":"FlatRateEnvelope"},{"carrier":"usps","description":null,"dimensions[...]
