---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - db63f579645d56cae79954dd000d7c66
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ca436a3748fd2f4250f9425d8cab889"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_7b6a9caaf03e11ed9f610b6c436972e4","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-11T20:57:47Z","disabled_at":null}'
  recorded_at: Thu, 11 May 2023 20:57:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f579645d56cbe79954de000d7c81
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1690877b0d31353fc700e2a68d7ec7c4"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_91c6f222ad0641689e0c00bd424536d6","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-11T20:57:47Z","updated_at":"2023-05-11T20:57:47Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 May 2023 20:57:47 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f579645d56d0e79954df000d7d9f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f84197020d2548ba465806<REDACTED>d7f571"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_7be11af6f03e11eda2f7078eef22c308","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-11T20:57:47.534Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_7bd0fa4af03e11edb7cf7b2fbe297ad0","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-11T20:57:47.428Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_0ab25aceef6d11edaf056bc3acada6dc","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:58:32.828Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_e6dcf2c6ef6c11edb1d7291d76e9ba48","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:57:32.709Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_c30c5cecef6c11ed8a5563ec75b48bfb","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:56:32.622Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Thu, 11 May 2023 20:57:52 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_7be11af6f03e11eda2f7078eef22c308/payloads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57b645d56d1e79954e0000d7db8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5e6dd0a7b95afc23c69e9e95aa4ce47"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"payloads":[]}'
  recorded_at: Thu, 11 May 2023 20:57:53 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_7b6a9caaf03e11ed9f610b6c436972e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57b645d56d1e79954e1000d7dd5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 11 May 2023 20:57:54 GMT
recorded_with: VCR 6.1.0
