---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - db63f579645d571fe7995541000d9201
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc06edc2d6ab3b92aa0b42f68b35f326"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_adcd359af03e11ed88bf2b6afc7b40b7","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-11T20:59:11Z","disabled_at":null}'
  recorded_at: Thu, 11 May 2023 20:59:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f579645d571fe7995542000d9228
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad3f3a68dd2981cb0cc39e09e9ae9c09"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_61717cd3fa5b4140bff00d8c4b120900","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-11T20:59:11Z","updated_at":"2023-05-11T20:59:11Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 May 2023 20:59:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57b645d5725e7995545000d935f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a08d02012caea5cfd701ba2f8b6bd4"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"batch.updated","id":"evt_ae3ccd2ef03e11edadc80dbb37d02dae","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-11T20:59:12.021Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_ae2aca84f03e11ed87da6b5fb94a4bfd","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-11T20:59:11.903Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_7be11af6f03e11eda2f7078eef22c308","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"failed","created_at":"2023-05-11T20:57:47.534Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_7bd0fa4af03e11edb7cf7b2fbe297ad0","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"failed","created_at":"2023-05-11T20:57:47.428Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_0ab25aceef6d11edaf056bc3acada6dc","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:58:32.828Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Thu, 11 May 2023 20:59:17 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_ae3ccd2ef03e11edadc80dbb37d02dae/payloads/payload_11111111111111111111111111111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - db63f57e645d5726e7995548000d93de
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PAYLOAD.NOT_FOUND","message":"The payload(s) could
        not be found.","errors":[]}}'
  recorded_at: Thu, 11 May 2023 20:59:18 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_adcd359af03e11ed88bf2b6afc7b40b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57d645d5727e7995560000d93fe
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 11 May 2023 20:59:19 GMT
recorded_with: VCR 6.1.0
