---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/events
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e4a331f4645d557be79950c3000cf403
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e21453ff347c026230ce372f8cbc486a"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"events":[{"description":"tracker.updated","id":"evt_0ab25aceef6d11edaf056bc3acada6dc","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:58:32.828Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_e6dcf2c6ef6c11edb1d7291d76e9ba48","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:57:32.709Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_c30c5cecef6c11ed8a5563ec75b48bfb","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:56:32.622Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_b8138be4ef6c11eda54b5968676d389f","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:56:14.214Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_9f372f5eef6c11ed8a2e1fddd0096f2f","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","created_at":"2023-05-10T19:55:32.505Z","mode":"test","object":"Event"}],"has_more":true}'
  recorded_at: Thu, 11 May 2023 20:52:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/events/evt_0ab25aceef6d11edaf056bc3acada6dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e4a331fb645d557be79950c4000cf429
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18be8585d6aef54a0acd3996f2d10429"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"description":"tracker.updated","mode":"test","previous_attributes":{"status":"out_for_delivery"},"created_at":"2023-05-10T19:58:33.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2023-05-10T19:58:33.000Z","id":"evt_0ab25aceef6d11edaf056bc3acada6dc","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","status":"pending","object":"Event"}'
  recorded_at: Thu, 11 May 2023 20:52:11 GMT
recorded_with: VCR 6.1.0
