---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 0cdd6eea62c49c16efb3f654000b6fe8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202207051744-6385ac2987-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
        shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
        and missing."},{"from_address":"Required and missing."}]}}'
  recorded_at: Tue, 05 Jul 2022 20:16:22 GMT
recorded_with: VCR 6.0.0
