---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f5261ae786c5400027f5ab
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PARAMETER.REQUIRED","message":"Missing required parameter.","errors":[{"field":"shipment","message":"cannot
        be blank"}]}}'
  recorded_at: Thu, 11 Aug 2022 15:54:02 GMT
recorded_with: VCR 6.0.0
