---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40abe787387d00311084
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
        shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
        and missing."},{"from_address":"Required and missing."}]}}'
  recorded_at: Thu, 12 May 2022 17:15:23 GMT
recorded_with: VCR 6.0.0
