---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 704d1f716217c5b3e78744c5003ba338
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
        shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
        and missing."},{"from_address":"Required and missing."}]}}'
  recorded_at: Thu, 24 Feb 2022 17:51:47 GMT
recorded_with: VCR 6.0.0
