---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 3843703c62e2e484ec61dedb00329545
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb2nuq 403f17ff97
      - intlb2wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
        shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
        and missing."},{"from_address":"Required and missing."}]}}'
  recorded_at: Thu, 28 Jul 2022 19:33:24 GMT
recorded_with: VCR 6.0.0
