---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"refund_amount":2000}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7da63e799d904005984fb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.AMOUNT_INVALID","message":"Refund amount
        is invalid. Please use a valid amount or escalate to finance.","errors":[]}}'
  recorded_at: Mon, 29 Jul 2024 18:07:31 GMT
recorded_with: VCR 6.1.0
