---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/payment_method
    body:
      encoding: UTF-8
      string: '{"payment_method":{"stripe_customer_id":"cus_123","payment_method_reference":"ba_123","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a3fe787d5830006fe41
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE","message":"Invalid
        Payment Gateway Reference.","errors":[]}}'
  recorded_at: Tue, 23 Jan 2024 18:49:35 GMT
recorded_with: VCR 6.2.0
