---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"payment_log_id":"paylog_123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a40e787d5850006ff1f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","message":"We could not
        find a transaction with that id.","errors":[]}}'
  recorded_at: Tue, 23 Jan 2024 18:49:36 GMT
recorded_with: VCR 6.2.0
