---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 56d897ac691b6ef7e786abfc0281efdb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202511171535-3e300ad867-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq cbbd141214
      - intlb4nuq c0061e0a2e
    body:
      encoding: UTF-8
      string: '{"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-16T22:01:20Z"},{"id":"user_14e894c0d541459395f4456e7cf4f175","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-09-27T22:05:26Z"},{"id":"user_f04df3dad13848339a7975d295d6629f","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-11-30T19:23:22Z"},{"id":"user_44d216445b2f4595a123[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/customer_portal/account_link
    body:
      encoding: UTF-8
      string: '{"session_type":"account_onboarding","user_id":"user_484dd58db70a4f31b4bb862998cf0e04","refresh_url":"https://example.com/refresh","return_url":"https://example.com/return"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 56d897a8691b6ef7e786abff0281f057
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202511171535-3e300ad867-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq cbbd141214
      - intlb6nuq c0061e0a2e
    body:
      encoding: UTF-8
      string: '{"link":"https://app.easypost.com/customer-portal/onboarding?session_id=yIuV3XCFXvpyTCUJ","object":"CustomerPortalAccountLink","expires_at":"2025-11-17T18:57:39Z","created_at":"2025-11-17T18:52:39Z"}'
  recorded_at: Mon, 17 Nov 2025 18:52:39 GMT
recorded_with: VCR 6.3.1
