---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e26463e11fe79b13ad0039efac
      Location:
      - "/api/v2/shipments/shp_a9aa7ebf6e684c238eeac3491df23d7b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d3a3c7e08b0f8ab268d9570fe9bbc23"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T20:01:35Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210395630","updated_at":"2023-05-16T20:01:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_75f23ca2f42411ed910aac1f6bc53342","object":"Address","created_at":"2023-05-16T20:01:35+00:00","updated_at":"2023-05-16T20:01:35+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_808134f9d2a2400592e99767d938cbcf","object":"Parcel","created_at":"2023-05-16T20:01:35Z","updated_at":"2023-05-16T20:01:35Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3152536ecd6a41c2a8c36ff3bdb5beb0","created_at":"2023-05-16T20:01:35Z","updated_at":"2023-05-16T20:01:36Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T20:01:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/c05de1f64e06408eb3ff6442dded78a7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_dc6f2bcba99b4f00acba36e81689bb40","object":"Rate","created_at":"2023-05-16T20:01:35Z","updated_at":"2023-05-16T20:01:35Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_a9aa7ebf6e684c238eeac3491df23d7b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fdb177d7bd304f7491b41e808da546a6","object":"Rate","created_at":"2023-05-16T20:01:35Z","updated_at":"2023-05-16T20:01:35Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a9aa7ebf6e684c238e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_a9aa7ebf6e684c238eeac3491df23d7b"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e16463e120e79b13ae0039f045
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc0437e607cda3dcd95a8d2bf16797b8"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"sf_c959e4450cd94b53b02ee818e65cc9d7","object":"ScanForm","created_at":"2023-05-16T20:01:36Z","updated_at":"2023-05-16T20:01:37Z","tracking_codes":["9400100104262210395630"],"address":{"id":"adr_75f23ca2f42411ed910aac1f6bc53342","object":"Address","created_at":"2023-05-16T20:01:35+00:00","updated_at":"2023-05-16T20:01:35+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230516/c964586a05454448b6d626dd64e476bb.pdf","form_file_type":null,"batch_id":"batch_3a06ed26568e448fad8dddc3299c7eb1","confirmation":null}'
  recorded_at: Tue, 16 May 2023 20:01:37 GMT
recorded_with: VCR 6.1.0
