---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e46463e194e79b140b003a1ba7
      Location:
      - "/api/v2/shipments/shp_0808eeb518444fe2bd3b1c10c34d77ce"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55dac0fee06ca4f4bddbd0c0175c3d0b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T20:03:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210395890","updated_at":"2023-05-16T20:03:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_bbcd5ad6f42411ed9961ac1f6bc539ae","object":"Address","created_at":"2023-05-16T20:03:32+00:00","updated_at":"2023-05-16T20:03:32+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f03adf7ea87d40a097fff9b1ed1c0519","object":"Parcel","created_at":"2023-05-16T20:03:32Z","updated_at":"2023-05-16T20:03:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4a9c953a51754f92ba4b3f58c3d9996c","created_at":"2023-05-16T20:03:33Z","updated_at":"2023-05-16T20:03:33Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T20:03:33Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/2c95904787414fb2a7e1d9011ddb0908.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_cf4e5ae22d8d4a4d9b378125b54e2c65","object":"Rate","created_at":"2023-05-16T20:03:32Z","updated_at":"2023-05-16T20:03:32Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0808eeb518444fe2bd3b1c10c34d77ce","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1c6bfff97b7f4f41aa871fb113fd9088","object":"Rate","created_at":"2023-05-16T20:03:32Z","updated_at":"2023-05-16T20:03:32Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_0808eeb518444fe2bd3b1c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_0808eeb518444fe2bd3b1c10c34d77ce"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e46463e196e79b140c003a1c1a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"afc37e09f3d19fe89147f317ad9e833c"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"sf_575b1d5f75d047088fd55a6bada32ce9","object":"ScanForm","created_at":"2023-05-16T20:03:34Z","updated_at":"2023-05-16T20:03:34Z","tracking_codes":["9400100104262210395890"],"address":{"id":"adr_bbcd5ad6f42411ed9961ac1f6bc539ae","object":"Address","created_at":"2023-05-16T20:03:32+00:00","updated_at":"2023-05-16T20:03:32+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230516/c182f1484a644<REDACTED>964ceca9ca34acd0.pdf","form_file_type":null,"batch_id":"batch_8d2e89344a784dddb12474a997d88603","confirmation":null}'
  recorded_at: Tue, 16 May 2023 20:03:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_575b1d5f75d047088fd55a6bada32ce9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e16463e196e79b140d003a1c74
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"afc37e09f3d19fe89147f317a[...]
