---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e56463e1c2e79b1410003a2a86
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5039d6a0330a22862b39abf7f874b83"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_b4237a52350149de997c40ebf896dda3","object":"ScanForm","created_at":"2023-05-10T17:28:26Z","updated_at":"2023-05-10T17:28:27Z","tracking_codes":["9400100104262208374746"],"address":{"id":"adr_0f44cfdbef5811ed9867ac1f6bc72124","object":"Address","created_at":"2023-05-10T17:28:21+00:00","updated_at":"2023-05-10T17:28:21+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230510/3c2a6440543c4fadb63d705968f9bc74.pdf","form_file_type":null,"batch_id":"batch_a8b76e398f824a709cc4a3541dadf5e3","confirmation":null},{"id":"sf_c959e4450cd94b53b02ee818e65cc9d7","object":"ScanForm","created_at":"2023-05-16T20:01:36Z","updated_at":"2023-05-16T20:01:37Z","tracking_codes":["9400100104262210395630"],"address":{"id":"adr_75f23ca2f42411ed910aac1f6bc53342","object":"Address","created_at":"2023-05-16T20:01:35+00:00","updated_at":"2023-05-16T20:01:35+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":[...]
