---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 403
      message: ''
    headers:
      X-Ep-Request-Uuid:
      - 37beff0264<REDACTED>857e0dc8ee0001fee34
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305311713-65a98e7d8b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Wed, 31 May 2023 17:48:06 GMT
recorded_with: VCR 6.1.0
