---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - cd9e264164c19224ee7e867300105472
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202307261627-fcb57da543-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq d3d339cca1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"The requested resource could
        not be found.","errors":[]}}'
  recorded_at: Wed, 26 Jul 2023 21:37:41 GMT
recorded_with: VCR 6.2.0
