---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 403
      message: ''
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7da7ee799dc990059a14e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Mon, 29 Jul 2024 18:07:57 GMT
recorded_with: VCR 6.1.0
