---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a47e787d5c40007042b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Tue, 23 Jan 2024 18:49:43 GMT
recorded_with: VCR 6.2.0
