---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 0af7a3d666abeecbe788664b001c17a5
      Location:
      - "/api/v2/addresses/adr_f072b044504311efae2bac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202408012013-135f8f9b76-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"adr_f072b044504311efae2bac1f6bc539aa","object":"Address","created_at":"2024-08-01T20:23:39+00:00","updated_at":"2024-08-01T20:23:39+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 01 Aug 2024 20:23:39 GMT
recorded_with: VCR 6.1.0
