---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bb751d5e64c05c6eee7f171900189c9e
      Location:
      - "/api/v2/addresses/adr_0b6de7302b4411ee8cb2ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48850e2ee8920db2bf8c4b5855731d12"
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202307252255-c698f2fec7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq d3d339cca1
    body:
      encoding: UTF-8
      string: '{"id":"adr_0b6de7302b4411ee8cb2ac1f6bc539ae","object":"Address","created_at":"2023-07-25T23:36:14+00:00","updated_at":"2023-07-25T23:36:14+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 25 Jul 2023 23:36:14 GMT
recorded_with: VCR 6.2.0
