---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - bb751d5f64c050dfee6e30fd00156fad
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202307252202-4d6292915a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq d3d339cca1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"The requested resource could
        not be found.","errors":[]}}'
  recorded_at: Tue, 25 Jul 2023 22:46:55 GMT
recorded_with: VCR 6.2.0
