---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"invalid"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b59f847f6466a485f40c0bec001194ca
      Location:
      - "/api/v2/addresses/adr_1a519c8df5ca11ed8770ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8bda07ee1<REDACTED>529e1998d97b78b9fbcd"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_1a519c8df5ca11ed8770ac1f6bc539ae","object":"Address","created_at":"2023-05-18T22:19:49+00:00","updated_at":"2023-05-18T22:19:49+00:00","name":null,"company":null,"street1":"invalid","street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 18 May 2023 22:19:49 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_1a519c8df5ca11ed8770ac1f6bc539ae/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - b59f847a6466a485f01ff21f001194f5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
        number is missing","suggestion":null}]}}'
  recorded_at: Thu, 18 May 2023 22:19:49 GMT
recorded_with: VCR 6.1.0
