---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Ep-Request-Uuid:
      - b59f847e6466a531f01fd3f40011c7e1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Thu, 18 May 2023 22:22:41 GMT
recorded_with: VCR 6.1.0
