---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"invalid"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b59f847d6466a58cf40a80ce0011e3b2
      Location:
      - "/api/v2/addresses/adr_b76ee4d7f5ca11edb462ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ede0c0afccd9b890585df02c06cf708c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_b76ee4d7f5ca11edb462ac1f6bc53342","object":"Address","created_at":"2023-05-18T22:24:12+00:00","updated_at":"2023-05-18T22:24:12+00:00","name":null,"company":null,"street1":"invalid","street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 18 May 2023 22:24:12 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_b76ee4d7f5ca11edb462ac1f6bc53342/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - b59f847e6466a58df4403e110011e3ce
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
        number is missing","suggestion":null}]}}'
  recorded_at: Thu, 18 May 2023 22:24:13 GMT
recorded_with: VCR 6.1.0
