---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
    body:
      encoding: UTF-8
      string: '{"carrier_account_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6be4a8f46830cb35e7873c200041a96c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 668d3fc830
    body:
      encoding: UTF-8
      string: '{"id":"ca_8d60e586beaf4f6b9079c4879c5a2b66","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2025-05-23T19:23:33Z","updated_at":"2025-05-23T19:23:33Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Fri, 23 May 2025 19:23:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts/ca_8d60e586beaf4f6b9079c4879c5a2b66
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6be4a8f46830cb35e7873c3a0041a9e0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 668d3fc830
    body:
      encoding: UTF-8
      string: '{"id":"ca_8d60e586beaf4f6b9079c4879c5a2b66","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2025-05-23T19:23:33Z","updated_at":"2025-05-23T19:23:33Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Fri, 23 May 2025 19:23:33 GMT
[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_8d60e586beaf4f6b9079c4879c5a2b66
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6be4a8f26830cb35e7873c400041aa9b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 668d3fc830
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 23 May 2025 19:23:34 GMT
recorded_with: VCR 6.3.1
