---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/ups_oauth_registrations
    body:
      encoding: UTF-8
      string: '{"ups_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6754031f668da18de78b059b0022a08e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407092027-324ee50b5a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq fa152d4755
    body:
      encoding: UTF-8
      string: '{"id":"ca_3d9d135b54684de8a2a250e969ec5634","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2024-07-09T20:46:05Z","updated_at":"2024-07-09T20:46:05Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Tue, 09 Jul 2024 20:46:05 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_3d9d135b54684de8a2a250e969ec5634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6754031e668da18de78b059d0022a118
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202407092027-324ee50b5a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq fa152d4755
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Jul 2024 20:46:05 GMT
recorded_with: VCR 6.1.0
