---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f21e78744c500365ae4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92c23373b60e859c2812e827f1fc59a7"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ca_ae28f750a8e44fefa4ae7d05ae4b33a1","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-23T18:38:25Z","updated_at":"2022-02-23T18:38:25Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
  recorded_at: Wed, 23 Feb 2022 18:38:25 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/carrier_accounts/ca_ae28f750a8e44fefa4ae7d05ae4b33a1
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f22e78744dd00365b07
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f8ee5bd5e677794fa6e92e38664dffb"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ca_ae28f750a8e44fefa4ae7d05ae4b33a1","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-23T18:38:25Z","updated_at":"2022-02-23T18:38:26Z","description":"My
        custom description","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
  recorded_at: Wed, 23 Feb 2022 18:38:26 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_ae28f750a8e44fefa4ae7d05ae4b33a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f22e78744de00365b28
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 23 Feb 2022 18:38:26 GMT
recorded_with: VCR 6.0.0
