---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40a8e787385d00310f8f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c7e84df22431e039f9053cbaeb73b59"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_723f61ceaa424f50aa59465289147496","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-12T17:15:20Z","updated_at":"2022-05-12T17:15:20Z","description":"UPS
        Account","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 12 May 2022 17:15:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_723f61ceaa424f50aa59465289147496
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40a9e787385e00310fd9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 12 May 2022 17:15:21 GMT
recorded_with: VCR 6.0.0
