---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00a43e787d5a300070137
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"ca_041ad12f71f14fefb90aa144c66ee3c1","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2024-01-23T18:49:39Z","updated_at":"2024-01-23T18:49:39Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Tue, 23 Jan 2024 18:49:39 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/carrier_accounts/ca_041ad12f71f14fefb90aa144c66ee3c1
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a43e787d5a400070186
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"ca_041ad12f71f14fefb90aa144c66ee3c1","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2024-01-23T18:49:39Z","updated_at":"2024-01-23T18:49:39Z","description":"My
        custom description","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Tue, 23 Jan 2024 18:49:40 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_041ad12f71f14fefb90aa144c66ee3c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a44e787d5a5000701d0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 23 Jan 2024 18:49:40 GMT
recorded_with: VCR 6.2.0
