---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
    body:
      encoding: UTF-8
      string: '{"carrier_account_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6be4a8f36830cb34e7873c1b0041a88c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 668d3fc830
    body:
      encoding: UTF-8
      string: '{"id":"ca_328e7775414142a88731306d3735b317","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2025-05-23T19:23:32Z","updated_at":"2025-05-23T19:23:32Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Fri, 23 May 2025 19:23:32 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_328e7775414142a88731306d3735b317
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6be4a8f66830cb34e7873c1e0041a8ea
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 668d3fc830
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 23 May 2025 19:23:32 GMT
recorded_with: VCR 6.3.1
