---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f20e78744c100365a5f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b6fd86c9617710c838067dd5abcc06d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ca_63259ba9726243cf9955530f5482cd39","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-23T18:38:24Z","updated_at":"2022-02-23T18:38:24Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
  recorded_at: Wed, 23 Feb 2022 18:38:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts/ca_63259ba9726243cf9955530f5482cd39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310562167f20e78744c200365a7a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b6fd86c9617710c838067dd5abcc06d"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ca_63259ba9726243cf9955530f5482cd39","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-23T18:38:24Z","updated_at":"2022-02-23T18:38:24Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
  recorded_at: Wed, 23 Feb 2022 18:38:24 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_63259ba9726243cf9955530f5482cd39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310162167f21e78744c300365a93
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 23 Feb 2022 18:38:25 GMT
recorded_with: VCR 6.0.0
