---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40a7e787384300310f3c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b5fb584ac2ec26bbc2e1fe2c9667407"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_20dc2fbc45a64ee3bcd5a25360a83928","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-12T17:15:19Z","updated_at":"2022-05-12T17:15:19Z","description":"UPS
        Account","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 12 May 2022 17:15:19 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/carrier_accounts/ca_20dc2fbc45a64ee3bcd5a25360a83928
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40a8e787384400310f5c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48dbc5fe71413dc8679d41e3d344cc82"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_20dc2fbc45a64ee3bcd5a25360a83928","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-12T17:15:19Z","updated_at":"2022-05-12T17:15:20Z","description":"My
        custom description","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 12 May 2022 17:15:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_20dc2fbc45a64ee3bcd5a25360a83928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b473627d40a8e787385c00310f76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 12 May 2022 17:15:20 GMT
recorded_with: VCR 6.0.0
