---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6f2c283a63365e8ee2bc2bcf001e3b08
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f102460859c64a8a8e5658d41ef677df"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202209292008-82708ffb20-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '[{"id":"ca_716f33fd9fd348238b85c2922237f98b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2017-03-01T22:57:19Z","updated_at":"2018-08-09T02:45:42Z","description":"USPS
        Account","reference":null,"billing_type":"easypost","readable":"USPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}},{"id":"ca_e94e4fa45aba4058809c9246a48712b3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-09T19:49:09Z","updated_at":"2022-08-09T19:49:09Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}]'
  recorded_at: Fri, 30 Sep 2022 03:12:14 GMT
recorded_with: VCR 6.0.0
