---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40a7e787384200310f26
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09db5ef672744787b0b3a77925c294b6"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '[{"id":"ca_716f33fd9fd348238b85c2922237f98b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2017-03-01T22:57:19Z","updated_at":"2018-08-09T02:45:42Z","description":"USPS
        Account","reference":null,"billing_type":"easypost","readable":"USPS","logo":null,"fields":{"credentials":{"company_name":{"visibility":"visible","label":"Account
        Holder Name","value":""},"address_street":{"visibility":"visible","label":"Street
        Address","value":""},"address_city":{"visibility":"visible","label":"City","value":""},"address_state":{"visibility":"visible","label":"State","value":""},"address_zip":{"visibility":"visible","label":"ZIP
        Code","value":""},"phone":{"visibility":"visible","label":"Phone Number","value":""},"email":{"visibility":"visible","label":"Email
        Address","value":null},"shipper_id":{"visibility":"visible","label":"Shipper
        Identifier (Optional)","value":""}}},"credentials":"<REDACTED>","test_credentials":"<REDACTED>"}]'
  recorded_at: Thu, 12 May 2022 17:15:19 GMT
recorded_with: VCR 6.0.0
