---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f506c62f2ba37e7897b2d00089e17
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33afcebe319ff12b13049277b7acd5dd"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"ca_5f7db8026e5943ada3f7c450c1c38486","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-09T19:49:11Z","updated_at":"2022-08-09T19:49:11Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":{"credentials":{"client_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"DHL
        eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"DHL
        eCommerce Solutions distribution center","value":"USLAX1"}},"test_credentials":{"client_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"Test
        DHL eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions distribution center","value":"USLAX1"}}},"credentials":"<REDACTED>","test_credentials":"<REDACTED>"}'
  recorded_at: Tue, 09 Aug 2022 19:49:11 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/carrier_accounts/ca_5f7db8026e5943ada3f7c450c1c38486
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506c62f2ba37e7897b2e00089e3d
      Content-Type:
      - application/json[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_5f7db8026e5943ada3f7c450c1c38486
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506f62f2ba38e7897b2f00089e5f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Aug 2022 19:49:12 GMT
recorded_with: VCR 6.0.0
