---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652d8de0dc8fea0006d833
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7e8a57e5895e36f11d4e386e1594e65"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_6ce64659a18d495fa18205cc4d29ccc2","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-17T19:39:57Z","updated_at":"2023-05-17T19:39:57Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 17 May 2023 19:39:57 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/carrier_accounts/ca_6ce64659a18d495fa18205cc4d29ccc2
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652d8de0dc8feb0006d858
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1c58e64676ad93607371b154da5377a"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_6ce64659a18d495fa18205cc4d29ccc2","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-17T19:39:57Z","updated_at":"2023-05-17T19:39:58Z","description":"My
        custom description","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 17 May 2023 19:39:58 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_6ce64659a18d495fa18205cc4d29ccc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d8ee0dc8fec0006d87f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 May 2023 19:39:58 GMT
recorded_with: VCR 6.1.0
