---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/ups_oauth_registrations
    body:
      encoding: UTF-8
      string: '{"ups_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6754031e668da5fbe78b1f43002681c9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407092027-324ee50b5a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq fa152d4755
    body:
      encoding: UTF-8
      string: '{"id":"ca_cd7761c14b7a43da9d57fbf16cf26467","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2024-07-09T21:04:59Z","updated_at":"2024-07-09T21:04:59Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Tue, 09 Jul 2024 21:04:59 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts/ca_cd7761c14b7a43da9d57fbf16cf26467
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6754031c668da5fce78b1f4400268239
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407092027-324ee50b5a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq fa152d4755
    body:
      encoding: UTF-8
      string: '{"id":"ca_cd7761c14b7a43da9d57fbf16cf26467","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2024-07-09T21:04:59Z","updated_at":"2024-07-09T21:04:59Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Tue, 09 Jul 2024 21:05:00 GMT
[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_cd7761c14b7a43da9d57fbf16cf26467
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6754031b668da5fde78b1f4600268309
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407092027-324ee50b5a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq fa152d4755
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 09 Jul 2024 21:05:01 GMT
recorded_with: VCR 6.1.0
