---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f20e78744bf00365a08
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f3d7df58cce07cc584da948bfcb5d27"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ca_a0569dc4009744c980b8bb67c26a273c","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-23T18:38:24Z","updated_at":"2022-02-23T18:38:24Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
  recorded_at: Wed, 23 Feb 2022 18:38:24 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_a0569dc4009744c980b8bb67c26a273c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662167f20e78744c000365a33
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 23 Feb 2022 18:38:24 GMT
recorded_with: VCR 6.0.0
