---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52617e786c51f0027f4be
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5510cc5aea7f81c8d72ca6b543a25bef"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"ca_882a41ab1ad3428485ae8e9c37423230","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-11T15:53:59Z","updated_at":"2022-08-11T15:53:59Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":{"credentials":{"client_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"DHL
        eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"DHL
        eCommerce Solutions distribution center","value":"USLAX1"}},"test_credentials":{"client_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"Test
        DHL eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions distribution center","value":"USLAX1"}}},"credentials":"<REDACTED>","test_credentials":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:53:59 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_882a41ab1ad3428485ae8e9c37423230
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52617e786c5200027f4d8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 11 Aug 2022 15:54:00 GMT
recorded_with: VCR 6.0.0
