---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d8de0dc8fe90006d824
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"942411b4fc661bbf31f3e5cd5ab21659"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '[{"id":"ca_716f33fd9fd348238b85c2922237f98b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2017-03-01T22:57:19Z","updated_at":"2018-08-09T02:45:42Z","description":"USPS
        Account","reference":null,"billing_type":"easypost","readable":"USPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}},{"id":"ca_e94e4fa45aba4058809c9246a48712b3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-09T19:49:09Z","updated_at":"2022-08-09T19:49:09Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}},{"id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"cr[...]
