---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
    body:
      encoding: UTF-8
      string: '{"carrier_account_oauth_registrations":{"type":"AmazonShippingAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d574b4b367f94771e2ca043700520fce
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202504102051-85835c857e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 284c5d344a
    body:
      encoding: UTF-8
      string: '{"id":"ca_557725c3d1c34fda9df04acf7ce6c5c3","object":"CarrierAccount","type":"AmazonShippingAccount","clone":false,"created_at":"2025-04-11T16:46:41Z","updated_at":"2025-04-11T16:46:41Z","description":null,"reference":null,"billing_type":"carrier","readable":"Amazon
        Shipping","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Fri, 11 Apr 2025 16:46:41 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_557725c3d1c34fda9df04acf7ce6c5c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d574b4b667f94771e2ca04390052101b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202504102051-85835c857e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 284c5d344a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 11 Apr 2025 16:46:41 GMT
recorded_with: VCR 6.3.1
