---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cf92a6486298f91eea43ebb00078cdab
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c469caf16d552c2ab8e5a84b710eae2d"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 0910011e7e
      - intlb1wdc 570dfcbc0a
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_b18bc852340a44f88fe23525aa5cb6c4","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-06-02T17:53:34Z","updated_at":"2022-06-02T17:53:34Z","description":"UPS
        Account","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 02 Jun 2022 17:53:35 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/carrier_accounts/ca_b18bc852340a44f88fe23525aa5cb6c4
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"description":"My custom description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f83f337f6298f91fea43ebb1007c3120
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4116e38493ab0d64f5117ee260a7a37"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 0910011e7e
      - intlb1nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_b18bc852340a44f88fe23525aa5cb6c4","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-06-02T17:53:34Z","updated_at":"2022-06-02T17:53:35Z","description":"My
        custom description","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 02 Jun 2022 17:53:35 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_b18bc852340a44f88fe23525aa5cb6c4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f5a1f0496298f91fea43ebb200db9743
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 02 Jun 2022 17:53:35 GMT
recorded_with: VCR 6.0.0
