---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506e62f2ba37e7897b2c00089dfc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f102460859c64a8a8e5658d41ef677df"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"ca_716f33fd9fd348238b85c2922237f98b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2017-03-01T22:57:19Z","updated_at":"2018-08-09T02:45:42Z","description":"USPS
        Account","reference":null,"billing_type":"easypost","readable":"USPS","logo":null,"fields":{"credentials":{"company_name":{"visibility":"visible","label":"Account
        Holder Name","value":""},"address_street":{"visibility":"visible","label":"Street
        Address","value":""},"address_city":{"visibility":"visible","label":"City","value":""},"address_state":{"visibility":"visible","label":"State","value":""},"address_zip":{"visibility":"visible","label":"ZIP
        Code","value":""},"phone":{"visibility":"visible","label":"Phone Number","value":""},"email":{"visibility":"visible","label":"Email
        Address","value":null},"shipper_id":{"visibility":"visible","label":"Shipper
        Identifier (Optional)","value":""}}},"credentials":"<REDACTED>","test_credentials":"<REDACTED>"},{"id":"ca_e94e4fa45aba4058809c9246a48712b3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-09T19:49:09Z","updated_at":"2022-08-09T19:49:09Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":{"credentials":{"client_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"DHL
        eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"DHL
        eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"DHL
        eCommerce Solutions distribution center","value":"USLAX1"}},"test_credentials":{"client_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions client ID","value":"123456"},"client_secret":{"visibility":"password","label":"Test
        DHL eCommerce Solutions client secret","value":"********"},"pickup_id":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions pickup ID","value":"123456"},"distribution_center":{"visibility":"visible","label":"Test
        DHL eCommerce Solutions distribution center","value":"USLAX1"}}},"credentials":"<REDACTED>","test_credentials":"<REDACTED>"}]'
  recorded_at: Tue, 09 Aug 2022 19:49:11 GMT
recorded_with: VCR 6.0.0
