---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7da68e799d92400598a4e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '[{"id":"ca_716f33fd9fd348238b85c2922237f98b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2017-03-01T22:57:19Z","updated_at":"2018-08-09T02:45:42Z","description":"USPS
        Account","reference":null,"billing_type":"easypost","readable":"USPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}},{"id":"ca_e94e4fa45aba4058809c9246a48712b3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2022-08-09T19:49:09Z","updated_at":"2022-08-09T19:49:09Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}},{"id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"cr[...]
