---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652d8be0dc8fe50006d7b4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbfa8c012c38a9859bcf413999ae2d72"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_30e4588ab9ab47398ab8cd8ef55dc8e3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-17T19:39:56Z","updated_at":"2023-05-17T19:39:56Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 17 May 2023 19:39:56 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts/ca_30e4588ab9ab47398ab8cd8ef55dc8e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d8ce0dc8fe60006d7d5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbfa8c012c38a9859bcf413999ae2d72"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_30e4588ab9ab47398ab8cd8ef55dc8e3","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-17T19:39:56Z","updated_at":"2023-05-17T19:39:56Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 17 May 2023 19:39:56 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_30e4588ab9ab47398ab8cd8ef55dc8e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d8ce0dc8fe80006d807
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 May 2023 19:39:57 GMT
recorded_with: VCR 6.1.0
