---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/ups_oauth_registrations
    body:
      encoding: UTF-8
      string: '{"ups_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7da65e799d91f005987a1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"ca_3d872c74658a4ebbba0bc771600eb6ff","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2024-07-29T18:07:33Z","updated_at":"2024-07-29T18:07:33Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Mon, 29 Jul 2024 18:07:33 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_3d872c74658a4ebbba0bc771600eb6ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da66e799d92000598833
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2024 18:07:34 GMT
recorded_with: VCR 6.1.0
