---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/ups_oauth_registrations
    body:
      encoding: UTF-8
      string: '{"ups_oauth_registrations":{"type":"UpsAccount","account_number":"123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d574b4b467f94771e2ca041900520f14
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202504102051-85835c857e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 284c5d344a
    body:
      encoding: UTF-8
      string: '{"id":"ca_67413142c8ba4766aeb04a08ca3b1526","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2025-04-11T16:46:41Z","updated_at":"2025-04-11T16:46:41Z","description":null,"reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Fri, 11 Apr 2025 16:46:41 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_67413142c8ba4766aeb04a08ca3b1526
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d574b4b567f94771e2ca041c00520f57
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202504102051-85835c857e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 284c5d344a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 11 Apr 2025 16:46:41 GMT
recorded_with: VCR 6.3.1
