---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"UpsAccount","credentials":{"account_number":"A1A1A1","user_id":"USERID","password":"PASSWORD","access_license_number":"ALN"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40a5e787383d00310e8f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22367b5214e35410679ef7b8847b041b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"ca_b9d553f2296e42279e657664f8ceb4b1","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-12T17:15:17Z","updated_at":"2022-05-12T17:15:17Z","description":"UPS
        Account","reference":null,"billing_type":"carrier","readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":"<REDACTED>","test_credentials":null}'
  recorded_at: Thu, 12 May 2022 17:15:17 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_b9d553f2296e42279e657664f8ceb4b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40a6e787383e00310ead
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 12 May 2022 17:15:18 GMT
recorded_with: VCR 6.0.0
