---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"carrier_accounts":[{"id":"ca_12345678"}],"shipments":[{"parcel":{"length":8,"width":6,"height":4,"weight":12}},{"parcel":{"length":8,"width":6,"height":4,"weight":12}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab555ebaf119fb41fa0b000d418c
      Location:
      - "/api/v2/orders/order_de4783ffb2c643458e96ca5e54ac3c65"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_e63ca9a0935f4adebd2b4f287f442f02","type":"rate_message","message":"UPS
        multi-shipment rate includes this shipment."}],"created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:22Z","customs_info":null,"from_address":{"id":"adr_9df133a6ea98488c8c623ae5b1d9cf6c","object":"Address","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_7508c28940094c20922bd01ef198dc4c","object":"Address","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_7508c28940094c20922bd01ef198dc4c","object":"Address","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_9df133a6ea98488c8c623ae5b1d9cf6c","object":"Address","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-05-12T18:55:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:21Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9df133a6ea98488c8c623ae5b1d9cf6c","object":"Address","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_de4783ffb2c643458e96ca5e54ac3c65","parcel":{"id":"prcl_f01cd1e6c99949939636b5a77147b8a4","object":"Parcel","created_at":"2020-05-12T18:55:21Z","updated_at":"2020-05-12T18:55:21Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a85a60abb05b4bcd84fb7c8cddbb806a","object":"Rate","created_at":"2020-05-12T18:55:22Z","updated_at":"2020-05-12T18:55:22Z","mode":"test","service":"First","carrier":"USPS","rate":"4.32","currency":"USD","retail_rate":"5.65","retail_currency":"USD","list_rate":"4.32","list_currency":"USD","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_cecb31d05bee447fb2e6c1dccbc35395","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_47c4e55f567b4057a267d004156f91c1","object":"Rate","created_at":"2020-05-12T18:55:22Z","updated_at":"2020-05-12T18:55:22Z","mode":"test","service":"Express","carrier":"USPS","rate":"35.65","currency":"USD","retail_rate":"41.75","retail_currency":"USD","list_rate":"35.65","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":n[...]
