---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 9a934138666c7665e78b125e000c6bf1
      Location:
      - "/api/v2/orders/order_fbcc0385d1a849f184167c81756d809e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202406132320-de9fa0c698-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a97f7bac00
      - intlb4nuq 9d6131b01c
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":"","is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"}],"created_at":"2024-06-14T16:57:09Z","updated_at":"2024-06-14T16:57:10Z","customs_info":null,"from_address":{"id":"adr_238c3a4a2a6f11ef9906ac1f6bc539ae","object":"Address","created_at":"2024-06-14T16:57:09+00:00","updated_at":"2024-06-14T16:57:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_238a6fbe2a6f11ef99acac1f6bc539aa","object":"Address","created_at":"2024-06-14T16:57:09+00:00","updated_at":"2024-06-14T16:57:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_238a6fbe2a6f11ef99acac1f6bc539aa","object":"Address","created_at":"2024-06-14T16:57:09+00:00","updated_at":"2024-06-14T16:57:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_238c3a4a2a6f11ef9906ac1f6bc539ae","object":"Address","created_at":"2024-06-14T16:57:09+00:00","updated_at":"2024-06-14T16:57:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2024-06-14T16:57:09Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2024-06-14T16:57:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_238c3a4a2a6f11ef9906ac1f6bc539ae","object":"Address","created_at":"2024-06-14T16:57:09+00:00","updated_at":"2024-06-14T16:57:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_fbcc0385d1a849f184167c81756d809e","parcel":{"id":"prcl_2686d81ba5ad41fd97532c5a3ee3aa78","object":"Parcel","created_at":"2024-06-14T16:57:09Z","updated_at":"2024-06-14T16:57:09Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a7541f7c3afd4efd8b54cf1598e2a3c2","object":"Rate","created_at":"2024-06-14T16:57:10Z","updated_at":"2024-06-14T16:57:10Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_c741bc1ad5b64cfcb1153a4de696cbe9","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_74ebd312379a4fa0914fd50cfbb18722","object":"Rate","created_at":"2024-06-14T16:57:10Z","updated_at":"2024-06-14T16:57:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/orders/order_fbcc0385d1a849f184167c81756d809e/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"First"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 9a934139666c7667e78b125f000c6dc6
      Content-Type:
      - application/json; charset=utf-8
      X-Nod[...]
