---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 48b798b9624f5daae787c8e50006e5de
      Location:
      - "/api/v2/orders/order_1209c7dbb9b94eeeb569937f196c5a19"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"708476f050a6c2b52e91fffa336ced2d"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-07T21:54:50Z","updated_at":"2022-04-07T21:54:50Z","customs_info":null,"from_address":{"id":"adr_5955f4c7b6bd11ec8088ac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T21:54:50+00:00","updated_at":"2022-04-07T21:54:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_5954932db6bd11ec9360ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:50+00:00","updated_at":"2022-04-07T21:54:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_5954932db6bd11ec9360ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:50+00:00","updated_at":"2022-04-07T21:54:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_5955f4c7b6bd11ec8088ac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T21:54:50+00:00","updated_at":"2022-04-07T21:54:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-07T21:54:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-07T21:54:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5955f4c7b6bd11ec8088ac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T21:54:50+00:00","updated_at":"2022-04-07T21:54:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_1209c7dbb9b94eeeb569937f196c5a19","parcel":{"id":"prcl_a10e9979bf63470797edfd5129acd3e4","object":"Parcel","created_at":"2022-04-07T21:54:50Z","updated_at":"2022-04-07T21:54:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_781992400615465e9fab87dd8194ff77","object":"Rate","created_at":"2022-04-07T21:54:50Z","updated_at":"2022-04-07T21:54:50Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c5c245e9ad8c4d87b6da85131614a6f7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1070da4b0e0948248917573dffead194","object":"Rate","created_at":"2022-04-07T21:54:50Z","updated_at":"2022-04-07T21:54:50Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c5c245e9ad8c4d87b6da85131614a6f7","ca[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_1209c7dbb9b94eeeb569937f196c5a19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 48b798bc624f5daae787c8e60006e606
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"708476f050a6c2b52e91f[...]
