---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 9a93413a666c765fe78b0f4b000c6565
      Location:
      - "/api/v2/orders/order_836f71700d3943909308126f1548596e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202406132320-de9fa0c698-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a97f7bac00
      - intlb3nuq 9d6131b01c
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":"","is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"}],"created_at":"2024-06-14T16:57:03Z","updated_at":"2024-06-14T16:57:04Z","customs_info":null,"from_address":{"id":"adr_1fde489b2a6f11efa8f1ac1f6bc53342","object":"Address","created_at":"2024-06-14T16:57:03+00:00","updated_at":"2024-06-14T16:57:03+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_1fd3dad32a6f11ef9748ac1f6bc539ae","object":"Address","created_at":"2024-06-14T16:57:03+00:00","updated_at":"2024-06-14T16:57:03+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_1fd3dad32a6f11ef9748ac1f6bc539ae","object":"Address","created_at":"2024-06-14T16:57:03+00:00","updated_at":"2024-06-14T16:57:03+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_1fde489b2a6f11efa8f1ac1f6bc53342","object":"Address","created_at":"2024-06-14T16:57:03+00:00","updated_at":"2024-06-14T16:57:03+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2024-06-14T16:57:03Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2024-06-14T16:57:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1fde489b2a6f11efa8f1ac1f6bc53342","object":"Address","created_at":"2024-06-14T16:57:03+00:00","updated_at":"2024-06-14T16:57:03+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_836f71700d3943909308126f1548596e","parcel":{"id":"prcl_fc93584249974571ad156c928705af29","object":"Parcel","created_at":"2024-06-14T16:57:03Z","updated_at":"2024-06-14T16:57:03Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c6e8eed4cdc34f958f02c956e27450d7","object":"Rate","created_at":"2024-06-14T16:57:04Z","updated_at":"2024-06-14T16:57:04Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_af4e76b1dc98455e8377ffed4f5fac6f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_19f616cd77d94cc9ac3c03a67ea67d99","object":"Rate","created_at":"2024-06-14T16:57:04Z","updated_at":"2024-06-14T16:57:04Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,[...]
