---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 48b798b7624f5dace787c9000006e68b
      Location:
      - "/api/v2/orders/order_717d6d9fab1d446db0c3f67b89055c50"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3e14b1ffdf3506d062405eb34b1d160"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-07T21:54:52Z","updated_at":"2022-04-07T21:54:52Z","customs_info":null,"from_address":{"id":"adr_5a4992d6b6bd11ec8e02ac1f6bc7bdc6","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_5a480ab5b6bd11ec93b0ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_5a480ab5b6bd11ec93b0ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_5a4992d6b6bd11ec8e02ac1f6bc7bdc6","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-07T21:54:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-07T21:54:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5a4992d6b6bd11ec8e02ac1f6bc7bdc6","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_717d6d9fab1d446db0c3f67b89055c50","parcel":{"id":"prcl_d98bdcc5f5bc4f18998318c6596197f7","object":"Parcel","created_at":"2022-04-07T21:54:52Z","updated_at":"2022-04-07T21:54:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_5f96d72ad81a48f28139dd6cdb19919d","object":"Rate","created_at":"2022-04-07T21:54:52Z","updated_at":"2022-04-07T21:54:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_3dbaddb34be84cccbc6a527f9bc7c815","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c3bd8e1e82454119876c90b06857233e","object":"Rate","created_at":"2022-04-07T21:54:52Z","updated_at":"2022-04-07T21:54:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_3dbaddb34be84cccbc6a527f9bc7c815","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/orders/order_717d6d9fab1d446db0c3f67b89055c50/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"First"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 48b798b9624f5dace787c9010006e6b5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9eff514f579d041a89fe2185b74ecfab"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-07T21:54:52Z","updated_at":"2022-04-07T21:54:52Z","customs_info":null,"from_address":{"id":"adr_5a4992d6b6bd11ec8e02ac1f6bc7bdc6","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_5a480ab5b6bd11ec93b0ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"buyer_address":{"id":"adr_5a480ab5b6bd11ec93b0ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:52+00:00","updated_at":"2022-04-07T21:54:52+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,[...]
