---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 48b798bc624f5dabe787c8fe0006e62c
      Location:
      - "/api/v2/orders/order_6adbd04c6e1f444cb4bddad2d566dff0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f832363d5faec6d3faf80ec4e88fe49a"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-07T21:54:51Z","updated_at":"2022-04-07T21:54:51Z","customs_info":null,"from_address":{"id":"adr_59c56e12b6bd11ec9387ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:51+00:00","updated_at":"2022-04-07T21:54:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_59c41166b6bd11ecb304ac1f6bc7b362","object":"Address","created_at":"2022-04-07T21:54:51+00:00","updated_at":"2022-04-07T21:54:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_59c41166b6bd11ecb304ac1f6bc7b362","object":"Address","created_at":"2022-04-07T21:54:51+00:00","updated_at":"2022-04-07T21:54:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_59c56e12b6bd11ec9387ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:51+00:00","updated_at":"2022-04-07T21:54:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-07T21:54:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-07T21:54:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_59c56e12b6bd11ec9387ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:51+00:00","updated_at":"2022-04-07T21:54:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_6adbd04c6e1f444cb4bddad2d566dff0","parcel":{"id":"prcl_2654f90ade244b1fbda32450294a9403","object":"Parcel","created_at":"2022-04-07T21:54:51Z","updated_at":"2022-04-07T21:54:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_69c6915d4d2e4525a790dcdb696f0c80","object":"Rate","created_at":"2022-04-07T21:54:51Z","updated_at":"2022-04-07T21:54:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8b53017905c347e68f27880c28f1e458","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_deb1b57730af4b0482bbe78baa361f21","object":"Rate","created_at":"2022-04-07T21:54:51Z","updated_at":"2022-04-07T21:54:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8b53017905c347e68f27880c28f1e458","carrie[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_6adbd04c6e1f444cb4bddad2d566dff0/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 48b798b8624f5dabe787c8ff0006e660
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c676adad87fd1c9[...]
