---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b406635621697e5e7886ac8003c0078
      Location:
      - "/api/v2/orders/order_42917ced853c4e9f8c835d845501e650"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14c30d6bf89ca9bb8899b98a75c90df8"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202231934-b54ec7f156-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-02-23T20:24:05Z","updated_at":"2022-02-23T20:24:05Z","customs_info":null,"from_address":{"id":"adr_8c0bdbef94e611ec8672ac1f6bc72124","object":"Address","created_at":"2022-02-23T20:24:05+00:00","updated_at":"2022-02-23T20:24:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_8c0a4e9194e611ec8671ac1f6bc72124","object":"Address","created_at":"2022-02-23T20:24:05+00:00","updated_at":"2022-02-23T20:24:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_8c0a4e9194e611ec8671ac1f6bc72124","object":"Address","created_at":"2022-02-23T20:24:05+00:00","updated_at":"2022-02-23T20:24:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_8c0bdbef94e611ec8672ac1f6bc72124","object":"Address","created_at":"2022-02-23T20:24:05+00:00","updated_at":"2022-02-23T20:24:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-02-23T20:24:05Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-23T20:24:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8c0bdbef94e611ec8672ac1f6bc72124","object":"Address","created_at":"2022-02-23T20:24:05+00:00","updated_at":"2022-02-23T20:24:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_42917ced853c4e9f8c835d845501e650","parcel":{"id":"prcl_69295c0341424f91a29e01e87a305ad4","object":"Parcel","created_at":"2022-02-23T20:24:05Z","updated_at":"2022-02-23T20:24:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a486fd591d8f483a984a2697857d32d6","object":"Rate","created_at":"2022-02-23T20:24:05Z","updated_at":"2022-02-23T20:24:05Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_56a41d02f9b4413e8bdda3dd84ab51fc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3f18feaa856a49f9b6c54a6292cd7820","object":"Rate","created_at":"2022-02-23T20:24:05Z","updated_at":"2022-02-23T20:24:05Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_56a41d02f9b4413e8bdda3dd84ab51fc","carrie[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_42917ced853c4e9f8c835d845501e650/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b406637621697e5e7886ac9003c00a2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e752ff66fd803615[...]
