---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b473627d40b4e78738a70031137e
      Location:
      - "/api/v2/orders/order_c23823d6b94c449198fd31578867bc29"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c11c7ba97ae5914f481953d2ab42d8dc"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","customs_info":null,"from_address":{"id":"adr_20f7f40cd21711ec90b8ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:32+00:00","updated_at":"2022-05-12T17:15:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_20f6c233d21711eca6efac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:32+00:00","updated_at":"2022-05-12T17:15:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_20f6c233d21711eca6efac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:32+00:00","updated_at":"2022-05-12T17:15:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_20f7f40cd21711ec90b8ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:32+00:00","updated_at":"2022-05-12T17:15:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-05-12T17:15:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:15:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_20f7f40cd21711ec90b8ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:32+00:00","updated_at":"2022-05-12T17:15:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_c23823d6b94c449198fd31578867bc29","parcel":{"id":"prcl_2d9e9d3881454903b76f661597aa6f81","object":"Parcel","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_03780860288347b292462cbcd084dbbe","object":"Rate","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_3ec51a59f5ad4c7c8ab416c1448e3987","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_40e1822b417649279f2c456bc0cde3de","object":"Rate","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3ec51a59f5ad4c7[...]
