---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40b2e78738a500311305
      Location:
      - "/api/v2/orders/order_62b900f423ad46ddb1a5ce1ba6c8b96a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0aa51d56a4a0a95de3e0dd62eeb712d2"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-12T17:15:30Z","updated_at":"2022-05-12T17:15:30Z","customs_info":null,"from_address":{"id":"adr_201e790ed21711ec906aac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:30+00:00","updated_at":"2022-05-12T17:15:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_201d3ed0d21711ec9068ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:30+00:00","updated_at":"2022-05-12T17:15:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_201d3ed0d21711ec9068ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:30+00:00","updated_at":"2022-05-12T17:15:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_201e790ed21711ec906aac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:30+00:00","updated_at":"2022-05-12T17:15:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-05-12T17:15:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:15:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_201e790ed21711ec906aac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:30+00:00","updated_at":"2022-05-12T17:15:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_62b900f423ad46ddb1a5ce1ba6c8b96a","parcel":{"id":"prcl_48cfff9b193a4e3da3a4f1c3e3157876","object":"Parcel","created_at":"2022-05-12T17:15:30Z","updated_at":"2022-05-12T17:15:30Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_79bceea1e80c476299c64c8a762f6736","object":"Rate","created_at":"2022-05-12T17:15:30Z","updated_at":"2022-05-12T17:15:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2a252b67f8874f8b9c3cae76c1a86087","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a08730dbb9434db4affa6de086a68ee5","object":"Rate","created_at":"2022-05-12T17:15:30Z","updated_at":"2022-05-12T17:15:30Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2a252b67f8874f8b9c3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/orders/order_62b900f423ad46ddb1a5ce1ba6c8b96a/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"First"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40b3e78738a600311328
      Content-Type:
      - application/json; charset=utf-8
      Etag:[...]
