---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"shipments":[{"parcel":{"length":8,"width":6,"height":4,"weight":12}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b342870f5ebaf113fb43b02a000f3502
      Location:
      - "/api/v2/orders/order_2a544ecd6b16402f9e515805c2d24429"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","customs_info":null,"from_address":{"id":"adr_e0fff54d99eb4b14aeb496fb541fd89d","object":"Address","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_cb638e69b8d746359069ea786f8395e7","object":"Address","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_cb638e69b8d746359069ea786f8395e7","object":"Address","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_e0fff54d99eb4b14aeb496fb541fd89d","object":"Address","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-05-12T18:55:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e0fff54d99eb4b14aeb496fb541fd89d","object":"Address","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_2a544ecd6b16402f9e515805c2d24429","parcel":{"id":"prcl_7e28fffac0584d1c9c8897b5a1b6fec4","object":"Parcel","created_at":"2020-05-12T18:55:15Z","updated_at":"2020-05-12T18:55:15Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d80afa04c8ae415db88867f92020de34","object":"Rate","created_at":"2020-05-12T18:55:17Z","updated_at":"2020-05-12T18:55:17Z","mode":"test","service":"Express","carrier":"USPS","rate":"35.65","currency":"USD","retail_rate":"41.75","retail_currency":"USD","list_rate":"35.65","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_bd02a290cc27469fbe7f2322525ca475","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_713d566b69e844d89de8805477b60018","object":"Rate","created_at":"2020-05-12T18:55:17Z","updated_at":"2020-05-12T18:55:17Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.15","currency":"USD","retail_rate":"8.85","retail_currency":"USD","list_rate":"8.15","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_bd02a290cc27469fbe7f2322525ca475","carrier_ac[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_2a544ecd6b16402f9e515805c2d24429/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d75ebaf115f5335f84000ac63a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X[...]
