---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: order[to_address][company]=EasyPost&order[to_address][street1]=164%20Townsend%20Street&order[to_address][street2]=Unit%201&order[to_address][city]=San%20Francisco&order[to_address][state]=CA&order[to_address][zip]=94107&order[to_address][phone]=415-123-4567&order[from_address][company]=Airport%20Shipping&order[from_address][street1]=601%20Brasilia%20Avenue&order[from_address][city]=Kansas%20City&order[from_address][state]=MO&order[from_address][zip]=64153&order[from_address][phone]=314-924-0383&order[from_address][email]=kansas_shipping%40example.com&order[carrier_accounts][0][id]=ca_12345678&order[shipments][0][parcel][length]=8&order[shipments][0][parcel][width]=6&order[shipments][0][parcel][height]=4&order[shipments][0][parcel][weight]=12&order[shipments][1][parcel][length]=8&order[shipments][1][parcel][width]=6&order[shipments][1][parcel][height]=4&order[shipments][1][parcel][weight]=12
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d16fc9be8ee000ddb24
      Location:
      - "/api/v2/orders/order_cc605eb83b024e69a232cc0418fda2fd"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_e63ca9a0935f4adebd2b4f287f442f02","type":"rate_message","message":"UPS
        multi-shipment rate includes this shipment."}],"created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:23Z","customs_info":null,"from_address":{"id":"adr_fcfb54e70729480691e92d08489caac1","object":"Address","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_91ac5adc988c44f6a2a4554bce5b9147","object":"Address","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_91ac5adc988c44f6a2a4554bce5b9147","object":"Address","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_fcfb54e70729480691e92d08489caac1","object":"Address","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-04-24T16:00:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_fcfb54e70729480691e92d08489caac1","object":"Address","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_cc605eb83b024e69a232cc0418fda2fd","parcel":{"id":"prcl_01ffa36770044a5a99c4cca8f9049489","object":"Parcel","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a3272fabc0884f16b0b8773051af67e5","object":"Rate","created_at":"2020-04-24T16:00:23Z","updated_at":"2020-04-24T16:00:23Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"7.90","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_81f14e1f13b14946a2c7dd32deda5e5a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2ca9608660aa450e969a0b6350d42cb5","object":"Rate","created_at":"2020-04-24T16:00:23Z","updated_at":"2020-04-24T16:00:23Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.15","currency":"USD","retail_rate":"8.85","retail_currency":"USD","list_rate":"8.15","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shi[...]
