---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: order[to_address][company]=EasyPost&order[to_address][street1]=164%20Townsend%20Street&order[to_address][street2]=Unit%201&order[to_address][city]=San%20Francisco&order[to_address][state]=CA&order[to_address][zip]=94107&order[to_address][phone]=415-123-4567&order[from_address][company]=Airport%20Shipping&order[from_address][street1]=601%20Brasilia%20Avenue&order[from_address][city]=Kansas%20City&order[from_address][state]=MO&order[from_address][zip]=64153&order[from_address][phone]=314-924-0383&order[from_address][email]=kansas_shipping%40example.com&order[shipments][0][parcel][length]=8&order[shipments][0][parcel][width]=6&order[shipments][0][parcel][height]=4&order[shipments][0][parcel][weight]=12
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d12fc9be8d3000dd8ff
      Location:
      - "/api/v2/orders/order_83536ea6081447f9a3bb105e4bf5ac07"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","customs_info":null,"from_address":{"id":"adr_13a1b825bd544c99a273a6b8c075b78a","object":"Address","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_e8189755cb4b4e1595c1742416a3e505","object":"Address","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_e8189755cb4b4e1595c1742416a3e505","object":"Address","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_13a1b825bd544c99a273a6b8c075b78a","object":"Address","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-04-24T16:00:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_13a1b825bd544c99a273a6b8c075b78a","object":"Address","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_83536ea6081447f9a3bb105e4bf5ac07","parcel":{"id":"prcl_4cd665ba967b41e39e6b4db4e17fec1c","object":"Parcel","created_at":"2020-04-24T16:00:18Z","updated_at":"2020-04-24T16:00:18Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_4ae9350627eb46e5be569857f6db0de5","object":"Rate","created_at":"2020-04-24T16:00:19Z","updated_at":"2020-04-24T16:00:19Z","mode":"test","service":"First","carrier":"USPS","rate":"4.32","currency":"USD","retail_rate":"5.65","retail_currency":"USD","list_rate":"4.32","list_currency":"USD","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_a6d938b286cc4748882d628e5d9cf059","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2f9c97b451004348820c3b7f1943113c","object":"Rate","created_at":"2020-04-24T16:00:19Z","updated_at":"2020-04-24T16:00:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"35.65","currency":"USD","retail_rate":"41.75","retail_currency":"USD","list_rate":"35.65","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_a6d938b286cc4748882d628e5d9cf059","ca[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_83536ea6081447f9a3bb105e4bf5ac07/rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d14fc9be8eb000dd99b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      -[...]
