---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9f28f7a626c3284e786bd200046ab5f
      Location:
      - "/api/v2/orders/order_1f56d3db06cf4f94891e7b90f87f6843"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e782fc87d753687dcac6bf49381488a6"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-29T18:46:28Z","updated_at":"2022-04-29T18:46:28Z","customs_info":null,"from_address":{"id":"adr_ae016118c7ec11ec8234ac1f6bc7bdc6","object":"Address","created_at":"2022-04-29T18:46:28+00:00","updated_at":"2022-04-29T18:46:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_ae00281ac7ec11ec916bac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:46:28+00:00","updated_at":"2022-04-29T18:46:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_ae00281ac7ec11ec916bac1f6bc7b362","object":"Address","created_at":"2022-04-29T18:46:28+00:00","updated_at":"2022-04-29T18:46:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_ae016118c7ec11ec8234ac1f6bc7bdc6","object":"Address","created_at":"2022-04-29T18:46:28+00:00","updated_at":"2022-04-29T18:46:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-29T18:46:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-29T18:46:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ae016118c7ec11ec8234ac1f6bc7bdc6","object":"Address","created_at":"2022-04-29T18:46:28+00:00","updated_at":"2022-04-29T18:46:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_1f56d3db06cf4f94891e7b90f87f6843","parcel":{"id":"prcl_7473fb034b594cddb719daec204ccb49","object":"Parcel","created_at":"2022-04-29T18:46:28Z","updated_at":"2022-04-29T18:46:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_70c93529e82046bb9adb41381a534164","object":"Rate","created_at":"2022-04-29T18:46:28Z","updated_at":"2022-04-29T18:46:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4363d3392d5540cabbc9668da63cac55","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_659d67ae0c9947419835c037302e10e0","object":"Rate","created_at":"2022-04-29T18:46:28Z","updated_at":"2022-04-29T18:46:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_4363d3392d5540cabbc9668da63cac55","carrier_ac[...]
