---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40b0e78738a10031125e
      Location:
      - "/api/v2/orders/order_3236aa847a914fdcae5397cc8fa818d7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ceb75851c08f9dbbb89e67e7b1b65adc"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-12T17:15:28Z","updated_at":"2022-05-12T17:15:28Z","customs_info":null,"from_address":{"id":"adr_1f0cd6d8d21711eca688ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:28+00:00","updated_at":"2022-05-12T17:15:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_1f0b935fd21711ec97ecac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:28+00:00","updated_at":"2022-05-12T17:15:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_1f0b935fd21711ec97ecac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:28+00:00","updated_at":"2022-05-12T17:15:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_1f0cd6d8d21711eca688ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:28+00:00","updated_at":"2022-05-12T17:15:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-05-12T17:15:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:15:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1f0cd6d8d21711eca688ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:28+00:00","updated_at":"2022-05-12T17:15:28+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_3236aa847a914fdcae5397cc8fa818d7","parcel":{"id":"prcl_04233734d2404a6cb17e5e62437c064e","object":"Parcel","created_at":"2022-05-12T17:15:28Z","updated_at":"2022-05-12T17:15:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e5ba4f62b191460d8aaef22bfa38df3b","object":"Rate","created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4df5096ea9234f7584bafbdda0ccad56","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_50ddb61777844a55bd5f4fc8f5dce6c9","object":"Rate","created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4df5096ea92[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_3236aa847a914fdcae5397cc8fa818d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40b1e78738a200311285
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ceb75851c08f9dbbb89e67e7b1[...]
