---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b473627d40b1e78738a30031129d
      Location:
      - "/api/v2/orders/order_ff0c065c87a248ab913900eb269b9013"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"617b87a99f82fd5ede76cf315260936e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","customs_info":null,"from_address":{"id":"adr_1f7ced5fd21711ec9042ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:29+00:00","updated_at":"2022-05-12T17:15:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_1f7bab9dd21711ec9812ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:29+00:00","updated_at":"2022-05-12T17:15:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_1f7bab9dd21711ec9812ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:29+00:00","updated_at":"2022-05-12T17:15:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_1f7ced5fd21711ec9042ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:29+00:00","updated_at":"2022-05-12T17:15:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-05-12T17:15:29Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:15:29Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1f7ced5fd21711ec9042ac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:15:29+00:00","updated_at":"2022-05-12T17:15:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_ff0c065c87a248ab913900eb269b9013","parcel":{"id":"prcl_a116c161ef264397a3f895d025c423cc","object":"Parcel","created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2aba35b306c04ca7b456aa6fadc90684","object":"Rate","created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_0c7ce2035b514376853335fc405e7ba2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3ed75e9f3f534c0d93d2839113b5d233","object":"Rate","created_at":"2022-05-12T17:15:29Z","updated_at":"2022-05-12T17:15:29Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0c7ce2035b51437[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_ff0c065c87a248ab913900eb269b9013/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40b1e78738a4003112c1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee2ddeece499aab60470c[...]
