---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 9a93413e666c7662e78b0f4e000c6873
      Location:
      - "/api/v2/orders/order_6ed543df37f84aaeb8ba1efb04f8faf5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202406132320-de9fa0c698-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a97f7bac00
      - intlb3nuq 9d6131b01c
    body:
      encoding: UTF-8
      string: '{"mode":"test","reference":"","is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"}],"created_at":"2024-06-14T16:57:06Z","updated_at":"2024-06-14T16:57:07Z","customs_info":null,"from_address":{"id":"adr_21d1fb0a2a6f11ef89fe3cecef1b359e","object":"Address","created_at":"2024-06-14T16:57:06+00:00","updated_at":"2024-06-14T16:57:06+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_21cff94c2a6f11ef89fb3cecef1b359e","object":"Address","created_at":"2024-06-14T16:57:06+00:00","updated_at":"2024-06-14T16:57:06+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_21cff94c2a6f11ef89fb3cecef1b359e","object":"Address","created_at":"2024-06-14T16:57:06+00:00","updated_at":"2024-06-14T16:57:06+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_21d1fb0a2a6f11ef89fe3cecef1b359e","object":"Address","created_at":"2024-06-14T16:57:06+00:00","updated_at":"2024-06-14T16:57:06+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2024-06-14T16:57:06Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Invalid
        credentials"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Invalid
        credentials"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2024-06-14T16:57:06Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_21d1fb0a2a6f11ef89fe3cecef1b359e","object":"Address","created_at":"2024-06-14T16:57:06+00:00","updated_at":"2024-06-14T16:57:06+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_6ed543df37f84aaeb8ba1efb04f8faf5","parcel":{"id":"prcl_a8ef30d541554a73a38dfc11a8c1a1d3","object":"Parcel","created_at":"2024-06-14T16:57:06Z","updated_at":"2024-06-14T16:57:06Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ea0bfd8f61ca4b18bbea545ba9e9baf3","object":"Rate","created_at":"2024-06-14T16:57:07Z","updated_at":"2024-06-14T16:57:07Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_15998ed88185499b81ef4a6a25bb71e7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_15638c0408e24fdf9a1c0446ce3fafd9","object":"Rate","created_at":"2024-06-14T16:57:07Z","updated_at":"2024-06-14T16:57:07Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/orders/order_6ed543df37f84aaeb8ba1efb04f8faf5/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 9a934138666c7664e78b125d000c6a2b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Ve[...]
