---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: order[to_address][company]=EasyPost&order[to_address][street1]=164%20Townsend%20Street&order[to_address][street2]=Unit%201&order[to_address][city]=San%20Francisco&order[to_address][state]=CA&order[to_address][zip]=94107&order[to_address][phone]=415-123-4567&order[from_address][company]=Airport%20Shipping&order[from_address][street1]=601%20Brasilia%20Avenue&order[from_address][city]=Kansas%20City&order[from_address][state]=MO&order[from_address][zip]=64153&order[from_address][phone]=314-924-0383&order[from_address][email]=kansas_shipping%40example.com&order[shipments][0][parcel][length]=8&order[shipments][0][parcel][width]=6&order[shipments][0][parcel][height]=4&order[shipments][0][parcel][weight]=12
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d15fc9be8ec000dda54
      Location:
      - "/api/v2/orders/order_1c63b97b33b14e20be9d7cc9ce2d01ab"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","customs_info":null,"from_address":{"id":"adr_a4026f58b8e742338da34f2ad3d1ab7c","object":"Address","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_95c84d303394466aab15066a0c69ab58","object":"Address","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_95c84d303394466aab15066a0c69ab58","object":"Address","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_a4026f58b8e742338da34f2ad3d1ab7c","object":"Address","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-04-24T16:00:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:21Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_a4026f58b8e742338da34f2ad3d1ab7c","object":"Address","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_1c63b97b33b14e20be9d7cc9ce2d01ab","parcel":{"id":"prcl_295c82f1c2b744cb87244530207a2b61","object":"Parcel","created_at":"2020-04-24T16:00:21Z","updated_at":"2020-04-24T16:00:21Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e168244bfb6049cea5d3fd66cbb46f1e","object":"Rate","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","mode":"test","service":"First","carrier":"USPS","rate":"4.32","currency":"USD","retail_rate":"5.65","retail_currency":"USD","list_rate":"4.32","list_currency":"USD","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_e07ad59f215440639d7bbf678ba2f80a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_77b2f5596cb549d5b7076676f4345289","object":"Rate","created_at":"2020-04-24T16:00:22Z","updated_at":"2020-04-24T16:00:22Z","mode":"test","service":"Express","carrier":"USPS","rate":"35.65","currency":"USD","retail_rate":"41.75","retail_currency":"USD","list_rate":"35.65","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e07ad59f215440639d7bbf678ba2f80a","ca[...]
