---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"shipments":[{"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a62169842e7886acd003c238c
      Location:
      - "/api/v2/orders/order_1c500225084d4a5aaffe070bdf8f5d4f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ef8b1d4ff1a31fe8d3d5e816e6ce214"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202231934-b54ec7f156-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-02-23T20:25:38Z","updated_at":"2022-02-23T20:25:38Z","customs_info":null,"from_address":{"id":"adr_c35d7b9b94e611ec9ff3ac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T20:25:38+00:00","updated_at":"2022-02-23T20:25:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_c35c4a2694e611ec96eeac1f6bc72124","object":"Address","created_at":"2022-02-23T20:25:38+00:00","updated_at":"2022-02-23T20:25:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_c35c4a2694e611ec96eeac1f6bc72124","object":"Address","created_at":"2022-02-23T20:25:38+00:00","updated_at":"2022-02-23T20:25:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_c35d7b9b94e611ec9ff3ac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T20:25:38+00:00","updated_at":"2022-02-23T20:25:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-02-23T20:25:38Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-23T20:25:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c35d7b9b94e611ec9ff3ac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T20:25:38+00:00","updated_at":"2022-02-23T20:25:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_1c500225084d4a5aaffe070bdf8f5d4f","parcel":{"id":"prcl_ee947099e0584418b652a3e1e83b4fd4","object":"Parcel","created_at":"2022-02-23T20:25:38Z","updated_at":"2022-02-23T20:25:38Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_feb7626aeebc4b34a57d5797f2cd0516","object":"Rate","created_at":"2022-02-23T20:25:38Z","updated_at":"2022-02-23T20:25:38Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4e3e04874f2b43c29d22eda8efe54eac","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bccb9b8520894f23bb872dee93c03ed8","object":"Rate","created_at":"2022-02-23T20:25:38Z","updated_at":"2022-02-23T20:25:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4e3e04874f2b43c29d22eda8efe54eac","carrie[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/orders/order_1c500225084d4a5aaffe070bdf8f5d4f/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"First"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b40663b62169842e7886aeb003c23b0
      Content-Type:
      - application/json; charset=utf-8
      [...]
