---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"order":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"shipments":[{"parcel":{"length":8,"width":6,"height":4,"weight":12}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc15ebaf117fb212c94000b7773
      Location:
      - "/api/v2/orders/order_64b00bff0ef04954a4dd1a10dfcb854b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","customs_info":null,"from_address":{"id":"adr_7e5901f4f9dc42c28b0f7439d04eb85b","object":"Address","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_2963210e64ad40eea1935ddbf97ef781","object":"Address","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2963210e64ad40eea1935ddbf97ef781","object":"Address","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_7e5901f4f9dc42c28b0f7439d04eb85b","object":"Address","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-05-12T18:55:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7e5901f4f9dc42c28b0f7439d04eb85b","object":"Address","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_64b00bff0ef04954a4dd1a10dfcb854b","parcel":{"id":"prcl_5756d83f42d24ff6a05f685d18332618","object":"Parcel","created_at":"2020-05-12T18:55:19Z","updated_at":"2020-05-12T18:55:19Z","length":8.0,"width":6.0,"height":4.0,"predefined_package":null,"weight":12.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ac4cd17bfd7f45abb93a52d0dd870875","object":"Rate","created_at":"2020-05-12T18:55:20Z","updated_at":"2020-05-12T18:55:20Z","mode":"test","service":"Express","carrier":"USPS","rate":"35.65","currency":"USD","retail_rate":"41.75","retail_currency":"USD","list_rate":"35.65","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f5e6508b5c5049469b5dd85730166e03","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f0466d740a094b699fe4167c9ec83746","object":"Rate","created_at":"2020-05-12T18:55:20Z","updated_at":"2020-05-12T18:55:20Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"7.90","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_f5e6508b5c5049469b5dd85730166e03","carrie[...]
