---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3567504066abe7d1e799e60900155848
      Location:
      - "/api/v2/shipments/shp_6e88053cd5564bfabb3eaf8d91e4a5d1"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-08-01T19:53:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368069918806","updated_at":"2024-08-01T19:53:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c786db25503f11ef9e2bac1f6bc539aa","object":"Address","created_at":"2024-08-01T19:53:53+00:00","updated_at":"2024-08-01T19:53:53+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b44120764f324898ac4a9b1bcdb15dd9","object":"Parcel","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0fdb36647cb049d1966d884c2561bd93","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:54Z","date_advance":0,"integrated_form":"none","label_date":"2024-08-01T19:53:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240801/e81edb8c6659124de88e680946e3135488.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a5ce8bca3b934d8e89841dc320d3a179","object":"Rate","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fc86fa8c341d43ddb7c4525f08997cea","object":"Rate","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7097d6b01c9a45b19323a97a89e63d19","object":"Rate","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:53Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_7097d6b01c9a45b19323a97a89e63d19","object":"Rate","created_at":"2024-08-01T19:53:53Z","updated_at":"2024-08-01T19:53:53Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_5dee3b5451604a9d968af8f649f3dc90","object":"Tracker","mode":"test","tracking_code":"9400100110368069918806","status":"unknown","status_detail":"unknown","created_at":"2024-08-01T19:53:54Z","updated_at":"2024-08-01T19:53:54Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrXzVkZWUzYjU0NTE2MDRhOWQ5NjhhZjhmNjQ5ZjNkYzkw"},"to_address":{"id":"adr_c784a3a4503f11ef85703cecef1b359e","object":"Address","created_at":"2024-08-01T19:53:53+00:00","updated_at":"2024-08-01T19:53:53+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_c786db25503f11ef9e2bac1f6bc539aa","object":"Address","created_at":"2024-08-01T19:53:53+00:00","updated_at":"2024-08-01T19:53:53+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_c784a3a4503f11ef85703cecef1b359e","object":"Address","created_at":"2024-08-01T19:53:53+00:00","updated_at":"2024-08-01T19:53:53+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1","object":"Shipment"}'
  recorded_at: Thu, 01 Aug 2024 19:53:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504266abe7d2e799e921001559ac
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_8969c5c6f01f4d688e505a7b6360a9ac","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2024-08-01T19:53:54Z","updated_at":"2024-08-01T19:53:54Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 01 Aug 2024 19:53:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8969c5c6f01f4d688e505a7b6360a9ac/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504266abe7d3e799e92200155a2d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_8969c5c6f01f4d688e505a7b6360a9ac","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-08-01T19:53:54Z","updated_at":"2024-08-01T19:53:54Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100110368069918806","id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 01 Aug 2024 19:53:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8969c5c6f01f4d688e505a7b6360a9ac/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_6e88053cd5564bfabb3eaf8d91e4a5d1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504166abe7d3e799e93b00155aad
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_8969c5c6f01f4d688e505a7b6360a9ac","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2024-08-01T19:53:54Z","updated_at":"2024-08-01T19:53:55Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 01 Aug 2024 19:53:55 GMT
recorded_with: VCR 6.1.0
