---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[company]=Airport%20Shipping&address[street1]=601%20Brasilia%20Avenue&address[city]=Kansas%20City&address[state]=MO&address[zip]=64153&address[phone]=314-924-0383&address[email]=kansas_shipping%40example.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d0efc9be8b1000dd5e3
      Location:
      - "/api/v2/addresses/adr_60552a3e2cf847959ecad024d2d05ab7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_60552a3e2cf847959ecad024d2d05ab7","object":"Address","created_at":"2020-04-24T16:00:14Z","updated_at":"2020-04-24T16:00:14Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[width]=12&parcel[length]=16.5&parcel[height]=9.5&parcel[weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d0efc9be8b2000dd634
      Location:
      - "/api/v2/parcels/prcl_bf64562d4f2b496fa8a5daa177457dcf"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_bf64562d4f2b496fa8a5daa177457dcf","object":"Parcel","created_at":"2020-04-24T16:00:14Z","updated_at":"2020-04-24T16:00:14Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Fri, 24 Apr 2020 16:00:14 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: batch[shipment][0][from_address][company]=EasyPost&batch[shipment][0][from_address][street1]=164%20Townsend%20Street&batch[shipment][0][from_address][street2]=Unit%201&batch[shipment][0][from_address][city]=San%20Francisco&batch[shipment][0][from_address][state]=CA&batch[shipment][0][from_address][zip]=94107&batch[shipment][0][from_address][phone]=415-123-4567&batch[shipment][0][...]
