---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52600e786c1820027ebc8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46128582928b47ae8f1e1b1d7cb193b3"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"batches":[{"id":"batch_cf1a841450dc4d7ba84ebf6823b78cf0","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-07-28T19:33:30Z","updated_at":"2022-07-28T19:33:30Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361130478845","id":"shp_49c6d0d02eab4fa8b61f55c21f83724d"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":{"id":"pickup_766e731bb47f49fd9a414b5103686808","object":"Pickup","created_at":"2022-07-28T19:33:30Z","updated_at":"2022-07-28T19:33:30Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-07-29T00:00:00Z","max_datetime":"2022-07-29T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_28daf9d80eac11ed8d97ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:30+00:00","updated_at":"2022-07-28T19:33:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-07-28T19:33:31Z","updated_at":"2022-07-28T19:33:31Z","carrier":"USPS","pickup_id":"pickup_766e731bb47f49fd9a414b5103686808","id":"pickuprate_d38c50b799f54d9087c713439a42cb52","object":"PickupRate"}]},"label_url":null},{"id":"batch_4a8e9974890941d285552e9f79e695ba","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-07-28T19:33:33Z","updated_at":"2022-07-28T19:33:33Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361130478852","id":"shp_186d15c83b6f47e5b9e9a10ed2ab847a"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_pu[...]
