---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/create_and_buy
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},{"to_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d78e0dc8f860006d1cb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0ee9de48a0c44ed9c8a0868dc417a9c"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_a2a11812c04d4c7287cd3ee96d3d8042","object":"Batch","mode":"test","state":"creating","num_shipments":2,"reference":null,"created_at":"2023-05-17T19:39:36Z","updated_at":"2023-05-17T19:39:36Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:36 GMT
recorded_with: VCR 6.1.0
