---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652d79e0dc8f890006d212
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19731b5cb1609cf7fd25ab2b821bde0b"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_6b43e26d430e487fb35a1bef135423b5","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:37Z","updated_at":"2023-05-17T19:39:37Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_6b43e26d430e487fb35a1bef135423b5/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652d79e0dc8fa20006d21c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66f2187ed94cada28429e11d0198a6c9"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_6b43e26d430e487fb35a1bef135423b5","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:37Z","updated_at":"2023-05-17T19:39:37Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_61b6dda7275d4561990dc0a56e9df9c4"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_6b43e26d430e487fb35a1bef135423b5/scan_form
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652d7ee0dc8fa30006d3ac
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34dab3ce17f1816ddb7b09120ca8edfb"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_6b43e26d430e487fb35a1bef135423b5","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:37Z","updated_at":"2023-05-17T19:39:42Z","scan_form":{"id":"sf_bfaa23bf7bd5462d88d85f292312949a","object":"ScanForm","created_at":"2023-05-17T19:39:42Z","updated_at":"2023-05-17T19:39:42Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_6b43e26d430e487fb35a1bef135423b5","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100104262210692715","id":"shp_61b6dda7275d4561990dc0a56e9df9c4"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:43 GMT
recorded_with: VCR 6.1.0
