---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504066abe7c9e799e5a000155164
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_414e9767afe44e8f9dfcecd00e8c71df","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2024-08-01T19:53:45Z","updated_at":"2024-08-01T19:53:45Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 01 Aug 2024 19:53:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_414e9767afe44e8f9dfcecd00e8c71df/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567503f66abe7cae799e5a1001551cd
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"batch_414e9767afe44e8f9dfcecd00e8c71df","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-08-01T19:53:45Z","updated_at":"2024-08-01T19:53:45Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_783e58fe769e404c8950b84324d1c289"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 01 Aug 2024 19:53:46 GMT
recorded_with: VCR 6.1.0
