---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/batches?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3567504066abe7c9e799e58400155100
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202408011906-6fc64ddcfc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"batches":[{"id":"batch_16f66f01c15444b680e3dee770c31437","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-07-26T18:36:54Z","updated_at":"2024-07-26T18:36:54Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_14a7c08aa5fa4e4cba25820a17eab3b4"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null},{"id":"batch_53953b54fcbb4af0bd5edba4f93bd010","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-07-26T18:36:55Z","updated_at":"2024-07-26T18:36:55Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_fee876339e7946df89d81cfd8b2f2b62"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null[...]
