---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52609e786c4bd0027ef55
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e6095b2bb26c9548d116ce84bf556e1"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_3e7edd49042449309cbb366de64cf24b","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-08-11T15:53:45Z","updated_at":"2022-08-11T15:53:45Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_3e7edd49042449309cbb366de64cf24b/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52609e786c4be0027ef72
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01dfad08df486e2a54377ee2126a21e4"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_3e7edd49042449309cbb366de64cf24b","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-08-11T15:53:45Z","updated_at":"2022-08-11T15:53:45Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_ea8f5ed1d49a4955b420dda7d7dac059"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_3e7edd49042449309cbb366de64cf24b/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5260fe786c4dd0027f1ae
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f52e60459838cf695660ff188316559c"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_3e7edd49042449309cbb366de64cf24b","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-08-11T15:53:45Z","updated_at":"2022-08-11T15:53:51Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361132685876","id":"shp_ea8f5ed1d49a4955b420dda7d7dac059"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:51 GMT
recorded_with: VCR 6.0.0
