---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a35e787d5600006f6da
      Location:
      - "/api/v2/shipments/shp_a7c23d462eb24b51bc74234daa1ef490"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:49:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757468","updated_at":"2024-01-23T18:49:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2193a58eba2011ee91f93cecef1b359e","object":"Address","created_at":"2024-01-23T18:49:26+00:00","updated_at":"2024-01-23T18:49:26+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d6c04f02efbf4eeab919f82f8116bb95","object":"Parcel","created_at":"2024-01-23T18:49:26Z","updated_at":"2024-01-23T18:49:26Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9ff885d7221c474ba01aa054c13851a2","created_at":"2024-01-23T18:49:26Z","updated_at":"2024-01-23T18:49:26Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:49:26Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e83ec136adca1f4efb9714a8772e20f22e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_248f76b3e2204232a4f6862e20834555","object":"Rate","created_at":"2024-01-23T18:49:26Z","updated_at":"2024-01-23T18:49:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_a7c23d462eb24b51bc74234daa1ef490","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_8a2a438597c248d7a2a1ba4b2cd9a3e5","object":"Rate","created_at":"2024-01-23T18:49:26Z","updated_at":"2024-01-23T18:49:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a7c23d462eb24b51bc7[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a37e787d5620006f7b9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_23bad0e55b8843148e4ed8e3bc8a3cec","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2024-01-23T18:49:27Z","updated_at":"2024-01-23T18:49:27Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_23bad0e55b8843148e4ed8e3bc8a3cec/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_a7c23d462eb24b51bc74234daa1ef490"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a37e787d5630006f7f9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_23bad0e55b8843148e4ed8e3bc8a3cec","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-01-23T18:49:27Z","updated_at":"2024-01-23T18:49:27Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100207552011757468","id":"shp_a7c23d462eb24b51bc74234daa1ef490"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_23bad0e55b8843148e4ed8e3bc8a3cec/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_a7c23d462eb24b51bc74234daa1ef490"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a37e787d5640006f840
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_23bad0e55b8843148e4ed8e3bc8a3cec","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2024-01-23T18:49:27Z","updated_at":"2024-01-23T18:49:27Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:27 GMT
recorded_with: VCR 6.2.0
