---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80e62166e88e786a7ff002765b9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dddf9bb95ffb40cb655fa52f1b3a337f"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_ba21dafd22ae43e593dc0b11c84fc1ba","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:27:36Z","updated_at":"2022-02-23T17:27:36Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_ba21dafd22ae43e593dc0b11c84fc1ba/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80862166e89e786a800002765e6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54f934c7aec5fbdb531e5ad43844dd60"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_ba21dafd22ae43e593dc0b11c84fc1ba","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:27:36Z","updated_at":"2022-02-23T17:27:36Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_e78b7d91d06f448186c29b3ea4273edb"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_ba21dafd22ae43e593dc0b11c84fc1ba/scan_form
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80d62166e8ae786a80100276679
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d1125de197e94dd418165c4a6065364"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_ba21dafd22ae43e593dc0b11c84fc1ba","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:27:36Z","updated_at":"2022-02-23T17:27:39Z","scan_form":{"id":"sf_b5bfbfc43aa84e958a442bcc3c425e63","object":"ScanForm","created_at":"2022-02-23T17:27:39Z","updated_at":"2022-02-23T17:27:39Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_ba21dafd22ae43e593dc0b11c84fc1ba","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100895232108723734","id":"shp_e78b7d91d06f448186c29b3ea4273edb"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:39 GMT
recorded_with: VCR 6.0.0
