---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80a62166ec3e786ab3e00277a55
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"310b47cb12d1f19134bb6e237fb3f092"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_4af47312e118454f86db472aef67d567","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:28:35Z","updated_at":"2022-02-23T17:28:35Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:28:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_4af47312e118454f86db472aef67d567/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80a62166ec3e786ab5600277a8e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"240e30defe0df90ec1119482f15acba4"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1wdc 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_4af47312e118454f86db472aef67d567","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:28:35Z","updated_at":"2022-02-23T17:28:35Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_d3734cdf5014490f8e4a19796cdf16d4"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:28:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_4af47312e118454f86db472aef67d567/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80e62166ec5e786ab5700277b20
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e7f5a04fdfb66f6713055fa76b86fcb"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_4af47312e118454f86db472aef67d567","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:28:35Z","updated_at":"2022-02-23T17:28:37Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100895232108723802","id":"shp_d3734cdf5014490f8e4a19796cdf16d4"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:28:37 GMT
recorded_with: VCR 6.0.0
