---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d7fe0dc8fa40006d3d0
      Location:
      - "/api/v2/shipments/shp_712c42d687074b44af04c860a48f71b7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"578472603745d6926e568657e5200aaa"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:39:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210692746","updated_at":"2023-05-17T19:39:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_92564b2cf4ea11eda1f4ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:39:43+00:00","updated_at":"2023-05-17T19:39:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7a380676eb774529a64a50a1497d18f1","object":"Parcel","created_at":"2023-05-17T19:39:43Z","updated_at":"2023-05-17T19:39:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2beb5f4701ad49b1b7157236a1c9d658","created_at":"2023-05-17T19:39:43Z","updated_at":"2023-05-17T19:39:44Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:39:43Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/22d79109fae14c35a162c15e89072c0c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0d063e88c0d8418792daf30410ccd2cf","object":"Rate","created_at":"2023-05-17T19:39:43Z","updated_at":"2023-05-17T19:39:43Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_712c42d687074b44af04c860a48f71b7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_aa5f0176eea24941a57f519b241031c5","object":"Rate","created_at":"2023-05-17T19:39:43Z","updated_at":"2023-05-17T19:39:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_712c42d6870[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652d80e0dc8fa50006d43e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"615a1072f89ad9a63338911e37390cab"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_8710d68ee3824d1aaa709a07f0b644e7","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2023-05-17T19:39:44Z","updated_at":"2023-05-17T19:39:44Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8710d68ee3824d1aaa709a07f0b644e7/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_712c42d687074b44af04c860a48f71b7"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652d80e0dc8fa60006d455
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c3c9d2239e649f141e7ed5df0a0d6d5"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_8710d68ee3824d1aaa709a07f0b644e7","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:44Z","updated_at":"2023-05-17T19:39:44Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100104262210692746","id":"shp_712c42d687074b44af04c860a48f71b7"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8710d68ee3824d1aaa709a07f0b644e7/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_712c42d687074b44af04c860a48f71b7"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652d81e0dc8fa70006d473
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a55356c2ffc4ca683aad9b1f779f49d"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_8710d68ee3824d1aaa709a07f0b644e7","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2023-05-17T19:39:44Z","updated_at":"2023-05-17T19:39:44Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:45 GMT
recorded_with: VCR 6.1.0
