---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abd627d43eee78749630030744d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"887dea29d6d7e0884c0e560ec381a02b"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"batches":[{"id":"batch_e21ac03435d44140a72099dde49ab405","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-04-14T20:40:59Z","updated_at":"2022-04-14T20:40:59Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_aca009c8e9824eb4a1e66f79766e8b57"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null},{"id":"batch_eee300f5d6aa4f83ad183f12a053272f","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-04-14T20:40:59Z","updated_at":"2022-04-14T20:41:00Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_581ebe4cf34d4f1f955a995e41385c6a"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null[...]
