---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab555ebaf10bfb41f504000d3dad
      Location:
      - "/api/v2/addresses/adr_fce44a0dbf414cf1b42594dfdc6e9a02"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_fce44a0dbf414cf1b42594dfdc6e9a02","object":"Address","created_at":"2020-05-12T18:55:07Z","updated_at":"2020-05-12T18:55:07Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:08 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287105ebaf10cfb66b328000f3294
      Location:
      - "/api/v2/parcels/prcl_e21a06a350b54d25b1b3760ecc2f0cbc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_e21a06a350b54d25b1b3760ecc2f0cbc","object":"Parcel","created_at":"2020-05-12T18:55:08Z","updated_at":"2020-05-12T18:55:08Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 12 May 2020 18:55:08 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipment":[{"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"to_address":{"id":"adr_fce44a0dbf414cf1b42594dfdc6e9a02"},"parcel":{"id":"prcl_e21a06a350b54d25b1b3760ecc2f0cbc"}},{"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"to_address":{"id":"adr_8413817904c0439db08531a4248d0b3d"},"parcel":{"id":"prcl_cccf3b7b10df49229951b4c279c887bd"}}],"reference":"batch123456789"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab545ebaf10dfb4206ea000d3dfa
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_cd2b6f4397024d2daa7987d5f5a58f21","object":"Batch","mode":"test","state":"creating","num_shipments":2,"reference":"batch123456789","created_at":"2020-05-12T18:55:09Z","updated_at":"2020-05-12T18:55:09Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 12 May 2020 18:55:09 GMT
recorded_with: VCR 5.1.0
