---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f507062f2ba25e7897acc0008977b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b366a1936b521bafe7ff9e50f0badafb"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_164c1a1d7cd641968626546a7932874f","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-08-09T19:48:53Z","updated_at":"2022-08-09T19:48:53Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 09 Aug 2022 19:48:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_164c1a1d7cd641968626546a7932874f/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f507362f2ba25e7897ae400089792
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c83caca8c16b03f3d58c119afa4a6dd"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_164c1a1d7cd641968626546a7932874f","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-08-09T19:48:53Z","updated_at":"2022-08-09T19:48:53Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_4502def206a142c88e59ade30e372e5e"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 09 Aug 2022 19:48:53 GMT
recorded_with: VCR 6.0.0
