---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652d81e0dc8fa80006d482
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c514f1064aeb8ef6d600946bfe22ebd7"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_dfbd593be19b4edf84cbd94ba08b06c3","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:45Z","updated_at":"2023-05-17T19:39:45Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_dfbd593be19b4edf84cbd94ba08b06c3/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652d81e0dc8fa90006d49a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c67edf94fa47c42ce4e19d42690a2ca"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_dfbd593be19b4edf84cbd94ba08b06c3","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:45Z","updated_at":"2023-05-17T19:39:45Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_ab2edc8666c04b59937c5e87b413bda1"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_dfbd593be19b4edf84cbd94ba08b06c3/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652d87e0dc8fc30006d631
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc0adaad21f43458f5c9951eab604e6e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_dfbd593be19b4edf84cbd94ba08b06c3","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2023-05-17T19:39:45Z","updated_at":"2023-05-17T19:39:51Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100104262210692753","id":"shp_ab2edc8666c04b59937c5e87b413bda1"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 17 May 2023 19:39:51 GMT
recorded_with: VCR 6.1.0
