---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a2fe787d5450006f24a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_0fd1459966ec4045aeda88d863fbbd4d","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2024-01-23T18:49:19Z","updated_at":"2024-01-23T18:49:19Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:19 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_0fd1459966ec4045aeda88d863fbbd4d/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde365b00a30e787d5460006f278
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_0fd1459966ec4045aeda88d863fbbd4d","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2024-01-23T18:49:19Z","updated_at":"2024-01-23T18:49:19Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_545c9ed9ee5b42c9b4e11e09353e3b04"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_0fd1459966ec4045aeda88d863fbbd4d/scan_form
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cddea65b00a35e787d55e0006f673
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"batch_0fd1459966ec4045aeda88d863fbbd4d","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2024-01-23T18:49:19Z","updated_at":"2024-01-23T18:49:25Z","scan_form":{"id":"sf_11ad530d8fb3446c872ea3e9d9006655","object":"ScanForm","created_at":"2024-01-23T18:49:25Z","updated_at":"2024-01-23T18:49:25Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_0fd1459966ec4045aeda88d863fbbd4d","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100207552011757444","id":"shp_545c9ed9ee5b42c9b4e11e09353e3b04"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 23 Jan 2024 18:49:25 GMT
recorded_with: VCR 6.2.0
