---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 761411d46567d536ee6eacc1000102bc
      Location:
      - "/api/v2/shipments/shp_c38b47880a694892b65b90b2b4da56eb"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:20:07Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286712565","updated_at":"2023-11-30T00:20:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_370813308f1611eeacbfac1f6bc53342","object":"Address","created_at":"2023-11-30T00:20:07+00:00","updated_at":"2023-11-30T00:20:07+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_fdae52f41b7d4d03abb5f7924e760854","object":"Parcel","created_at":"2023-11-30T00:20:07Z","updated_at":"2023-11-30T00:20:07Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d679d8df48c94143a35180466ef73190","created_at":"2023-11-30T00:20:07Z","updated_at":"2023-11-30T00:20:07Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:20:07Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e89a92f6af9e304a6984fa9f0e8ed3e0ee.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_848d2b7578fb43448fc3d5f7c2edd4ab","object":"Rate","created_at":"2023-11-30T00:20:07Z","updated_at":"2023-11-30T00:20:07Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c38b47880a694892b65b90b2b4da56eb","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d0745f07da9d4cfa9a211183094a2ccd","object":"Rate","created_at":"2023-11-30T00:20:07Z","updated_at":"2023-11-30T00:20:07Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c38b47880a694892b6[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 675648816567d538ee6d0b740000f098
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"batch_9c9268e9ea3848ba8ba2d7248165b5b3","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2023-11-30T00:20:08Z","updated_at":"2023-11-30T00:20:08Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 30 Nov 2023 00:20:08 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_9c9268e9ea3848ba8ba2d7248165b5b3/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_c38b47880a694892b65b90b2b4da56eb"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 761411da6567d538ee6eaff4000103d7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"batch_9c9268e9ea3848ba8ba2d7248165b5b3","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-11-30T00:20:08Z","updated_at":"2023-11-30T00:20:08Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100105442286712565","id":"shp_c38b47880a694892b65b90b2b4da56eb"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 30 Nov 2023 00:20:08 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_9c9268e9ea3848ba8ba2d7248165b5b3/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_c38b47880a694892b65b90b2b4da56eb"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 675648816567d538ee6d0b9b0000f0ed
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"batch_9c9268e9ea3848ba8ba2d7248165b5b3","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2023-11-30T00:20:08Z","updated_at":"2023-11-30T00:20:08Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 30 Nov 2023 00:20:08 GMT
recorded_with: VCR 6.2.0
