---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80a62166e85e786a7e200276482
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9794cdd6fa621a657e043f60277faed"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_67519e287da24d3eb8c7cca626d87d7e","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-02-23T17:27:33Z","updated_at":"2022-02-23T17:27:33Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/batches/batch_67519e287da24d3eb8c7cca626d87d7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80b62166e85e786a7e3002764aa
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9794cdd6fa621a657e043f60277faed"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_67519e287da24d3eb8c7cca626d87d7e","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-02-23T17:27:33Z","updated_at":"2022-02-23T17:27:33Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:34 GMT
recorded_with: VCR 6.0.0
