---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 8394c7546228fd84e788d43e004e584c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35b376b4955021f6bf32be915326db31"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202203091744-64c00fbbc8-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_5b7c617e2a204d75925241047629c7a2","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-03-09T19:18:28Z","updated_at":"2022-03-09T19:18:28Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 09 Mar 2022 19:18:29 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/batches/batch_5b7c617e2a204d75925241047629c7a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 8394c7586228fd85e788d43f004e5867
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fa2ad12b75f785409851c7ebede63a1"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202203091744-64c00fbbc8-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_5b7c617e2a204d75925241047629c7a2","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-03-09T19:18:28Z","updated_at":"2022-03-09T19:18:29Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_c4cae02bc73d417799d878cb9210d73b"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 09 Mar 2022 19:18:29 GMT
recorded_with: VCR 6.0.0
