---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abb627d4429e78749a4003089b2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c68bca1ed68e66281c85403996996cd3"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_8b66c102171146c3b9427ad5144ed29f","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-12T17:30:17Z","updated_at":"2022-05-12T17:30:17Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:30:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8b66c102171146c3b9427ad5144ed29f/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abd627d442ae78749a5003089c1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ebf2b4a0343322be498675aa2b958f59"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_8b66c102171146c3b9427ad5144ed29f","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-12T17:30:17Z","updated_at":"2022-05-12T17:30:17Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_a00dd3e2b2ca45deaf18350ad661e76f"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:30:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_8b66c102171146c3b9427ad5144ed29f/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abe627d442fe78749a700308bd7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c425ed5811f918fe0c10944679a31835"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_8b66c102171146c3b9427ad5144ed29f","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-05-12T17:30:17Z","updated_at":"2022-05-12T17:30:23Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361118887652","id":"shp_a00dd3e2b2ca45deaf18350ad661e76f"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:30:23 GMT
recorded_with: VCR 6.0.0
