---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"refund_amount":2000}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 9c1a00d263bc9040ecc3308000056976
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202301092005-3309c91c2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.AMOUNT_INVALID","message":"Refund amount
        is invalid. Please use a valid amount or escalate to finance.","errors":[]}}'
  recorded_at: Mon, 09 Jan 2023 22:08:01 GMT
recorded_with: VCR 6.0.0
