---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 44e495af64626cfce0dd1fe100206610
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a7f631e43fe184ad87b439254b2dd9b"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305151637-e5ce91ee24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_0ce10aacf1854846abeda9c37c498dd9","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-15T17:33:48Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-15T17:33:48Z","active":true,"id":"ak_350241d9c3174309b7eb436e61faf864"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-15T17:33:48Z","active":true,"id":"ak_fb99b4d9ff834586b9a63926eb9b3bd1"}]}'
  recorded_at: Mon, 15 May 2023 17:33:49 GMT
recorded_with: VCR 6.1.0
