---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52611e786c4e40027f272
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb6f570941a4fe609791a5f523646da4"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_93e7ddf4930245a08f2d741e3f8a4732","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2022-08-11T15:53:53Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:53:54 GMT
recorded_with: VCR 6.0.0
