---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/payment_method
    body:
      encoding: UTF-8
      string: '{"payment_method":{"stripe_customer_id":"cus_123","payment_method_reference":"ba_123","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 36ec0a92646292d4e0de27e5002fbf14
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305151948-2ffaad026d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE","message":"Invalid
        Payment Gateway Reference.","errors":[]}}'
  recorded_at: Mon, 15 May 2023 20:15:16 GMT
recorded_with: VCR 6.1.0
