---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"refund_amount":2000}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 36ec0a8c646292d5e0de27e6002fbf2e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305151948-2ffaad026d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.AMOUNT_INVALID","message":"Refund amount
        is invalid. Please use a valid amount or escalate to finance.","errors":[]}}'
  recorded_at: Mon, 15 May 2023 20:15:17 GMT
recorded_with: VCR 6.1.0
