---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"payment_log_id":"paylog_123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 6baa8e7e63bc9041ecb129840015e93f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202301092005-3309c91c2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","message":"We could not
        find a transaction with that id.","errors":[]}}'
  recorded_at: Mon, 09 Jan 2023 22:08:01 GMT
recorded_with: VCR 6.0.0
