---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Ep-Request-Uuid:
      - 134f507262f2ba33e7897b0700089ce7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"error":{"code":"UNAUTHORIZED","message":"Your account is not enabled
        to access the Partner White Label API. Contact EasyPost to request access.","errors":[]}}'
  recorded_at: Tue, 09 Aug 2022 19:49:08 GMT
recorded_with: VCR 6.0.0
