---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abd627d4672e7874d6700316d8d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"829982f80ac303072baa972bbc750afa"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_f86eb313643147a18cd2ff332173ce4e","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-12T17:40:02Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 12 May 2022 17:40:03 GMT
recorded_with: VCR 6.0.0
