---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - acda27c76334b547f4c1d85f000bd09f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Wed, 28 Sep 2022 20:57:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d91260b1-4914-4f57-88d3-d21fa9e48082
      Original-Request:
      - req_jzNu5n01rIsBQo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"id":"tok_0Ln7K8DqT4huGUvd0HiobmZD","object":"token","card":{"id":"card_0Ln7K8DqT4huGUvd9H1nNUKk","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","last4":"6170","name":null,"tokenization_method":null},"client_ip":"<REDACTED>","created":1664398664,"livemode":true,"type":"card","used":false}'
  recorded_at: Wed, 28 Sep 2022 20:57:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"stripe_object_id":"tok_0Ln7K8DqT4huGUvd0HiobmZD","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - acda27c96334b548ee3841f1000bd0df
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36ef3fc80703fc9899aed83cfb569061"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"card_cb03dcbe84884c57a4acd9a55de89bb0","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}'
  recorded_at: Wed, 28 Sep 2022 20:57:48 GMT
recorded_with: VCR 6.0.0
