---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/payment_method
    body:
      encoding: UTF-8
      string: '{"payment_method":{"stripe_customer_id":"cus_123","payment_method_reference":"ba_123","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 6baa8e7e63bc8f0fecb2a8020015799f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202301092005-3309c91c2c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE","message":"Invalid
        Payment Gateway Reference.","errors":[]}}'
  recorded_at: Mon, 09 Jan 2023 22:02:55 GMT
recorded_with: VCR 6.0.0
