---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"payment_log_id":"paylog_123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 3ecd1794646292d5e0de27e70000c1d0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305151948-2ffaad026d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","message":"We could not
        find a transaction with that id.","errors":[]}}'
  recorded_at: Mon, 15 May 2023 20:15:17 GMT
recorded_with: VCR 6.1.0
