---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506d62f2ba34e7897b0a00089d2d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Tue, 09 Aug 2022 19:49:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D&card%5Bexp_month%5D&card%5Bexp_year%5D&card%5Bcvc%5D
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6499991f-36ce-4225-9dbb-6546f5ff505d
      Original-Request:
      - req_gABxU9gmoGF0Rp
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"parameter_missing","doc_url":"https://stripe.com/docs/error-codes/parameter-missing","message":"You
        must supply either a card, customer, PII data, bank account, or account legal
        entity to create a token. If you''re making this request with a library, be
        sure to pass all of the required parameters for creating a token. If you''re
        making this request manually, be sure your POST parameters begin with the
        token type. For example, a PII token would require `pii[personal_id_number]`,
        while an account token would require a parameter beginning with `account[legal_entity]`.
        See the API reference for more information: https://stripe.com/docs/api#token_object","type":"invalid_request_error"}}'
  recorded_at: Tue, 09 Aug 2022 19:49:09 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 134f507262f2ba35e7897b0c00089d5c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PARAMETER.REQUIRED","message":"Missing required parameter.","errors":[{"field":"credit_card.stripe_object_id","message":"is
        required but missing"}]}}'
  recorded_at: Tue, 09 Aug 2022 19:49:09 GMT
recorded_with: VCR 6.0.0
