---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 3ecd1791646294e2e0de2c2600018a1e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305151948-2ffaad026d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"Payments.Partners.PARTNER_INTEGRATION_NOT_SET","message":"Partner
        integration is not set. Please contact support@easypost.com for assistance.","errors":[]}}'
  recorded_at: Mon, 15 May 2023 20:24:02 GMT
recorded_with: VCR 6.1.0
