---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - aee8d30763bc903bec9f990a00156c50
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202301092005-3309c91c2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Mon, 09 Jan 2023 22:07:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D=<REDACTED>&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=<REDACTED>
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 653d7b67-fd25-41b2-a1ca-e527b095b975
      Original-Request:
      - req_tOJtkvooUDetjG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"id":"tok_0MOTVXDqT4huGUvd3i31w1Mm","object":"token","card":{"id":"card_0MOTVXDqT4huGUvde6dBKKRX","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","last4":"6170","name":null,"tokenization_method":null},"client_ip":"<REDACTED>","created":1673302075,"livemode":true,"type":"card","used":false}'
  recorded_at: Mon, 09 Jan 2023 22:07:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"stripe_object_id":"tok_0MOTVXDqT4huGUvd3i31w1Mm","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - aee8d30363bc903bec90214600156ca4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"119af510980cb21c247b804f56af02d3"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202301092005-3309c91c2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"card_eebd08e3e26b40a5afe2b3331f871828","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}'
  recorded_at: Mon, 09 Jan 2023 22:08:00 GMT
recorded_with: VCR 6.0.0
