---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da80e799dc9e0059a38e
      Location:
      - "/api/v2/customs_infos/cstinfo_96f0124f8c1e4173ba4f7bd1f938e6ba"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_96f0124f8c1e4173ba4f7bd1f938e6ba","object":"CustomsInfo","created_at":"2024-07-29T18:08:00Z","updated_at":"2024-07-29T18:08:00Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_34871f5fa2c145a596ae29f895172317","object":"CustomsItem","created_at":"2024-07-29T18:08:00Z","updated_at":"2024-07-29T18:08:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Mon, 29 Jul 2024 18:08:00 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_96f0124f8c1e4173ba4f7bd1f938e6ba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7da80e799dc9f0059a40a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      [...]
