---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b135b60b6491c99ce786ab1400112e55
      Location:
      - "/api/v2/customs_infos/cstinfo_7d46b13bfe1c40329950c47b3c986586"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"febd4a4c15d4b7c586b80e7d12abce8f"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202306162038-54b6e7ec52-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq 255dce5529
      - intlb1wdc 255dce5529
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_7d46b13bfe1c40329950c47b3c986586","object":"CustomsInfo","created_at":"2023-06-20T15:45:32Z","updated_at":"2023-06-20T15:45:32Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_c61705f937f24c1a8b1e8f00e3079373","object":"CustomsItem","created_at":"2023-06-20T15:45:32Z","updated_at":"2023-06-20T15:45:32Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Tue, 20 Jun 2023 15:45:30 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_7d46b13bfe1c40329950c47b3c986586
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a6f079cf6491c99ce786ab150016c8da
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"febd4a4c15d4b7c58[...]
