---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b135b6106491c99be786a80500112e0f
      Location:
      - "/api/v2/customs_infos/cstinfo_937a03cece6a4c53a9b1de43b6389500"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74de73c3351fc117bafb061079700cf9"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202306162038-54b6e7ec52-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq 255dce5529
      - intlb2wdc 255dce5529
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_937a03cece6a4c53a9b1de43b6389500","object":"CustomsInfo","created_at":"2023-06-20T15:45:31Z","updated_at":"2023-06-20T15:45:31Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_c84a2c83a15d467d9a92277c8fbe87fd","object":"CustomsItem","created_at":"2023-06-20T15:45:31Z","updated_at":"2023-06-20T15:45:31Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Tue, 20 Jun 2023 15:45:29 GMT
recorded_with: VCR 6.1.0
