---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40a9e78738610031101b
      Location:
      - "/api/v2/customs_infos/cstinfo_6d04ecc8457f418ea058167c573829b3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5dce394aef970c97306ef67f69e707c3"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_6d04ecc8457f418ea058167c573829b3","object":"CustomsInfo","created_at":"2022-05-12T17:15:21Z","updated_at":"2022-05-12T17:15:21Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_bcf5c528978d4576b13269251be58b6e","object":"CustomsItem","created_at":"2022-05-12T17:15:21Z","updated_at":"2022-05-12T17:15:21Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Thu, 12 May 2022 17:15:21 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_6d04ecc8457f418ea058167c573829b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d40aae787386200311031
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5dce394aef970c973[...]
