---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40a9e787386000311007
      Location:
      - "/api/v2/customs_infos/cstinfo_c35b2ae933b443abbb40cbf310e4af59"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e80d68309a27b965440c649966b2abf"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_c35b2ae933b443abbb40cbf310e4af59","object":"CustomsInfo","created_at":"2022-05-12T17:15:21Z","updated_at":"2022-05-12T17:15:21Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_739702a11a994540930a7707824b4899","object":"CustomsItem","created_at":"2022-05-12T17:15:21Z","updated_at":"2022-05-12T17:15:21Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Thu, 12 May 2022 17:15:21 GMT
recorded_with: VCR 6.0.0
