---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f506c62f2ba39e7897e4100089ee5
      Location:
      - "/api/v2/customs_infos/cstinfo_fc010579ca984177a99b3b6eec26df7e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125cb58dc6d38587454156d5614df543"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_fc010579ca984177a99b3b6eec26df7e","object":"CustomsInfo","created_at":"2022-08-09T19:49:13Z","updated_at":"2022-08-09T19:49:13Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_f93a3dc32120461da396af51913498d1","object":"CustomsItem","created_at":"2022-08-09T19:49:13Z","updated_at":"2022-08-09T19:49:13Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Tue, 09 Aug 2022 19:49:13 GMT
recorded_with: VCR 6.0.0
