---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310262168acde787d565003ac5c1
      Location:
      - "/api/v2/customs_infos/cstinfo_82af076273ce4139b9f27185c71323e0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84f94101ac865db7fa13e7b9fa5cc628"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstinfo_82af076273ce4139b9f27185c71323e0","object":"CustomsInfo","created_at":"2022-02-23T19:28:13Z","updated_at":"2022-02-23T19:28:13Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_779bb0de3153467882df88a763e64c7b","object":"CustomsItem","created_at":"2022-02-23T19:28:13Z","updated_at":"2022-02-23T19:28:13Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Wed, 23 Feb 2022 19:28:13 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_82af076273ce4139b9f27185c71323e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310262168acde787d566003ac5d8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84f94101ac86[...]
