---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52618e786c5220027f518
      Location:
      - "/api/v2/customs_infos/cstinfo_a7ad8d6890fb4948bc8830476528a575"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e368af727bae59a879c53c65b1ccba72"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_a7ad8d6890fb4948bc8830476528a575","object":"CustomsInfo","created_at":"2022-08-11T15:54:00Z","updated_at":"2022-08-11T15:54:00Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_0c3073d90f5247279ce25d5cc66628cd","object":"CustomsItem","created_at":"2022-08-11T15:54:00Z","updated_at":"2022-08-11T15:54:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
  recorded_at: Thu, 11 Aug 2022 15:54:00 GMT
recorded_with: VCR 6.0.0
