---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652d8fe0dc931e0006d908
      Location:
      - "/api/v2/customs_infos/cstinfo_3e88629556bb41d0befac0a915e22548"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18d88a8e33548bfc1fd561e5cad4304c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_3e88629556bb41d0befac0a915e22548","object":"CustomsInfo","created_at":"2023-05-17T19:39:59Z","updated_at":"2023-05-17T19:39:59Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[]}'
  recorded_at: Wed, 17 May 2023 19:39:59 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_3e88629556bb41d0befac0a915e22548
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652d90e0dc931f0006d91c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18d88a8e33548bfc1fd561e5cad4304c"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_3e88629556bb41d0befac0a915e22548","object":"CustomsInfo","created_at":"2023-05-17T19:39:59Z","updated_at":"2023-05-17T19:39:59Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[]}'
  recorded_at: Wed, 17 May 2023 19:40:00 GMT
recorded_with: VCR 6.1.0
