---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/payment_methods
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 8f3718db62963df8ff24ef4000566354
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24cfefcbc333e85f7db2daf770b19cb6"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 0910011e7e
      - intlb1wdc 570dfcbc0a
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"cust_961f83c1960640bebea8c9cf2c982494","object":"PaymentMethods","primary_payment_method":{"id":"card_3a915360c57d4bfdaf0a03fbff30ebbc","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"},"secondary_payment_method":{"id":"card_2c35bfe8d8ce468cb59f5ddce76e061c","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}}'
  recorded_at: Tue, 31 May 2022 16:10:33 GMT
recorded_with: VCR 6.0.0
