---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/payment_methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cf92a64b62992e88ff2246e4008ccd4b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6a326fe32cbe1c358170e2d68f734ca"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202206022117-ecf7ce5035-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 0910011e7e
      - intlb2nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"cust_961f83c1960640bebea8c9cf2c982494","object":"PaymentMethods","primary_payment_method":{"id":"card_ca3685acec2d4ed69e93e8722fe3fce5","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"},"secondary_payment_method":{"id":"card_a09a3653623d4381befbe3fb0495a287","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}}'
  recorded_at: Thu, 02 Jun 2022 21:41:30 GMT
recorded_with: VCR 6.0.0
