---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/referral_customers/refunds
    body:
      encoding: UTF-8
      string: '{"payment_log_id":"paylog_123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7da64e799d905005985e6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","message":"We could not
        find a transaction with that id.","errors":[]}}'
  recorded_at: Mon, 29 Jul 2024 18:07:32 GMT
recorded_with: VCR 6.1.0
