---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a61e787d987000719df
      Location:
      - "/api/v2/shipments/shp_b8e6db25187f4446bd59389cbdd997c5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:50:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757567","updated_at":"2024-01-23T18:50:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3bb6b649ba2011ee821cac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:50:09+00:00","updated_at":"2024-01-23T18:50:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8246e521dc8d472a88a2f37d5deb11f9","object":"Parcel","created_at":"2024-01-23T18:50:09Z","updated_at":"2024-01-23T18:50:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_dbad519d8ff54a7abe41294a6da62342","created_at":"2024-01-23T18:50:10Z","updated_at":"2024-01-23T18:50:10Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:50:10Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e835bdadf5701d4b36840c59dcfcfe422f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_1f731982fc194010817aa1da14902e15","object":"Rate","created_at":"2024-01-23T18:50:10Z","updated_at":"2024-01-23T18:50:10Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b8e6db25187f4446bd59389cbdd997c5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_819cad69845d49c698ae4d321ff61fdc","object":"Rate","created_at":"2024-01-23T18:50:10Z","updated_at":"2024-01-23T18:50:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b8e6db25187f4446bd5[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100207552011757567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cddea65b00a63e787d99f00071b10
      Location:
      - "/api/v2/insurances/ins_0796fd96630c4b42871f236440c03d5c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"ins_0796fd96630c4b42871f236440c03d5c","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_3c77ae98ba2011ee9ccdac1f6bc539ae","object":"Address","created_at":"2024-01-23T18:50:11+00:00","updated_at":"2024-01-23T18:50:11+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_3c7cf2f3ba2011ee8273ac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:50:11+00:00","updated_at":"2024-01-23T18:50:11+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_420bc6504aa64736b43b5389c7a17e8b","object":"Tracker","mode":"test","tracking_code":"9400100207552011757567","status":"pre_transit","status_detail":"status_update","created_at":"2024-01-23T18:50:10Z","updated_at":"2024-01-23T18:50:10Z","signed_by":null,"weight":null,"est_delivery_date":"2024-01-23T18:50:10Z","shipment_id":"shp_b8e6db25187f4446bd59389cbdd997c5","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2023-12-23T18:50:10Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2023-12-24T07:27:10Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzQyMGJjNjUwNGFhNjQ3MzZiNDNiNTM4OWM3YTE3ZThi","fees":[]},"tracking_code":"9400100207552011757567","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2024-01-23T18:50:11Z","updated_at":"2024-01-23T18:50:11Z"}'
  recorded_at: Tue, 23 Jan 2024 18:50:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances/ins_0796fd96630c4b42871f236440c03d5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a63e787d9a000071b77
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Versi[...]
