---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7daa0e799dd210059c725
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"insurances":[{"id":"ins_d24c73d118144005964ed83c2965e22c","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_8fc3dd304dd511efb222ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:08:30+00:00","updated_at":"2024-07-29T18:08:30+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":null,"city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_8fc952144dd511efa31aac1f6bc53342","object":"Address","created_at":"2024-07-29T18:08:30+00:00","updated_at":"2024-07-29T18:08:30+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_28e2e51be1934fe288b12c245165a237","object":"Tracker","mode":"test","tracking_code":"9400100110368068500644","status":"error","status_detail":null,"created_at":"2024-07-29T18:08:30Z","updated_at":"2024-07-29T18:08:30Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"In
        test mode, only test tracking numbers are valid. Test tracking numbers are
        EZ1000000001, EZ2000000002, ... , EZ7000000007","description":"","status":"error","status_detail":null,"datetime":"2024-07-29T18:08:30Z","source":"ProcessingError","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzI4ZTJlNTFiZTE5MzRmZTI4OGIxMmMyNDUxNjVhMjM3","fees":[]},"tracking_code":"9400100110368068500644","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2024-07-29T18:08:30Z","updated_at":"2024-07-29T18:08:30Z"},{"id":"ins_3fba2e98b2b04c679d7a61874fa7a50a","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_8e5844af4dd511efb16fac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:08:28+00:00","updated_at":"2024-07-29T18:08:28+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":nu[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances?before_id=ins_edf9f6fc77694dc8833a3ef290c15224
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7daa1e799dd220059c821
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
   [...]
