---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3843704262e2e484ec87ac9f00329560
      Location:
      - "/api/v2/shipments/shp_939e28d9ef4d44b8acf2882b162d2142"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a009f3ae37459273dd13a1b44342221"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb1nuq 403f17ff97
      - intlb1wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:24Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478807","updated_at":"2022-07-28T19:33:25Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_25c7f9430eac11ed8be0ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:24+00:00","updated_at":"2022-07-28T19:33:24+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_30636d6ff3e346d2bd103a8e80f3ee64","object":"Parcel","created_at":"2022-07-28T19:33:24Z","updated_at":"2022-07-28T19:33:24Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d55ade7edf944bee9eefc257410db58d","created_at":"2022-07-28T19:33:25Z","updated_at":"2022-07-28T19:33:25Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:25Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/a102366b8346430a8303408494ad8dcb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_82ba6377f6d14455b34541cb027fb5f6","object":"Rate","created_at":"2022-07-28T19:33:25Z","updated_at":"2022-07-28T19:33:25Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_939e28d9ef4d44b8acf2882b162d2142","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_79fbb671c6d7457492bdb30d4374768d","object":"Rate","created_at":"2022-07-28T19:33:25Z","updated_at":"2022-07-28T19:33:25Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_939e28d9ef4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100109361130478807"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e486ec50daf70037ecc4
      Location:
      - "/api/v2/insurances/ins_f6f471fe87b0447e84fd30ee8735bce0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30d1d505d3572e935141c0e61b343de1"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"ins_f6f471fe87b0447e84fd30ee8735bce0","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_267f9b030eac11ed8cd6ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:26+00:00","updated_at":"2022-07-28T19:33:26+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_2683694d0eac11ed8cd7ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:26+00:00","updated_at":"2022-07-28T19:33:26+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_1fcf7fe6a8024b48af49c7fe58fc3e4f","object":"Tracker","mode":"test","tracking_code":"9400100109361130478807","status":"pre_transit","status_detail":"status_update","created_at":"2022-07-28T19:33:25Z","updated_at":"2022-07-28T19:33:25Z","signed_by":null,"weight":null,"est_delivery_date":"2022-07-28T19:33:25Z","shipment_id":"shp_939e28d9ef4d44b8acf2882b162d2142","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-06-28T19:33:25Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-06-29T08:10:25Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzFmY2Y3ZmU2YTgwMjRiNDhhZjQ5YzdmZTU4ZmMzZTRm","fees":[]},"tracking_code":"9400100109361130478807","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-07-28T19:33:26Z","updated_at":"2022-07-28T19:33:26Z"}'
  recorded_at: Thu, 28 Jul 2022 19:33:26 GMT
recorded_with: VCR 6.0.0
