---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 48b798b9624f5d79e787c8c40006d24b
      Location:
      - "/api/v2/shipments/shp_56d03aac2dfa435b9a5c2d365e2820c2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46d0fdc0b115ec466480327341264396"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-07T21:54:01Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114096195","updated_at":"2022-04-07T21:54:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3c56d2d9b6bd11ec8ce9ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:01+00:00","updated_at":"2022-04-07T21:54:01+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5b1b99fe039548e586ea55d2184f704e","object":"Parcel","created_at":"2022-04-07T21:54:01Z","updated_at":"2022-04-07T21:54:01Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_89cda4ced7c34c49985392e133aafda8","created_at":"2022-04-07T21:54:02Z","updated_at":"2022-04-07T21:54:02Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-07T21:54:02Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220407/e1012005bba54c218c45752752b99e89.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b3b451c543614d61aa64a21f474d0ce0","object":"Rate","created_at":"2022-04-07T21:54:02Z","updated_at":"2022-04-07T21:54:02Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_56d03aac2dfa435b9a5c2d365e2820c2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3befd49fef9d426eb3900f4d44af53fe","object":"Rate","created_at":"2022-04-07T21:54:02Z","updated_at":"2022-04-07T21:54:02Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_56d03aac2dfa435b9a5c2d365e2820c2","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"to_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100109361114096195"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 48b798b8624f5d7ae787c8de0006d2ab
      Location:
      - "/api/v2/insurances/ins_f5c98c8922aa4fa8a81f768e71ef61d5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d289328850876ba22c48a57f6d4759e8"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ins_f5c98c8922aa4fa8a81f768e71ef61d5","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_3d022017b6bd11ecace9ac1f6bc7b362","object":"Address","created_at":"2022-04-07T21:54:03+00:00","updated_at":"2022-04-07T21:54:03+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_3d0659abb6bd11ec8d07ac1f6bc72124","object":"Address","created_at":"2022-04-07T21:54:03+00:00","updated_at":"2022-04-07T21:54:03+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_268f8918795943efbf4e5529968616f7","object":"Tracker","mode":"test","tracking_code":"9400100109361114096195","status":"pre_transit","status_detail":"status_update","created_at":"2022-04-07T21:54:02Z","updated_at":"2022-04-07T21:54:02Z","signed_by":null,"weight":null,"est_delivery_date":"2022-04-07T21:54:02Z","shipment_id":"shp_56d03aac2dfa435b9a5c2d365e2820c2","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-03-07T21:54:02Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-03-08T10:31:02Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzI2OGY4OTE4Nzk1OTQzZWZiZjRlNTUyOTk2ODYxNmY3","fees":[]},"tracking_code":"9400100109361114096195","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-04-07T21:54:03Z","updated_at":"2022-04-07T21:54:03Z"}'
  recorded_at: Thu, 07 Apr 2022 21:54:03 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances/ins_f5c98c8922aa4fa8a81f768e71ef61d5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 48b798b8624f5d7be787c8df0006d2c8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5c22cf1a87fbb36aa6[...]
