---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662169067e78848be003cec68
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbd21cc0b388d4550200dd2676fe35e7"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"insurances":[{"id":"ins_ba2cfbe66aa746de95b4b7d795df3cfa","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_13cd046794e211ec976fac1f6bc72124","object":"Address","created_at":"2022-02-23T19:52:05+00:00","updated_at":"2022-02-23T19:52:05+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_13d1157d94e211ec98b4ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T19:52:05+00:00","updated_at":"2022-02-23T19:52:05+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_3ced5783f75b4660a087cc402e1b7773","object":"Tracker","mode":"test","tracking_code":"9400100895232108740502","status":"pre_transit","status_detail":"status_update","created_at":"2022-02-23T19:52:05Z","updated_at":"2022-02-23T19:52:05Z","signed_by":null,"weight":null,"est_delivery_date":"2022-02-23T19:52:05Z","shipment_id":"shp_fa90f139f25f4e5e9f2ad27899e1ece4","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-23T19:52:05Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-24T08:29:05Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzNjZWQ1NzgzZjc1YjQ2NjBhMDg3Y2M0MDJlMWI3Nzcz","fees":[]},"tracking_code":"9400100895232108740502","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-02-23T19:52:05Z","updated_at":"2022-02-23T19:52:05Z"},{"id":"ins_7aa248254f0d4c5bbdc53747a2a116dd","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_14cf5dc994e211eca3aaac1f6bc7b362","object":"Address","created_at":"2022-02-23T19:52:07+00:00","updated_at":"2022-02-23T19:52:07+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","[...]
