---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066356216b079e7897aab00443ee3
      Location:
      - "/api/v2/shipments/shp_d8277cbd977b480185b1b7d45a237777"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"920e8d29bf28812f85fb9ad14be518c6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202232144-d999b0c0da-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T22:08:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108757272","updated_at":"2022-02-23T22:08:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3283106494f511ecafb4ac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T22:08:57+00:00","updated_at":"2022-02-23T22:08:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e6d8a081d9204778986c524a63f36b40","object":"Parcel","created_at":"2022-02-23T22:08:57Z","updated_at":"2022-02-23T22:08:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_79ebcfccce6346c0821a66b562b0fbd9","created_at":"2022-02-23T22:08:58Z","updated_at":"2022-02-23T22:08:58Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T22:08:58Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/4078d5092a2547d48513dda43980ff06.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f9e2e622052a4ef388c7a67a505eb1b0","object":"Rate","created_at":"2022-02-23T22:08:57Z","updated_at":"2022-02-23T22:08:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d8277cbd977b480185b1b7d45a237777","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fe9e4b149d234dabb8ea01cd47f25db7","object":"Rate","created_at":"2022-02-23T22:08:57Z","updated_at":"2022-02-23T22:08:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d8277cbd977b480185b1b7d45a237777","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"tracking_code":"9400100895232108757272","carrier":"USPS","amount":"100"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a6216b07ae7897ac300443f37
      Location:
      - "/api/v2/insurances/ins_10aa493081e942dd996d1fb40ec922c3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35704d7339b5e69c4cf00d002f99bc5a"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202232144-d999b0c0da-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ins_10aa493081e942dd996d1fb40ec922c3","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_332ec73b94f511ec89a2ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T22:08:58+00:00","updated_at":"2022-02-23T22:08:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_3332abbb94f511ec89a4ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T22:08:58+00:00","updated_at":"2022-02-23T22:08:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_b50e71be754649b3b0059dd42cc9b92c","object":"Tracker","mode":"test","tracking_code":"9400100895232108757272","status":"pre_transit","status_detail":"status_update","created_at":"2022-02-23T22:08:58Z","updated_at":"2022-02-23T22:08:58Z","signed_by":null,"weight":null,"est_delivery_date":"2022-02-23T22:08:58Z","shipment_id":"shp_d8277cbd977b480185b1b7d45a237777","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-23T22:08:58Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-24T10:45:58Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2I1MGU3MWJlNzU0NjQ5YjNiMDA1OWRkNDJjYzliOTJj","fees":[]},"tracking_code":"9400100895232108757272","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-02-23T22:08:58Z","updated_at":"2022-02-23T22:08:58Z"}'
  recorded_at: Wed, 23 Feb 2022 22:08:58 GMT
recorded_with: VCR 6.0.0
