---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"amount":101.0,"tracking_code":"EZ2000000002","carrier":"usps"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc75ebaf10ffb428560000b7571
      Location:
      - "/api/v2/insurances/ins_08316f83ec66453e8521e63f679046da"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ins_08316f83ec66453e8521e63f679046da","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"101.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_2de405aa0c4e4083a0320febe4a40355","object":"Address","created_at":"2020-05-12T18:55:11Z","updated_at":"2020-05-12T18:55:11Z","name":null,"company":"EASYPOST","street1":"164
        TOWNSEND ST UNIT 1","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1990","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.77893,"longitude":-122.39279,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_bd3aea203ee1423c943d0fac13fa80e3","object":"Address","created_at":"2020-05-12T18:55:12Z","updated_at":"2020-05-12T18:55:12Z","name":null,"company":"AIRPORT
        SHIPPING","street1":"601 BRASILIA AVE","street2":"","city":"KANSAS CITY","state":"MO","zip":"64153-2054","country":"US","phone":"3149240383","email":"KANSAS_SHIPPING@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":39.29598,"longitude":-94.75217,"time_zone":"America/Chicago"}}}},"shipment_id":null,"tracker":{"id":"trk_4d2df3b790d6473daedc6c6ba27d12d4","object":"Tracker","mode":null,"tracking_code":null,"status":"unknown","status_detail":"unknown","created_at":"2020-05-12T18:55:12Z","updated_at":"2020-05-12T18:55:12Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":null,"carrier":null,"tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrXzRkMmRmM2I3OTBkNjQ3M2RhZWRjNmM2YmEyN2QxMmQ0"},"tracking_code":"EZ2000000002","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.01000","charged":true,"refunded":false},"messages":[],"created_at":"2020-05-12T18:55:12Z","updated_at":"2020-05-12T18:55:12Z"}'
  recorded_at: Tue, 12 May 2020 18:55:12 GMT
recorded_with: VCR 5.1.0
