---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba40e7897e6700086c06
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb388340e111a14a5b1a1b85a84c8f87"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"insurances":[{"id":"ins_cf41388ac3bf419db78dab29120e765a","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5bc95994181c11ed9e0fac1f6bc72124","object":"Address","created_at":"2022-08-09T19:49:19+00:00","updated_at":"2022-08-09T19:49:19+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":null,"city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_5bce200e181c11edafe6ac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:19+00:00","updated_at":"2022-08-09T19:49:19+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_9856f6b55cfb4ca9b7dc91a1e960841d","object":"Tracker","mode":"test","tracking_code":"9400100109361132422679","status":"pre_transit","status_detail":"status_update","created_at":"2022-08-09T19:49:19Z","updated_at":"2022-08-09T19:49:19Z","signed_by":null,"weight":null,"est_delivery_date":"2022-08-09T19:49:19Z","shipment_id":"shp_a5276a04018748039e10b66de7974ca0","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-09T19:49:19Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-10T08:26:19Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzk4NTZmNmI1NWNmYjRjYTliN2RjOTFhMWU5NjA4NDFk","fees":[]},"tracking_code":"9400100109361132422679","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-08-09T19:49:19Z","updated_at":"2022-08-09T19:49:19Z"},{"id":"ins_6a85e72b27984292921cd1c798797684","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5acd5541181c11edafadac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:17+00:00","updated_at":"2022-08-09T19:49:17+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":nu[...]
