---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310062169066e78848a4003cebdc
      Location:
      - "/api/v2/shipments/shp_87273e411e3b49f28328b42edafca698"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b63d40669d2bcb2bb320e50ad16221a9"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T19:52:06Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108740519","updated_at":"2022-02-23T19:52:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_140237e194e211eca360ac1f6bc7b362","object":"Address","created_at":"2022-02-23T19:52:06+00:00","updated_at":"2022-02-23T19:52:06+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_130d2e9eb29c48d8a93ac6bf273eb310","object":"Parcel","created_at":"2022-02-23T19:52:06Z","updated_at":"2022-02-23T19:52:06Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_db2b9830441c45f384a4ae35eca3470c","created_at":"2022-02-23T19:52:06Z","updated_at":"2022-02-23T19:52:07Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T19:52:06Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/c1b452edf0ec4ab983202582e3b98c3f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_82558741ab52482581c23462e5d1f886","object":"Rate","created_at":"2022-02-23T19:52:06Z","updated_at":"2022-02-23T19:52:06Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_87273e411e3b49f28328b42edafca698","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_6d3dc45e4bb2443da09bdb26005c988a","object":"Rate","created_at":"2022-02-23T19:52:06Z","updated_at":"2022-02-23T19:52:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_87273e411e3b49f28328b42edafca698","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"tracking_code":"9400100895232108740519","carrier":"USPS","amount":"100"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310262169067e78848a5003cec3e
      Location:
      - "/api/v2/insurances/ins_7aa248254f0d4c5bbdc53747a2a116dd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"408acf5019b9f494c65c398eef2ae245"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202231934-b54ec7f156-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ins_7aa248254f0d4c5bbdc53747a2a116dd","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_14cf5dc994e211eca3aaac1f6bc7b362","object":"Address","created_at":"2022-02-23T19:52:07+00:00","updated_at":"2022-02-23T19:52:07+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_14d31c2694e211ec97c9ac1f6bc72124","object":"Address","created_at":"2022-02-23T19:52:07+00:00","updated_at":"2022-02-23T19:52:07+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_df7365e7a3f949daa7595eb0c188a80c","object":"Tracker","mode":"test","tracking_code":"9400100895232108740519","status":"pre_transit","status_detail":"status_update","created_at":"2022-02-23T19:52:07Z","updated_at":"2022-02-23T19:52:07Z","signed_by":null,"weight":null,"est_delivery_date":"2022-02-23T19:52:07Z","shipment_id":"shp_87273e411e3b49f28328b42edafca698","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-23T19:52:07Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-01-24T08:29:07Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2RmNzM2NWU3YTNmOTQ5ZGFhNzU5NWViMGMxODhhODBj","fees":[]},"tracking_code":"9400100895232108740519","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-02-23T19:52:07Z","updated_at":"2022-02-23T19:52:07Z"}'
  recorded_at: Wed, 23 Feb 2022 19:52:07 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances/ins_7aa248254f0d4c5bbdc53747a2a116dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310062169067e78848bd003cec55
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d4e0ed5c64de6a630d[...]
