---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5261fe786c5840027f7c5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd97f975486ca4a1c759aac6750a6ae0"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"insurances":[{"id":"ins_900034acfe154043bef08f6cef6d830a","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_d4ed6445198d11edaee4ac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:07+00:00","updated_at":"2022-08-11T15:54:07+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":null,"city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_d4f12d8e198d11edaeeaac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:07+00:00","updated_at":"2022-08-11T15:54:07+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_c2f016bb37134cb78ff1b7f4c26f31e8","object":"Tracker","mode":"test","tracking_code":"9400100109361132685913","status":"pre_transit","status_detail":"status_update","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:07Z","signed_by":null,"weight":null,"est_delivery_date":"2022-08-11T15:54:06Z","shipment_id":"shp_d31d6dbaeba742ec850d348912fe28f5","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-11T15:54:06Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-12T04:31:06Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2MyZjAxNmJiMzcxMzRjYjc4ZmYxYjdmNGMyNmYzMWU4","fees":[]},"tracking_code":"9400100109361132685913","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-08-11T15:54:07Z","updated_at":"2022-08-11T15:54:07Z"},{"id":"ins_11b9f793b86146dc8a9c61a9571fee0a","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_d3fedfce198d11ed9b61ac1f6bc7bdc6","object":"Address","created_at":"2022-08-11T15:54:05+00:00","updated_at":"2022-08-11T15:54:05+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":nu[...]
