---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cebec4c3660c41c7e789878e007dd834
      Location:
      - "/api/v2/insurances/ins_b35d09c0355643de9ab0cc2feaf7b59d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202404021632-4ec48bb1aa-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 60566a9ec2
      - intlb4nuq 39c21b8207
    body:
      encoding: UTF-8
      string: '{"id":"ins_b35d09c0355643de9ab0cc2feaf7b59d","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_56e2d8d9f11711eea5fd3cecef1b359e","object":"Address","created_at":"2024-04-02T17:35:03+00:00","updated_at":"2024-04-02T17:35:03+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_56e9a605f11711eea6023cecef1b359e","object":"Address","created_at":"2024-04-02T17:35:03+00:00","updated_at":"2024-04-02T17:35:03+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_944d7626cdaa40cea5d1630632035b8d","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2024-03-28T19:17:38Z","updated_at":"2024-03-28T19:17:38Z","signed_by":null,"weight":null,"est_delivery_date":"2024-03-28T19:17:38Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-02-28T19:17:38Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-02-29T07:54:38Z","source":"USPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzk0NGQ3NjI2Y2RhYTQwY2VhNWQxNjMwNjMyMDM1Yjhk","fees":[]},"tracking_code":"EZ1000000001","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2024-04-02T17:35:03Z","updated_at":"2024-04-02T17:35:04Z"}'
  recorded_at: Tue, 02 Apr 2024 17:35:04 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/insurances/ins_b35d09c0355643de9ab0cc2feaf7b59d/refund
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cebec4c4660c41c8e789878f007dd8b5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      [...]
