---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652da3e0dc93a00006e087
      Location:
      - "/api/v2/shipments/shp_b6bd3318f75248d29a846b60f30dfd26"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11846065d993fb22c34d62ed99cde42d"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:40:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210692883","updated_at":"2023-05-17T19:40:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_a7d13a42f4ea11ed9d60ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:40:19+00:00","updated_at":"2023-05-17T19:40:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_bb6ffe6a96f344d19589da6d01809950","object":"Parcel","created_at":"2023-05-17T19:40:19Z","updated_at":"2023-05-17T19:40:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_cb6cbaac1f154603a1cec68de699a0fe","created_at":"2023-05-17T19:40:20Z","updated_at":"2023-05-17T19:40:20Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:40:20Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/61913599652944a1a28bb075c81e5fb1.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c5e4c115bbed47f3b8be9b18521e0103","object":"Rate","created_at":"2023-05-17T19:40:19Z","updated_at":"2023-05-17T19:40:19Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_b6bd3318f75248d29a846b60f30dfd26","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c7fd1845fc5844fe901041e1abd1e976","object":"Rate","created_at":"2023-05-17T19:40:19Z","updated_at":"2023-05-17T19:40:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b6bd3318f75[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100104262210692883"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652da4e0dc93a20006e127
      Location:
      - "/api/v2/insurances/ins_84a9a5376f764ffc85c16947c4f2fc10"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d55bda7831892a06f38dccb0fa624f3"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ins_84a9a5376f764ffc85c16947c4f2fc10","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_a8bd2c92f4ea11eda130ac1f6b0a0d1e","object":"Address","created_at":"2023-05-17T19:40:20+00:00","updated_at":"2023-05-17T19:40:20+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_a8c58f2df4ea11eda139ac1f6b0a0d1e","object":"Address","created_at":"2023-05-17T19:40:20+00:00","updated_at":"2023-05-17T19:40:20+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_6e30ebb975254e12845758edf9449de2","object":"Tracker","mode":"test","tracking_code":"9400100104262210692883","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-17T19:40:20Z","updated_at":"2023-05-17T19:40:20Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-17T19:40:20Z","shipment_id":"shp_b6bd3318f75248d29a846b60f30dfd26","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-17T19:40:20Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-18T08:17:20Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzZlMzBlYmI5NzUyNTRlMTI4NDU3NThlZGY5NDQ5ZGUy","fees":[]},"tracking_code":"9400100104262210692883","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2023-05-17T19:40:20Z","updated_at":"2023-05-17T19:40:21Z"}'
  recorded_at: Wed, 17 May 2023 19:40:21 GMT
recorded_with: VCR 6.1.0
