---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f5261ee786c5810027f6f2
      Location:
      - "/api/v2/shipments/shp_d31d6dbaeba742ec850d348912fe28f5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b42346c2bb55f075bd7b9c26d1f9eb15"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:06Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685913","updated_at":"2022-08-11T15:54:06Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d441f187198d11edba4aac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:06+00:00","updated_at":"2022-08-11T15:54:06+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8c1b3f2a193d43d5956c1c785825ba27","object":"Parcel","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:06Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fda21195134449349fc092742a795b17","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:06Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:06Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/f3c0e6ed7cb94b308c169b1eee271429.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_55a66ba7b8c24b2a95f53e46189ff5d8","object":"Rate","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:06Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d31d6dbaeba742ec850d348912fe28f5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_44b20f5c9d9e44cdadebc3825dbeaad4","object":"Rate","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d31d6dbaeba742ec850[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100109361132685913"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f5261fe786c5820027f75a
      Location:
      - "/api/v2/insurances/ins_900034acfe154043bef08f6cef6d830a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6987d9c97ffe38991fd559be8a34c1b7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"ins_900034acfe154043bef08f6cef6d830a","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_d4ed6445198d11edaee4ac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:07+00:00","updated_at":"2022-08-11T15:54:07+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_d4f12d8e198d11edaeeaac1f6bc72124","object":"Address","created_at":"2022-08-11T15:54:07+00:00","updated_at":"2022-08-11T15:54:07+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_c2f016bb37134cb78ff1b7f4c26f31e8","object":"Tracker","mode":"test","tracking_code":"9400100109361132685913","status":"pre_transit","status_detail":"status_update","created_at":"2022-08-11T15:54:06Z","updated_at":"2022-08-11T15:54:07Z","signed_by":null,"weight":null,"est_delivery_date":"2022-08-11T15:54:06Z","shipment_id":"shp_d31d6dbaeba742ec850d348912fe28f5","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-11T15:54:06Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-12T04:31:06Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2MyZjAxNmJiMzcxMzRjYjc4ZmYxYjdmNGMyNmYzMWU4","fees":[]},"tracking_code":"9400100109361132685913","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-08-11T15:54:07Z","updated_at":"2022-08-11T15:54:07Z"}'
  recorded_at: Thu, 11 Aug 2022 15:54:07 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances/ins_900034acfe154043bef08f6cef6d830a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f5261fe786c5830027f798
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81799eff2151a0a1329cd9ef[...]
