---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=true
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery street","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 949d8849624f19e9e2b7d5f100169a03
      Location:
      - "/api/v2/addresses/adr_f6e63bdeb69411ec9fbfac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8bfc62c2ea230c5d49fb3f2964d59bde"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204061951-19f0d1d0cc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc fde591f008
      - intlb2nuq fde591f008
      - intlb2wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_f6e63bdeb69411ec9fbfac1f6bc7b362","object":"Address","created_at":"2022-04-07T17:05:45+00:00","updated_at":"2022-04-07T17:05:45+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 07 Apr 2022 17:05:45 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_f6e63bdeb69411ec9fbfac1f6bc7b362/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 949d8849624f19e9e2b7d5f200169a28
      Location:
      - "/api/v2/addresses/adr_f71a3987b69411ec9fcdac1f6bc7b362"
      Content-T[...]
