---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[company]=Simpler%20Postage%20Inc&address[street1]=388%20Junk%20Teerts&address[street2]=Apt%2020&address[city]=San%20Francisco&address[state]=CA&address[zip]=941abc07
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d0cfc9be8aa000dd50a
      Location:
      - "/api/v2/addresses/adr_1a57d949bb7c4d869412468d4a319d8d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_1a57d949bb7c4d869412468d4a319d8d","object":"Address","created_at":"2020-04-24T16:00:12Z","updated_at":"2020-04-24T16:00:12Z","name":null,"company":"Simpler
        Postage Inc","street1":"388 Junk Teerts","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"941abc07","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:12 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_1a57d949bb7c4d869412468d4a319d8d/verify?carrier=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unknown
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d0cfc9be8ab000dd52f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}]}}'
  recorded_at: Fri, 24 Apr 2020 16:00:13 GMT
recorded_with: VCR 5.1.0
