---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[company]=EasyPost&address[street1]=164%20Townsend%20Street&address[street2]=Unit%201&address[city]=San%20Francisco&address[state]=CA&address[zip]=94107&address[phone]=415-123-4567
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a9733c8b5ea30d0afc9be88c000f765d
      Location:
      - "/api/v2/addresses/adr_dc7eeca02b1e46849e552974b4fa744d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_dc7eeca02b1e46849e552974b4fa744d","object":"Address","created_at":"2020-04-24T16:00:10Z","updated_at":"2020-04-24T16:00:10Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:10 GMT
recorded_with: VCR 5.1.0
