---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"EasyPost","street1":"164 Townsend Street","street2":"Unit
        1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab575ebaf109fb1cc080000d3d2f
      Location:
      - "/api/v2/addresses/adr_58b00ee172d14b899c33a27053a88452"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_58b00ee172d14b899c33a27053a88452","object":"Address","created_at":"2020-05-12T18:55:05Z","updated_at":"2020-05-12T18:55:05Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:06 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_58b00ee172d14b899c33a27053a88452/verify?carrier=
    body:
      encoding: UTF-8
      string: '{"carrier":"usps"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287135ebaf10afb2ffe8b000f31e3
      Location:
      - "/api/v2/addresses/adr_b3cdf292019d45af9ac4f55c02f9ea7f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"id":"adr_b3cdf292019d45af9ac4f55c02f9ea7f","object":"Address","created_at":"2020-05-12T18:55:06Z","updated_at":"2020-05-12T18:55:06Z","name":null,"company":"EASYPOST","street1":"164
        TOWNSEND ST UNIT 1","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1990","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.77893,"longitude":-122.39279,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Tue, 12 May 2020 18:55:06 GMT
recorded_with: VCR 5.1.0
