---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=true
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery street","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7f98dbad624f19f7e2b7d5f300190cf6
      Location:
      - "/api/v2/addresses/adr_ff1bc6ffb69411ecadb0ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f01ff395ebde02986447edf8f94dee5c"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204061951-19f0d1d0cc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_ff1bc6ffb69411ecadb0ac1f6b0a0d1e","object":"Address","created_at":"2022-04-07T17:05:59+00:00","updated_at":"2022-04-07T17:05:59+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 07 Apr 2022 17:05:59 GMT
recorded_with: VCR 6.0.0
