---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652d47e0dc8f210006c284
      Location:
      - "/api/v2/addresses/adr_7158ee7cf4ea11ed9f16ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"211370f56bf26ed6f3ff54c61b228095"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_7158ee7cf4ea11ed9f16ac1f6bc539ae","object":"Address","created_at":"2023-05-17T19:38:47+00:00","updated_at":"2023-05-17T19:38:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 17 May 2023 19:38:47 GMT
recorded_with: VCR 6.1.0
