---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: UTF-8
      string: '{"address":{"verify":[true],"street1":"417 montgomery streat","street2":"FL
        5","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80c62166e83e786a7de002763dc
      Location:
      - "/api/v2/addresses/adr_e17b638394cd11ecaa36ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43a0f003d7eb2dc944040fa568ba4968"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"id":"adr_e17b638394cd11ecaa36ac1f6bc72124","object":"Address","created_at":"2022-02-23T17:27:31+00:00","updated_at":"2022-02-23T17:27:31+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST STE 500","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Wed, 23 Feb 2022 17:27:31 GMT
recorded_with: VCR 6.0.0
