---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=true
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery streat","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80e62166e80e786a7c30027630c
      Location:
      - "/api/v2/addresses/adr_e018495d94cd11ecab36ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92e9b556d5ed9281ff8d894d19c54d1a"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e018495d94cd11ecab36ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T17:27:29+00:00","updated_at":"2022-02-23T17:27:29+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST STE 500","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Wed, 23 Feb 2022 17:27:29 GMT
recorded_with: VCR 6.0.0
