---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 608ff9c762166e7fe786a7c100278d49
      Location:
      - "/api/v2/addresses/adr_df740a0894cd11ecab13ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07dab34c410ada1ab13892f520d854dc"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_df740a0894cd11ecab13ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T17:27:27+00:00","updated_at":"2022-02-23T17:27:27+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Feb 2022 17:27:28 GMT
recorded_with: VCR 6.0.0
