---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b4a2ea0964652d4ae0dc8f3f0006decc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"663d79c3e3d523b1cc48d9afeaf6173a"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_72097048f4ea11ed8a7d3cecef1b359e","object":"Address","created_at":"2023-05-17T19:38:49+00:00","updated_at":"2023-05-17T19:38:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_71aea0bbf4ea11ed9418ac1f6bc72124","object":"Address","created_at":"2023-05-17T19:38:48+00:00","updated_at":"2023-05-17T19:38:48+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_71da101cf4ea11eda08bac1f6bc539ae","object":"Address","created_at":"2023-05-17T19:38:48+00:00","updated_at":"2023-05-17T19:38:48+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":null,"city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_7186c684f4ea11ed89123cecef1b359e","object":"Address","created_at":"2023-05-17T19:38:48+00:00","updated_at":"2023-05-17T19:38:48+00:00","name":null,"company":"EASYPOST","street1":"417
        MONT[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"before_id":"adr_7158ee7cf4ea11ed9f16ac1f6bc539ae"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b4a2ea0964652d4ae0dc8f410006def3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa2d68ce7837dbd20d2abb22386745fe"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-B[...]
