---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab585ebaf108fb527e88000d3cdf
      Location:
      - "/api/v2/addresses/adr_f606601b9bcb4032898fcffef750e0ce"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_f606601b9bcb4032898fcffef750e0ce","object":"Address","created_at":"2020-05-12T18:55:04Z","updated_at":"2020-05-12T18:55:04Z","name":null,"company":null,"street1":null,"street2":"Unit
        1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:04 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_f606601b9bcb4032898fcffef750e0ce/verify?carrier=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unknown
    headers:
      X-Ep-Request-Uuid:
      - b342870e5ebaf108fb4558af000f316f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.INPUT.INVALID","field":"street1","message":"Required","suggestion":null}]}}'
  recorded_at: Tue, 12 May 2020 18:55:05 GMT
recorded_with: VCR 5.1.0
