---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555","verify_strict":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0464652d48e0dc8f230006c2b8
      Location:
      - "/api/v2/addresses/adr_71aea0bbf4ea11ed9418ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e2039cc8f074a68d2667223650718d6"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_71aea0bbf4ea11ed9418ac1f6bc72124","object":"Address","created_at":"2023-05-17T19:38:48+00:00","updated_at":"2023-05-17T19:38:48+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Wed, 17 May 2023 19:38:48 GMT
recorded_with: VCR 6.1.0
