---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5c61554862598d0bff02f00a000d4657
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60931f6cdcaf32e29bf6f185b23300e8"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204142338-1cd6ded3ab-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc fde591f008
      - intlb2nuq fde591f008
      - intlb2wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"id":"adr_77b37ab2bccf11ecb8c6ac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:39+00:00","updated_at":"2022-04-15T15:19:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_7790f482bccf11ecb8beac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:39+00:00","updated_at":"2022-04-15T15:19:39+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":null,"city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_774ebb44bccf11ecb8aeac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:38+00:00","updated_at":"2022-04-15T15:19:38+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":[...]
