---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d409ee78737df00310bc2
      Location:
      - "/api/v2/addresses/adr_13f1c116d21711eca479ac1f6bc7bdc6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3457ed96a407c55f36f70a17bc7aa1fb"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"adr_13f1c116d21711eca479ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:10+00:00","updated_at":"2022-05-12T17:15:10+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 12 May 2022 17:15:10 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_13f1c116d21711eca479ac1f6bc7bdc6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b473627d409ee78737e000310bd5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3457ed96a407c55f36f70a17bc7aa1fb"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"adr_13f1c116d21711eca479ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:15:10+00:00","updated_at":"2022-05-12T17:15:10+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 12 May 2022 17:15:10 GMT
recorded_with: VCR 6.0.0
