---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"verify_strict":[true]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5c61554962598d0aff02f006000d460e
      Location:
      - "/api/v2/addresses/adr_774ebb44bccf11ecb8aeac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c76e3f5cdc5cb09be4368c95413b1f5"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204142338-1cd6ded3ab-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc fde591f008
      - intlb1nuq fde591f008
      - intlb1wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_774ebb44bccf11ecb8aeac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:38+00:00","updated_at":"2022-04-15T15:19:38+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Fri, 15 Apr 2022 15:19:38 GMT
recorded_with: VCR 6.0.0
