---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6f2c283c63365d26e2bbc69e001dd1a6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae7ffba488307fb3e8f3363aaeb76807"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209292008-82708ffb20-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_7e663cbc3eeb11edbad4ac1f6b0a0d1e","object":"Address","created_at":"2022-09-28T05:07:47+00:00","updated_at":"2022-09-28T05:07:47+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_7e63e7d53eeb11ed9974ac1f6bc72124","object":"Address","created_at":"2022-09-28T05:07:47+00:00","updated_at":"2022-09-28T05:07:47+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_b795ddfb3ee711e[...]
