---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5c61554662598d0aff02f005000d45f4
      Location:
      - "/api/v2/addresses/adr_772b0b56bccf11ecbdbaac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3de44a701b147792785e2bf38b637c17"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202204142338-1cd6ded3ab-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc fde591f008
      - intlb1nuq fde591f008
      - intlb1wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_772b0b56bccf11ecbdbaac1f6b0a0d1e","object":"Address","created_at":"2022-04-15T15:19:38+00:00","updated_at":"2022-04-15T15:19:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 15 Apr 2022 15:19:38 GMT
recorded_with: VCR 6.0.0
