---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: UTF-8
      string: '{"address":{"company":"EasyPost","street1":"417 montgomery street","street2":"FL
        5","city":"San Francisco","state":"CA","zip":"94104","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c3dd620264652d4ce0dc8f43000741fa
      Location:
      - "/api/v2/addresses/adr_7434b96af4ea11eda74dac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f5476430683d894cf46f1d5b894579c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_7434b96af4ea11eda74dac1f6bc539ae","object":"Address","created_at":"2023-05-17T19:38:52+00:00","updated_at":"2023-05-17T19:38:52+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Wed, 17 May 2023 19:38:52 GMT
recorded_with: VCR 6.1.0
