---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: UTF-8
      string: '{"address":{"company":"EasyPost","street1":"417 montgomery street","street2":"FL
        5","city":"San Francisco","state":"CA","zip":"94104","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f525fee786c1650027eb2f
      Location:
      - "/api/v2/addresses/adr_c16835f0198d11eda664ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df388fba41267b4442381e2720f8e9df"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_c16835f0198d11eda664ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:53:34+00:00","updated_at":"2022-08-11T15:53:34+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Thu, 11 Aug 2022 15:53:34 GMT
recorded_with: VCR 6.0.0
