---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery street","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"},"verify":[true]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 2415913f62e41743e786ac210004bf32
      Location:
      - "/api/v2/addresses/adr_fb79137b0f6211eda715ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b743464a54bdea88316a765a7bfbaf9"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207282305-ef64fb0c25-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_fb79137b0f6211eda715ac1f6bc7b362","object":"Address","created_at":"2022-07-29T17:22:11+00:00","updated_at":"2022-07-29T17:22:11+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Fri, 29 Jul 2022 17:22:11 GMT
recorded_with: VCR 6.0.0
