---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Simpler Postage Inc","street1":"388 Junk Teerts","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"941abc07"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d45ebaf10afb1c3487000ac32b
      Location:
      - "/api/v2/addresses/adr_33f6c25ef1ac4a90a5cea7f267768cd9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_33f6c25ef1ac4a90a5cea7f267768cd9","object":"Address","created_at":"2020-05-12T18:55:06Z","updated_at":"2020-05-12T18:55:06Z","name":null,"company":"Simpler
        Postage Inc","street1":"388 Junk Teerts","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"941abc07","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:07 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_33f6c25ef1ac4a90a5cea7f267768cd9/verify?carrier=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unknown
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc35ebaf10bfb211f8b000b744e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}]}}'
  recorded_at: Tue, 12 May 2020 18:55:07 GMT
recorded_with: VCR 5.1.0
