---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street2]=Unit%201&address[city]=San%20Francisco&address[state]=CA&address[zip]=94107&address[phone]=415-123-4567
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3625780f5ea30d0bfc9be88d0010d1ae
      Location:
      - "/api/v2/addresses/adr_dbb46566f58e4282b6d2717319708c73"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_dbb46566f58e4282b6d2717319708c73","object":"Address","created_at":"2020-04-24T16:00:11Z","updated_at":"2020-04-24T16:00:11Z","name":null,"company":null,"street1":null,"street2":"Unit
        1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_dbb46566f58e4282b6d2717319708c73/verify?carrier=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unknown
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d0bfc9be88e000dd497
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.INPUT.INVALID","field":"street1","message":"Required","suggestion":null}]}}'
  recorded_at: Fri, 24 Apr 2020 16:00:11 GMT
recorded_with: VCR 5.1.0
