---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da51e799d8a0005970db
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_6126b5104dd511ef964eac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:07:12+00:00","updated_at":"2024-07-29T18:07:12+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_60e135584dd511ef86b0ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:07:12+00:00","updated_at":"2024-07-29T18:07:12+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":null},"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}},{"id":"adr_609a38374dd511ef88573cecef1b359e","object":"Address","created_at":"2024-07-29T18:07:11+00:00","updated_at":"2024-07-29T18:07:11+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_605729c14dd511ef95e7ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:07:11+00:00","updated_at":"2024-07-29T18:07:11+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_60097fbf4dd511ef9409ac1f6bc539ae","object":"Address","created_at":"2024-07-29T18:07:10+00:00","updated_at":"2024-07-29T18:07:10+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":null},"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:07:13 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses?before_id=adr_60097fbf4dd511ef9409ac1f6bc539ae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7da52e799d8a10059715b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
    [...]
