---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"verify_strict":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 2415914062e4175ee786ac410004c8af
      Location:
      - "/api/v2/addresses/adr_0b9e797b0f6311ed828dac1f6bc7bdc6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7ef06977d451630395f41143ea24ca2"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207282305-ef64fb0c25-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_0b9e797b0f6311ed828dac1f6bc7bdc6","object":"Address","created_at":"2022-07-29T17:22:38+00:00","updated_at":"2022-07-29T17:22:38+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Fri, 29 Jul 2022 17:22:39 GMT
recorded_with: VCR 6.0.0
