---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[company]=EasyPost&address[street1]=164%20Townsend%20Street&address[street2]=Unit%201&address[city]=San%20Francisco&address[state]=CA&address[zip]=94107&address[phone]=415-123-4567
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d0bfc9be88f000dd4a4
      Location:
      - "/api/v2/addresses/adr_4560df959d994627a438e309a32c007b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4560df959d994627a438e309a32c007b","object":"Address","created_at":"2020-04-24T16:00:11Z","updated_at":"2020-04-24T16:00:11Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_4560df959d994627a438e309a32c007b/verify?carrier=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d0bfc9be890000dd4b5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"id":"adr_917d2bdc76894403943dc2bd86625e4b","object":"Address","created_at":"2020-04-24T16:00:11Z","updated_at":"2020-04-24T16:00:11Z","name":null,"company":"EASYPOST","street1":"164
        TOWNSEND ST UNIT 1","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1990","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.77893,"longitude":-122.39279,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Fri, 24 Apr 2020 16:00:12 GMT
recorded_with: VCR 5.1.0
