---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f525fde786c1620027eada
      Location:
      - "/api/v2/addresses/adr_c0e8b8b2198d11ed98edac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83b5ae0bd38c52444cc5c646a01d8db1"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_c0e8b8b2198d11ed98edac1f6bc72124","object":"Address","created_at":"2022-08-11T15:53:33+00:00","updated_at":"2022-08-11T15:53:33+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 11 Aug 2022 15:53:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_c0e8b8b2198d11ed98edac1f6bc72124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f525fde786c1630027eaf7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83b5ae0bd38c52444cc5c646a01d8db1"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_c0e8b8b2198d11ed98edac1f6bc72124","object":"Address","created_at":"2022-08-11T15:53:33+00:00","updated_at":"2022-08-11T15:53:33+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 11 Aug 2022 15:53:33 GMT
recorded_with: VCR 6.0.0
