---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery street","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b472627d409fe78737fa00310c21
      Location:
      - "/api/v2/addresses/adr_14842cfbd21711ec94edac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b56a8cba1b66794478b3891958ba2145"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"adr_14842cfbd21711ec94edac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:11+00:00","updated_at":"2022-05-12T17:15:11+00:00","name":null,"company":"EasyPost","street1":"417
        montgomery street","street2":"FL 5","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 12 May 2022 17:15:11 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_14842cfbd21711ec94edac1f6bc72124/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d409fe78737fb00310c2f
      Location:
      - "/api/v2/addresses/adr_14a81342d21711ec94fdac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eefc4226eb57b6cb79096c64e3faac94"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_14a81342d21711ec94fdac1f6bc72124","object":"Address","created_at":"2022-05-12T17:15:11+00:00","updated_at":"2022-05-12T17:15:11+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Thu, 12 May 2022 17:15:11 GMT
recorded_with: VCR 6.0.0
