---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80a62166e82e786a7dd002763b7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66e87cf2391f73941d08187ecfc9ce82"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"id":"adr_e06888fd94cd11ecb58dac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T17:27:29+00:00","updated_at":"2022-02-23T17:27:29+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_e018495d94cd11ecab36ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T17:27:29+00:00","updated_at":"2022-02-23T17:27:29+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST STE 500","street2":null,"city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_dfc60c2a94cd11ecb2d9ac1f6bc7b362","object":"Address","created_at":"2022-02-23T17:27:28+00:00","updated_at":"2022-02-23T17:27:28+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":[...]
