---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d1c48c8b659c4805f452492f000c6d4e
      Location:
      - "/api/v2/addresses/adr_370200c9ae5911ee932bac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq ab82b2e6e9
    body:
      encoding: UTF-8
      string: '{"id":"adr_370200c9ae5911ee932bac1f6bc539aa","object":"Address","created_at":"2024-01-08T19:07:49+00:00","updated_at":"2024-01-08T19:07:49+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 08 Jan 2024 19:07:49 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555","verify":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d1c48c89659c4805f0220196000c6d7c
      Location:
      - "/api/v2/addresses/adr_3720dd48ae5911eeab0aac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq ab82b2e6e9
    body:
      encoding: UTF-8
      string: '{"id":"adr_3720dd48ae5911eeab0aac1f6bc539ae","object":"Address","created_at":"2024-01-08T19:07:49+00:00","updated_at":"2024-01-08T19:07:49+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":null},"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}}'
  recorded_at: Mon, 08 Jan 2024 19:07:49 GMT
recorded_with: VCR 6.1.0
