---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e719e02a66a7da4fe799d89b005a7018
      Location:
      - "/api/v2/addresses/adr_609a38374dd511ef88573cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"adr_609a38374dd511ef88573cecef1b359e","object":"Address","created_at":"2024-07-29T18:07:11+00:00","updated_at":"2024-07-29T18:07:11+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 29 Jul 2024 18:07:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555","verify":[true]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e719e02d66a7da4fe799d89c005a7087
      Location:
      - "/api/v2/addresses/adr_60e135584dd511ef86b0ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"adr_60e135584dd511ef86b0ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:07:12+00:00","updated_at":"2024-07-29T18:07:12+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":null},"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}}'
  recorded_at: Mon, 29 Jul 2024 18:07:11 GMT
recorded_with: VCR 6.1.0
