---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"invalid"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1de04f3d63321562e78a13cf000372e7
      Location:
      - "/api/v2/addresses/adr_b7ad66b33ddf11eda8baac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca13d905c837a4a21443632384b7ab63"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"adr_b7ad66b33ddf11eda8baac1f6bc7b362","object":"Address","created_at":"2022-09-26T21:10:58+00:00","updated_at":"2022-09-26T21:10:58+00:00","name":null,"company":null,"street1":"invalid","street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 26 Sep 2022 21:10:58 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_b7ad66b33ddf11eda8baac1f6bc7b362/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 1de04f3663321562e78a13e7000372f4
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
        number is missing","suggestion":null}]}}'
  recorded_at: Mon, 26 Sep 2022 21:10:59 GMT
recorded_with: VCR 6.0.0
