---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: UTF-8
      string: '{"address":{"company":"EasyPost","street1":"164 Townsend Street","street2":"Unit
        1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c64376c05fda9434fb322302000b3f81
      Location:
      - "/api/v2/addresses/adr_7ff37e3af0b648e985a33304fb94596e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202012162108-db09a3fa8d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0872841421
      - intlb2nuq 1d932d9f73
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"id":"adr_7ff37e3af0b648e985a33304fb94596e","object":"Address","created_at":"2020-12-16T23:11:48+00:00","updated_at":"2020-12-16T23:11:48+00:00","name":null,"company":"EASYPOST","street1":"164
        TOWNSEND ST UNIT 1","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1990","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.78013,"longitude":-122.39112,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Wed, 16 Dec 2020 23:11:48 GMT
recorded_with: VCR 5.1.0
