---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f506d62f2ba20e7897aa60008959b
      Location:
      - "/api/v2/addresses/adr_494cd0ef181c11ed9754ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa973150a0430cb25a4576e287e6153f"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_494cd0ef181c11ed9754ac1f6bc72124","object":"Address","created_at":"2022-08-09T19:48:48+00:00","updated_at":"2022-08-09T19:48:48+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 09 Aug 2022 19:48:48 GMT
recorded_with: VCR 6.0.0
