---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: UTF-8
      string: '{"address":{"company":"EasyPost","street1":"164 Townsend Street","street2":"Unit
        1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c8315a0761e0770ce78a8ea0008e11ba
      Location:
      - "/api/v2/addresses/adr_3907d29c74a311eca21aac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e4e05451c7994cba4db2bde8875208d"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202201130009-e834a4abb6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq ffc213653a
      - intlb1nuq ffc213653a
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"id":"adr_3907d29c74a311eca21aac1f6bc72124","object":"Address","created_at":"2022-01-13T19:01:32+00:00","updated_at":"2022-01-13T19:01:32+00:00","name":null,"company":"EASYPOST","street1":"164
        TOWNSEND ST UNIT 1","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94107-1990","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.78013,"longitude":-122.39112,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Thu, 13 Jan 2022 19:01:32 GMT
recorded_with: VCR 5.1.0
