---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 86adb72e659c4806f42fac8f000ba183
      Location:
      - "/api/v2/addresses/adr_37dcfe11ae5911eeab72ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq ab82b2e6e9
    body:
      encoding: UTF-8
      string: '{"id":"adr_37dcfe11ae5911eeab72ac1f6bc539ae","object":"Address","created_at":"2024-01-08T19:07:50+00:00","updated_at":"2024-01-08T19:07:50+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 08 Jan 2024 19:07:50 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_37dcfe11ae5911eeab72ac1f6bc539ae/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 86adb731659c4806f3f8ebad000ba1ab
      Location:
      - "/api/v2/addresses/adr_37fc091cae5911ee8a9dac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq ab82b2e6e9
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_37fc091cae5911ee8a9dac1f6bc53342","object":"Address","created_at":"2024-01-08T19:07:50+00:00","updated_at":"2024-01-08T19:07:50+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Mon, 08 Jan 2024 19:07:51 GMT
recorded_with: VCR 6.1.0
