---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc30cf0464652d49e0dc8f250006aa67
      Location:
      - "/api/v2/addresses/adr_72097048f4ea11ed8a7d3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f30ae221d0a733a66d6476d7af96a9ed"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_72097048f4ea11ed8a7d3cecef1b359e","object":"Address","created_at":"2023-05-17T19:38:49+00:00","updated_at":"2023-05-17T19:38:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 17 May 2023 19:38:49 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_72097048f4ea11ed8a7d3cecef1b359e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - bc30cf0264652d49e0dc8f260006aa86
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f30ae221d0a733a66d6476d7af96a9ed"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_72097048f4ea11ed8a7d3cecef1b359e","object":"Address","created_at":"2023-05-17T19:38:49+00:00","updated_at":"2023-05-17T19:38:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 17 May 2023 19:38:49 GMT
recorded_with: VCR 6.1.0
