---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5c61554862598d0bff02f008000d463e
      Location:
      - "/api/v2/addresses/adr_77b37ab2bccf11ecb8c6ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1da829e6de79779e0a51fd5e77ba39fa"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204142338-1cd6ded3ab-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc fde591f008
      - intlb2nuq fde591f008
      - intlb2wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_77b37ab2bccf11ecb8c6ac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:39+00:00","updated_at":"2022-04-15T15:19:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 15 Apr 2022 15:19:39 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_77b37ab2bccf11ecb8c6ac1f6bc7b362
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5c61554562598d0bff02f009000d4649
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1da829e6de79779e0a51fd5e77ba39fa"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202204142338-1cd6ded3ab-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc fde591f008
      - intlb1nuq fde591f008
      - intlb2wdc fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_77b37ab2bccf11ecb8c6ac1f6bc7b362","object":"Address","created_at":"2022-04-15T15:19:39+00:00","updated_at":"2022-04-15T15:19:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 15 Apr 2022 15:19:39 GMT
recorded_with: VCR 6.0.0
