---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00a25e787d1c70006e9e2
      Location:
      - "/api/v2/addresses/adr_17b795c9ba2011eeaffdac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"adr_17b795c9ba2011eeaffdac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:49:09+00:00","updated_at":"2024-01-23T18:49:09+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 23 Jan 2024 18:49:09 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"000 unknown street","city":"Not A
        City","state":"ZZ","zip":"00001","country":"US","email":"test@example.com","phone":"5555555555","verify":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a25e787d1c80006ea26
      Location:
      - "/api/v2/addresses/adr_17e75853ba2011eeb01cac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"adr_17e75853ba2011eeb01cac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:49:09+00:00","updated_at":"2024-01-23T18:49:09+00:00","name":null,"company":"EasyPost","street1":"000
        unknown street","street2":null,"city":"Not A City","state":"ZZ","zip":"00001","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":null},"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}],"details":{}}}}'
  recorded_at: Tue, 23 Jan 2024 18:49:09 GMT
recorded_with: VCR 6.2.0
