---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=true
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 montgomery streat","street2":"FL 5","city":"San
        Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80d62166e83e786a7df00276409
      Location:
      - "/api/v2/addresses/adr_e1cae5fb94cd11ecab95ac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e2bfebe3716f4c661ab122b8fe9287d"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e1cae5fb94cd11ecab95ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T17:27:31+00:00","updated_at":"2022-02-23T17:27:31+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST STE 500","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Wed, 23 Feb 2022 17:27:31 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_e1cae5fb94cd11ecab95ac1f6b0a0d1e/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80962166e84e786a7e00027642a
      Location:
      - "/api/v2/addresses/adr_e21bdb1f94cd11ecb368ac1f6bc7b362"
      Content-T[...]
