---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1e90ffae62bb4a55e787bbfb0037fcf4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c2b0585667680712ab88f7298d1b89b"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202206272314-c14e8f7f31-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq a732742a48
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_2077e48bf17d11ec9939ac1f6b0a0d1e","object":"Address","created_at":"2022-06-21T16:13:45+00:00","updated_at":"2022-06-21T16:13:45+00:00","name":null,"company":"EasyPost","street1":"417
        MONTGOMERY ST","street2":"FLOOR 5","city":"SAN FRANCISCO","state":"CA","zip":"94104","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_3bb215d4eceb11eca218ac1f6bc7bdc6","object":"Address","created_at":"2022-06-15T20:39:20+00:00","updated_at":"2022-06-15T20:39:20+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_e2d9a120ecea11e[...]
