---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=true
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80d62166e80e786a7c2002762de
      Location:
      - "/api/v2/addresses/adr_dfc60c2a94cd11ecb2d9ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9bfc654f616938fb68019a0a1b5a8a2"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_dfc60c2a94cd11ecb2d9ac1f6bc7b362","object":"Address","created_at":"2022-02-23T17:27:28+00:00","updated_at":"2022-02-23T17:27:28+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Wed, 23 Feb 2022 17:27:28 GMT
recorded_with: VCR 6.0.0
