---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f52673e7872f57002813ee
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae61debc31755327d5e98a44a1f72948"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","object":"User","parent_id":null,"name":"New
        Test Name","phone_number":"<REDACTED>","verified":true,"created_at":"2017-03-01T22:57:19Z","balance":"0.00000","price_per_shipment":"0.01000","recharge_amount":"100.00","secondary_recharge_amount":"100.00","recharge_threshold":"0.00","has_billing_method":false,"cc_fee_rate":"0.0","default_insurance_amount":null,"insurance_fee_rate":"0.01","insurance_fee_minimum":"1.00","email":"<REDACTED>","children":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:55:31 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/users/user_0f6b83e3530b401cb1e8aeaa6a250d4d/brand
    body:
      encoding: UTF-8
      string: '{"brand":{"object":"Brand","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","color":"#123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52673e7872f5800281422
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6529bff738bff0355916a0ddbf360417"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"brd_136abcc3c9de49fcb1a0e963f26fdcac","color":"#123456","logo":"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg","logo_href":"https://www.easypost.com","name":"EasyPost","ad":null,"ad_href":null,"object":"Brand","user_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","background_color":null,"theme":"theme1"}'
  recorded_at: Thu, 11 Aug 2022 15:55:31 GMT
recorded_with: VCR 6.0.0
