---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 77ca7e826298f921ea43ebb500c49a39
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ca1c40e13b7949115a4e2c9a519268b"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","object":"User","parent_id":null,"name":"New
        Test Name","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-23T17:43:47Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>"}'
  recorded_at: Thu, 02 Jun 2022 17:53:37 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b/brand
    body:
      encoding: UTF-8
      string: '{"brand":{"object":"Brand","user_id":"user_2cfd34d1261a4a9b93d56c313a9a824b","color":"#123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 77ca7e846298f921ea43ebb600c49a46
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1db759217d34f1d4558f723082035904"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"brd_0e606e55ac73483b9ef26ba2e7dcfec5","color":"#123456","logo":"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg","logo_href":"https://www.easypost.com","name":"EasyPost","ad":null,"ad_href":null,"object":"Brand","user_id":"user_2cfd34d1261a4a9b93d56c313a9a824b","background_color":null,"theme":"theme1"}'
  recorded_at: Thu, 02 Jun 2022 17:53:37 GMT
recorded_with: VCR 6.0.0
