---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7a66a7db30e799e541005a5cf8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_d9c9bd8fbe2b43ac9b04aec3c0876585","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2024-07-29T18:10:56Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-07-29T18:10:56Z","active":true,"id":"ak_a64efb3c55de482a9cc7e56d186d4cce"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-07-29T18:10:56Z","active":true,"id":"ak_6f8a697e01b943d2bca3a7a1a46084f9"}]}'
  recorded_at: Mon, 29 Jul 2024 18:10:57 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_d9c9bd8fbe2b43ac9b04aec3c0876585
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7db31e799e542005a5e0b
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jul 2024 18:10:57 GMT
recorded_with: VCR 6.1.0
