---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652e18e0dc9b9f00070cd1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81732f5dd54979adec7f2c9b5775246c"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_6f2c6dd1338d429caf1c320d76d04383","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-17T19:42:16Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-17T19:42:16Z","active":true,"id":"ak_4311f1117cc94a5e94e4bb96f68abd2e"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-17T19:42:16Z","active":true,"id":"ak_2d919f80f0f8498f9efca8536fe4a5e0"}]}'
  recorded_at: Wed, 17 May 2023 19:42:17 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_6f2c6dd1338d429caf1c320d76d04383
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652e19e0dc9ba000070d40
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 May 2023 19:42:17 GMT
recorded_with: VCR 6.1.0
