---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40e9e7873cc5003124da
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16331e6f7bed5bbae60e89059ced2246"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_c057449f4d534baa84020a0aebc4ed5d","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-12T17:16:25Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 12 May 2022 17:16:26 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_c057449f4d534baa84020a0aebc4ed5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40eae7873cc600312513
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 May 2022 17:16:26 GMT
recorded_with: VCR 6.0.0
