---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f52670e7872f3b002812d1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c6024bf3add86e28ac33dbe729855cd"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_09d62785eb5a40b9a46edbe9ff6f11eb","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-08-11T15:55:28Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:55:28 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_09d62785eb5a40b9a46edbe9ff6f11eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f52671e7872f3c00281344
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Aug 2022 15:55:29 GMT
recorded_with: VCR 6.0.0
