---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e9bee95662826961e77994090051fc35
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40b51cf91742e4fd3c513b185e7579df"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205131956-9146889ba0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc c51cdb8bf2
      - intlb1wdc 570dfcbc0a
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_4d3864e20c2a484cab48abae5a9b278e","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-16T15:10:25Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Mon, 16 May 2022 15:10:27 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_4d3864e20c2a484cab48abae5a9b278e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - e9bee95662826962e779940a0051fc83
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205131956-9146889ba0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc c51cdb8bf2
      - intlb2nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 May 2022 15:10:27 GMT
recorded_with: VCR 6.0.0
