---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652e1de0dc9be800070ef2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d0f29902c34e7f18d78c089faa37c43"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_b54ee41352bd40cab086f80218d31f0a","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-17T19:42:22Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-17T19:42:22Z","active":true,"id":"ak_825b13157cad4d88bf2f9fa2f1400cf2"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-17T19:42:22Z","active":true,"id":"ak_2ccb16326dae4f31872210caf58c998e"}]}'
  recorded_at: Wed, 17 May 2023 19:42:22 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_b54ee41352bd40cab086f80218d31f0a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e1ee0dc9be900070f55
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df34a7706912d15b89414456e0510600"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_b54ee41352bd40cab086f80218d31f0a","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-17T19:42:22Z","default_carbon_offset":false,"has_elevate_access":false,"children":[]}'
  recorded_at: Wed, 17 May 2023 19:42:23 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652e1fe0dc9c0100070f74
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6327f48393b306fc344fd23d50289bb"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:20Z","id":"ak_8ea8950ecb1443d9a13009368c77fdf3"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:20Z","id":"ak_61f8f0824ad444ad96448ecf8ae0c613"}],"children":[]},{"id":"user_b54ee41352bd40cab086f80218d31f0a","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-17T19:42:22Z","id":"ak_825b13157cad4d88bf2f9fa2f1400cf2"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-17T19:42:22Z","id":"ak_2ccb16326dae4f31872210caf58c998e"}],"children":[]}]}'
  recorded_at: Wed, 17 May 2023 19:42:23 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_b54ee41352bd40cab086f80218d31f0a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652e1fe0dc9c0200070fa9
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 May 2023 19:42:23 GMT
recorded_with: VCR 6.1.0
