---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f5a1f0456298f920ea43ebb300db9777
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18024e4cde702fde15dcd1444d4c7ab3"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","object":"User","parent_id":null,"name":"Ryan
        Nguyen","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-23T17:43:47Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>"}'
  recorded_at: Thu, 02 Jun 2022 17:53:36 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b
    body:
      encoding: UTF-8
      string: '{"user":{"name":"New Test Name"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f5a1f0486298f920ea43ebb400db9783
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ca1c40e13b7949115a4e2c9a519268b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202206020045-73e51fcbbc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 0910011e7e
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","object":"User","parent_id":null,"name":"New
        Test Name","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-23T17:43:47Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0325","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":"<REDACTED>"}'
  recorded_at: Thu, 02 Jun 2022 17:53:36 GMT
recorded_with: VCR 6.0.0
