---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fa9a2bd6637e8133e78755c9000da07e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a23c7856dd19c40be880fb8d215de5fe"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_aa87570426494fd88fe44fe53195f470","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-11-23T20:23:16Z","default_carbon_offset":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2022-11-23T20:23:16Z","active":true,"id":"ak_6dd0fbcc851f4dae83f55dc96cdfb531"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2022-11-23T20:23:16Z","active":true,"id":"ak_b21bc9d588334e939c6b75089575e8a3"}]}'
  recorded_at: Wed, 23 Nov 2022 20:23:16 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_aa87570426494fd88fe44fe53195f470
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fa9a2bdb637e8134e78755e2000da0f7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9c8d1884019faa876a45fa4e6a3a4f3"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_aa87570426494fd88fe44fe53195f470","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-11-23T20:23:16Z","default_carbon_offset":false,"children":[]}'
  recorded_at: Wed, 23 Nov 2022 20:23:16 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fa9a2bd6637e8134e78755e3000da119
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"258365e0dfebc2357a1e429b397d948a"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_aa87570426494fd88fe44fe53195f470","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-11-23T20:23:16Z","id":"ak_6dd0fbcc851f4dae83f55dc96cdfb531"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-11-23T20:23:16Z","id":"ak_b21bc9d588334e939c6b75089575e8a3"}],"children":[]}]}'
  recorded_at: Wed, 23 Nov 2022 20:23:16 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_aa87570426494fd88fe44fe53195f470
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - fa9a2bdc637e8135e78755e4000da135
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 23 Nov 2022 20:23:17 GMT
recorded_with: VCR 6.0.0
