---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7766a7db35e799e562005a61f6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"user_76657ba84d304e648a3e6a626dad95f0","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2024-07-29T18:11:01Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-07-29T18:11:01Z","active":true,"id":"ak_6bcecb87f8474ef19f18c085888ce9e5"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-07-29T18:11:01Z","active":true,"id":"ak_1ddf8706ae4b4272ae87e839df9b1e58"}]}'
  recorded_at: Mon, 29 Jul 2024 18:11:01 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_76657ba84d304e648a3e6a626dad95f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7db36e799e563005a62e3
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jul 2024 18:11:01 GMT
recorded_with: VCR 6.1.0
