---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 44f9e900624f6299e787cd420012fc84
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c90e918c2a00c8d2b2bf3215a7ff6e9b"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","object":"User","parent_id":null,"name":"EasyPost
        Ruby Client Library Tests","phone_number":"5555555555","verified":true,"created_at":"2017-03-01T22:57:19Z","balance":"0.00000","price_per_shipment":"0.01000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0","default_insurance_amount":null,"insurance_fee_rate":"0.01","insurance_fee_minimum":"1.00","email":"dev+easypost-ruby@easypost.com","children":[{"id":"user_9d4d2aba00d44f1db487583c3967764f","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"8005550100","verified":true,"created_at":"2022-02-24T17:23:16Z","children":[]}]}'
  recorded_at: Thu, 07 Apr 2022 22:15:53 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_9d4d2aba00d44f1db487583c3967764f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 44f9e902624f6299e787cd430012fc9c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3948e310f82a231e81f22489557c0e9c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_9d4d2aba00d44f1db487583c3967764f","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"8005550100","verified":true,"created_at":"2022-02-24T17:23:16Z","children":[]}'
  recorded_at: Thu, 07 Apr 2022 22:15:54 GMT
recorded_with: VCR 6.1.0
