---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f5266ce7872ef900281172
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bec178247a09cb4b887faa0aa411e73b"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_2326108861984b19b05f19a862a24d0e","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-08-11T15:55:24Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:55:24 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_2326108861984b19b05f19a862a24d0e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f5266de7872f18002811bc
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Aug 2022 15:55:25 GMT
recorded_with: VCR 6.0.0
