---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba85e7898307000885b5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4a4c6e978155b0a519f722e32b9caec"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_bc2d80d61ce14037a5238d707823b88b","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-08-09T19:50:29Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Tue, 09 Aug 2022 19:50:29 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_bc2d80d61ce14037a5238d707823b88b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b762f2ba86e789830800088602
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Aug 2022 19:50:30 GMT
recorded_with: VCR 6.0.0
