---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f52671e7872f3d00281383
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9457ae6dfbf010d120246b1b03c68603"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":"<REDACTED>","children":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:55:29 GMT
recorded_with: VCR 6.0.0
