---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba81e78982e900088427
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7071bae6db12646b3f0d49ffd6ccf65e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"user_6e07fbeab5714392bfa738f659fa8398","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-08-09T19:50:25Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Tue, 09 Aug 2022 19:50:26 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_6e07fbeab5714392bfa738f659fa8398
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b762f2ba82e78982ea00088492
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Aug 2022 19:50:26 GMT
recorded_with: VCR 6.0.0
