---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40e6e7873cbe00312409
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac2a18dbf94a9cd4875a98bc13b87ab6"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"user_6086bb59bde747a38cc3088d0b452696","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-05-12T17:16:22Z","children":"<REDACTED>","api_keys":"<REDACTED>"}'
  recorded_at: Thu, 12 May 2022 17:16:22 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_6086bb59bde747a38cc3088d0b452696
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40e7e7873cbf00312431
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 May 2022 17:16:23 GMT
recorded_with: VCR 6.0.0
