---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d96d15b3637d4b69e78a7de400680b76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7989a1c831a0c1d831c81b161f14a193"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_3b54c7607a564405b69ef20d72b72e1d","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-11-22T22:21:30Z","default_carbon_offset":false,"children":[],"api_keys":[]}'
  recorded_at: Tue, 22 Nov 2022 22:21:30 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_3b54c7607a564405b69ef20d72b72e1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d96d15b6637d4b6ae78a7de500680be0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e641172db35249f3ae0d51ca8f0615a9"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_3b54c7607a564405b69ef20d72b72e1d","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2022-11-22T22:21:30Z","default_carbon_offset":false,"children":[]}'
  recorded_at: Tue, 22 Nov 2022 22:21:30 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d96d15af637d4b6be78a7de600680bf9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e028724193a67bf4a21a90915e78e813"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[],"children":[{"id":"user_9d4d2aba00d44f1db487583c3967764f","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-24T17:23:16Z","id":"ak_990291d39bd3437a8ffe5926358941bb"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-24T17:23:16Z","id":"ak_6353305636a74f5298f04befc1a50255"}],"children":[]},{"id":"user_193ff0886351401a929e66e681bb3bee","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-04-19T15:52:02Z","id":"ak_97c3f4b0e57046dfa67608385cb93021"},{"object":"ApiKey","active":true,"key":"<REDA[...]
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_3b54c7607a564405b69ef20d72b72e1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - d96d15b4637d4b6be78a7dff00680c17
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Nov 2022 22:21:31 GMT
recorded_with: VCR 6.0.0
