---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d96d15b0637d4b69e78a7de200680b1c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"067d776338db063024149f05b6a2fca1"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","object":"User","parent_id":null,"name":"New
        Test Name","phone_number":"<REDACTED>","verified":true,"created_at":"2017-03-01T22:57:19Z","default_carbon_offset":false,"balance":"0.00000","price_per_shipment":"0.01000","recharge_amount":"100.00","secondary_recharge_amount":"100.00","recharge_threshold":"0.00","has_billing_method":false,"cc_fee_rate":"0.0","default_insurance_amount":null,"insurance_fee_rate":"0.01","insurance_fee_minimum":"1.00","email":"<REDACTED>","children":[{"id":"user_9d4d2aba00d44f1db487583c3967764f","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"8005550100","verified":true,"created_at":"2022-02-24T17:23:16Z","default_carbon_offset":false,"children":[]},{"id":"user_193ff0886351401a929e66e681bb3bee","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"8005550100","verified":true,"created_at":"2022-04-19T15:52:02Z","default_car[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d96d15b5637d4b69e78a7de300680b4e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a19e0870b986642bc6af4ea544f4abdf"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[],"children":[{"id":"user_9d4d2aba00d44f1db487583c3967764f","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-24T17:23:16Z","id":"ak_990291d39bd3437a8ffe5926358941bb"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-24T17:23:16Z","id":"ak_6353305636a74f5298f04befc1a50255"}],"children":[]},{"id":"user_193ff0886351401a929e66e681bb3bee","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-04-19T15:52:02Z","id":"ak_97c3f4b0e57046dfa67608385cb93021"},{"object":"ApiKey","active":true,"key":"<REDA[...]
