---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_9d4d2aba00d44f1db487583c3967764f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6e6217c100e7872f570039d85d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3948e310f82a231e81f22489557c0e9c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_9d4d2aba00d44f1db487583c3967764f","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"8005550100","verified":true,"created_at":"2022-02-24T17:23:16Z","children":[]}'
  recorded_at: Thu, 24 Feb 2022 17:31:44 GMT
recorded_with: VCR 6.0.0
