---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e1be0dc9bc400070e02
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"647fb1abc657c153405053f5a7910eed"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_eef2973268b14093915c791aab3ebecf","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-17T19:42:19Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-17T19:42:19Z","active":true,"id":"ak_dbc9621753aa49e9a9a89674906d4656"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-17T19:42:19Z","active":true,"id":"ak_562d7b78e7b247468db5205c3d548ac0"}]}'
  recorded_at: Wed, 17 May 2023 19:42:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_eef2973268b14093915c791aab3ebecf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652e1ce0dc9be300070e56
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 May 2023 19:42:20 GMT
recorded_with: VCR 6.1.0
