---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde865b00abde787e287000766fe
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"user_c6fda0f47b7644b8aab7331a7f9968e0","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2024-01-23T18:51:41Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2024-01-23T18:51:41Z","active":true,"id":"ak_a4d8950bd3774ab19ac15de077ea40d0"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2024-01-23T18:51:41Z","active":true,"id":"ak_49cea332d3db4b03bafc276b582db0fd"}]}'
  recorded_at: Tue, 23 Jan 2024 18:51:42 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_c6fda0f47b7644b8aab7331a7f9968e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - e77cddea65b00abee787e28b000767e6
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 23 Jan 2024 18:51:42 GMT
recorded_with: VCR 6.2.0
