---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e4a9ec83fc1c0037f98d
      Location:
      - "/api/v2/shipments/shp_881cb3fc9c4846809aa3a886961465a1"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc12e324d6df064f16656943011bd042"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:34:01Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130479019","updated_at":"2022-07-28T19:34:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3b86aa1c0eac11eda1a8ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:34:01+00:00","updated_at":"2022-07-28T19:34:01+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1ed917e584b64025b351a31bad1a7c4e","object":"Parcel","created_at":"2022-07-28T19:34:01Z","updated_at":"2022-07-28T19:34:01Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d99b9ca505c747588c5ead6193a300bb","created_at":"2022-07-28T19:34:02Z","updated_at":"2022-07-28T19:34:02Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:34:02Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/42c3e4a40d1248c59143a1d8a25fa063.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_918d418a538f45b696582662606f0110","object":"Rate","created_at":"2022-07-28T19:34:01Z","updated_at":"2022-07-28T19:34:01Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_881cb3fc9c4846809aa3a886961465a1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_beb4f565256f4f46b3480942c6e23f0a","object":"Rate","created_at":"2022-07-28T19:34:01Z","updated_at":"2022-07-28T19:34:01Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_881cb3fc9c48468[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_881cb3fc9c4846809aa3a886961465a1/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e4aaec725edc0037fa0b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a9afb01cda02592e5aebbbec1ac2d51"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-[...]
