---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f262d994caec4c886d001c51f4
      Location:
      - "/api/v2/shipments/shp_368abbcae6524724b4ffcb64fac41ad6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ceffad74ca68ce1c132e86ae8d3caee"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:50Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:02:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_552a4a4736f849e8a3c1904200fe72a8","object":"CustomsInfo","created_at":"2022-07-21T18:02:50Z","updated_at":"2022-07-21T18:02:50Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_9fdf74dbfb3740c79d9d5c07d73bde8a","object":"CustomsItem","created_at":"2022-07-21T18:02:50Z","updated_at":"2022-07-21T18:02:50Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_5598ae4b091f11edb325ac1f6bc7b362","object":"Address","created_at":"2022-07-21T18:02:50+00:00","updated_at":"2022-07-21T18:02:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_07e254d97f8e4d5e81edc17c76c142d0","object":"Parcel","created_at":"2022-07-21T18:02:50Z","updated_at":"2022-07-21T18:02:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9dcfb89b7eee4b8b9fa0223489ab17b2","object":"Rate","created_at":"2022-07-21T18:02:50Z","updated_at":"2022-07-21T18:02:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_368abbcae6524724b4ffcb64fac41ad6","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ac9a322e81ee48cf8b979693fd0907fe","object":"Rate","created_at":"2022-07-21T18:02:50Z","updated_at":"2022-07-21T18:02:50Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_368abbcae6524724b4f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_368abbcae6524724b4ffcb64fac41ad6/rerate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f762d994cafa916551001c5218
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7c18e5d70d869e450[...]
