---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c91b106567ccd8ee6a44ac00a5b506
      Location:
      - "/api/v2/shipments/shp_b9670cac73c64cfb98330a5ff31899ab"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-29T23:44:24Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286704355","updated_at":"2023-11-29T23:44:25Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3a3b14918f1111ee975dac1f6bc539ae","object":"Address","created_at":"2023-11-29T23:44:24+00:00","updated_at":"2023-11-29T23:44:24+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_25bc799e4c5e4569aac890df4a302336","object":"Parcel","created_at":"2023-11-29T23:44:24Z","updated_at":"2023-11-29T23:44:24Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2e770e5cc45545618934c819846d0a6b","created_at":"2023-11-29T23:44:25Z","updated_at":"2023-11-29T23:44:25Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-29T23:44:25Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231129/e86bf9b0723a884bb28a85b5cf3f694bbc.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a95cd01a1a834b98a83fd440377f1a25","object":"Rate","created_at":"2023-11-29T23:44:25Z","updated_at":"2023-11-29T23:44:25Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b9670cac73c64cfb98330a5ff31899ab","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_0c5a630a995c4117b2e77e3dc3046cfc","object":"Rate","created_at":"2023-11-29T23:44:25Z","updated_at":"2023-11-29T23:44:25Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_b9670cac73c6[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b9670cac73c64cfb98330a5ff31899ab/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9596567ccd9ee6d8f5300acf9ac
      Location:
      - "/api/v2/shipments/shp_b9670cac73c64cfb98330a5ff31899ab/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202311250013-a0f06[...]
