---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d75ebaf148fb1d33bb000ad546
      Location:
      - "/api/v2/shipments/shp_7ec1f6a7cbac4673b329c9958093936f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:08Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:08Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6e39fd84bd2042cea5b997cf5202d854","object":"Address","created_at":"2020-05-12T18:56:08Z","updated_at":"2020-05-12T18:56:08Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2c1e400865f74b48801a790a5b92335f","object":"Parcel","created_at":"2020-05-12T18:56:08Z","updated_at":"2020-05-12T18:56:08Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_22b97cfea4584e07b886bec4ccdc8fb6","object":"Rate","created_at":"2020-05-12T18:56:09Z","updated_at":"2020-05-12T18:56:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7ec1f6a7cbac4673b329c9958093936f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1554f701777148b489fe53be3ef37726","object":"Rate","created_at":"2020-05-12T18:56:09Z","updated_at":"2020-05-12T18:56:09Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_7ec1f6a7cbac4673b329c9958093936f","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_7ec1f6a7cbac4673b329c9958093936f/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_1554f701777148b489fe53be3ef37726"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc65ebaf149fb0a9fc1000b8784
      Content-Type:
      - application/json; [...]
