---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 70c91b0f6567ccc0ee5c0b9a00a59f71
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-11-29T23:37:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100105442286702825","updated_at":"2023-11-29T23:42:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_36d435958f1011eeb2b2ac1f6bc539aa","object":"Address","created_at":"2023-11-29T23:37:09+00:00","updated_at":"2023-11-29T23:37:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a9b0cebaeaa348c6ab1d40b0f360353d","object":"Parcel","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c041dabc23ef4752bf12fc9d2e9e70a1","created_at":"2023-11-29T23:37:10Z","updated_at":"2023-11-29T23:37:10Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-29T23:37:10Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231129/e85288d7d79eae46dea31120ef08eb46cf.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c96b7efed32349a592cc541c657c0462","object":"Rate","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b15dd082b439438480fc44343521a1cc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f1133e1fa80740918231cc80427ca6e9","object":"Rate","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_b15dd082b439[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"before_id":"shp_61fe2922f19c404c918e7e88f41882c6"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9576567ccc1ee5af2fb00ace402
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-11-29T23:36:54Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"delivered","tracking_code":"9400100105442286702726","updated_at":"2023-11-29T23:41:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_3b47fc84a111458ea2af5acb423ae40e","object":"CustomsInfo","created_at":"2023-11-29T23:36:54Z","updated_at":"2023-11-29T23:36:54Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_127ab80e743d4ba884de1583f08cde21","object":"CustomsItem","created_at":"2023-11-29T23:36:54Z","updated_at":"2023-11-29T23:36:54Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_2db07b218f1011eebfd5ac1f6bc53342","object":"Address","created_at":"2023-11-29T23:36:54+00:00","updated_at":"2023-11-29T23:36:54+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insu[...]
