---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287145ebaf151fb45548b000f4b6a
      Location:
      - "/api/v2/addresses/adr_ab0d67622c1e46f7b847d1f6a203682d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_ab0d67622c1e46f7b847d1f6a203682d","object":"Address","created_at":"2020-05-12T18:56:17Z","updated_at":"2020-05-12T18:56:17Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:56:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d55ebaf152fb0a0299000ad814
      Location:
      - "/api/v2/parcels/prcl_536635bd7014481caf305b10b2ceb540"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_536635bd7014481caf305b10b2ceb540","object":"Parcel","created_at":"2020-05-12T18:56:18Z","updated_at":"2020-05-12T18:56:18Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 12 May 2020 18:56:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_ab0d67622c1e46f7b847d1f6a203682d"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"id":"prcl_536635bd7014481caf305b10b2ceb540"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc55ebaf152fb1cb3dd000b89b0
      Location:
      - "/api/v2/shipments/shp_dc1b46f59ffa4b72a61f53f3bbeaf9a1"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1014511401bf4df6a8ef567fa35bca57","object":"Address","created_at":"2020-05-12T18:56:18Z","updated_at":"2020-05-12T18:56:18Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_536635bd7014481caf305b10b2ceb540","object":"Parcel","created_at":"2020-05-12T18:56:18Z","updated_at":"2020-05-12T18:56:18Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0be285ebb75e4af4a581ba4598184025","object":"Rate","created_at":"2020-05-12T18:56:19Z","updated_at":"2020-05-12T18:56:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_dc1b46f59ffa4b72a61f53f3bbeaf9a1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fb9bad5cdd1b48098c78414f411304aa","object":"Rate","created_at":"2020-05-12T18:56:19Z","updated_at":"2020-05-12T18:56:19Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_dc1b46f59ffa4b72a61f53f3bbeaf9a1","car[...]
