---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=Airport%20Shipping&shipment[to_address][street1]=601%20Brasilia%20Avenue&shipment[to_address][city]=Kansas%20City&shipment[to_address][state]=MO&shipment[to_address][zip]=64153&shipment[to_address][phone]=314-924-0383&shipment[to_address][email]=kansas_shipping%40example.com&shipment[from_address][company]=EasyPost&shipment[from_address][street1]=164%20Townsend%20Street&shipment[from_address][street2]=Unit%201&shipment[from_address][city]=San%20Francisco&shipment[from_address][state]=CA&shipment[from_address][zip]=94107&shipment[from_address][phone]=415-123-4567&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d41fc9becd2000df2ca
      Location:
      - "/api/v2/shipments/shp_b45c0d08320c4f75ade4384d06852b4d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:01:05Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:01:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6edef8a596154e71979c84704ff1138a","object":"Address","created_at":"2020-04-24T16:01:05Z","updated_at":"2020-04-24T16:01:05Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_63bd70a7bff147cb88ec99c1fb3b445f","object":"Parcel","created_at":"2020-04-24T16:01:05Z","updated_at":"2020-04-24T16:01:05Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a92a97c9c7a84fbb82722f49d19b668d","object":"Rate","created_at":"2020-04-24T16:01:05Z","updated_at":"2020-04-24T16:01:05Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_b45c0d08320c4f75ade4384d06852b4d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_659d26cceca34a2b93f643e9d9febbd9","object":"Rate","created_at":"2020-04-24T16:01:05Z","updated_at":"2020-04-24T16:01:05Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b45c0d08320c4f75ade4384d06852b4d","carrier[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b45c0d08320c4f75ade4384d06852b4d/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_a92a97c9c7a84fbb82722f49d19b668d
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d42fc9becea000df361
      Content-Type:
      - application/[...]
