---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f462d994d0ec4da156001c545d
      Location:
      - "/api/v2/shipments/shp_be8ee202e5ef4fe995ba113305fd9ea1"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a98ae656bcccdc8387a2c87fda01ff60"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129347893","updated_at":"2022-07-21T18:02:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_59241473091f11edb42fac1f6bc7b362","object":"Address","created_at":"2022-07-21T18:02:56+00:00","updated_at":"2022-07-21T18:02:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_fcc8145d8bdf4a5895c45a8f599b64b1","object":"Parcel","created_at":"2022-07-21T18:02:56Z","updated_at":"2022-07-21T18:02:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d2803a37a4a049ffb0a21b5e3c634bd7","created_at":"2022-07-21T18:02:56Z","updated_at":"2022-07-21T18:02:56Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:02:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/52dfbfcf6dce4bb7bfbb38828db2b516.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f188e265f1864d5982ace83d190521e1","object":"Rate","created_at":"2022-07-21T18:02:56Z","updated_at":"2022-07-21T18:02:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_be8ee202e5ef4fe995ba113305fd9ea1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1e5af5f870f549f39de11aa6bdbfea52","object":"Rate","created_at":"2022-07-21T18:02:56Z","updated_at":"2022-07-21T18:02:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_be8ee202e5ef4fe995b[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_be8ee202e5ef4fe995ba113305fd9ea1/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f262d994d1ec9682b7001c54cd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b8c4582fd259042408[...]
