---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d544d2f26216d0f2e78b92000000cd9f
      Location:
      - "/api/v2/shipments/shp_f1323bda788e451092ce6b3179fe82dd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c51482fa2b7b08e22c3b6933d04f9d70"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T00:27:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108767578","updated_at":"2022-02-24T00:27:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8d4586a0950811ecb866ac1f6bc7b362","object":"Address","created_at":"2022-02-24T00:27:30+00:00","updated_at":"2022-02-24T00:27:30+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1dece1e4eb8a49048c78d17557b61766","object":"Parcel","created_at":"2022-02-24T00:27:30Z","updated_at":"2022-02-24T00:27:30Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0575815d30234c4d8cacac1fa2be4324","created_at":"2022-02-24T00:27:31Z","updated_at":"2022-02-24T00:27:31Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-24T00:27:31Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220224/de1ace2577a84ae28d0c881dbda53d67.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_38b7981b1d1043dc92e1ef0a6b26cc14","object":"Rate","created_at":"2022-02-24T00:27:30Z","updated_at":"2022-02-24T00:27:30Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f1323bda788e451092ce6b3179fe82dd","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1d21df64abe142b7bb4cc4b0e30c31ed","object":"Rate","created_at":"2022-02-24T00:27:30Z","updated_at":"2022-02-24T00:27:30Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f1323bda788e451092ce6b3179fe82dd","carrier_ac[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_f1323bda788e451092ce6b3179fe82dd/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d544d2f06216d0f3e78b92010000cddf
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cfbefbb72f5c61a04f493147c73ba79f"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
   [...]
