---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f662d99635fa91edac001d0d34
      Location:
      - "/api/v2/shipments/shp_90774d24afeb466a92697539db5b2097"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5620a34472da7870d3caa3489a59875"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:08:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2de874dd092011ed9694ac1f6bc7bdc6","object":"Address","created_at":"2022-07-21T18:08:53+00:00","updated_at":"2022-07-21T18:08:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_61d7bef2739b4335a703b22ea69692d5","object":"Parcel","created_at":"2022-07-21T18:08:53Z","updated_at":"2022-07-21T18:08:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e6b618de5b614511881dbec41a453db4","object":"Rate","created_at":"2022-07-21T18:08:53Z","updated_at":"2022-07-21T18:08:53Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_90774d24afeb466a92697539db5b2097","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_12f793cc43f84fb49cff8a2d6ad1a7cc","object":"Rate","created_at":"2022-07-21T18:08:53Z","updated_at":"2022-07-21T18:08:53Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_90774d24afeb466a926975[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_90774d24afeb466a92697539db5b2097/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f362d99635ec73f31b001d0d53
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbc42003f55cfa88185eb38b7b7df68e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-07-21T18:08:53Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_e6b618de5b614511881dbec41a453db4","list_currency":"USD","list_rate":7.22,"mode":"test","object":"Rate","rate":7.22,"retail_currency":"USD","retail_rate":7.22,"service":"ParcelSelect","shipment_id":"shp_90774d24afeb466a92697539db5b2097","time_in_transit":{"percentile_50":2,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":5,"percentile_97":6,"percentile_99":8},"updated_at":"2022-07-21T18:08:53Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-07-21T18:08:53Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_12f793cc43f84fb49cff8a2d6ad1a7cc","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_90774d24afeb466a92697539db5b20[...]
