---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40d3e7873c4000311df1
      Location:
      - "/api/v2/shipments/shp_36a297cec85e4010b0a33dbbb4011a00"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2dbd9f4c7fe7c064659f365bef6ff169"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:03Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_f059c724a3aa454e9f1e0067c9c5e80a","object":"CustomsInfo","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b4b9eb394b2f4d04a7f6d0ebe5fa733f","object":"CustomsItem","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_33cd3996d21711ecab0aac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:16:03+00:00","updated_at":"2022-05-12T17:16:03+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6942bbfed5b84e89b3dbc6693c7145b0","object":"Parcel","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e77e1e05b62541db820314e21f001858","object":"Rate","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_36a297cec85e4010b0a33dbbb4011a00","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1dd101b25e604ac294a62b6ac2a980fa","object":"Rate","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_36a297cec85e401[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_36a297cec85e4010b0a33dbbb4011a00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40d4e7873c4100311e1e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2dbd9f4c7fe7c064659f365be[...]
