---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40e3e7873ca000312368
      Location:
      - "/api/v2/shipments/shp_59fd81513cb34c1e8f322a212102d822"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f6c37d2433012fc5bea2b1f18e8bd7b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:20Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3d891bdcd21711ec9aaeac1f6b0a0d1e","object":"Address","created_at":"2022-05-12T17:16:20+00:00","updated_at":"2022-05-12T17:16:20+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_afe4b62a14df495bbf231fca777f117e","object":"Parcel","created_at":"2022-05-12T17:16:20Z","updated_at":"2022-05-12T17:16:20Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_06da5c4fdd5643b8a717465fb4201dbd","object":"Rate","created_at":"2022-05-12T17:16:20Z","updated_at":"2022-05-12T17:16:20Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_59fd81513cb34c1e8f322a212102d822","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_0ba4d7a2006a4012abeef7255f7c3d7d","object":"Rate","created_at":"2022-05-12T17:16:20Z","updated_at":"2022-05-12T17:16:20Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_59fd81513cb[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_59fd81513cb34c1e8f322a212102d822/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40e4e7873ca100312381
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"335d431ecd1f43e9b9b2caba2b2195c6"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-05-12T17:16:20Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_06da5c4fdd5643b8a717465fb4201dbd","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_59fd81513cb34c1e8f322a212102d822","time_in_transit":{"percentile_50":1,"percentile_75":1,"percentile_85":1,"percentile_90":2,"percentile_95":2,"percentile_97":2,"percentile_99":3},"updated_at":"2022-05-12T17:16:20Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-05-12T17:16:20Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_0ba4d7a2006a4012abeef7255f7c3d7d","list_currency":"USD","list_rate":23.75,"mode":"test","object":"Rate","rate":23.75,"retail_currency":"USD","retail_rate":27.4,"service":"Express","shipment_id":"shp_59fd81513cb34c1e8f32[...]
