---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e4a5ec3b7c980037f81c
      Location:
      - "/api/v2/shipments/shp_9cbcd22d78bc47509c657d5c76862211"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9b00dbd7551ee8d1891dc65091a7f67"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:57Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-28T19:33:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_7af7159fa07b462e833c2846a01a9d17","object":"CustomsInfo","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_f3935e5d0e104151a6938f099dbf7b03","object":"CustomsItem","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_3910de320eac11ed9ea3ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:57+00:00","updated_at":"2022-07-28T19:33:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9cf463a308bf461bb91dd56869789a41","object":"Parcel","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_eac39f983a79455084d49d04a6a318dc","object":"Rate","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9cbcd22d78bc47509c657d5c76862211","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c8bb54822a33414f9f65089fc203c987","object":"Rate","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9cbcd22d78b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9cbcd22d78bc47509c657d5c76862211/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7a62e2e4a5ec75b5e40037f845
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67f280d7c2bb27210084235384a9e140"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"rates":[{"id":"rate_73b1d624995e4faaabd5c00f6a726ead","object":"Rate","created_at":"2022-07-28T19:33:57Z","updated_at":"2022-07-28T19:33:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"deli[...]
