---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29f1998c63238128e788ea210014a4f5
      Location:
      - "/api/v2/shipments/shp_8d564f820d594e59b28cdf32e283d147"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27c1d7339fc328e3e00bca82acf99eba"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209151807-6075a793a4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-15T19:46:48Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-09-15T19:46:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_233a17c4352f11eda48eac1f6b0a0d1e","object":"Address","created_at":"2022-09-15T19:46:48+00:00","updated_at":"2022-09-15T19:46:48+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b405cb00fe7f4b33b4a26d2ed218488c","object":"Parcel","created_at":"2022-09-15T19:46:48Z","updated_at":"2022-09-15T19:46:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9f2bf12da05147fe98c26a68a23594e2","object":"Rate","created_at":"2022-09-15T19:46:49Z","updated_at":"2022-09-15T19:46:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8d564f820d594e59b28cdf32e283d147","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7b8bcd30357b4992a19dba8c13106b58","object":"Rate","created_at":"2022-09-15T19:46:49Z","updated_at":"2022-09-15T19:46:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":fa[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_8d564f820d594e59b28cdf32e283d147/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_c597e4287cac434ba1e47d3876093507"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 29f1998e63238129e788ea220014a53f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ba3d1fea0c95aab3d367633f3329efd"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209151807-6075a793a4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-15T19:46:48Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknow[...]
