---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab525ebaf14bfb431a69000d4ff1
      Location:
      - "/api/v2/shipments/shp_e57465ed85a14813816a30c888cfee13"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3e2777608b9e426e8ef70a5cf709babb","object":"Address","created_at":"2020-05-12T18:56:11Z","updated_at":"2020-05-12T18:56:11Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b7f0933500be46ee9974e4e624014d97","object":"Parcel","created_at":"2020-05-12T18:56:11Z","updated_at":"2020-05-12T18:56:11Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fae9dac4ce944673ac5cb5775f0ddf0d","object":"Rate","created_at":"2020-05-12T18:56:12Z","updated_at":"2020-05-12T18:56:12Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_e57465ed85a14813816a30c888cfee13","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5828b7a0bf144550be678851f90a8c49","object":"Rate","created_at":"2020-05-12T18:56:12Z","updated_at":"2020-05-12T18:56:12Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e57465ed85a14813816a30c888cfee13","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_e57465ed85a14813816a30c888cfee13/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_fae9dac4ce944673ac5cb5775f0ddf0d"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287125ebaf14cfb674c2d000f49f3
      Content-Type:
      - application/json; [...]
