---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7862e2e4b1ec8746410037fca8
      Location:
      - "/api/v2/shipments/shp_f8090f109ab74beb9d5534f6d34be944"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8cdf83bc2f3f5fa11ce7732dd54d0bd7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:34:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130479088","updated_at":"2022-07-28T19:34:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_40562ce30eac11edaacfac1f6b0a0d1e","object":"Address","created_at":"2022-07-28T19:34:09+00:00","updated_at":"2022-07-28T19:34:09+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_13b6ea75b99c45268be51e0776666bab","object":"Parcel","created_at":"2022-07-28T19:34:09Z","updated_at":"2022-07-28T19:34:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5a8ee611b2704f5c918eee5e66dc2480","created_at":"2022-07-28T19:34:09Z","updated_at":"2022-07-28T19:34:10Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:34:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/f043984cf8eb44e5ae8beb3c699a53ee.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9f5f746955a647818d1f51da0ad99ee7","object":"Rate","created_at":"2022-07-28T19:34:09Z","updated_at":"2022-07-28T19:34:09Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f8090f109ab74beb9d5534f6d34be944","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bc1a68b7a7274a379b9b339756e67d7a","object":"Rate","created_at":"2022-07-28T19:34:09Z","updated_at":"2022-07-28T19:34:09Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f8090f109ab74be[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_f8090f109ab74beb9d5534f6d34be944/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7562e2e4b2ec4f31740037fd07
      Location:
      - "/api/v2/shipments/shp_f8090f109ab74beb9d5534f6d34be944/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89dc41989a90658183365fb2194db1ff"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:34:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130479088","updated_at":"2022-07-28T19:34:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":[...]
