---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708162d994c6fa8fa264001e5620
      Location:
      - "/api/v2/addresses/adr_5314780e091f11ed9842ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdebc34eb3859603809<REDACTED>0bfccc294c"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_5314780e091f11ed9842ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:02:46+00:00","updated_at":"2022-07-21T18:02:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 21 Jul 2022 18:02:46 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76707d62d994c6ec8469f1001e563e
      Location:
      - "/api/v2/parcels.prcl_4cd248ed1c3741748f4cdc3204eaf433"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e918f0ba5f41bac729f284b0588be04"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_4cd248ed1c3741748f4cdc3204eaf433","object":"Parcel","created_at":"2022-07-21T18:02:46Z","updated_at":"2022-07-21T18:02:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 21 Jul 2022 18:02:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_5314780e091f11ed9842ac1f6bc72124"},"to_address":{"id":"adr_532a05fc091f11eda317ac1f6b0a0d1e"},"parcel":{"id":"prcl_4cd248ed1c3741748f4cdc3204eaf433"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708062d994c6ec3ec6d6001e5648
      Location:
      - "/api/v2/shipments/shp_1fd6329dd3d44c62b88856ca627f9cea"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f354a0207ef23288f9c57cf829aaad3"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:02:46Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5314780e091f11ed9842ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:02:46+00:00","updated_at":"2022-07-21T18:02:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4cd248ed1c3741748f4cdc3204eaf433","object":"Parcel","created_at":"2022-07-21T18:02:46Z","updated_at":"2022-07-21T18:02:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b69399ca59c84069bd455fa8bdddc1d9","object":"Rate","created_at":"2022-07-21T18:02:46Z","updated_at":"2022-07-21T18:02:46Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1fd6329dd3d44c62b88856ca627f9cea","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ff7addf4f00f4f8e97615b7a7b396b2a","object":"Rate","created_at":"2022-07-21T18:02:46Z","updated_at":"2022-07-21T18:02:46Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1fd6329dd3d44c62b88856[...]
