---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba72e789827f00087d6f
      Location:
      - "/api/v2/shipments/shp_d8f045e9e64f4c2dbe693029dbfa933d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4dc9aa06373a46f6aa89d5e4300a306"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:50:10Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422860","updated_at":"2022-08-09T19:50:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7a568f41181c11edaad8ac1f6bc72124","object":"Address","created_at":"2022-08-09T19:50:10+00:00","updated_at":"2022-08-09T19:50:10+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a9953736d088453ea46ce4469e50d383","object":"Parcel","created_at":"2022-08-09T19:50:10Z","updated_at":"2022-08-09T19:50:10Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_dd981de731524dc0a3e11977e9e34c4d","created_at":"2022-08-09T19:50:11Z","updated_at":"2022-08-09T19:50:11Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:50:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/074dd961a93848df9e3e7cdee334816d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b7bc2454f3244435b854abf3d89b1b64","object":"Rate","created_at":"2022-08-09T19:50:11Z","updated_at":"2022-08-09T19:50:11Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d8f045e9e64f4c2dbe693029dbfa933d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_216e137b23f74dfab52185235e804d36","object":"Rate","created_at":"2022-08-09T19:50:11Z","updated_at":"2022-08-09T19:50:11Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d8f045e9e64f4c2dbe6930[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_d8f045e9e64f4c2dbe693029dbfa933d/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba74e789828000087ded
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"108b2f269a46b12f5e5[...]
