---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba6de7897f6800087b0f
      Location:
      - "/api/v2/shipments/shp_d16ddeeaa6884f7fb5dace475de33eeb"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2597abdc4c8b706efb296717de4ab8fa"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:50:05Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-09T19:50:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_7a8720d7b1ab44119e392ea87d498acf","object":"CustomsInfo","created_at":"2022-08-09T19:50:05Z","updated_at":"2022-08-09T19:50:05Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b585d8da2c604e408103cb7c8388f0a8","object":"CustomsItem","created_at":"2022-08-09T19:50:05Z","updated_at":"2022-08-09T19:50:05Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_772268d1181c11ed8da7ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:50:05+00:00","updated_at":"2022-08-09T19:50:05+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1d0ed496ae88450dbad669d9978ee4c8","object":"Parcel","created_at":"2022-08-09T19:50:05Z","updated_at":"2022-08-09T19:50:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_dc1260e4c8a941e3a4159f04e9160ac2","object":"Rate","created_at":"2022-08-09T19:50:05Z","updated_at":"2022-08-09T19:50:05Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d16ddeeaa6884f7fb5dace475de33eeb","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_40390acc1b254b538415e2d05fd422dd","object":"Rate","created_at":"2022-08-09T19:50:05Z","updated_at":"2022-08-09T19:50:05Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":fa[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d16ddeeaa6884f7fb5dace475de33eeb/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_9ec4d879a33947348d88dbb8b914bef4"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b862f2ba6de7897f6900087b46
      Content-Type:
      - a[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_d16ddeeaa6884f7fb5dace475de33eeb/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba6fe7897f6a00087bd2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ebc921c5c2639144d981cf76f9b5546c"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-[...]
