---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - dfe378856217b9a1e786abff00338039
      Location:
      - "/api/v2/shipments/shp_b7069d9267be40de9b7a1ff5951c4868"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"665c7ea92c3dde335d5405d505b51e48"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 88c34981dc
      - intlb1wdc 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T17:00:17Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-02-24T17:00:17Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_7dcc039e4a154c6484584435b466bc71","object":"CustomsInfo","created_at":"2022-02-24T17:00:17Z","updated_at":"2022-02-24T17:00:17Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_23cd37899bdd4634ab645467fb6ac068","object":"CustomsItem","created_at":"2022-02-24T17:00:17Z","updated_at":"2022-02-24T17:00:17Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_3e285b1c959311ecbf35ac1f6bc7b362","object":"Address","created_at":"2022-02-24T17:00:17+00:00","updated_at":"2022-02-24T17:00:17+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_eb4c7b393c6a42faaf1be7552a874b24","object":"Parcel","created_at":"2022-02-24T17:00:17Z","updated_at":"2022-02-24T17:00:17Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a08ecd428d7647be8d730eb4a5607f80","object":"Rate","created_at":"2022-02-24T17:00:17Z","updated_at":"2022-02-24T17:00:17Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b7069d9267be40de9b7a1ff5951c4868","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_32bfcac905dd41efad5a5b23e3c09caf","object":"Rate","created_at":"2022-02-24T17:00:17Z","updated_at":"2022-02-24T17:00:17Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b7069d9267be40de9b7a1ff5951c4868","ca[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b7069d9267be40de9b7a1ff5951c4868/rerate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d544d2f26217b9a2e786ac0000393496
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"975af18432a58[...]
