---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d6502af760b68d5be7873c5c00e5d4ab
      Location:
      - "/api/v2/shipments/shp_6b8442afa9084c7f9722dfbd9d821957"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48888cddb4f51a4396ea6c395ff84299"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202106011852-a4a5375853-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 15c8815ace
      - intlb2nuq 15c8815ace
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-06-01T19:41:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-06-01T19:41:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8bbeeb0325694c9d8af6a22bab140295","object":"Address","created_at":"2021-06-01T19:41:15+00:00","updated_at":"2021-06-01T19:41:15+00:00","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4da49d2705eb4a09aae6bc55a45dfe30","object":"Parcel","created_at":"2021-06-01T19:41:15Z","updated_at":"2021-06-01T19:41:15Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8ed93f58815a4bdcbc106473a84d22ee","object":"Rate","created_at":"2021-06-01T19:41:16Z","updated_at":"2021-06-01T19:41:16Z","mode":"test","service":"Express","carrier":"USPS","rate":"102.20","currency":"USD","retail_rate":"119.80","retail_currency":"USD","list_rate":"102.20","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6b8442afa9084c7f9722dfbd9d821957","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_12e2f86de5774d94909452de094cf54d","object":"Rate","created_at":"2021-06-01T19:41:17Z","updated_at":"2021-06-01T19:41:17Z","mode":"test","service":"Priority","carrier":"USPS","rate":"43.95","currency":"USD","retail_rate":"52.10","retail_currency":"USD","list_rate":"43.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6b8442afa9084c7f9722dfbd9d821957","carrier[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_6b8442afa9084c7f9722dfbd9d821957/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d6502af860b68d5de7873c5d00e5d55c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd8bc601e77c8bb3ff0fce56f01ccf56"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202106011852-a4a5375853-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 15c8815ace
      - intlb1nuq 15c8815ace
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-06-01T19:41:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_8ed93f58815a4bdcbc106473a84d22ee","list_currency":"USD","list_rate":102.2,"mode":"test","object":"Rate","rate":102.2,"retail_currency":"USD","retail_rate":119.8,"service":"Express","shipment_id":"shp_6b8442afa9084c7f9722dfbd9d821957","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":2,"percentile_90":3,"percentile_95":3,"percentile_97":4,"percentile_99":5},"updated_at":"2021-06-01T19:41:16Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-06-01T19:41:17Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_12e2f86de5774d94909452de094cf54d","list_currency":"USD","list_rate":43.95,"mode":"test","object":"Rate","rate":43.95,"retail_currency":"USD","retail_rate":52.1,"service":"Priority","shipment_id":"shp_6b8442afa9084c7f9722dfbd9[...]
