---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201e62e82ae2e789f9e20039479c
      Location:
      - "/api/v2/shipments/shp_2046085e90be4627ba80505e16d90bce"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de848f5806b54492a93b0506001037b6"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131077528","updated_at":"2022-08-01T19:34:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0780495b11d111ed97e4ac1f6bc7bdc6","object":"Address","created_at":"2022-08-01T19:34:59+00:00","updated_at":"2022-08-01T19:34:59+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_53e172333422481dbe9e371e16e3c4a4","object":"Parcel","created_at":"2022-08-01T19:34:59Z","updated_at":"2022-08-01T19:34:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f134d52b16cd4fa28bed1380104d12b2","created_at":"2022-08-01T19:34:59Z","updated_at":"2022-08-01T19:34:59Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:34:59Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/4e22da1a51a44af8b730bd0bea28bfa9.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7eca3bc36b6847e4afd456cb8f6f29d1","object":"Rate","created_at":"2022-08-01T19:34:59Z","updated_at":"2022-08-01T19:34:59Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2046085e90be4627ba80505e16d90bce","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a01687999e524bbaba42ee4818fcea49","object":"Rate","created_at":"2022-08-01T19:34:59Z","updated_at":"2022-08-01T19:34:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2046085e90b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_2046085e90be4627ba80505e16d90bce/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82ae4e789f9e300394824
      Location:
      - "/api/v2/shipments/shp_2046085e90be4627ba80505e16d90bce/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db9f3def26c7a725a6a65841ec02a1b1"
      X-Node:
      - bigweb6nuq
  [...]
