---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Sawyer Bateman","street1":"58 Larkspur Cres.","city":"St.
        Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"780-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287145ebaf141fb577a11000f4666
      Location:
      - "/api/v2/addresses/adr_efd07bbba63a459581766d561861ed16"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_efd07bbba63a459581766d561861ed16","object":"Address","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","name":"Sawyer
        Bateman","company":null,"street1":"58 Larkspur Cres.","street2":null,"city":"St.
        Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"7801234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:56:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d25ebaf141f53345de000ad343
      Location:
      - "/api/v2/parcels/prcl_8cb514ef2fd34614bb0e5cf98eb7eeb9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_8cb514ef2fd34614bb0e5cf98eb7eeb9","object":"Parcel","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 12 May 2020 18:56:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"customs_info":{"integrated_form_type":"form_2976","customs_certify":true,"customs_signer":"Dr.
        Pepper","contents_type":"gift","contents_explanation":"","eel_pfc":"NOEEI
        30.37(a)","non_delivery_option":"abandon","restriction_type":"none","restriction_comments":"","customs_items":[{"description":"EasyPost
        T-shirts","quantity":2,"value":23.56,"weight":20,"origin_country":"us","hs_tariff_number":123456}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc85ebaf141f5335a98000b856d
      Location:
      - "/api/v2/customs_infos/cstinfo_94045d993f0f4b0c8ae2f58bf168a436"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstinfo_94045d993f0f4b0c8ae2f58bf168a436","object":"CustomsInfo","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b139bb4963f044f9b2b4ac8f3d6a7666","object":"CustomsItem","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]}'
  recorded_at: Tue, 12 May 2020 18:56:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_efd07bbba63a459581766d561861ed16"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"id":"prcl_8cb514ef2fd34614bb0e5cf98eb7eeb9"},"customs_info":{"id":"cstinfo_94045d993f0f4b0c8ae2f58bf168a436"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab525ebaf142fb5537d0000d4d82
      Location:
      - "/api/v2/shipments/shp_56e045418fbb487d87b5e54f42a63d7f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:02Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_94045d993f0f4b0c8ae2f58bf168a436","object":"CustomsInfo","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b139bb4963f044f9b2b4ac8f3d6a7666","object":"CustomsItem","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_1e38596955d441838279f5e4ed2d92f2","object":"Address","created_at":"2020-05-12T18:56:02Z","updated_at":"2020-05-12T18:56:02Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8cb514ef2fd34614bb0e5cf98eb7eeb9","object":"Parcel","created_at":"2020-05-12T18:56:01Z","updated_at":"2020-05-12T18:56:01Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_66d85b9955a24f81929dc5fd0b88e297","object":"Rate","created_at":"2020-05-12T18:56:02Z","updated_at":"2020-05-12T18:56:02Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_56e045418fbb487d87b5e54f42a63d7f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e2b8f8a52b8b4dd0ac53ead16b88a7c8","object":"Rate","created_at":"2020-05-12T18:56:02Z","updated_at":"2020-05-12T18:56:02Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_56e045418fbb487d87b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_56e045418fbb487d87b5e54f42a63d7f/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_e2b8f8a52b8b4dd0ac53ead16b88a7c8"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287135ebaf143fb0bcd40000f46ff
      Content-Type:
      - application/json; [...]
