---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 8f65393e644ae741e0eb615f000ec59f
      Location:
      - "/api/v2/shipments/shp_970a9252a31c43cf872a3bbc62c535de"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6eff73867a43cdcdaa5c932f11341a1"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202304262213-c355efc2c4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-04-27T21:21:05Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_1c4eecb124f841d7a51e7e53cdda6cd8","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_f363eb4e1b194798b015a07598be6ed4","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_6924408886ad49ac9a8468804f2b52b7","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_3e92a82adac444a58f032ebcd8eb9028","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_2cdc6fb96d99484e8631d7c9620dec24","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_687017c7f80044ab942b697a9607c439","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_8031f3014d2b49dba089e5c14da57413","type":"rate_error","message":"Too
        Many Requests"},{"carrier":"UPS","carrier_account_id":"ca_e6db2c19d54c4025b852d0ad81ee7f4e","type":"rate_error","message":"Invalid
        Access License number"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2023-04-27T21:21:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_11ec1b87603c46fabcd5c83b7ef14edc","object":"CustomsInfo","created_at":"2023-04-27T21:21:05Z","updated_at":"2023-04-27T21:21:05Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_c70dba1d46374ab0ad7a7070750dd96f","object":"CustomsItem","created_at":"2023-04-27T21:21:05Z","updated_at":"2023-04-27T21:21:05Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_6b3c6f0fe54111ed88a7ac1f6bc7b362","object":"Address","created_at":"2023-04-27T21:21:05+00:00","updated_at":"2023-04-27T21:21:05+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6c3731c59c95424fa850f0b5482c23bd","object":"Parcel","created_at":"2023-04-27T21:21:05Z","updated_at":"2023-04-27T21:21:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b066c093e78f4cb899230f815e72870b","object":"Rate","created_at":"2023-04-27T21:21:05Z","updated_at":"2023-04-27T21:21:05Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.58","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_970a9252a31c43cf872a3bbc62c535de","carrier_account_id":"ca_f09befdb2e9c410e95c7622ea912c18c"},{"id":"rate_7e45cbff4ccc4a069752c84e072c5418","object":"Rate","created_at":"2023-04-27T21:21:05Z","updated_at":"2023-04-27T21:21:05Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_970a9252a31c43cf872a3bbc62c535de/smartrate/delivery_date
    body:
      encoding: UTF-8
      string: '{"planned_ship_date":"2023-04-28"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4987adc7644ae742e0eb6160000df9ca
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96aee13bd5e72697e63a852cfed779c8"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202304262213-c355efc2c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"rates":[{"easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":3,"percentile_90":3,"percentile_95":3,"percentile_97":3,"percentile_99":5},"easypost_estimated_delivery_date":"2023-05-01","planned_ship_date":"2023-04-28"},"rate":{"carrier":"USPS","carrier_account_id":"ca_f09befdb2e9c410e95c7622ea912c18c","created_at":"2023-04-27T21:21:05Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_b066c093e78f4cb899230f815e72870b","list_currency":"USD","list_rate":8.24,"mode":"test","object":"Rate","rate":7.58,"retail_currency":"USD","retail_rate":10.2,"service":"Priority","shipment_id":"shp_970a9252a31c4[...]
