---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7966a7db23e799e501005a4fac
      Location:
      - "/api/v2/shipments/shp_825de03c6d3f419ba303f029f2860fb4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:10:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068501429","updated_at":"2024-07-29T18:10:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_df0514c44dd511ef9dd1ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:10:43+00:00","updated_at":"2024-07-29T18:10:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8e94a2bf39f04755a0d6a5c5a80e59c4","object":"Parcel","created_at":"2024-07-29T18:10:43Z","updated_at":"2024-07-29T18:10:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a0bdf2c2b09c44ae98cf4b0b830706b2","created_at":"2024-07-29T18:10:44Z","updated_at":"2024-07-29T18:10:44Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:10:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e8da02e13c08a34454bb374d555401b608.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e3f9690e423946a0b92a11f121744901","object":"Rate","created_at":"2024-07-29T18:10:43Z","updated_at":"2024-07-29T18:10:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fa557a9aca644d1f8091e57c425ded7d","object":"Rate","created_at":"2024-07-29T18:10:43Z","updated_at":"2024-07-29T18:10:43Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f15c17fe9a9f46b8848ea2e43d97ba97","object":"Rate","created_at":"2024-07-29T18:10:43Z","updated_at":"2024-07-29T18:10:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_fa557a9aca644d1f8091e57c425ded7d","object":"Rate","created_at":"2024-07-29T18:10:44Z","updated_at":"2024-07-29T18:10:44Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_a930e85333e943e58a8d48b15c4863ae","object":"Tracker","mode":"test","tracking_code":"9400100110368068501429","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:10:44Z","updated_at":"2024-07-29T18:10:44Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_825de03c6d3f419ba303f029f2860fb4","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2E5MzBlODUzMzNlOTQzZTU4YThkNDhiMTVjNDg2M2Fl"},"to_address":{"id":"adr_df02e8c34dd511ef8f52ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:10:43+00:00","updated_at":"2024-07-29T18:10:43+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_df0514c44dd511ef9dd1ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:10:43+00:00","updated_at":"2024-07-29T18:10:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_df02e8c34dd511ef8f52ac1f6bc53342","object":"Address","created_at":"2024-07-29T18:10:43+00:00","updated_at":"2024-07-29T18:10:43+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_825de03c6d3f419ba303f029f2860fb4","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:10:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_825de03c6d3f419ba303f029f2860fb4/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7db25e799e502005a5131
      Location:
      - "/api/v2/shipments/shp_825de03c6d3f419ba303f029f2860fb4/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea2[...]
