---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7db12e799e1c8005a3da6
      Location:
      - "/api/v2/shipments/shp_59ef931b513047a3ba8c2e11d15ddf72"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:10:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068501337","updated_at":"2024-07-29T18:10:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d4e3132b4dd511ef89aaac1f6bc53342","object":"Address","created_at":"2024-07-29T18:10:26+00:00","updated_at":"2024-07-29T18:10:26+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_710e1e0f09794dca86fc57e4cfb7609d","object":"Parcel","created_at":"2024-07-29T18:10:26Z","updated_at":"2024-07-29T18:10:26Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_84d5ae8acc334ba8b61d5857d7f13634","created_at":"2024-07-29T18:10:27Z","updated_at":"2024-07-29T18:10:27Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:10:27Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e89e837e78ce9d43a39265d42b937d3212.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_25f49618dbae49f69f5ca02f2dd9de70","object":"Rate","created_at":"2024-07-29T18:10:26Z","updated_at":"2024-07-29T18:10:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_59ef931b513047a3ba8c2e11d15ddf72","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9e4b3b606f0e40fcafa7c47e9833bc75","object":"Rate","created_at":"2024-07-29T18:10:26Z","updated_at":"2024-07-29T18:10:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_59ef931b513047a3ba8c2e11d15ddf72","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_94fed78cf009491d95ce29b9571947a5","object":"Rate","created_at":"2024-07-29T18:10:26Z","updated_at":"2024-07-29T18:10:26Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_59ef931b513047a3ba8c2e11d15ddf72","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_94fed78cf009491d95ce29b9571947a5","object":"Rate","created_at":"2024-07-29T18:10:27Z","updated_at":"2024-07-29T18:10:27Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_59ef931b513047a3ba8c2e11d15ddf72","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_b94b2a22b2d14698bf8b10c738c9659f","object":"Tracker","mode":"test","tracking_code":"9400100110368068501337","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:10:27Z","updated_at":"2024-07-29T18:10:27Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_59ef931b513047a3ba8c2e11d15ddf72","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2I5NGIyYTIyYjJkMTQ2OThiZjhiMTBjNzM4Yzk2NTlm"},"to_address":{"id":"adr_d4e0b8754dd511ef97f4ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:10:26+00:00","updated_at":"2024-07-29T18:10:26+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_d4e3132b4dd511ef89aaac1f6bc53342","object":"Address","created_at":"2024-07-29T18:10:26+00:00","updated_at":"2024-07-29T18:10:26+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_d4e0b8754dd511ef97f4ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:10:26+00:00","updated_at":"2024-07-29T18:10:26+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_59ef931b513047a3ba8c2e11d15ddf72","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:10:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_59ef931b513047a3ba8c2e11d15ddf72/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7db14e799e1c9005a3edd
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:10:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068501337","updated_at":"2024-07-29T18:10:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":[...]
