---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52648e786c987002805ec
      Location:
      - "/api/v2/addresses/adr_eddd6768198d11ed9455ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8af39bf0d08e6d15929b6425760f5a9"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_eddd6768198d11ed9455ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:49+00:00","updated_at":"2022-08-11T15:54:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 11 Aug 2022 15:54:49 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52649e786c98900280610
      Location:
      - "/api/v2/parcels.prcl_97a67bb05eb644ca9c724cce69c74ca8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85b927d906b74a850f9f3406841d447b"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_97a67bb05eb644ca9c724cce69c74ca8","object":"Parcel","created_at":"2022-08-11T15:54:49Z","updated_at":"2022-08-11T15:54:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 11 Aug 2022 15:54:49 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_eddd6768198d11ed9455ac1f6bc7b362"},"to_address":{"id":"adr_ee063771198d11ed8906ac1f6bc72124"},"parcel":{"id":"prcl_97a67bb05eb644ca9c724cce69c74ca8"}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52649e786c9a100280622
      Location:
      - "/api/v2/shipments/shp_c9b34e534d4b4b54845a60e5ae02d514"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"109ef6f6b5ddbc4692e168b2264e5d68"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:49Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-08-11T15:54:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_eddd6768198d11ed9455ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:54:49+00:00","updated_at":"2022-08-11T15:54:49+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_97a67bb05eb644ca9c724cce69c74ca8","object":"Parcel","created_at":"2022-08-11T15:54:49Z","updated_at":"2022-08-11T15:54:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_aea24795275f41588fb4e2b6239848cd","object":"Rate","created_at":"2022-08-11T15:54:50Z","updated_at":"2022-08-11T15:54:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c9b34e534d4b4b54845a60e5ae02d514","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_df26d89bf2f74ba5a5382b6a0844e964","object":"Rate","created_at":"2022-08-11T15:54:50Z","updated_at":"2022-08-11T15:54:50Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,[...]
