---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f262d994cefa8d74e1001c53cb
      Location:
      - "/api/v2/shipments/shp_52c716057893483290d1169ab0361c20"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5eedc383fa446834d3b964c1767b532d"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:54Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129347886","updated_at":"2022-07-21T18:02:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_584a0cbe091f11eda4c5ac1f6b0a0d1e","object":"Address","created_at":"2022-07-21T18:02:54+00:00","updated_at":"2022-07-21T18:02:54+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0fd60514da914c98a33d62c6d13efd84","object":"Parcel","created_at":"2022-07-21T18:02:54Z","updated_at":"2022-07-21T18:02:54Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_03df31c01cdf45a2b8e27586bb276b4e","created_at":"2022-07-21T18:02:55Z","updated_at":"2022-07-21T18:02:55Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:02:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/32ca4639fb0d43c1822cf2be30606a0a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_bf844ddebbbc47978094c7e11d945f46","object":"Rate","created_at":"2022-07-21T18:02:54Z","updated_at":"2022-07-21T18:02:54Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_52c716057893483290d1169ab0361c20","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_15dd8f409f0e437db8fbff28d5cbf011","object":"Rate","created_at":"2022-07-21T18:02:54Z","updated_at":"2022-07-21T18:02:54Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_52c716057893483290d116[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_52c716057893483290d1169ab0361c20/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f262d994cfec4d902b001c542c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f966536715dcbf1051c35db38eb3e69"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-[...]
