---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f762d99638ec3dbabf001d0e7d
      Location:
      - "/api/v2/shipments/shp_e95a537a109b4951bd046ea2632d20d9"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"362c1adeaca975c196ab89c0200ab422"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129348616","updated_at":"2022-07-21T18:08:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2faa414c092011ed96c8ac1f6bc7bdc6","object":"Address","created_at":"2022-07-21T18:08:56+00:00","updated_at":"2022-07-21T18:08:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9a1e1d4d987e4a4eba901c4112be0b9a","object":"Parcel","created_at":"2022-07-21T18:08:56Z","updated_at":"2022-07-21T18:08:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2f707e32a0c64f7fa4000b56658147a3","created_at":"2022-07-21T18:08:56Z","updated_at":"2022-07-21T18:08:56Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:08:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/1b3d589ff923495ba05204770c7f27c5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_5668814a491245c1b8c1d942ed1da78e","object":"Rate","created_at":"2022-07-21T18:08:56Z","updated_at":"2022-07-21T18:08:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e95a537a109b4951bd046ea2632d20d9","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7552ca7876f04da789dd403accc498aa","object":"Rate","created_at":"2022-07-21T18:08:56Z","updated_at":"2022-07-21T18:08:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e95a537a109b495[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_e95a537a109b4951bd046ea2632d20d9/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f562d99639ec506c7d001d0f0d
      Location:
      - "/api/v2/shipments/shp_e95a537a109b4951bd046ea2632d20d9/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1291f2ebeca48391b23bca20706d26ee"
      X-Node:
      - bigweb6nuq
  [...]
