---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"tax_identifiers":[{"entity":"SENDER","tax_id_type":"IOSS","tax_id":"12345","issuing_country":"GB"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d544d2ed6216d0eee78b2ceb0000cccd
      Location:
      - "/api/v2/shipments/shp_7649af98faab464baead309c61eb65ca"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6abd4c2a57f38d7270d534e651e0323e"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T00:27:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-24T00:27:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8ab84489950811ecb0eaac1f6bc72124","object":"Address","created_at":"2022-02-24T00:27:26+00:00","updated_at":"2022-02-24T00:27:26+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f1dad38601bd4a1e87c894b346e43f66","object":"Parcel","created_at":"2022-02-24T00:27:26Z","updated_at":"2022-02-24T00:27:26Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_85b898458316436ea978732704226b46","object":"Rate","created_at":"2022-02-24T00:27:26Z","updated_at":"2022-02-24T00:27:26Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7649af98faab464baead309c61eb65ca","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_13b0e6752a1846ae8e909c8792c0d8f4","object":"Rate","created_at":"2022-02-24T00:27:26Z","updated_at":"2022-02-24T00:27:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7649af98faab464baead309c61eb65ca","ca[...]
