---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40d5e7873c4300311e82
      Location:
      - "/api/v2/shipments/shp_7b1b557d19884a8398001e75e50c13de"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c7c77d64803e2373de8646642d25058"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:05Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_104bb58a64d44a24a42088c9878b163e","object":"CustomsInfo","created_at":"2022-05-12T17:16:05Z","updated_at":"2022-05-12T17:16:05Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_cc6b9a6c13674f3dacc5522266fb7aaf","object":"CustomsItem","created_at":"2022-05-12T17:16:05Z","updated_at":"2022-05-12T17:16:05Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_34e77d23d21711ec9f8dac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:05+00:00","updated_at":"2022-05-12T17:16:05+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_969974ad64104a29a79077f91b189646","object":"Parcel","created_at":"2022-05-12T17:16:05Z","updated_at":"2022-05-12T17:16:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6361312db0364a66a2ab020233cefc55","object":"Rate","created_at":"2022-05-12T17:16:05Z","updated_at":"2022-05-12T17:16:05Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7b1b557d19884a8398001e75e50c13de","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3af7ed0900aa40ff80e8250e0a97d57d","object":"Rate","created_at":"2022-05-12T17:16:05Z","updated_at":"2022-05-12T17:16:05Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7b1b557d19884a8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_7b1b557d19884a8398001e75e50c13de/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_c9ff20ec60184ee288f0df5a6a0a4736"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40d5e7873c5b00311ea3
      Content-Type:
      - application/json; chars[...]
