---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82ad5e789f99b003940dc
      Location:
      - "/api/v2/shipments/shp_c83ce86294bd4382ae942f39f7db4451"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2f927a5068af6288fe59b42bb82c504"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:45Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-01T19:34:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_43d8bd55b1204289bc7bdadc532637e7","object":"CustomsInfo","created_at":"2022-08-01T19:34:45Z","updated_at":"2022-08-01T19:34:45Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_4285740c8a234727a26c141139109b26","object":"CustomsItem","created_at":"2022-08-01T19:34:45Z","updated_at":"2022-08-01T19:34:45Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_ff5ac37f11d011eda4e3ac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:34:45+00:00","updated_at":"2022-08-01T19:34:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a02d02235797434a89505dc79c061e1b","object":"Parcel","created_at":"2022-08-01T19:34:45Z","updated_at":"2022-08-01T19:34:45Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_61fb177de71742eb9d26ac9863e455e2","object":"Rate","created_at":"2022-08-01T19:34:45Z","updated_at":"2022-08-01T19:34:45Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c83ce86294bd4382ae942f39f7db4451","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d7c5674c27614eed86acf2ee655b0f98","object":"Rate","created_at":"2022-08-01T19:34:45Z","updated_at":"2022-08-01T19:34:45Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c83ce86294b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_c83ce86294bd4382ae942f39f7db4451/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82ad5e789f99c0039410b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - [...]
