---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f5264ee786c9a600280782
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01ff0f1bf662efa096907d34bceca82d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-08-11T15:54:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686095","updated_at":"2022-08-11T15:54:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ef7f7fa3198d11ed9440ac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:51+00:00","updated_at":"2022-08-11T15:54:51+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_36e800d3a312402ebc86734f651a4392","object":"Parcel","created_at":"2022-08-11T15:54:51Z","updated_at":"2022-08-11T15:54:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_6b1e008d49c14505ac4394deb3c3bf98","created_at":"2022-08-11T15:54:52Z","updated_at":"2022-08-11T15:54:52Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:54:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/3e30b4c01cf443cfb0c3819fadffcd8e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_bcc8844722fb424a9993357290d485d2","object":"Rate","created_at":"2022-08-11T15:54:51Z","updated_at":"2022-08-11T15:54:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_6f49427f189a4642ab61c2e6b56f3aaf","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f488340464a74ab7936a196bc23ae9e5","object":"Rate","created_at":"2022-08-11T15:54:51Z","updated_at":"2022-08-11T15:54:51Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_6f49427f189a4642ab61c2[...]
