---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d544d2ed6216d0f5e78b92420000ce57
      Location:
      - "/api/v2/shipments/shp_ba85e59cbcb94b0fb00dd175c99c824b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"469e2fd64f4d761ce058a3bdb127fc1c"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T00:27:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108767608","updated_at":"2022-02-24T00:27:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8f4dd719950811ecb8a7ac1f6bc7b362","object":"Address","created_at":"2022-02-24T00:27:33+00:00","updated_at":"2022-02-24T00:27:33+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e1ccbb1f67da4a5ca65f802814108db5","object":"Parcel","created_at":"2022-02-24T00:27:33Z","updated_at":"2022-02-24T00:27:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_84348c49ebf8427e9d395bffa8e75d34","created_at":"2022-02-24T00:27:34Z","updated_at":"2022-02-24T00:27:34Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-24T00:27:34Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220224/20971db596874193b996b3fbfc79e046.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_15c2d0222e3c45eb96ccb8375fb1cbbe","object":"Rate","created_at":"2022-02-24T00:27:33Z","updated_at":"2022-02-24T00:27:33Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ba85e59cbcb94b0fb00dd175c99c824b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bb522cdb0ef7488a93912bc937cb9caa","object":"Rate","created_at":"2022-02-24T00:27:33Z","updated_at":"2022-02-24T00:27:33Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ba85e59cbcb94b0fb00dd175c99c824b","carrier_accou[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_ba85e59cbcb94b0fb00dd175c99c824b/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d544d2ed6216d0f6e78b92430000cea7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efc3463dd1de93008abdc504151d1402"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202202240005-7deefb52a1-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-02-24T00:27:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_15c2d0222e3c45eb96ccb8375fb1cbbe","list_currency":"USD","list_rate":7.22,"mode":"test","object":"Rate","rate":7.22,"retail_currency":"USD","retail_rate":7.22,"service":"ParcelSelect","shipment_id":"shp_ba85e59cbcb94b0fb00dd175c99c824b","time_in_transit":{"percentile_50":2,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":5,"percentile_97":7,"percentile_99":10},"updated_at":"2022-02-24T00:27:33Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-02-24T00:27:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_bb522cdb0ef7488a93912bc937cb9caa","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_ba85e59cbcb94b0fb00dd175c99c8[...]
