---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7962e2e4a3ec50fc800037f78f
      Location:
      - "/api/v2/shipments/shp_8e826b0adf274fcebfe97ed95b6b5b56"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77cad9fa9066de50d3cf088036320370"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:55Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-28T19:33:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_a5906de6271843079ac0b3f46f8b3b8a","object":"CustomsInfo","created_at":"2022-07-28T19:33:55Z","updated_at":"2022-07-28T19:33:55Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_e98496141a3047dc8c033007d1501496","object":"CustomsItem","created_at":"2022-07-28T19:33:55Z","updated_at":"2022-07-28T19:33:55Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_383bb1ff0eac11ed9dbeac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:33:55+00:00","updated_at":"2022-07-28T19:33:55+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2c4f2b5fdfb848e2b0456ee519aa0677","object":"Parcel","created_at":"2022-07-28T19:33:55Z","updated_at":"2022-07-28T19:33:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_84686796bde0457b81a31d738c74b555","object":"Rate","created_at":"2022-07-28T19:33:56Z","updated_at":"2022-07-28T19:33:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8e826b0adf274fcebfe97ed95b6b5b56","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ae8bf71392b4428c8e60a0786a8d8771","object":"Rate","created_at":"2022-07-28T19:33:56Z","updated_at":"2022-07-28T19:33:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8e826b0adf274fcebfe[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_8e826b0adf274fcebfe97ed95b6b5b56/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_88f027606e7a4b29976db846bde80f35"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7c62e2e4a4ec3e4abb0037f7aa
      Content-Type:
      - a[...]
