---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5b2f8479684b428ee2bb39fb00967149
      Location:
      - "/api/v2/shipments/shp_d8c469018da442a4b3cabb010fc580cf"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202506122002-4fcd94d6be-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq e8fe6f4ec2
    body:
      encoding: UTF-8
      string: '{"id":"shp_d8c469018da442a4b3cabb010fc580cf","created_at":"2025-06-12T21:11:42Z","is_return":false,"messages":[{"carrier":"AmazonShipping","carrier_account_id":"ca_f13435a8196d4c5bae494be131994939","type":"rate_error","message":"credentials.refresh_token:
        field required"},{"carrier":"AmazonShipping","carrier_account_id":"ca_86d4143d5a4148fb975f8ad9ce29c54d","type":"rate_error","message":"credentials.refresh_token:
        field required"},{"carrier":"AmazonShipping","carrier_account_id":"ca_d85ef6dd405e4aada12f0811500b022f","type":"rate_error","message":"credentials.refresh_token:
        field required"},{"carrier":"AmazonShipping","carrier_account_id":"ca_d05eba8d152449a795af248275c63d2[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d8c469018da442a4b3cabb010fc580cf/luma
    body:
      encoding: UTF-8
      string: '{"ruleset_name":"cheapest_delivery","planned_ship_date":"2025-06-12"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 53394750684b428fe2bb39fd0098fadf
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202506122002-4fcd94d6be-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq e8fe6f4ec2
    body:
      encoding: UTF-8
      string: '{"id":"shp_d8c469018da442a4b3cabb010fc580cf","object":"Shipment","mode":"test","reference":null,"to_address":{"id":"adr_d6eab88e47d111f0ad4c3cecef1b359e","object":"Address","created_at":"2025-06-12T21:11:42+00:00","updated_at":"2025-06-12T21:11:43+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_d6eca4cb47d111f0a4b2ac1f6bc539aa","object":"Address","created_at":"2025-06-12T21:11:42+00:00","updated_at":"2025-06-12T21:11:42+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_d6eca4cb47d111f0a4b2ac1f6bc539aa","object":"Address","created_at":"2025-06-12T21:11:42+00:00","updated_at":"2025-06-12T21:11:42+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_d6eab88e47d111f0ad4c3cecef1b359e","object":"Address","created_at":"2025-06-12T21:11:42+00:00","updated_at":"2025-06-12T21:11:43+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"parcel":{"id":"prcl_adc05c1b6ca54413a7650bb7b1febd5d","object":"Parcel","created_at":"2025-06-12T21:11:42Z","updated_at":"2025-06-12T21:11:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"customs_info":null,"scan_form":null,"forms":[],"insurance":null,"rates":[{"id":"rate_e369f0f51ca948b5a1bfa5e49c565a54","object":"Rate","created_at":"2025-06-12T21:11:43Z","updated_at":"2025-06-12T21:11:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"34.15","currency":"USD","retail_rate":"39.10","retail_currency":"USD","list_rate":"34.15","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d8c469018da442a4b3cabb010fc580cf","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3a5c09cadc104199bd297445ced33962","object":"Rate","created_at":"2025-06-12T21:11:43Z","updated_at":"2025-06-12T21:11:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.42","currency":"USD","retail_rate":"9.90","retail_currency":"USD","list_rate":"8.34","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d8c469018da442a4b3cabb010fc580cf","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7d80d694eb4f480da8be1ab71e561c93","object":"Rate","created_at":"2025-06-12T21:11:43Z","updated_at":"2025-06-12T21:11:43Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"8.85","retail_currency":"USD","list_rate":"6.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_d8c469018da442a4b3cabb010fc580cf","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"selected_rate":{"id":"rate_7d80d694eb4f480da8be1ab71e561c93","object":"Rate","created_at":"2025-06-12T21:11:44Z","updated_at":"2025-06-12T21:11:44Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"8.85","retail_currency":"USD","list_rate":"6.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_d8c469018da442a4b3cabb010fc580cf","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"luma_info":{"ai_results":[{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-13","predicted_deliver_days":1,"rate_id":"rate_e369f0f51ca948b5a1bfa5e49c565a54","rate_usd":"34.15","service":"Express"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-14","predicted_deliver_days":2,"rate_id":"rate_3a5c09cadc104199bd297445ced33962","rate_usd":"7.42","service":"Priority"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-15","predicted_deliver_days":3,"rate_id":"rate_7d80d694eb4f480da8be1ab71e561c93","rate_usd":"6.07","service":"GroundAdvantage"}],"matching_rule_idx":0,"ruleset_description":"Buy
        the cheapest rate that satisfies all of the following:\nRule 0\n    \nOtherwise
        buy the cheapest rate"},"postage_label":{"object":"PostageLabel","id":"pl_f1fd6d0678c44b1ca02c4b5bfc9303f8","created_at":"2025-06-12T21:11:44Z","updated_at":"2025-06-12T21:11:44Z","date_advance":0,"integrated_form":"none","label_date":"2025-06-12T21:11:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250612/e80d5d27ae07604c53acb6f9c2de00153d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"messages":[{"carrier":"AmazonShipping","carrier_account_id":"ca_f13435a8196d4c5bae494be131994939","type":"rate_error","message":"credentials.refresh_token:
        field required"},{"carrier":"AmazonShipping","carrier_account_id":"ca_86d4143d5a4148fb975f8ad9ce29c54d","type":"rate_error","message":"credentials.refresh_token:
        field required"},{"carrier":"AmazonShipping","carrier_account_id":"ca_d85ef6dd405e4aada12f0811500b022f","type":"rate_error","message":"credentials.refresh_toke[...]
