---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f5265de786c9e500280c9d
      Location:
      - "/api/v2/shipments/shp_e80fa5bc9a444dbba0edccc7208616b0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d9d8f35d89aa4f5cce576d0678c2eb18"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:55:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686194","updated_at":"2022-08-11T15:55:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f9fc269a198d11eda020ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:55:09+00:00","updated_at":"2022-08-11T15:55:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b073a385b410434eb4c80275294992e3","object":"Parcel","created_at":"2022-08-11T15:55:09Z","updated_at":"2022-08-11T15:55:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c007a4a169b2441392bb442e5499fd01","created_at":"2022-08-11T15:55:09Z","updated_at":"2022-08-11T15:55:10Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:55:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/e1098823841a41259e35e3f3e9fa2129.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_453359a0153a42e4bb9749487e27cf1f","object":"Rate","created_at":"2022-08-11T15:55:09Z","updated_at":"2022-08-11T15:55:09Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_e80fa5bc9a444dbba0edccc7208616b0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_29439ed7c85640bb89dc952fa06851f9","object":"Rate","created_at":"2022-08-11T15:55:09Z","updated_at":"2022-08-11T15:55:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e80fa5bc9a444dbba0e[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_e80fa5bc9a444dbba0edccc7208616b0/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f5265ee786c9e600280d31
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6248d82ce540dab0b68b23cc84d38595"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-08-11T15:55:09Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_453359a0153a42e4bb9749487e27cf1f","list_currency":"USD","list_rate":7.75,"mode":"test","object":"Rate","rate":7.75,"retail_currency":"USD","retail_rate":7.75,"service":"ParcelSelect","shipment_id":"shp_e80fa5bc9a444dbba0edccc7208616b0","time_in_transit":{"percentile_50":4,"percentile_75":5,"percentile_85":6,"percentile_90":6,"percentile_95":7,"percentile_97":7,"percentile_99":8},"updated_at":"2022-08-11T15:55:09Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-08-11T15:55:09Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_29439ed7c85640bb89dc952fa06851f9","list_currency":"USD","list_rate":7.9,"mode":"test","object":"Rate","rate":7.9,"retail_currency":"USD","retail_rate":9.45,"service":"Priority","shipment_id":"shp_e80fa5bc9a444dbba0edccc720861[...]
