---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652e06e0dc98460007065b
      Location:
      - "/api/v2/shipments/shp_167627401bf6482d8651e69bf15189b0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08fa941198601d7eb100afaa852fc2eb"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:41:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693934","updated_at":"2023-05-17T19:41:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e2de7d0bf4ea11ed82bc3cecef1b359e","object":"Address","created_at":"2023-05-17T19:41:58+00:00","updated_at":"2023-05-17T19:41:58+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_feb00db8483849b2bd7a280f174c8494","object":"Parcel","created_at":"2023-05-17T19:41:58Z","updated_at":"2023-05-17T19:41:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_174e86bd126d43aa8ed1e58d3a464842","created_at":"2023-05-17T19:41:59Z","updated_at":"2023-05-17T19:41:59Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:59Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/5b4664931d0e4eb99cd69f58ce413aa3.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d6c304ebbcf54dee83e1e91586af38bd","object":"Rate","created_at":"2023-05-17T19:41:58Z","updated_at":"2023-05-17T19:41:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_167627401bf6482d8651e69bf15189b0","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_355bf8a559934a6395146fd593740072","object":"Rate","created_at":"2023-05-17T19:41:58Z","updated_at":"2023-05-17T19:41:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_167627401bf6482d86[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_167627401bf6482d8651e69bf15189b0/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e07e0dc9847000706f3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f77db08f5908a02bc17f94b144e3216"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2023-05-17T19:41:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_d6c304ebbcf54dee83e1e91586af38bd","list_currency":"USD","list_rate":31.25,"mode":"test","object":"Rate","rate":31.25,"retail_currency":"USD","retail_rate":35.8,"service":"Express","shipment_id":"shp_167627401bf6482d8651e69bf15189b0","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":2,"percentile_90":2,"percentile_95":3,"percentile_97":3,"percentile_99":4},"updated_at":"2023-05-17T19:41:58Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2023-05-17T19:41:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_355bf8a559934a6395146fd593740072","list_currency":"USD","list_rate":8.24,"mode":"test","object":"Rate","rate":7.15,"retail_currency":"USD","retail_rate":10.2,"service":"Priority","shipment_id":"shp_167627401bf6482d8651e69bf15[...]
