---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b762f2ba7de78982e2000882b3
      Location:
      - "/api/v2/shipments/shp_f4790742dc3349c79c9079ca98f6246b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bfb3c628b209733b7867196c0fec84fa"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:50:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422891","updated_at":"2022-08-09T19:50:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_80e1587d181c11ed9166ac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:50:21+00:00","updated_at":"2022-08-09T19:50:21+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_de10519da7354e8aa8446d15decf27e1","object":"Parcel","created_at":"2022-08-09T19:50:21Z","updated_at":"2022-08-09T19:50:21Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a0e682d44b7047f8bddc9301a3332ab9","created_at":"2022-08-09T19:50:22Z","updated_at":"2022-08-09T19:50:22Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:50:22Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/ccdcc51a82f34e2991ec566f60d01440.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_be9a21e1242642cd8a45d5071690d746","object":"Rate","created_at":"2022-08-09T19:50:21Z","updated_at":"2022-08-09T19:50:21Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f4790742dc3349c79c9079ca98f6246b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_41e25ae3c1294aa5bc31912fa6db270f","object":"Rate","created_at":"2022-08-09T19:50:21Z","updated_at":"2022-08-09T19:50:21Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f4790742dc3349c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_f4790742dc3349c79c9079ca98f6246b/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba7ee78982e300088328
      Location:
      - "/api/v2/shipments/shp_f4790742dc3349c79c9079ca98f6246b/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77db258e72912f3c4b98284c678fdb82"
      X-Node:
      - bigweb8nuq
  [...]
