---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c44f720f5f73c57dfb42a3ac0006d4fd
      Location:
      - "/api/v2/addresses/adr_2a77609cd23c4d149a2e0228172dbf77"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_2a77609cd23c4d149a2e0228172dbf77","object":"Address","created_at":"2020-09-29T23:38:38Z","updated_at":"2020-09-29T23:38:38Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 29 Sep 2020 23:38:38 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70016c9b5f73c57efb66c3e90006cbbd
      Location:
      - "/api/v2/parcels/prcl_8e519b09b68445a09822cd5f42c22ec7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a561deb64e
      - intlb2nuq 8df81f0396
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_8e519b09b68445a09822cd5f42c22ec7","object":"Parcel","created_at":"2020-09-29T23:38:38Z","updated_at":"2020-09-29T23:38:38Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 29 Sep 2020 23:38:38 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_2a77609cd23c4d149a2e0228172dbf77"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"id":"prcl_8e519b09b68445a09822cd5f42c22ec7"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - baecee2a5f73c57efb55cbeb0007e7c7
      Location:
      - "/api/v2/shipments/shp_2fc5451d89b64fd9986549c986aaf7c3"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a561deb64e
      - intlb1sj 8df81f0396
      - intlb2nuq 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-29T23:38:38Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-29T23:38:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ca3532cac866430687f8b531bd391b19","object":"Address","created_at":"2020-09-29T23:38:38Z","updated_at":"2020-09-29T23:38:38Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8e519b09b68445a09822cd5f42c22ec7","object":"Parcel","created_at":"2020-09-29T23:38:38Z","updated_at":"2020-09-29T23:38:38Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fc0f1e4b930a47d184eec15d929d2f52","object":"Rate","created_at":"2020-09-29T23:38:40Z","updated_at":"2020-09-29T23:38:40Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2fc5451d89b64fd9986549c986aaf7c3","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_37b557d73cfa44089a8fe713d591b84e","object":"Rate","created_at":"2020-09-29T23:38:40Z","updated_at":"2020-09-29T23:38:40Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_2fc5451d89b64fd9986549c986aaf7c3","car[...]
