---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 45e271c96019ee60fb527167000135c4
      Location:
      - "/api/v2/addresses/adr_3954b4cfa78942bbaf5c6b50370a7f0c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202102022255-07aacc3c41-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 9cd9455ca9
      - intlb2nuq 9cd9455ca9
      - intlb2wdc 9cd9455ca9
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3954b4cfa78942bbaf5c6b50370a7f0c","object":"Address","created_at":"2021-02-03T00:29:20+00:00","updated_at":"2021-02-03T00:29:20+00:00","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 03 Feb 2021 00:29:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 2ebf75bf6019ee61fb0d65a80000db38
      Location:
      - "/api/v2/parcels/prcl_522aaa277ae54b1e99c934aa0718d2a5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202102022255-07aacc3c41-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 9cd9455ca9
      - intlb2nuq 9cd9455ca9
      - intlb2wdc 9cd9455ca9
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_522aaa277ae54b1e99c934aa0718d2a5","object":"Parcel","created_at":"2021-02-03T00:29:21Z","updated_at":"2021-02-03T00:29:21Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Wed, 03 Feb 2021 00:29:21 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_3954b4cfa78942bbaf5c6b50370a7f0c"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"id":"prcl_522aaa277ae54b1e99c934aa0718d2a5"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 45e271c76019ee61fb4422a30001360e
      Location:
      - "/api/v2/shipments/shp_6f25bc8142df4b60916d272831f13af5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202102022255-07aacc3c41-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 9cd9455ca9
      - intlb1nuq 9cd9455ca9
      - intlb1wdc 9cd9455ca9
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-02-03T00:29:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-02-03T00:29:21Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8576f3021a4541b7ab7d6b5abacc4b81","object":"Address","created_at":"2021-02-03T00:29:21+00:00","updated_at":"2021-02-03T00:29:21+00:00","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_522aaa277ae54b1e99c934aa0718d2a5","object":"Parcel","created_at":"2021-02-03T00:29:21Z","updated_at":"2021-02-03T00:29:21Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_12c0b67d7b7a41b5a26fd31e31d3552f","object":"Rate","created_at":"2021-02-03T00:29:23Z","updated_at":"2021-02-03T00:29:23Z","mode":"test","service":"Express","carrier":"USPS","rate":"102.20","currency":"USD","retail_rate":"119.80","retail_currency":"USD","list_rate":"102.20","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6f25bc8142df4b60916d272831f13af5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_625b96555f1140f1b79b4395a2198bc8","object":"Rate","created_at":"2021-02-03T00:29:23Z","updated_at":"2021-02-03T00:29:23Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"41.25","currency":"USD","retail_rate":"41.25","retail_currency":"USD","list_rate":"41.25","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_6f25bc8142df4b60916d272831f13af5","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_6f25bc8142df4b60916d272831f13af5/rerate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4e93ea86019ee63fb0bafdc0002c8a3
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8nuq
   [...]
