---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":[],"reference":""}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40d1e7873c3a00311d53
      Location:
      - "/api/v2/shipments/shp_16b4f742ede94ccdb15c858029468564"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dbbfdb87630f1415ad149c9effc3821"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:01Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_32711d01d21711ec9ebeac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:01+00:00","updated_at":"2022-05-12T17:16:01+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ad769747534f4d9c9030782f983363fc","object":"Parcel","created_at":"2022-05-12T17:16:01Z","updated_at":"2022-05-12T17:16:01Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f107d737f7484b759deb2b984ae9348b","object":"Rate","created_at":"2022-05-12T17:16:01Z","updated_at":"2022-05-12T17:16:01Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_16b4f742ede94ccdb15c858029468564","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d553424c3ecf4865943ab8149a7948af","object":"Rate","created_at":"2022-05-12T17:16:01Z","updated_at":"2022-05-12T17:16:01Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_16b4f742ede94ccdb15c85[...]
