---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 30f259d362d994c7ec86acdd001bfca0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"407706255a93f3cbd4dfc59856fb1ffe"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 403f17ff97
      - intlb1wdc 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-07-11T17:55:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100109361127603113","updated_at":"2022-07-11T17:59:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b2159fa3014211ed85a9ac1f6b0a0d1e","object":"Address","created_at":"2022-07-11T17:55:48+00:00","updated_at":"2022-07-11T17:55:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0c8f46703c7c4686b05aef009914440c","object":"Parcel","created_at":"2022-07-11T17:55:48Z","updated_at":"2022-07-11T17:55:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4bef1cfbd53043408a5c1a199c71443f","created_at":"2022-07-11T17:55:49Z","updated_at":"2022-07-11T17:55:49Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-11T17:55:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220711/a3292af0334a473fb7205cc9c555c2fd.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_91adeb5a88c9492e8a2f38fabb6d9775","object":"Rate","created_at":"2022-07-11T17:55:48Z","updated_at":"2022-07-11T17:55:48Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_df20247be484495da8f64d6641170d5f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_867d78471a9c4d0896d015d64a238162","object":"Rate","created_at":"2022-07-11T17:55:48Z","updated_at":"2022-07-11T17:55:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_df20247be484495da8f[...]
