---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82c92e789faca003a1cce
      Location:
      - "/api/v2/shipments/shp_f869aa15f79c4579be4ec2df9d762e5d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5e39435fb11965317f0bb6f2c204033"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:42:10Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131078648","updated_at":"2022-08-01T19:42:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_088e499511d211edbb3dac1f6bc72124","object":"Address","created_at":"2022-08-01T19:42:10+00:00","updated_at":"2022-08-01T19:42:10+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9c1a0074fa7541dd86d2652a60967060","object":"Parcel","created_at":"2022-08-01T19:42:10Z","updated_at":"2022-08-01T19:42:10Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fd20fe9cba4c406e82e27ec99155c55d","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:42:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/11f93e23d3b542b8b40cf3b0606a1596.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0e18dae04ca24568b70d5bbc67198248","object":"Rate","created_at":"2022-08-01T19:42:10Z","updated_at":"2022-08-01T19:42:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f869aa15f79c4579be4ec2df9d762e5d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_ea7f415e9cf54a749115e6d7c1e136a3","object":"Rate","created_at":"2022-08-01T19:42:10Z","updated_at":"2022-08-01T19:42:10Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f869aa15f79c4579be4ec2df[...]
