---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f5265be786c9e300280c17
      Location:
      - "/api/v2/shipments/shp_4c4585d3ab0a4e3fbd3136e22b1c114e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88f877ea4864637dd8d3add81b8c098d"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:55:07Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686187","updated_at":"2022-08-11T15:55:08Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f8e40ae9198d11ed93f5ac1f6bc72124","object":"Address","created_at":"2022-08-11T15:55:07+00:00","updated_at":"2022-08-11T15:55:07+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_174368b6c1ca42c18454c1934f74d963","object":"Parcel","created_at":"2022-08-11T15:55:07Z","updated_at":"2022-08-11T15:55:07Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c4728635a2fd4d40b2e89147a368130e","created_at":"2022-08-11T15:55:08Z","updated_at":"2022-08-11T15:55:08Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:55:08Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/1338fc6065f1426abaa2b0fb70a21467.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_5aba8586124348c987ffed1427da90d1","object":"Rate","created_at":"2022-08-11T15:55:07Z","updated_at":"2022-08-11T15:55:07Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4c4585d3ab0a4e3fbd3136e22b1c114e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9cd1cb0573f042678f60eeccaf6aa249","object":"Rate","created_at":"2022-08-11T15:55:07Z","updated_at":"2022-08-11T15:55:07Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4c4585d3ab0[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_4c4585d3ab0a4e3fbd3136e22b1c114e/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3962f5265ce786c9e400280c6c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a80e9d587dc9256c769[...]
