---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5,"include_children":true,"purchased":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5da66424b53ee689f116001290ed
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f41284d43f60e5545923a32fd36976a"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202303291907-621b84348b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"shipments":[],"has_more":false}'
  recorded_at: Wed, 29 Mar 2023 22:01:34 GMT
recorded_with: VCR 6.0.0
