---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82ad6e789f99d00394129
      Location:
      - "/api/v2/shipments/shp_2408f8a8aea948b3afec73158ab3cb49"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc8c31313b6a397869cd29c9546a4a17"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:46Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-01T19:34:46Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_0730f9920e1144e5903d32d321ef368c","object":"CustomsInfo","created_at":"2022-08-01T19:34:46Z","updated_at":"2022-08-01T19:34:46Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_3571dd88e7d4445a91263761aac9c3e9","object":"CustomsItem","created_at":"2022-08-01T19:34:46Z","updated_at":"2022-08-01T19:34:46Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_ffdc13eb11d011ed988fac1f6bc72124","object":"Address","created_at":"2022-08-01T19:34:46+00:00","updated_at":"2022-08-01T19:34:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2f4c8a68f8b046c0a33f68f21d03558f","object":"Parcel","created_at":"2022-08-01T19:34:46Z","updated_at":"2022-08-01T19:34:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6cec7702f46f42b8b77caefa50d26370","object":"Rate","created_at":"2022-08-01T19:34:46Z","updated_at":"2022-08-01T19:34:46Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2408f8a8aea948b3afec73158ab3cb49","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7919131412414ccd84a8482259dd5d9b","object":"Rate","created_at":"2022-08-01T19:34:46Z","updated_at":"2022-08-01T19:34:46Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2408f8a8aea[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_2408f8a8aea948b3afec73158ab3cb49/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_01d5bc25a7624ad7b9e3443c6421f9df"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82ad6e789f99e00394165
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca9d12cf64e090ab0d1f33460c82c6b3"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:46Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":"9400100109361131077450","updated_at":"2022-08-01T19:34:47Z","batch_id":null,"batch_status":null,"batch_mess[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_2408f8a8aea948b3afec73158ab3cb49/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82ad7e789f9a0003941fb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2951d55a9fc9bf9a0d069959e49f0b0"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-[...]
