---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7962e2e4a1ec979f970037f689
      Location:
      - "/api/v2/addresses/adr_36c0589d0eac11ed9d2aac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b020d156a5bce6fd224a60b9c5f4e31"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_36c0589d0eac11ed9d2aac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:53+00:00","updated_at":"2022-07-28T19:33:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 28 Jul 2022 19:33:53 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7862e2e4a1ec5f3eb70037f69e
      Location:
      - "/api/v2/parcels.prcl_73bd9bafc4b84dbabde998b4de84c902"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3701c7194a634ad636bea19120bab605"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_73bd9bafc4b84dbabde998b4de84c902","object":"Parcel","created_at":"2022-07-28T19:33:53Z","updated_at":"2022-07-28T19:33:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 28 Jul 2022 19:33:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_36c0589d0eac11ed9d2aac1f6bc72124"},"to_address":{"id":"adr_36d521790eac11edbc16ac1f6bc7bdc6"},"parcel":{"id":"prcl_73bd9bafc4b84dbabde998b4de84c902"}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 17113a7862e2e4a1ec3dba380037f6b3
      Location:
      - "/api/v2/shipments/shp_2b0f629e20954281ac300cd1400c440d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb5f1d7ba48b3d37937370bdd0979fdd"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:33:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-28T19:33:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_36c0589d0eac11ed9d2aac1f6bc72124","object":"Address","created_at":"2022-07-28T19:33:53+00:00","updated_at":"2022-07-28T19:33:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_73bd9bafc4b84dbabde998b4de84c902","object":"Parcel","created_at":"2022-07-28T19:33:53Z","updated_at":"2022-07-28T19:33:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9a44b350b1ad460199366ba22ad22<REDACTED>","object":"Rate","created_at":"2022-07-28T19:33:53Z","updated_at":"2022-07-28T19:33:53Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2b0f629e20954281ac300cd1400c440d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ec766c5a32d54171853c5e585320c781","object":"Rate","created_at":"2022-07-28T19:33:53Z","updated_at":"2022-07-28T19:33:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2b0f629e209[...]
