---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82adbe789f9a30039437d
      Location:
      - "/api/v2/shipments/shp_c969744c383b4d4e8a089c158e7aa0ba"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"195a5f85e94e8e9a3a0b30023c44e706"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361131077498","updated_at":"2022-08-01T19:34:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_02cb1d0011d111ed99bbac1f6bc72124","object":"Address","created_at":"2022-08-01T19:34:51+00:00","updated_at":"2022-08-01T19:34:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1d7b59dd13704ced93d22a2d25cb6453","object":"Parcel","created_at":"2022-08-01T19:34:51Z","updated_at":"2022-08-01T19:34:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_663e9a24743e41509da38ee8c6e47d15","created_at":"2022-08-01T19:34:51Z","updated_at":"2022-08-01T19:34:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:34:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/51f9745bc8a7409a98e2189daa5d39ec.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_384d756929634ecca8514d021f01807a","object":"Rate","created_at":"2022-08-01T19:34:51Z","updated_at":"2022-08-01T19:34:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_c969744c383b4d4e8a089c158e7aa0ba","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c6ca145ddd9a485ca013a231138dd58b","object":"Rate","created_at":"2022-08-01T19:34:51Z","updated_at":"2022-08-01T19:34:51Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c969744c383b4d4e8a089c[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_c969744c383b4d4e8a089c158e7aa0ba/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201c62e82adce789f9a400394411
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c223fdadafeb2aa377d[...]
