---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c91b126567ccc6ee6aeb5f00a5a512
      Location:
      - "/api/v2/shipments/shp_616fe96411a04a1f9ebb163a3ea729ac"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-29T23:44:06Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2023-11-29T23:44:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_4462c99aa097432f8f84227e09ef6d5a","object":"CustomsInfo","created_at":"2023-11-29T23:44:06Z","updated_at":"2023-11-29T23:44:06Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_a286af75589b4fb4aad5f4b34c356962","object":"CustomsItem","created_at":"2023-11-29T23:44:06Z","updated_at":"2023-11-29T23:44:06Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_2f74c1ae8f1111ee834a3cecef1b359e","object":"Address","created_at":"2023-11-29T23:44:06+00:00","updated_at":"2023-11-29T23:44:06+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e2a91623600d4135a6c47d667fc8bf2c","object":"Parcel","created_at":"2023-11-29T23:44:06Z","updated_at":"2023-11-29T23:44:06Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_65bc96c603f84b4aaa84f393d116a611","object":"Rate","created_at":"2023-11-29T23:44:07Z","updated_at":"2023-11-29T23:44:07Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_616fe96411a04a1f9ebb163a3ea729ac","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a90886de234a42b796f33109c66519c0","object":"Rate","created_at":"2023-11-29T23:44:07Z","updated_at":"2023-11-29T23:44:07Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_616fe96411a04a1f9ebb163a3ea729ac/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_64320a5eda1545c08ebbaec2da87d4c5"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9566567ccc7ee80b87900ace98b
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_616fe96411a04a1f9ebb163a3ea729ac/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 70c91b0e6567ccc8ee6aee9400a5a64b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq [...]
