---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 11514b11636ab983ec8f1025000b1d3a
      Location:
      - "/api/v2/shipments/shp_8a4d58f0756f4936b8b4aa9706aa82fd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a80ae9c7d97dbc97521ef36bad0f87d5"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202211081855-6fd945aaa8-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-11-08T20:18:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100106068148392806","updated_at":"2022-11-08T20:18:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_777c3f575fa211ed80abac1f6bc7bdc6","object":"Address","created_at":"2022-11-08T20:18:11+00:00","updated_at":"2022-11-08T20:18:11+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a75a7bc9d2754236a1de5da7bcb3abdf","object":"Parcel","created_at":"2022-11-08T20:18:11Z","updated_at":"2022-11-08T20:18:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_962a99f3abb54c1aa0815a4d4cec878a","created_at":"2022-11-08T20:18:11Z","updated_at":"2022-11-08T20:18:12Z","date_advance":0,"integrated_form":"none","label_date":"2022-11-08T20:18:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20221108/e34317c5e235420db3e2bf40992d3b81.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c797cc943b1d4c51bb9c8d50395d631d","object":"Rate","created_at":"2022-11-08T20:18:11Z","updated_at":"2022-11-08T20:18:11Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.15","currency":"USD","retail_rate":"9.75","retail_currency":"USD","list_rate":"8.15","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8a4d58f0756f4936b8b4aa9706aa82fd","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c10abc07af984ba99150a35939b034cc","object":"Rate","created_at":"2022-11-08T20:18:11Z","updated_at":"2022-11-08T20:18:11Z","mode":"test","service":"First","carrier":"USPS","rate":"5.82","currency":"USD","retail_rate":"5.82","retail_currency":"USD","list_rate":"5.82","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_8a4d58f0756f4936b8b4aa[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_8a4d58f0756f4936b8b4aa9706aa82fd/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 194edf61636ab984ecc44128000b1148
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f443abcc111af5570[...]
