---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba64e7897f0a0008776c
      Location:
      - "/api/v2/shipments/shp_3bef37d25a4f4dd8b67a744b0720f4dc"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d529bbbbb8f9a8750b5b335423eebe08"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:56Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-09T19:49:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_563db99d702f4c4bb99dfc46a7c07409","object":"CustomsInfo","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_fc7b78d9002a404288cd55154dcad851","object":"CustomsItem","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_71b54347181c11ed8b2aac1f6bc7b362","object":"Address","created_at":"2022-08-09T19:49:56+00:00","updated_at":"2022-08-09T19:49:56+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_48fb77370b0744b895ca62577e3a3416","object":"Parcel","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_416a97b16b5b4a3db5eb2613d5fffb5f","object":"Rate","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3bef37d25a4f4dd8b67a744b0720f4dc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_076a9bedf0b243c99942ef1f1912a094","object":"Rate","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
