---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bb62f2ba68e7897f28000878ee
      Location:
      - "/api/v2/shipments/shp_f534d874b87d4e72a27da716c6868dee"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1353ba156a87e1a1d12e05131428f852"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:50:00Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-09T19:50:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_cab6bb0a95974dc0aab1282c045d044c","object":"CustomsInfo","created_at":"2022-08-09T19:50:00Z","updated_at":"2022-08-09T19:50:00Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_a31a2b79c675493da02c4da9a983c35f","object":"CustomsItem","created_at":"2022-08-09T19:50:00Z","updated_at":"2022-08-09T19:50:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_7416648e181c11edb5ffac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:50:00+00:00","updated_at":"2022-08-09T19:50:00+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_132c2531a4dd4f22886de099e5331e2b","object":"Parcel","created_at":"2022-08-09T19:50:00Z","updated_at":"2022-08-09T19:50:00Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_5bb136aaefbf47f9854498da76f2d2f7","object":"Rate","created_at":"2022-08-09T19:50:00Z","updated_at":"2022-08-09T19:50:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f534d874b87d4e72a27da716c6868dee","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9f42b98397bd4d96afdf682b4b7bdc36","object":"Rate","created_at":"2022-08-09T19:50:00Z","updated_at":"2022-08-09T19:50:00Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_f534d874b87d4e72a27da716c6868dee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba68e7897f2900087924
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1353ba156a87e1a1d12e05131[...]
