---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 9db77c1363331550e7e2bbb9000e5a55
      Location:
      - "/api/v2/shipments/shp_43c366501d184e39ba93c3c916ac18ff"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cac0a0ae6c4aec2328533ff285577b36"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-27T15:22:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361139734546","updated_at":"2022-09-27T15:22:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_435db3993e7811edacf5ac1f6bc7bdc6","object":"Address","created_at":"2022-09-27T15:22:56+00:00","updated_at":"2022-09-27T15:22:56+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2ee3fe837d6d4f1c97e3b8954e27514a","object":"Parcel","created_at":"2022-09-27T15:22:56Z","updated_at":"2022-09-27T15:22:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_76684641b046460ca4178298d7378faf","created_at":"2022-09-27T15:22:57Z","updated_at":"2022-09-27T15:22:57Z","date_advance":0,"integrated_form":"none","label_date":"2022-09-27T15:22:57Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220927/c8820d4628b1483bbb3aced96828bad9.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e9cadf1feb134a339303bdd3e9c0da20","object":"Rate","created_at":"2022-09-27T15:22:56Z","updated_at":"2022-09-27T15:22:56Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_43c366501d184e39ba93c3c916ac18ff","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4e305e48d4324764a4cfe15fc2e49cc8","object":"Rate","created_at":"2022-09-27T15:22:56Z","updated_at":"2022-09-27T15:22:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_43c366501d1[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_43c366501d184e39ba93c3c916ac18ff/insure
    body:
      encoding: UTF-8
      string: '{"amount":100}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 9db77c1463331551e7e2bbba000e5ada
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85388a3d050cdf80554442225441e5c2"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Pr[...]
