---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708262d99627ec3eca5a001ede5e
      Location:
      - "/api/v2/shipments/shp_ce96b7c426394e08b5f5643015d549f6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1faaccbc8a1ae140413689a9e33a2e2"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:08:39Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_25f8879d092011ed955bac1f6bc7bdc6","object":"Address","created_at":"2022-07-21T18:08:39+00:00","updated_at":"2022-07-21T18:08:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_89012c8e85b04dbfa18562c08422338c","object":"Parcel","created_at":"2022-07-21T18:08:39Z","updated_at":"2022-07-21T18:08:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ffc4a6d3de09415e90d6a81435f6f664","object":"Rate","created_at":"2022-07-21T18:08:40Z","updated_at":"2022-07-21T18:08:40Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_ce96b7c426394e08b5f5643015d549f6","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_e0f54cd6cd504f70a7d7f3825ff3ec7e","object":"Rate","created_at":"2022-07-21T18:08:40Z","updated_at":"2022-07-21T18:08:40Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_ce96b7c426394e08b5f5643015d549f6","[...]
