---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 30f259d162d994c6ec3c0918001bfc66
      Location:
      - "/api/v2/shipments/shp_1fee6b1c3ac247c5ac827e1c87f51efb"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b5b94d99e634db530c45bf34aef2066"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 403f17ff97
      - intlb1wdc 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:47Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:02:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_b11b609427d44e4295ec7d5adc977688","object":"CustomsInfo","created_at":"2022-07-21T18:02:47Z","updated_at":"2022-07-21T18:02:47Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_f6ead79935f64ce9a902783ab4f9a41e","object":"CustomsItem","created_at":"2022-07-21T18:02:47Z","updated_at":"2022-07-21T18:02:47Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_539ddcb3091f11ed986cac1f6bc72124","object":"Address","created_at":"2022-07-21T18:02:46+00:00","updated_at":"2022-07-21T18:02:46+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_648b99859b024542bdf08803f4bc1e04","object":"Parcel","created_at":"2022-07-21T18:02:46Z","updated_at":"2022-07-21T18:02:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2f99919d28084507a34f723e45259e7f","object":"Rate","created_at":"2022-07-21T18:02:47Z","updated_at":"2022-07-21T18:02:47Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_1fee6b1c3ac247c5ac827e1c87f51efb","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f667335d89f54324b1b46f163d9079f1","object":"Rate","created_at":"2022-07-21T18:02:47Z","updated_at":"2022-07-21T18:02:47Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1fee6b1c3ac247c[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_1fee6b1c3ac247c5ac827e1c87f51efb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 30f259d462d994c7fa8fbf64001bfc8b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b5b94d99e634db530c45bf34[...]
