---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=Airport%20Shipping&shipment[to_address][street1]=601%20Brasilia%20Avenue&shipment[to_address][city]=Kansas%20City&shipment[to_address][state]=MO&shipment[to_address][zip]=64153&shipment[to_address][phone]=314-924-0383&shipment[to_address][email]=kansas_shipping%40example.com&shipment[from_address][company]=EasyPost&shipment[from_address][street1]=164%20Townsend%20Street&shipment[from_address][street2]=Unit%201&shipment[from_address][city]=San%20Francisco&shipment[from_address][state]=CA&shipment[from_address][zip]=94107&shipment[from_address][phone]=415-123-4567&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d3efc9beccf000df1bb
      Location:
      - "/api/v2/shipments/shp_ceab6a06584c45f2bf44a64cbe0a5114"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:01:02Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:01:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6dd306951b954f0988b61bfff7d59742","object":"Address","created_at":"2020-04-24T16:01:02Z","updated_at":"2020-04-24T16:01:02Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3d6f21f3b88c420192e73de179d35569","object":"Parcel","created_at":"2020-04-24T16:01:02Z","updated_at":"2020-04-24T16:01:02Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8010f907397f4b138e254c3d625d3fdc","object":"Rate","created_at":"2020-04-24T16:01:03Z","updated_at":"2020-04-24T16:01:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ceab6a06584c45f2bf44a64cbe0a5114","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ed24cee3c5c347568d84ef976fee4e1a","object":"Rate","created_at":"2020-04-24T16:01:03Z","updated_at":"2020-04-24T16:01:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ceab6a06584c45f2bf44a64cbe0a5114","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_ceab6a06584c45f2bf44a64cbe0a5114/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_9287f46abfe2449cad8754cf8626dcb1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73d5ea30d3ffc9becd1000df24c
      Content-Type:
      - application/[...]
