---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00aa2e787e1e1000751ab
      Location:
      - "/api/v2/shipments/shp_a7fa826c6c4e4d8bb84f55f0930dd38c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:51:14Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2024-01-23T18:51:14Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_885fadf93bc24ab58125ae49e4f0e4ff","object":"CustomsInfo","created_at":"2024-01-23T18:51:14Z","updated_at":"2024-01-23T18:51:14Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_58d1e78e2a184f40b8d5f0f847aa151a","object":"CustomsItem","created_at":"2024-01-23T18:51:14Z","updated_at":"2024-01-23T18:51:14Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_6242a115ba2011eea489ac1f6bc53342","object":"Address","created_at":"2024-01-23T18:51:14+00:00","updated_at":"2024-01-23T18:51:14+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5b776f27b0d04c7caca4e339b0e6ad4f","object":"Parcel","created_at":"2024-01-23T18:51:14Z","updated_at":"2024-01-23T18:51:14Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_11e3f5026e634c649128a30d14e2ed88","object":"Rate","created_at":"2024-01-23T18:51:14Z","updated_at":"2024-01-23T18:51:14Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_a7fa826c6c4e4d8bb84f55f0930dd38c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_31e29d2cabfb44809d952d0bbc2881a0","object":"Rate","created_at":"2024-01-23T18:51:14Z","updated_at":"2024-01-23T18:51:14Z","mode":"test","service":"First","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_a7fa826c6c4e4d8bb84f55f0930dd38c/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_11e3f5026e634c649128a30d14e2ed88"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00aa3e787e1e300075215
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_a7fa826c6c4e4d8bb84f55f0930dd38c/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00aa4e787e1e7000752e5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq [...]
