---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40d7e7873c5e00311fe3
      Location:
      - "/api/v2/shipments/shp_0f2ccea9e208436491b2982c15a4868a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"608955a8f1947edf0c50f3794e051878"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:07Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_4b94008ba4c249e8ae50a52de8ecc735","object":"CustomsInfo","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_894ab74ca6f44b808c5a9ba09d4f2d3b","object":"CustomsItem","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_365a6ff7d21711ec9ffaac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:07+00:00","updated_at":"2022-05-12T17:16:07+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3eda0a7e53944193afa8e42846946f32","object":"Parcel","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3910c68e28af4fdaba132161b19fd985","object":"Rate","created_at":"2022-05-12T17:16:08Z","updated_at":"2022-05-12T17:16:08Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_0f2ccea9e208436491b2982c15a4868a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e02c7e2b781343cdb6860b8f009c3547","object":"Rate","created_at":"2022-05-12T17:16:08Z","updated_at":"2022-05-12T17:16:08Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0f2ccea9e208436[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_0f2ccea9e208436491b2982c15a4868a/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_24b3bc1a63994d5981c4835fa44fa1a6"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40d8e7873c5f00312001
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_0f2ccea9e208436491b2982c15a4868a/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40d9e7873c600031204c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ebf853a7751b2e7b7d64a8c94f62dc1"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-[...]
