---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52659e786c9ca00280b82
      Location:
      - "/api/v2/shipments/shp_77c45c3e1b0e4e5c803db3573c17af50"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56f3f7ea1c9a94e91ac95dc933987ecd"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:55:05Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686170","updated_at":"2022-08-11T15:55:06Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f7eaaf43198d11ed9c5fac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:55:05+00:00","updated_at":"2022-08-11T15:55:05+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c8278d29f2cb4c47b16a26635512350a","object":"Parcel","created_at":"2022-08-11T15:55:05Z","updated_at":"2022-08-11T15:55:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9547e4543ac24527b4cb0bc0e8800ac3","created_at":"2022-08-11T15:55:06Z","updated_at":"2022-08-11T15:55:06Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:55:06Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/8309b211f4114480ab669231fe3729af.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c998e5f71bd14299ac4d0b509c67c439","object":"Rate","created_at":"2022-08-11T15:55:05Z","updated_at":"2022-08-11T15:55:05Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_77c45c3e1b0e4e5c803db3573c17af50","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ec19a8409c4f47ad910773c0f6aa2aa2","object":"Rate","created_at":"2022-08-11T15:55:06Z","updated_at":"2022-08-11T15:55:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_77c45c3e1b0e4e5c803[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_77c45c3e1b0e4e5c803db3573c17af50/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f5265ae786c9cb00280be9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0448838114c1685ed923a0b854b01b7"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-[...]
