---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c802d080609ed4e1e786bc7e0011d223
      Location:
      - "/api/v2/shipments/shp_d43addc2154b430dad73f92963f11612"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23cb997e629ad4ec4aa0847a7f9f18d1"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202105141736-6e814639de-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 7ba176609e
      - intlb2nuq 7ba176609e
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-05-14T19:52:01Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-05-14T19:52:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7daf777f37a7488c94e153f0ee249072","object":"Address","created_at":"2021-05-14T19:52:01+00:00","updated_at":"2021-05-14T19:52:01+00:00","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_efa0f10a3c3a479a98cf2bc03d3e16a8","object":"Parcel","created_at":"2021-05-14T19:52:01Z","updated_at":"2021-05-14T19:52:01Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_269eae8bdb0f4847852d0800d64086a8","object":"Rate","created_at":"2021-05-14T19:52:03Z","updated_at":"2021-05-14T19:52:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"102.20","currency":"USD","retail_rate":"119.80","retail_currency":"USD","list_rate":"102.20","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d43addc2154b430dad73f92963f11612","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_866be88f1de74f419bbbcea91d37479e","object":"Rate","created_at":"2021-05-14T19:52:03Z","updated_at":"2021-05-14T19:52:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"43.95","currency":"USD","retail_rate":"52.10","retail_currency":"USD","list_rate":"43.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d43addc2154b430dad73f92963f11612","carrier[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_d43addc2154b430dad73f92963f11612/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c802d07e609ed4e4e786bc7f0011d2cc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9cddb23ad8a3e27683b3c735b0cc31ec"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202105141930-2a5c5453de-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 7ba176609e
      - intlb2nuq 7ba176609e
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-05-14T19:52:03Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_269eae8bdb0f4847852d0800d64086a8","list_currency":"USD","list_rate":102.2,"mode":"test","object":"Rate","rate":102.2,"retail_currency":"USD","retail_rate":119.8,"service":"Express","shipment_id":"shp_d43addc2154b430dad73f92963f11612","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":3,"percentile_90":3,"percentile_95":3,"percentile_97":4,"percentile_99":4},"updated_at":"2021-05-14T19:52:03Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-05-14T19:52:03Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_866be88f1de74f419bbbcea91d37479e","list_currency":"USD","list_rate":43.95,"mode":"test","object":"Rate","rate":43.95,"retail_currency":"USD","retail_rate":52.1,"service":"Priority","shipment_id":"shp_d43addc2154b430dad73f9296[...]
