---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201b62e82ad3e789f68a00393fae
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea79db665c31aea8e45fdf85cc3cac0d"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-08-01T19:22:48Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"delivered","tracking_code":"9400100109361131075869","updated_at":"2022-08-01T19:27:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_e46ac0be127b47209e3256bc85a3c49a","object":"CustomsInfo","created_at":"2022-08-01T19:22:48Z","updated_at":"2022-08-01T19:22:48Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_d75b4e4ab8ae4ebc9b14044fad7acb97","object":"CustomsItem","created_at":"2022-08-01T19:22:48Z","updated_at":"2022-08-01T19:22:48Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_543737dd11cf11edb41aac1f6bc72124","object":"Address","created_at":"2022-08-01T19:22:48+00:00","updated_at":"2022-08-01T19:22:48+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_337c5bb31a814cbd83aed155e040327d","object":"Parcel","created_at":"2022-08-01T19:22:48Z","updated_at":"2022-08-01T19:22:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_a75013ea21ba4db0922fc5c0389e706a","created_at":"2022-08-01T19:22:49Z","updated_at":"2022-08-01T19:22:50Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-01T19:22:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220801/9ab6b13232b64975baf6a4da72665a1e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_4d9795920cc54672957d2ba7de3b004d","object":"Rate","created_at":"2022-08-01T19:22:48Z","updated_at":"2022-08-01T19:22:48Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_47c85af8ba684ef4a407edfe8f5f3d13","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_52db6b9fa9204620ad1947a188c3d1c5","object":"Rate","created_at":"2022-08-01T19:22:48Z","updated_at":"2022-08-01T19:22:48Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_47c85af8ba684ef4a40[...]
