---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82ad1e789f68400393ee0
      Location:
      - "/api/v2/addresses/adr_fcfbe88b11d011eda41cac1f6b0a0d1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97c32a5b3df27e7b3b77a5118dc6ec09"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_fcfbe88b11d011eda41cac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:34:41+00:00","updated_at":"2022-08-01T19:34:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 01 Aug 2022 19:34:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201e62e82ad1e789f68500393ef8
      Location:
      - "/api/v2/addresses/adr_fd1dea7a11d011eda7b7ac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"903c9f248a38a30b0032af508a91f42b"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_fd1dea7a11d011eda7b7ac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:34:41+00:00","updated_at":"2022-08-01T19:34:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 01 Aug 2022 19:34:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201e62e82ad1e789f68600393f0d
      Location:
      - "/api/v2/parcels.prcl_f1457f6486c84baf8f3f70ad1c5f6d0b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22a5601ee42b274dae6f9d2cab05bc63"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_f1457f6486c84baf8f3f70ad1c5f6d0b","object":"Parcel","created_at":"2022-08-01T19:34:41Z","updated_at":"2022-08-01T19:34:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Mon, 01 Aug 2022 19:34:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_fcfbe88b11d011eda41cac1f6b0a0d1e"},"to_address":{"id":"adr_fd1dea7a11d011eda7b7ac1f6bc7b362"},"parcel":{"id":"prcl_f1457f6486c84baf8f3f70ad1c5f6d0b"}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201a62e82ad2e789f68700393f2e
      Location:
      - "/api/v2/shipments/shp_bf3035db8ffe4678997ea41d62fe2fc2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4430a48837265693bcda0874722fe0f5"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:34:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-08-01T19:34:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_fcfbe88b11d011eda41cac1f6b0a0d1e","object":"Address","created_at":"2022-08-01T19:34:41+00:00","updated_at":"2022-08-01T19:34:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f1457f6486c84baf8f3f70ad1c5f6d0b","object":"Parcel","created_at":"2022-08-01T19:34:41Z","updated_at":"2022-08-01T19:34:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ee607714ef4e447a9bf32a851535cfef","object":"Rate","created_at":"2022-08-01T19:34:42Z","updated_at":"2022-08-01T19:34:42Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_bf3035db8ffe4678997ea41d62fe2fc2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_67d8791ea26045e29718d66f0268c017","object":"Rate","created_at":"2022-08-01T19:34:42Z","updated_at":"2022-08-01T19:34:42Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_bf3035db8ffe467[...]
