---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c7201d62e82c93e789facb003a1dcf
      Location:
      - "/api/v2/shipments/shp_bd6e09ff2e534c93b1369e6c146d0d56"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"825bb786e3919d3917b316033a68f589"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:42:11Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-01T19:42:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_c16c98dc78444783a682d5111b7ac695","object":"CustomsInfo","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_286e576a40e54d48b7f30c84751bff8d","object":"CustomsItem","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_097ac61d11d211ed8c80ac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:42:11+00:00","updated_at":"2022-08-01T19:42:11+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5a29ba5a98e642c4980fe7f5998333fb","object":"Parcel","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_cd4c28a3b996420e9d0f0c3bb593ebd9","object":"Rate","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_bd6e09ff2e534c93b1369e6c146d0d56","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_414efb430cf2433a88ece6f419ab25a2","object":"Rate","created_at":"2022-08-01T19:42:11Z","updated_at":"2022-08-01T19:42:11Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_bd6e09ff2e534c93b1369e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_bd6e09ff2e534c93b1369e6c146d0d56/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_414efb430cf2433a88ece6f419ab25a2"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b6c7201862e82c94e789facc003a1e1e
      Content-Type:
      - ap[...]
