---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5,"include_children":true,"purchased":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9566567ccc0ee5af2d600ace334
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-11-29T23:43:58Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2023-11-29T23:43:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_debb2e7e715b436b83c0a9ffc808c3ea","object":"CustomsInfo","created_at":"2023-11-29T23:43:58Z","updated_at":"2023-11-29T23:43:58Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_38f104aa79e7474c8989f109db35fd47","object":"CustomsItem","created_at":"2023-11-29T23:43:58Z","updated_at":"2023-11-29T23:43:58Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_2a94e5a78f1111ee812b3cecef1b359e","object":"Address","created_at":"2023-11-29T23:43:58+00:00","updated_at":"2023-11-29T23:43:58+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8ca629b2769a462780db2943ed4cd6a0","object":"Parcel","created_at":"2023-11-29T23:43:58Z","updated_at":"2023-11-29T23:43:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1538fc2f7dcb480b974c526062ed0154","object":"Rate","created_at":"2023-11-29T23:43:59Z","updated_at":"2023-11-29T23:43:59Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_9627f8a324cf4ff68af84e680d8bac73","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7607f7b16dbd41cb816adab9176a8328","object":"Rate","created_at":"2023-11-29T23:43:59Z","updated_at":"2023-11-29T23:43:59Z","mode":"test","service":"First","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
