---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - aae8423c6333154ce7e2bbb6000dd7e9
      Location:
      - "/api/v2/shipments/shp_ca8469c55bfd485aaf9bbe468a083d7d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"180cb46bf3099bc265fdd37055a78395"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1wdc 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-27T15:22:52Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-09-27T15:22:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_d44b620144194cbd83e59b585799f27d","object":"CustomsInfo","created_at":"2022-09-27T15:22:52Z","updated_at":"2022-09-27T15:22:52Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_61f29e9010734dab866fd952d18ca0c5","object":"CustomsItem","created_at":"2022-09-27T15:22:52Z","updated_at":"2022-09-27T15:22:52Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_40dcc2c73e7811ed8d23ac1f6bc7b362","object":"Address","created_at":"2022-09-27T15:22:52+00:00","updated_at":"2022-09-27T15:22:52+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_45af1a32e8a844008b182e6b40d2ee74","object":"Parcel","created_at":"2022-09-27T15:22:52Z","updated_at":"2022-09-27T15:22:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_735aa62e228e45058d4a9f74383318b4","object":"Rate","created_at":"2022-09-27T15:22:52Z","updated_at":"2022-09-27T15:22:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ca8469c55bfd485aaf9bbe468a083d7d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ad40cb2bef9042bb99a4c0cf4f6d10ba","object":"Rate","created_at":"2022-09-27T15:22:52Z","updated_at":"2022-09-27T15:22:52Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_ca8469c55bfd485aaf9bbe468a083d7d/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_ad40cb2bef9042bb99a4c0cf4f6d10ba"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 48f7f18a6333154de7e2bbb7000e1535
      Content-Type:
      - a[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_ca8469c55bfd485aaf9bbe468a083d7d/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7e5b1dcd6333154ee7e2bbb8000fa9ad
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a0a64a6d11b7c2fe8d69bec8d9a288b"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209262038-999c14f917-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-09-27T15:22:52Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"[...]
