---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7962e2e4a3ec7507790037f74c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cebc6e9620c72b5a85f6a47c2fbfb9dd"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-07-28T19:33:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130478975","updated_at":"2022-07-28T19:33:51Z","batch_id":"batch_3fd8781aa18e477a8b5a6736aad78621","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_34e27ede0eac11edbaf0ac1f6bc7bdc6","object":"Address","created_at":"2022-07-28T19:33:50+00:00","updated_at":"2022-07-28T19:33:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e2dffab4814649ae981c61d7a760faf0","object":"Parcel","created_at":"2022-07-28T19:33:50Z","updated_at":"2022-07-28T19:33:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_91cfb3c474f24eb0843ceaecc6d4c283","created_at":"2022-07-28T19:33:50Z","updated_at":"2022-07-28T19:33:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:33:50Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/391b950cbbbb43c487c015553531932b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_329a06099ba44c62923dfde51950f131","object":"Rate","created_at":"2022-07-28T19:33:50Z","updated_at":"2022-07-28T19:33:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d1c16850e7254ec2ba0e17c29973b401","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e0de2db6c1914d2ab1aab5ef5cffc560","object":"Rate","created_at":"2022-07-28T19:33:50Z","updated_at":"2022-07-28T19:33:50Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d1c16850e7254ec2ba0e17[...]
