---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f862d9962ffa91ed09001d0aac
      Location:
      - "/api/v2/shipments/shp_b6fdf5c5bae14489b41d668dfa2b3967"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c56c40349b42ff639976182202f7abbe"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129348586","updated_at":"2022-07-21T18:08:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2aada4af092011edb488ac1f6bc7b362","object":"Address","created_at":"2022-07-21T18:08:47+00:00","updated_at":"2022-07-21T18:08:47+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cfd44c339290417096ecd0903bef0edd","object":"Parcel","created_at":"2022-07-21T18:08:47Z","updated_at":"2022-07-21T18:08:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e9b9b02fa7a043df8c250d34e3ecdcf8","created_at":"2022-07-21T18:08:48Z","updated_at":"2022-07-21T18:08:48Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:08:48Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/f3db0026148945e8871196fdcf00408f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_12353abc3ebc48a4bf2906e63fc09376","object":"Rate","created_at":"2022-07-21T18:08:47Z","updated_at":"2022-07-21T18:08:47Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b6fdf5c5bae14489b41d668dfa2b3967","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3f0ea686e16c4ad7b955648a672c46df","object":"Rate","created_at":"2022-07-21T18:08:47Z","updated_at":"2022-07-21T18:08:47Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b6fdf5c5bae1448[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b6fdf5c5bae14489b41d668dfa2b3967/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f562d99630ec639499001d0b40
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47fe822ed9db801dccc5951d89fb960e"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-[...]
