---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1c9c1dd15f73c57bfb6508db00065f29
      Location:
      - "/api/v2/addresses/adr_c9414d8b53ff4e088faa966a68fe2e02"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_c9414d8b53ff4e088faa966a68fe2e02","object":"Address","created_at":"2020-09-29T23:38:35Z","updated_at":"2020-09-29T23:38:35Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 29 Sep 2020 23:38:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 677afd005f73c57bf53131330006290c
      Location:
      - "/api/v2/parcels/prcl_aac079d1fb6b4cc49fd43647f29cd0e3"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj a561deb64e
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_aac079d1fb6b4cc49fd43647f29cd0e3","object":"Parcel","created_at":"2020-09-29T23:38:35Z","updated_at":"2020-09-29T23:38:35Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 29 Sep 2020 23:38:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_c9414d8b53ff4e088faa966a68fe2e02"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"id":"prcl_aac079d1fb6b4cc49fd43647f29cd0e3"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5e9c7bbe5f73c57cfb526d85000737f2
      Location:
      - "/api/v2/shipments/shp_0db7263370af4a7491f6b5bf2a25887d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009292141-423d229354-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb1wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-29T23:38:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-29T23:38:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_35459d7f72ba407f8a711bb99da71557","object":"Address","created_at":"2020-09-29T23:38:36Z","updated_at":"2020-09-29T23:38:36Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_aac079d1fb6b4cc49fd43647f29cd0e3","object":"Parcel","created_at":"2020-09-29T23:38:35Z","updated_at":"2020-09-29T23:38:35Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b1b1e53b94da42fdb16711cc5c365aa3","object":"Rate","created_at":"2020-09-29T23:38:37Z","updated_at":"2020-09-29T23:38:37Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_0db7263370af4a7491f6b5bf2a25887d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ff120dff256b4d7e8374203014aaef9d","object":"Rate","created_at":"2020-09-29T23:38:37Z","updated_at":"2020-09-29T23:38:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_0db7263370af4a7491f6b5bf2a25887d","c[...]
