---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652e04e0dc9844000705a0
      Location:
      - "/api/v2/shipments/shp_c01ed9e6956243bfa867295a5c3e53d2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e567fb0e2a56099b3c71364358aa4b13"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:41:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693903","updated_at":"2023-05-17T19:41:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e1ce3a2ff4ea11ed9570ac1f6bc539ae","object":"Address","created_at":"2023-05-17T19:41:56+00:00","updated_at":"2023-05-17T19:41:56+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a942d9bd1578446fa64bef08b21f8256","object":"Parcel","created_at":"2023-05-17T19:41:56Z","updated_at":"2023-05-17T19:41:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8df8f50d7abd45a58d681975e28b5a4b","created_at":"2023-05-17T19:41:57Z","updated_at":"2023-05-17T19:41:57Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:57Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/31bbb8f875654a688bc9042309594286.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_815344e4ed554ca799a7f84841978d25","object":"Rate","created_at":"2023-05-17T19:41:56Z","updated_at":"2023-05-17T19:41:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c01ed9e6956243bfa867295a5c3e53d2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a6017cad382d4a87a87a35fd41b586f4","object":"Rate","created_at":"2023-05-17T19:41:56Z","updated_at":"2023-05-17T19:41:56Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_c01ed9e6956243bfa86729[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_c01ed9e6956243bfa867295a5c3e53d2/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652e05e0dc984500070634
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69a9220ae333a32725[...]
