---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 70c91b0e6567ccbfee5c0b7b00a59eac
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-11-29T23:37:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100105442286702825","updated_at":"2023-11-29T23:42:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_36d435958f1011eeb2b2ac1f6bc539aa","object":"Address","created_at":"2023-11-29T23:37:09+00:00","updated_at":"2023-11-29T23:37:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a9b0cebaeaa348c6ab1d40b0f360353d","object":"Parcel","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c041dabc23ef4752bf12fc9d2e9e70a1","created_at":"2023-11-29T23:37:10Z","updated_at":"2023-11-29T23:37:10Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-29T23:37:10Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231129/e85288d7d79eae46dea31120ef08eb46cf.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c96b7efed32349a592cc541c657c0462","object":"Rate","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b15dd082b439438480fc44343521a1cc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f1133e1fa80740918231cc80427ca6e9","object":"Rate","created_at":"2023-11-29T23:37:09Z","updated_at":"2023-11-29T23:37:09Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_b15dd082b439[...]
