---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00aa6e787e1e80007546f
      Location:
      - "/api/v2/shipments/shp_94337b1873f247e0ae2e3ea6b7568d6f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:51:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757857","updated_at":"2024-01-23T18:51:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_645d0c3aba2011ee966aac1f6bc539aa","object":"Address","created_at":"2024-01-23T18:51:18+00:00","updated_at":"2024-01-23T18:51:18+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_efb4e1e4846d49cbb8bc58acb6c21eb9","object":"Parcel","created_at":"2024-01-23T18:51:18Z","updated_at":"2024-01-23T18:51:18Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0e35b418ff684dc088bf02a1a010f89c","created_at":"2024-01-23T18:51:18Z","updated_at":"2024-01-23T18:51:18Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:51:18Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e8816a62e68c84440994e8f73b22ed5e75.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_e78cd6b02b564604ad7a3fedcc4636b5","object":"Rate","created_at":"2024-01-23T18:51:18Z","updated_at":"2024-01-23T18:51:18Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_94337b1873f247e0ae2e3ea6b7568d6f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4b1ed667641a431392ddc4bed7b13537","object":"Rate","created_at":"2024-01-23T18:51:18Z","updated_at":"2024-01-23T18:51:18Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_94337b1873f2[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_94337b1873f247e0ae2e3ea6b7568d6f/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cddea65b00aa7e787e2010007557c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq [...]
