---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40d2e7873c3c00311d8c
      Location:
      - "/api/v2/addresses/adr_32e9117bd21711ec9ee2ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"494477111de1e64f14a914bc08468516"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"adr_32e9117bd21711ec9ee2ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:02+00:00","updated_at":"2022-05-12T17:16:02+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 12 May 2022 17:16:02 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40d2e7873c3e00311db1
      Location:
      - "/api/v2/parcels.prcl_a969cc0e8b64439181e24aead74df99a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07462ab1d125e49bd415e28ee3081856"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_a969cc0e8b64439181e24aead74df99a","object":"Parcel","created_at":"2022-05-12T17:16:02Z","updated_at":"2022-05-12T17:16:02Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 12 May 2022 17:16:02 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_32e9117bd21711ec9ee2ac1f6bc72124"},"to_address":{"id":"adr_3309941ed21711ec9731ac1f6b0a0d1e"},"parcel":{"id":"prcl_a969cc0e8b64439181e24aead74df99a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b476627d40d2e7873c3f00311dc2
      Location:
      - "/api/v2/shipments/shp_45bbae0c88c5467bbe91824107c0a583"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d78e72a91c494efad4ca2ca3ca65292a"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_32e9117bd21711ec9ee2ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:02+00:00","updated_at":"2022-05-12T17:16:02+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a969cc0e8b64439181e24aead74df99a","object":"Parcel","created_at":"2022-05-12T17:16:02Z","updated_at":"2022-05-12T17:16:02Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e7c4e97ed069420eafd96951a7d80a39","object":"Rate","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_45bbae0c88c5467bbe91824107c0a583","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d83b56effea04cadb9712a2a7f922983","object":"Rate","created_at":"2022-05-12T17:16:03Z","updated_at":"2022-05-12T17:16:03Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_45bbae0c88c5467bbe9182[...]
