---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - dbfb1cec609ee253e786c91d00015a10
      Location:
      - "/api/v2/shipments/shp_c8640b71c88646f58e42836a8f761845"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6275cc905512bcefa420716d17cc4f9b"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202105141930-2a5c5453de-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 7ba176609e
      - intlb2nuq 7ba176609e
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-05-14T20:49:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-05-14T20:49:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f5cbb3a3e5164e3685498ac56c199090","object":"Address","created_at":"2021-05-14T20:49:23+00:00","updated_at":"2021-05-14T20:49:23+00:00","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_733bf24d5b7a450ba4f605fdefea27b1","object":"Parcel","created_at":"2021-05-14T20:49:23Z","updated_at":"2021-05-14T20:49:23Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_be88a014a0654618bb51468b43f25033","object":"Rate","created_at":"2021-05-14T20:49:24Z","updated_at":"2021-05-14T20:49:24Z","mode":"test","service":"Priority","carrier":"USPS","rate":"43.95","currency":"USD","retail_rate":"52.10","retail_currency":"USD","list_rate":"43.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c8640b71c88646f58e42836a8f761845","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_248688d757b442cab9e5fc06c889d8f7","object":"Rate","created_at":"2021-05-14T20:49:24Z","updated_at":"2021-05-14T20:49:24Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"41.25","currency":"USD","retail_rate":"41.25","retail_currency":"USD","list_rate":"41.25","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_c8640b71c88646f58e42836a8f761845","car[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_c8640b71c88646f58e42836a8f761845/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - dbfb1cef609ee254e786c91e00015a54
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7a63173fcb9c43ab6a642029227d42f"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202105141930-2a5c5453de-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 7ba176609e
      - intlb1nuq 7ba176609e
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-05-14T20:49:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_be88a014a0654618bb51468b43f25033","list_currency":"USD","list_rate":43.95,"mode":"test","object":"Rate","rate":43.95,"retail_currency":"USD","retail_rate":52.1,"service":"Priority","shipment_id":"shp_c8640b71c88646f58e42836a8f761845","time_in_transit":{"percentile_50":2,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":7},"updated_at":"2021-05-14T20:49:24Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2021-05-14T20:49:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":6,"est_delivery_days":6,"id":"rate_248688d757b442cab9e5fc06c889d8f7","list_currency":"USD","list_rate":41.25,"mode":"test","object":"Rate","rate":41.25,"retail_currency":"USD","retail_rate":41.25,"service":"ParcelSelect","shipment_id":"shp_c8640b71c88646f58e42[...]
