---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40dce7873c630031215f
      Location:
      - "/api/v2/shipments/shp_2897a27995474d378b2f425bef1b71e8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50eadf292c8b10252602f5095f683263"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:12Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873914","updated_at":"2022-05-12T17:16:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3952d2d7d21711eca106ac1f6bc72124","object":"Address","created_at":"2022-05-12T17:16:12+00:00","updated_at":"2022-05-12T17:16:12+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c64b2bc102434a55ba35d99cbdcf2f31","object":"Parcel","created_at":"2022-05-12T17:16:12Z","updated_at":"2022-05-12T17:16:12Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_975e4c5d0b364409a9dc0f335c51d4ab","created_at":"2022-05-12T17:16:13Z","updated_at":"2022-05-12T17:16:13Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:16:13Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/0c0930ac7a3040bebd5c11be9ff1ed3c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_54fb1c66442e4b718a3f92d41c10ee36","object":"Rate","created_at":"2022-05-12T17:16:13Z","updated_at":"2022-05-12T17:16:13Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2897a27995474d378b2f425bef1b71e8","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4e29e489a3954433a85e647fa01d40c8","object":"Rate","created_at":"2022-05-12T17:16:13Z","updated_at":"2022-05-12T17:16:13Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2897a27995474d3[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_2897a27995474d378b2f425bef1b71e8/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b475627d40dee7873c64003121b3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c147bff09575dca3f6[...]
