---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3a93488362d9962aec8348d2001c07f4
      Location:
      - "/api/v2/shipments/shp_42a34f215beb49009b5cc1a6de4cf9e2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c215bbebe96d0168ec84caf9bf08507f"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:42Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:08:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_c927c0c066ff4828a1d0e75a84e97814","object":"CustomsInfo","created_at":"2022-07-21T18:08:42Z","updated_at":"2022-07-21T18:08:42Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_c83aacee9b864893a4082fcfd9576973","object":"CustomsItem","created_at":"2022-07-21T18:08:42Z","updated_at":"2022-07-21T18:08:42Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_27794ed6092011eda48dac1f6b0a0d1e","object":"Address","created_at":"2022-07-21T18:08:42+00:00","updated_at":"2022-07-21T18:08:42+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_bee6f39b77ef47fb9681e189f1450e50","object":"Parcel","created_at":"2022-07-21T18:08:42Z","updated_at":"2022-07-21T18:08:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_462eec7fbfb74f0cb30591dc764bbc74","object":"Rate","created_at":"2022-07-21T18:08:42Z","updated_at":"2022-07-21T18:08:42Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_42a34f215beb49009b5cc1a6de4cf9e2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ccf5a2e605064fe2bd5613f5178cc537","object":"Rate","created_at":"2022-07-21T18:08:42Z","updated_at":"2022-07-21T18:08:42Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_42a34f215be[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_42a34f215beb49009b5cc1a6de4cf9e2/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_264dc8f6194547909769e0bfe6b61e21"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3a93488362d9962afa8fbf65001c0820
      Content-Type:
      - application/json; chars[...]
