---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc25ebaf13dfb0a02bf000b83e9
      Location:
      - "/api/v2/addresses/adr_0ab59527b8164abe86131a59c7bebd2d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_0ab59527b8164abe86131a59c7bebd2d","object":"Address","created_at":"2020-05-12T18:55:57Z","updated_at":"2020-05-12T18:55:57Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab575ebaf13dfb0e8bac000d4c2d
      Location:
      - "/api/v2/parcels/prcl_a08fb49ba66240948c8b7263c85ffad0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_a08fb49ba66240948c8b7263c85ffad0","object":"Parcel","created_at":"2020-05-12T18:55:57Z","updated_at":"2020-05-12T18:55:57Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 12 May 2020 18:55:58 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"id":"adr_0ab59527b8164abe86131a59c7bebd2d"},"parcel":{"id":"prcl_a08fb49ba66240948c8b7263c85ffad0"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b34287135ebaf13ef532d234000f451c
      Location:
      - "/api/v2/shipments/shp_c15dc2f1fc3940da90fd52ed08793e2e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0ab59527b8164abe86131a59c7bebd2d","object":"Address","created_at":"2020-05-12T18:55:57Z","updated_at":"2020-05-12T18:55:57Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a08fb49ba66240948c8b7263c85ffad0","object":"Parcel","created_at":"2020-05-12T18:55:57Z","updated_at":"2020-05-12T18:55:57Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e9a92af3080c42dd85761ca192168597","object":"Rate","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c15dc2f1fc3940da90fd52ed08793e2e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a86db5af95854bf58fe59b345dde7a22","object":"Rate","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_c15dc2f1fc3940da90fd52ed08793e2e","car[...]
