---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f762d994d7ec3dbedd001c5774
      Location:
      - "/api/v2/shipments/shp_7878a3f6fe794270b03a3dcd5d4bfb3d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ea557164d847d0f37adee3d81724ba4"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:03:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129347930","updated_at":"2022-07-21T18:03:04Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5d94b192091f11edb563ac1f6bc7b362","object":"Address","created_at":"2022-07-21T18:03:03+00:00","updated_at":"2022-07-21T18:03:03+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_abd7ede7192c455896ffceb49c2b57e7","object":"Parcel","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_720b3bf4265741c79666185076ca2117","created_at":"2022-07-21T18:03:04Z","updated_at":"2022-07-21T18:03:04Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:03:04Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/38f578d65df44646ba53ffd4d44adfed.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b5f043fbc81c46bcaf387c58d66b2e90","object":"Rate","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7878a3f6fe794270b03a3dcd5d4bfb3d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d742fae02ba04a0a98a1846025bb2ecb","object":"Rate","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7878a3f6fe79427[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_7878a3f6fe794270b03a3dcd5d4bfb3d/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f862d994d8ec7524fd001c57ee
      Location:
      - "/api/v2/shipments/shp_7878a3f6fe794270b03a3dcd5d4bfb3d/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d8fbb73efbe8e4f99b1aa1cb1c0f80f"
      X-Node:
      - bigweb2nuq
  [...]
