---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d544d2f46216d0f4e78b92020000cdf7
      Location:
      - "/api/v2/shipments/shp_be9a18389cce45b3936067d21fab5d3b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1618402e359d11f691f34a8c6b8a5dd3"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T00:27:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108767592","updated_at":"2022-02-24T00:27:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8e48d789950811ecb162ac1f6bc72124","object":"Address","created_at":"2022-02-24T00:27:32+00:00","updated_at":"2022-02-24T00:27:32+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e8b703c44d034a24b06969eed77a773d","object":"Parcel","created_at":"2022-02-24T00:27:32Z","updated_at":"2022-02-24T00:27:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_48e8d46c02f244a0b4f076848ee951e2","created_at":"2022-02-24T00:27:32Z","updated_at":"2022-02-24T00:27:33Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-24T00:27:32Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220224/89307f1e89904aa28b75b83f48c7c5e2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_01afc4f6d8184c54be43ddb430f0710d","object":"Rate","created_at":"2022-02-24T00:27:32Z","updated_at":"2022-02-24T00:27:32Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_be9a18389cce45b3936067d21fab5d3b","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f12f8b9812de40d3b05f2fe594dd9a15","object":"Rate","created_at":"2022-02-24T00:27:32Z","updated_at":"2022-02-24T00:27:32Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_be9a18389cce45b3936067d21fab5d3b","carrie[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_be9a18389cce45b3936067d21fab5d3b/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d544d2f46216d0f5e78b92410000ce3e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45bef99ed47fbc[...]
