---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964654c8be0dda4270011b1e9
      Location:
      - "/api/v2/shipments/shp_593ee28030694f8182699690c332e144"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d2b800d272cf11c0540b0c2051065cc"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305172004-3d495d8b4d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T21:52:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210722061","updated_at":"2023-05-17T21:52:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_13b49845f4fd11ed87d4ac1f6bc539aa","object":"Address","created_at":"2023-05-17T21:52:11+00:00","updated_at":"2023-05-17T21:52:11+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_da41d8319fdb4e2b962e882f5ce65976","object":"Parcel","created_at":"2023-05-17T21:52:11Z","updated_at":"2023-05-17T21:52:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9e43d853103949debec7227809d9f41c","created_at":"2023-05-17T21:52:11Z","updated_at":"2023-05-17T21:52:12Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T21:52:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/5f79d0c1b926411fbc3255209bcaf6de.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0e09de46bd4f45e4bb5d603ce4676919","object":"Rate","created_at":"2023-05-17T21:52:11Z","updated_at":"2023-05-17T21:52:11Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_593ee28030694f8182699690c332e144","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_8456534f0a934418be76d0fe54f2ac4d","object":"Rate","created_at":"2023-05-17T21:52:11Z","updated_at":"2023-05-17T21:52:11Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_593ee28030694f8182[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_593ee28030694f8182699690c332e144/insure
    body:
      encoding: UTF-8
      string: '{"amount":100}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b4a2ea0964654c8ce0dda42800107651
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"edc2568f67933296bbf5dac7544caee3"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305172004-3d495d8b4d-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T21:52:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210722061","updated_at":"2023-05-17T21:52:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":[...]
