---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f716217b9f0e786ac2100376043
      Location:
      - "/api/v2/shipments/shp_17d4413e5d2243b38220c9375092332f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd9118ce6a5b6392e72824fc43643f5"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-24T17:01:36Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-02-24T17:01:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_144bf29da89345eb85e95a69b63fd8c6","object":"CustomsInfo","created_at":"2022-02-24T17:01:36Z","updated_at":"2022-02-24T17:01:36Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_783cbcb675ff4a4890c2bac4929ef42c","object":"CustomsItem","created_at":"2022-02-24T17:01:36Z","updated_at":"2022-02-24T17:01:36Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_6cfd1bd7959311ec807aac1f6b0a0d1e","object":"Address","created_at":"2022-02-24T17:01:36+00:00","updated_at":"2022-02-24T17:01:36+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9a69c595ffd2474f9af77c3283c8cd22","object":"Parcel","created_at":"2022-02-24T17:01:36Z","updated_at":"2022-02-24T17:01:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e9be8ac2c15c49a68a8659601f212c6c","object":"Rate","created_at":"2022-02-24T17:01:36Z","updated_at":"2022-02-24T17:01:36Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_17d4413e5d2243b38220c9375092332f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_00a8aded11904f74b97fb33304589027","object":"Rate","created_at":"2022-02-24T17:01:36Z","updated_at":"2022-02-24T17:01:36Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_17d4413e5d2243b38220c9375092332f","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_17d4413e5d2243b38220c9375092332f/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_00a8aded11904f74b97fb33304589027"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f726217b9f0e786ac2300376064
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_17d4413e5d2243b38220c9375092332f/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f726217b9f1e786ac24003760c3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a357f73d00b322cc6946a49c35bfdf3"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202240420-6e47ec067a-master
      X-Backend:
      - easypost
   [...]
