---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b1df9426626c4701e78740420050340f
      Location:
      - "/api/v2/shipments/shp_f1995fdbb0ed41d0ad3152436148bce9"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"047b11ff408644b1bd2bf83a3fb664a8"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T20:13:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-29T20:13:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e45e080fc7f811ec91e1ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T20:13:53+00:00","updated_at":"2022-04-29T20:13:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6969230ed49244608d3f0f6866881f6a","object":"Parcel","created_at":"2022-04-29T20:13:53Z","updated_at":"2022-04-29T20:13:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_198a9d2695d1464eabc54a2c6bf2d574","object":"Rate","created_at":"2022-04-29T20:13:54Z","updated_at":"2022-04-29T20:13:54Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f1995fdbb0ed41d0ad3152436148bce9","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b84f8100c8f042a2878384afc3e8241e","object":"Rate","created_at":"2022-04-29T20:13:54Z","updated_at":"2022-04-29T20:13:54Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f1995fdbb0ed41d0ad3152436148bce9","carrier_accou[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_f1995fdbb0ed41d0ad3152436148bce9/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b1df942a626c4702e787405a0050343d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cfc0838036e351ced20783c077b18a0"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5fac7c1107
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-04-29T20:13:54Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_198a9d2695d1464eabc54a2c6bf2d574","list_currency":"USD","list_rate":7.22,"mode":"test","object":"Rate","rate":7.22,"retail_currency":"USD","retail_rate":7.22,"service":"ParcelSelect","shipment_id":"shp_f1995fdbb0ed41d0ad3152436148bce9","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":7},"updated_at":"2022-04-29T20:13:54Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-04-29T20:13:54Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_b84f8100c8f042a2878384afc3e8241e","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_f1995fdbb0ed41d0ad3152436148bc[...]
