---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652e02e0dc982b0007050e
      Location:
      - "/api/v2/shipments/shp_52dbe8cabd534ef8b09818ab7ea5062e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e54087adc739ede48232825874163820"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:41:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693859","updated_at":"2023-05-17T19:41:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e0d82afff4ea11edadedac1f6bc7bdc6","object":"Address","created_at":"2023-05-17T19:41:55+00:00","updated_at":"2023-05-17T19:41:55+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b9269902a3de4c3dbc303e0bf6da591d","object":"Parcel","created_at":"2023-05-17T19:41:55Z","updated_at":"2023-05-17T19:41:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c5bdd2db171542f38b4085e052db6e24","created_at":"2023-05-17T19:41:55Z","updated_at":"2023-05-17T19:41:55Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/e8185f55acc64b6eb78217111f42697b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_52e4ade21da54e3683b56b8be4fa253e","object":"Rate","created_at":"2023-05-17T19:41:55Z","updated_at":"2023-05-17T19:41:55Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_52dbe8cabd534ef8b09818ab7ea5062e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bc86f68178ad45c09a485d0608f08029","object":"Rate","created_at":"2023-05-17T19:41:55Z","updated_at":"2023-05-17T19:41:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_52dbe8cabd534ef8b0[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_52dbe8cabd534ef8b09818ab7ea5062e/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652e04e0dc982c0007057a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a58e3a266856322959db7549460ada2"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-[...]
