---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b1df9427626c4700e787403e00503374
      Location:
      - "/api/v2/shipments/shp_f268a55c20be4682ae88a85e15601903"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f0d339c21dc9de920b09f4ba3e4c240"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T20:13:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-29T20:13:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e39c9c47c7f811ec91b3ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T20:13:52+00:00","updated_at":"2022-04-29T20:13:52+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_66f67962ec9f412e901a6f2d578e5412","object":"Parcel","created_at":"2022-04-29T20:13:52Z","updated_at":"2022-04-29T20:13:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0741aaa8b46a41aeae1bb9f81f019010","object":"Rate","created_at":"2022-04-29T20:13:52Z","updated_at":"2022-04-29T20:13:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f268a55c20be4682ae88a85e15601903","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_56d7c8a3451a4e048a13c280e7981083","object":"Rate","created_at":"2022-04-29T20:13:52Z","updated_at":"2022-04-29T20:13:52Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f268a55c20be4682ae88a85e15601903","carrier_accou[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_f268a55c20be4682ae88a85e15601903/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b1df9425626c4700e787403f005033a7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"edb8a5f292e1d4b838ba12e2490c4177"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-04-29T20:13:52Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_0741aaa8b46a41aeae1bb9f81f019010","list_currency":"USD","list_rate":7.37,"mode":"test","object":"Rate","rate":7.37,"retail_currency":"USD","retail_rate":8.7,"service":"Priority","shipment_id":"shp_f268a55c20be4682ae88a85e15601903","time_in_transit":{"percentile_50":1,"percentile_75":1,"percentile_85":1,"percentile_90":1,"percentile_95":2,"percentile_97":2,"percentile_99":4},"updated_at":"2022-04-29T20:13:52Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-04-29T20:13:52Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_56d7c8a3451a4e048a13c280e7981083","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_f268a55c20be4682ae88a85e156019[...]
