---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":[],"reference":""},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5be62f2ba64e7897f0b00087797
      Location:
      - "/api/v2/shipments/shp_52c9786380cb47f4b1e65dfe0e47c43c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce63d60dbef57575b25744c58b8bb7b5"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:56Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-08-09T19:49:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_720034db181c11ed80f8ac1f6b0a0d1e","object":"Address","created_at":"2022-08-09T19:49:56+00:00","updated_at":"2022-08-09T19:49:56+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a6a7d75173ed433fbfb3f08aa927daf4","object":"Parcel","created_at":"2022-08-09T19:49:56Z","updated_at":"2022-08-09T19:49:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_66655f2474224fe08a1892f5d4eac4b2","object":"Rate","created_at":"2022-08-09T19:49:57Z","updated_at":"2022-08-09T19:49:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_52c9786380cb47f4b1e65dfe0e47c43c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7b63caa2b86b4d11ae7468d1c8bafdd1","object":"Rate","created_at":"2022-08-09T19:49:57Z","updated_at":"2022-08-09T19:49:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":f[...]
