---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652e11e0dc986e00070a8f
      Location:
      - "/api/v2/shipments/shp_dd33c212454941abaa9d4efc772a14d6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8079a2c42268f415f63a446f1b799944"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:42:10Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210694146","updated_at":"2023-05-17T19:42:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e9c47b91f4ea11edb36dac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:42:09+00:00","updated_at":"2023-05-17T19:42:09+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c623977486104152932ac9b3050213ba","object":"Parcel","created_at":"2023-05-17T19:42:09Z","updated_at":"2023-05-17T19:42:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c0a2fb2d939843cbadc8eda4d68105bd","created_at":"2023-05-17T19:42:10Z","updated_at":"2023-05-17T19:42:10Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:42:10Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/6ac07495d55e48b5b0a6639ddc973719.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_72b513b30719418aa645c719858ac246","object":"Rate","created_at":"2023-05-17T19:42:10Z","updated_at":"2023-05-17T19:42:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_dd33c212454941abaa9d4efc772a14d6","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_52eed6f5a2ca40c48b722dd16d1af43b","object":"Rate","created_at":"2023-05-17T19:42:10Z","updated_at":"2023-05-17T19:42:10Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_dd33c212454[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_dd33c212454941abaa9d4efc772a14d6/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0964652e12e0dc9b7d00070af3
      Location:
      - "/api/v2/shipments/shp_dd33c212454941abaa9d4efc772a14d6/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"187ac5f7436887c6105d7f6d13324d8f"
      X-Node:
      - bigweb9nuq
  [...]
