---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f862d994d1ec3b8d55001c5500
      Location:
      - "/api/v2/shipments/shp_063aa64355df45ff9c6c8975aa8dac1f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15e046e61885f1ec3e4d132b034bb5d4"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129347923","updated_at":"2022-07-21T18:02:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5a11ed24091f11eda540ac1f6b0a0d1e","object":"Address","created_at":"2022-07-21T18:02:57+00:00","updated_at":"2022-07-21T18:02:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f858a50fce0d429daa6e4e3484aea15c","object":"Parcel","created_at":"2022-07-21T18:02:57Z","updated_at":"2022-07-21T18:02:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3865e327fdef453abc5742d5632f2465","created_at":"2022-07-21T18:02:58Z","updated_at":"2022-07-21T18:02:58Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:02:58Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/229cb5e91a7b4e27a66cfbf6eeabaa14.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_bc51826bc8e94365a90e0ebf60805b64","object":"Rate","created_at":"2022-07-21T18:02:57Z","updated_at":"2022-07-21T18:02:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_063aa64355df45ff9c6c8975aa8dac1f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_93d921b5c1914ad6a2f3c5690b6773d2","object":"Rate","created_at":"2022-07-21T18:02:57Z","updated_at":"2022-07-21T18:02:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_063aa64355df45ff9c6[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_063aa64355df45ff9c6c8975aa8dac1f/smartrate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f962d994d2ec4fd381001c5575
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cb95cf28a6d425497c3ccce39a70df1"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-07-21T18:02:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_bc51826bc8e94365a90e0ebf60805b64","list_currency":"USD","list_rate":23.75,"mode":"test","object":"Rate","rate":23.75,"retail_currency":"USD","retail_rate":27.4,"service":"Express","shipment_id":"shp_063aa64355df45ff9c6c8975aa8dac1f","time_in_transit":{"percentile_50":1,"percentile_75":1,"percentile_85":1,"percentile_90":1,"percentile_95":2,"percentile_97":2,"percentile_99":5},"updated_at":"2022-07-21T18:02:57Z"},{"carrier":"USPS","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","created_at":"2022-07-21T18:02:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_93d921b5c1914ad6a2f3c5690b6773d2","list_currency":"USD","list_rate":7.37,"mode":"test","object":"Rate","rate":7.37,"retail_currency":"USD","retail_rate":8.7,"service":"Priority","shipment_id":"shp_063aa64355df45ff9c6c8975aa8d[...]
