---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"company":"Airport Shipping","street1":"601 Brasilia Avenue","city":"Kansas
        City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d55ebaf13ffb1c3d4b000ad285
      Location:
      - "/api/v2/addresses/adr_bc25450a427f4015a34dad18a2fb5f81"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bc25450a427f4015a34dad18a2fb5f81","object":"Address","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 May 2020 18:55:59 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc85ebaf13ffb1ef605000b84a8
      Location:
      - "/api/v2/parcels/prcl_3b326fc4b6ea4b089735ced50a8008e5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_3b326fc4b6ea4b089735ced50a8008e5","object":"Parcel","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Tue, 12 May 2020 18:55:59 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"EasyPost","street1":"164 Townsend
        Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"from_address":{"id":"adr_bc25450a427f4015a34dad18a2fb5f81"},"parcel":{"id":"prcl_3b326fc4b6ea4b089735ced50a8008e5"},"options":{"fulfiller_order_items":[{"id":"12345678901234","quantity":1}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab525ebaf140fb41872b000d4cdc
      Location:
      - "/api/v2/shipments/shp_5853888880a7456cb18a97d0f7da5f38"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:00Z","is_return":false,"messages":[],"mode":"test","options":{"fulfiller_order_items":[{"id":"12345678901234","quantity":1}],"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_bc25450a427f4015a34dad18a2fb5f81","object":"Address","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3b326fc4b6ea4b089735ced50a8008e5","object":"Parcel","created_at":"2020-05-12T18:55:59Z","updated_at":"2020-05-12T18:55:59Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b3a8882be94042a18971d44ce24693c3","object":"Rate","created_at":"2020-05-12T18:56:00Z","updated_at":"2020-05-12T18:56:00Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5853888880a7456cb18a97d0f7da5f38","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ba1cd258e59043d9ae7e0df3ed1641be","object":"Rate","created_at":"2020-05-12T18:56:00Z","updated_at":"2020-05-12T18:56:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_5853888880a7456cb18a97d0f7da5f38","c[...]
