---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"tax_identifiers":[{"entity":"SENDER","tax_id_type":"IOSS","tax_id":"12345","issuing_country":"GB"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708062d994c5ec4f4633001e55f6
      Location:
      - "/api/v2/shipments/shp_aee9857d56434f2db220f373568a9924"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3e42796dba61fdf7c1274bbe215d628"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:02:45Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:02:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_52e16866091f11ed9834ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:02:45+00:00","updated_at":"2022-07-21T18:02:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7730267f9ce9467ea1a1068201d5fcbf","object":"Parcel","created_at":"2022-07-21T18:02:45Z","updated_at":"2022-07-21T18:02:45Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_7aaae09725b1418baeec49ac7abcf19b","object":"Rate","created_at":"2022-07-21T18:02:45Z","updated_at":"2022-07-21T18:02:45Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aee9857d56434f2db220f373568a9924","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fee4e3b7f6b4413484a976cfba773bed","object":"Rate","created_at":"2022-07-21T18:02:45Z","updated_at":"2022-07-21T18:02:45Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aee9857d56434f2[...]
