---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba71e7897f6b00087ccd
      Location:
      - "/api/v2/shipments/shp_d515e0802fcd43ccad5d4e44662ae46a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"def3c8b5d78a4f712a99b4a1dac59863"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:50:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422853","updated_at":"2022-08-09T19:50:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_795e89c0181c11edaa98ac1f6bc72124","object":"Address","created_at":"2022-08-09T19:50:09+00:00","updated_at":"2022-08-09T19:50:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cb51238db233494cb88d5653054e0b5f","object":"Parcel","created_at":"2022-08-09T19:50:09Z","updated_at":"2022-08-09T19:50:09Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d3d9125f8c17465d95a9500151462758","created_at":"2022-08-09T19:50:09Z","updated_at":"2022-08-09T19:50:10Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:50:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/2dccbc315c2041d0a80117286a529e8d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_bca66d5fe3ab49ae9e6eb0468f56acb3","object":"Rate","created_at":"2022-08-09T19:50:09Z","updated_at":"2022-08-09T19:50:09Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d515e0802fcd43ccad5d4e44662ae46a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_184615a8d46948948027c1a98f229ade","object":"Rate","created_at":"2022-08-09T19:50:09Z","updated_at":"2022-08-09T19:50:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d515e0802fcd43ccad5[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d515e0802fcd43ccad5d4e44662ae46a/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba72e7897f7000087d4d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"336fabb9dee937f2a0818e5a374fc6f6"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-[...]
