---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"company":"Airport Shipping","street1":"601
        Brasilia Avenue","city":"Kansas City","state":"MO","zip":"64153","phone":"314-924-0383","email":"kansas_shipping@example.com"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fca702d55ebaf14efb576d0e000ad728
      Location:
      - "/api/v2/shipments/shp_50be9832f5f44fbe9fa63401d6feedfa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:56:14Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c909a52a470b482992accbf3454326a6","object":"Address","created_at":"2020-05-12T18:56:14Z","updated_at":"2020-05-12T18:56:14Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_214f277bad364474b4191f05e40058be","object":"Parcel","created_at":"2020-05-12T18:56:14Z","updated_at":"2020-05-12T18:56:14Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c3de722311ec4c3fbb2a620d61310a92","object":"Rate","created_at":"2020-05-12T18:56:15Z","updated_at":"2020-05-12T18:56:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_50be9832f5f44fbe9fa63401d6feedfa","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2c1d6d4c5e104b2d97de19c0a97afe74","object":"Rate","created_at":"2020-05-12T18:56:15Z","updated_at":"2020-05-12T18:56:15Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_50be9832f5f44fbe9fa63401d6feedfa","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_50be9832f5f44fbe9fa63401d6feedfa/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_2c1d6d4c5e104b2d97de19c0a97afe74"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc15ebaf14ffb6622a4000b891d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005121845-28f8d230f5-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:56:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9461200897846038769036","updated_at":"2020-05-12T18:56:16Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c909a52a470b482992accbf3454326a6","object":"Address","created_at":"2020-05-12T18:56:14Z","updated_at":"2020-05-12T18:56:14Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_214f277bad364474b4191f05e40058be","object":"Parcel","created_at":"2020-05-12T18:56:14Z","updated_at":"2020-05-12T18:56:14Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_00b6fed4c2234969ad50822e57a6a1c2","created_at":"2020-05-12T18:56:16Z","updated_at":"2020-05-12T18:56:16Z","date_advance":0,"integrated_form":"none","label_date":"2020-05-12T18:56:16Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200512/8460acd210304d8b9ba1bb969693adba.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c3de722311ec4c3fbb2a620d61310a92","object":"Rate","created_at":"2020-05-12T18:56:15Z","updated_at":"2020-05-12T18:56:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_50be9832f5f44fbe9fa63401d6feedfa","carrier_account_id":"ca_716f33f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_50be9832f5f44fbe9fa63401d6feedfa/insure
    body:
      encoding: UTF-8
      string: '{"amount":100}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab535ebaf151f5310bf6000d5181
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj [...]
