---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52652e786c9c30028090b
      Location:
      - "/api/v2/shipments/shp_49e3ed1377fb468bbcbeb2d6cdffbc89"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e026039e743b5cab1854f92aa88df700"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:59Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-11T15:54:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_67fbde6b78504c15bae4d9968dd2d5d0","object":"CustomsInfo","created_at":"2022-08-11T15:54:58Z","updated_at":"2022-08-11T15:54:58Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_1b6006a5eb524eb1a39b21c6ffbde25f","object":"CustomsItem","created_at":"2022-08-11T15:54:58Z","updated_at":"2022-08-11T15:54:58Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_f3c7db31198d11ed97baac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:58+00:00","updated_at":"2022-08-11T15:54:58+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9d584df35b2e49a59f296a6ebb38f58e","object":"Parcel","created_at":"2022-08-11T15:54:58Z","updated_at":"2022-08-11T15:54:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_56d6ce4b79324349a7c4599a06d1de51","object":"Rate","created_at":"2022-08-11T15:54:59Z","updated_at":"2022-08-11T15:54:59Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_49e3ed1377fb468bbcbeb2d6cdffbc89","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_915555461026455c8fb5a17f73c21b2f","object":"Rate","created_at":"2022-08-11T15:54:59Z","updated_at":"2022-08-11T15:54:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_49e3ed1377fb468bbcbeb2d6cdffbc89/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52653e786c9c400280944
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e00bca415ddcf262b2968d5be7c8bac5"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"rates":[{"id":"rate_b1cc4cf332e645ef81c97b61f0c2f150","object":"Rate","created_at":"2022-08-11T15:54:59Z","updated_at":"2022-08-11T15:54:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,[...]
