---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c91b116567cccfee6aeeda00a5abfd
      Location:
      - "/api/v2/shipments/shp_b5703ce475f34ff08f5b29bdf9d5c9d4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-29T23:44:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286704294","updated_at":"2023-11-29T23:44:16Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_349e60768f1111ee94a0ac1f6bc539ae","object":"Address","created_at":"2023-11-29T23:44:15+00:00","updated_at":"2023-11-29T23:44:15+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ae19331747d14496a3820961b5035694","object":"Parcel","created_at":"2023-11-29T23:44:15Z","updated_at":"2023-11-29T23:44:15Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b7b3336a83424983866b87a86f0384d8","created_at":"2023-11-29T23:44:16Z","updated_at":"2023-11-29T23:44:16Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-29T23:44:16Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231129/e875b4e5f67df0484d83a0b2b82e211539.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_bc808c75e30b47d680528427a2059dab","object":"Rate","created_at":"2023-11-29T23:44:15Z","updated_at":"2023-11-29T23:44:15Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b5703ce475f34ff08f5b29bdf9d5c9d4","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7512f60f3dda4888a11203329aaad39b","object":"Rate","created_at":"2023-11-29T23:44:15Z","updated_at":"2023-11-29T23:44:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b5703ce475f34ff08f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b5703ce475f34ff08f5b29bdf9d5c9d4/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9596567ccd0ee80bbfa00acf12b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X[...]
