---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f662d99631ec748359001d0b63
      Location:
      - "/api/v2/shipments/shp_d005beba2f234fc3992b527bc64a049f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"968b31705fb6df3f09b1c50fd66e4086"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361129348593","updated_at":"2022-07-21T18:08:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2b948aa1092011ed9631ac1f6bc7bdc6","object":"Address","created_at":"2022-07-21T18:08:49+00:00","updated_at":"2022-07-21T18:08:49+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a6fbac94982d42f688730dec6803e2ea","object":"Parcel","created_at":"2022-07-21T18:08:49Z","updated_at":"2022-07-21T18:08:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_9ba38826bb5b47b3aa7e8458dd2d29fd","created_at":"2022-07-21T18:08:49Z","updated_at":"2022-07-21T18:08:50Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:08:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/090eafbc6160421bb68adfca7cbbd73d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_be8b0c25b49f4cedaa48e73f024f1e8c","object":"Rate","created_at":"2022-07-21T18:08:49Z","updated_at":"2022-07-21T18:08:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d005beba2f234fc3992b527bc64a049f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4ab60adbb05e4a859e646df774af777c","object":"Rate","created_at":"2022-07-21T18:08:49Z","updated_at":"2022-07-21T18:08:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d005beba2f234fc[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_d005beba2f234fc3992b527bc64a049f/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f862d99632ec3b0dde001d0be9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8188b678036f7706a1[...]
