---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c91b106567ccbdee5c0b1800a59cfd
      Location:
      - "/api/v2/addresses/adr_29d8b95b8f1111eea335ac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"adr_29d8b95b8f1111eea335ac1f6bc539aa","object":"Address","created_at":"2023-11-29T23:43:57+00:00","updated_at":"2023-11-29T23:43:57+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 29 Nov 2023 23:43:57 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c91b116567ccbdee5c0b3900a59d2c
      Location:
      - "/api/v2/parcels/prcl_f93140a704a843338fe4866e6b49b691"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"prcl_f93140a704a843338fe4866e6b49b691","object":"Parcel","created_at":"2023-11-29T23:43:57Z","updated_at":"2023-11-29T23:43:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 29 Nov 2023 23:43:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_29d8b95b8f1111eea335ac1f6bc539aa"},"to_address":{"id":"adr_29ea612f8f1111eeb415ac1f6bc53342"},"parcel":{"id":"prcl_f93140a704a843338fe4866e6b49b691"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 76e1c9566567ccbdee5af2b300ace19f
      Location:
      - "/api/v2/shipments/shp_b6898593db7d4080aa0f5591b7b33c7c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-29T23:43:58Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2023-11-29T23:43:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_29d8b95b8f1111eea335ac1f6bc539aa","object":"Address","created_at":"2023-11-29T23:43:57+00:00","updated_at":"2023-11-29T23:43:57+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f93140a704a843338fe4866e6b49b691","object":"Parcel","created_at":"2023-11-29T23:43:57Z","updated_at":"2023-11-29T23:43:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3572b08742b745918ddff2a82ccddf3a","object":"Rate","created_at":"2023-11-29T23:43:58Z","updated_at":"2023-11-29T23:43:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.25","currency":"USD","retail_rate":"29.20","retail_currency":"USD","list_rate":"25.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b6898593db7d4080aa0f5591b7b33c7c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5b0afe261fc942cab5470d29f50bbdd4","object":"Rate","created_at":"2023-11-29T23:43:58Z","updated_at":"2023-11-29T23:43:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.73","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.64","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,[...]
