---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40d7e7873c5c00311f7a
      Location:
      - "/api/v2/shipments/shp_9273c33c6bf54034814846443122d5ab"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ce69a928ff955b04cf56f89bfb615ef"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:07Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-05-12T17:16:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_c492047a7717446490e7e91a2cfdc2bf","object":"CustomsInfo","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_1b113b955fa6449bab121e723d6c3a81","object":"CustomsItem","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_35db2781d21711ecb837ac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:16:07+00:00","updated_at":"2022-05-12T17:16:07+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_022eb079628249a9942ce3e8cca7f481","object":"Parcel","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3ee972df22ab4b79818318cd9c3f6eb9","object":"Rate","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9273c33c6bf54034814846443122d5ab","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_70cda54b578940d68de4fd40e9d0f515","object":"Rate","created_at":"2022-05-12T17:16:07Z","updated_at":"2022-05-12T17:16:07Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9273c33c6bf54034814846[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9273c33c6bf54034814846443122d5ab/rerate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40d7e7873c5d00311fca
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8f2338ffcb7ace70b[...]
