---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[company]=Airport%20Shipping&address[street1]=601%20Brasilia%20Avenue&address[city]=Kansas%20City&address[state]=MO&address[zip]=64153&address[phone]=314-924-0383&address[email]=kansas_shipping%40example.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d37fc9bec8e000dedf8
      Location:
      - "/api/v2/addresses/adr_4140cad95a7143ab88114e23efa85a79"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4140cad95a7143ab88114e23efa85a79","object":"Address","created_at":"2020-04-24T16:00:55Z","updated_at":"2020-04-24T16:00:55Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[width]=12&parcel[length]=16.5&parcel[height]=9.5&parcel[weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d37fc9bec8f000dee16
      Location:
      - "/api/v2/parcels/prcl_d85c4da9929841f0b75400a8332eea4f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_d85c4da9929841f0b75400a8332eea4f","object":"Parcel","created_at":"2020-04-24T16:00:55Z","updated_at":"2020-04-24T16:00:55Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Fri, 24 Apr 2020 16:00:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][id]=adr_4140cad95a7143ab88114e23efa85a79&shipment[parcel][id]=prcl_d85c4da9929841f0b75400a8332eea4f&shipment[options][fulfiller_order_items][0][id]=12345678901234&shipment[options][fulfiller_order_items][0][quantity]=1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d37fc9bec90000dee41
      Location:
      - "/api/v2/shipments/shp_8475042e9049424e87681aa74338f808"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:55Z","is_return":false,"messages":[],"mode":"test","options":{"fulfiller_order_items":[{"id":"12345678901234","quantity":"1"}],"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4140cad95a7143ab88114e23efa85a79","object":"Address","created_at":"2020-04-24T16:00:55Z","updated_at":"2020-04-24T16:00:55Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d85c4da9929841f0b75400a8332eea4f","object":"Parcel","created_at":"2020-04-24T16:00:55Z","updated_at":"2020-04-24T16:00:55Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2b8102fc3a9242468777be438de57e15","object":"Rate","created_at":"2020-04-24T16:00:56Z","updated_at":"2020-04-24T16:00:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8475042e9049424e87681aa74338f808","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2f21a23a016444a9bf897db8c304dfde","object":"Rate","created_at":"2020-04-24T16:00:56Z","updated_at":"2020-04-24T16:00:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_8475042e9049424e87681aa74338f808","car[...]
