---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 30f259d462d99629ec87d21f001c6fef
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"febf5f21d1fffb42e63932c076c276d5"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 403f17ff97
      - intlb1wdc 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-07-21T18:03:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100109361129347930","updated_at":"2022-07-21T18:07:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5d94b192091f11edb563ac1f6bc7b362","object":"Address","created_at":"2022-07-21T18:03:03+00:00","updated_at":"2022-07-21T18:03:03+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_abd7ede7192c455896ffceb49c2b57e7","object":"Parcel","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_720b3bf4265741c79666185076ca2117","created_at":"2022-07-21T18:03:04Z","updated_at":"2022-07-21T18:03:04Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-21T18:03:04Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220721/38f578d65df44646ba53ffd4d44adfed.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b5f043fbc81c46bcaf387c58d66b2e90","object":"Rate","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7878a3f6fe794270b03a3dcd5d4bfb3d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d742fae02ba04a0a98a1846025bb2ecb","object":"Rate","created_at":"2022-07-21T18:03:03Z","updated_at":"2022-07-21T18:03:03Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7878a3f6fe79427[...]
