---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b1df9427626c46fde787402000503235
      Location:
      - "/api/v2/shipments/shp_4ed623c1e39143c2ad9667bf894c1322"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8874f3c37a0c2d35ad486e9f26e1635a"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204282028-6188e715cb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5fac7c1107
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-04-29T20:13:49Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-04-29T20:13:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_b51e1bf8e8af438cb798382eb7026836","object":"CustomsInfo","created_at":"2022-04-29T20:13:49Z","updated_at":"2022-04-29T20:13:49Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_8d9d760725b9447585af8e73e1a52046","object":"CustomsItem","created_at":"2022-04-29T20:13:49Z","updated_at":"2022-04-29T20:13:49Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_e1fcf018c7f811ec9137ac1f6b0a0d1e","object":"Address","created_at":"2022-04-29T20:13:49+00:00","updated_at":"2022-04-29T20:13:49+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b58f7013e11847e9b7a7f9eb30d61baa","object":"Parcel","created_at":"2022-04-29T20:13:49Z","updated_at":"2022-04-29T20:13:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c5f4e40985464d6eb9590a85066bc6b6","object":"Rate","created_at":"2022-04-29T20:13:50Z","updated_at":"2022-04-29T20:13:50Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4ed623c1e39143c2ad9667bf894c1322","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_eec950855c1f4e0f9b736893fed489ca","object":"Rate","created_at":"2022-04-29T20:13:50Z","updated_at":"2022-04-29T20:13:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4ed623c1e39143c2ad9667bf894c1322","carrie[...]
