---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d544d2f46216d0efe78b2d0e0000cd05
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"209eabc9fa529f24ec908df60f3f656f"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202232205-2f689abe9b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"shipments":[{"created_at":"2022-02-24T00:04:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100895232108766663","updated_at":"2022-02-24T00:08:54Z","batch_id":"batch_156d4c932f5748de9df3aac92ae9b52f","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_512123a2950511ec8e83ac1f6bc7bdc6","object":"Address","created_at":"2022-02-24T00:04:21+00:00","updated_at":"2022-02-24T00:04:21+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1c867c1a5d4642bbbaa817412e5c2636","object":"Parcel","created_at":"2022-02-24T00:04:21Z","updated_at":"2022-02-24T00:04:21Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_df204a819cfb4567857686e108e560c4","created_at":"2022-02-24T00:04:21Z","updated_at":"2022-02-24T00:04:21Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-24T00:04:21Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220224/436327b19e4046da810face98b68c475.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_09392e08f7bf4dc59d1e0f94a76fa540","object":"Rate","created_at":"2022-02-24T00:04:21Z","updated_at":"2022-02-24T00:04:21Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a684ff8ce8dd46fcb0fb62d12c06311f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_681594082aee4a15a62264c08a8a9b8c","object":"Rate","created_at":"2022-02-24T00:04:21Z","updated_at":"2022-02-24T00:04:21Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a684ff8ce8dd46fcb0fb62d12c06311f","carrier_accou[...]
