---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - db45703962e82d4be789fe210039c0c1
      Location:
      - "/api/v2/shipments/shp_20e4ca40ea39409fa66d4948b3192581"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06fca2f0bafcaa016a0f9e13b6691140"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-01T19:45:15Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-08-01T19:45:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_60e187aa67a1486f87f3e1c6350df774","object":"CustomsInfo","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_9fb13b8a66b540b3b63b83a04cbf91ab","object":"CustomsItem","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_76c48e1111d211edb6e9ac1f6bc7b362","object":"Address","created_at":"2022-08-01T19:45:15+00:00","updated_at":"2022-08-01T19:45:15+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5b91cd8c46f443c9bcf17d824e538a4f","object":"Parcel","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_bdccf4d99751428f831d5ae0e815c029","object":"Rate","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_20e4ca40ea39409fa66d4948b3192581","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_50dd0714450f4c1f85762dad8692b982","object":"Rate","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_20e4ca40ea3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_20e4ca40ea39409fa66d4948b3192581/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db45703962e82d4be789fe220039c0e1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"51fe68cd48aceb88bf1f5b7195be39dd"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208011751-bfb284a12f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"rates":[{"id":"rate_c3c7711ed8354b6a9b69ef5ba33290b4","object":"Rate","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_20e4ca40ea39409fa66d4948b3192581","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_93eedd6e8216464a85bd269e7eb0bcd9","object":"Rate","created_at":"2022-08-01T19:45:15Z","updated_at":"2022-08-01T19:45:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_20e4ca40ea39409fa66d4948b3192581[...]
