---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 0a9e26fe62cc65aae786c960000c55aa
      Location:
      - "/api/v2/shipments/shp_55209c2f42be4284a0fceef3c2db0399"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4115016a7266d397d73842ad4dc668e7"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207082122-f28717e31b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-11T18:02:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361127604585","updated_at":"2022-07-11T18:02:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9ab5fe7e014311ed9f53ac1f6bc72124","object":"Address","created_at":"2022-07-11T18:02:18+00:00","updated_at":"2022-07-11T18:02:18+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_33c3b24a19124dd7b7c764cf7ae25832","object":"Parcel","created_at":"2022-07-11T18:02:18Z","updated_at":"2022-07-11T18:02:18Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_25bb849f484a4f94b4d3431f83a9b464","created_at":"2022-07-11T18:02:19Z","updated_at":"2022-07-11T18:02:19Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-11T18:02:19Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220711/41a5f616f49b4285a8b2c7bf93e446e9.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_020066352c864211a88275a7907cb558","object":"Rate","created_at":"2022-07-11T18:02:18Z","updated_at":"2022-07-11T18:02:18Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_55209c2f42be4284a0fceef3c2db0399","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_cc0b95104a634ee68804207403c63adb","object":"Rate","created_at":"2022-07-11T18:02:18Z","updated_at":"2022-07-11T18:02:18Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_55209c2f42be428[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_55209c2f42be4284a0fceef3c2db0399/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 0a9e26fc62cc65ace786c961000c564f
      Location:
      - "/api/v2/shipments/shp_55209c2f42be4284a0fceef3c2db0399/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cc75378b41534bc08ee3baaba9b0b56"
      X-Node:
      - bigweb9nuq
  [...]
