---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3862f52668e786ca0d00281058
      Location:
      - "/api/v2/shipments/shp_16d95e8f1a6b4cdeac008c7fe651a032"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f853ed92962bb0d51f5388f829e754c9"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:55:20Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132686224","updated_at":"2022-08-11T15:55:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_00600635198e11edb72eac1f6bc7bdc6","object":"Address","created_at":"2022-08-11T15:55:20+00:00","updated_at":"2022-08-11T15:55:20+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9ed1250999a0470099fea806d1c9ef9e","object":"Parcel","created_at":"2022-08-11T15:55:20Z","updated_at":"2022-08-11T15:55:20Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_807a6aa2d96842a78afb53d198d08d1d","created_at":"2022-08-11T15:55:20Z","updated_at":"2022-08-11T15:55:20Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:55:20Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/cfcce6ff8a3a4e99aabfe56341505370.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a760e01a356447fda1806391541b17c4","object":"Rate","created_at":"2022-08-11T15:55:20Z","updated_at":"2022-08-11T15:55:20Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_16d95e8f1a6b4cdeac008c7fe651a032","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_004baf5460b24727b7ad7d747790c48d","object":"Rate","created_at":"2022-08-11T15:55:20Z","updated_at":"2022-08-11T15:55:20Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_16d95e8f1a6b4cdeac008c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_16d95e8f1a6b4cdeac008c7fe651a032/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52669e7872ef3002810ad
      Location:
      - "/api/v2/shipments/shp_16d95e8f1a6b4cdeac008c7fe651a032/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac9004f3f35915eb2b1b8a26d0d82f5e"
      X-Node:
      - bigweb3nuq
  [...]
