---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652dece0dc97e50006fcb7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"790b17d96f229a3f31b7ef7e1c8808d1"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-05-17T19:41:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693507","updated_at":"2023-05-17T19:41:29Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d13484aef4ea11ed94d03cecef1b359e","object":"Address","created_at":"2023-05-17T19:41:28+00:00","updated_at":"2023-05-17T19:41:28+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a5ec13fffdc646b7a89a628858a3e231","object":"Parcel","created_at":"2023-05-17T19:41:28Z","updated_at":"2023-05-17T19:41:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_77ab58fdf29a4615a8c3fdc75ac8ba29","created_at":"2023-05-17T19:41:29Z","updated_at":"2023-05-17T19:41:29Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:29Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/2c7e2bd2bd8046d8b2744b6bf543beb5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_24bba4a313dd4534afb8dfd4ee1b9264","object":"Rate","created_at":"2023-05-17T19:41:28Z","updated_at":"2023-05-17T19:41:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_def0f6715ecc4a42b915535aa5b9ab5e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_6b8d26f10969469aaaa81f3d7c782e14","object":"Rate","created_at":"2023-05-17T19:41:28Z","updated_at":"2023-05-17T19:41:28Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_def0f6715ecc4a42b91553[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"before_id":"shp_221d7bb3ee0846da8636453f0ca4cf2d"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652dede0dc97e60006fcfe
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f17ef39cc65c3a852f57ff811a20334f"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-B[...]
