---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba69e7897f2a0008793e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3001f74c1cd0a06524ce81891da4d417"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2022-08-09T19:49:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422822","updated_at":"2022-08-09T19:49:55Z","batch_id":"batch_abf3cdd20aa5432abb4e2ab7a1b1f227","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_70063f76181c11edb4aeac1f6bc7bdc6","object":"Address","created_at":"2022-08-09T19:49:53+00:00","updated_at":"2022-08-09T19:49:53+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e5ce725cfb404a56b210564c5e0511d1","object":"Parcel","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f54189452f30476086de7df655938e01","created_at":"2022-08-09T19:49:54Z","updated_at":"2022-08-09T19:49:54Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:54Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/5f971acce8384c36817264f29d56efb7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d5163711e93e4233a2a1bf69d19b9565","object":"Rate","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_1347e714aa394e03a75d5a9907285dbe","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4b8cfc6ba1b2456aa5bf8889d12eedc8","object":"Rate","created_at":"2022-08-09T19:49:53Z","updated_at":"2022-08-09T19:49:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_1347e714aa3[...]
