---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=Airport%20Shipping&shipment[to_address][street1]=601%20Brasilia%20Avenue&shipment[to_address][city]=Kansas%20City&shipment[to_address][state]=MO&shipment[to_address][zip]=64153&shipment[to_address][phone]=314-924-0383&shipment[to_address][email]=kansas_shipping%40example.com&shipment[from_address][company]=EasyPost&shipment[from_address][street1]=164%20Townsend%20Street&shipment[from_address][street2]=Unit%201&shipment[from_address][city]=San%20Francisco&shipment[from_address][state]=CA&shipment[from_address][zip]=94107&shipment[from_address][phone]=415-123-4567&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d43fc9beceb000df457
      Location:
      - "/api/v2/shipments/shp_34b6319404a449f39391d31a4825af8a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:01:07Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:01:07Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d0af935faec04f23aab17d0336ec9d09","object":"Address","created_at":"2020-04-24T16:01:07Z","updated_at":"2020-04-24T16:01:07Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a6882d47bc2d4a018fb7775dddd73e84","object":"Parcel","created_at":"2020-04-24T16:01:07Z","updated_at":"2020-04-24T16:01:07Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a49b76f566334ebf9653f22c75472001","object":"Rate","created_at":"2020-04-24T16:01:08Z","updated_at":"2020-04-24T16:01:08Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_34b6319404a449f39391d31a4825af8a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4644cfaf5828496bb4244beed8b0ff73","object":"Rate","created_at":"2020-04-24T16:01:08Z","updated_at":"2020-04-24T16:01:08Z","mode":"test","service":"Express","carrier":"USPS","rate":"97.80","currency":"USD","retail_rate":"114.65","retail_currency":"USD","list_rate":"97.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_34b6319404a449f39391d31a4825af8a","c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_34b6319404a449f39391d31a4825af8a/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_a49b76f566334ebf9653f22c75472001
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d45fc9becec000df4ec
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_34b6319404a449f39391d31a4825af8a/insure
    body:
      encoding: UTF-8
      string: amount=100
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d46fc9becee000df56d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:[...]
