---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708162d99627fa90c408001ede30
      Location:
      - "/api/v2/addresses/adr_2581d24a092011ed98d2ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a9c5f4ea17d5848ab38613d085c2471"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"adr_2581d24a092011ed98d2ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:08:39+00:00","updated_at":"2022-07-21T18:08:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 21 Jul 2022 18:08:39 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76707c62d99627ec752de2001ede40
      Location:
      - "/api/v2/parcels.prcl_39d5d1ff94a846a194c87fab4bb56d3a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd92495f14044f89b6cdbbb695daced0"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_39d5d1ff94a846a194c87fab4bb56d3a","object":"Parcel","created_at":"2022-07-21T18:08:39Z","updated_at":"2022-07-21T18:08:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 21 Jul 2022 18:08:39 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_2581d24a092011ed98d2ac1f6bc72124"},"to_address":{"id":"adr_25976838092011ed98d5ac1f6bc72124"},"parcel":{"id":"prcl_39d5d1ff94a846a194c87fab4bb56d3a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc76708162d99627ec82def5001ede49
      Location:
      - "/api/v2/shipments/shp_9a2d750078114b278aa19a0d6430d60f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bda083387fcd4c4c9a783f20a1230e83"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:08:39Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2581d24a092011ed98d2ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:08:39+00:00","updated_at":"2022-07-21T18:08:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_39d5d1ff94a846a194c87fab4bb56d3a","object":"Parcel","created_at":"2022-07-21T18:08:39Z","updated_at":"2022-07-21T18:08:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_5f73afdacfcc4dadbe3352a7e1471d4b","object":"Rate","created_at":"2022-07-21T18:08:39Z","updated_at":"2022-07-21T18:08:39Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9a2d750078114b278aa19a0d6430d60f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_7d77637fd24c401da444bd7ce4040a24","object":"Rate","created_at":"2022-07-21T18:08:39Z","updated_at":"2022-07-21T18:08:39Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9a2d750078114b278aa19a[...]
