---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f662d9962cec3e365c001d0911
      Location:
      - "/api/v2/shipments/shp_cc4e7d3c6f4746f89ee188feccc8a1a3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d5aa8ca6eb4ff50f55fa84bcd26348c"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-21T18:08:44Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-21T18:08:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_6bab8d0d81d74502974a5dc1ccd1171f","object":"CustomsInfo","created_at":"2022-07-21T18:08:44Z","updated_at":"2022-07-21T18:08:44Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b425381f1a6d42d6837ac739820d9368","object":"CustomsItem","created_at":"2022-07-21T18:08:44Z","updated_at":"2022-07-21T18:08:44Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_28dd51a8092011ed99b0ac1f6bc72124","object":"Address","created_at":"2022-07-21T18:08:44+00:00","updated_at":"2022-07-21T18:08:44+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5f9f8ad21e29490daede0fd59e141fd7","object":"Parcel","created_at":"2022-07-21T18:08:44Z","updated_at":"2022-07-21T18:08:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6fde10da13d641f680c33f9277f2da0c","object":"Rate","created_at":"2022-07-21T18:08:44Z","updated_at":"2022-07-21T18:08:44Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cc4e7d3c6f4746f89ee188feccc8a1a3","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_ae59e0dd7e074c82a5a22da37a50cb35","object":"Rate","created_at":"2022-07-21T18:08:44Z","updated_at":"2022-07-21T18:08:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_cc4e7d3c6f4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_cc4e7d3c6f4746f89ee188feccc8a1a3/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_6fde10da13d641f680c33f9277f2da0c"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f862d9962dec979b93001d093b
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_cc4e7d3c6f4746f89ee188feccc8a1a3/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4f7b62f562d9962eec51635f001d09ba
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09023138806fe6188b022204158c5d92"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207211654-3ddfa3bafe-master
      X-Backend:
      - easypost
      X-[...]
