---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/CM218228743US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d46fc9becef000df5bc
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-20T23:29:24Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"CM218228743US","updated_at":"2020-04-20T23:33:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_a21d8fdcf7334b81a53ddde9f12f4477","object":"CustomsInfo","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_50084548a3f546c1b70d58953d29fd26","object":"CustomsItem","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_f969c6dad4d241a0bd962f189891bf85","object":"Address","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_304b795567f3429fa1a5e7b3afe1772d","object":"Parcel","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c9b1e9528c0f42eb8a1bbf40a31899c9","created_at":"2020-04-20T23:29:25Z","updated_at":"2020-04-20T23:29:25Z","date_advance":0,"integrated_form":"none","label_date":"2020-04-20T23:29:25Z","label_resolution":300,"label_size":"6x4","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200420/14797b878a204e84af1688fc641a7745.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f4648cb355474457a0cf6b13e1d09808","object":"Rate","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e6e91160fc194bbcbf04bb94e3e01529","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e91e0b7dc2da4b7da9d5a3d27fffcd0c","object":"Rate","created_at":"2020-04-20T23:29:24Z","updated_at":"2020-04-20T23:29:24Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e6e91160fc194bbcbf04bb94e3e01529","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_f4648cb355474457a0cf6b13e1d09808","object":"Rate","created_at":"2020-04-20T23:29:25Z","updated_at":"2020-04-20T23:29:25Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e6e91160fc194bbcbf04bb94e3e01529","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_8da2292638a24acc8c5df7fa6fff3ed6","user_id":47799,"object":"Tracker","mode":"test","tracking_code":"CM218228743US","status":"delivered","status_detail":"arrived_at_destination","created_at":"2020-04-20T23:29:26Z","updated_at":"2020-04-20T23:32:26Z","signed_by":"John
        Tester","weight":null,"est_delivery_date":"2020-04-20T23:32:26Z","shipment_id":"shp_e6e91160fc194bbcbf04bb94e3e01529","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-03-20T23:32:26Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-03-21T12:09:26Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
        at USPS Origin Facility","description":n[...]
