---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40dbe7873c61003120e2
      Location:
      - "/api/v2/shipments/shp_61270b97edf74461bb9092577c88b71a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4676f866504dfad399ba0ca19369fdf6"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:16:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118873907","updated_at":"2022-05-12T17:16:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_38674f55d21711ecb911ac1f6bc7b362","object":"Address","created_at":"2022-05-12T17:16:11+00:00","updated_at":"2022-05-12T17:16:11+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6030039e58ea4f2fb89ff2a21cf799b8","object":"Parcel","created_at":"2022-05-12T17:16:11Z","updated_at":"2022-05-12T17:16:11Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d39f84e3461248a6b442c728b097ad9c","created_at":"2022-05-12T17:16:11Z","updated_at":"2022-05-12T17:16:12Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:16:11Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/d90f50027976418d8fe902647142d042.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_377d3784ad1b403aa4ac8a4bc735627f","object":"Rate","created_at":"2022-05-12T17:16:11Z","updated_at":"2022-05-12T17:16:11Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_61270b97edf74461bb9092577c88b71a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_38d4de3972bc4f1c9d7c7fe8f051d484","object":"Rate","created_at":"2022-05-12T17:16:11Z","updated_at":"2022-05-12T17:16:11Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_61270b97edf7446[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_61270b97edf74461bb9092577c88b71a/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b46f627d40dce7873c6200312141
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8393b79645a182ee2057f6b29fcb754"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-[...]
