---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5da86424ba94e63f4c680013f80e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f41284d43f60e5545923a32fd36976a"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"shipments":[],"has_more":false}'
  recorded_at: Wed, 29 Mar 2023 22:24:20 GMT
recorded_with: VCR 6.0.0
