---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[name]=Sawyer%20Bateman&address[street1]=58%20Larkspur%20Cres.&address[city]=St.%20Albert&address[state]=AB&address[zip]=T8N2M4&address[country]=CA&address[phone]=780-123-4567
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d38fc9beca9000deed1
      Location:
      - "/api/v2/addresses/adr_986311c9f7244809a01dfbe1faf4a8a4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_986311c9f7244809a01dfbe1faf4a8a4","object":"Address","created_at":"2020-04-24T16:00:56Z","updated_at":"2020-04-24T16:00:56Z","name":"Sawyer
        Bateman","company":null,"street1":"58 Larkspur Cres.","street2":null,"city":"St.
        Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"7801234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 24 Apr 2020 16:00:56 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[width]=12&parcel[length]=16.5&parcel[height]=9.5&parcel[weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d39fc9becaa000deee5
      Location:
      - "/api/v2/parcels/prcl_fec7f1dbe62848e5a04906ffce1afd90"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_fec7f1dbe62848e5a04906ffce1afd90","object":"Parcel","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"}'
  recorded_at: Fri, 24 Apr 2020 16:00:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: customs_info[integrated_form_type]=form_2976&customs_info[customs_certify]=true&customs_info[customs_signer]=Dr.%20Pepper&customs_info[contents_type]=gift&customs_info[contents_explanation]=&customs_info[eel_pfc]=NOEEI%2030.37(a)&customs_info[non_delivery_option]=abandon&customs_info[restriction_type]=none&customs_info[restriction_comments]=&customs_info[customs_items][0][[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_986311c9f7244809a01dfbe1faf4a8a4&shipment[from_address][company]=EasyPost&shipment[from_address][street1]=164%20Townsend%20Street&shipment[from_address][street2]=Unit%201&shipment[from_address][city]=San%20Francisco&shipment[from_address][state]=CA&shipment[from_address][zip]=94107&shipment[from_address][phone]=415-123-4567&shipment[parcel][id]=prcl_fec7f1dbe62848e5a04906ffce1afd90&shipment[customs_info][id]=cstinfo_789b3059bc7f4da9aa652c61a0e53ff5
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73d5ea30d39fc9becac000def0a
      Location:
      - "/api/v2/shipments/shp_9cec9f027cd84b3e816addfe72aede72"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_789b3059bc7f4da9aa652c61a0e53ff5","object":"CustomsInfo","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_bfe65321a3b84fc5a511078b1fad58fd","object":"CustomsItem","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_905ef79663dc4889b315ccbb05bf66fc","object":"Address","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_fec7f1dbe62848e5a04906ffce1afd90","object":"Parcel","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a22d55c8b17c4db3a6823db27358278c","object":"Rate","created_at":"2020-04-24T16:00:57Z","updated_at":"2020-04-24T16:00:57Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9cec9f027cd84b3e816addfe72aede72","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_83f22906ab8242b0b1ff94879311acb9","object":"Rate","created_at":"2020-04-24T16:00:58Z","updated_at":"2020-04-24T16:00:58Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9cec9f027cd84b3e816a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9cec9f027cd84b3e816addfe72aede72/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_a22d55c8b17c4db3a6823db27358278c
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d3afc9becad000def93
      Content-Type:
      - application/[...]
