---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e06463f963e779a0f100430fa2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d37cfc0804f66439e0026b1c700bc4ff"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"trackers":[{"id":"trk_c22a268dd3bd4c0c9ea6cd632003a612","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-16T21:43:40Z","updated_at":"2023-05-16T21:43:40Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-16T21:43:40Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-16T21:43:40Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-17T10:20:40Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2MyMmEyNjhkZDNiZDRjMGM5ZWE2Y2Q2MzIwMDNhNjEy"},{"id":"trk_9bf833a9bcdf47d28e0624d6ce1ec968","object":"Tracker","mode":"test","tracking_code":"9400100104262210413716","status":"delivered","status_detail":"arrived_at_destination","created_at":"2023-05-16T21:32:44Z","updated_at":"2023-05-16T21:35:45Z","signed_by":"John
        Tester","weight":null,"est_delivery_date":"2023-05-16T21:35:45Z","shipment_id":"shp_d76fb55a51314427bd9d02ff8f191768","carrier":"USPS","tr[...]
