---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"page_size":5,"tracking_code":"EZ1000000001","carrier":"USPS"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e06463f968e779a0f20043111e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9054878f07a556daeda4ac800483a2f"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"trackers":[{"id":"trk_c22a268dd3bd4c0c9ea6cd632003a612","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-16T21:43:40Z","updated_at":"2023-05-16T21:43:40Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-16T21:43:40Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-16T21:43:40Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-17T10:20:40Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2MyMmEyNjhkZDNiZDRjMGM5ZWE2Y2Q2MzIwMDNhNjEy"}],"has_more":false}'
  recorded_at: Tue, 16 May 2023 21:45:12 GMT
recorded_with: VCR 6.1.0
