---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652db1e0dc93e30006e661
      Location:
      - "/api/prcl_f148c268ba1c49dcb1a5334986ba6b80/parcels"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e240acbbb8202af5fb9c4dbb2c3ed21e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_f148c268ba1c49dcb1a5334986ba6b80","object":"Parcel","created_at":"2023-05-17T19:40:33Z","updated_at":"2023-05-17T19:40:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 17 May 2023 19:40:33 GMT
recorded_with: VCR 6.1.0
