---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40b4e7873bb7003113b4
      Location:
      - "/api/v2/parcels.prcl_e64fd3bea58e4664b413e1ed7e09ca48"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2e9c23f8ec1251b405ca41ef99c150a"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_e64fd3bea58e4664b413e1ed7e09ca48","object":"Parcel","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 12 May 2022 17:15:32 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_e64fd3bea58e4664b413e1ed7e09ca48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3450b474627d40b4e7873bb8003113c5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2e9c23f8ec1251b405ca41ef99c150a"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_e64fd3bea58e4664b413e1ed7e09ca48","object":"Parcel","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 12 May 2022 17:15:32 GMT
recorded_with: VCR 6.0.0
