---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5b962f2ba47e7897e8700086e5f
      Location:
      - "/api/v2/parcels.prcl_ff62b93aa93842768dc26403952de001"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46d8a7434c91af6c8f071d46bcf6b62b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ff62b93aa93842768dc26403952de001","object":"Parcel","created_at":"2022-08-09T19:49:27Z","updated_at":"2022-08-09T19:49:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Tue, 09 Aug 2022 19:49:27 GMT
recorded_with: VCR 6.0.0
