---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dab6e799dd680059de67
      Location:
      - "/api/v2/parcels/prcl_887999c98bbc4b1d96b57e4169354181"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"prcl_887999c98bbc4b1d96b57e4169354181","object":"Parcel","created_at":"2024-07-29T18:08:54Z","updated_at":"2024-07-29T18:08:54Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Mon, 29 Jul 2024 18:08:54 GMT
recorded_with: VCR 6.1.0
