---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b470627d40b4e7873bb6003113a6
      Location:
      - "/api/v2/parcels.prcl_d7c62fa20ad84a3c9c1c4a63da33f9b7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bf8aed751f33d7cae12283bb37823f3"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_d7c62fa20ad84a3c9c1c4a63da33f9b7","object":"Parcel","created_at":"2022-05-12T17:15:32Z","updated_at":"2022-05-12T17:15:32Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 12 May 2022 17:15:32 GMT
recorded_with: VCR 6.0.0
