---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00a6de787d9c500072676
      Location:
      - "/api/v2/parcels/prcl_e3c08dd62ca34464a3c54d4733954242"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"prcl_e3c08dd62ca34464a3c54d4733954242","object":"Parcel","created_at":"2024-01-23T18:50:21Z","updated_at":"2024-01-23T18:50:21Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Tue, 23 Jan 2024 18:50:21 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_e3c08dd62ca34464a3c54d4733954242
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00a6ee787d9c6000726bb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"prcl_e3c08dd62ca34464a3c54d4733954242","object":"Parcel","created_at":"2024-01-23T18:50:21Z","updated_at":"2024-01-23T18:50:21Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Tue, 23 Jan 2024 18:50:22 GMT
recorded_with: VCR 6.2.0
