---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066346216a55be788ee650040cd78
      Location:
      - "/api/v2/parcels.prcl_a3d7bc42c0894a649fbaf90ae020b76b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d56209a2460d7bbc2b3d17a83f1a762"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_a3d7bc42c0894a649fbaf90ae020b76b","object":"Parcel","created_at":"2022-02-23T21:21:31Z","updated_at":"2022-02-23T21:21:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 23 Feb 2022 21:21:31 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_a3d7bc42c0894a649fbaf90ae020b76b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b4066376216a55be788ee660040cd82
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d56209a2460d7bbc2b3d17a83f1a762"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_a3d7bc42c0894a649fbaf90ae020b76b","object":"Parcel","created_at":"2022-02-23T21:21:31Z","updated_at":"2022-02-23T21:21:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 23 Feb 2022 21:21:31 GMT
recorded_with: VCR 6.0.0
