---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652db1e0dc93e40006e67c
      Location:
      - "/api/prcl_24697a8035864118b58ac56a68927c23/parcels"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24e8eb17307bc625055306f9fb7415ca"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_24697a8035864118b58ac56a68927c23","object":"Parcel","created_at":"2023-05-17T19:40:33Z","updated_at":"2023-05-17T19:40:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 17 May 2023 19:40:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_24697a8035864118b58ac56a68927c23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0564652db1e0dc93e50006e69b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24e8eb17307bc625055306f9fb7415ca"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_24697a8035864118b58ac56a68927c23","object":"Parcel","created_at":"2023-05-17T19:40:33Z","updated_at":"2023-05-17T19:40:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Wed, 17 May 2023 19:40:33 GMT
recorded_with: VCR 6.1.0
