---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3b62f52627e786c5ca0027fb41
      Location:
      - "/api/v2/parcels.prcl_dfa9f61bae9441848b10195726c7d16c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f244b65531189388a9b46e22c092299"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"prcl_dfa9f61bae9441848b10195726c7d16c","object":"Parcel","created_at":"2022-08-11T15:54:15Z","updated_at":"2022-08-11T15:54:15Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 11 Aug 2022 15:54:15 GMT
recorded_with: VCR 6.0.0
