---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7dab6e799dd800059deed
      Location:
      - "/api/v2/parcels/prcl_ecae2795aa99465f968e6e11ac147ab0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ecae2795aa99465f968e6e11ac147ab0","object":"Parcel","created_at":"2024-07-29T18:08:55Z","updated_at":"2024-07-29T18:08:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Mon, 29 Jul 2024 18:08:54 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_ecae2795aa99465f968e6e11ac147ab0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7b66a7dab7e799dd810059df74
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ecae2795aa99465f968e6e11ac147ab0","object":"Parcel","created_at":"2024-07-29T18:08:55Z","updated_at":"2024-07-29T18:08:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Mon, 29 Jul 2024 18:08:55 GMT
recorded_with: VCR 6.1.0
