---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2020-04-12","end_date":"2020-05-12","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab535ebaf12efb2f5d63000d474e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_8a445753a8924b9ea8a00f463111b80d","object":"ShipmentReport","created_at":"2020-05-12T00:42:12Z","updated_at":"2020-05-12T00:42:24Z","start_date":"2020-04-12","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_8a445753a8924b9ea8a00f463111b80d.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T185542Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=dd30b9f3d72faf2aa4b774fc4864f168dbfc9bced611be649da6362da619d544","url_expires_at":"2020-05-12T18:56:12+00:00","include_children":false}'
  recorded_at: Tue, 12 May 2020 18:55:42 GMT
recorded_with: VCR 5.1.0
