---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment","page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6f6218138ee78bafcb00530f2c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60f20c5a9c8d1d8dbe46e8fb621ffbbd"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"shprep_c1c292290ee6438785d23c6cacd3b879","object":"ShipmentReport","created_at":"2022-02-24T23:23:56Z","updated_at":"2022-02-24T23:23:57Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_4fa47ca0ecbd4322be81975f2b9bfea2","object":"ShipmentReport","created_at":"2022-02-24T23:23:55Z","updated_at":"2022-02-24T23:23:55Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_3340200ca0ad402e9fea7fe2aede2306","object":"ShipmentReport","created_at":"2022-02-07T17:52:49Z","updated_at":"2022-02-07T17:52:50Z","start_date":"2022-02-01","end_date":"2022-02-03","mode":"tes[...]
