---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment","page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba5fe7897eec000875b9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23c81b3d18e5373f8c1ce96100c85da3"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_c00872669b0948e8bdc8d5ce34282f32","object":"ShipmentReport","created_at":"2022-08-09T19:49:50Z","updated_at":"2022-08-09T19:49:51Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/d43e7c3c63e945f7934105222416793b.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220809T194951Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=9b07341c3baa697d0db1ec9298f6bb4662c5ab5c4c25d3bd83fba83e3a14bab2","url_expires_at":"2022-08-09T19:50:21Z","include_children":false},{"id":"shprep_5e984475b25c43aaa134de94cc63e844","object":"ShipmentReport","created_at":"2022-08-09T19:49:50Z","updated_at":"2022-08-09T19:49:50Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/924d4be77f8343b28feaf2c2158ed56a.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220809T194[...]
