---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment","columns":["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 06044b7e623b98f9f1edc14a0010f131
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0335bb59c7e278f932ac2f6fb31f98a0"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202203231943-61a988cd70-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 3e97db20d4
      - intlb1nuq 3e97db20d4
      - intlb1wdc 3e97db20d4
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_abeac8a80e4a45c88465e41af408d117","object":"ShipmentReport","created_at":"2022-03-23T22:02:33Z","updated_at":"2022-03-23T22:02:33Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Wed, 23 Mar 2022 22:02:33 GMT
recorded_with: VCR 6.0.0
