---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-05","end_date":"2022-04-07","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 44f9e902624f5673e787bff9000f0fcd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efdb2d41b82dee032f83160bc511ebfd"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_c73f9996ba5c4fe5a4e816062a8eb95b","object":"ShipmentReport","created_at":"2022-04-07T21:24:03Z","updated_at":"2022-04-07T21:24:03Z","start_date":"2022-04-05","end_date":"2022-04-07","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 07 Apr 2022 21:24:03 GMT
recorded_with: VCR 6.0.0
