---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb54625474cde786b41c0023305b'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5412ebeaa4172f8a41290ccf4b8b6d2f"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_5674d6fc055c42c29b36db16a90e80c4","object":"ShipmentReport","created_at":"2022-04-11T18:34:53Z","updated_at":"2022-04-11T18:34:53Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Mon, 11 Apr 2022 18:34:53 GMT
recorded_with: VCR 6.0.0
