---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f726218138ce78bafc500530edd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91696d6f05e27c3c9279d19f9320bd2a"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_c1c292290ee6438785d23c6cacd3b879","object":"ShipmentReport","created_at":"2022-02-24T23:23:56Z","updated_at":"2022-02-24T23:23:56Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 24 Feb 2022 23:23:56 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_c1c292290ee6438785d23c6cacd3b879
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138de78bafc600530ee7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40b948689bb46cd84d35e2a71d2ec52a"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_c1c292290ee6438785d23c6cacd3b879","object":"ShipmentReport","created_at":"2022-02-24T23:23:56Z","updated_at":"2022-02-24T23:23:57Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 24 Feb 2022 23:23:57 GMT
recorded_with: VCR 6.0.0
