---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/payment_log
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"payment_log"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6b6218138be78bacb300530e93
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"941ee42c0850e9c04b34a40bd655652f"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"plrep_d11d9b1ce8314b1e80160fbfcc91d29b","object":"PaymentLogReport","created_at":"2022-02-24T23:23:55Z","updated_at":"2022-02-24T23:23:55Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:55 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/plrep_d11d9b1ce8314b1e80160fbfcc91d29b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6c6218138ce78bafc200530ea5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5043fddab095a562a3a6f4731e0c10e"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"plrep_d11d9b1ce8314b1e80160fbfcc91d29b","object":"PaymentLogReport","created_at":"2022-02-24T23:23:55Z","updated_at":"2022-02-24T23:23:55Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:56 GMT
recorded_with: VCR 6.0.0
