---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment","page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640b86e78733da00485134
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a12471b797e2bd8fa47c55b31bc9253b"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_5d7de81d677c470a92f7d15dfbc31323","object":"ShipmentReport","created_at":"2023-05-16T23:02:29Z","updated_at":"2023-05-16T23:02:29Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_df608f613cc348a684ef8f82138547ce","object":"ShipmentReport","created_at":"2023-05-16T23:02:28Z","updated_at":"2023-05-16T23:02:29Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_d8f8b6d8100942a8845375108c7cd554","object":"ShipmentReport","created_at":"2023-05-16T23:02:28Z","updated_at":"2023-05-16T23:02:28Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_91ae18679abf4<REDACTED>bb735edbe5cc746e","object":"ShipmentReport","created_at":"2023-05-16T23:02:27Z","updated_at":"2023-05-16T23:02:28Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c","object":"ShipmentReport","created_at":"2023-05-16T16:37:05Z","updated_at":"2023-05-16T16:37:05Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}],"has_more":true}'
  recorded_at: Tue, 16 May 2023 23:02:30 GMT
recorded_with: VCR 6.1.0
