---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7466a7dae6e799e141005a0fb5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_be0ee6831a3a4029926c69e926e45b1b","object":"ShipmentReport","created_at":"2024-07-29T18:09:41Z","updated_at":"2024-07-29T18:09:41Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_dfdd0a0570d94368b0ea48d24a35ef54","object":"ShipmentReport","created_at":"2024-07-29T18:09:41Z","updated_at":"2024-07-29T18:09:41Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_c27330b6b70442ddb6e9c685d2f3745d","object":"ShipmentReport","created_at":"2024-07-29T18:09:40Z","updated_at":"2024-07-29T18:09:41Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_ca07312e14754c8c89445edec4f18bf6","object":"ShipmentReport","created_at":"2024-07-29T18:09:40Z","updated_at":"2024-07-29T18:09:40Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_e848018e3058446d841ea8fe577c84e6","object":"ShipmentReport","created_at":"2024-07-29T17:48:23Z","updated_at":"2024-07-29T17:48:23Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}],"has_more":true}'
  recorded_at: Mon, 29 Jul 2024 18:09:42 GMT
recorded_with: VCR 6.1.0
