---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment","additional_columns":["from_name","from_company"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f52640e786c95f00280314
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"443c30c7387c45e6e275038de4181fcc"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"shprep_77efb23c86bf4ba6b360a2a9d3fee5ea","object":"ShipmentReport","created_at":"2022-08-11T15:54:40Z","updated_at":"2022-08-11T15:54:40Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 11 Aug 2022 15:54:40 GMT
recorded_with: VCR 6.0.0
