---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-04-17&end_date=2020-05-12&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d2411b7d5eb9f3c2fb65b7ab000066ba
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_fe645bf26cdf4c559c876f8657a0c135","object":"ShipmentReport","created_at":"2020-05-12T00:42:14Z","updated_at":"2020-05-12T00:43:11Z","start_date":"2020-04-17","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_fe645bf26cdf4c559c876f8657a0c135.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T005426Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=3ca4e8a11a90441ed11a369997b729e215ba5833fc7a9c90be62026e60956406","url_expires_at":"2020-05-12T00:54:56+00:00","include_children":false}'
  recorded_at: Tue, 12 May 2020 00:54:26 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-04-13&end_date=2020-05-12&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0059c8435eb9f3c2f5309d3d0001d719'
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_7978fc404e514a5c823abe5dde221bb1","object":"ShipmentReport","created_at":"2020-05-12T00:42:14Z","updated_at":"2020-05-12T00:43:13Z","start_date":"2020-04-13","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_7978fc404e514a5c823abe5dde221bb1.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T005426Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=862d58c13642051f6d69681993a7aff3e6078bf074ad147f154787e6a7fd78f7","url_expires_at":"2020-05-12T00:54:56+00:00","include_children":false}'
  recorded_at: Tue, 12 May 2020 00:54:26 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment?type=shipment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 87a3a7585eb9f3c2fb430ea800000bd5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"shprep_7978fc404e514a5c823abe5dde221bb1","object":"ShipmentReport","created_at":"2020-05-12T00:42:14Z","updated_at":"2020-05-12T00:43:13Z","start_date":"2020-04-13","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_7978fc404e514a5c823abe5dde221bb1.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T00[...]
