---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11","columns":["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652ddbe0dc97660006f5e0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"963e7559d210fee185b53aac8276b3bc"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_db0ab7ea935a4fdb8ecc1ccb31c41b50","object":"ShipmentReport","created_at":"2023-05-17T19:41:15Z","updated_at":"2023-05-17T19:41:15Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Wed, 17 May 2023 19:41:15 GMT
recorded_with: VCR 6.1.0
