---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/payment_log
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"payment_log"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6e6218138ae78bacae00530e4a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5d3f1eb6dd5be153639a98b27ff8dbc"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"plrep_3f22e8838e6d47cf99c0e6f0b77faf6f","object":"PaymentLogReport","created_at":"2022-02-24T23:23:54Z","updated_at":"2022-02-24T23:23:54Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:54 GMT
recorded_with: VCR 6.0.0
