---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment","additional_columns":["from_name","from_company"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4aee9dd3623b9900f1fec14a00106e89
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28cb1b7850c7e763cafacdeecee45ca5"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202203231943-61a988cd70-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 3e97db20d4
      - intlb1nuq 3e97db20d4
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_ef43c376d8554c69876c09800d13492c","object":"ShipmentReport","created_at":"2022-03-23T22:02:40Z","updated_at":"2022-03-23T22:02:40Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Wed, 23 Mar 2022 22:02:40 GMT
recorded_with: VCR 6.0.0
