---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment","page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5da66424bb12f48fcc7c0014126b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95a1fc86b6f1f2eaa09c994f1b26a877"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202303292153-e<REDACTED>646023-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_d2c2bfb95ceb4621aa3e787a73ed671e","object":"ShipmentReport","created_at":"2022-08-11T15:54:41Z","updated_at":"2022-08-11T15:54:41Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220811/815755d9a93f46cbb05<REDACTED>ae1e38d65b.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230329%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230329T222626Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=ec698dbf16c442662bbd4b2033adc4ead6266f942551998513ce4e66a0356d2a","url_expires_at":"2023-03-29T22:26:56Z","include_children":false},{"id":"shprep_77efb23c86bf4ba6b360a2a9d3fee5ea","object":"ShipmentReport","created_at":"2022-08-11T15:54:40Z","updated_at":"2022-08-11T15:54:41Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220811/c707f397025e47ab9ff9c881f423a0c4.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230329%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230329T222[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"before_id":"shprep_c80bf98fa7314dda9fc06018e813d301","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 730d5daa6424bb12e68691aa00141275
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6457e65c9313c958720c42f463d11f53"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202303292153-e<REDA[...]
