---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment","page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb56625474cee786b421002330ce'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"833ba88e9d2922fe9f99f38ad755b703"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"shprep_4b4e0861f4f244f4b9ffa21f7c329a2e","object":"ShipmentReport","created_at":"2022-04-11T18:34:54Z","updated_at":"2022-04-11T18:34:54Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_43dbbe112f824bea942287f60b2cd1f9","object":"ShipmentReport","created_at":"2022-04-11T18:34:53Z","updated_at":"2022-04-11T18:34:54Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220411/b6336f93f770461b8c799fca2cf1f3cb.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220411%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220411T183[...]
