---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment_invoice
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment_invoice"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138de78bafc700530ef5
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd405c724e68087f28574446caa63aa4"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shpinvrep_d5ae26056c41485aa8ac4de44bd504d8","object":"ShipmentInvoiceReport","created_at":"2022-02-24T23:23:57Z","updated_at":"2022-02-24T23:23:57Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 24 Feb 2022 23:23:57 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shpinvrep_d5ae26056c41485aa8ac4de44bd504d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138de78bafc800530f03
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d36218b727e2eb66790c8e1cc2e26b0"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shpinvrep_d5ae26056c41485aa8ac4de44bd504d8","object":"ShipmentInvoiceReport","created_at":"2022-02-24T23:23:57Z","updated_at":"2022-02-24T23:23:57Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 24 Feb 2022 23:23:57 GMT
recorded_with: VCR 6.0.0
