---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640b83e78733be00485036
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"064005aedf8696a4a3744e2c9a93ac45"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_91ae18679abf4<REDACTED>bb735edbe5cc746e","object":"ShipmentReport","created_at":"2023-05-16T23:02:27Z","updated_at":"2023-05-16T23:02:27Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 23:02:28 GMT
recorded_with: VCR 6.1.0
