---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2020-04-17","end_date":"2020-05-12","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b342870f5ebaf130fb0b2bba000f3fdb
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_fe645bf26cdf4c559c876f8657a0c135","object":"ShipmentReport","created_at":"2020-05-12T00:42:14Z","updated_at":"2020-05-12T00:43:11Z","start_date":"2020-04-17","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_fe645bf26cdf4c559c876f8657a0c135.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T185544Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=a63a42a75aa0ea3d7f1782cd3f24d26af7335089e3e6a1b2ee00cdfcee619c6d","url_expires_at":"2020-05-12T18:56:14+00:00","include_children":false}'
  recorded_at: Tue, 12 May 2020 18:55:44 GMT
[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc25ebaf131fb40ff2f000b7fe2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"shprep_7978fc404e514a5c823abe5dde221bb1","object":"ShipmentReport","created_at":"2020-05-12T00:42:14Z","updated_at":"2020-05-12T00:43:13Z","start_date":"2020-04-13","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_7978fc404e514a5c823abe5dde221bb1.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T18[...]
