---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bd62f2ba5de7897ee700087537
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"028f9c5596e9d438e4a667aa296328ad"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"shprep_e8c51b4da4a945c79542b9b200e662e7","object":"ShipmentReport","created_at":"2022-08-09T19:49:49Z","updated_at":"2022-08-09T19:49:49Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 09 Aug 2022 19:49:49 GMT
recorded_with: VCR 6.0.0
