---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652ddbe0dc977f0006f60f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6ae83cbf6ae6ff2f6fca5e5a7807c4d"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_4694694cb1ae44289f42150251a44045","object":"ShipmentReport","created_at":"2023-05-17T19:41:16Z","updated_at":"2023-05-17T19:41:16Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Wed, 17 May 2023 19:41:16 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_4694694cb1ae44289f42150251a44045
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652ddce0dc97800006f621
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0f5171a54e7777d5414f0bc67d9d035"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_4694694cb1ae44289f42150251a44045","object":"ShipmentReport","created_at":"2023-05-17T19:41:16Z","updated_at":"2023-05-17T19:41:16Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Wed, 17 May 2023 19:41:16 GMT
recorded_with: VCR 6.1.0
