---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/refund
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"refund"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138ce78bafc300530eb7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a98f95186efe8fd696f1d0592e27dc63"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"refrep_efd4b22f41894b16b975831c057ade58","object":"RefundReport","created_at":"2022-02-24T23:23:56Z","updated_at":"2022-02-24T23:23:56Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:56 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/refrep_efd4b22f41894b16b975831c057ade58
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 704d1f726218138ce78bafc400530ec3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46bc91edb114155db1d3f64922179f1a"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"refrep_efd4b22f41894b16b975831c057ade58","object":"RefundReport","created_at":"2022-02-24T23:23:56Z","updated_at":"2022-02-24T23:23:56Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"empty","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:56 GMT
recorded_with: VCR 6.0.0
