---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment","additional_columns":["from_name","from_company"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3450b471627d40cbe7873c0100311b92
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9909daa3513f1efa7ae874c2e4c0ca27"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"shprep_fe53307eb060451cad75e00d682ca863","object":"ShipmentReport","created_at":"2022-05-12T17:15:55Z","updated_at":"2022-05-12T17:15:55Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 12 May 2022 17:15:55 GMT
recorded_with: VCR 6.0.0
