---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-05","end_date":"2022-04-07","type":"shipment","columns":["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 44f9e8ff624f5699e787bffc000f1e64
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e464ad4af95856a7e6f41d232ee54c84"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202204071939-d894f5743c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_cceb1dd34bd2473ca7e6b2fd752a72ba","object":"ShipmentReport","created_at":"2022-04-07T21:24:41Z","updated_at":"2022-04-07T21:24:41Z","start_date":"2022-04-05","end_date":"2022-04-07","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 07 Apr 2022 21:24:41 GMT
recorded_with: VCR 6.0.0
