---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb54625474cee786b41f002330a7'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b3d4aae0f4caee935ffb4177d31faef"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb2nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_4b4e0861f4f244f4b9ffa21f7c329a2e","object":"ShipmentReport","created_at":"2022-04-11T18:34:54Z","updated_at":"2022-04-11T18:34:54Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Mon, 11 Apr 2022 18:34:54 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_4b4e0861f4f244f4b9ffa21f7c329a2e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0991fb53625474cee786b420002330b4'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b3d4aae0f4caee935ffb4177d31faef"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_4b4e0861f4f244f4b9ffa21f7c329a2e","object":"ShipmentReport","created_at":"2022-04-11T18:34:54Z","updated_at":"2022-04-11T18:34:54Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Mon, 11 Apr 2022 18:34:54 GMT
recorded_with: VCR 6.0.0
