---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment?columns%5B%5D=usps_zone
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 95d38f206238f013f1eb765900429d16
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62866dc40f21442dfc971ad3b92d8859"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202203182244-fb6aae87d1-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 3e97db20d4
      - intlb1nuq 3e97db20d4
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_1b2712c54fa34a4a892e96c38c6088af","object":"ShipmentReport","created_at":"2022-03-21T21:37:23Z","updated_at":"2022-03-21T21:37:23Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Mon, 21 Mar 2022 21:37:23 GMT
recorded_with: VCR 6.0.0
