---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/refund
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"refund"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138ae78bacaf00530e5b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99ef5ca9b02374a52c0c0e970ddef2b1"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"refrep_3d0695965c7a4c748205632a2b70cadd","object":"RefundReport","created_at":"2022-02-24T23:23:54Z","updated_at":"2022-02-24T23:23:54Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null}'
  recorded_at: Thu, 24 Feb 2022 23:23:54 GMT
recorded_with: VCR 6.0.0
