---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment","additional_columns":["from_name","from_company"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '0991fb50625474cde786b41e00233090'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cc2c313c1dd69b2547e5aeb1151d1dd"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202204082123-da17cc1ac2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq fde591f008
      - intlb1nuq fde591f008
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_43dbbe112f824bea942287f60b2cd1f9","object":"ShipmentReport","created_at":"2022-04-11T18:34:53Z","updated_at":"2022-04-11T18:34:53Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Mon, 11 Apr 2022 18:34:53 GMT
recorded_with: VCR 6.0.0
