---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-04-12&end_date=2020-05-12&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d2411b7d5eb9f3c0fb0a1c890000667a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_8a445753a8924b9ea8a00f463111b80d","object":"ShipmentReport","created_at":"2020-05-12T00:42:12Z","updated_at":"2020-05-12T00:42:24Z","start_date":"2020-04-12","end_date":"2020-05-12","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200512/shprep_8a445753a8924b9ea8a00f463111b80d.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200512%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200512T005424Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=5ca464941b4490910e59510bec8569df3b5492a435f50637515b81a84daf326a","url_expires_at":"2020-05-12T00:54:54+00:00","include_children":false}'
  recorded_at: Tue, 12 May 2020 00:54:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_8a445753a8924b9ea8a00f463111b80d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '0059c8475eb9f3c1fb55c7a40001d6dd'
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
