---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-04-11","end_date":"2022-04-11","type":"shipment","columns":["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3f62f52640e786c947002802ff
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bc4d82e57f5b5d591345c3e4d6f4f54"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"shprep_38adf261d4534e8c825343a7d8aa5605","object":"ShipmentReport","created_at":"2022-08-11T15:54:40Z","updated_at":"2022-08-11T15:54:40Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 11 Aug 2022 15:54:40 GMT
recorded_with: VCR 6.0.0
