---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment_invoice
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-02-21","end_date":"2022-02-23","type":"shipment_invoice"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 704d1f6d6218138be78bacb100530e76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c148bb63949b7a29e4063779a88c9751"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202242013-00973e8608-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shpinvrep_30e4e7bf1fe24a028a7e8d1e5886b8f0","object":"ShipmentInvoiceReport","created_at":"2022-02-24T23:23:55Z","updated_at":"2022-02-24T23:23:55Z","start_date":"2022-02-21","end_date":"2022-02-23","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 24 Feb 2022 23:23:55 GMT
recorded_with: VCR 6.0.0
