---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/metadata?carriers=usps&types=service_levels,predefined_packages
    body:
      encoding: UTF-8
      string: '{"carriers":"usps","types":"service_levels,predefined_packages"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 681e9a8a643ef772e78a7a250008f47b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a842c1378a5f4d5f9ad9956312671ebe"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202304181829-245b135039-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"carriers":[{"human_readable":"USPS","name":"usps","predefined_packages":[{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"Card"},{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"Letter"},{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"Flat"},{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"FlatRateEnvelope"},{"carrier":"usps","description":null,"dimensions":[],"human_readable":null,"max_weight":null,"name":"FlatRateLegalEnvelope"},{"carrier":"usps"[...]
