---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57c645d5cfbe79961a8000f7e8f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3eea1202099ea9048fae1e5caa90a590"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"insurances":[{"id":"ins_4149831fd8d4472f9c3043054d70e730","object":"Insurance","mode":"test","reference":null,"status":"cancelled","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_018e946ff04111ed8c4cac1f6bc7bdc6","object":"Address","created_at":"2023-05-11T21:15:50+00:00","updated_at":"2023-05-11T21:15:50+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":null,"city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_01936733f04111ed86003cecef1b359e","object":"Address","created_at":"2023-05-11T21:15:50+00:00","updated_at":"2023-05-11T21:15:50+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_96848d541af9436393ca7cea7eff0105","object":"Tracker","mode":"test","tracking_code":"9400100104262208797415","status":"error","status_detail":null,"created_at":"2023-05-11T21:15:50Z","updated_at":"2023-05-11T21:15:50Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"In
        test mode, only test tracking numbers are valid. Test tracking numbers are
        EZ1000000001, EZ2000000002, ... , EZ7000000007","description":null,"status":"error","status_detail":null,"datetime":"2023-05-11T21:15:50Z","source":"ProcessingError","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzk2ODQ4ZDU0MWFmOTQzNjM5M2NhN2NlYTdlZmYwMTA1","fees":[]},"tracking_code":"9400100104262208797415","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":["The
        tracking number could not be tracked."],"created_at":"2023-05-11T21:15:50Z","updated_at":"2023-05-11T21:17:00Z"},{"id":"ins_bf8c52771f3f4cc3bc5fe30a25131c70","object":"Insurance","mode":"test","reference":null,"status":"cancelled","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_a8d6a351f04111ed8bceac1f6bc7b362","object":"Address","created_at":"2023-05-11T21:20:31+00:00","updated_at":"2023-05-11T21:20:31+00:00","name":"ELIZABETH
        SWAN","c[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"before_id":"ins_bf8c52771f3f4cc3bc5fe30a25131c70"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57d645d5cfbe79961c0000f7ebf
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7bfa2139aa5eda9c17a3b224323ea7c"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-B[...]
