---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e4a331f7645d5b05e7995d66000f0156
      Location:
      - "/api/v2/shipments/shp_92029916128747e9b151905024fb2bb3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4b75f30b5dd25cec8b63bd920cd93c6"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-11T21:15:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262208797415","updated_at":"2023-05-11T21:15:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_00a01329f04111ed82483cecef1b359e","object":"Address","created_at":"2023-05-11T21:15:49+00:00","updated_at":"2023-05-11T21:15:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d7de91ae6e9840e58d51bd8207bd9a72","object":"Parcel","created_at":"2023-05-11T21:15:49Z","updated_at":"2023-05-11T21:15:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_433650e46142451da2dd92f093cd85a3","created_at":"2023-05-11T21:15:49Z","updated_at":"2023-05-11T21:15:50Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-11T21:15:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230511/5792ed6239a54f0c8d30fecf68165c01.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f095be610be84863a687c8dff821f18f","object":"Rate","created_at":"2023-05-11T21:15:49Z","updated_at":"2023-05-11T21:15:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_92029916128747e9b151905024fb2bb3","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_404b071ce4cd45bdba47930d82cbc8dc","object":"Rate","created_at":"2023-05-11T21:15:49Z","updated_at":"2023-05-11T21:15:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_92029916128747e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/insurances
    body:
      encoding: UTF-8
      string: '{"insurance":{"from_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"carrier":"USPS","amount":"100","tracking_code":"9400100104262208797415"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e4a331fa645d5b06e7995d67000f0213
      Location:
      - "/api/v2/insurances/ins_4149831fd8d4472f9c3043054d70e730"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8fc1d3f02cb365c3a382e4969b87e7e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305112000-3954f6db5b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ins_4149831fd8d4472f9c3043054d70e730","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_018e946ff04111ed8c4cac1f6bc7bdc6","object":"Address","created_at":"2023-05-11T21:15:50+00:00","updated_at":"2023-05-11T21:15:50+00:00","name":"ELIZABETH
        SWAN","company":null,"street1":"179 N HARBOR DR","street2":"","city":"REDONDO
        BEACH","state":"CA","zip":"90277-2506","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_01936733f04111ed86003cecef1b359e","object":"Address","created_at":"2023-05-11T21:15:50+00:00","updated_at":"2023-05-11T21:15:50+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_4e448a13cb504cbd824887bffed635f5","object":"Tracker","mode":"test","tracking_code":"9400100104262208797415","status":"pre_transit","status_detail":"status_update","created_at":"2023-05-11T21:15:50Z","updated_at":"2023-05-11T21:15:50Z","signed_by":null,"weight":null,"est_delivery_date":"2023-05-11T21:15:50Z","shipment_id":"shp_92029916128747e9b151905024fb2bb3","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-11T21:15:50Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2023-04-12T09:52:50Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzRlNDQ4YTEzY2I1MDRjYmQ4MjQ4ODdiZmZlZDYzNWY1","fees":[]},"tracking_code":"9400100104262208797415","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2023-05-11T21:15:50Z","updated_at":"2023-05-11T21:15:50Z"}'
  recorded_at: Thu, 11 May 2023 21:15:50 GMT
recorded_with: VCR 6.1.0
