---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"417 montgomery street","street2":"FL
        5","city":"San Francisco","state":"CA","zip":"94104","country":"US","email":"test@example.com","phone":"5555555555","verify":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bf50b5456454320ae78a9b440014cb6b
      Location:
      - "/api/v2/addresses/adr_49226a59eacb11eda6ebac1f6bc7b362"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"180ede95b6ac6519bfb0ec1aa4b8f3d2"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305041707-49a800d6d3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_49226a59eacb11eda6ebac1f6bc7b362","object":"Address","created_at":"2023-05-04T22:30:34+00:00","updated_at":"2023-05-04T22:30:34+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Thu, 04 May 2023 22:30:34 GMT
recorded_with: VCR 6.1.0
