---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - bf50b5496454320de78a9b4a0014cc79
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8cd53ef5d5278aaf0eefee11ca842e6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305041707-49a800d6d3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":"adr_49f6bad4eacb11ed9c49ac1f6b0a0d1e","object":"Address","created_at":"2023-05-04T22:30:35+00:00","updated_at":"2023-05-04T22:30:35+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_49b3b5d5eacb11ed9c3cac1f6b0a0d1e","object":"Address","created_at":"2023-05-04T22:30:35+00:00","updated_at":"2023-05-04T22:30:35+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":null,"city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}},{"id":"adr_496fb89deacb11ed9c2fac1f6b0a0d1e","object":"Address","created_at":"2023-05-04T22:30:34+00:00","updated_at":"2023-05-04T22:30:34+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id"[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"before_id":"adr_48d925deeacb11ed9c0bac1f6b0a0d1e"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - bf50b5446454320de78a9b620014cc92
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"323bd1a919caae7567256076af4be8f5"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305041707-49a800d6d3-master
      X-B[...]
