---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"company":"EasyPost","street1":"417 montgomery street","street2":"FL
        5","city":"San Francisco","state":"CA","zip":"94104","country":"US","email":"test@example.com","phone":"5555555555"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bf50b5486454320ee78a9b640014ccec
      Location:
      - "/api/v2/addresses/adr_4bbdfdc7eacb11ed9b7eac1f6bc7bdc6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0065d7b9b9071a829af23e96af1b4714"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305041707-49a800d6d3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_4bbdfdc7eacb11ed9b7eac1f6bc7bdc6","object":"Address","created_at":"2023-05-04T22:30:38+00:00","updated_at":"2023-05-04T22:30:38+00:00","name":null,"company":"EasyPost","street1":"417
        montgomery street","street2":"FL 5","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 04 May 2023 22:30:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_4bbdfdc7eacb11ed9b7eac1f6bc7bdc6/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - bf50b5486454320fe78a9b650014cd10
      Location:
      - "/api/v2/addresses/adr_4c0cb3c2eacb11ed8290ac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7752e207da1d70f54f73e0decbd57be6"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305041707-49a800d6d3-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_4c0cb3c2eacb11ed8290ac1f6bc72124","object":"Address","created_at":"2023-05-04T22:30:39+00:00","updated_at":"2023-05-04T22:30:39+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"\u003cREDACTED\u003e","email":"\u003cREDACTED\u003e","mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
  recorded_at: Thu, 04 May 2023 22:30:39 GMT
recorded_with: VCR 6.1.0
