---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29bf8d46645c1d5ae789876e00159972
      Location:
      - "/api/v2/customs_items/cstitem_51eacd8571ae4c349b423a72092b9d61"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0123c3111d89fb9acfbf21995285ce69"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_51eacd8571ae4c349b423a72092b9d61","object":"CustomsItem","created_at":"2023-05-10T22:40:26Z","updated_at":"2023-05-10T22:40:26Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 10 May 2023 22:40:26 GMT
recorded_with: VCR 6.1.0
