---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6538645bda3ce787d92100200584
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69da08a11868b9af042b6ca411af29a5"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_5bb58adc1c964240b412aa311bf3f709","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:54:04Z","updated_at":"2023-05-10T17:54:04Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:54:04 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_5bb58adc1c964240b412aa311bf3f709/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6537645bda3ce787d923002005d1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8eb9fe8e668e31d065ab366dca432672"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_5bb58adc1c964240b412aa311bf3f709","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:54:04Z","updated_at":"2023-05-10T17:54:04Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_caaa2c183ae0400a87d74e02538b7252"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:54:04 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_5bb58adc1c964240b412aa311bf3f709/label
    body:
      encoding: UTF-8
      string: '{"file_format":"ZPL"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6532645bda42e787d93d0020087a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e1e3861db67c3cb8de43ffa3682b037"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_5bb58adc1c964240b412aa311bf3f709","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:54:04Z","updated_at":"2023-05-10T17:54:10Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100104262208390692","id":"shp_caaa2c183ae0400a87d74e02538b7252"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:54:10 GMT
recorded_with: VCR 6.1.0
