---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6531645bd32ce787c839001ccb43
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df69f4caa2801b8963c428470b6b203b"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"batches":[{"id":"batch_8afd5b0a5f8d4d37b3b16cdcafaf8671","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T16:57:05Z","updated_at":"2023-05-10T16:57:05Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_16d8eeab65804be594950b3a2f2cd8a3"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null},{"id":"batch_fe0a6ad460554fa59e72d8ed8d6a9594","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T16:58:49Z","updated_at":"2023-05-10T16:58:49Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_df32406ee2964aab82b1ca105b8b4ebc"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null[...]
