---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29bf8d40645bf677e7886ac60008d91b
      Location:
      - "/api/v2/shipments/shp_39cd447c09af4e2ba03c3d3211a6b959"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"53eb64a3fb98c64cdcb24dc3fce77af3"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305101826-89311a58e7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-10T19:54:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262208425424","updated_at":"2023-05-10T19:54:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7ab434b7ef6c11ed850aac1f6b0a0d1e","object":"Address","created_at":"2023-05-10T19:54:31+00:00","updated_at":"2023-05-10T19:54:31+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e49848f3727e44f09791236895882adb","object":"Parcel","created_at":"2023-05-10T19:54:31Z","updated_at":"2023-05-10T19:54:31Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b481510266394e98a9400af13cf3a261","created_at":"2023-05-10T19:54:31Z","updated_at":"2023-05-10T19:54:32Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-10T19:54:31Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230510/9797c586683741e7af19ab177f9f2d43.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_86ac24f16249490ba1be2b90ec3f6df1","object":"Rate","created_at":"2023-05-10T19:54:31Z","updated_at":"2023-05-10T19:54:31Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_39cd447c09af4e2ba03c3d3211a6b959","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2aea9ed19a4b4efb97690e54df00938e","object":"Rate","created_at":"2023-05-10T19:54:31Z","updated_at":"2023-05-10T19:54:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_39cd447c09a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 2c95b511645bf679e7886ac7000972e4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90270fe500c1b79a6ced24818922e63f"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305101826-89311a58e7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_d170978013bb4401863eb1c2d5150e85","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2023-05-10T19:54:33Z","updated_at":"2023-05-10T19:54:33Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 19:54:33 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d170978013bb4401863eb1c2d5150e85/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_39cd447c09af4e2ba03c3d3211a6b959"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 2c95b512645bf679e7886aca00097311
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b673e28bbcd3c7f52a95d42398909cc"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305101826-89311a58e7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_d170978013bb4401863eb1c2d5150e85","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T19:54:33Z","updated_at":"2023-05-10T19:54:33Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100104262208425424","id":"shp_39cd447c09af4e2ba03c3d3211a6b959"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 19:54:33 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d170978013bb4401863eb1c2d5150e85/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipment":[{"id":"shp_39cd447c09af4e2ba03c3d3211a6b959"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 2c95b512645bf67ae7886acb00097322
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77e6bafc750504b59e781b0161fe222a"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305101826-89311a58e7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_d170978013bb4401863eb1c2d5150e85","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2023-05-10T19:54:33Z","updated_at":"2023-05-10T19:54:33Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 19:54:34 GMT
recorded_with: VCR 6.1.0
