---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '02266578645bd3f6e787c8bc001b9d7f'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f9bebe3f8fa630873d0789df572aa17"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_5e7f5ff2b5de4b4587d35467621fb8ce","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:27:18Z","updated_at":"2023-05-10T17:27:18Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:27:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_5e7f5ff2b5de4b4587d35467621fb8ce/buy
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '02266579645bd3f6e787c8bd001b9dc9'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac7221f63fc5706916c0f76dfce49a17"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_5e7f5ff2b5de4b4587d35467621fb8ce","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:27:18Z","updated_at":"2023-05-10T17:27:18Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_e9e37d4467c2434c8285c466a84dbf79"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:27:18 GMT
recorded_with: VCR 6.1.0
