---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"shipments":[{"to_address":{"name":"Jack Sparrow","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6534645bd2fce787c819001cb7d3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a0e184ebf89652b9277d11742461151"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_75ea6f353dac44b692145ac473ecf61a","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:23:08Z","updated_at":"2023-05-10T17:23:08Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:23:08 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/batches/batch_75ea6f353dac44b692145ac473ecf61a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c20c6536645bd2fce787c81a001cb813
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f78af96acc6b0bd0b046f16f9ba637b6"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305091956-464aa0b59c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"batch_75ea6f353dac44b692145ac473ecf61a","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2023-05-10T17:23:08Z","updated_at":"2023-05-10T17:23:08Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_f390a9dc86b446cb8ddaf0fe7c93aca3"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 10 May 2023 17:23:08 GMT
recorded_with: VCR 6.1.0
