---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e086463f37ce77993ad0045051e
      Location:
      - "/api/v2/shipments/shp_bd0527bb904c453ea872269e61b6a4e7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c4e16a49c4f19e269f387c7707b9989"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:19:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210411682","updated_at":"2023-05-16T21:19:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_680a1b37f42f11ed848f3cecef1b359e","object":"Address","created_at":"2023-05-16T21:19:56+00:00","updated_at":"2023-05-16T21:19:56+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_dd64edf3577044d68d9d4cf9ab1be7cb","object":"Parcel","created_at":"2023-05-16T21:19:56Z","updated_at":"2023-05-16T21:19:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_378bffedcbf445919d46c8add62ea8f6","created_at":"2023-05-16T21:19:58Z","updated_at":"2023-05-16T21:19:58Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T21:19:58Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/18731bd7fb74403d9c374962e045127f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_6bcb99e72f124ec2a3a19c1608f9b53b","object":"Rate","created_at":"2023-05-16T21:19:57Z","updated_at":"2023-05-16T21:19:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_bd0527bb904c453ea872269e61b6a4e7","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b63c88b9434a40b8ac2dd1bb112b02cd","object":"Rate","created_at":"2023-05-16T21:19:57Z","updated_at":"2023-05-16T21:19:57Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_bd0527bb904c453[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_bd0527bb904c453ea872269e61b6a4e7/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e056463f37fe77993ae00450611
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"167809947fc3d0aa4cbec6d8ccabd57d"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:19:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210411682","updated_at":"2023-05-16T21:19:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":[...]
