---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e066463eb89e779821e004246cb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e18aac7a46b6dcad5029c9b62492a2af"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"shipments":[{"created_at":"2023-05-16T20:36:05Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"delivered","tracking_code":"9400100104262210404189","updated_at":"2023-05-16T20:40:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_481d4958f42911eda0b0ac1f6bc539ae","object":"Address","created_at":"2023-05-16T20:36:05+00:00","updated_at":"2023-05-16T20:36:05+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_410709b69c0c42cc8ff18944acd09064","object":"Parcel","created_at":"2023-05-16T20:36:05Z","updated_at":"2023-05-16T20:36:05Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3cf54e8e928044b6923ad814faec16b1","created_at":"2023-05-16T20:36:06Z","updated_at":"2023-05-16T20:36:06Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T20:36:06Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/26387402fd29434ea9de63ad30f16738.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_955399f4195e4b56962870d688a4dba1","object":"Rate","created_at":"2023-05-16T20:36:06Z","updated_at":"2023-05-16T20:36:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_1fcbfea2038c4a6f8b689431c56054c1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_6a71af8deb3146c6837a81b7ca1996fa","object":"Rate","created_at":"2023-05-16T20:36:06Z","updated_at":"2023-05-16T20:36:06Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_1fcbfea2038[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"before_id":"shp_4f156ce456294545a7efae2d3f813291"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e056463eb89e779821f00424713
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6496bb009983768d9697bbf50eb93fa2"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-B[...]
