---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS","insurance":0},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e016463f32ce77993680044ec30
      Location:
      - "/api/v2/shipments/shp_0cd474ef934846ef8cea607f256e664e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ab39b1bfb1bac772bcaf66e11905c87"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:18:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210411620","updated_at":"2023-05-16T21:18:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_38965495f42f11edbd99ac1f6bc539ae","object":"Address","created_at":"2023-05-16T21:18:36+00:00","updated_at":"2023-05-16T21:18:36+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1c535f19296f4d0bacdb0b8de9451887","object":"Parcel","created_at":"2023-05-16T21:18:36Z","updated_at":"2023-05-16T21:18:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8851d697d8514bf0a2dc461b4d42122b","created_at":"2023-05-16T21:18:37Z","updated_at":"2023-05-16T21:18:37Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T21:18:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/00db39e59ae44fd18d01bdd933e3a006.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8e774b6616574ee9a7f69f257d39205b","object":"Rate","created_at":"2023-05-16T21:18:36Z","updated_at":"2023-05-16T21:18:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_0cd474ef934846ef8cea607f256e664e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_bce18a695b834b83b2a1948be319b81a","object":"Rate","created_at":"2023-05-16T21:18:36Z","updated_at":"2023-05-16T21:18:36Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_0cd474ef934846e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_0cd474ef934846ef8cea607f256e664e/insure
    body:
      encoding: UTF-8
      string: '{"amount":"100"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e046463f32ee77993690044ecb7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"335935403f20b11d4f5aa3c4c9d33010"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-[...]
