---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e26463f67be7799b8b00422f6f
      Location:
      - "/api/v2/shipments/shp_d76fb55a51314427bd9d02ff8f191768"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f89eaed8cd61117fe31170c7f1c4cf01"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:32:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210413716","updated_at":"2023-05-16T21:32:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_31802b77f43111edb9a5ac1f6b0a0d1e","object":"Address","created_at":"2023-05-16T21:32:43+00:00","updated_at":"2023-05-16T21:32:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5226f1eaaa294561955a15e09d03a3ab","object":"Parcel","created_at":"2023-05-16T21:32:43Z","updated_at":"2023-05-16T21:32:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_42<REDACTED>d83edb44cffb2d087fe25367aba","created_at":"2023-05-16T21:32:44Z","updated_at":"2023-05-16T21:32:44Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T21:32:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/9f07064189e04b96808690096966543b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_014351d4f37c401481e30360d7208c43","object":"Rate","created_at":"2023-05-16T21:32:44Z","updated_at":"2023-05-16T21:32:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d76fb55a51314427bd9d02ff8f191768","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_8f82754a2c8d4db09e4518e3a8ef1539","object":"Rate","created_at":"2023-05-16T21:32:44Z","updated_at":"2023-05-16T21:32:44Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_d76fb55a51314427bd9d02[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d76fb55a51314427bd9d02ff8f191768/forms
    body:
      encoding: UTF-8
      string: '{"form":{"type":"return_packing_slip","barcode":"RMA12345678900","line_items":[{"product":{"title":"Square
        Reader","barcode":"855658003251"},"units":8}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e46463f67de7799ba300423062
      Location:
      - "/api/v2/shipments/shp_d76fb55a51314427bd9d02ff8f191768/forms/return_packing_slip"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2254bcf80b3f12fb4bbbdf9f56580eef"
      X-Node:
      - bigweb9nuq
  [...]
