---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e66463f29ae7798ff10040c504
      Location:
      - "/api/v2/shipments/shp_7677c535861d436e83d1d8677744311a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8ddc6a0d1387554f468ed56b99e1581"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:16:10Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"shipment.customs_info.customs_items.0.code:
        field required"}],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2023-05-16T21:16:10Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_7ce02be0bd94453e8d01a79910b14536","object":"CustomsInfo","created_at":"2023-05-16T21:16:10Z","updated_at":"2023-05-16T21:16:10Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_e1362650e90a4c01aa74a155bf2f15d4","object":"CustomsItem","created_at":"2023-05-16T21:16:10Z","updated_at":"2023-05-16T21:16:10Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_e15410ecf42e11ed972bac1f6bc53342","object":"Address","created_at":"2023-05-16T21:16:10+00:00","updated_at":"2023-05-16T21:16:10+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_526b0d9b236f4a838ff9e986bec21914","object":"Parcel","created_at":"2023-05-16T21:16:10Z","updated_at":"2023-05-16T21:16:10Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b2c831cdad5940429ec5bec0afb1f72d","object":"Rate","created_at":"2023-05-16T21:16:10Z","updated_at":"2023-05-16T21:16:10Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7677c535861d436e83d1d8677744311a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a74ad3a693714cf4953d1da127e72ba8","object":"Rate","created_at":"2023-05-16T21:16:10Z","updated_at":"2023-05-16T21:16:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_7677c535861d436e83d1d8677744311a/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e06463f29be77993000040c53d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - [...]
