---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e76463f212e7798f69004096f7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c7a5ca8eccf59518290be4c38ae88e5"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_b82caf1dc4b94cf58eef27d9d3c06784","object":"EndShipper","mode":"test","created_at":"2023-05-16T21:13:54+00:00","updated_at":"2023-05-16T21:13:54+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Tue, 16 May 2023 21:13:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e46463f213e7798f6a00409732
      Location:
      - "/api/v2/shipments/shp_42bb2ffc6a2741d68deba2ca7ad7b632"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91ce2c143febe54eb3ae1982ff326ffc"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T21:13:55Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2023-05-16T21:13:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_90c48768f42e11edaeffac1f6bc539ae","object":"Address","created_at":"2023-05-16T21:13:55+00:00","updated_at":"2023-05-16T21:13:55+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_09ebb52a9f3a48ec8e14a0f3773c6ab5","object":"Parcel","created_at":"2023-05-16T21:13:55Z","updated_at":"2023-05-16T21:13:55Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1f128ef4388f4ea8953ad1bfd4d82ebc","object":"Rate","created_at":"2023-05-16T21:13:55Z","updated_at":"2023-05-16T21:13:55Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_42bb2ffc6a2741d68deba2ca7ad7b632","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_68caedabd5344fce81e9558d0591e9dd","object":"Rate","created_at":"2023-05-16T21:13:55Z","updated_at":"2023-05-16T21:13:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_42bb2ffc6a2741d68deba2ca7ad7b632/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_ec74b622ce3a4f30bfb326640f391b3f"},"carbon_offset":false,"end_shipper_id":"es_b82caf1dc4b94cf58eef27d9d3c06784"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e16463f214e7798f6b0040979f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9da50c915f580888df2691067a7adc4a"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-B[...]
