---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Sawyer Bateman","street1":"58 Larkspur
        Cres.","city":"St. Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"780-123-4567"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1},"customs_info":{"integrated_form_type":"form_2976","customs_certify":true,"customs_signer":"Dr.
        Pepper","contents_type":"gift","contents_explanation":"","eel_pfc":"NOEEI
        30.37(a)","non_delivery_option":"abandon","restriction_type":"none","restriction_comments":"","customs_items":[{"description":"EasyPost
        T-shirts","quantity":2,"value":23.56,"weight":20,"origin_country":"us","hs_tariff_number":123456}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc65ebaf135fb0dd949000b8142
      Location:
      - "/api/v2/shipments/shp_d2dd561a9f6b4763a18c8c32a4e7b8cb"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_94743aac0cb4491ca56e6f24f3afc946","object":"CustomsInfo","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_d071e9bdaae747188ce4d17ddf5dfcdc","object":"CustomsItem","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_3fa705add08f48eaac56c61124f27b28","object":"Address","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a969e1710f034f8dae88cf80e63e406d","object":"Parcel","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_36844df49cd9406485087e6274b55a5b","object":"Rate","created_at":"2020-05-12T18:55:50Z","updated_at":"2020-05-12T18:55:50Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d2dd561a9f6b4763a18c8c32a4e7b8cb","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5fb91db447134a2c92c6de973284917b","object":"Rate","created_at":"2020-05-12T18:55:50Z","updated_at":"2020-05-12T18:55:50Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d2dd561a9f6b4763a18c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d2dd561a9f6b4763a18c8c32a4e7b8cb/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_36844df49cd9406485087e6274b55a5b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab595ebaf136fb0c51cc000d49e9
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_d2dd561a9f6b4763a18c8c32a4e7b8cb"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b342870d5ebaf138f532c554000f430f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sf_8afd840e3f684a21b83a477bd832fe0b","object":"ScanForm","created_at":"2020-05-12T18:55:52Z","updated_at":"2020-05-12T18:55:53Z","tracking_codes":["CM218239803US"],"address":{"id":"adr_3fa705add08f48eaac56c61124f27b28","object":"Address","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200512/83b0eb5613514012add0ad6ef0680b76.pdf","form_file_type":null,"batch_id":"batch_34c6d8dbff7945c2b8b92d5adcaf9a6c","confirmation":null}'
  recorded_at: Tue, 12 May 2020 18:55:53 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_8afd840e3f684a21b83a477bd832fe0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d95ebaf139fb32b8ad000ad0a5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Ve[...]
