---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde965b00a8ee787ddc300074379
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_11ad530d8fb3446c872ea3e9d9006655","object":"ScanForm","created_at":"2024-01-23T18:49:25Z","updated_at":"2024-01-23T18:49:26Z","tracking_codes":["9400100207552011757444"],"address":{"id":"adr_1de5c706ba2011ee8daeac1f6bc539ae","object":"Address","created_at":"2024-01-23T18:49:19+00:00","updated_at":"2024-01-23T18:49:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240123/e86b2983d992a84c8496100fd34c02dd6a.pdf","form_file_type":null,"batch_id":"batch_0fd1459966ec4045aeda88d863fbbd4d","confirmation":null},{"id":"sf_75c14b38300141d785d593511958801b","object":"ScanForm","created_at":"2024-01-23T18:50:51Z","updated_at":"2024-01-23T18:50:51Z","tracking_codes":["9400100207552011757734"],"address":{"id":"adr_537c0664ba2011eeaafc3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:49+00:00","updated_at":"2024-01-23T18:50:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":[...]
