---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][name]=Sawyer%20Bateman&shipment[to_address][street1]=58%20Larkspur%20Cres.&shipment[to_address][city]=St.%20Albert&shipment[to_address][state]=AB&shipment[to_address][zip]=T8N2M4&shipment[to_address][country]=CA&shipment[to_address][phone]=780-123-4567&shipment[from_address][company]=EasyPost&shipment[from_address][street1]=164%20Townsend%20Street&shipment[from_address][street2]=Unit%201&shipment[from_address][city]=San%20Francisco&shipment[from_address][state]=CA&shipment[from_address][zip]=94107&shipment[from_address][phone]=415-123-4567&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1&shipment[customs_info][integrated_form_type]=form_2976&shipment[customs_info][customs_certify]=true&shipment[customs_info][customs_signer]=Dr.%20Pepper&shipment[customs_info][contents_type]=gift&shipment[customs_info][contents_explanation]=&shipment[customs_info][eel_pfc]=NOEEI%2030.37(a)&shipment[customs_info][non_delivery_option]=abandon&shipment[customs_info][restriction_type]=none&shipment[customs_info][restriction_comments]=&shipment[customs_info][customs_items][0][description]=EasyPost%20T-shirts&shipment[customs_info][customs_items][0][quantity]=2&shipment[customs_info][customs_items][0][value]=23.56&shipment[customs_info][customs_items][0][weight]=20&shipment[customs_info][customs_items][0][origin_country]=us&shipment[customs_info][customs_items][0][hs_tariff_number]=123456
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d2bfc9bec4e000de7bc
      Location:
      - "/api/v2/shipments/shp_6e5ef419f72c4b59aa141d4d92cdeef1"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_6aeaba4947014215b051c744be337985","object":"CustomsInfo","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_cb113c5883c44c98a0e1f77116b4693e","object":"CustomsItem","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_b8810f2e01de4299b9f101626464adc6","object":"Address","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c9479450129140ef9371c6de31283a0d","object":"Parcel","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3e19bffd4de34c499ba24bedc6e794c4","object":"Rate","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6e5ef419f72c4b59aa141d4d92cdeef1","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4b942e0334af4b54b47c8b55f086dc97","object":"Rate","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6e5ef419f72c4b59aa1[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_6e5ef419f72c4b59aa141d4d92cdeef1/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_4b942e0334af4b54b47c8b55f086dc97
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d2cfc9bec66000de822
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: shipments[0][id]=shp_6e5ef419f72c4b59aa141d4d92cdeef1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d2efc9bec67000de90f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sf_42d262f4317c4ebf8e0e8d832df7129f","object":"ScanForm","created_at":"2020-04-24T16:00:46Z","updated_at":"2020-04-24T16:00:47Z","tracking_codes":["CM218231067US"],"address":{"id":"adr_b8810f2e01de4299b9f101626464adc6","object":"Address","created_at":"2020-04-24T16:00:44Z","updated_at":"2020-04-24T16:00:44Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200424/d4205126aedc442388b7ee3d93717b3d.pdf","form_file_type":null,"batch_id":"batch_0a541b73685d484ea753b0122cbdfb1e","confirmation":null}'
  recorded_at: Fri, 24 Apr 2020 16:00:47 GMT
recorded_with: VCR 5.1.0
