---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Sawyer Bateman","street1":"58 Larkspur
        Cres.","city":"St. Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"780-123-4567"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1},"customs_info":{"integrated_form_type":"form_2976","customs_certify":true,"customs_signer":"Dr.
        Pepper","contents_type":"gift","contents_explanation":"","eel_pfc":"NOEEI
        30.37(a)","non_delivery_option":"abandon","restriction_type":"none","restriction_comments":"","customs_items":[{"description":"EasyPost
        T-shirts","quantity":2,"value":23.56,"weight":20,"origin_country":"us","hs_tariff_number":123456}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7567ecc85ebaf139fb0a97bf000b82a7
      Location:
      - "/api/v2/shipments/shp_635fefcff18f4552944d9262ab7cc3de"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_d87d67ed9b484d7ab3c4152d61477a7d","object":"CustomsInfo","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_175d4c0ecef94157bca74a7f042d6354","object":"CustomsItem","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_375e4b66d382451c99019f8ca163f6ef","object":"Address","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_22b12988130348d582b5d1e43c8917f0","object":"Parcel","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c679aebefaef4ee0bf44ab297b18ccad","object":"Rate","created_at":"2020-05-12T18:55:54Z","updated_at":"2020-05-12T18:55:54Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_635fefcff18f4552944d9262ab7cc3de","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d1ddcb02b56f404598563ed9ee982318","object":"Rate","created_at":"2020-05-12T18:55:54Z","updated_at":"2020-05-12T18:55:54Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_635fefcff18f4552944[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_635fefcff18f4552944d9262ab7cc3de/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_d1ddcb02b56f404598563ed9ee982318"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 217dab575ebaf13afb209feb000d4b34
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_635fefcff18f4552944d9262ab7cc3de"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b342870d5ebaf13cfb530e88000f448a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sf_bd52543ad2544b999d273b935c7c4bdf","object":"ScanForm","created_at":"2020-05-12T18:55:56Z","updated_at":"2020-05-12T18:55:56Z","tracking_codes":["CM218239817US"],"address":{"id":"adr_375e4b66d382451c99019f8ca163f6ef","object":"Address","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200512/81f292b9e4c243eaaa54b457718e0b23.pdf","form_file_type":null,"batch_id":"batch_661049f4aa1b405b8c832974f80c1788","confirmation":null}'
  recorded_at: Tue, 12 May 2020 18:55:57 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":2}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d35ebaf13dfb0ba79b000ad1c6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"scan_forms":[{"id":"sf_bd52543ad2544b999d273b935c7c4bdf","object":"ScanForm","created_at":"2020-05-12T18:55:56Z","updated_at":"2020-05-12T18:55:56Z","tracking_codes":["CM218239817US"],"address":{"id":"adr_375e4b66d382451c99019f8ca163f6ef","object":"Address","created_at":"2020-05-12T18:55:53Z","updated_at":"2020-05-12T18:55:53Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","ema[...]
