---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"GroundAdvantage","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7dae8e799e144005a10fd
      Location:
      - "/api/v2/shipments/shp_18f868b96d65479bb665f68f531c8af2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-07-29T18:09:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100110368068501108","updated_at":"2024-07-29T18:09:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_bb93c5f14dd511efbc663cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3d21d7a72f114f079ff19e24b46920c1","object":"Parcel","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5975126d1a2944eb815eb8dfc29d121a","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","date_advance":0,"integrated_form":"none","label_date":"2024-07-29T18:09:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240729/e8cd45ca0f5f13407e91c66bb74c3128c5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_88548e8e606e4188813c2341399dfb7e","object":"Rate","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.90","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_18f868b96d65479bb665f68f531c8af2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1c27ab2f6f7a41f0b3968efa2a0117e4","object":"Rate","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_18f868b96d65479bb665f68f531c8af2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_32751bf1493a490ab64f2bf4e7de4992","object":"Rate","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_18f868b96d65479bb665f68f531c8af2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_1c27ab2f6f7a41f0b3968efa2a0117e4","object":"Rate","created_at":"2024-07-29T18:09:44Z","updated_at":"2024-07-29T18:09:44Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_18f868b96d65479bb665f68f531c8af2","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},"tracker":{"id":"trk_1f642a3ffa094dea9cc585b8875a494e","object":"Tracker","mode":"test","tracking_code":"9400100110368068501108","status":"unknown","status_detail":"unknown","created_at":"2024-07-29T18:09:45Z","updated_at":"2024-07-29T18:09:45Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_18f868b96d65479bb665f68f531c8af2","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrXzFmNjQyYTNmZmEwOTRkZWE5Y2M1ODViODg3NWE0OTRl"},"to_address":{"id":"adr_bb9141514dd511ef89e2ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"usps_zone":4,"return_address":{"id":"adr_bb93c5f14dd511efbc663cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_bb9141514dd511ef89e2ac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.01000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.93000","charged":true,"refunded":false}],"id":"shp_18f868b96d65479bb665f68f531c8af2","object":"Shipment"}'
  recorded_at: Mon, 29 Jul 2024 18:09:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_18f868b96d65479bb665f68f531c8af2"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7dae9e799e145005a1248
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"id":"sf_cf920babb8714f2dbcce92a340e408ab","object":"ScanForm","created_at":"2024-07-29T18:09:45Z","updated_at":"2024-07-29T18:09:45Z","tracking_codes":["9400100110368068501108"],"address":{"id":"adr_bb93c5f14dd511efbc663cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240729/e8882df4f4b94c47d187348c877dcac1aa.pdf","form_file_type":null,"batch_id":"batch_f362b38f347b42b8a48937e21a2dc56e","confirmation":null}'
  recorded_at: Mon, 29 Jul 2024 18:09:45 GMT
recorded_with: VCR 6.1.0
