---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7566a7daece799e161005a15a5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb3nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_cf920babb8714f2dbcce92a340e408ab","object":"ScanForm","created_at":"2024-07-29T18:09:45Z","updated_at":"2024-07-29T18:09:45Z","tracking_codes":["9400100110368068501108"],"address":{"id":"adr_bb93c5f14dd511efbc663cecef1b359e","object":"Address","created_at":"2024-07-29T18:09:44+00:00","updated_at":"2024-07-29T18:09:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240729/e8882df4f4b94c47d187348c877dcac1aa.pdf","form_file_type":null,"batch_id":"batch_f362b38f347b42b8a48937e21a2dc56e","confirmation":null},{"id":"sf_092074c72c0d4bd1b7061b842b67ae80","object":"ScanForm","created_at":"2024-07-29T18:09:47Z","updated_at":"2024-07-29T18:09:47Z","tracking_codes":["9400100110368068501115"],"address":{"id":"adr_bcd227dc4dd511ef8a7bac1f6bc539aa","object":"Address","created_at":"2024-07-29T18:09:46+00:00","updated_at":"2024-07-29T18:09:46+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240729/e867e664c0f50b424284ece71dd5e56cd7.pdf","form_file_type":null,"batch_id":"batch_515ee192c4524132a500e85ca68d3d53","confirmation":null}],"has_more":false}'
  recorded_at: Mon, 29 Jul 2024 18:09:48 GMT
recorded_with: VCR 6.1.0
