---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Sawyer Bateman","street1":"58 Larkspur
        Cres.","city":"St. Albert","state":"AB","zip":"T8N2M4","country":"CA","phone":"780-123-4567"},"from_address":{"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","phone":"415-123-4567"},"parcel":{"width":12,"length":16.5,"height":9.5,"weight":40.1},"customs_info":{"integrated_form_type":"form_2976","customs_certify":true,"customs_signer":"Dr.
        Pepper","contents_type":"gift","contents_explanation":"","eel_pfc":"NOEEI
        30.37(a)","non_delivery_option":"abandon","restriction_type":"none","restriction_comments":"","customs_items":[{"description":"EasyPost
        T-shirts","quantity":2,"value":23.56,"weight":20,"origin_country":"us","hs_tariff_number":123456}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 217dab545ebaf131fb208b0e000d485c
      Location:
      - "/api/v2/shipments/shp_6e453d1e4ffd4df4ae57dc778f2e1a97"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-12T18:55:45Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-12T18:55:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_5b2cea78b3654df390c72e74648dfc83","object":"CustomsInfo","created_at":"2020-05-12T18:55:45Z","updated_at":"2020-05-12T18:55:45Z","contents_explanation":"","contents_type":"gift","customs_certify":true,"customs_signer":"Dr.
        Pepper","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"abandon","restriction_comments":"","restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_6ad2a083d0c04ae285913a6606360ce4","object":"CustomsItem","created_at":"2020-05-12T18:55:45Z","updated_at":"2020-05-12T18:55:45Z","description":"EasyPost
        T-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"23.56","weight":20.0,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_32b361df85994f02bf06b8fe800d0f85","object":"Address","created_at":"2020-05-12T18:55:45Z","updated_at":"2020-05-12T18:55:45Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_223e82326fd24d579664be615b270815","object":"Parcel","created_at":"2020-05-12T18:55:45Z","updated_at":"2020-05-12T18:55:45Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d681d7146e7d4fa1ba274735df84eac5","object":"Rate","created_at":"2020-05-12T18:55:46Z","updated_at":"2020-05-12T18:55:46Z","mode":"test","service":"PriorityMailInternational","carrier":"USPS","rate":"40.09","currency":"USD","retail_rate":"42.20","retail_currency":"USD","list_rate":"40.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6e453d1e4ffd4df4ae57dc778f2e1a97","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b33bf1bbddb44ed488e644f1e977e75a","object":"Rate","created_at":"2020-05-12T18:55:46Z","updated_at":"2020-05-12T18:55:46Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"56.80","currency":"USD","retail_rate":"61.05","retail_currency":"USD","list_rate":"56.80","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6e453d1e4ffd4df4ae57[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_6e453d1e4ffd4df4ae57dc778f2e1a97/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_d681d7146e7d4fa1ba274735df84eac5"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b34287145ebaf132fb1f834b000f40e0
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_6e453d1e4ffd4df4ae57dc778f2e1a97"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fca702d85ebaf135fb1dd129000acf46
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202005112229-ce23998a81-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"sf_f73b98bf18f14af18a97b71b1f79dd72","object":"ScanForm","created_at":"2020-05-12T18:55:49Z","updated_at":"2020-05-12T18:55:49Z","tracking_codes":["CM218239794US"],"address":{"id":"adr_32b361df85994f02bf06b8fe800d0f85","object":"Address","created_at":"2020-05-12T18:55:45Z","updated_at":"2020-05-12T18:55:45Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200512/a7bcbf9267334ab5bea87e6e24baf74a.pdf","form_file_type":null,"batch_id":"batch_58ca62b84e694078b96c6239b4b73a1c","confirmation":null}'
  recorded_at: Tue, 12 May 2020 18:55:49 GMT
recorded_with: VCR 5.1.0
