---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6756487f6567d98cee7bea79000500a5
      Location:
      - "/api/v2/shipments/shp_b4dae59247b046eb90dcc3427e5375ac"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:38:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286718314","updated_at":"2023-11-30T00:38:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_cc4d82908f1811ee968b3cecef1b359e","object":"Address","created_at":"2023-11-30T00:38:36+00:00","updated_at":"2023-11-30T00:38:36+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_08fa68488b59417892e2f54a2ea93531","object":"Parcel","created_at":"2023-11-30T00:38:36Z","updated_at":"2023-11-30T00:38:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_bb001857560541078a321245f67866db","created_at":"2023-11-30T00:38:36Z","updated_at":"2023-11-30T00:38:37Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:38:36Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e8ae3bb10adffb40ef946e581cf5d7f69a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b7ef0f143f144ec086b687efee6bcedb","object":"Rate","created_at":"2023-11-30T00:38:36Z","updated_at":"2023-11-30T00:38:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b4dae59247b046eb90dcc3427e5375ac","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_c909578f01fe46b99a31e57c0355104a","object":"Rate","created_at":"2023-11-30T00:38:36Z","updated_at":"2023-11-30T00:38:36Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b4dae59247b046eb90[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_b4dae59247b046eb90dcc3427e5375ac"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 761411d66567d98dee7d75ab0004aea9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"sf_ec469fe07cd7479aa068d1f2116a66c1","object":"ScanForm","created_at":"2023-11-30T00:38:37Z","updated_at":"2023-11-30T00:38:37Z","tracking_codes":["9400100105442286718314"],"address":{"id":"adr_cc4d82908f1811ee968b3cecef1b359e","object":"Address","created_at":"2023-11-30T00:38:36+00:00","updated_at":"2023-11-30T00:38:36+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231130/e84fa660b395ea4d1d8b28239caa1097f4.pdf","form_file_type":null,"batch_id":"batch_f92a1cd3d7a944e2bd93afdbbc0cf3ee","confirmation":null}'
  recorded_at: Thu, 30 Nov 2023 00:38:37 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_ec469fe07cd7479aa068d1f2116a66c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 675648806567d98dee6c71ef000501c4
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Versio[...]
