---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00a89e787dda700074026
      Location:
      - "/api/v2/shipments/shp_0ff4543a712c4257a6d219b865ab914f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:50:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757734","updated_at":"2024-01-23T18:50:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_537c0664ba2011eeaafc3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:49+00:00","updated_at":"2024-01-23T18:50:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d107a55700e444a99e17da19c04d0d3d","object":"Parcel","created_at":"2024-01-23T18:50:49Z","updated_at":"2024-01-23T18:50:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c8734d87cd8c43de989556b2e8f52dde","created_at":"2024-01-23T18:50:50Z","updated_at":"2024-01-23T18:50:50Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:50:50Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e8224a4ab0d3484880a0de49b11be81a95.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d830f20fc0624a309c153661ad4b027d","object":"Rate","created_at":"2024-01-23T18:50:49Z","updated_at":"2024-01-23T18:50:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0ff4543a712c4257a6d219b865ab914f","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_938c5de80f0c4ff0af67e21b5163e08b","object":"Rate","created_at":"2024-01-23T18:50:49Z","updated_at":"2024-01-23T18:50:49Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.45","retail_currency":"USD","list_rate":"6.40","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_0ff4543a712c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_0ff4543a712c4257a6d219b865ab914f"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a8be787ddbf0007417b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"sf_75c14b38300141d785d593511958801b","object":"ScanForm","created_at":"2024-01-23T18:50:51Z","updated_at":"2024-01-23T18:50:51Z","tracking_codes":["9400100207552011757734"],"address":{"id":"adr_537c0664ba2011eeaafc3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:49+00:00","updated_at":"2024-01-23T18:50:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240123/e864c0a0888e4543bc87f8de7326583665.pdf","form_file_type":null,"batch_id":"batch_fef4de60f9ed4368912df29728748d80","confirmation":null}'
  recorded_at: Tue, 23 Jan 2024 18:50:51 GMT
recorded_with: VCR 6.2.0
