---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde665b00a8ce787ddc0000741e7
      Location:
      - "/api/v2/shipments/shp_79b4fb7f55ae43c69b13e7dcef561d86"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-01-23T18:50:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100207552011757758","updated_at":"2024-01-23T18:50:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_54df578dba2011eeabbe3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:52+00:00","updated_at":"2024-01-23T18:50:52+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cae45b4b1bcb410cb1afd6b4dd5cfe94","object":"Parcel","created_at":"2024-01-23T18:50:52Z","updated_at":"2024-01-23T18:50:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_4954e961f96d401aa039865b15b58ab7","created_at":"2024-01-23T18:50:52Z","updated_at":"2024-01-23T18:50:52Z","date_advance":0,"integrated_form":"none","label_date":"2024-01-23T18:50:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240123/e80a73f5349793442a9102dc9725c43de4.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_19f8427209014e71a7ea9e5ec5578f08","object":"Rate","created_at":"2024-01-23T18:50:52Z","updated_at":"2024-01-23T18:50:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.10","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.10","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_79b4fb7f55ae43c69b13e7dcef561d86","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e718cbc0710e45a58a7c12d559057d5d","object":"Rate","created_at":"2024-01-23T18:50:52Z","updated_at":"2024-01-23T18:50:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.88","currency":"USD","retail_rate":"9.80","retail_currency":"USD","list_rate":"8.25","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_79b4fb7f55ae43c69b1[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_79b4fb7f55ae43c69b13e7dcef561d86"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00a8de787ddc1000742ce
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"sf_24007ef563af47b8a05ef305df24797a","object":"ScanForm","created_at":"2024-01-23T18:50:53Z","updated_at":"2024-01-23T18:50:53Z","tracking_codes":["9400100207552011757758"],"address":{"id":"adr_54df578dba2011eeabbe3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:52+00:00","updated_at":"2024-01-23T18:50:52+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240123/e877dcb86f157043fbb3f0f1b7810ec173.pdf","form_file_type":null,"batch_id":"batch_e50d7eab4d2046a88bb42cdc61e8c930","confirmation":null}'
  recorded_at: Tue, 23 Jan 2024 18:50:53 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_24007ef563af47b8a05ef305df24797a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e77cdde565b00a8de787ddc200074346
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"sf_24007ef563af47b8a05ef305df24797a","object":"ScanForm","created_at":"2024-01-23T18:50:53Z","updated_at":"2024-01-23T18:50:53Z","tracking_codes":["9400100207552011757758"],"address":{"id":"adr_54df578dba2011eeabbe3cecef1b359e","object":"Address","created_at":"2024-01-23T18:50:52+00:00","updated_at":"2024-01-23T18:50:52+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240123/e877dcb86f157043fbb3f0f1b7810ec173.pdf","form_file_type":null,"batch_id":"batch_e50d7eab4d2046a88bb42cdc61e8c930","confirmation":null}'
  recorded_at: Tue, 23 Jan 2024 18:50:53 GMT
recorded_with: VCR 6.2.0
