---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652de1e0dc97a30006f842
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"596976831a37f26f3b4186b7947baaf7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"scan_forms":[{"id":"sf_39e229ab97a840df83feeec54efd29e9","object":"ScanForm","created_at":"2023-05-17T19:41:20Z","updated_at":"2023-05-17T19:41:20Z","tracking_codes":["9400100104262210693392"],"address":{"id":"adr_cb96ecacf4ea11edb102ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:41:19+00:00","updated_at":"2023-05-17T19:41:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230517/c1713fa6697b4f8ea09723f35620c997.pdf","form_file_type":null,"batch_id":"batch_3d78ad8482964618916cc8f73539861c","confirmation":null},{"id":"sf_efa1c89cf0bf481fbea495922e5cc584","object":"ScanForm","created_at":"2023-05-17T19:41:18Z","updated_at":"2023-05-17T19:41:18Z","tracking_codes":["9400100104262210693361"],"address":{"id":"adr_ca723a69f4ea11ed9762ac1f6bc7b362","object":"Address","created_at":"2023-05-17T19:41:17+00:00","updated_at":"2023-05-17T19:41:17+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":[...]
