---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0664652ddfe0dc97a00006f77d
      Location:
      - "/api/v2/shipments/shp_baeb413c0323416eb8ec43a21305c734"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"328d8066929d66797ff4932347743a9f"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T19:41:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210693392","updated_at":"2023-05-17T19:41:20Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_cb96ecacf4ea11edb102ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:41:19+00:00","updated_at":"2023-05-17T19:41:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_84a529bc53f0403a990bab9d4d40fb2d","object":"Parcel","created_at":"2023-05-17T19:41:19Z","updated_at":"2023-05-17T19:41:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8c7bb265c0a34b758674eda05edca09f","created_at":"2023-05-17T19:41:19Z","updated_at":"2023-05-17T19:41:20Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T19:41:19Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/78c8f386c6424e0d8c4eefa1faf8c301.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7d9242462ef54f0bb4faa05eba3f5a99","object":"Rate","created_at":"2023-05-17T19:41:19Z","updated_at":"2023-05-17T19:41:19Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_baeb413c0323416eb8ec43a21305c734","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_29259b5d3ec0429db9a65d0acfb3e607","object":"Rate","created_at":"2023-05-17T19:41:19Z","updated_at":"2023-05-17T19:41:19Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_baeb413c0323416eb8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_baeb413c0323416eb8ec43a21305c734"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0864652de0e0dc97a10006f7fa
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e397d3412918939c62346bf0064ec50"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"sf_39e229ab97a840df83feeec54efd29e9","object":"ScanForm","created_at":"2023-05-17T19:41:20Z","updated_at":"2023-05-17T19:41:20Z","tracking_codes":["9400100104262210693392"],"address":{"id":"adr_cb96ecacf4ea11edb102ac1f6bc539aa","object":"Address","created_at":"2023-05-17T19:41:19+00:00","updated_at":"2023-05-17T19:41:19+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230517/c1713fa6697b4f8ea09723f35620c997.pdf","form_file_type":null,"batch_id":"batch_3d78ad8482964618916cc8f73539861c","confirmation":null}'
  recorded_at: Wed, 17 May 2023 19:41:20 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_39e229ab97a840df83feeec54efd29e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652de0e0dc97a20006f82d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e397d3412918939c62346bf0[...]
