---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 6756487c6567d98aee7bea710004ff2d
      Location:
      - "/api/v2/shipments/shp_c3040175053c4fe0a5e4329cfbe8c170"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb2nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-11-30T00:38:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100105442286718307","updated_at":"2023-11-30T00:38:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_cb4cd9508f1811ee89c7ac1f6bc53342","object":"Address","created_at":"2023-11-30T00:38:34+00:00","updated_at":"2023-11-30T00:38:34+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_367d0ed636cb457da886a73b60bc867f","object":"Parcel","created_at":"2023-11-30T00:38:34Z","updated_at":"2023-11-30T00:38:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0e732bd59c494433817f233cd168363c","created_at":"2023-11-30T00:38:35Z","updated_at":"2023-11-30T00:38:35Z","date_advance":0,"integrated_form":"none","label_date":"2023-11-30T00:38:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e802c64cf82f5f4e9288ed9562d4529f59.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_da49d79345854fefbb981dba96bd14bb","object":"Rate","created_at":"2023-11-30T00:38:34Z","updated_at":"2023-11-30T00:38:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c3040175053c4fe0a5e4329cfbe8c170","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d0fad15721a54b308713e2130bb81dab","object":"Rate","created_at":"2023-11-30T00:38:34Z","updated_at":"2023-11-30T00:38:34Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.93","currency":"USD","retail_rate":"8.00","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_c3040175053c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_c3040175053c4fe0a5e4329cfbe8c170"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 761411da6567d98bee6a55700004ad5a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202311250013-a0f06fbc2c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq b3de2c47ef
    body:
      encoding: UTF-8
      string: '{"id":"sf_6ea18d2e92e1477aa45e3b65b355e9fa","object":"ScanForm","created_at":"2023-11-30T00:38:35Z","updated_at":"2023-11-30T00:38:36Z","tracking_codes":["9400100105442286718307"],"address":{"id":"adr_cb4cd9508f1811ee89c7ac1f6bc53342","object":"Address","created_at":"2023-11-30T00:38:34+00:00","updated_at":"2023-11-30T00:38:34+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231130/e867ae0107b9394c3f81df9bc4f867e048.pdf","form_file_type":null,"batch_id":"batch_01dccbb7ff784f549c48edf50be181ec","confirmation":null}'
  recorded_at: Thu, 30 Nov 2023 00:38:36 GMT
recorded_with: VCR 6.2.0
