---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e364640c09e787377c00487eb2
      Location:
      - "/api/v2/shipments/shp_96e1cfbe86914ef29360c64f5139316c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da99fde5f75580d0f709f7cfb8023875"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:04:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430133","updated_at":"2023-05-16T23:04:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0a12f651f43e11edbc79ac1f6b0a0d1e","object":"Address","created_at":"2023-05-16T23:04:41+00:00","updated_at":"2023-05-16T23:04:41+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_82c551edd7eb411f9087e5b5e638534c","object":"Parcel","created_at":"2023-05-16T23:04:41Z","updated_at":"2023-05-16T23:04:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_94f8a0f7c58f44b585af755390b75b87","created_at":"2023-05-16T23:04:41Z","updated_at":"2023-05-16T23:04:42Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:04:41Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/15403be935e04001bb01e063ff4f300b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0c8b7c70275d42cf8107ee93924dc31d","object":"Rate","created_at":"2023-05-16T23:04:41Z","updated_at":"2023-05-16T23:04:41Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_96e1cfbe86914ef29360c64f5139316c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_27009e00101b45f1a472d836c9bc25ee","object":"Rate","created_at":"2023-05-16T23:04:41Z","updated_at":"2023-05-16T23:04:41Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_96e1cfbe869[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_96e1cfbe86914ef29360c64f5139316c"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e264640c0ae787377d00487f42
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5faea13d464dabeffae18fddbbaa55c1"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_b9a62e521f4846d18766ff25c80cda5e","object":"Pickup","created_at":"2023-05-16T23:04:42Z","updated_at":"2023-05-16T23:04:42Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_0afb2ecbf43e11ed9f9eac1f6bc7b362","object":"Address","created_at":"2023-05-16T23:04:42+00:00","updated_at":"2023-05-16T23:04:42+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:04:43Z","updated_at":"2023-05-16T23:04:43Z","carrier":"USPS","pickup_id":"pickup_b9a62e521f4846d18766ff25c80cda5e","id":"pickuprate_f72cbf32bb0d4cd4a8d9ef263e34e7ff","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:04:43 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_b9a62e521f4846d18766ff25c80cda5e/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c0ce787377e00487fd9
      Content-Type:
      - application/json; charset=utf-8
      E[...]
