---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c11e787379900488257
      Location:
      - "/api/v2/shipments/shp_d37a521350524c64ae5781c99d9ef30a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a53afae78d33b5c734ab08dededc982"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:04:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430157","updated_at":"2023-05-16T23:04:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0f2aa868f43e11ed9d6e3cecef1b359e","object":"Address","created_at":"2023-05-16T23:04:49+00:00","updated_at":"2023-05-16T23:04:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_eeeac4cd986749569bce91fc3fa19036","object":"Parcel","created_at":"2023-05-16T23:04:49Z","updated_at":"2023-05-16T23:04:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fa9d54c1e768435a9ba7a74839a11499","created_at":"2023-05-16T23:04:50Z","updated_at":"2023-05-16T23:04:50Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:04:50Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/0231e78383ec4156aac44601119be2e5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_50784c3200064fbcbdcc393722cae451","object":"Rate","created_at":"2023-05-16T23:04:49Z","updated_at":"2023-05-16T23:04:49Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_d37a521350524c64ae5781c99d9ef30a","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3f6b3d8036064016806062cc1c687f97","object":"Rate","created_at":"2023-05-16T23:04:49Z","updated_at":"2023-05-16T23:04:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d37a5213505[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_d37a521350524c64ae5781c99d9ef30a"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640c13e787379a00488301
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2fd9b4749395665fec913ffc7bfa45f"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_72de7bb186d74bcb9a7c7b9310296a65","object":"Pickup","created_at":"2023-05-16T23:04:51Z","updated_at":"2023-05-16T23:04:51Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_10105edff43e11ed9faa3cecef1b359e","object":"Address","created_at":"2023-05-16T23:04:51+00:00","updated_at":"2023-05-16T23:04:51+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:04:52Z","updated_at":"2023-05-16T23:04:52Z","carrier":"USPS","pickup_id":"pickup_72de7bb186d74bcb9a7c7b9310296a65","id":"pickuprate_0b916c0426f74d1eaf672e1bf16be0cf","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:04:51 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_72de7bb186d74bcb9a7c7b9310296a65/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e664640c14e787379b00488372
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_72de7bb186d74bcb9a7c7b9310296a65/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640c15e787379c004883f9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6b819a6ce1ed71e9[...]
