---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640c01e787346500487b47
      Location:
      - "/api/v2/shipments/shp_74bbd28bf7454859a2917af2b88a6196"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33036ff9e8553cfb3ab5a374b2c1784c"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:04:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430089","updated_at":"2023-05-16T23:04:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_055fe671f43e11ed9549ac1f6bc53342","object":"Address","created_at":"2023-05-16T23:04:33+00:00","updated_at":"2023-05-16T23:04:33+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2ea4ffe62d494946b64a72e66c4604ed","object":"Parcel","created_at":"2023-05-16T23:04:33Z","updated_at":"2023-05-16T23:04:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_47e9701dfa4d444882ea8b753116179c","created_at":"2023-05-16T23:04:33Z","updated_at":"2023-05-16T23:04:34Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:04:33Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/508a82bfb24549fb84f35347c1ac4182.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_2daf894941494d7983bfc0e301905174","object":"Rate","created_at":"2023-05-16T23:04:33Z","updated_at":"2023-05-16T23:04:33Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_74bbd28bf7454859a2917af2b88a6196","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_2950920e20244ec385560dd9f394db5a","object":"Rate","created_at":"2023-05-16T23:04:33Z","updated_at":"2023-05-16T23:04:33Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_74bbd28bf74[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_74bbd28bf7454859a2917af2b88a6196"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e664640c02e787346600487bed
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"991611347d642d2a0bdae2f1611ac9b0"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_494387cde9e94a65acd5a9f4cd888f5e","object":"Pickup","created_at":"2023-05-16T23:04:34Z","updated_at":"2023-05-16T23:04:34Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_063be45cf43e11ed85d23cecef1b359e","object":"Address","created_at":"2023-05-16T23:04:34+00:00","updated_at":"2023-05-16T23:04:34+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:04:35Z","updated_at":"2023-05-16T23:04:35Z","carrier":"USPS","pickup_id":"pickup_494387cde9e94a65acd5a9f4cd888f5e","id":"pickuprate_4ff3abc9820d4d298d69b9d96da4ae2c","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:04:35 GMT
recorded_with: VCR 6.1.0
