---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e956460629fe0dbfe5d001a90cd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"edf31c68bb26a95946245731f0a521d1"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_e97ef0d800fe48d48b662cf9ef6e76d2","object":"Pickup","created_at":"2023-05-14T04:25:02Z","updated_at":"2023-05-14T04:25:02Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4b77514af20f11ed92efac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:25:02+00:00","updated_at":"2023-05-14T04:25:02+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:02Z","updated_at":"2023-05-14T04:25:02Z","carrier":"USPS","pickup_id":"pickup_e97ef0d800fe48d48b662cf9ef6e76d2","id":"pickuprate_bfa96ab977264110a1c1a1947a9e52d0","object":"PickupRate"}]},{"id":"pickup_cd0e22d7b4a2407c8895c7aea7792e3a","object":"Pickup","created_at":"2023-05-14T04:24:59Z","updated_at":"2023-05-14T04:24:59Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
