---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c646062a0e0dbfe60001a910f
      Location:
      - "/api/v2/shipments/shp_dbf6da0ac6fd4e66a9e47923a0d63049"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2aca1ae567b3810af65d283f9f98b6ed"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:04Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209513847","updated_at":"2023-05-14T04:25:05Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4d054578f20f11ed93a8ac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:25:04+00:00","updated_at":"2023-05-14T04:25:04+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_afa4e9bbeebf4ceb8fb67cd2a173e589","object":"Parcel","created_at":"2023-05-14T04:25:04Z","updated_at":"2023-05-14T04:25:04Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5dab9ab33f2641a68fa3dacdbaba3c84","created_at":"2023-05-14T04:25:05Z","updated_at":"2023-05-14T04:25:05Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:05Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/64e2ce4aaec842e088f2063332d8b835.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_58bb814963d24e7aba49beb8d529e20f","object":"Rate","created_at":"2023-05-14T04:25:05Z","updated_at":"2023-05-14T04:25:05Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_dbf6da0ac6fd4e66a9e47923a0d63049","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d09f985cb265461f97ec5260ed61e919","object":"Rate","created_at":"2023-05-14T04:25:05Z","updated_at":"2023-05-14T04:25:05Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_dbf6da0ac6fd4e66a9e479[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_dbf6da0ac6fd4e66a9e47923a0d63049"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9a646062a2e0dbfe61001a915b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e982bff73e1c928d4352328c3cddc264"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f5bc0529312d4dd1a08c1f52fbd35386","object":"Pickup","created_at":"2023-05-14T04:25:06Z","updated_at":"2023-05-14T04:25:06Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4dd7f702f20f11eda8153cecef1b359e","object":"Address","created_at":"2023-05-14T04:25:06+00:00","updated_at":"2023-05-14T04:25:06+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:06Z","updated_at":"2023-05-14T04:25:06Z","carrier":"USPS","pickup_id":"pickup_f5bc0529312d4dd1a08c1f52fbd35386","id":"pickuprate_cda2ead56a804e0da785bf90e39e652e","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:07 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f5bc0529312d4dd1a08c1f52fbd35386/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c646062a3e0dbfe62001a9190
      Content-Type:
      - application/json; charset=utf-8
      E[...]
