---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e95646062a4e0dbfe63001a91c6
      Location:
      - "/api/v2/shipments/shp_9d2c0d61575040e09d3169a6ae797c04"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9dbbfe567711d5a0bb4eef053c2a2fe5"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:08Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209513854","updated_at":"2023-05-14T04:25:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4f44e693f20f11edbb2dac1f6bc7bdc6","object":"Address","created_at":"2023-05-14T04:25:08+00:00","updated_at":"2023-05-14T04:25:08+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7f443af645d64531a56743afe5ce4e88","object":"Parcel","created_at":"2023-05-14T04:25:08Z","updated_at":"2023-05-14T04:25:08Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f9085ff24e92457b80b8dbac2db36320","created_at":"2023-05-14T04:25:09Z","updated_at":"2023-05-14T04:25:09Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/f172da4d034c401e87002e7651400190.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_532ac0d9423048e5b1d21dde55e276ba","object":"Rate","created_at":"2023-05-14T04:25:08Z","updated_at":"2023-05-14T04:25:08Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_9d2c0d61575040e09d3169a6ae797c04","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_cd8a010b8bf543c6a39ca006fc35fabe","object":"Rate","created_at":"2023-05-14T04:25:08Z","updated_at":"2023-05-14T04:25:08Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9d2c0d61575[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_9d2c0d61575040e09d3169a6ae797c04"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c646062a5e0dbfe7b001a9203
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4180fb8c665196649c8aca1d2597a8d6"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_4b884e3fe1964d119ea41f7bf2dbd628","object":"Pickup","created_at":"2023-05-14T04:25:10Z","updated_at":"2023-05-14T04:25:10Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_5009947ef20f11ed82f7ac1f6bc72124","object":"Address","created_at":"2023-05-14T04:25:09+00:00","updated_at":"2023-05-14T04:25:09+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:10Z","updated_at":"2023-05-14T04:25:10Z","carrier":"USPS","pickup_id":"pickup_4b884e3fe1964d119ea41f7bf2dbd628","id":"pickuprate_c9d9f5b26e244c00a3109f5c41ac8a19","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:10 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_4b884e3fe1964d119ea41f7bf2dbd628/buy
    body:
      encoding: UTF-8
      string: '"{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2023-05-14T04:25:10Z\",\"updated_at\":\"2023-05-14T04:25:10Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_4b884e3fe1964d119ea41f7bf2dbd628\",\"id\":\"pickuprate_c9d9f5b26e244c00a3109f5c41ac8a19\",\"object\":\"PickupRate\"}"'
    header[...]
