---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b55645eab12e787de8b000dca80
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d052d2d21f3d7e6d7035e27832f4f8f"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_77596eeebb2c43eba9498d43a0bbba84","object":"Pickup","created_at":"2023-05-12T21:09:36Z","updated_at":"2023-05-12T21:09:36Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4cc1a7d4f10911edb37fac1f6bc7bdc6","object":"Address","created_at":"2023-05-12T21:09:36+00:00","updated_at":"2023-05-12T21:09:36+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:09:37Z","updated_at":"2023-05-12T21:09:37Z","carrier":"USPS","pickup_id":"pickup_77596eeebb2c43eba9498d43a0bbba84","id":"pickuprate_d61623618e7c43c4a1fe2e4d9137717a","object":"PickupRate"}]},{"id":"pickup_82d55b4004704206b8b5a2fabb447853","object":"Pickup","created_at":"2023-05-12T21:09:06Z","updated_at":"2023-05-12T21:09:06Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
