---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b4e645eab0ee787de88000dc8f8
      Location:
      - "/api/v2/shipments/shp_44ae166a32424bc5a8ad0deae52ac937"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7032bf7870ba97dcbe51c0a576d151a"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:09:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141835","updated_at":"2023-05-12T21:09:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4bdde275f10911eda115ac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:09:34+00:00","updated_at":"2023-05-12T21:09:34+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_34963194c90643eaa5821804bd81fe57","object":"Parcel","created_at":"2023-05-12T21:09:34Z","updated_at":"2023-05-12T21:09:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f6d15358336548bab98681f6020041bf","created_at":"2023-05-12T21:09:35Z","updated_at":"2023-05-12T21:09:35Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:09:35Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/b5a374153faf4f60b49c952fa3607793.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_2cb5cbaa3f0543fb87a1bb62bf33309d","object":"Rate","created_at":"2023-05-12T21:09:34Z","updated_at":"2023-05-12T21:09:34Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_44ae166a32424bc5a8ad0deae52ac937","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_01df7b353f834121862d9c1241cec696","object":"Rate","created_at":"2023-05-12T21:09:34Z","updated_at":"2023-05-12T21:09:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_44ae166a32424bc5a8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"created_at":"2023-05-12T21:09:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141835","updated_at":"2023-05-12T21:09:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4bdde275f10911eda115ac1f6b0a0d1e","object":"Address","created_at":"2023-05-12T21:09:3[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_77596eeebb2c43eba9498d43a0bbba84
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b53645eab11e787de8a000dca4f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d766ce61839b031c5e9e273a21da1cfe"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_77596eeebb2c43eba9498d43a0bbba84","object":"Pickup","created_at":"2023-05-12T21:09:36Z","updated_at":"2023-05-12T21:09:36Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4cc1a7d4f10911edb37fac1f6bc7bdc6","object":"Address","created_at":"2023-05-12T21:09:36+00:00","updated_at":"2023-05-12T21:09:36+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:09:37Z","updated_at":"2023-05-12T21:09:37Z","carrier":"USPS","pickup_id":"pickup_77596eeebb2c43eba9498d43a0bbba84","id":"pickuprate_d61623618e7c43c4a1fe2e4d9137717a","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:09:37 GMT
recorded_with: VCR 6.1.0
