---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 0ada6053646062c7e0dbfe9e001b9ec7
      Location:
      - "/api/v2/shipments/shp_2996cef093b54f358a62630e2b8ffed3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e0908a358ef5e8ca0f824fb963b6e4f"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209514028","updated_at":"2023-05-14T04:25:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_644faf6cf20f11edaedcac1f6bc7bdc6","object":"Address","created_at":"2023-05-14T04:25:43+00:00","updated_at":"2023-05-14T04:25:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1c10f7f1f7f14fbba6dfa58d46a5fa52","object":"Parcel","created_at":"2023-05-14T04:25:43Z","updated_at":"2023-05-14T04:25:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_d4666527b6ef4af98695b1f03db1a0f6","created_at":"2023-05-14T04:25:44Z","updated_at":"2023-05-14T04:25:44Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/f07491f9a73441d5af67c8742aee36f7.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0b547e4ecdbb45a0a4b63d81a70b80df","object":"Rate","created_at":"2023-05-14T04:25:44Z","updated_at":"2023-05-14T04:25:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2996cef093b54f358a62630e2b8ffed3","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_79a48ef5b2e548c592abb0afb86dc53e","object":"Rate","created_at":"2023-05-14T04:25:44Z","updated_at":"2023-05-14T04:25:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2996cef093b54f358a[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_2996cef093b54f358a62630e2b8ffed3"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4ac1f1b9646062c9e0dbfe9f000a174c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fbbf7c8dde92a7435ad50c3078fcf5c"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_49fee4707ab54ae7959e2c89437caac8","object":"Pickup","created_at":"2023-05-14T04:25:45Z","updated_at":"2023-05-14T04:25:45Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_653a76a0f20f11ed9131ac1f6bc72124","object":"Address","created_at":"2023-05-14T04:25:45+00:00","updated_at":"2023-05-14T04:25:45+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:46Z","updated_at":"2023-05-14T04:25:46Z","carrier":"USPS","pickup_id":"pickup_49fee4707ab54ae7959e2c89437caac8","id":"pickuprate_a427d49c5b4c4745b07520687d8226ff","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:46 GMT
recorded_with: VCR 6.1.0
