---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4b4bfcbb6460629ce0dbfe5a001fd5ca
      Location:
      - "/api/v2/shipments/shp_5c400509d99a40e38e0afeeeff573c94"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be2c43d499c9810cb0793e83bb9fb650"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:00Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209513830","updated_at":"2023-05-14T04:25:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4a9b5dc8f20f11eda4183cecef1b359e","object":"Address","created_at":"2023-05-14T04:25:00+00:00","updated_at":"2023-05-14T04:25:00+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e3f7dd7594174463b4b86b5344e4e8dd","object":"Parcel","created_at":"2023-05-14T04:25:00Z","updated_at":"2023-05-14T04:25:00Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f3b14dca852445c5b12044e2d4a57889","created_at":"2023-05-14T04:25:01Z","updated_at":"2023-05-14T04:25:01Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:01Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/ad93f2a567ad40c0975e3c57d8752285.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b26c9ee02ab04bb1907656f19e1dbed4","object":"Rate","created_at":"2023-05-14T04:25:00Z","updated_at":"2023-05-14T04:25:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_5c400509d99a40e38e0afeeeff573c94","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_e9e8400a2dc04c40b0c5a801fe557073","object":"Rate","created_at":"2023-05-14T04:25:00Z","updated_at":"2023-05-14T04:25:00Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_5c400509d99a40e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_5c400509d99a40e38e0afeeeff573c94"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e996460629ee0dbfe5b001a9089
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb3988bc973ec0f5812f8be50999122c"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_e97ef0d800fe48d48b662cf9ef6e76d2","object":"Pickup","created_at":"2023-05-14T04:25:02Z","updated_at":"2023-05-14T04:25:02Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_4b77514af20f11ed92efac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:25:02+00:00","updated_at":"2023-05-14T04:25:02+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:02Z","updated_at":"2023-05-14T04:25:02Z","carrier":"USPS","pickup_id":"pickup_e97ef0d800fe48d48b662cf9ef6e76d2","id":"pickuprate_bfa96ab977264110a1c1a1947a9e52d0","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:02 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_e97ef0d800fe48d48b662cf9ef6e76d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e996460629fe0dbfe5c001a90b9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb3988bc973ec0f5812f8be5[...]
