---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e96646062a7e0dbfe7d001a9274
      Location:
      - "/api/v2/shipments/shp_792d2c0845194d83abd5ccc20290b712"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efd9d80ccc07800c1cc7ff1a19006997"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:12Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209513892","updated_at":"2023-05-14T04:25:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_51550138f20f11ed9df1ac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:25:12+00:00","updated_at":"2023-05-14T04:25:12+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_79b3514b1bee447a8d0b21d21b9f9d33","object":"Parcel","created_at":"2023-05-14T04:25:12Z","updated_at":"2023-05-14T04:25:12Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_04c479998c844b2c95599b011789adf3","created_at":"2023-05-14T04:25:12Z","updated_at":"2023-05-14T04:25:12Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:12Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/e00f3895d30045a1845d15cf46427c39.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_598b734b27204319954fd0e1aa233502","object":"Rate","created_at":"2023-05-14T04:25:12Z","updated_at":"2023-05-14T04:25:12Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_792d2c0845194d83abd5ccc20290b712","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_1858a2fb53484193a0e139a5a4d8d6c5","object":"Rate","created_at":"2023-05-14T04:25:12Z","updated_at":"2023-05-14T04:25:12Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_792d2c0845194d8[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_792d2c0845194d83abd5ccc20290b712"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9c646062a9e0dbfe7e001a92ae
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e89c1c798fde9ed6c011ac278333f8c6"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_a524b886fe7f47dba0b404caeec92989","object":"Pickup","created_at":"2023-05-14T04:25:13Z","updated_at":"2023-05-14T04:25:13Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_52305daef20f11edb8f93cecef1b359e","object":"Address","created_at":"2023-05-14T04:25:13+00:00","updated_at":"2023-05-14T04:25:13+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:14Z","updated_at":"2023-05-14T04:25:14Z","carrier":"USPS","pickup_id":"pickup_a524b886fe7f47dba0b404caeec92989","id":"pickuprate_4d4c01b0c86d4ac9ba9542409cd3fe65","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a524b886fe7f47dba0b404caeec92989/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e97646062aae0dbfe7f001a92dd
      Content-Type:
      - application/json; charset=utf-8
      E[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a524b886fe7f47dba0b404caeec92989/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e9b646062abe0dbfe80001a9310
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e70cb4acb63ad23[...]
