---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e764640c04e787377500487c7a
      Location:
      - "/api/v2/shipments/shp_b303c581d5084025a5b3669bbbefc2d6"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee79844b6ccd7f8165a305b96a62e94f"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T23:04:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210430102","updated_at":"2023-05-16T23:04:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_06fb1676f43e11ed87be3cecef1b359e","object":"Address","created_at":"2023-05-16T23:04:36+00:00","updated_at":"2023-05-16T23:04:36+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1df161677576485cb5de178219b73ee4","object":"Parcel","created_at":"2023-05-16T23:04:36Z","updated_at":"2023-05-16T23:04:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_37b8f036e1b245f2b1f22667d23b411d","created_at":"2023-05-16T23:04:36Z","updated_at":"2023-05-16T23:04:36Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T23:04:36Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/3f06c040d2c34aeab0e65b4ae706643e.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_d85acac70c4b44509735bfb68f619501","object":"Rate","created_at":"2023-05-16T23:04:36Z","updated_at":"2023-05-16T23:04:36Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_b303c581d5084025a5b3669bbbefc2d6","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_fee405949edd458f9122db056c3bb3e7","object":"Rate","created_at":"2023-05-16T23:04:36Z","updated_at":"2023-05-16T23:04:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b303c581d50[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-18","max_datetime":"2023-05-18","instructions":"Pickup
        at front door","shipment":{"id":"shp_b303c581d5084025a5b3669bbbefc2d6"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e664640c05e787377600487d10
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78ccaebf210d70f84d085bdd5f836c69"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_8322df963e064db38c17e53ce89859c2","object":"Pickup","created_at":"2023-05-16T23:04:37Z","updated_at":"2023-05-16T23:04:37Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_07e4e2dff43e11edbf6bac1f6bc539ae","object":"Address","created_at":"2023-05-16T23:04:37+00:00","updated_at":"2023-05-16T23:04:37+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:04:38Z","updated_at":"2023-05-16T23:04:38Z","carrier":"USPS","pickup_id":"pickup_8322df963e064db38c17e53ce89859c2","id":"pickuprate_b26fd1b13ad74d438e8599cf9dc80357","object":"PickupRate"}]}'
  recorded_at: Tue, 16 May 2023 23:04:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups/pickup_8322df963e064db38c17e53ce89859c2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640c06e787377700487db6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78ccaebf210d70f84d085bdd[...]
