---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 911f2e95646062ace0dbfe81001a9349
      Location:
      - "/api/v2/shipments/shp_010e3a76eb324da9af1c2a0c320947fa"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08d352687bf389f772b825d2040c7385"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-14T04:25:16Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209513908","updated_at":"2023-05-14T04:25:17Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_54172f05f20f11eda871ac1f6bc7b362","object":"Address","created_at":"2023-05-14T04:25:16+00:00","updated_at":"2023-05-14T04:25:16+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9a3dbe30015746718ba27bc5dff432ef","object":"Parcel","created_at":"2023-05-14T04:25:16Z","updated_at":"2023-05-14T04:25:16Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fa97e34ba39c4ec3abf23349c5bf1b4d","created_at":"2023-05-14T04:25:17Z","updated_at":"2023-05-14T04:25:17Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-14T04:25:17Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230514/dfe7995359a24f9dbd26462ff90236ee.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_62b474d4678e46ef8767771c61cf955b","object":"Rate","created_at":"2023-05-14T04:25:16Z","updated_at":"2023-05-14T04:25:16Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_010e3a76eb324da9af1c2a0c320947fa","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_dd5b1a00d174447db379db597ba48eae","object":"Rate","created_at":"2023-05-14T04:25:16Z","updated_at":"2023-05-14T04:25:16Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_010e3a76eb3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-05-15","max_datetime":"2023-05-15","instructions":"Pickup
        at front door","shipment":{"id":"shp_010e3a76eb324da9af1c2a0c320947fa"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 911f2e95646062ade0dbfe83001a9398
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb103bf77b6cd74c37a38b3a736013a8"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_54f82c249dfe4ebfbb8e606dab80827a","object":"Pickup","created_at":"2023-05-14T04:25:18Z","updated_at":"2023-05-14T04:25:18Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-15T00:00:00Z","max_datetime":"2023-05-15T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_54df67dbf20f11edb1bdac1f6b0a0d1e","object":"Address","created_at":"2023-05-14T04:25:18+00:00","updated_at":"2023-05-14T04:25:18+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-14T04:25:18Z","updated_at":"2023-05-14T04:25:18Z","carrier":"USPS","pickup_id":"pickup_54f82c249dfe4ebfbb8e606dab80827a","id":"pickuprate_3e815d64a556420488152775f964f70f","object":"PickupRate"}]}'
  recorded_at: Sun, 14 May 2023 04:25:18 GMT
recorded_with: VCR 6.1.0
