---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b4e645eab18e787e19f000dcd55
      Location:
      - "/api/v2/shipments/shp_68e55e9aa39641dbadedaced629f3329"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e76546987aaca317fc91fc816cda9ee4"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:09:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141859","updated_at":"2023-05-12T21:09:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_51ad0877f10911edaaad3cecef1b359e","object":"Address","created_at":"2023-05-12T21:09:44+00:00","updated_at":"2023-05-12T21:09:44+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_eb333972701e45848089c754939d3e18","object":"Parcel","created_at":"2023-05-12T21:09:44Z","updated_at":"2023-05-12T21:09:44Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_abdf0352933540608fb5329dbb04273d","created_at":"2023-05-12T21:09:45Z","updated_at":"2023-05-12T21:09:45Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:09:45Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/044582de27dd48e0991ef8a3ceb986a2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_537273fe26be4336acc822e9a3119749","object":"Rate","created_at":"2023-05-12T21:09:44Z","updated_at":"2023-05-12T21:09:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_68e55e9aa39641dbadedaced629f3329","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_a21c7a587ab54cbe97ebcf0a51d408f4","object":"Rate","created_at":"2023-05-12T21:09:44Z","updated_at":"2023-05-12T21:09:44Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_68e55e9aa39641d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"created_at":"2023-05-12T21:09:44Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141859","updated_at":"2023-05-12T21:09:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_51ad0877f10911edaaad3cecef1b359e","object":"Address","created_at":"2023-05-12T21:09:4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_425fd8142511409c90b9c753310109d5/buy
    body:
      encoding: UTF-8
      string: '"{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2023-05-12T21:09:47Z\",\"updated_at\":\"2023-05-12T21:09:47Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_425fd8142511409c90b9c753310109d5\",\"id\":\"pickuprate_080a88a1d0134d9eb587ce65e14ecee1\",\"object\":\"PickupRate\"}"'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b51645eab1ce787e1a1000dcefd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d15d3dab66668157a164725ab92f1605"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_425fd8142511409c90b9c753310109d5","object":"Pickup","created_at":"2023-05-12T21:09:46Z","updated_at":"2023-05-12T21:09:48Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC62965960","address":{"id":"adr_52d75e9bf10911edaf2a3cecef1b359e","object":"Address","created_at":"2023-05-12T21:09:46+00:00","updated_at":"2023-05-12T21:09:46+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:09:47Z","updated_at":"2023-05-12T21:09:47Z","carrier":"USPS","pickup_id":"pickup_425fd8142511409c90b9c753310109d5","id":"pickuprate_080a88a1d0134d9eb587ce65e14ecee1","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:09:48 GMT
recorded_with: VCR 6.1.0
