---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e364640c07e787377900487def
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65475c9e38a6b5a321dde1626a197d9c"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"pickups":[{"id":"pickup_8322df963e064db38c17e53ce89859c2","object":"Pickup","created_at":"2023-05-16T23:04:37Z","updated_at":"2023-05-16T23:04:37Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_07e4e2dff43e11edbf6bac1f6bc539ae","object":"Address","created_at":"2023-05-16T23:04:37+00:00","updated_at":"2023-05-16T23:04:37+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-16T23:04:38Z","updated_at":"2023-05-16T23:04:38Z","carrier":"USPS","pickup_id":"pickup_8322df963e064db38c17e53ce89859c2","id":"pickuprate_b26fd1b13ad74d438e8599cf9dc80357","object":"PickupRate"}]},{"id":"pickup_494387cde9e94a65acd5a9f4cd888f5e","object":"Pickup","created_at":"2023-05-16T23:04:34Z","updated_at":"2023-05-16T23:04:34Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2023-05-18T00:00:00Z","max_datetime":"2023-05-18T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{[...]
