---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 52975b51645eab1de787e1a2000dcf99
      Location:
      - "/api/v2/shipments/shp_529cbf30e0df4de284131d50fa626747"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83f016512fe918967a3bf568c83006b4"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-12T21:09:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141873","updated_at":"2023-05-12T21:09:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_54852fc1f10911eda045ac1f6bc72124","object":"Address","created_at":"2023-05-12T21:09:49+00:00","updated_at":"2023-05-12T21:09:49+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_34c66eb04a2e4f60a22fada8ce04da87","object":"Parcel","created_at":"2023-05-12T21:09:49Z","updated_at":"2023-05-12T21:09:49Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f5d37c14a45640db9681201adb8dc517","created_at":"2023-05-12T21:09:49Z","updated_at":"2023-05-12T21:09:50Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-12T21:09:49Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230512/634a723b891b4bce9f98f05e60dbede1.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_0af1dae47cd54859acc3c7ee4c85198a","object":"Rate","created_at":"2023-05-12T21:09:49Z","updated_at":"2023-05-12T21:09:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_529cbf30e0df4de284131d50fa626747","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9cf72f9ef8b641548a42c445f4c5276a","object":"Rate","created_at":"2023-05-12T21:09:49Z","updated_at":"2023-05-12T21:09:49Z","mode":"test","service":"First","carrier":"USPS","rate":"6.07","currency":"USD","retail_rate":"6.07","retail_currency":"USD","list_rate":"6.07","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_529cbf30e0df4de284131d[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: '{"pickup":{"address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"min_datetime":"2023-5-13","max_datetime":"2023-5-13","instructions":"Pickup
        at front door","shipment":{"created_at":"2023-05-12T21:09:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262209141873","updated_at":"2023-05-12T21:09:50Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_54852fc1f10911eda045ac1f6bc72124","object":"Address","created_at":"2023-05-12T21:09:4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f16bb295b21b48819037e1f97076ce88/buy
    body:
      encoding: UTF-8
      string: '{"carrier":"USPS","service":"NextDay"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b53645eab20e787e1a4000dd0e6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cad6eccbf248da89d8bd80141e3ab26"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305121849-b449e9bf47-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"pickup_f16bb295b21b48819037e1f97076ce88","object":"Pickup","created_at":"2023-05-12T21:09:50Z","updated_at":"2023-05-12T21:09:53Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2023-05-13T00:00:00Z","max_datetime":"2023-05-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":"WTC62965902","address":{"id":"adr_556f22e9f10911eda3d0ac1f6bc72124","object":"Address","created_at":"2023-05-12T21:09:50+00:00","updated_at":"2023-05-12T21:09:50+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2023-05-12T21:09:51Z","updated_at":"2023-05-12T21:09:51Z","carrier":"USPS","pickup_id":"pickup_f16bb295b21b48819037e1f97076ce88","id":"pickuprate_9b164078b6bb4eeb8af86bc3ea964140","object":"PickupRate"}]}'
  recorded_at: Fri, 12 May 2023 21:09:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_f16bb295b21b48819037e1f97076ce88/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 52975b50645eab21e787e1a5000dd1e4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3456a2f0a110b680c[...]
