---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 59f7abd66464fefde0db6dfc0001e93f
      Location:
      - "/api/v2/shipments/shp_42fc095f0a8742299d27f2e480fe43d5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5455f1b5b447a3581ab55f899ba6848"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-17T16:21:17Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210643885","updated_at":"2023-05-17T16:21:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d9d4360af4ce11ed8658ac1f6bc539aa","object":"Address","created_at":"2023-05-17T16:21:17+00:00","updated_at":"2023-05-17T16:21:17+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1bf3fddfdcb2438f8dd3858697a5d838","object":"Parcel","created_at":"2023-05-17T16:21:17Z","updated_at":"2023-05-17T16:21:17Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_df636eeb0390425f9dd4af8e860b99ee","created_at":"2023-05-17T16:21:17Z","updated_at":"2023-05-17T16:21:18Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-17T16:21:17Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230517/d1673e8009784df6b853c1cf905a6503.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b6618203059246669aa44aa315834995","object":"Rate","created_at":"2023-05-17T16:21:17Z","updated_at":"2023-05-17T16:21:17Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_42fc095f0a8742299d27f2e480fe43d5","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d4ad4e375a1b44a4a8e934c9db20d308","object":"Rate","created_at":"2023-05-17T16:21:17Z","updated_at":"2023-05-17T16:21:17Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_42fc095f0a87422[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/scan_forms
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_42fc095f0a8742299d27f2e480fe43d5"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69f113006464fefee0db6dfd001447ca
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f77643db77555393c1c0d3dd321426a6"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"sf_45d96ed2ee844733812b88dca6f9b311","object":"ScanForm","created_at":"2023-05-17T16:21:18Z","updated_at":"2023-05-17T16:21:18Z","tracking_codes":["9400100104262210643885"],"address":{"id":"adr_d9d4360af4ce11ed8658ac1f6bc539aa","object":"Address","created_at":"2023-05-17T16:21:17+00:00","updated_at":"2023-05-17T16:21:17+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230517/a7bcfc0d784146ec97363d4adf234480.pdf","form_file_type":null,"batch_id":"batch_72f3a3b04a5f4107b2df80eac7458169","confirmation":null}'
  recorded_at: Wed, 17 May 2023 16:21:18 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/scan_forms/sf_45d96ed2ee844733812b88dca6f9b311
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69f113066464feffe0db6e0200144819
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f77643db77555393c1c0d3dd3[...]
