---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: '{"eel_pfc":"NOEEI 30.37(a)","customs_certify":true,"customs_signer":"Steve
        Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29bf8d47645c1c48e78986c900154510
      Location:
      - "/api/v2/customs_infos/cstinfo_fb9387ece4334ed88c9d6f819cbe8053"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb78dc0963d73d9565bb8b8054e977f4"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstinfo_fb9387ece4334ed88c9d6f819cbe8053","object":"CustomsInfo","created_at":"2023-05-10T22:35:52Z","updated_at":"2023-05-10T22:35:52Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[]}'
  recorded_at: Wed, 10 May 2023 22:35:52 GMT
recorded_with: VCR 6.1.0
