---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 36ec0a9064625c3fe0dc9c4800189293
      Location:
      - "/api/v2/shipments/shp_8f40c680d5d54c0092e8d3dd7ac68947"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30310e82f0f4aa976ca6c4077cb53650"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-15T16:22:23Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_c02da7bfb4264ea3bcb85c0f760d4a6e","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_91ae96a5fc1f4cf4aa4b69067df5686b","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_b437adf5f4c64f3d8823d5ffa776a158","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"},{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2023-05-15T16:22:24Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ac550de1f33c11ed8272ac1f6b0a0d1e","object":"Address","created_at":"2023-05-15T16:22:23+00:00","updated_at":"2023-05-15T16:22:23+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a548d4545ce748378009cbc4ae147f60","object":"Parcel","created_at":"2023-05-15T16:22:23Z","updated_at":"2023-05-15T16:22:23Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fcc8f74669694a3da5f8afc8e1fd1513","object":"Rate","created_at":"2023-05-15T16:22:23Z","updated_at":"2023-05-15T16:22:23Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_8f40c680d5d54c0092e8d3dd7ac68947","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_11f29e991964410282b0612bb4d5f659","object":"Rate","created_at":"2023-05-15T16:22:24Z","updated_at":"2023-05-15T16:22:24Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.15","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/rates/rate_fcc8f74669694a3da5f8afc8e1fd1513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3f02a2d364625c40e0dc9c4900195d2f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c97841477bcbb7c9269918be45a68456"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305122104-29dd2d738a-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"rate_fcc8f74669694a3da5f8afc8e1fd1513","object":"Rate","created_at":"2023-05-15T16:22:23Z","updated_at":"2023-05-15T16:22:23Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_8f40c680d5d54c0092e8d3dd7ac68947","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}'
  recorded_at: Mon, 15 May 2023 16:22:24 GMT
recorded_with: VCR 6.1.0
