---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7b4066396216a953e788fb900041ee4a
      Location:
      - "/api/v2/shipments/shp_8300a788e4c749f1959b136a813b309e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ee5d44d01c91f364abffd949b7b1568"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T21:38:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-23T21:38:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_efe82d3194f011ec95f2ac1f6b0a0d1e","object":"Address","created_at":"2022-02-23T21:38:27+00:00","updated_at":"2022-02-23T21:38:27+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_765f45fb8d76404297f8b74ff5206a52","object":"Parcel","created_at":"2022-02-23T21:38:27Z","updated_at":"2022-02-23T21:38:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e524ac24570a4239a47c5440381c717a","object":"Rate","created_at":"2022-02-23T21:38:28Z","updated_at":"2022-02-23T21:38:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8300a788e4c749f1959b136a813b309e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_263454489a0f4274965269a375263a53","object":"Rate","created_at":"2022-02-23T21:38:28Z","updated_at":"2022-02-23T21:38:28Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8300a788e4c749f1959b136a813b309e","carrie[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/rates/rate_e524ac24570a4239a47c5440381c717a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7b40663a6216a954e788fb910041ee69
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7a9edcba23ca10a74053421d395a9f0"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202232103-87ed4a9d34-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 88c34981dc
      - intlb1nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"rate_e524ac24570a4239a47c5440381c717a","object":"Rate","created_at":"2022-02-23T21:38:28Z","updated_at":"2022-02-23T21:38:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8300a788e4c749f1959b136a813b309e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}'
  recorded_at: Wed, 23 Feb 2022 21:38:28 GMT
recorded_with: VCR 6.0.0
