---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f52639e786c925002800d6
      Location:
      - "/api/v2/shipments/shp_4a23803b324b45a2b868f01452bcde0c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"729eb9992272f899f6d8448f72024dd3"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:54:33Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-08-11T15:54:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e4dcef63198d11ed8810ac1f6b0a0d1e","object":"Address","created_at":"2022-08-11T15:54:33+00:00","updated_at":"2022-08-11T15:54:33+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f57f1cfbad144ab1b7ea7db8cc1dcba6","object":"Parcel","created_at":"2022-08-11T15:54:33Z","updated_at":"2022-08-11T15:54:33Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_bbe8077a00504f558cb315cdc9977657","object":"Rate","created_at":"2022-08-11T15:54:34Z","updated_at":"2022-08-11T15:54:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4a23803b324b45a2b868f01452bcde0c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_41549e733a3e49018a80ba38db56e755","object":"Rate","created_at":"2022-08-11T15:54:34Z","updated_at":"2022-08-11T15:54:34Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"es[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/rates/rate_bbe8077a00504f558cb315cdc9977657
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3d62f5263ae786c9260028011a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d237784f20afda6bc78c91ef722e7b2"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"rate_bbe8077a00504f558cb315cdc9977657","object":"Rate","created_at":"2022-08-11T15:54:34Z","updated_at":"2022-08-11T15:54:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4a23803b324b45a2b868f01452bcde0c","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}'
  recorded_at: Thu, 11 Aug 2022 15:54:34 GMT
recorded_with: VCR 6.0.0
