---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"to_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1090a5bc62f2ba57e7897ec600087389
      Location:
      - "/api/v2/shipments/shp_ef69ebc8a4bc4e2d8334f30e76853829"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bee5148d40068f47c2f3b64ad4b1d84c"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:49:43Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_e94e4fa45aba4058809c9246a48712b3","type":"rate_error","message":"Unauthorized.
        Please check credentials and try again"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-08-09T19:49:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6a030a45181c11edbce7ac1f6b0a0d1e","object":"Address","created_at":"2022-08-09T19:49:43+00:00","updated_at":"2022-08-09T19:49:43+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8f20afc7449e495ab6ab7ae9284e4e5b","object":"Parcel","created_at":"2022-08-09T19:49:43Z","updated_at":"2022-08-09T19:49:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3a483b05a1e44e6bacca2ab9f624b1c7","object":"Rate","created_at":"2022-08-09T19:49:43Z","updated_at":"2022-08-09T19:49:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ef69ebc8a4bc4e2d8334f30e76853829","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_9df4942235ca423f949142903cabf0df","object":"Rate","created_at":"2022-08-09T19:49:44Z","updated_at":"2022-08-09T19:49:44Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/rates/rate_3a483b05a1e44e6bacca2ab9f624b1c7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 1090a5ba62f2ba58e7897ec7000873cc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24b5b82a915daed93c902461e5056783"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"rate_3a483b05a1e44e6bacca2ab9f624b1c7","object":"Rate","created_at":"2022-08-09T19:49:43Z","updated_at":"2022-08-09T19:49:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ef69ebc8a4bc4e2d8334f30e76853829","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"}'
  recorded_at: Tue, 09 Aug 2022 19:49:44 GMT
recorded_with: VCR 6.0.0
