---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ead09ab962e2e20eec3b7bd100368716
      Location:
      - "/api/v2/shipments/shp_5097ebf5bd2c4b73bc540a7ba3d14c1d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c0d79fb622b1e671929f8f0b7141f7f"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:22:54Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130477411","updated_at":"2022-07-28T19:22:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ae3768140eaa11ed8dbdac1f6b0a0d1e","object":"Address","created_at":"2022-07-28T19:22:54+00:00","updated_at":"2022-07-28T19:22:54+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5632bb5c4a8e4059b06667190d8ac17b","object":"Parcel","created_at":"2022-07-28T19:22:54Z","updated_at":"2022-07-28T19:22:54Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_8aa64c61c5e74f008377ce0fdf37fcc4","created_at":"2022-07-28T19:22:55Z","updated_at":"2022-07-28T19:22:55Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:22:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/11844ac7ea954319aed001865a7c5451.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_64b66ef7b17d4735a3c4526e7a308550","object":"Rate","created_at":"2022-07-28T19:22:54Z","updated_at":"2022-07-28T19:22:54Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_5097ebf5bd2c4b73bc540a7ba3d14c1d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_b891bafc2587417fad332037c164a508","object":"Rate","created_at":"2022-07-28T19:22:54Z","updated_at":"2022-07-28T19:22:54Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_5097ebf5bd2c4b73bc540a7b[...]
