---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ead09ab962e2e210ec3c991100368786
      Location:
      - "/api/v2/shipments/shp_a6ed1e86fb8c4147a2f27d89a89af1a8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bea38add87bf7d2e0157c4aece86fd39"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:22:56Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-28T19:22:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_c4581fb62b4540d19138d1c78613e24a","object":"CustomsInfo","created_at":"2022-07-28T19:22:56Z","updated_at":"2022-07-28T19:22:56Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_71ef134c198f41c784a0eb97fe92e3fc","object":"CustomsItem","created_at":"2022-07-28T19:22:56Z","updated_at":"2022-07-28T19:22:56Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_af0b5b3c0eaa11ed8998ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:22:56+00:00","updated_at":"2022-07-28T19:22:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_745627e430014d48b1dfdc9bd68591ba","object":"Parcel","created_at":"2022-07-28T19:22:56Z","updated_at":"2022-07-28T19:22:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_bb447cf234ed4d6faf3a81521b16afe9","object":"Rate","created_at":"2022-07-28T19:22:56Z","updated_at":"2022-07-28T19:22:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_a6ed1e86fb8c4147a2f27d89a89af1a8","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_405a6a447ad647348052e17ccb7ed594","object":"Rate","created_at":"2022-07-28T19:22:56Z","updated_at":"2022-07-28T19:22:56Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_a6ed1e86fb8c4147a2f27d89a89af1a8","[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_a6ed1e86fb8c4147a2f27d89a89af1a8/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_405a6a447ad647348052e17ccb7ed594"},"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ead09abb62e2e210ec835617003687a3
      Content-Type:
      - ap[...]
