---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Dr. Steve Brule","street1":"179
        N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","phone":"3331114444"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"customs_info":{"eel_pfc":"NOEEI
        30.37(a)","customs_certify":true,"customs_signer":"Steve Brule","contents_type":"merchandise","contents_explanation":"","restriction_type":"none","non_delivery_option":"return","customs_items":[{"description":"Sweet
        shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"label_format":"PNG","invoice_number":"123"},"reference":"123"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3843703c62e2e3b7ec7490a300324d79
      Location:
      - "/api/v2/shipments/shp_68c90a37117c4dc0ad78b6c9905ccadc"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80bac81fac01ce9fe7c7dfbba60f38c2"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:29:59Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-07-28T19:29:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_37fb0696fa834784ad325fcf0daa3289","object":"CustomsInfo","created_at":"2022-07-28T19:29:59Z","updated_at":"2022-07-28T19:29:59Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_ab33292919524ac9b8f628107303b4fd","object":"CustomsItem","created_at":"2022-07-28T19:29:59Z","updated_at":"2022-07-28T19:29:59Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_ab746b5d0eab11ed89d7ac1f6bc7b362","object":"Address","created_at":"2022-07-28T19:29:59+00:00","updated_at":"2022-07-28T19:29:59+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_39d26dee525e4b4d9412800bc20b3be4","object":"Parcel","created_at":"2022-07-28T19:29:59Z","updated_at":"2022-07-28T19:29:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fd9d8f2c5c804eeba47e8d5aaab12274","object":"Rate","created_at":"2022-07-28T19:29:59Z","updated_at":"2022-07-28T19:29:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_68c90a37117c4dc0ad78b6c9905ccadc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d60a5ef933ae4dfc8c8c9a23b9a2b5b1","object":"Rate","created_at":"2022-07-28T19:29:59Z","updated_at":"2022-07-28T19:29:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_68c90a37117c4dc[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_68c90a37117c4dc0ad78b6c9905ccadc/rerate
    body:
      encoding: UTF-8
      string: '{"carbon_offset":true}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 3843703d62e2e3b8ec60535a00324da8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9b178096dccdc69f58d849acc35aa7a"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb2nuq 403f17ff97
      - intlb2wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"rates":[{"id":"rate_4c6a8aa7db014a018e589b9da3f709a2","object":"Rate","created_at":"2022-07-28T19:30:00Z","updated_at":"2022-07-28T19:30:00Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.90","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.90","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_68c90a37117c4dc0ad78b6c9905ccadc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_88ad9f6b5375408b915ab8e0166ee6b8","object":"Rate","created_at":"2022-07-28T19:30:00Z","updated_at":"2022-07-28T19:30:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_68c90a37117c4dc0ad78b6c9[...]
[...]
