---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e036463a7aae799e1410026e4e4
      Location:
      - "/api/v2/shipments/shp_4f2793a39fda49379f069ab8e76f6820"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67ccbac82401e87c70e7a8ae6658b392"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-05-16T15:56:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100104262210331423","updated_at":"2023-05-16T15:56:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3700b163f40211ed981dac1f6b0a0d1e","object":"Address","created_at":"2023-05-16T15:56:26+00:00","updated_at":"2023-05-16T15:56:26+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_327fa07a757b40efba0953c4f72bf96c","object":"Parcel","created_at":"2023-05-16T15:56:26Z","updated_at":"2023-05-16T15:56:26Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f12b1bf7628040b5b34764d7ad058ef3","created_at":"2023-05-16T15:56:27Z","updated_at":"2023-05-16T15:56:27Z","date_advance":0,"integrated_form":"none","label_date":"2023-05-16T15:56:27Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/063947bb331042d7b8fbf7e4fe07889c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_3623cad542c64f2ba50078092c2364c7","object":"Rate","created_at":"2023-05-16T15:56:26Z","updated_at":"2023-05-16T15:56:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.25","currency":"USD","retail_rate":"35.80","retail_currency":"USD","list_rate":"31.25","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_4f2793a39fda49379f069ab8e76f6820","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4f833ada6e4845b4940b1875da633d2e","object":"Rate","created_at":"2023-05-16T15:56:26Z","updated_at":"2023-05-16T15:56:26Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.76","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_4f2793a39fda493[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_4f2793a39fda49379f069ab8e76f6820
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e076463a7ace799e1420026e580
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b59df7d4258c39cafe1daba64[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"refund":{"carrier":"USPS","tracking_codes":["9400100104262210331423"]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e036463a7ace799e1430026e5b1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8318eb6b89d58cc0da0f269337a1d378"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '[{"id":"rfnd_aa45808e2ea74b418feb7f1ed46bdcf9","object":"Refund","created_at":"2023-05-16T15:56:28Z","updated_at":"2023-05-16T15:56:28Z","tracking_code":"9400100104262210331423","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4f2793a39fda49379f069ab8e76f6820"}]'
  recorded_at: Tue, 16 May 2023 15:56:28 GMT
recorded_with: VCR 6.1.0
