---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/refunds
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e056463a7e0e799e1670026f631
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3186d8897d7524caaff0e67f60141a7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"refunds":[{"id":"rfnd_aa45808e2ea74b418feb7f1ed46bdcf9","object":"Refund","created_at":"2023-05-16T15:56:28Z","updated_at":"2023-05-16T15:56:28Z","tracking_code":"9400100104262210331423","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_4f2793a39fda49379f069ab8e76f6820"}],"has_more":false}'
  recorded_at: Tue, 16 May 2023 15:57:20 GMT
recorded_with: VCR 6.1.0
