---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/smartrate/deliver_on
    body:
      encoding: UTF-8
      string: '{"from_zip":"94107","to_zip":"90277","desired_delivery_date":"2024-07-31","carriers":["USPS"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7db2ae799e521005a5611
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"carriers_without_tint_estimates":null,"desired_delivery_date":"2024-07-31","from_zip":"94107","results":[{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":2,"percentile_75":2,"percentile_85":3,"percentile_90":3,"percentile_95":4,"percentile_97":4,"percentile_99":7},"delivery_date_confidence":0.48,"estimated_transit_days":1,"ship_on_date":"2024-07-30"},"service":"express"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":4,"percentile_90":4,"percentile_95":5,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.38,"estimated_transit_days":2,"ship_on_date":"2024-07-29"},"service":"groundadvantage"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":4,"percentile_90":4,"percentile_95":5,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.41,"estimated_transit_days":2,"ship_on_date":"2024-07-29"},"service":"librarymail"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":4,"percentile_90":4,"percentile_95":5,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.46,"estimated_transit_days":2,"ship_on_date":"2024-07-29"},"service":"mediamail"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":4,"percentile_90":4,"percentile_95":5,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.44,"estimated_transit_days":2,"ship_on_date":"2024-07-29"},"service":"priority"}],"saturday_delivery":null,"to_zip":"90277"}'
  recorded_at: Mon, 29 Jul 2024 18:10:50 GMT
recorded_with: VCR 6.1.0
