---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e164640b45e787335c00483835
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d184eaabe210b081496199670745bcfa"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_9592ce4cf43d11ed9507311a72796a87","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-16T23:01:26Z","disabled_at":null}'
  recorded_at: Tue, 16 May 2023 23:01:25 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_9592ce4cf43d11ed9507311a72796a87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e064640b46e787335d0048386d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d184eaabe210b081496199670745bcfa"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_9592ce4cf43d11ed9507311a72796a87","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-16T23:01:26Z","disabled_at":null}'
  recorded_at: Tue, 16 May 2023 23:01:26 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_9592ce4cf43d11ed9507311a72796a87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e064640b46e787335e00483895
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 May 2023 23:01:27 GMT
recorded_with: VCR 6.1.0
