---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e564640b40e787335a00483660
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc261c89d3f08d0f6ddfa6198ace1a87"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_9261282cf43d11eda79f334171fe52df","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-16T23:01:20Z","disabled_at":null}'
  recorded_at: Tue, 16 May 2023 23:01:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_9261282cf43d11eda79f334171fe52df
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640b40e787335b00483695
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 May 2023 23:01:21 GMT
recorded_with: VCR 6.1.0
