---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"http://example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e364640b47e7873376004838f4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d0ed9d6605a388745037f964a290ec7"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_96ab51a0f43d11ed951753f4cff41cfa","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-16T23:01:28Z","disabled_at":null}'
  recorded_at: Tue, 16 May 2023 23:01:27 GMT
- request:
    method: patch
    uri: https://api.easypost.com/v2/webhooks/hook_96ab51a0f43d11ed951753f4cff41cfa
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640b48e78733770048392a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d0ed9d6605a388745037f964a290ec7"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"hook_96ab51a0f43d11ed951753f4cff41cfa","object":"Webhook","mode":"test","url":"http://example.com","created_at":"2023-05-16T23:01:28Z","disabled_at":null}'
  recorded_at: Tue, 16 May 2023 23:01:28 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_96ab51a0f43d11ed951753f4cff41cfa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e464640b49e78733780048398b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 May 2023 23:01:29 GMT
recorded_with: VCR 6.1.0
