---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506c62f2ba33e7897b0600089ccb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d3a7d3c080ed8f719101925d3ab5370"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '[{"id":"es_2609cd99a33743a89009deee5eceed3c","object":"EndShipper","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_db2cc13cb4074c6cbb92f8d6d5715562","object":"EndShipper","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_066db8771a5749e3b8e88efda13db44f","object":"EndShipper","created_at":"2022-05-11T20:04:53+00:00","updated_at":"2022-05-11T20:04:53+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_455ae1061a874f5a9b816f9f9ead5dab","object":"EndShipper","created_at":"2022-05-11T20:04:53+00:00","updated_at":"2022-05-11T20:04:53+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_1ac3977e0f8e4faca11982e81b724189","object":"EndShipper","created_at":"2022-05-11T20:09:37+00:00","updated_at":"2022-05-11T20:09:37+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}]'
  recorded_at: Tue, 09 Aug 2022 19:49:07 GMT
recorded_with: VCR 6.0.0
