---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - acda27cd6334b57af4e1004f000bdd2b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eada5dac6ab8c3bb33379d1d47059eb0"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_1f17dc0a26d64abdb7fb2c79f5d6b09c","object":"EndShipper","mode":"production","created_at":"2022-09-28T20:58:34+00:00","updated_at":"2022-09-28T20:58:34+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 28 Sep 2022 20:58:34 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_1f17dc0a26d64abdb7fb2c79f5d6b09c
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"9999999999","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - acda27cb6334b57af4f6791c000bdd3b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9394845241cd6c5531f9c8edd16fe31"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_1f17dc0a26d64abdb7fb2c79f5d6b09c","object":"EndShipper","mode":"production","created_at":"2022-09-28T20:58:34+00:00","updated_at":"2022-09-28T20:58:34+00:00","name":"CAPTAIN
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 28 Sep 2022 20:58:34 GMT
recorded_with: VCR 6.0.0
