---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - efec6381627e8854e7873358003b8704
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9619d7cff76c64fe08dc4f321236460"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205131541-a5925c1031-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"es_db0f08c1a5b9415c91d9f40d8371c48c","object":"EndShipper","created_at":"2022-05-13T16:33:24+00:00","updated_at":"2022-05-13T16:33:24+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"}'
  recorded_at: Fri, 13 May 2022 16:33:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers/es_db0f08c1a5b9415c91d9f40d8371c48c
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - efec6383627e8854e7873359003b871e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66ea815aa765c1d39cf67dd2edcb6cee"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202205131541-a5925c1031-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"es_db0f08c1a5b9415c91d9f40d8371c48c","object":"EndShipper","created_at":"2022-05-13T16:33:24+00:00","updated_at":"2022-05-13T16:33:24+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"}'
  recorded_at: Fri, 13 May 2022 16:33:24 GMT
recorded_with: VCR 6.0.0
