---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3c62f52610e786c4e20027f23a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efa613a1641f3b36fcf3bfd09f42c36b"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"es_bc415c5b751940479edee87abe2cc906","object":"EndShipper","created_at":"2022-08-11T15:53:52+00:00","updated_at":"2022-08-11T15:53:52+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:53:52 GMT
- request:
    method: put
    uri: https://api.easypost.com/beta/end_shippers/es_bc415c5b751940479edee87abe2cc906
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"9999999999","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52611e786c4e30027f25a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4269f9a180c9256aef8f198d3e078218"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"es_bc415c5b751940479edee87abe2cc906","object":"EndShipper","created_at":"2022-08-11T15:53:52+00:00","updated_at":"2022-08-11T15:53:53+00:00","name":"CAPTAIN
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 Aug 2022 15:53:53 GMT
recorded_with: VCR 6.0.0
