---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - acda27c86334b57af4e104b0000bdd15
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9dce235e9dccf88822a2deacafaf51e"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '[{"id":"es_2609cd99a33743a89009deee5eceed3c","object":"EndShipper","mode":"production","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_db2cc13cb4074c6cbb92f8d6d5715562","object":"EndShipper","mode":"production","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_066db8771a5749e3b8e88efda13db44f","object":"EndShipper","mode":"production","created_a[...]
