---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - acda27c76334b579ee379783000bdce3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17aa46c53054f04fb77328264b2cc839"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_930b11a7898c4c919e283eab0c8e8540","object":"EndShipper","mode":"production","created_at":"2022-09-28T20:58:33+00:00","updated_at":"2022-09-28T20:58:33+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 28 Sep 2022 20:58:34 GMT
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers/es_930b11a7898c4c919e283eab0c8e8540
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - acda27ce6334b57aee34d102000bdd05
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91c4e33abeed2bc5ce38fa1e1643e80c"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_930b11a7898c4c919e283eab0c8e8540","object":"EndShipper","mode":"production","created_at":"2022-09-28T20:58:33+00:00","updated_at":"2022-09-28T20:58:33+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 28 Sep 2022 20:58:34 GMT
recorded_with: VCR 6.0.0
