---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 81ebaef8633ddc86e2ba1d3e00063497
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e44c2a04f82c42f9dc0890183bd0c287"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_2580a15929ef489c97a57cd36f8d8125","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:34+00:00","updated_at":"2022-10-05T19:35:34+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:34 GMT
recorded_with: VCR 6.0.0
