---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - acda27c76334b579f5175b5b000bdcce
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d1fb392cf3caee4d8a42f426902939a"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202209281918-99c3cae0f0-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_d2223306ccee4400aa6d44aa0608ef50","object":"EndShipper","mode":"production","created_at":"2022-09-28T20:58:33+00:00","updated_at":"2022-09-28T20:58:33+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 28 Sep 2022 20:58:33 GMT
recorded_with: VCR 6.0.0
