---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3b65b142633ddc88e2ba1d4200062a4f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30c092cd3cf3da36e24c27d59de606d8"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 29913d444b
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_87541c48355f4b33a5cab8e64cd12102","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:36+00:00","updated_at":"2022-10-05T19:35:36+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:36 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_87541c48355f4b33a5cab8e64cd12102
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"9999999999","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 21b265f2633ddc88e2ba1d5a00068f76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e6abf7b701d82a17208cc0094eab5773"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_87541c48355f4b33a5cab8e64cd12102","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:36+00:00","updated_at":"2022-10-05T19:35:36+00:00","name":"CAPTAIN
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:36 GMT
recorded_with: VCR 6.0.0
