---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - efec6381627e8854e787335a003b873f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d3a7d3c080ed8f719101925d3ab5370"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202205131541-a5925c1031-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"es_2609cd99a33743a89009deee5eceed3c","object":"EndShipper","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"},{"id":"es_db2cc13cb4074c6cbb92f8d6d5715562","object":"EndShipper","created_at":"2022-05-11T20:01:58+00:00","updated_at":"2022-05-11T20:01:58+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"},{"id":"es_066db8771a5749e3b8e88efda13db44f","object":"EndShipper","created_at":"2022-05-11T20:04:53+00:0[...]
