---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - efec6380627e8853e7873357003b86ec
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dde0b11c1e37a2b26c0cc3feb1387d47"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202205131541-a5925c1031-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"es_7da699e1c2ca4dac871124d9402c2689","object":"EndShipper","created_at":"2022-05-13T16:33:24+00:00","updated_at":"2022-05-13T16:33:24+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"}'
  recorded_at: Fri, 13 May 2022 16:33:24 GMT
recorded_with: VCR 6.0.0
