---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/beta/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 81ebaef8633ddc87e2ba1d3f000634c0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef884c1954f47af0b4cb2789591da9f7"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_00d47a475b094953a186f0bde85389d1","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:35+00:00","updated_at":"2022-10-05T19:35:35+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:35 GMT
- request:
    method: get
    uri: https://api.easypost.com/beta/end_shippers/es_00d47a475b094953a186f0bde85389d1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 81ebaef4633ddc87e2ba1d40000634f4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b08c98379e351666ff85eb110550e17e"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 29913d444b
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_00d47a475b094953a186f0bde85389d1","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:35+00:00","updated_at":"2022-10-05T19:35:35+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:35 GMT
recorded_with: VCR 6.0.0
