---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"test user","email":"email@example.com","phone":"8888888888"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e36463d3e1e79afa470035603a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c3a6acf22c7cc596d890b779857a3bf"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_ed25c594a3bd40c09aaa0f27f8c1cb01","object":"User","parent_id":null,"name":"test
        user","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-16T19:05:05Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.005","insurance_fee_minimum":"0.25","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-16T19:05:05Z","active":true,"id":"ak_028e6d89dff04d7fa331747444d85df0"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-16T19:05:05Z","active":true,"id":"ak_100eb7eaa7df4fc5a20a8694bce8ca40"}]}'
  recorded_at: Tue, 16 May 2023 19:05:06 GMT
recorded_with: VCR 6.1.0
