---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/beta/partners/stripe_public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e066463d4aee79afe010039bef4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
  recorded_at: Tue, 16 May 2023 19:08:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card%5Bnumber%5D=<REDACTED>&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=<REDACTED>
    headers:
      Authorization: "<REDACTED>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b85aae94-0aaf-49d1-9245-65404192d163
      Original-Request:
      - req_MlXpusreQvHl3b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: '{"id":"tok_0N8TEZDqT4huGUvdsNGTiEQl","object":"token","card":{"id":"card_0N8TEZDqT4huGUvdHI7r0CXP","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","last4":"6170","name":null,"tokenization_method":null,"wallet":null},"client_ip":"<REDACTED>","created":1684264111,"livemode":true,"type":"card","used":false}'
  recorded_at: Tue, 16 May 2023 19:08:31 GMT
- request:
    method: post
    uri: https://api.easypost.com/beta/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"stripe_object_id":"tok_0N8TEZDqT4huGUvdsNGTiEQl","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e046463d4afe79afe040039bf54
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5688f6efa08953ec9e96648918e68942"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"card_e51f3d936ca440219e37d533d365d425","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}'
  recorded_at: Tue, 16 May 2023 19:08:35 GMT
recorded_with: VCR 6.1.0
