---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cddea65b00a4be787d60b0007072f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb31nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"es_4e1d0dff1b024835a4594c7e71cc6ea6","object":"EndShipper","mode":"test","created_at":"2024-01-23T18:49:47+00:00","updated_at":"2024-01-23T18:49:47+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Tue, 23 Jan 2024 18:49:47 GMT
recorded_with: VCR 6.2.0
