---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 16580188633ddc89e2ba1d5f00074178
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87de1f8f273b721f1fb73e8020924329"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb2nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_23b064ab40934d3281317e3576c3f059","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:37+00:00","updated_at":"2022-10-05T19:35:37+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:37 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_23b064ab40934d3281317e3576c3f059
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"9999999999","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 16580188633ddc8ae2ba1d6000074189
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7c9d254165fb657b5f6f47550660340"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"id":"es_23b064ab40934d3281317e3576c3f059","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:37+00:00","updated_at":"2022-10-05T19:35:38+00:00","name":"CAPTAIN
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 05 Oct 2022 19:35:38 GMT
recorded_with: VCR 6.0.0
