---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70da33dd63069194f7a8787c008647b0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d81a7a90d28dcd51e55b995176223308"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"id":"es_477257bf999442519e03effad998ed60","object":"EndShipper","created_at":"2022-08-24T21:01:08+00:00","updated_at":"2022-08-24T21:01:08+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 24 Aug 2022 21:01:08 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers/es_477257bf999442519e03effad998ed60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7605edc163069194f7efbd1200792251
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6484cdb67d23a18b44c49d4da2e13cb"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"id":"es_477257bf999442519e03effad998ed60","object":"EndShipper","created_at":"2022-08-24T21:01:08+00:00","updated_at":"2022-08-24T21:01:08+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 24 Aug 2022 21:01:08 GMT
recorded_with: VCR 6.0.0
