---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 16285a416467b4f3e0d9d57b001ea44a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"922a215f719c2e75cb5a4105f2e11750"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_ca30158a164d47e199c812989f025472","object":"EndShipper","mode":"test","created_at":"2023-05-19T17:42:11+00:00","updated_at":"2023-05-19T17:42:11+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Fri, 19 May 2023 17:42:11 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_ca30158a164d47e199c812989f025472
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 16285a466467b4f3e0d9d57c001ea469
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fffa5b18a2f909fa22519c372f94cfcf"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305180228-bcb90ccbd6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_ca30158a164d47e199c812989f025472","object":"EndShipper","mode":"test","created_at":"2023-05-19T17:42:11+00:00","updated_at":"2023-05-19T17:42:11+00:00","name":"CAPTAIN
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Fri, 19 May 2023 17:42:11 GMT
recorded_with: VCR 6.1.0
