---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 0d77b08763069196f7f14d16007c9e22
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75d89211c2cde49ec52c201764b0727f"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"id":"es_8a449bbf10fb4dfa9d2e4856a4ef766b","object":"EndShipper","created_at":"2022-08-24T21:01:10+00:00","updated_at":"2022-08-24T21:01:10+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 24 Aug 2022 21:01:10 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_8a449bbf10fb4dfa9d2e4856a4ef766b
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"9999999999","email":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 0d77b08163069196f7c945d2007c9e52
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a77baff5c4ec4a0c03dd4d74a8d65f8f"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"id":"es_8a449bbf10fb4dfa9d2e4856a4ef766b","object":"EndShipper","created_at":"2022-08-24T21:01:10+00:00","updated_at":"2022-08-24T21:01:10+00:00","name":"CAPTAIN
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 24 Aug 2022 21:01:10 GMT
recorded_with: VCR 6.0.0
