---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers?page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7866a7da83e799dcbd0059a75b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '{"end_shippers":[{"id":"es_2580a15929ef489c97a57cd36f8d8125","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:34+00:00","updated_at":"2022-10-05T19:35:34+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_00d47a475b094953a186f0bde85389d1","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:35+00:00","updated_at":"2022-10-05T19:35:35+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_87541c48355f4b33a5cab8e64cd12102","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:[...]
