---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 7605edc563069195f7ee9cb800792281
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76b46380ab8526bb50fdc6cecce53fbb"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 9ce216bfac
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
    body:
      encoding: UTF-8
      string: '{"end_shippers":[{"id":"es_1c5d0739799f408e9943383c639b30f2","object":"EndShipper","created_at":"2022-05-17T23:43:19+00:00","updated_at":"2022-05-17T23:43:19+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"},{"id":"es_e591f790ddeb497a9469eb9104d9a90b","object":"EndShipper","created_at":"2022-05-17T23:43:19+00:00","updated_at":"2022-05-17T23:43:19+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":"TEST@EXAMPLE.COM"},{"id":"es_3e5d2c14d0c24434b2809058fe9bf764","object":"EndShipper","created_at":"2022-05-17T23:43:20+00:0[...]
[...]
