---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - bc30cf0164652f3ee0dca00000073fb1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76ea656df040a5f04c6dd68c9344f595"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_7f37176a5899497fad88d48573ebe536","object":"EndShipper","mode":"test","created_at":"2023-05-17T19:47:10+00:00","updated_at":"2023-05-17T19:47:10+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 17 May 2023 19:47:11 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_7f37176a5899497fad88d48573ebe536
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - bc30cf0664652f3fe0dca00100073fd3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"796cfb74f1fbe0fdfa7c75b4003c54a7"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_7f37176a5899497fad88d48573ebe536","object":"EndShipper","mode":"test","created_at":"2023-05-17T19:47:10+00:00","updated_at":"2023-05-17T19:47:11+00:00","name":"CAPTAIN
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 17 May 2023 19:47:11 GMT
recorded_with: VCR 6.1.0
