---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 21b265f4633ddc89e2ba1d5e00068fc9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de96073f59891f53c785f5c779539e16"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202210051807-174cd29491-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 29913d444b
      - intlb1nuq 29913d444b
    body:
      encoding: UTF-8
      string: '{"end_shippers":[{"id":"es_2580a15929ef489c97a57cd36f8d8125","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:34+00:00","updated_at":"2022-10-05T19:35:34+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_00d47a475b094953a186f0bde85389d1","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:35:35+00:00","updated_at":"2022-10-05T19:35:35+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"},{"id":"es_87541c48355f4b33a5cab8e64cd12102","object":"EndShipper","mode":"test","created_at":"2022-10-05T19:[...]
