---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0764652d91e0dc93240006d977
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7163f108fc1516d3f478a4433d782be5"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_eb90420a33824370ae763034b9bec979","object":"EndShipper","mode":"test","created_at":"2023-05-17T19:40:01+00:00","updated_at":"2023-05-17T19:40:01+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 17 May 2023 19:40:01 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers/es_eb90420a33824370ae763034b9bec979
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d91e0dc93250006d990
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0463f5fa6a48b75f89c114097321ab13"
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_eb90420a33824370ae763034b9bec979","object":"EndShipper","mode":"test","created_at":"2023-05-17T19:40:01+00:00","updated_at":"2023-05-17T19:40:01+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Wed, 17 May 2023 19:40:01 GMT
recorded_with: VCR 6.1.0
