---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d044fa7666a7da6ee799d94800599153
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202407291746-57ea285141-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq fa152d4755
      - intlb4nuq c0f5e722d1
    body:
      encoding: UTF-8
      string: '[{"object":"CarrierType","type":"AccurateAccount","readable":"Accurate","logo":null,"fields":[]},{"object":"CarrierType","type":"AmazonMwsAccount","readable":"Amazon
        MWS","logo":null,"fields":[]},{"object":"CarrierType","type":"ApcAccount","readable":"APC","logo":null,"fields":[]},{"object":"CarrierType","type":"AsendiaUsaAccount","readable":"Asendia
        USA","logo":null,"fields":[]},{"object":"CarrierType","type":"AustraliaPostAccount","readable":"Australia
        Post","logo":null,"fields":[]},{"object":"CarrierType","type":"BetterTrucksAccount","readable":"Better
       [...]
