---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 699ed206650370a6e78859a3000fa967
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1824e07e1dfd8025329fe1cd39d9050"
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202309141829-6768203179-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 003ad9bca0
      - intlb1nuq 2bcb349163
    body:
      encoding: UTF-8
      string: '[{"object":"CarrierType","type":"AmazonMwsAccount","readable":"Amazon
        MWS","logo":null,"fields":[]},{"object":"CarrierType","type":"ApcAccount","readable":"APC","logo":null,"fields":[]},{"object":"CarrierType","type":"AsendiaUsaAccount","readable":"Asendia
        USA","logo":null,"fields":[]},{"object":"CarrierType","type":"AustraliaPostAccount","readable":"Australia
        Post","logo":null,"fields":[]},{"object":"CarrierType","type":"AxlehireV3Account","readable":"AxlehireV3","logo":null,"fields":[]},{"object":"CarrierType","type":"BetterTrucksAccount","readable":"Better
        Trucks[...]
