---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/claims
    body:
      encoding: UTF-8
      string: '{"tracking_code":"123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - 764a527967b8f96ce2ba1cdb0039a535
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202502212131-cc7bde76a5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","errors":["No eligible insurance found
        with provided tracking code."],"message":"The requested resource could not
        be found."}}'
  recorded_at: Fri, 21 Feb 2025 22:08:44 GMT
recorded_with: VCR 6.2.0
