---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 764a527867b8f96ce2ba1cd90039a515
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502212131-cc7bde76a5-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: UTF-8
      string: '{"error":{"code":"PARAMETER.REQUIRED","message":"Missing required parameter.","errors":[{"field":"shipment","message":"cannot
        be blank"}]}}'
  recorded_at: Fri, 21 Feb 2025 22:08:44 GMT
recorded_with: VCR 6.2.0
