---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"invalid"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f57d51846470ddede0de498800152734
      Location:
      - "/api/v2/addresses/adr_32db159afbe211edbe2bac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b63147abc16583a2b3b6c061e51867b9"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305252213-e719365a4c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"adr_32db159afbe211edbe2bac1f6bc539aa","object":"Address","created_at":"2023-05-26T16:27:25+00:00","updated_at":"2023-05-26T16:27:25+00:00","name":null,"company":null,"street1":"invalid","street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 26 May 2023 16:27:25 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_32db159afbe211edbe2bac1f6bc539aa/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 84d2faba6470ddede0de49890014cb7d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305252213-e719365a4c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
        number is missing","suggestion":null}]}}'
  recorded_at: Fri, 26 May 2023 16:27:25 GMT
recorded_with: VCR 6.1.0
