---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Ep-Request-Uuid:
      - f57d518a6470ddece0de49870015271a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305252213-e719365a4c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Fri, 26 May 2023 16:27:24 GMT
recorded_with: VCR 6.1.0
