---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"invalid"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e77cdde765b00a4ee787d92200070971
      Location:
      - "/api/v2/addresses/adr_3004627eba2011ee8b42ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb2nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"id":"adr_3004627eba2011ee8b42ac1f6bc53342","object":"Address","created_at":"2024-01-23T18:49:50+00:00","updated_at":"2024-01-23T18:49:50+00:00","name":null,"company":null,"street1":"invalid","street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":"<REDACTED>","email":"<REDACTED>","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 23 Jan 2024 18:49:50 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/addresses/adr_3004627eba2011ee8b42ac1f6bc53342/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - e77cdde465b00a4ee787d923000709b8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202401222120-581bacedf7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 003ad9bca0
      - intlb1nuq 1a7e326d32
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
        number is missing","suggestion":null}]}}'
  recorded_at: Tue, 23 Jan 2024 18:49:50 GMT
recorded_with: VCR 6.2.0
