---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f32dbb41645d2c84e78b9a7e000abc22
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d85af9ad1658519319e5be8e618309cd"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305111701-a7081ac93f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_c2e29b216b704a318f3525a846323239","object":"EndShipper","mode":"test","created_at":"2023-05-11T17:57:24+00:00","updated_at":"2023-05-11T17:57:24+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 17:57:24 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_c2e29b216b704a318f3525a846323239
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Captain Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f32dbb3a645d2c85e78b9a7f000abc4e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd07a6f6e0d77384a4aec5266d3d096b"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305111701-a7081ac93f-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_c2e29b216b704a318f3525a846323239","object":"EndShipper","mode":"test","created_at":"2023-05-11T17:57:24+00:00","updated_at":"2023-05-11T17:57:25+00:00","name":"CAPTAIN
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 17:57:25 GMT
recorded_with: VCR 6.1.0
