---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f32dbb3d645d17e4e78b062700021fb6
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18972cb4c6843d054b49e69a793459cc"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305111552-51d0140ffb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_7240f5fc7a724931ae96a437e8e70508","object":"EndShipper","mode":"test","created_at":"2023-05-11T16:29:24+00:00","updated_at":"2023-05-11T16:29:24+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 16:29:24 GMT
- request:
    method: put
    uri: https://api.easypost.com/v2/end_shippers/es_7240f5fc7a724931ae96a437e8e70508
    body:
      encoding: UTF-8
      string: '{"address":{"name":"CAPTAIN SPARROW","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - f32dbb40645d17e5e78b063f00021fe5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11nuq
      X-Version-Label:
      - easypost-202305111552-51d0140ffb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"The requested resource could
        not be found.","errors":[]}}'
  recorded_at: Thu, 11 May 2023 16:29:25 GMT
recorded_with: VCR 6.1.0
