---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f32dbb3b645d16c6e78b05bc0001ac96
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24c8e32dd9c62efb4b12cca58dddd15d"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305111552-51d0140ffb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_d<REDACTED>03e608034147b830c4fa3967e253","object":"EndShipper","mode":"test","created_at":"2023-05-11T16:24:38+00:00","updated_at":"2023-05-11T16:24:38+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 16:24:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/end_shippers/es_d<REDACTED>03e608034147b830c4fa3967e253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f32dbb3a645d16c7e78b05bd0001acc7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"184a17c278b12306c3406171e3008a63"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305111552-51d0140ffb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_d<REDACTED>03e608034147b830c4fa3967e253","object":"EndShipper","mode":"test","created_at":"2023-05-11T16:24:38+00:00","updated_at":"2023-05-11T16:24:38+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 16:24:39 GMT
recorded_with: VCR 6.1.0
