---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Jack Sparrow","street1":"388 Townsend St","street2":"Apt
        20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 28fa7935645d1604e78aa02b0002d0fe
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e3ba1323893fbb2a0093171e668e28f"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305111552-51d0140ffb-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"es_2dbc4496acce4be597c7024994e79845","object":"EndShipper","mode":"test","created_at":"2023-05-11T16:21:24+00:00","updated_at":"2023-05-11T16:21:24+00:00","name":"JACK
        SPARROW","company":null,"street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"<REDACTED>","email":"<REDACTED>"}'
  recorded_at: Thu, 11 May 2023 16:21:24 GMT
recorded_with: VCR 6.1.0
