---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Elizabeth
        Swan","street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52607e786c49f0027ee96
      Location:
      - "/api/v2/shipments/shp_6e84e3ecd4ef42a8974de8c072f80e95"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"420d803ab75bfcd29be88e0b09e24b8b"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-11T15:53:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132685852","updated_at":"2022-08-11T15:53:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c6b9a803198d11edac20ac1f6bc7b362","object":"Address","created_at":"2022-08-11T15:53:43+00:00","updated_at":"2022-08-11T15:53:43+00:00","name":"Elizabeth
        Swan","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
        Beach","state":"CA","zip":"90277","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_19103317b24a404196c406a4a07e11be","object":"Parcel","created_at":"2022-08-11T15:53:43Z","updated_at":"2022-08-11T15:53:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ac63dd61c2674ed794807e1fb592c380","created_at":"2022-08-11T15:53:43Z","updated_at":"2022-08-11T15:53:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-11T15:53:43Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220811/6b3b6b32468140628a19f7011c203efb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_ab722a307dae4bdca6ff6d78ffc13cfb","object":"Rate","created_at":"2022-08-11T15:53:43Z","updated_at":"2022-08-11T15:53:43Z","mode":"test","service":"First","carrier":"USPS","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","billing_type":"easypost","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_6e84e3ecd4ef42a8974de8c072f80e95","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_b8846ab2e83c4576bf95d0bfce58a51a","object":"Rate","created_at":"2022-08-11T15:53:43Z","updated_at":"2022-08-11T15:53:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6e84e3ecd4e[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52608e786c4a30027ef0a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7674096a1defdcf339ac52d7975a6fdb"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_a0053eaf45f54a8eb93d31dfdd172059","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-08-11T15:53:44Z","updated_at":"2022-08-11T15:53:44Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_a0053eaf45f54a8eb93d31dfdd172059/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_6e84e3ecd4ef42a8974de8c072f80e95"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f52608e786c4bb0027ef20
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a63b92b99336c4a08d011a116e18832"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_a0053eaf45f54a8eb93d31dfdd172059","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-08-11T15:53:44Z","updated_at":"2022-08-11T15:53:44Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361132685852","id":"shp_6e84e3ecd4ef42a8974de8c072f80e95"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:44 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_a0053eaf45f54a8eb93d31dfdd172059/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_6e84e3ecd4ef42a8974de8c072f80e95"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f52609e786c4bc0027ef3b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf9c9fee37f95f50d48b89234fc81039"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_a0053eaf45f54a8eb93d31dfdd172059","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-08-11T15:53:44Z","updated_at":"2022-08-11T15:53:44Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 11 Aug 2022 15:53:45 GMT
recorded_with: VCR 6.0.0
