---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3843703d62e2e4ceec4e20f10032aa2b
      Location:
      - "/api/v2/shipments/shp_87a6b5fc8b5d4f2582e6f93b7c3dc85e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d58571785c0ec963bb4b41179f3fdce3"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 403f17ff97
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-07-28T19:34:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361130479149","updated_at":"2022-07-28T19:34:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_51f44c670eac11edb9a0ac1f6bc72124","object":"Address","created_at":"2022-07-28T19:34:39+00:00","updated_at":"2022-07-28T19:34:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_aa641e37db9b4f1dba01b2687aeaae65","object":"Parcel","created_at":"2022-07-28T19:34:39Z","updated_at":"2022-07-28T19:34:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3b853d58efbc4a60919edc0c4d96fd1d","created_at":"2022-07-28T19:34:39Z","updated_at":"2022-07-28T19:34:39Z","date_advance":0,"integrated_form":"none","label_date":"2022-07-28T19:34:39Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/94f6cc17be34436d82755594f70a376f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8b90c35e9a7c4a26a5adbcd7d139d991","object":"Rate","created_at":"2022-07-28T19:34:39Z","updated_at":"2022-07-28T19:34:39Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_87a6b5fc8b5d4f2582e6f93b7c3dc85e","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_4d0aa85baee442fa99013595d8211920","object":"Rate","created_at":"2022-07-28T19:34:39Z","updated_at":"2022-07-28T19:34:39Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_87a6b5fc8b5[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e4d0ec3e4b3b00380890
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9cc9f63b59d60133dc5d3f22677bd240"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_04b4a59816fe452893fcd6975ea0ba57","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-07-28T19:34:40Z","updated_at":"2022-07-28T19:34:40Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 28 Jul 2022 19:34:40 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_04b4a59816fe452893fcd6975ea0ba57/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_87a6b5fc8b5d4f2582e6f93b7c3dc85e"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7762e2e4d0ec5e9cf70038089e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ecb45d4eb4fe27df7b8277dcd969188c"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_04b4a59816fe452893fcd6975ea0ba57","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-07-28T19:34:40Z","updated_at":"2022-07-28T19:34:40Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361130479149","id":"shp_87a6b5fc8b5d4f2582e6f93b7c3dc85e"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 28 Jul 2022 19:34:40 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_04b4a59816fe452893fcd6975ea0ba57/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_87a6b5fc8b5d4f2582e6f93b7c3dc85e"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 17113a7b62e2e4d0ec3b8453003808af
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7de6580ba9ee7a14ed386ac11f5cf5d0"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202207272329-7f74c9e58c-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 403f17ff97
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_04b4a59816fe452893fcd6975ea0ba57","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-07-28T19:34:40Z","updated_at":"2022-07-28T19:34:40Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 28 Jul 2022 19:34:40 GMT
recorded_with: VCR 6.0.0
