---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80c62166e8be786ab1b002766ab
      Location:
      - "/api/v2/shipments/shp_0286b2403a854453a4a3b1992c300606"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"855f683a3edbeef5a042128652322f6a"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1wdc 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2022-02-23T17:27:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100895232108723741","updated_at":"2022-02-23T17:27:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e65a240194cd11ecb675ac1f6bc7bdc6","object":"Address","created_at":"2022-02-23T17:27:39+00:00","updated_at":"2022-02-23T17:27:39+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a345f8d56fe54f0a8478d39df226ebbe","object":"Parcel","created_at":"2022-02-23T17:27:39Z","updated_at":"2022-02-23T17:27:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_cbb0bf4cea4f452cb48bc3ce2f0b41a7","created_at":"2022-02-23T17:27:40Z","updated_at":"2022-02-23T17:27:40Z","date_advance":0,"integrated_form":"none","label_date":"2022-02-23T17:27:40Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220223/147e0accd02743f4af99ba68418a991d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9ec3b747168c416b9a9aff9afa73efaa","object":"Rate","created_at":"2022-02-23T17:27:39Z","updated_at":"2022-02-23T17:27:39Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_0286b2403a854453a4a3b1992c300606","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_f565910d9b194e929309090cda984494","object":"Rate","created_at":"2022-02-23T17:27:39Z","updated_at":"2022-02-23T17:27:39Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_0286b2403a854453a4a3b1992c300606","carrie[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80e62166e8de786ab3700276733
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32e9e28663f4f04117cc243828e690b2"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_d2ee6fb808424a5daa6ee94e8f8febef","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-02-23T17:27:41Z","updated_at":"2022-02-23T17:27:41Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d2ee6fb808424a5daa6ee94e8f8febef/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_0286b2403a854453a4a3b1992c300606"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80862166e8de786ab3800276763
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3f279d06106621c224e996deec0c35b"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_d2ee6fb808424a5daa6ee94e8f8febef","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-02-23T17:27:41Z","updated_at":"2022-02-23T17:27:41Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100895232108723741","id":"shp_0286b2403a854453a4a3b1992c300606"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d2ee6fb808424a5daa6ee94e8f8febef/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_0286b2403a854453a4a3b1992c300606"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 15c6b80862166e8ee786ab3900276794
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a5b9f7a9572e19080ed7451016dd744"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202202230129-176eb4912d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb3wdc 88c34981dc
      - intlb1wdc 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"batch_d2ee6fb808424a5daa6ee94e8f8febef","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-02-23T17:27:41Z","updated_at":"2022-02-23T17:27:41Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Wed, 23 Feb 2022 17:27:42 GMT
recorded_with: VCR 6.0.0
