---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","company":"EasyPost","street1":"388
        Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","phone":"5555555555"},"parcel":{"length":"10","width":"8","height":"4","weight":"15.4"},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ce1b2ac1627d43f5e7874981003076af
      Location:
      - "/api/v2/shipments/shp_aed39c0868b645438cb90f67c42b9280"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c5f69e61d1c1f3a7230def7eb8210b6"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-05-12T17:29:25Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361118885825","updated_at":"2022-05-12T17:29:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_11c9c1a3d21911ec82d5ac1f6bc7bdc6","object":"Address","created_at":"2022-05-12T17:29:25+00:00","updated_at":"2022-05-12T17:29:25+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7d2bb0a9eb624d069ef5988b5872abf9","object":"Parcel","created_at":"2022-05-12T17:29:25Z","updated_at":"2022-05-12T17:29:25Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_eab4ea8cfc004800a8886e44b38aabfa","created_at":"2022-05-12T17:29:26Z","updated_at":"2022-05-12T17:29:26Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-12T17:29:26Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220512/ecc59668a66148fbbfe66b192a61483d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_43d3005826174c2ca294210c34f8cecb","object":"Rate","created_at":"2022-05-12T17:29:25Z","updated_at":"2022-05-12T17:29:25Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aed39c0868b645438cb90f67c42b9280","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_3ab464e1bfe54bca887ce3d5fd2c15b3","object":"Rate","created_at":"2022-05-12T17:29:25Z","updated_at":"2022-05-12T17:29:25Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_aed39c0868b645438cb[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abc627d43f6e7874982003076fb
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"530c862ad56be208e785785e2be4b1ef"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_07e8ab06a258456eb51db2ff2dec4abc","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-05-12T17:29:26Z","updated_at":"2022-05-12T17:29:26Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:29:26 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_07e8ab06a258456eb51db2ff2dec4abc/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_aed39c0868b645438cb90f67c42b9280"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2ac1627d43f6e78749830030770e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a62d3210046a62f5edadf38da18d5237"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb1nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_07e8ab06a258456eb51db2ff2dec4abc","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-12T17:29:26Z","updated_at":"2022-05-12T17:29:26Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361118885825","id":"shp_aed39c0868b645438cb90f67c42b9280"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:29:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_07e8ab06a258456eb51db2ff2dec4abc/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_aed39c0868b645438cb90f67c42b9280"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ce1b2abc627d43f7e78749840030772a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c84aed598ea5066ecbb32929bb6d21df"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202205110022-b4df6b5700-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq c51cdb8bf2
      - intlb2nuq 570dfcbc0a
    body:
      encoding: UTF-8
      string: '{"id":"batch_07e8ab06a258456eb51db2ff2dec4abc","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-05-12T17:29:26Z","updated_at":"2022-05-12T17:29:26Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Thu, 12 May 2022 17:29:27 GMT
recorded_with: VCR 6.0.0
