---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"name":"Jack Sparrow","street1":"388 Townsend
        St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"from_address":{"name":"Jack
        Sparrow","street1":"388 Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","email":"test@example.com","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"service":"First","carrier_accounts":["ca_716f33fd9fd348238b85c2922237f98b"],"carrier":"USPS"},"carbon_offset":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f507362f2ba2be7897ae8000899fb
      Location:
      - "/api/v2/shipments/shp_7bc0dd542d4a4f2eacf67e84aa793ccc"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f27d6a834d2f0cf78a4c5e9ff8a90040"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-08-09T19:48:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361132422631","updated_at":"2022-08-09T19:49:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4ffa3149181c11ed99d3ac1f6bc72124","object":"Address","created_at":"2022-08-09T19:48:59+00:00","updated_at":"2022-08-09T19:48:59+00:00","name":"Jack
        Sparrow","company":null,"street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":"test@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2a0863ee42e74cf199980452030eef38","object":"Parcel","created_at":"2022-08-09T19:48:59Z","updated_at":"2022-08-09T19:48:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_6a44d19e569548538ec592333221edc5","created_at":"2022-08-09T19:49:00Z","updated_at":"2022-08-09T19:49:00Z","date_advance":0,"integrated_form":"none","label_date":"2022-08-09T19:49:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/b0c52486386144c6b42a5a4b9c85e761.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_92a0690468764c60b3fa77a2cd01ee76","object":"Rate","created_at":"2022-08-09T19:48:59Z","updated_at":"2022-08-09T19:48:59Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_7bc0dd542d4a4f2eacf67e84aa793ccc","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_d7d66672d3134f00abf0b2c7748732f4","object":"Rate","created_at":"2022-08-09T19:48:59Z","updated_at":"2022-08-09T19:48:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7bc0dd542d4[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f507162f2ba2ce7897ae900089a67
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a204b220e93601ba67d6fadd857ca77"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_d17d4c4cb28a464c8f568c6b08c03c54","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-08-09T19:49:01Z","updated_at":"2022-08-09T19:49:01Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d17d4c4cb28a464c8f568c6b08c03c54/add_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_7bc0dd542d4a4f2eacf67e84aa793ccc"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506e62f2ba2de7897aea00089a84
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"208f57d4aab20ff18c5d842767b98245"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_d17d4c4cb28a464c8f568c6b08c03c54","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-08-09T19:49:01Z","updated_at":"2022-08-09T19:49:01Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361132422631","id":"shp_7bc0dd542d4a4f2eacf67e84aa793ccc"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/batches/batch_d17d4c4cb28a464c8f568c6b08c03c54/remove_shipments
    body:
      encoding: UTF-8
      string: '{"shipments":[{"id":"shp_7bc0dd542d4a4f2eacf67e84aa793ccc"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f507062f2ba2de7897aeb00089a9e
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6812ead4f6be3d458e33c7468b22d0d5"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"batch_d17d4c4cb28a464c8f568c6b08c03c54","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-08-09T19:49:01Z","updated_at":"2022-08-09T19:49:01Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:01 GMT
recorded_with: VCR 6.0.0
