---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e026463fd1ae786a80400480dea
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9842fcc93752a399463148d2a94fc535"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[]}'
  recorded_at: Tue, 16 May 2023 22:00:58 GMT
recorded_with: VCR 6.1.0
