---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e026463fc67e786a79d0047d323
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2936014e7f4233dc1be4054c1ef22dda"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_86296fe448564582bd2a5abfb87ff9dd","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-16T21:58:00Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-16T21:58:00Z","active":true,"id":"ak_1df6f0cafcf847e8ac39ccbe0c209f66"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-16T21:58:00Z","active":true,"id":"ak_e646b51e93bf4f0696165c9c9b3699ae"}]}'
  recorded_at: Tue, 16 May 2023 21:58:00 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_86296fe448564582bd2a5abfb87ff9dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - de846e016463fc69e786a79e0047d361
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 May 2023 21:58:01 GMT
recorded_with: VCR 6.1.0
