---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"Test User"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e036463fd4ae786ab1d004824f1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bfea8158e3ee34d6ced92ea847091d87"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_054fd10f37f74b399a96c199a0807dcb","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-16T22:01:46Z","default_carbon_offset":false,"has_elevate_access":false,"children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:46Z","active":true,"id":"ak_df01c0e9333c4c3fa4fec55270d3b967"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:46Z","active":true,"id":"ak_dde69bd485f54eb287829b1c2c60ea4b"}]}'
  recorded_at: Tue, 16 May 2023 22:01:47 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/users/user_054fd10f37f74b399a96c199a0807dcb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e016463fd4be786ab350048257f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33d806fc84d7666a384709b8f877a7bd"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_054fd10f37f74b399a96c199a0807dcb","object":"User","parent_id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","name":"Test
        User","phone_number":"<REDACTED>","verified":true,"created_at":"2023-05-16T22:01:46Z","default_carbon_offset":false,"has_elevate_access":false,"children":[]}'
  recorded_at: Tue, 16 May 2023 22:01:47 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e086463fd4be786ab36004825af
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f077cc1321ffa1fd758c3c6b19a1055"
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"user_0f6b83e3530b401cb1e8aeaa6a250d4d","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2022-02-16T22:18:19Z","id":"ak_8ba3529286794a64b1792f2c9456ff06"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2022-02-16T22:18:43Z","id":"ak_558c24dec0284506bd9bb754c1db764d"}],"children":[{"id":"user_484dd58db70a4f31b4bb862998cf0e04","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:20Z","id":"ak_8ea8950ecb1443d9a13009368c77fdf3"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:20Z","id":"ak_61f8f0824ad444ad96448ecf8ae0c613"}],"children":[]},{"id":"user_054fd10f37f74b399a96c199a0807dcb","keys":[{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"test","created_at":"2023-05-16T22:01:46Z","id":"ak_df01c0e9333c4c3fa4fec55270d3b967"},{"object":"ApiKey","active":true,"key":"<REDACTED>","mode":"production","created_at":"2023-05-16T22:01:46Z","id":"ak_dde69bd485f54eb287829b1c2c60ea4b"}],"children":[]}]}'
  recorded_at: Tue, 16 May 2023 22:01:48 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/users/user_054fd10f37f74b399a96c199a0807dcb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ep-Request-Uuid:
      - de846e026463fd4ce786ab3700482602
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305162013-ad43550112-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 May 2023 22:01:48 GMT
recorded_with: VCR 6.1.0
