---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310562168b05e787d567003ad996
      Location:
      - "/api/v2/customs_items/cstitem_12b75e5b67dc46ca99b064917e9ea189"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"918e8881d11a11ffe422715e22429362"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_12b75e5b67dc46ca99b064917e9ea189","object":"CustomsItem","created_at":"2022-02-23T19:29:09Z","updated_at":"2022-02-23T19:29:09Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 23 Feb 2022 19:29:09 GMT
recorded_with: VCR 6.0.0
