---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0a64652d90e0dc93210006d945
      Location:
      - "/api/v2/customs_items/cstitem_f039b124bee84738b56cd3c8eb652b54"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd4c7092aa48e96e0bbf07da787488f3"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305171805-88442329bc-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_f039b124bee84738b56cd3c8eb652b54","object":"CustomsItem","created_at":"2023-05-17T19:40:00Z","updated_at":"2023-05-17T19:40:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 17 May 2023 19:40:00 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_items/cstitem_f039b124bee84738b56cd3c8eb652b54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d90e0dc93220006d959
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd4c7092aa48e96e0bbf07da787488f3"
      X-Node:
      - bigweb9nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_f039b124bee84738b56cd3c8eb652b54","object":"CustomsItem","created_at":"2023-05-17T19:40:00Z","updated_at":"2023-05-17T19:40:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 17 May 2023 19:40:00 GMT
recorded_with: VCR 6.1.0
