---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f507162f2ba3ae7897e4500089f55
      Location:
      - "/api/v2/customs_items/cstitem_0c06f9af4b1843b08ccf4e3cdb3511ed"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60a518a5d086ccf737e4537f47b191bb"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_0c06f9af4b1843b08ccf4e3cdb3511ed","object":"CustomsItem","created_at":"2022-08-09T19:49:14Z","updated_at":"2022-08-09T19:49:14Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:14 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_items/cstitem_0c06f9af4b1843b08ccf4e3cdb3511ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 134f506d62f2ba3ae7897e4600089f6a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60a518a5d086ccf737e4537f47b191bb"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_0c06f9af4b1843b08ccf4e3cdb3511ed","object":"CustomsItem","created_at":"2022-08-09T19:49:14Z","updated_at":"2022-08-09T19:49:14Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:14 GMT
recorded_with: VCR 6.0.0
