---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"value":23,"hs_tariff_number":"654321","origin_country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 89bd310162168b06e787d57f003ad9aa
      Location:
      - "/api/v2/customs_items/cstitem_a6728dc00d194bf2a900f2bde47a290b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bbf77e725f63fb53111466a90951826"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_a6728dc00d194bf2a900f2bde47a290b","object":"CustomsItem","created_at":"2022-02-23T19:29:10Z","updated_at":"2022-02-23T19:29:10Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 23 Feb 2022 19:29:10 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_items/cstitem_a6728dc00d194bf2a900f2bde47a290b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 89bd310662168b06e787d580003ad9bc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bbf77e725f63fb53111466a90951826"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202202231719-cc169b5e93-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 88c34981dc
      - intlb2nuq 88c34981dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_a6728dc00d194bf2a900f2bde47a290b","object":"CustomsItem","created_at":"2022-02-23T19:29:10Z","updated_at":"2022-02-23T19:29:10Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 23 Feb 2022 19:29:10 GMT
recorded_with: VCR 6.0.0
