---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a4ae9a0364652d90e0dc93200006d934
      Location:
      - "/api/v2/customs_items/cstitem_c4bdca19944942aea106fa035a67c97d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"629a36822d42b9982023<REDACTED>04145469f"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305171925-180fff930b-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb4wdc 5ab12a3ed2
      - intlb1wdc a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_c4bdca19944942aea106fa035a67c97d","object":"CustomsItem","created_at":"2023-05-17T19:40:00Z","updated_at":"2023-05-17T19:40:00Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Wed, 17 May 2023 19:40:00 GMT
recorded_with: VCR 6.1.0
