---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3a62f52619e786c5270027f572
      Location:
      - "/api/v2/customs_items/cstitem_79e37e1779934be68de14f9185e02c71"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b05164f23deda2f5909fe2542db90cca"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_79e37e1779934be68de14f9185e02c71","object":"CustomsItem","created_at":"2022-08-11T15:54:01Z","updated_at":"2022-08-11T15:54:01Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Thu, 11 Aug 2022 15:54:02 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/customs_items/cstitem_79e37e1779934be68de14f9185e02c71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ca7a1a3e62f5261ae786c53f0027f589
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b05164f23deda2f5909fe2542db90cca"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202208102159-4e6760c1b7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9ce216bfac
      - intlb2nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_79e37e1779934be68de14f9185e02c71","object":"CustomsItem","created_at":"2022-08-11T15:54:01Z","updated_at":"2022-08-11T15:54:01Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Thu, 11 Aug 2022 15:54:02 GMT
recorded_with: VCR 6.0.0
