---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"value":23.25,"hs_tariff_number":"654321","origin_country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 134f506f62f2ba3ae7897e4400089f38
      Location:
      - "/api/v2/customs_items/cstitem_3f4c14f4420d42d086c66f59bd912d97"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1a33ff4515a93663f30d54077992f9f"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202208091852-65266f4601-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 9ce216bfac
      - intlb1nuq 403f17ff97
    body:
      encoding: UTF-8
      string: '{"id":"cstitem_3f4c14f4420d42d086c66f59bd912d97","object":"CustomsItem","created_at":"2022-08-09T19:49:14Z","updated_at":"2022-08-09T19:49:14Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
  recorded_at: Tue, 09 Aug 2022 19:49:14 GMT
recorded_with: VCR 6.0.0
