---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"payment_method_id":"pm_0Pn6bQDqT4huGUvd0CjpRerH","priority":"primary"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - 3371ca1b67d9db2ce2ba06ef0029d923
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb57nuq
      X-Version-Label:
      - easypost-202503181912-465deca9d7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 324e75def6
    body:
      encoding: UTF-8
      string: '{"error":{"code":"CREDIT_CARD.NOT_FOUND","message":"Stripe::PaymentMethod
        does not exist for the specified reference_id","errors":[]}}'
  recorded_at: Tue, 18 Mar 2025 20:44:29 GMT
recorded_with: VCR 6.3.1
