---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/referral_customers
    body:
      encoding: UTF-8
      string: '{"user":{"name":"Test Referral","email":"test@example.com","phone":"5555555555"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 56d897a8691b6821e786a75f0275ed4a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202511171535-3e300ad867-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq cbbd141214
      - intlb5nuq c0061e0a2e
    body:
      encoding: UTF-8
      string: '{"id":"user_05d2187f30544a92b5e72043881495b5","object":"User","parent_id":null,"name":"Test
        Referral","phone_number":"<REDACTED>","verified":true,"created_at":"2025-11-17T18:23:29Z","default_carbon_offset":false,"has_elevate_access":false,"balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.0375","default_insurance_amount":"50.00","insurance_fee_rate":"0.01","insurance_fee_minimum":"0.50","email":"<REDACTED>","children":[],"api_keys":[{"object":"ApiKey","key":"<REDACTED>","mode":"test","created_at":"2025-11-17T18:23:30Z","active":true,"id":"ak_30dccb3869a643d2846e073a70619446"},{"object":"ApiKey","key":"<REDACTED>","mode":"production","created_at":"2025-11-17T18:23:30Z","active":true,"id":"ak_603859a9e4eb451fb635db57b8bd2e50"}]}'
  recorded_at: Mon, 17 Nov 2025 18:23:30 GMT
recorded_with: VCR 6.3.1
