---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/bank_accounts
    body:
      encoding: UTF-8
      string: '{"financial_connections_id":"fca_0QAc7sDqT4huGUvdf6BahYa9","mandate_data":{"ip_address":"127.0.0.1","user_agent":"Mozilla/5.0","accepted_at":1722510730},"priority":"primary"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - 3371ca1967d9db2de2ba06f20029d9a6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202503181912-465deca9d7-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 324e75def6
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BANK_ACCOUNT.INVALID_PARAMS","message":"account_holder_name
        must be present when creating a Financial Connections payment method","errors":[]}}'
  recorded_at: Tue, 18 Mar 2025 20:44:29 GMT
recorded_with: VCR 6.3.1
