---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 29bf8d41645c199ce7897f2d00148a5f
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63bd413144fb831adf775994229e405f"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_0c23dbcad1a54ab4873346f1b04c1fe2","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-10T22:24:28Z","updated_at":"2023-05-10T22:24:28Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 10 May 2023 22:24:28 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_0c23dbcad1a54ab4873346f1b04c1fe2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 29bf8d44645c199de7897f2e00148a76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 10 May 2023 22:24:29 GMT
recorded_with: VCR 6.1.0
