---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a03b10d0645c177ee7897aca000a0999
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7adb50878cc4b893ed749c1ff1c7df0e"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_5615197e67204486bf7d31db5fca8bc9","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-10T22:15:26Z","updated_at":"2023-05-10T22:15:26Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 10 May 2023 22:15:26 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts/ca_5615197e67204486bf7d31db5fca8bc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a03b10ce645c177ee7897acb000a09b9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7adb50878cc4b893ed749c1ff1c7df0e"
      X-Node:
      - bigweb12nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_5615197e67204486bf7d31db5fca8bc9","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-10T22:15:26Z","updated_at":"2023-05-10T22:15:26Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 10 May 2023 22:15:26 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_5615197e67204486bf7d31db5fca8bc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a03b10d0645c177ee7897acc000a09d4
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305102153-c418273906-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 10 May 2023 22:15:27 GMT
recorded_with: VCR 6.1.0
