---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: UTF-8
      string: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a03b10cb645c12e2e789722500087e46
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"162fad707212a2dc1f3aa96e8ff1261f"
      X-Node:
      - bigweb3nuq
      X-Version-Label:
      - easypost-202305102041-7b21be7143-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"ca_2499e89230f544ab87e9b246e93fdd63","object":"CarrierAccount","type":"DhlEcsAccount","clone":false,"created_at":"2023-05-10T21:55:46Z","updated_at":"2023-05-10T21:55:46Z","description":"DHL
        eCommerce Solutions Account","reference":null,"billing_type":"carrier","readable":"DHL
        eCommerce Solutions","logo":null,"fields":[],"credentials":{},"test_credentials":{}}'
  recorded_at: Wed, 10 May 2023 21:55:46 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/carrier_accounts/ca_2499e89230f544ab87e9b246e93fdd63
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a03b10cd645c12e2e789722600087e6b
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305102041-7b21be7143-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a29e4ad05c
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 10 May 2023 21:55:47 GMT
recorded_with: VCR 6.1.0
