name: 'CI'

on:
  push:
    branches: [ master ]
  pull_request: ~

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rubyversion: ['2.4', '2.5', '2.6', '2.7']
    steps:
      - uses: actions/checkout@v2
      - name: set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.rubyversion }}
          bundler-cache: true
      - name: run tests
        run: bundle exec rspec
