name: 'CI'

on:
  push:
    branches: [master]
  pull_request: ~
  workflow_dispatch: ~

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rubyversion: ['2.7', '3.0', '3.1', '3.2', '3.3', '3.4', '4.0']
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.rubyversion }}
          rubygems: '3.4.0'
          bundler-cache: true
      - name: Install Dependencies
        run: just install
      - name: run tests
        run: EASYPOST_TEST_API_KEY=123 EASYPOST_PROD_API_KEY=123 just test
      - name: Coverage
        if: github.ref == 'refs/heads/master'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: './coverage/lcov'
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          rubygems: '3.3.0'
          bundler-cache: true
      - name: Install Dependencies
        run: just install
      - name: Install style guides
        run: just install-styleguide
      - name: Lint Project
        run: just lint
  docs:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          rubygems: '3.3.0'
          bundler-cache: true
      - name: Install Dependencies
        run: just install
      - name: Generate Docs
        run: just docs
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
