---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e046463b0a6e799f5e5002ae140
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be44f01e14e0dd9ea599efdf4da6577c"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_f2ecdc398b4542eb97c3da1ce2f8c30a","object":"ShipmentReport","created_at":"2023-05-16T16:34:46Z","updated_at":"2023-05-16T16:34:46Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 16:34:46 GMT
recorded_with: VCR 6.1.0
