---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e36463d3c0e79afa460035569a
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eac3cc17630e73bc2fae5af33cd352dc"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305161817-392deb98e4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c","object":"ShipmentReport","created_at":"2023-05-16T16:37:05Z","updated_at":"2023-05-16T16:37:05Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_191fc5e0d7824124ac314a807771bd1f","object":"ShipmentReport","created_at":"2023-05-16T16:37:00Z","updated_at":"2023-05-16T16:37:01Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_9c140ad3bfbc4372897b82771838afb5","object":"ShipmentReport","created_at":"2023-05-16T16:36:56Z","updated_at":"2023-05-16T16:36:56Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"tes[...]
