---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e046463b131e799f643002b2d2d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0d4952320eea09fb91dab9abc2303ba"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c","object":"ShipmentReport","created_at":"2023-05-16T16:37:05Z","updated_at":"2023-05-16T16:37:05Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 16:37:05 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - de846e076463b132e799f644002b2d6c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1309c5926a26724392d13407f3c4ed8e"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c","object":"ShipmentReport","created_at":"2023-05-16T16:37:05Z","updated_at":"2023-05-16T16:37:05Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 16:37:06 GMT
recorded_with: VCR 6.1.0
