---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11","columns":["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - de846e046463b127e799f641002b27dc
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b689405f87ba379514a6287947a2eeaf"
      X-Node:
      - bigweb6nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_9c140ad3bfbc4372897b82771838afb5","object":"ShipmentReport","created_at":"2023-05-16T16:36:56Z","updated_at":"2023-05-16T16:36:56Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 16:36:56 GMT
recorded_with: VCR 6.1.0
