---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"page_size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e26463cd4fe79af0fb0032f7e0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efda2cfb14469f8c126a3f203157c5fb"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305161731-3a88337a74-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"reports":[{"id":"shprep_e7ee5c4b2c9b4bf18f162de7cde4bc9c","object":"ShipmentReport","created_at":"2023-05-16T16:37:05Z","updated_at":"2023-05-16T16:37:05Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_191fc5e0d7824124ac314a807771bd1f","object":"ShipmentReport","created_at":"2023-05-16T16:37:00Z","updated_at":"2023-05-16T16:37:01Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false},{"id":"shprep_9c140ad3bfbc4372897b82771838afb5","object":"ShipmentReport","created_at":"2023-05-16T16:36:56Z","updated_at":"2023-05-16T16:36:56Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"tes[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"before_id":"shprep_d2c2bfb95ceb4621aa3e787a73ed671e"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e76463cd50e79af0fc0032f831
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f405a1af926a049dba0bd2d4a5144c4"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202305161731-3a88337a74-master
      [...]
