---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: '{"start_date":"2022-06-11","end_date":"2022-06-11","additional_columns":["from_name","from_company"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 23bee7e76463b12ce799f64200281128
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90a7e5bad8de91daf3514949e9ef3c2c"
      X-Node:
      - bigweb4nuq
      X-Version-Label:
      - easypost-202305152249-750e1e7d95-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"shprep_191fc5e0d7824124ac314a807771bd1f","object":"ShipmentReport","created_at":"2023-05-16T16:37:00Z","updated_at":"2023-05-16T16:37:00Z","start_date":"2022-06-11","end_date":"2022-06-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Tue, 16 May 2023 16:37:00 GMT
recorded_with: VCR 6.1.0
