---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - db63f57a645d6970e799e4db00134ed6
      Location:
      - "/api/prcl_5a885b409c8b49a289a9d5f0e0ccc2ca/parcels"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ebf0ceec645eeaee1b3667b6519d8b29"
      X-Node:
      - bigweb7nuq
      X-Version-Label:
      - easypost-202305112117-9f9c122a31-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_5a885b409c8b49a289a9d5f0e0ccc2ca","object":"Parcel","created_at":"2023-05-11T22:17:20Z","updated_at":"2023-05-11T22:17:20Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 11 May 2023 22:17:20 GMT
recorded_with: VCR 6.1.0
