---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - db63f57d645d69b0e799e51e00135f5c
      Location:
      - "/api/prcl_ad62a96041c6451a84b1a58cd4c6f9be/parcels"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c732b0a31845632112fd3dbe6b553f55"
      X-Node:
      - bigweb5nuq
      X-Version-Label:
      - easypost-202305112117-9f9c122a31-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb1nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ad62a96041c6451a84b1a58cd4c6f9be","object":"Parcel","created_at":"2023-05-11T22:18:24Z","updated_at":"2023-05-11T22:18:24Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 11 May 2023 22:18:24 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/parcels/prcl_ad62a96041c6451a84b1a58cd4c6f9be
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - db63f57f645d69b1e799e51f00135f78
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c732b0a31845632112fd3dbe6b553f55"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202305112117-9f9c122a31-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 5ab12a3ed2
      - intlb2nuq a29e4ad05c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ad62a96041c6451a84b1a58cd4c6f9be","object":"Parcel","created_at":"2023-05-11T22:18:24Z","updated_at":"2023-05-11T22:18:24Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
  recorded_at: Thu, 11 May 2023 22:18:24 GMT
recorded_with: VCR 6.1.0
