---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/fedex_registrations/123456789/pin
    body:
      encoding: UTF-8
      string: '{"pin_method":{"option":"SMS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"sent secured Pin"}'
  recorded_at: Tue, 11 Feb 2026 00:00:00 GMT
recorded_with: VCR 6.1.0
