---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/fedex_registrations/123456789/address
    body:
      encoding: UTF-8
      string: '{"address_validation":{"name":"BILLING NAME","street1":"1234 BILLING STREET","city":"BILLINGCITY","state":"ST","postal_code":"12345","country_code":"US"},"easypost_details":{"carrier_account_id":"ca_123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email_address":null,"options":["SMS","CALL","INVOICE"],"phone_number":"***-***-9721"}'
  recorded_at: Tue, 11 Feb 2026 00:00:00 GMT
recorded_with: VCR 6.1.0
