---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/fedex_registrations/123456789/pin/validate
    body:
      encoding: UTF-8
      string: '{"pin_validation":{"pin_code":"123456","name":"BILLING NAME"},"easypost_details":{"carrier_account_id":"ca_123"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"ca_123","object":"CarrierAccount","type":"FedexAccount","credentials":{"account_number":"123456789","mfa_key":"123456789-XXXXX"}}'
  recorded_at: Tue, 11 Feb 2026 00:00:00 GMT
recorded_with: VCR 6.1.0
